Repository ChicagoDave/sharpee: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md}": [
    "prettier --write"
  ]
}

fix(ide): ADR-279 Phase 2 closed on macOS — window title rebrand, AC5/AC6 verified
  docs/context/archive/session-20260727-1615-main.md
  docs/context/session-20260728-0325-main.md
  docs/work/adr-279-chord-writer-packaging/plan.md
  tools/ide/SharpeeIDE/AppDelegate.swift
  tools/ide/SharpeeIDE/MainWindow.swift
  tools/ide/SharpeeIDETests/AppIdentityTests.swift
Due: prettier --write

feat(ide): ADR-280 Phases 1-2 — default project home, typed-artifact sidebar
  docs/context/.current-plan
  docs/context/archive/session-20260727-1640-main.md
  docs/context/session-20260728-0911-main.md
  docs/work/adr-280-chord-writer-project-model/plan.md
  tools/ide/SharpeeIDE/AppDelegate.swift
  tools/ide/SharpeeIDE/Project/ProjectArtifacts.swift
  tools/ide/SharpeeIDE/Project/ProjectTreeViewController.swift
  tools/ide/SharpeeIDE/UI/FontPreference.swift
  tools/ide/SharpeeIDE/Workspace/StoryHome.swift
  tools/ide/SharpeeIDETests/FontFamilyTests.swift
  tools/ide/SharpeeIDETests/ProjectArtifactsTests.swift
  tools/ide/SharpeeIDETests/ProjectTreeGroupingTests.swift
  tools/ide/SharpeeIDETests/StoryHomeTests.swift
Due: prettier --write

docs(adr): ADR-286 grammar freeze draft; Web Extensions concept; ADR-288 superseded
  docs/architecture/adrs/adr-288-compass-rose.md
  docs/context/session-20260728-0911-main.md
  docs/design/template-dsl/grammar-freeze-draft.md
  docs/work/web-extensions/concept.md
Due: prettier --write

feat(ide,platform): ADR-282 Phase 1 — bless marks, and one rule for main-channel text
  docs/architecture/adrs/adr-282-play-to-test-tagging.md
  docs/context/.current-plan
  docs/context/archive/session-20260728-0026-main.md
  docs/context/session-20260728-1700-main.md
  docs/work/adr-282-play-to-test/plan.md
  packages/bootstrap/src/index.ts
  packages/channel-service/src/index.ts
  packages/channel-service/src/utils/join-main-entries.ts
  packages/channel-service/tests/join-main-entries.test.ts
  packages/platform-browser/src/BrowserClient.ts
  packages/platform-browser/src/channels/index.ts
  packages/platform-browser/src/channels/main.ts
  packages/platform-browser/tests/turn-events.test.ts
  packages/sharpee/docs/genai-api/index.md
  packages/sharpee/docs/genai-api/presentation.md
  stories/dungeo/src/version.ts
  tools/ide/SharpeeIDE/Test/RecordingSession.swift
  tools/ide/SharpeeIDETests/PlaySelectionCaptureTests.swift
  tools/ide/SharpeeIDETests/RecordingSessionBlessTests.swift
Due: eslint --fix, prettier --write

feat(ide,transcript-tester): ADR-282 Phases 1-2 complete; ADR-287 delimiter is now text/end text
  .devarch/descriptor.json
  checkpoints/after-leaflet.json
  docs/architecture/adrs/adr-282-play-to-test-tagging.md
  docs/architecture/adrs/adr-287-transcript-fenced-payloads.md
  docs/context/archive/session-20260728-0643-main.md
  docs/context/session-20260728-1930-main.md
  docs/work/adr-282-play-to-test/plan.md
  packages/platform-browser/package.json
  packages/platform-browser/tests/capture-parity.test.ts
  packages/platform-browser/tests/fixtures/capture-parity.story
  packages/transcript-tester/src/parser.ts
  packages/transcript-tester/src/reporter.ts
  packages/transcript-tester/src/runner.ts
  packages/transcript-tester/src/types.ts
  packages/transcript-tester/tests/__snapshots__/parse-baseline.test.ts.snap
  packages/transcript-tester/tests/fenced-payloads.test.ts
  packages/transcript-tester/tests/fenced-reporter.test.ts
  packages/transcript-tester/tests/fenced-runner.test.ts
  packages/transcript-tester/tests/parse-baseline.test.ts
  pnpm-lock.yaml
  stories/dungeo/tests/transcripts/adr-287-fenced-literals.transcript
  tools/ide/SharpeeIDE/AppDelegate.swift
  tools/ide/SharpeeIDE/MainWindow.swift
  tools/ide/SharpeeIDE/Menus/MenuBuilder.swift
  tools/ide/SharpeeIDE/Play/PlayHeaderView.swift
  tools/ide/SharpeeIDE/Play/PlayViewController.swift
  tools/ide/SharpeeIDE/Test/RecordingSession.swift
  tools/ide/SharpeeIDE/Test/ToolchainFenceNote.swift
  tools/ide/SharpeeIDETests/PlayBlessAffordanceTests.swift
  tools/ide/SharpeeIDETests/RecordingSaveAsTestTests.swift
  tools/ide/SharpeeIDETests/RecordingSerializationTests.swift
  tools/ide/SharpeeIDETests/RecordingSessionBlessTests.swift
  tools/ide/SharpeeIDETests/RecordingSessionTests.swift
  tools/ide/SharpeeIDETests/TestToolchain.swift
  tools/ide/SharpeeIDETests/ToolchainFenceNoteTests.swift
Due: eslint --fix, prettier --write

feat(ide): ADR-282 Phase 3 — checkpoint tags become walkthrough chains
  docs/context/archive/session-20260728-0749-main.md
  docs/context/session-20260728-2245-main.md
  docs/work/adr-282-play-to-test/plan.md
  tools/ide/SharpeeIDE/AppDelegate.swift
  tools/ide/SharpeeIDE/MainWindow.swift
  tools/ide/SharpeeIDE/Menus/MenuBuilder.swift
  tools/ide/SharpeeIDE/Play/PlayHeaderView.swift
  tools/ide/SharpeeIDE/Play/PlayViewController.swift
  tools/ide/SharpeeIDE/Test/RecordingSession.swift
  tools/ide/SharpeeIDE/Test/WalkthroughChain.swift
  tools/ide/SharpeeIDETests/RecordingChainSaveTests.swift
  tools/ide/SharpeeIDETests/RecordingChainTests.swift
  tools/ide/SharpeeIDETests/WalkthroughChainTests.swift
Due: prettier --write

feat(ide,platform): ADR-282 Phase 4 — actualOutput on the wire, and re-bless
  docs/context/archive/session-20260728-0325-main.md
  docs/context/session-20260729-0024-main.md
  docs/work/adr-282-play-to-test/plan.md
  packages/ide-protocol/src/test-results.ts
  packages/ide-protocol/tests/test-results.test.ts
  packages/sharpee/docs/genai-api/index.md
  packages/sharpee/docs/genai-api/tooling.md
  packages/transcript-tester/src/aggregate.ts
  packages/transcript-tester/tests/aggregate.test.ts
  stories/dungeo/src/version.ts
  tools/ide/SharpeeIDE/Editor/EditorViewController.swift
  tools/ide/SharpeeIDE/MainWindow.swift
  tools/ide/SharpeeIDE/Test/Rebless.swift
  tools/ide/SharpeeIDE/Test/TestController.swift
  tools/ide/SharpeeIDE/Test/TestPanelModel.swift
  tools/ide/SharpeeIDE/Test/TestPanelView.swift
  tools/ide/SharpeeIDE/Test/TestResultRecord.swift
  tools/ide/SharpeeIDETests/ReblessRealPathTests.swift
  tools/ide/SharpeeIDETests/ReblessTests.swift
  tools/ide/SharpeeIDETests/TestPanelModelTests.swift
  tools/ide/SharpeeIDETests/TestResultRecordTests.swift
Due: eslint --fix, prettier --write

docs(adr): ADR-289 accepted — Chord routing decided once; Chord 2.2.0 ruling
  docs/architecture/adrs/adr-289-chord-routing-decided-once.md
  docs/context/archive/session-20260728-0911-main.md
  docs/context/session-20260729-0030-main.md
  docs/work/chord/fable-review.md
Due: prettier --write

docs(context): session 78ee93 — Colima recovery, Xcode MCP server, 22 Swift tests green
  docs/context/archive/session-20260728-1700-main.md
  docs/context/session-20260729-0130-main.md
Due: prettier --write

test(story-loader): ADR-289 D9 two-pass routing harness, written RED
  docs/context/.current-plan
  docs/work/adr-289-chord-routing-decided-once/plan.md
  packages/story-loader/tests/two-pass-routing.test.ts
Due: eslint --fix, prettier --write

fix(story-loader): ADR-289 D7 — no raw control bytes in runtime.ts
  packages/story-loader/src/runtime.ts
Due: eslint --fix, prettier --write

feat(story-loader): ADR-289 D1 — every routing decision resolved once
  packages/story-loader/src/decisions.ts
  packages/story-loader/src/runtime.ts
  packages/story-loader/tests/two-pass-routing.test.ts
Due: eslint --fix, prettier --write

refactor(story-loader): ADR-289 D1 amended — the mutations pass IS the decision pass
  docs/architecture/adrs/adr-289-chord-routing-decided-once.md
  docs/work/adr-289-chord-routing-decided-once/plan.md
  packages/story-loader/src/decisions.ts
  packages/story-loader/src/runtime.ts
  packages/story-loader/tests/two-pass-routing.test.ts
Due: eslint --fix, prettier --write

feat(chord,story-loader): ADR-289 D2 — compiler-assigned select ids, IR format 2
  docs/architecture/adrs/adr-289-chord-routing-decided-once.md
  packages/chord/src/analyzer.ts
  packages/chord/src/ir.ts
  packages/chord/tests/__snapshots__/analyzer-each-package.test.ts.snap
  packages/chord/tests/__snapshots__/analyzer-phase-b.test.ts.snap
  packages/chord/tests/__snapshots__/analyzer.test.ts.snap
  packages/chord/tests/__snapshots__/zoo-phase-c-parse.test.ts.snap
  packages/chord/tests/analyzer.test.ts
  packages/story-loader/src/index.ts
  packages/story-loader/src/loader.ts
  packages/story-loader/src/runtime.ts
  packages/story-loader/src/select-ids.ts
  packages/story-loader/src/state-keys.ts
  packages/story-loader/tests/loader.test.ts
  packages/story-loader/tests/select-ids.test.ts
Due: eslint --fix, prettier --write

feat(ide): ADR-279 Phase 3 — Chord Writer release packaging
  docs/context/archive/session-20260728-1930-main.md
  docs/context/session-20260729-0200-main.md
  docs/work/adr-279-chord-writer-packaging/plan.md
  tools/ide/.gitignore
  tools/ide/bundled-node.entitlements
  tools/ide/package.sh
  tools/ide/vendor-toolchain.sh
Due: prettier --write

feat(engine,story-loader): ADR-289 D2 — Story.onWorldRestored, closing AC4/AC5
  .claude/skills/adr-review/SKILL.md
  docs/architecture/adrs/adr-289-chord-routing-decided-once.md
  docs/work/adr-289-chord-routing-decided-once/followups.md
  packages/engine/src/save-restore-service.ts
  packages/engine/src/story.ts
  packages/engine/tests/on-world-restored.test.ts
  packages/story-loader/src/loader.ts
  packages/story-loader/tests/select-ids.test.ts
Due: eslint --fix, prettier --write

docs(context): session summary — ADR-289 phases 1-3; regenerate genai-api
  docs/context/session-20260729-0901-adr-289-p1.md
  packages/sharpee/docs/genai-api/engine.md
  packages/sharpee/docs/genai-api/index.md
Due: prettier --write

feat(chord,story-loader): ADR-289 phases 4-5 — D3, D10, D4, D5, D6
  docs/architecture/adrs/adr-289-chord-routing-decided-once.md
  docs/context/session-20260729-0941-adr-289-p1.md
  docs/work/adr-289-chord-routing-decided-once/followups.md
  packages/chord/src/analyzer.ts
  packages/chord/src/parser.ts
  packages/chord/tests/ac3-cloak-sweep.test.ts
  packages/chord/tests/adr-289-d3-d10.test.ts
  packages/chord/tests/adr-289-d5-d6.test.ts
  packages/story-loader/src/loader.ts
  packages/story-loader/tests/adr-289-d10-runtime.test.ts
  packages/story-loader/tests/adr-289-d4-player.test.ts
  packages/story-loader/tests/adr-289-d6-backstop.test.ts
  packages/story-loader/tests/entityless-dispatch.test.ts
Due: eslint --fix, prettier --write

feat(repokit): ADR-289 D7 — verify gates raw control bytes in source
  docs/architecture/adrs/adr-289-chord-routing-decided-once.md
  docs/work/adr-289-chord-routing-decided-once/followups.md
  tools/repokit/src/commands/control-bytes.test.ts
  tools/repokit/src/commands/control-bytes.ts
  tools/repokit/src/commands/verify.ts
Due: eslint --fix, prettier --write

fix(ide,platform): Play-pane selection fix, ADR-282 amendment, Chord 2.2.0 alignment
  docs/architecture/adrs/adr-282-play-to-test-tagging.md
  docs/context/archive/session-20260728-2245-main.md
  docs/context/archive/session-20260729-0024-main.md
  docs/context/archive/session-20260729-0030-main.md
  docs/context/archive/session-20260729-0130-main.md
  docs/context/session-20260729-0530-main.md
  packages/platform-browser/src/managers/InputManager.ts
  packages/platform-browser/tests/input-focus-selection.test.ts
  tools/ide/SharpeeIDE/Compose/ChordVersionCheck.swift
  tools/ide/SharpeeIDE/UI/TabStripView.swift
  tools/ide/SharpeeIDETests/ChordVersionCheckTests.swift
  tools/ide/SharpeeIDETests/PlaySelectionCaptureTests.swift
Due: eslint --fix, prettier --write

docs(ide,adr): ADR-290 draft — test creation as an atomic mode; sweep the tracker
  .devarch/descriptor.json
  docs/architecture/adrs/adr-288-compass-rose.md
  docs/architecture/adrs/adr-290-test-creation-as-an-atomic-mode.md
  docs/context/session-20260729-0530-main.md
  docs/work/adr-279-chord-writer-packaging/plan.md
  docs/work/dynamic-text/dynamic-text-scenarios.md
  docs/work/web-extensions/concept.md
  stories/fernhill/walkthroughs/wt-02-fernhill-my-test.transcript
  tools/ide/SharpeeIDE/AppDelegate.swift
  tools/ide/SharpeeIDE/MainWindow.swift
Due: prettier --write

docs(ide,adr): ADR-290 D8 — save location is inferred, never asked
  docs/architecture/adrs/adr-290-test-creation-as-an-atomic-mode.md
  docs/context/session-20260729-0530-main.md
Due: prettier --write

chore: remove dungeo after-leaflet checkpoint
  checkpoints/after-leaflet.json
Due: prettier --write

docs(context): session summary — full GitHub issue triage (19 closed, 2 filed)
  docs/context/archive/session-20260729-0901-adr-289-p1.md
  docs/context/session-20260729-1505-main.md
Due: prettier --write

chore(devarch): clear stale gate and empty event log
  docs/context/.devarch-gate
Due: none

chore(devarch): clear the .current-plan pointer — ADR-289 is complete
  docs/context/.current-plan
Due: none

docs(context): amend session summary — DevArch housekeeping and process note
  docs/context/session-20260729-1505-main.md
Due: prettier --write

fix(repokit): read npm 12's keyed-object `npm pack --json` shape (#199)
  docs/context/.current-plan
  docs/context/session-20260729-1642-main.md
  docs/proposals/tracker-low-hanging-fruit.md
  docs/work/tracker-low-hanging-fruit/plan.md
  tools/repokit/src/consumer-gen.test.ts
  tools/repokit/src/consumer-gen.ts
Due: eslint --fix, prettier --write

docs(context): fold recurrence-check findings into the session summary
  docs/context/archive/session-20260729-0200-main.md
  docs/context/session-20260729-1642-main.md
Due: prettier --write

fix(repokit): vendor transcript-tester's own @sharpee closure in test:npm --local (#201)
  docs/context/session-20260730-2049-main.md
  stories/fernhill/tests/transcripts/recorded.transcript
  tools/repokit/src/commands/test-npm.ts
  tools/repokit/src/consumer-gen.test.ts
  tools/repokit/src/consumer-gen.ts
Due: eslint --fix, prettier --write

fix(transcript-tester): wire ext-testing into the published transcript-test bin
  docs/context/session-20260730-2049-main.md
  packages/transcript-tester/src/cli.ts
  packages/transcript-tester/src/runner.ts
Due: eslint --fix, prettier --write

docs(context): correct the walkthrough-chain failure attribution
  docs/context/session-20260730-2049-main.md
Due: prettier --write

test(dungeo): drop $restore from unit transcripts; add GDT AA SCORE
  stories/dungeo/src/actions/gdt/commands/aa.ts
  stories/dungeo/src/actions/gdt/commands/index.ts
  stories/dungeo/src/version.ts
  stories/dungeo/tests/transcripts/frigid-river-restore.transcript
  stories/dungeo/tests/transcripts/gdt-aa-score.transcript
  stories/dungeo/tests/transcripts/rank-survives-ceiling-change.transcript
Due: eslint --fix, prettier --write

docs(context): finalize session 405116 — Phase 1 DONE, 4.3.0 published
  docs/context/session-20260730-2049-main.md
  docs/proposals/tracker-low-hanging-fruit.md
  docs/work/tracker-low-hanging-fruit/plan.md
Due: prettier --write

docs(context): link follow-ups to #203 and #204
  docs/context/session-20260730-2049-main.md
Due: prettier --write

docs(context): correct the follow-ups heading — #203/#204 are filed
  docs/context/session-20260730-2049-main.md
Due: prettier --write

feat: finish tracker low-hanging-fruit plan (P-2, P-5, P-7, P-8)
  docs/context/archive/session-20260729-0941-adr-289-p1.md
  docs/context/archive/session-20260729-1015-adr-289-p6.md
  docs/context/session-20260730-2239-main.md
  docs/proposals/tracker-low-hanging-fruit.md
  docs/work/tracker-low-hanging-fruit/plan.md
  packages/extensions/testing/src/checkpoints/index.ts
  packages/extensions/testing/src/checkpoints/serializer.ts
  packages/extensions/testing/src/extension.ts
  packages/extensions/testing/src/index.ts
  packages/extensions/testing/src/types.ts
  packages/extensions/testing/tests/checkpoint-version.test.ts
  packages/extensions/testing/vitest.config.ts
  packages/parser-en-us/CLAUDE.md
  packages/parser-en-us/src/platform-grammar.ts
  packages/parser-en-us/tests/platform-grammar.test.ts
  stories/dungeo/src/regions/bank-of-zork.ts
  stories/dungeo/src/regions/dam.ts
  stories/dungeo/src/regions/endgame.ts
  stories/dungeo/src/regions/forest.ts
  stories/dungeo/src/regions/house-interior.ts
  stories/dungeo/src/regions/maze.ts
  stories/dungeo/src/regions/temple.ts
  stories/dungeo/src/regions/underground.ts
  stories/dungeo/src/regions/volcano.ts
  stories/dungeo/src/regions/white-house.ts
  stories/dungeo/src/version.ts
  templates/browser/index.html
  tools/repokit/src/commands/browser.test.ts
  tools/repokit/src/commands/browser.ts
Due: eslint --fix, prettier --write

chore(gitignore): ignore root checkpoints/ ($bookmark snapshots)
  .gitignore
Due: none

refactor: remove deprecated-but-exported symbols (P-3, #141)
  docs/architecture/adrs/adr-041-simplified-action-context.md
  docs/context/archive/session-20260729-0530-main.md
  docs/context/session-20260730-2332-main.md
  docs/proposals/tracker-low-hanging-fruit.md
  packages/event-processor/src/types.ts
  packages/parser-en-us/src/english-parser.ts
  packages/parser-en-us/tests/parser-integration.test.ts
  packages/parser-en-us/tests/parser-performance.bench.ts
  packages/sharpee/docs/genai-api/index.md
  packages/sharpee/docs/genai-api/parser.md
  packages/sharpee/docs/genai-api/stdlib.md
  packages/sharpee/docs/genai-api/world-model.md
  packages/stdlib/src/actions/enhanced-types.ts
  packages/stdlib/src/actions/meta-action.ts
  packages/stdlib/src/actions/migration-guide-adr-041.md
  packages/stdlib/src/actions/standard/exiting/exiting.ts
  packages/stdlib/src/scope/types.ts
  packages/stdlib/tests/unit/actions/enhanced-context-event-shape.test.ts
  packages/stdlib/tests/unit/capabilities/interceptor-context-binding.test.ts
  packages/world-model/src/capabilities/action-interceptor.ts
  stories/dungeo/src/version.ts
Due: eslint --fix, prettier --write
