Repository ChicagoDave/sharpee: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

docs(adr-310): fold prior-art review into character-model decisions
  docs/architecture/adrs/adr-310-character-model-in-chord.md
  docs/context/archive/session-20260813-1306-feat-adr-312-cli-test-recording.md
  docs/context/session-20260814-1523-main.md
  docs/work/adr-310/prior-art.md
Due: prettier --write

docs: temporal controls ADRs (315-317), roadmap tree, and website roadmap page
  docs/README.md
  docs/architecture/adrs/adr-315-when-a-command-costs-time.md
  docs/architecture/adrs/adr-316-multi-turn-actions.md
  docs/architecture/adrs/adr-317-turn-sequence-as-declared-stages.md
  docs/context/.current-plan
  docs/context/archive/session-20260814-1946-main.md
  docs/context/session-20260814-1554-main.md
  docs/roadmap/README.md
  docs/roadmap/roadmap-001.md
  docs/roadmap/roadmap-002.md
  docs/roadmap/roadmap-003.md
  docs/roadmap/roadmap-004.md
  docs/roadmap/roadmap-005.md
  docs/roadmap/roadmap-006.md
  docs/roadmap/roadmap-007.md
  docs/work/archive/roadmap/plan.md
  docs/work/temporal-controls/README.md
  website/package.json
  website/scripts/sync-roadmap.mjs
  website/src/app/roadmap/page.tsx
  website/src/lib/nav.ts
  website/src/lib/roadmap-data.json
Due: eslint --fix, prettier --write

fix(website,repokit): /play serves Fernhill again — repokit resolves branch-stories/
  docs/context/archive/session-20260814-0225-main.md
  docs/context/session-20260814-0405-main.md
  docs/context/session-20260814-2218-main.md
  stories/dungeo/src/version.ts
  tools/repokit/src/commands/build.ts
  tools/repokit/src/repo.ts
  website/deploy.sh
  website/package-lock.json
  website/public/search-index.json
Due: eslint --fix, prettier --write

chore(release): 5.0.1 lockstep bump across all 34 packages
  packages/bootstrap/package.json
  packages/branch-tester/package.json
  packages/channel-service/package.json
  packages/character/package.json
  packages/chord/package.json
  packages/core/package.json
  packages/devkit/package.json
  packages/engine/package.json
  packages/event-processor/package.json
  packages/extensions/basic-combat/package.json
  packages/extensions/hunger/package.json
  packages/extensions/scoring/package.json
  packages/extensions/testing/package.json
  packages/helpers/package.json
  packages/ide-protocol/package.json
  packages/if-domain/package.json
  packages/if-services/package.json
  packages/lang-en-us/package.json
  packages/media/package.json
  packages/parser-en-us/package.json
  packages/platform-browser/package.json
  packages/plugin-npc/package.json
  packages/plugin-scheduler/package.json
  packages/plugin-state-machine/package.json
  packages/plugins/package.json
  packages/queries/package.json
  packages/sharpee/package.json
  packages/stdlib/package.json
  packages/stdlib/src/actions/standard/version/engine-version.ts
  packages/story-loader/package.json
  packages/story-runtime-baseline/package.json
  packages/text-blocks/package.json
  packages/transcript-tester/package.json
  packages/world-model/package.json
  stories/dungeo/package.json
Due: eslint --fix, prettier --write

chore(website): show Sharpee 5.0.1 in the nav rail and roadmap
  website/src/app/roadmap/page.tsx
  website/src/lib/nav.ts
Due: eslint --fix, prettier --write

perf(deploy): build both web clients in one platform pass
  website/deploy.sh
Due: none

fix(ide,platform-browser,website): restore Chord Writer New Story, fix opening-render, unbreak docs-tab build
  .devarch/descriptor.json
  docs/context/session-20260814-1523-main.md
  packages/platform-browser/styles/base.css
  packages/platform-browser/tests/channels/prompt-status-info.test.ts
  packages/sharpee/docs/genai-api/index.md
  packages/stdlib/src/channels/standard.ts
  packages/stdlib/tests/channels/standard.test.ts
  stories/dungeo/src/version.ts
  tools/ide/SharpeeIDE/Resources/docs-tab/docs-index.json
  tools/ide/SharpeeIDE/Resources/docs-tab/images/chord-writer/app-icon.png
  tools/ide/SharpeeIDE/Resources/docs-tab/pages/chord-writer__download.html
  tools/ide/SharpeeIDE/Resources/story-templates/package.json.template
  tools/ide/SharpeeIDE/Resources/story-templates/story.story.template
  tools/ide/SharpeeIDE/Workspace/StoryScaffold.swift
  tools/ide/SharpeeIDETests/DocsTabRealPathTests.swift
  tools/ide/SharpeeIDETests/StoryScaffoldTests.swift
  tools/ide/project.yml
  tools/ide/vendor-story-templates.sh
  tools/ide/web/docs-tab/build.mjs
  tools/ide/web/docs-tab/src/nav-bridge.mjs
  tools/ide/web/docs-tab/tests/nav-bridge.test.mjs
  website/src/app/chord-writer/download/content.mdx
  website/src/components/download-card.tsx
  website/src/lib/nav.ts
Due: eslint --fix, prettier --write

fix(website): correct Apple silicon DMG size label for 1.0.1
  website/src/components/download-card.tsx
Due: eslint --fix, prettier --write

feat(ide): add Sparkle 2 auto-update to Chord Writer, ship 1.2.0 (ADR-279 D7)
  .gitignore
  docs/architecture/adrs/adr-279-chord-writer-packaging.md
  docs/context/.current-plan
  docs/context/archive/session-20260814-2142-main.md
  docs/context/session-20260815-0038-main.md
  docs/work/sparkle-auto-update/plan.md
  tools/ide/SharpeeIDE/AppDelegate.swift
  tools/ide/SharpeeIDE/Menus/MenuBuilder.swift
  tools/ide/SharpeeIDE/Updates/UpdateController.swift
  tools/ide/SharpeeIDETests/SparkleIntegrationTests.swift
  tools/ide/fetch-sparkle-tools.sh
  tools/ide/package.sh
  tools/ide/project.yml
  tools/ide/release-all.sh
  tools/ide/sparkle/make-update.sh
  tools/ide/sparkle/update-realpath-test.sh
  website/src/app/chord-writer/download/content.mdx
  website/src/components/download-card.tsx
  website/src/lib/nav.ts
Due: eslint --fix, prettier --write

docs(adr): accept ADR-310 and new ADR-318 via frontier experiments; close sparkle + adr-279 plans
  docs/architecture/adrs/adr-279-chord-writer-packaging.md
  docs/architecture/adrs/adr-310-character-model-in-chord.md
  docs/architecture/adrs/adr-318-normative-character-layer.md
  docs/context/.current-plan
  docs/context/archive/session-20260814-1554-main.md
  docs/context/session-20260815-0349-main.md
  docs/work/adr-310/experiments/exp-01-arbitration-ordering.md
  docs/work/adr-310/experiments/exp-02-principles.md
  docs/work/adr-310/experiments/exp-03-honor-audience.md
  docs/work/adr-310/experiments/exp-04-conscience.md
  docs/work/adr-310/experiments/exp-05-lie-ledger.md
  docs/work/adr-310/experiments/method.md
  docs/work/archive/adr-279-chord-writer-packaging/dts-incident-draft.md
  docs/work/archive/adr-279-chord-writer-packaging/fixtures/.gitignore
  docs/work/archive/adr-279-chord-writer-packaging/fixtures/RESULTS.md
  docs/work/archive/adr-279-chord-writer-packaging/fixtures/make-archive-fixtures.sh
  docs/work/archive/adr-279-chord-writer-packaging/fixtures/make-discriminator-fixtures.sh
  docs/work/archive/adr-279-chord-writer-packaging/fixtures/make-fixtures.sh
  docs/work/archive/adr-279-chord-writer-packaging/fixtures/make-signed-fixtures.sh
  docs/work/archive/adr-279-chord-writer-packaging/forum-post-draft.md
  docs/work/archive/adr-279-chord-writer-packaging/notarization-bisection.md
  docs/work/archive/adr-279-chord-writer-packaging/plan.md
  docs/work/archive/sparkle-auto-update/plan.md
  docs/work/chord-writer-intel/plan.md
  tools/ide/package.sh
  tools/ide/sparkle/update-realpath-test.sh
Due: prettier --write

feat(world-model,character,docs): ADR-310/318 Phase 1 - trait shape, D11a sweep, contracts + plan
  docs/architecture/adrs/adr-310-character-model-in-chord.md
  docs/context/.current-plan
  docs/context/archive/session-20260814-0405-main.md
  docs/context/session-20260815-0509-main.md
  docs/work/adr-310/contracts.md
  docs/work/adr-310/plan.md
  packages/character/src/character-builder.ts
  packages/character/src/character-clock.ts
  packages/character/src/cognitive-presets.ts
  packages/character/src/goals/goal-activation.ts
  packages/character/src/goals/goal-types.ts
  packages/character/src/goals/index.ts
  packages/character/src/goals/step-evaluator.ts
  packages/character/src/index.ts
  packages/character/src/influence/index.ts
  packages/character/src/influence/influence-duration.ts
  packages/character/src/influence/influence-types.ts
  packages/character/src/influence/pc-influence.ts
  packages/character/src/propagation/builder.ts
  packages/character/src/propagation/fact-transfer.ts
  packages/character/src/propagation/index.ts
  packages/character/src/propagation/propagation-evaluator.ts
  packages/character/src/propagation/propagation-types.ts
  packages/character/src/tick-phases.ts
  packages/character/tests/character-builder.test.ts
  packages/character/tests/goals/goals.test.ts
  packages/character/tests/influence/influence.test.ts
  packages/character/tests/integration.test.ts
  packages/character/tests/propagation/propagation.test.ts
  packages/character/tests/tick-phases/character-model-phase.test.ts
  packages/character/tests/tick-phases/integration-fragment.test.ts
  packages/character/tests/tick-phases/save-restore.test.ts
  packages/world-model/src/traits/character-model/character-vocabulary.ts
  packages/world-model/src/traits/character-model/characterModelTrait.ts
  packages/world-model/tests/unit/traits/character-model.test.ts
Due: eslint --fix, prettier --write

feat(chord,character,world-model): ADR-310 Phase 3 — character descriptive grammar
  docs/context/archive/session-20260814-1523-main.md
  docs/context/session-20260815-1413-feat-adr-310-318-implementation.md
  docs/work/adr-310/contracts.md
  docs/work/adr-310/plan.md
  packages/character/package.json
  packages/character/src/apply-compiled.ts
  packages/character/src/character-builder.ts
  packages/character/src/goals/builder.ts
  packages/character/src/goals/goal-types.ts
  packages/character/src/goals/index.ts
  packages/character/src/index.ts
  packages/character/src/influence/index.ts
  packages/character/src/influence/influence-types.ts
  packages/character/src/propagation/index.ts
  packages/character/src/propagation/propagation-types.ts
  packages/character/tests/roundtrip/compiled-roundtrip.test.ts
  packages/character/tests/roundtrip/thealderman-port.test.ts
  packages/chord/src/analyzer.ts
  packages/chord/src/ast.ts
  packages/chord/src/character-manifest.ts
  packages/chord/src/index.ts
  packages/chord/src/ir.ts
  packages/chord/src/parser.ts
  packages/chord/tests/__snapshots__/parser-each-package.test.ts.snap
  packages/chord/tests/__snapshots__/parser-phase-b.test.ts.snap
  packages/chord/tests/__snapshots__/parser.test.ts.snap
  packages/chord/tests/character-declarations.test.ts
  packages/story-loader/src/evaluator.ts
  packages/world-model/src/traits/character-model/character-vocabulary.ts
  packages/world-model/tests/unit/traits/character-model.test.ts
  pnpm-lock.yaml
  stories/thealderman/chord/thealderman.story
  tools/repokit/src/commands/manifest.ts
  tools/repokit/src/commands/verify.ts
Due: eslint --fix, prettier --write

feat(chord,character,world-model): ADR-318 Phase 4 — normative character grammar (temperaments, principles, honor, conscience, claims, witnessed-as)
  docs/context/archive/session-20260815-0038-main.md
  docs/context/session-20260815-1538-feat-adr-310-318-implementation.md
  docs/work/adr-310/plan.md
  packages/character/src/apply-compiled.ts
  packages/character/src/character-builder.ts
  packages/character/src/index.ts
  packages/character/tests/roundtrip/normative-roundtrip.test.ts
  packages/character/tests/roundtrip/thealderman-port.test.ts
  packages/chord/src/analyzer.ts
  packages/chord/src/ast.ts
  packages/chord/src/character-manifest.ts
  packages/chord/src/ir.ts
  packages/chord/src/parser.ts
  packages/chord/tests/__snapshots__/parser-each-package.test.ts.snap
  packages/chord/tests/__snapshots__/parser-phase-b.test.ts.snap
  packages/chord/tests/__snapshots__/parser.test.ts.snap
  packages/chord/tests/character-declarations.test.ts
  packages/world-model/src/traits/character-model/character-vocabulary.ts
  packages/world-model/tests/unit/traits/character-model.test.ts
  stories/thealderman/chord/thealderman.story
  tools/repokit/src/commands/manifest.ts
Due: eslint --fix, prettier --write

feat(character,chord,story-loader,stories): Phase 7 closure — G5 composition tests + G5a belief transfer, wiring audit, D6 goal world-mutations, D7 only-match topic arms, AC3 legs, G6/G7 measurements
  docs/context/archive/session-20260815-1307-feat-adr-310-318-implementation.md
  docs/context/session-20260815-2211-feat-adr-310-318-implementation.md
  docs/work/adr-310/acceptance-audit.md
  docs/work/adr-310/gap-closure-design.md
  docs/work/adr-310/wiring-audit.md
  packages/character/src/goals/goal-types.ts
  packages/character/src/goals/index.ts
  packages/character/src/goals/step-evaluator.ts
  packages/character/src/propagation/fact-transfer.ts
  packages/character/src/tick-phases.ts
  packages/character/tests/arbiter/arbiter.test.ts
  packages/character/tests/propagation/propagation.test.ts
  packages/character/tests/tick-phases/face-act-propagation.test.ts
  packages/character/tests/tick-phases/goal-world-mutations.test.ts
  packages/chord/src/analyzer.ts
  packages/chord/src/condition-disjoint.ts
  packages/chord/tests/phrase-overlap.test.ts
  packages/sharpee/docs/genai-api/character.md
  packages/sharpee/docs/genai-api/index.md
  packages/story-loader/src/runtime.ts
  stories/character-acceptance/chord/b3-conscience.story
  stories/character-acceptance/tests/transcripts/b3-breaking-crack.transcript
  stories/character-acceptance/tests/transcripts/b3-seek-out.transcript
  stories/character-acceptance/tests/transcripts/b3-strained-voice.transcript
  stories/dungeo/src/version.ts
  stories/thealderman/tests/transcripts/conscience-breaking.transcript
Due: eslint --fix, prettier --write

feat(character,world-model,stdlib): Phase 7 wiring-audit D8 + D10 — influence overlay/edge minting/separation expiry, raw-topic minting removed, stable player topic naming
  docs/context/archive/session-20260815-1413-feat-adr-310-318-implementation.md
  docs/context/session-20260816-0110-feat-adr-310-318-implementation.md
  docs/work/adr-310/wiring-audit.md
  packages/character/src/act-detection/act-detection.ts
  packages/character/src/index.ts
  packages/character/src/influence/index.ts
  packages/character/src/influence/influence-duration.ts
  packages/character/src/influence/influence-evaluator.ts
  packages/character/src/influence/influence-types.ts
  packages/character/src/tick-phases.ts
  packages/character/tests/act-detection/act-detection.test.ts
  packages/character/tests/influence/influence.test.ts
  packages/character/tests/integration.test.ts
  packages/character/tests/tick-phases/character-model-phase.test.ts
  packages/character/tests/tick-phases/observe-substep.test.ts
  packages/sharpee/docs/genai-api/character.md
  packages/sharpee/docs/genai-api/index.md
  packages/sharpee/docs/genai-api/stdlib.md
  packages/sharpee/docs/genai-api/world-model.md
  packages/stdlib/src/npc/character-observer.ts
  packages/stdlib/tests/unit/npc/character-observer.test.ts
  packages/story-loader/tests/character-loading.test.ts
  packages/world-model/src/traits/character-model/character-vocabulary.ts
  packages/world-model/src/traits/character-model/characterModelTrait.ts
  packages/world-model/tests/unit/traits/character-model.test.ts
  stories/dungeo/src/version.ts
Due: eslint --fix, prettier --write

feat(character,chord,world-model,story-loader): D11 closure — edge-triggered goals, band-aware pin gating, per-audience release, breaking-gated discharge (seams 1-5, David's rulings 2026-08-16)
  docs/context/archive/session-20260815-1538-feat-adr-310-318-implementation.md
  docs/context/session-20260816-0210-feat-adr-310-318-implementation.md
  docs/work/adr-310/wiring-audit.md
  packages/character/src/apply-compiled.ts
  packages/character/src/arbiter/pressure.ts
  packages/character/src/conversation/claims.ts
  packages/character/src/goals/builder.ts
  packages/character/src/goals/goal-activation.ts
  packages/character/src/goals/goal-types.ts
  packages/character/src/tick-phases.ts
  packages/character/tests/arbiter/pressure.test.ts
  packages/character/tests/conversation/selector.test.ts
  packages/character/tests/goals/goals.test.ts
  packages/character/tests/tick-phases/character-model-phase.test.ts
  packages/character/tests/tick-phases/oracle-goals.test.ts
  packages/chord/src/condition-discharge.ts
  packages/chord/src/index.ts
  packages/chord/tests/condition-discharge.test.ts
  packages/sharpee/docs/genai-api/character.md
  packages/sharpee/docs/genai-api/index.md
  packages/sharpee/docs/genai-api/world-model.md
  packages/story-loader/src/runtime.ts
  packages/world-model/src/traits/character-model/character-vocabulary.ts
  packages/world-model/src/traits/character-model/characterModelTrait.ts
  stories/character-acceptance/tests/transcripts/b3-crack-discharge.transcript
  stories/character-acceptance/tests/transcripts/b3-seek-out-recycle.transcript
  stories/dungeo/src/version.ts
  stories/thealderman/tests/transcripts/pin-vs-crack.transcript
Due: eslint --fix, prettier --write

docs(adr): amendment batch — ADR-145 edge-triggered activation, ADR-318 D8 discharge contract, D9 pin gating/maintenance/release, AC3 deposit-ladder correction
  docs/architecture/adrs/adr-145-npc-goal-pursuit.md
  docs/architecture/adrs/adr-318-normative-character-layer.md
  docs/context/archive/session-20260815-1723-feat-adr-310-318-implementation.md
  docs/context/session-20260816-0930-feat-adr-310-318-implementation.md
  docs/work/adr-310/gap-closure-design.md
Due: prettier --write

fix(world-model,engine,story-loader): D9 — NPC attribution through the capability effect envelope (CapabilityEffect.actor, all four re-mint sites)
  docs/context/session-20260816-0930-feat-adr-310-318-implementation.md
  docs/work/adr-310/wiring-audit.md
  packages/engine/src/capability-dispatch-helper.ts
  packages/engine/tests/universal-capability-dispatch.test.ts
  packages/sharpee/docs/genai-api/index.md
  packages/sharpee/docs/genai-api/world-model.md
  packages/story-loader/src/runtime.ts
  packages/story-loader/tests/character-dialogue.test.ts
  packages/story-loader/tests/dispatch.test.ts
  packages/world-model/src/capabilities/action-interceptor.ts
  packages/world-model/src/capabilities/types.ts
  packages/world-model/tests/unit/capabilities/interceptor-blocked-result.test.ts
  packages/world-model/tests/unit/capabilities/interceptor-report-result.test.ts
  stories/dungeo/src/version.ts
Due: eslint --fix, prettier --write

feat(chord,character,stories,docs): seam 6 permanence + seam re-audit + influence on-expired arm
  docs/context/archive/session-20260815-1951-feat-adr-310-318-implementation.md
  docs/context/session-20260816-0322-feat-adr-310-318-implementation.md
  docs/work/adr-310/wiring-audit.md
  packages/character/src/apply-compiled.ts
  packages/character/src/influence/builder.ts
  packages/character/src/influence/influence-types.ts
  packages/character/src/tick-phases.ts
  packages/character/tests/influence/builder.test.ts
  packages/character/tests/roundtrip/compiled-roundtrip.test.ts
  packages/character/tests/tick-phases/character-model-phase.test.ts
  packages/chord/src/analyzer.ts
  packages/chord/src/ast.ts
  packages/chord/src/ir.ts
  packages/chord/src/parser.ts
  packages/chord/tests/character-declarations.test.ts
  stories/thealderman/chord/thealderman.story
  stories/thealderman/tests/transcripts/confession-permanence.transcript
  stories/thealderman/tests/transcripts/influence-expiry.transcript
  stories/thealderman/tests/transcripts/propagation-witnessed.transcript
Due: eslint --fix, prettier --write

feat(ide,devkit,platform-browser): explain-NPC-turn panel — author-channel wire, per-NPC explain panel, click-to-assert; ADR-310/318 acceptance audit closed
  docs/context/archive/session-20260815-2211-feat-adr-310-318-implementation.md
  docs/context/session-20260816-1045-feat-ide-explain-npc-turn.md
  docs/work/adr-310/acceptance-audit.md
  packages/devkit/src/standalone/chord-build.test.ts
  packages/devkit/templates/browser/browser-entry.ts.template
  packages/devkit/templates/browser/chord-browser-entry.ts.template
  packages/devkit/templates/browser/index-testing.html
  packages/platform-browser/src/turn-events.ts
  packages/platform-browser/src/world-digest.ts
  packages/platform-browser/tests/world-digest.test.ts
  tools/ide/SharpeeIDE/Resources/story-templates/story.story.template
  tools/ide/SharpeeIDE/Resources/testing-surface/surface.css
  tools/ide/SharpeeIDE/Resources/testing-surface/surface.js
  tools/ide/web/testing-surface/src/cards.ts
  tools/ide/web/testing-surface/src/character.ts
  tools/ide/web/testing-surface/src/main.ts
  tools/ide/web/testing-surface/src/surface.css
  tools/ide/web/testing-surface/tests/ac-signoff-cli.test.ts
  tools/ide/web/testing-surface/tests/character.test.ts
  tools/ide/web/testing-surface/tests/tree-session-real-path.test.ts
Due: eslint --fix, prettier --write

chore(thealderman,ide): playtest-generated artifacts — IFID stamp, project config, recorded assertion cards, docs-index refresh
  stories/thealderman/chord/thealderman.config.json
  stories/thealderman/chord/thealderman.story
  stories/thealderman/chord/thealderman.tests.json
  tools/ide/SharpeeIDE/Resources/docs-tab/docs-index.json
Due: prettier --write

docs(adr): ADR-319 flashbacks — atomic story state, segments to parallel storylines (DRAFT, 10 open questions)
  docs/architecture/adrs/adr-319-flashbacks.md
  docs/context/archive/session-20260816-0110-feat-adr-310-318-implementation.md
  docs/context/session-20260816-1330-feat-ide-explain-npc-turn.md
Due: prettier --write

feat(ide): [SKIP]→NPC-panel hint + click-to-assert round-trip test; ADR-310/318 plan closed on live verification — plan archived, paths repointed
  docs/architecture/adrs/adr-145-npc-goal-pursuit.md
  docs/architecture/adrs/adr-310-character-model-in-chord.md
  docs/architecture/adrs/adr-318-normative-character-layer.md
  docs/context/.current-plan
  docs/context/archive/session-20260816-0210-feat-adr-310-318-implementation.md
  docs/context/project-profile.md
  docs/context/session-20260816-2056-feat-ide-explain-npc-turn.md
  docs/roadmap/roadmap-002.md
  docs/work/archive/adr-310/acceptance-audit.md
  docs/work/archive/adr-310/contracts.md
  docs/work/archive/adr-310/experiments/exp-01-arbitration-ordering.md
  docs/work/archive/adr-310/experiments/exp-02-principles.md
  docs/work/archive/adr-310/experiments/exp-03-honor-audience.md
  docs/work/archive/adr-310/experiments/exp-04-conscience.md
  docs/work/archive/adr-310/experiments/exp-05-lie-ledger.md
  docs/work/archive/adr-310/experiments/method.md
  docs/work/archive/adr-310/gap-closure-design.md
  docs/work/archive/adr-310/plan.md
  docs/work/archive/adr-310/prior-art.md
  docs/work/archive/adr-310/wiring-audit.md
  packages/character/src/tick-phases.ts
  packages/chord/src/character-manifest.ts
  packages/world-model/src/traits/character-model/character-vocabulary.ts
  stories/thealderman/chord/thealderman.tests.json
  tools/ide/SharpeeIDE/Resources/testing-surface/surface.css
  tools/ide/SharpeeIDE/Resources/testing-surface/surface.js
  tools/ide/web/testing-surface/src/cards.ts
  tools/ide/web/testing-surface/src/surface.css
  tools/ide/web/testing-surface/tests/model.test.ts
  tools/repokit/src/commands/manifest.ts
  website/src/lib/roadmap-data.json
Due: eslint --fix, prettier --write

docs(adr): ADR-320 conversation & complex dialogue — ACCEPTED
  docs/architecture/adrs/adr-142-conversation-system.md
  docs/architecture/adrs/adr-320-conversation-and-complex-dialogue.md
  docs/context/session-20260816-2056-feat-ide-explain-npc-turn.md
  docs/work/adr-320-conversation/prior-art.md
  docs/work/archive/npc-agency-conversation-research/plan.md
Due: prettier --write

plan(adr-320): 11-phase implementation plan — TS contracts first, theatre-story task before mechanism; plan-review clean
  docs/context/.current-plan
  docs/context/archive/session-20260816-0930-feat-adr-310-318-implementation.md
  docs/context/session-20260816-2315-feat-ide-explain-npc-turn.md
  docs/work/adr-320-conversation/plan.md
Due: prettier --write

feat(chord,world-model,character): ADR-320 Phases 1-3 — TS contracts, theatre-story task spec, conversation grammar slice A; Chord 3.1.0
  docs/context/session-20260816-2315-feat-ide-explain-npc-turn.md
  docs/work/adr-320-conversation/contracts.md
  docs/work/adr-320-conversation/plan.md
  docs/work/adr-320-conversation/theatre-story-task.md
  docs/work/adr-320-conversation/vocabulary-freeze-phase3.md
  packages/character/src/conversation/index.ts
  packages/character/src/conversation/scene-scoring.ts
  packages/character/src/index.ts
  packages/chord/chord.ebnf
  packages/chord/src/analyzer.ts
  packages/chord/src/ast.ts
  packages/chord/src/condition-disjoint.ts
  packages/chord/src/ir.ts
  packages/chord/src/parser.ts
  packages/chord/src/version.ts
  packages/chord/tests/__snapshots__/analyzer-each-package.test.ts.snap
  packages/chord/tests/__snapshots__/analyzer-phase-b.test.ts.snap
  packages/chord/tests/__snapshots__/analyzer.test.ts.snap
  packages/chord/tests/__snapshots__/zoo-phase-c-parse.test.ts.snap
  packages/chord/tests/adr-320-phase3.test.ts
  packages/chord/tests/language-version.test.ts
  packages/world-model/src/capabilities/dialogue-selector-binding.ts
  packages/world-model/src/capabilities/index.ts
  packages/world-model/src/capabilities/scene-wire.ts
  packages/world-model/src/traits/character-model/conversation-scene.ts
  packages/world-model/src/traits/character-model/index.ts
Due: eslint --fix, prettier --write

feat(chord): ADR-320 Phase 4 — exchange & initiative grammar, IR, diagnostics; Chord 3.2.0
  docs/context/archive/session-20260816-0322-feat-adr-310-318-implementation.md
  docs/context/session-20260817-0045-feat-adr-320-implementation.md
  docs/work/adr-320-conversation/plan.md
  docs/work/adr-320-conversation/vocabulary-freeze-phase4.md
  packages/chord/chord.ebnf
  packages/chord/src/analyzer.ts
  packages/chord/src/ast.ts
  packages/chord/src/ir.ts
  packages/chord/src/parser.ts
  packages/chord/src/version.ts
  packages/chord/tests/__snapshots__/analyzer-each-package.test.ts.snap
  packages/chord/tests/__snapshots__/analyzer-phase-b.test.ts.snap
  packages/chord/tests/__snapshots__/analyzer.test.ts.snap
  packages/chord/tests/__snapshots__/zoo-phase-c-parse.test.ts.snap
  packages/chord/tests/adr-320-phase4.test.ts
  packages/chord/tests/language-version.test.ts
  packages/story-loader/src/evaluator.ts
  packages/story-loader/tests/conversation-predicates-not-wired.test.ts
Due: eslint --fix, prettier --write

feat(character): ADR-320 Phase 5 — scene runtime, floor/interruption scoring, manner rotation, conversation memory
  docs/context/archive/session-20260816-1045-feat-ide-explain-npc-turn.md
  docs/context/session-20260817-0120-feat-adr-320-implementation.md
  docs/work/adr-320-conversation/plan.md
  packages/character/src/conversation/builder.ts
  packages/character/src/conversation/conversation-memory.ts
  packages/character/src/conversation/index.ts
  packages/character/src/conversation/initiative.ts
  packages/character/src/conversation/lifecycle.ts
  packages/character/src/conversation/manner.ts
  packages/character/src/conversation/scene-runtime.ts
  packages/character/src/conversation/scene-scoring.ts
  packages/character/src/conversation/scene-store.ts
  packages/character/src/index.ts
  packages/character/src/tick-phases.ts
  packages/character/tests/conversation/conversation-memory.test.ts
  packages/character/tests/conversation/initiative.test.ts
  packages/character/tests/conversation/manner.test.ts
  packages/character/tests/conversation/scene-runtime.test.ts
  packages/character/tests/conversation/scene-scoring.test.ts
  packages/character/tests/tick-phases/modeled-pc-decay.test.ts
Due: eslint --fix, prettier --write

feat(stdlib,character,world-model): ADR-320 Phase 6 — dispatch integration, exchange grip, scene binding, witnessed player claims
  docs/context/archive/session-20260816-1330-feat-ide-explain-npc-turn.md
  docs/context/session-20260817-0900-feat-adr-320-implementation.md
  docs/work/adr-320-conversation/phase6-dispatch-design.md
  docs/work/adr-320-conversation/plan.md
  packages/bootstrap/src/assemble-channels.test.ts
  packages/character/src/act-detection/act-detection.ts
  packages/character/src/act-detection/index.ts
  packages/character/src/arbiter/arbiter-types.ts
  packages/character/src/conversation/index.ts
  packages/character/src/conversation/scene-binding.ts
  packages/character/src/conversation/scene-scoring.ts
  packages/character/src/conversation/scene-store.ts
  packages/character/src/conversation/selector.ts
  packages/character/src/index.ts
  packages/character/src/tick-phases.ts
  packages/character/tests/act-detection/witness-statement.test.ts
  packages/character/tests/conversation/scene-binding.test.ts
  packages/character/tests/conversation/scene-dispatch.test.ts
  packages/character/tests/conversation/selector.test.ts
  packages/sharpee/docs/genai-api/character.md
  packages/sharpee/docs/genai-api/index.md
  packages/sharpee/docs/genai-api/presentation.md
  packages/sharpee/docs/genai-api/world-model.md
  packages/stdlib/src/actions/helpers/dialogue-selector.ts
  packages/stdlib/src/actions/helpers/exit-legality.ts
  packages/stdlib/src/actions/standard/asking/asking.ts
  packages/stdlib/src/actions/standard/talking/talking.ts
  packages/stdlib/src/actions/standard/telling/telling.ts
  packages/stdlib/tests/unit/actions/dialogue-selector-socket.test.ts
  packages/stdlib/tests/unit/actions/exit-legality.test.ts
  packages/world-model/src/capabilities/dialogue-selector-binding.ts
  packages/world-model/src/capabilities/index.ts
  packages/world-model/src/capabilities/scene-runtime-binding.ts
  packages/world-model/src/traits/character-model/character-vocabulary.ts
  packages/world-model/src/traits/character-model/conversation-scene-store.ts
  packages/world-model/src/traits/character-model/index.ts
  packages/world-model/src/world/WorldModel.ts
  stories/dungeo/src/version.ts
Due: eslint --fix, prettier --write

feat(world-model,character,story-loader): ADR-320 Phase 7 — trait conversation memory (schema v2), scene thread, loader registration, D15 production registrant, evaluator predicates
  docs/context/archive/session-20260816-2056-feat-ide-explain-npc-turn.md
  docs/context/session-20260817-1102-feat-adr-320-implementation.md
  docs/work/adr-320-conversation/phase7-persistence-design.md
  docs/work/adr-320-conversation/plan.md
  packages/character/src/conversation/index.ts
  packages/character/src/conversation/scene-binding.ts
  packages/character/src/conversation/scene-runtime.ts
  packages/character/src/index.ts
  packages/character/tests/conversation/trait-memory-access.test.ts
  packages/sharpee/docs/genai-api/character.md
  packages/sharpee/docs/genai-api/index.md
  packages/sharpee/docs/genai-api/stdlib.md
  packages/sharpee/docs/genai-api/world-model.md
  packages/stdlib/src/actions/index.ts
  packages/story-loader/src/evaluator.ts
  packages/story-loader/src/loader.ts
  packages/story-loader/src/runtime.ts
  packages/story-loader/tests/adr-320-phase7.test.ts
  packages/story-loader/tests/conversation-predicates-not-wired.test.ts
  packages/world-model/src/traits/character-model/characterModelTrait.ts
  packages/world-model/src/traits/character-model/conversation-scene.ts
  packages/world-model/tests/unit/traits/character-model.test.ts
  stories/dungeo/src/version.ts
Due: eslint --fix, prettier --write

feat(world-model,stdlib,story-loader,engine,ide): ADR-320 Phase 9 — D12 wire schema: scene + exchange-affordances channels, affordance snapshot, testing-surface consumption
  docs/context/archive/session-20260817-0045-feat-adr-320-implementation.md
  docs/context/session-20260817-1500-feat-adr-320-implementation.md
  docs/work/adr-320-conversation/plan.md
  packages/character/tests/conversation/scene-dispatch.test.ts
  packages/character/tests/conversation/scene-runtime.test.ts
  packages/character/tests/conversation/scene-scoring.test.ts
  packages/engine/tests/integration/channel-bootstrap.test.ts
  packages/sharpee/docs/genai-api/index.md
  packages/sharpee/docs/genai-api/stdlib.md
  packages/sharpee/docs/genai-api/world-model.md
  packages/stdlib/src/channels/index.ts
  packages/stdlib/src/channels/scene.ts
  packages/stdlib/src/channels/standard.ts
  packages/stdlib/tests/channels/scene.test.ts
  packages/story-loader/src/runtime.ts
  packages/story-loader/tests/adr-320-phase9.test.ts
  packages/world-model/src/capabilities/index.ts
  packages/world-model/src/capabilities/scene-wire.ts
  packages/world-model/src/traits/character-model/conversation-scene.ts
  stories/character-acceptance/tests/transcripts/p9-wire.transcript
  stories/dungeo/src/version.ts
  tools/ide/SharpeeIDE/Resources/testing-surface/surface.js
  tools/ide/web/testing-surface/src/cards.ts
  tools/ide/web/testing-surface/src/character.ts
  tools/ide/web/testing-surface/src/main.ts
  tools/ide/web/testing-surface/src/scene.ts
  tools/ide/web/testing-surface/tests/model.test.ts
  tools/ide/web/testing-surface/tests/scene.test.ts
Due: eslint --fix, prettier --write

feat(chord,story-loader,world-model,stories,docs): ADR-320 Phase 10 story (The Ides of March) + D14 threads amendment; Phases 10.1-10.2 - `define conversation` grammar and thread persistence/wire
  docs/architecture/adrs/adr-320-conversation-and-complex-dialogue.md
  docs/context/archive/session-20260817-0120-feat-adr-320-implementation.md
  docs/context/session-20260817-1525-feat-adr-320-implementation.md
  docs/work/adr-320-conversation/conversation-threads-design.md
  docs/work/adr-320-conversation/phase10-story-traceability.md
  docs/work/adr-320-conversation/plan.md
  packages/chord/chord.ebnf
  packages/chord/src/analyzer.ts
  packages/chord/src/ast.ts
  packages/chord/src/ir.ts
  packages/chord/src/parser.ts
  packages/chord/src/version.ts
  packages/chord/tests/__snapshots__/analyzer-each-package.test.ts.snap
  packages/chord/tests/__snapshots__/analyzer-phase-b.test.ts.snap
  packages/chord/tests/__snapshots__/analyzer.test.ts.snap
  packages/chord/tests/__snapshots__/zoo-phase-c-parse.test.ts.snap
  packages/chord/tests/adr-320-threads.test.ts
  packages/chord/tests/language-version.test.ts
  packages/story-loader/src/evaluator.ts
  packages/world-model/src/capabilities/index.ts
  packages/world-model/src/capabilities/scene-wire.ts
  packages/world-model/src/traits/character-model/characterModelTrait.ts
  packages/world-model/src/traits/character-model/conversation-scene.ts
  packages/world-model/src/traits/character-model/index.ts
  packages/world-model/tests/unit/traits/character-model.test.ts
  stories/ides-of-march/chord/ides-of-march.config.json
  stories/ides-of-march/chord/ides-of-march.story
  stories/ides-of-march/chord/ides-of-march.tests.json
  stories/ides-of-march/tests/transcripts/boundaries.transcript
  stories/ides-of-march/tests/transcripts/claims-return.transcript
  stories/ides-of-march/tests/transcripts/cornered.transcript
  stories/ides-of-march/tests/transcripts/earshot-effects.transcript
  stories/ides-of-march/tests/transcripts/first-day.transcript
  stories/ides-of-march/tests/transcripts/interruption.transcript
  stories/ides-of-march/tests/transcripts/mid-exchange-restore.transcript
  stories/ides-of-march/tests/transcripts/mid-exchange-save.transcript
  stories/ides-of-march/tests/transcripts/smoke.transcript
  stories/ides-of-march/tests/transcripts/unmasked.transcript
  stories/ides-of-march/tests/transcripts/wire.transcript
  stories/ides-of-march/walkthroughs/wt-01-the-errand.transcript
Due: eslint --fix, prettier --write

docs(context): finalize session 13a3e0 summary — evaluator-gate catch, commit c56fed83, Phase 10.3 hand-off
  docs/context/session-20260817-1525-feat-adr-320-implementation.md
Due: prettier --write

feat(character,story-loader,stdlib,world-model): ADR-320 Phases 10.3-10.4 — thread runtime + dispatch precedence
  docs/context/archive/session-20260817-0900-feat-adr-320-implementation.md
  docs/context/session-20260817-1837-feat-adr-320-implementation.md
  docs/work/adr-320-conversation/plan.md
  packages/character/src/conversation/index.ts
  packages/character/src/conversation/lifecycle.ts
  packages/character/src/conversation/scene-binding.ts
  packages/character/src/conversation/scene-runtime.ts
  packages/character/src/conversation/thread-runtime.ts
  packages/character/src/index.ts
  packages/character/src/tick-phases.ts
  packages/character/tests/conversation/lifecycle.test.ts
  packages/character/tests/conversation/thread-runtime.test.ts
  packages/character/tests/tick-phases/scene-sub-step.test.ts
  packages/sharpee/docs/genai-api/character.md
  packages/sharpee/docs/genai-api/index.md
  packages/sharpee/docs/genai-api/world-model.md
  packages/stdlib/src/actions/helpers/dialogue-selector.ts
  packages/stdlib/src/actions/standard/asking/asking.ts
  packages/stdlib/src/actions/standard/talking/talking.ts
  packages/stdlib/src/actions/standard/telling/telling.ts
  packages/story-loader/src/loader.ts
  packages/story-loader/src/runtime.ts
  packages/story-loader/tests/adr-320-phase10-threads.test.ts
  packages/story-loader/tests/adr-320-phase8.test.ts
  packages/world-model/src/capabilities/dialogue-selector-binding.ts
  packages/world-model/src/capabilities/scene-runtime-binding.ts
  packages/world-model/src/traits/character-model/conversation-scene.ts
  stories/dungeo/src/version.ts
Due: eslint --fix, prettier --write

feat(parser-en-us,stdlib,story-loader,engine,ide,stories): ADR-320 Phases 10.5-10.7 — continuation prompts, thread wire + save/restore proof, Ides of March on threads; Phase 10 closes
  docs/context/archive/session-20260817-1102-feat-adr-320-implementation.md
  docs/context/session-20260817-2115-feat-adr-320-implementation.md
  docs/work/adr-320-conversation/plan.md
  packages/chord/src/stdlib-manifest.ts
  packages/engine/tests/integration/channel-bootstrap.test.ts
  packages/parser-en-us/grammar/standard-en-us.story
  packages/parser-en-us/src/grammar.ts
  packages/parser-en-us/src/platform-grammar.ts
  packages/parser-en-us/tests/adr-320-continuation-prompts.test.ts
  packages/sharpee/docs/genai-api/index.md
  packages/sharpee/docs/genai-api/stdlib.md
  packages/stdlib/src/actions/helpers/dialogue-selector.ts
  packages/stdlib/src/actions/standard/talking/talking.ts
  packages/stdlib/src/channels/index.ts
  packages/stdlib/src/channels/scene.ts
  packages/stdlib/src/channels/standard.ts
  packages/story-loader/src/runtime.ts
  packages/story-loader/tests/adr-320-phase10-threads.test.ts
  stories/character-acceptance/chord/p10-threads.story
  stories/character-acceptance/tests/transcripts/p10-continuation-prompts.transcript
  stories/character-acceptance/tests/transcripts/p10-park-across-day.transcript
  stories/character-acceptance/tests/transcripts/p10-save.transcript
  stories/character-acceptance/tests/transcripts/p10-saved-restore.transcript
  stories/dungeo/src/version.ts
  stories/ides-of-march/chord/ides-of-march.story
  stories/ides-of-march/tests/transcripts/cornered-locked.transcript
  stories/ides-of-march/tests/transcripts/cornered.transcript
  stories/ides-of-march/tests/transcripts/thread-restore.transcript
  stories/ides-of-march/tests/transcripts/thread-save.transcript
  stories/ides-of-march/tests/transcripts/threads-defection.transcript
  stories/ides-of-march/tests/transcripts/threads-drilling.transcript
  stories/ides-of-march/tests/transcripts/threads-suspicion.transcript
  stories/ides-of-march/walkthroughs/wt-01-the-errand.transcript
  tools/ide/web/testing-surface/src/main.ts
  tools/ide/web/testing-surface/src/scene.ts
  tools/ide/web/testing-surface/tests/scene.test.ts
  website/src/app/chord/stdlib/reference/grammar-blocks.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md})
