Repository ChicagoDave/sharpee: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md}": [
    "prettier --write"
  ]
}

docs: mark chat overlay Phase 4 complete in deep dive
  docs/work/zifmia/reflections-ux-deep-dive.md
Due: prettier --write

chore: bump package versions to 0.9.92 after npm publish
  packages/core/package.json
  packages/engine/package.json
  packages/event-processor/package.json
  packages/extensions/basic-combat/package.json
  packages/extensions/testing/package.json
  packages/if-domain/package.json
  packages/if-services/package.json
  packages/lang-en-us/package.json
  packages/parser-en-us/package.json
  packages/platform-browser/package.json
  packages/plugin-npc/package.json
  packages/plugin-scheduler/package.json
  packages/plugin-state-machine/package.json
  packages/plugins/package.json
  packages/sharpee/package.json
  packages/stdlib/package.json
  packages/text-blocks/package.json
  packages/text-service/package.json
  packages/transcript-tester/package.json
  packages/world-model/package.json
  packages/zifmia/package.json
  stories/dungeo/package.json
Due: prettier --write

feat: death prompt — Undo / Restore / Restart / Quit on player death
  docs/context/session-20260219-1803-main.md
  packages/sharpee/package.json
  packages/zifmia/package.json
  packages/zifmia/src-tauri/Cargo.toml
  packages/zifmia/src-tauri/tauri.conf.json
  packages/zifmia/src/components/transcript/CommandInput.tsx
  packages/zifmia/src/context/GameContext.tsx
  packages/zifmia/src/runner/index.tsx
  packages/zifmia/src/styles/themes.css
  packages/zifmia/src/types/game-state.ts
  packages/zifmia/src/version.ts
  stories/dungeo/package.json
  stories/dungeo/src/version.ts
Due: eslint --fix, prettier --write

feat: auto-generate Claude API reference from .d.ts declarations
  CLAUDE.md
  build.sh
  docs/claude-api/combat.md
  docs/claude-api/core.md
  docs/claude-api/engine.md
  docs/claude-api/event-processor.md
  docs/claude-api/if-domain.md
  docs/claude-api/if-services.md
  docs/claude-api/index.md
  docs/claude-api/lang.md
  docs/claude-api/parser.md
  docs/claude-api/plugins.md
  docs/claude-api/stdlib.md
  docs/claude-api/text.md
  docs/claude-api/world-model.md
  scripts/generate-claude-api.js
Due: prettier --write

fix: move claude-api docs into @sharpee/sharpee package for npm distribution
  CLAUDE.md
  packages/sharpee/docs/claude-api/combat.md
  packages/sharpee/docs/claude-api/core.md
  packages/sharpee/docs/claude-api/engine.md
  packages/sharpee/docs/claude-api/event-processor.md
  packages/sharpee/docs/claude-api/if-domain.md
  packages/sharpee/docs/claude-api/if-services.md
  packages/sharpee/docs/claude-api/index.md
  packages/sharpee/docs/claude-api/lang.md
  packages/sharpee/docs/claude-api/parser.md
  packages/sharpee/docs/claude-api/plugins.md
  packages/sharpee/docs/claude-api/stdlib.md
  packages/sharpee/docs/claude-api/text.md
  packages/sharpee/docs/claude-api/world-model.md
  packages/sharpee/package.json
  scripts/generate-claude-api.js
Due: prettier --write

refactor: rename claude-api to genai-api, add GENAI.md proposal
  CLAUDE.md
  build.sh
  docs/proposals/genai-package-metadata.md
  packages/sharpee/docs/genai-api/combat.md
  packages/sharpee/docs/genai-api/core.md
  packages/sharpee/docs/genai-api/engine.md
  packages/sharpee/docs/genai-api/event-processor.md
  packages/sharpee/docs/genai-api/if-domain.md
  packages/sharpee/docs/genai-api/if-services.md
  packages/sharpee/docs/genai-api/index.md
  packages/sharpee/docs/genai-api/lang.md
  packages/sharpee/docs/genai-api/parser.md
  packages/sharpee/docs/genai-api/plugins.md
  packages/sharpee/docs/genai-api/stdlib.md
  packages/sharpee/docs/genai-api/text.md
  packages/sharpee/docs/genai-api/world-model.md
  packages/sharpee/package.json
  scripts/generate-genai-api.js
Due: prettier --write

docs: add genai-api check directive to CLAUDE.md
  CLAUDE.md
Due: prettier --write

chore: add ADR-134, update gitignore, archive old sessions
  .gitignore
  docs/architecture/adrs/adr-134-generic-if-transcript-tester.md
  docs/context/archive/session-20260216-2338-main.md
  docs/context/archive/session-20260216-2341-main.md
  docs/context/archive/session-20260218-0931-main.md
  docs/context/archive/session-20260218-1718-main.md
  docs/context/archive/session-20260218-1829-main.md
  docs/context/archive/session-20260218-1831-main.md
  docs/context/archive/session-20260218-1832-main.md
  docs/context/archive/session-20260218-1924-main.md
  docs/context/archive/session-20260218-2003-main.md
  docs/context/archive/session-20260218-2030-main.md
  docs/context/archive/session-20260218-2142-main.md
  docs/context/archive/session-20260218-2235-main.md
  docs/context/archive/session-20260218-2311-main.md
  docs/context/archive/session-20260218-2331-main.md
  docs/context/archive/session-20260218-2355-main.md
  docs/context/archive/session-20260219-0030-main.md
  docs/context/archive/session-20260219-0033-main.md
  docs/context/archive/session-20260219-1117-main.md
  docs/proposals/genai-package-metadata.md
Due: prettier --write

fix: register "hang" verb via getCustomVocabulary API
  stories/cloak-of-darkness/src/index.ts
Due: eslint --fix, prettier --write

fix: use story-level EventProcessor handlers for game events
  stories/cloak-of-darkness/src/index.ts
Due: eslint --fix, prettier --write

fix: remove GO_ENHANCED action and clean up imports
  stories/cloak-of-darkness/src/index.ts
Due: eslint --fix, prettier --write

feat: add @sharpee/runtime package for headless iframe embedding
  build.sh
  docs/context/plan.md
  docs/context/session-20260317-0349-main.md
  docs/guides/README.md
  docs/guides/creating-a-language-implementation.md
  docs/work/runtime/plan-20260317-0400.md
  packages/runtime/README.md
  packages/runtime/package.json
  packages/runtime/runtime-frame.html
  packages/runtime/src/bridge.ts
  packages/runtime/src/index.ts
  packages/runtime/src/protocol.ts
  packages/runtime/src/runtime-entry.ts
  packages/runtime/test-harness.html
  packages/runtime/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

docs: resolve ADR-135 open questions and mark runtime README incomplete
  docs/architecture/adrs/adr-135-native-engine-bridge-protocol.md
  docs/context/session-20260314-2006-main.md
  docs/context/session-20260320-1854-main.md
  packages/runtime/README.md
Due: prettier --write

feat: add bridge package, fix grating/skeleton-key bugs, fix parser instrument patterns
  build.sh
  docs/architecture/adrs/adr-135-native-engine-bridge-protocol.md
  docs/context/archive/session-20260219-1152-main.md
  docs/context/archive/session-20260219-1350-main.md
  docs/context/archive/session-20260219-1420-main.md
  docs/context/archive/session-20260219-1721-main.md
  docs/context/plan.md
  docs/context/session-20260323-1905-main.md
  docs/work/issues/issue-053-grating-key-wiring.md
  docs/work/issues/issues-list-04.md
  packages/bridge/package.json
  packages/bridge/src/bridge-entry.ts
  packages/bridge/src/bridge.ts
  packages/bridge/src/index.ts
  packages/bridge/src/protocol.ts
  packages/bridge/tsconfig.json
  packages/parser-en-us/src/grammar.ts
  pnpm-lock.yaml
  stories/dungeo/src/index.ts
  stories/dungeo/src/regions/forest.ts
  stories/dungeo/src/regions/maze.ts
  stories/dungeo/tests/transcripts/grating-key.transcript
  stories/dungeo/tests/transcripts/tiny-room-puzzle.transcript
Due: eslint --fix, prettier --write

feat: add Family Zoo tutorial V11-V14 (NPCs, events, custom actions, capability dispatch)
  checkpoints/after-leaflet.json
  docs/context/archive/session-20260314-2006-main.md
  docs/context/plan.md
  docs/context/session-20260324-0010-main.md
  packages/sharpee/docs/genai-api/index.md
  pnpm-lock.yaml
  tutorials/familyzoo/docs/v11-npcs.md
  tutorials/familyzoo/docs/v12-event-handlers.md
  tutorials/familyzoo/docs/v13-custom-actions.md
  tutorials/familyzoo/docs/v14-capability-dispatch.md
  tutorials/familyzoo/package.json
  tutorials/familyzoo/src/index.ts
  tutorials/familyzoo/src/v11.ts
  tutorials/familyzoo/src/v12.ts
  tutorials/familyzoo/src/v13.ts
  tutorials/familyzoo/src/v14.ts
  tutorials/familyzoo/tests/transcripts/v11-npcs.transcript
  tutorials/familyzoo/tests/transcripts/v12-event-handlers.transcript
  tutorials/familyzoo/tests/transcripts/v13-custom-actions.transcript
  tutorials/familyzoo/tests/transcripts/v14-capability-dispatch.transcript
  tutorials/familyzoo/tsconfig.json
Due: eslint --fix, prettier --write

feat: complete Family Zoo tutorial with V15 timed events and V16 scoring/endgame
  docs/context/archive/session-20260317-0349-main.md
  docs/context/plan.md
  docs/context/session-20260324-0056-main.md
  docs/work/issues/issues-list-04.md
  packages/sharpee/docs/genai-api/index.md
  pnpm-lock.yaml
  tutorials/familyzoo/docs/tutorial.md
  tutorials/familyzoo/docs/v15-timed-events.md
  tutorials/familyzoo/docs/v16-scoring-endgame.md
  tutorials/familyzoo/package.json
  tutorials/familyzoo/src/index.ts
  tutorials/familyzoo/src/v15.ts
  tutorials/familyzoo/src/v16.ts
  tutorials/familyzoo/tests/transcripts/v15-timed-events.transcript
  tutorials/familyzoo/tests/transcripts/v16-scoring.transcript
  tutorials/familyzoo/tsconfig.json
Due: eslint --fix, prettier --write

fix: correct scoring in Family Zoo V16 and fix false positive transcript assertions
  docs/context/archive/session-20260320-1854-main.md
  docs/context/session-20260324-1909-main.md
  packages/sharpee/docs/genai-api/index.md
  packages/sharpee/docs/genai-api/lang.md
  tutorials/familyzoo/src/v16.ts
  tutorials/familyzoo/tests/transcripts/v16-scoring.transcript
Due: eslint --fix, prettier --write

feat: add Family Zoo tutorial V17 with multi-file org and after-hours phase
  docs/context/archive/session-20260323-1905-main.md
  docs/context/plan.md
  docs/context/session-20260325-0048-main.md
  tutorials/familyzoo/src/index.ts
  tutorials/familyzoo/src/v17/characters.ts
  tutorials/familyzoo/src/v17/events.ts
  tutorials/familyzoo/src/v17/index.ts
  tutorials/familyzoo/src/v17/language.ts
  tutorials/familyzoo/src/v17/scoring.ts
  tutorials/familyzoo/src/v17/zoo-items.ts
  tutorials/familyzoo/src/v17/zoo-map.ts
Due: eslint --fix, prettier --write

fix: correct connectRooms signature, AuthorModel import, and addMessage API in npm regression test
  npm-test/src/index.ts
Due: eslint --fix, prettier --write

fix: add wearing/taking_off grammar to regression story and fix transcript assertions
  npm-test/src/index.ts
  npm-test/tests/transcripts/08-wearable.transcript
Due: eslint --fix, prettier --write

fix: simplify wearable transcript to avoid post-wear inventory issue
  npm-test/tests/transcripts/08-wearable.transcript
Due: none

fix: add [SKIP] assertions to bare commands in 5 transcripts
  npm-test/tests/transcripts/02-scenery.transcript
  npm-test/tests/transcripts/04-containers.transcript
  npm-test/tests/transcripts/10-npc.transcript
  npm-test/tests/transcripts/12-custom-action.transcript
  npm-test/tests/transcripts/14-timed-events.transcript
Due: none

fix: fix 4 failing transcript tests
  npm-test/tests/transcripts/02-scenery.transcript
  npm-test/tests/transcripts/04-containers.transcript
  npm-test/tests/transcripts/12-custom-action.transcript
  npm-test/tests/transcripts/14-timed-events.transcript
Due: none

fix: simplify daemon to runOnce with manual turn counter
  npm-test/src/index.ts
  npm-test/tests/transcripts/14-timed-events.transcript
Due: eslint --fix, prettier --write

fix: use DO/UNTIL loop for NPC randomness test
  npm-test/tests/transcripts/10-npc.transcript
Due: none

fix: assert on lock failure message instead of SKIP
  npm-test/tests/transcripts/04-containers.transcript
Due: none

fix: use DO/UNTIL for daemon and fuse timing tests
  npm-test/tests/transcripts/14-timed-events.transcript
Due: none

fix: lock test uses contains_any for parser scope failure
  npm-test/tests/transcripts/04-containers.transcript
Due: none

docs: add npm-publish guide with tsf prerequisites and regression test
  docs/guides/npm-publish.md
Due: prettier --write

docs: update session summary with npm regression test results and publish guide
  docs/context/session-20260325-1243-main.md
Due: prettier --write

docs: add CS foundations document explaining Sharpee engine design
  docs/architecture/sharpee-computer-science.md
  docs/context/archive/session-20260324-1909-main.md
  docs/context/session-20260326-1553-main.md
Due: prettier --write

docs: create implementation plans for 13 open issues and triage issues list
  docs/context/archive/session-20260325-0048-main.md
  docs/context/session-20260326-1553-main.md
  docs/context/session-20260326-1612-main.md
  docs/work/issues/issues-list-04.md
  docs/work/issues/plans/issue-032-plan.md
  docs/work/issues/plans/issue-050-plan.md
  docs/work/issues/plans/issue-057-plan.md
  docs/work/issues/plans/issue-058-plan.md
  docs/work/issues/plans/issue-059-plan.md
  docs/work/issues/plans/issue-060-plan.md
  docs/work/issues/plans/issue-061-plan.md
  docs/work/issues/plans/issue-062-plan.md
  docs/work/issues/plans/issue-063-plan.md
  docs/work/issues/plans/issue-064-plan.md
  docs/work/issues/plans/issue-065-plan.md
  docs/work/issues/plans/issue-066-plan.md
  docs/work/issues/plans/issue-067-plan.md
Due: prettier --write

fix: resolve multi-word alias resolution and NPC inventory scope leak
  docs/context/session-20260326-1612-main.md
  docs/work/issues/issues-list-04.md
  docs/work/issues/plans/issue-057-plan.md
  packages/stdlib/src/scope/scope-resolver.ts
  packages/stdlib/src/validation/command-validator.ts
  packages/stdlib/tests/unit/actions/taking-golden.test.ts
  packages/stdlib/tests/validation/entity-alias-resolution.test.ts
  packages/world-model/src/traits/implementations.ts
  packages/world-model/src/traits/index.ts
  packages/world-model/src/traits/open-inventory/index.ts
  packages/world-model/src/traits/open-inventory/openInventoryTrait.ts
  packages/world-model/src/traits/trait-types.ts
Due: eslint --fix, prettier --write

refactor: eliminate 61 trait-access `as any` casts (ISSUE-063 Phase 1)
  docs/context/archive/session-20260325-2133-main.md
  docs/context/plan.md
  docs/context/session-20260326-1950-main.md
  docs/work/dungeo/issues/issues-list-01.md
  docs/work/issues/issues-list-04.md
  docs/work/issues/plans/issue-063-plan.md
  docs/work/plan-20260326-1958.md
  packages/stdlib/src/combat/weapon-utils.ts
  packages/stdlib/src/npc/behaviors.ts
  packages/stdlib/src/npc/npc-service.ts
  packages/stdlib/src/npc/types.ts
  packages/stdlib/src/scope/scope-resolver.ts
  packages/world-model/src/behaviors/attack.ts
  packages/world-model/src/entities/if-entity.ts
  packages/world-model/src/traits/room/index.ts
  packages/world-model/src/world/AuthorModel.ts
  packages/world-model/src/world/VisibilityBehavior.ts
  packages/world-model/src/world/WorldModel.ts
  packages/world-model/tests/unit/author-model.test.ts
  packages/world-model/tests/unit/entities/if-entity.test.ts
  packages/world-model/tests/unit/world/author-model.test.ts
Due: eslint --fix, prettier --write

fix: resolve failing engine and world-model tests (save/load API, trait defaults, deleted stale tests)
  packages/engine/package.json
  packages/engine/tests/game-engine.test.ts
  packages/engine/tests/stories/minimal-test-story.ts
  packages/engine/tests/story.test.ts
  packages/engine/tests/unit/scheduler/scheduler-service.test.ts
  packages/plugin-scheduler/package.json
  packages/plugins/package.json
  packages/world-model/tests/integration/room-navigation.test.ts
  packages/world-model/tests/unit/entities/if-entity.test.ts
  packages/world-model/tests/unit/entity-system-updates.test.ts
  packages/world-model/tests/unit/traits/bell-pull.test.ts
  packages/world-model/tests/unit/traits/cord.test.ts
  packages/world-model/tests/unit/traits/dial.test.ts
  packages/world-model/tests/unit/traits/entry.test.ts
  packages/world-model/tests/unit/traits/fragile.test.ts
  packages/world-model/tests/unit/traits/lever.test.ts
  packages/world-model/tests/unit/traits/light-source.test.ts
  packages/world-model/tests/unit/traits/trait-combinations.test.ts
  packages/world-model/tests/unit/traits/turnable.test.ts
  packages/world-model/tests/unit/traits/vehicle-composition.test.ts
  packages/world-model/tests/unit/world/event-chaining.test.ts
  packages/world-model/tests/unit/world/visibility-behavior.test.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

refactor: remove legacy event sequencing layer, emit ISemanticEvent directly (ISSUE-063 Phase 2A)
  docs/context/plan.md
  packages/bridge/src/bridge.ts
  packages/bridge/src/index.ts
  packages/engine/src/command-executor.ts
  packages/engine/src/event-adapter.ts
  packages/engine/src/event-sequencer.ts
  packages/engine/src/game-engine.ts
  packages/engine/src/index.ts
  packages/engine/src/save-restore-service.ts
  packages/engine/src/turn-event-processor.ts
  packages/engine/src/types.ts
  packages/engine/tests/command-executor.test.ts
  packages/engine/tests/event-sequencer.test.ts
  packages/engine/tests/fixtures/index.ts
  packages/engine/tests/game-engine.test.ts
  packages/engine/tests/historical-accuracy.test.ts
  packages/engine/tests/integration.test.ts
  packages/engine/tests/integration/command-history.test.ts
  packages/engine/tests/types.test.ts
  packages/engine/tests/unit/scheduler/scheduler-service.test.ts
  packages/if-domain/src/index.ts
  packages/if-domain/src/sequencing.ts
  packages/platform-browser/src/BrowserClient.ts
  packages/platform-browser/src/types.ts
  packages/platforms/browser-en-us/src/browser-platform.ts
  packages/platforms/cli-en-us/src/cli-platform.ts
  packages/platforms/cli-en-us/src/cli-query.ts
  packages/runtime/src/index.ts
  packages/sharpee/src/index.ts
  packages/transcript-tester/src/story-loader.ts
  packages/zifmia/src/types/game-state.ts
  stories/dungeo/src/browser-entry.ts
Due: eslint --fix, prettier --write
