Repository ChicagoDave/sharpee: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md}": [
    "prettier --write"
  ]
}

fix(dungeo): Fix wt-05 transcript, document --chain flag
  CLAUDE.md
  docs/work/dungeo/parser-regression.md
  stories/dungeo/tests/transcripts/wt-05-egyptian-room.transcript
Due: prettier --write

fix(dungeo): Fix Tiny Room puzzle - room connections were E/W not N/S
  docs/work/dungeo/parser-regression.md
  stories/dungeo/src/regions/underground.ts
Due: eslint --fix, prettier --write

fix(dungeo): Rewrite maze connections to match 1981 MDL source
  docs/context/session-20260112-1021-dungeo.md
  docs/work/dungeo/mazes-audit.md
  docs/work/dungeo/parser-regression.md
  stories/dungeo/src/regions/coal-mine.ts
  stories/dungeo/src/regions/maze.ts
  stories/dungeo/tests/transcripts/maze-loops.transcript
  stories/dungeo/tests/transcripts/maze-navigation.transcript
  stories/dungeo/tests/transcripts/wt-03-maze-cyclops-goal.transcript
Due: eslint --fix, prettier --write

fix(dungeo): Audit and fix scoring against 1981 MDL source
  docs/context/session-20260112-1113-dungeo.md
  docs/work/dungeo/points-audit.md
  stories/dungeo/src/actions/send/send-action.ts
  stories/dungeo/src/actions/turn-switch/turn-switch-action.ts
  stories/dungeo/src/handlers/coal-machine-handler.ts
  stories/dungeo/src/index.ts
  stories/dungeo/src/npcs/thief/thief-behavior.ts
  stories/dungeo/src/regions/bank-of-zork.ts
  stories/dungeo/src/regions/coal-mine.ts
  stories/dungeo/src/regions/dam.ts
  stories/dungeo/src/regions/forest.ts
  stories/dungeo/src/regions/frigid-river.ts
  stories/dungeo/src/regions/maze.ts
  stories/dungeo/src/regions/round-room.ts
  stories/dungeo/src/regions/royal-puzzle.ts
  stories/dungeo/src/regions/temple.ts
  stories/dungeo/src/regions/underground.ts
  stories/dungeo/src/regions/volcano.ts
  stories/dungeo/src/regions/well-room.ts
Due: eslint --fix, prettier --write

fix(dungeo): Correct treasure OFVAL/OTVAL values against 1981 MDL source
  CLAUDE.md
  stories/dungeo/src/actions/turn-switch/turn-switch-action.ts
  stories/dungeo/src/handlers/coal-machine-handler.ts
  stories/dungeo/src/index.ts
  stories/dungeo/src/npcs/thief/thief-behavior.ts
  stories/dungeo/src/regions/bank-of-zork.ts
  stories/dungeo/src/regions/coal-mine.ts
  stories/dungeo/src/regions/dam.ts
  stories/dungeo/src/regions/forest.ts
  stories/dungeo/src/regions/frigid-river.ts
  stories/dungeo/src/regions/maze.ts
  stories/dungeo/src/regions/temple.ts
  stories/dungeo/src/regions/underground.ts
  stories/dungeo/src/regions/volcano.ts
  stories/dungeo/src/regions/well-room.ts
Due: eslint --fix, prettier --write

feat(hooks): Add PostToolUse hook for incremental work logging
  .claude/hooks/post-tool-use.sh
  .claude/hooks/session-finalize.sh
  .claude/hooks/session-start.sh
  .claude/settings.json
Due: prettier --write

docs: Add session summaries from Jan 10-12 2026
  docs/context/points-context.txt
  docs/context/session-20260110-2003-parser-refactor.md
  docs/context/session-20260110-2249-dungeo.md
  docs/context/session-20260110-2317-dungeo.md
  docs/context/session-20260111-0053-dungeo.md
  docs/context/session-20260111-0056-dungeo.md
  docs/context/session-20260111-1103-dungeo.md
  docs/context/session-20260111-2036-dungeo.md
  docs/context/session-20260111-2141-dungeo.md
  docs/context/session-20260111-2231-dungeo.md
  docs/context/session-20260112-0130-dungeo.md
  docs/context/session-20260112-1013-dungeo.md
  docs/context/session-20260112-1217-dungeo.md
  docs/context/session-20260112-1322-dungeo.md
  docs/context/session-20260112-1349-dungeo.md
Due: prettier --write

fix(hooks): Remove success field check from PostToolUse hook
  .claude/hooks/post-tool-use.sh
Due: none

feat(dungeo): Implement LIGHT-SHAFT achievement (10 pts)
  docs/work/dungeo/points-audit.md
  stories/dungeo/src/index.ts
  stories/dungeo/tests/transcripts/room-scoring.transcript
Due: eslint --fix, prettier --write

feat(dungeo): Implement death penalty (-10 pts/death, game over after 2)
  docs/work/dungeo/points-audit.md
  stories/dungeo/src/handlers/death-penalty-handler.ts
  stories/dungeo/src/handlers/index.ts
  stories/dungeo/src/index.ts
Due: eslint --fix, prettier --write

docs: Add session summary for FORTRAN scoring audit completion
  docs/context/session-20260112-1439-dungeo.md
Due: prettier --write

fix(dungeo): Fix dam region map connections and diagnose adjective system
  docs/architecture/adrs/adr-093-i18n-entity-vocabulary.md
  docs/context/session-20260112-1930-dungeo.md
  stories/dungeo/src/actions/index.ts
  stories/dungeo/src/handlers/death-penalty-handler.ts
  stories/dungeo/src/index.ts
  stories/dungeo/src/regions/bank-of-zork.ts
  stories/dungeo/src/regions/dam.ts
  stories/dungeo/src/regions/round-room.ts
Due: eslint --fix, prettier --write

feat(platform): Add adjective disambiguation to entity vocabulary (ADR-093)
  docs/architecture/adrs/adr-093-i18n-entity-vocabulary.md
  docs/context/session-20260112-2211-dungeo.md
  packages/engine/src/game-engine.ts
  packages/world-model/src/traits/identity/identityTrait.ts
  stories/dungeo/src/regions/dam.ts
Due: eslint --fix, prettier --write

chore(dungeo): Move walkthrough transcripts out of tests/
  stories/dungeo/walkthroughs/wt-01-get-torch-early.transcript
  stories/dungeo/walkthroughs/wt-02-bank-puzzle.transcript
  stories/dungeo/walkthroughs/wt-03-maze-cyclops-goal.transcript
  stories/dungeo/walkthroughs/wt-04-dam-reservoir.transcript
  stories/dungeo/walkthroughs/wt-05-egyptian-room.transcript
Due: none

fix(dungeo): Fix bundle script and remove debug logs
  scripts/bundle-dungeo.sh
  stories/dungeo/src/handlers/dam-handler.ts
  stories/dungeo/src/scheduler/index.ts
Due: eslint --fix, prettier --write

feat(platform): Add ADR-094 Event Chaining and implementation plan
  docs/architecture/adrs/adr-094-event-chaining.md
  docs/work/chaining/implementation-plan.md
  packages/stdlib/src/actions/standard/opening/opening-events.ts
  packages/stdlib/src/actions/standard/opening/opening.ts
Due: eslint --fix, prettier --write

feat(platform): Implement event chaining API (ADR-094 Phase 1)
  docs/context/session-20260113-0037-chaining.md
  docs/work/chaining/implementation-plan.md
  packages/world-model/src/world/WorldModel.ts
  packages/world-model/src/world/index.ts
  packages/world-model/tests/unit/world/event-chaining.test.ts
Due: eslint --fix, prettier --write

feat(platform): Implement stdlib event chains (ADR-094 Phase 2)
  docs/context/session-20260113-0100-chaining.md
  docs/work/chaining/implementation-plan.md
  packages/engine/src/game-engine.ts
  packages/stdlib/src/chains/index.ts
  packages/stdlib/src/chains/opened-revealed.ts
  packages/stdlib/src/index.ts
  packages/stdlib/tests/unit/chains/opened-revealed.test.ts
Due: eslint --fix, prettier --write

docs: Add ADR-095 Message Templates with Formatters
  docs/architecture/adrs/adr-095-message-templates.md
  docs/context/session-20260113-0130-chaining.md
Due: prettier --write

feat(platform): Add transactionId for event chain grouping (ADR-094)
  docs/architecture/adrs/adr-094-event-chaining.md
  docs/architecture/adrs/adr-096-text-service.md
  docs/context/session-20260113-1030-chaining.md
  packages/world-model/src/world/WorldModel.ts
  packages/world-model/tests/unit/world/event-chaining.test.ts
Due: eslint --fix, prettier --write

feat(text): Implement text pipeline and formatter system (ADR-095, ADR-096)
  docs/context/session-20260113-1334-client.md
  docs/work/client/README.md
  packages/lang-en-us/src/formatters/article.ts
  packages/lang-en-us/src/formatters/index.ts
  packages/lang-en-us/src/formatters/list.ts
  packages/lang-en-us/src/formatters/registry.ts
  packages/lang-en-us/src/formatters/text.ts
  packages/lang-en-us/src/formatters/types.ts
  packages/lang-en-us/src/index.ts
  packages/lang-en-us/src/language-provider.ts
  packages/lang-en-us/tests/formatters.test.ts
  packages/text-blocks/package.json
  packages/text-blocks/src/index.ts
  packages/text-blocks/src/types.ts
  packages/text-blocks/tsconfig.json
  packages/text-service/package.json
  packages/text-service/src/handlers/action.ts
  packages/text-service/src/handlers/generic.ts
  packages/text-service/src/handlers/index.ts
  packages/text-service/src/handlers/revealed.ts
  packages/text-service/src/handlers/room.ts
  packages/text-service/src/handlers/types.ts
  packages/text-service/src/index.ts
  packages/text-service/src/stages/assemble.ts
  packages/text-service/src/stages/filter.ts
  packages/text-service/src/stages/index.ts
  packages/text-service/src/stages/sort.ts
  packages/text-service/src/text-service.ts
  packages/text-service/tests/event-sorting.test.ts
  packages/text-service/vitest.config.ts
  packages/world-model/src/traits/identity/identityTrait.ts
Due: eslint --fix, prettier --write

refactor(text-service): Wire up ADR-096 text service architecture
  docs/context/session-20260113-1441-client.md
  packages/engine/package.json
  packages/engine/src/game-engine.ts
  packages/engine/src/story.ts
  packages/engine/src/test-helpers/mock-text-service.ts
  packages/engine/tests/test-helpers/setup-test-engine.ts
  packages/engine/tsconfig.json
  packages/engine/vitest.config.ts
  packages/if-services/src/index.ts
  packages/if-services/src/text-service.ts
  packages/platforms/browser-en-us/src/index.ts
  packages/platforms/cli-en-us/src/index.ts
  packages/platforms/test/src/index.ts
  packages/sharpee/package.json
  packages/sharpee/src/index.ts
  packages/sharpee/tsconfig.json
  packages/text-service/src/text-service.ts
  packages/transcript-tester/src/story-loader.ts
  packages/transcript-tester/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(stdlib): Add adjective fallback for entity resolution
  docs/context/session-20260114-0130-adjective-resolution.md
  package.json
  packages/engine/src/command-executor.ts
  packages/platforms/browser-en-us/package.json
  packages/platforms/test/package.json
  packages/stdlib/src/validation/command-validator.ts
  packages/stdlib/tests/unit/validation/command-validator-golden.test.ts
  packages/text-service-browser/demo/index.html
  packages/text-service-browser/package.json
  packages/text-service-browser/src/index.html
  packages/text-service-browser/src/index.ts
  packages/text-service-browser/src/narrative-text-service.ts
  packages/text-service-browser/src/standard-text-service.ts
  packages/text-service-browser/src/style.css
  packages/text-service-browser/tsconfig.json
  packages/text-service-template/package.json
  packages/text-service-template/src/index.ts
  packages/text-service-template/tests/platform-events.test.ts
  packages/text-service-template/tsconfig.json
  packages/text-services/.vitest-results.json
  packages/text-services/README.md
  packages/text-services/package.json
  packages/text-services/src/cli-events-text-service.ts
  packages/text-services/src/index.ts
  packages/text-services/src/standard-text-service.ts
  packages/text-services/src/template-text-service.ts
  packages/text-services/tests/standard-text-service.test.ts
  packages/text-services/tests/text-services.test.ts
  packages/text-services/tsconfig.json
  packages/text-services/vitest.config.ts
  packages/transcript-tester/package.json
  pnpm-lock.yaml
  scripts/build-all-dungeo.sh
  scripts/bundle-entry.js
  scripts/bundle-sharpee.sh
  stories/cloak-of-darkness/package.json
  stories/dungeo/package.json
  stories/dungeo/src/scheduler/scheduler-messages.ts
  stories/reflections/package.json
Due: eslint --fix, prettier --write

feat(engine): Wire up system events and fix adjective resolution after scope
  docs/context/session-20260114-0148-dungeo.md
  packages/engine/src/command-executor.ts
  packages/engine/src/game-engine.ts
  packages/stdlib/src/validation/command-validator.ts
  scripts/build-all-dungeo.sh
Due: eslint --fix, prettier --write

feat(dungeo): Fix TR-001 playtest issues and add terminal client ADR
  CLAUDE.md
  docs/architecture/adrs/adr-098-terminal-client.md
  docs/context/session-20260114-0244-dungeo.md
  docs/context/session-20260114-0935-dungeo.md
  docs/testing/README.md
  docs/testing/tr-001-actual.txt
  docs/testing/tr-001-fixes.md
  docs/testing/tr-001-open-trap-door.txt
  docs/testing/tr-001.txt
  packages/lang-en-us/src/actions/going.ts
  packages/parser-en-us/src/grammar.ts
  packages/stdlib/src/actions/standard/looking/looking-data.ts
  packages/text-service/src/text-service.ts
  packages/transcript-tester/src/runner.ts
  stories/dungeo/src/index.ts
  stories/dungeo/src/regions/house-interior.ts
  stories/dungeo/src/regions/underground.ts
  stories/dungeo/tests/transcripts/rug-trapdoor.transcript
Due: eslint --fix, prettier --write

feat(dungeo): Fix P1 room descriptions from 1981 MDL source
  docs/context/session-20260114-1050-dungeo.md
  docs/testing/tr-002-comparison.md
  docs/testing/tr-002.txt
  stories/dungeo/src/regions/round-room.ts
  stories/dungeo/src/regions/underground.ts
  stories/dungeo/src/regions/well-room.ts
  stories/dungeo/tests/transcripts/p1-fixes-verification.transcript
Due: eslint --fix, prettier --write

feat(dungeo): Fix ANSWER action for Riddle Room puzzle and verify P0 fixes
  docs/context/session-20260114-1153-dungeo.md
  stories/dungeo/src/actions/answer/answer-action.ts
  stories/dungeo/tests/transcripts/p0-simple.transcript
Due: eslint --fix, prettier --write

docs: Add parser architecture comparison (TADS, Inform, Hugo, Sharpee)
  docs/architecture/parser-comparison.md
Due: prettier --write

docs: Fix Sharpee grammar examples in parser comparison
  docs/architecture/parser-comparison.md
Due: prettier --write

docs: Clarify .hasTrait(slot, trait) is slot-specific constraint
  docs/architecture/parser-comparison.md
Due: prettier --write

feat(dungeo): Add trap door auto-close handler
  docs/context/session-20260114-1153-dungeo.md
  stories/dungeo/src/handlers/index.ts
  stories/dungeo/src/handlers/trapdoor-handler.ts
  stories/dungeo/src/index.ts
Due: eslint --fix, prettier --write

docs: Update TR-002 comparison - all P0 issues fixed
  docs/testing/tr-002-comparison.md
Due: prettier --write

fix(dungeo): Match room descriptions exactly to 1981 MDL source
  stories/dungeo/src/index.ts
  stories/dungeo/src/regions/forest.ts
  stories/dungeo/src/regions/house-interior.ts
  stories/dungeo/src/regions/underground.ts
  stories/dungeo/src/regions/white-house.ts
Due: eslint --fix, prettier --write

docs: Update TR-002 - all P3 text issues fixed
  docs/testing/tr-002-comparison.md
Due: prettier --write

docs: Add ADR-091 Graphical Client Architecture
  docs/architecture/adrs/adr-091-graphical-client-architecture.md
Due: prettier --write

docs: Add session summary for P0/P3 fixes
  docs/context/session-20260114-1718-dungeo.md
Due: prettier --write

docs: Update ADR index with recent ADRs
  docs/architecture/adrs/README.md
Due: prettier --write

docs: Update ADR status from alpha to beta
  docs/architecture/adrs/README.md
Due: prettier --write
