Repository ChicagoDave/sharpee: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat(ide): P1 step 1.5 + session persistence — save, dirty marker, restore on launch
  docs/context/session-20260509-1400-main.md
  tools/ide/SharpeeIDE/AppDelegate.swift
  tools/ide/SharpeeIDE/Editor/Document.swift
  tools/ide/SharpeeIDE/Editor/EditorViewController.swift
  tools/ide/SharpeeIDE/Editor/TabBarView.swift
  tools/ide/SharpeeIDE/MainWindow.swift
  tools/ide/SharpeeIDE/Menus/MenuBuilder.swift
  tools/ide/SharpeeIDE/Persistence/SessionState.swift
  tools/ide/SharpeeIDE/Project/ProjectTreeViewController.swift
Due: prettier --write

feat(sound): ADR-174 prose pipeline + Phase 7a audibility handler
  .devarch
  CLAUDE.md
  docs/architecture/adrs/adr-174-decoration-and-prose-pipeline.md
  docs/context/archive/session-20260508-1229-main.md
  docs/context/session-20260509-2352-main.md
  docs/work/adr-172-sound/plan-20260509-phase7-audibility-prose-handler.md
  docs/work/text-service-removal/audit-20260509-removal-options.md
  packages/text-service/src/handlers/audibility.ts
  packages/text-service/src/handlers/index.ts
  packages/text-service/src/text-service.ts
  packages/text-service/tests/handlers/audibility.test.ts
Due: eslint --fix, prettier --write

feat(engine): ADR-174 Phase 1.1 — decoration primitives
  docs/work/adr-174-prose-pipeline/plan-20260509-phase1.md
  packages/engine/src/prose-pipeline/decorations/index.ts
  packages/engine/src/prose-pipeline/decorations/parser.ts
  packages/engine/src/prose-pipeline/decorations/platform-vocabulary.ts
  packages/engine/src/prose-pipeline/decorations/resolver.ts
  packages/engine/src/prose-pipeline/decorations/types.ts
  packages/engine/tests/prose-pipeline/decorations/parser.test.ts
  packages/engine/tests/prose-pipeline/decorations/platform-vocabulary.test.ts
  packages/engine/tests/prose-pipeline/decorations/resolver.test.ts
Due: eslint --fix, prettier --write

feat(text-blocks): ADR-174 Phase 1.2 — IDecoration shape change
  packages/bridge/src/index.ts
  packages/engine/src/prose-pipeline/decorations/types.ts
  packages/platform-browser/src/channels/text-content.ts
  packages/runtime/src/index.ts
  packages/text-blocks/src/guards.ts
  packages/text-blocks/src/index.ts
  packages/text-blocks/src/types.ts
  packages/text-service/src/cli-renderer.ts
  packages/text-service/src/decoration-parser.ts
  packages/text-service/src/index.ts
  packages/text-service/tests/cli-renderer.test.ts
  packages/text-service/tests/decoration-parser.test.ts
  packages/text-service/tests/stages/assemble.test.ts
  packages/text-service/tests/test-helpers.ts
Due: eslint --fix, prettier --write

feat(engine): ADR-174 Phase 1.3 — port pipeline stages
  packages/engine/src/prose-pipeline/assemble.ts
  packages/engine/src/prose-pipeline/stages/filter.ts
  packages/engine/src/prose-pipeline/stages/index.ts
  packages/engine/src/prose-pipeline/stages/sort.ts
  packages/engine/tests/prose-pipeline/assemble.test.ts
  packages/engine/tests/prose-pipeline/stages/filter.test.ts
  packages/engine/tests/prose-pipeline/stages/sort.test.ts
Due: eslint --fix, prettier --write

feat(engine): ADR-174 Phase 1.4 — port handlers to prose pipeline
  packages/engine/src/prose-pipeline/handlers/about.ts
  packages/engine/src/prose-pipeline/handlers/audibility.ts
  packages/engine/src/prose-pipeline/handlers/client-query.ts
  packages/engine/src/prose-pipeline/handlers/command-failed.ts
  packages/engine/src/prose-pipeline/handlers/domain-message.ts
  packages/engine/src/prose-pipeline/handlers/game.ts
  packages/engine/src/prose-pipeline/handlers/generic.ts
  packages/engine/src/prose-pipeline/handlers/help.ts
  packages/engine/src/prose-pipeline/handlers/implicit-take.ts
  packages/engine/src/prose-pipeline/handlers/index.ts
  packages/engine/src/prose-pipeline/handlers/revealed.ts
  packages/engine/src/prose-pipeline/handlers/room.ts
  packages/engine/src/prose-pipeline/handlers/types.ts
  packages/engine/tests/prose-pipeline/handlers/about.test.ts
  packages/engine/tests/prose-pipeline/handlers/audibility.test.ts
  packages/engine/tests/prose-pipeline/handlers/game.test.ts
  packages/engine/tests/prose-pipeline/handlers/generic.test.ts
  packages/engine/tests/prose-pipeline/handlers/help.test.ts
  packages/engine/tests/prose-pipeline/handlers/revealed.test.ts
  packages/engine/tests/prose-pipeline/handlers/room.test.ts
  packages/engine/tests/prose-pipeline/test-helpers.ts
Due: eslint --fix, prettier --write

feat(engine): ADR-174 Phase 1.5 — ProsePipeline class
  packages/engine/src/prose-pipeline/index.ts
  packages/engine/src/prose-pipeline/pipeline.ts
  packages/engine/src/prose-pipeline/types.ts
  packages/engine/src/test-helpers/mock-prose-pipeline.ts
  packages/engine/tests/prose-pipeline/pipeline.test.ts
Due: eslint --fix, prettier --write

chore(stdlib): delete deprecated ReadOnlyActionContext
  packages/stdlib/src/actions/context.ts
  packages/stdlib/src/actions/index.ts
Due: eslint --fix, prettier --write

feat(engine): ADR-174 Phase 1.6 — cut engine over to ProsePipeline
  packages/engine/package.json
  packages/engine/src/game-engine.ts
  packages/engine/src/test-helpers/mock-text-service.ts
  packages/engine/tests/game-engine.test.ts
  packages/engine/tests/integration/command-history.test.ts
  packages/engine/vitest.config.ts
  packages/sharpee/docs/genai-api/engine.md
  packages/sharpee/docs/genai-api/if-domain.md
  packages/sharpee/docs/genai-api/index.md
  packages/sharpee/docs/genai-api/lang.md
  packages/sharpee/docs/genai-api/stdlib.md
  packages/sharpee/docs/genai-api/text.md
  packages/sharpee/docs/genai-api/world-model.md
  pnpm-lock.yaml
  stories/dungeo/src/version.ts
Due: eslint --fix, prettier --write

feat(platform-browser): ADR-174 Phase 1.7 — platform CSS shipping (AC-7)
  build.sh
  docs/work/adr-174-prose-pipeline/ac7-smoke-test.html
  docs/work/adr-174-prose-pipeline/plan-20260509-phase1.md
  packages/platform-browser/tests/channels/main.test.ts
  packages/platform-browser/tests/channels/text-content.test.ts
  packages/sharpee/docs/genai-api/index.md
  stories/dungeo/src/version.ts
  templates/browser/decorations.css
  templates/browser/index.html
  website/public/web/dungeo/game.js
  website/public/web/dungeo/index.html
Due: eslint --fix, prettier --write

docs(adr-174): mark Phase 1 ACCEPTED
  docs/architecture/adrs/adr-174-decoration-and-prose-pipeline.md
Due: prettier --write

docs(adr-174): Phase 1 work summary + Phase 2 plan
  docs/context/archive/session-20260508-1902-main.md
  docs/context/session-20260509-2300-adr-174-phase1-prose-pipeline.md
  docs/work/text-service-removal/plan-20260510-phase2.md
Due: prettier --write

docs(adr-174): resolve OQ-1 to channel-service; supersede Phase 2 plan
  docs/architecture/adrs/adr-174-decoration-and-prose-pipeline.md
  docs/context/session-20260509-2300-adr-174-phase1-prose-pipeline.md
  docs/work/adr-174-prose-pipeline/plan-20260509-phase1.md
  docs/work/adr-174-prose-pipeline/plan-20260510-phase2.md
  docs/work/text-service-removal/plan-20260510-phase2.md
Due: prettier --write

feat(channel-service): ADR-174 Phase 2.1 — port renderToString from text-service
  packages/channel-service/src/index.ts
  packages/channel-service/src/render-to-string.ts
  packages/channel-service/tests/ac-16-cleanup-grep-gate.test.ts
  packages/channel-service/tests/render-to-string.test.ts
Due: eslint --fix, prettier --write

feat(transcript-tester): ADR-174 Phase 2.2 — migrate to channel-service; defer cloak
  docs/architecture/adrs/adr-174-decoration-and-prose-pipeline.md
  docs/work/adr-174-prose-pipeline/plan-20260510-phase2.md
  packages/transcript-tester/package.json
  packages/transcript-tester/src/story-loader.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(bridge,runtime,sharpee): ADR-174 Phase 2.3 — re-route re-exports; clean bundle entry
  docs/work/adr-174-prose-pipeline/plan-20260510-phase2.md
  packages/bridge/package.json
  packages/bridge/src/index.ts
  packages/runtime/package.json
  packages/runtime/src/index.ts
  packages/sharpee/docs/genai-api/index.md
  packages/sharpee/package.json
  packages/sharpee/src/index.ts
  pnpm-lock.yaml
  scripts/bundle-entry.js
  scripts/test-bundle-template.js
  stories/dungeo/src/version.ts
Due: eslint --fix, prettier --write

docs(adr-174): Phase 2 ACCEPTED — final regression + AC-8 verification
  docs/architecture/adrs/adr-174-decoration-and-prose-pipeline.md
  docs/work/adr-174-prose-pipeline/plan-20260510-phase2.md
  docs/work/channel-io-unification/text-service-disposition-20260503.md
  packages/sharpee/docs/genai-api/index.md
  stories/dungeo/src/version.ts
  website/public/web/dungeo/game.js
Due: eslint --fix, prettier --write

docs(adr-174): session summary for Phase 2 (e69699)
  docs/context/archive/session-20260509-0159-main.md
  docs/context/session-20260510-0637-adr-174-phase2-consumer-migration.md
Due: prettier --write

chore(sonar): expand CPD exclusions for tests, build artifacts, parallel barrels
  sonar-project.properties
Due: none

fix(ci): build text-blocks before if-domain; drop text-service from CI
  .github/workflows/beta-release.yml
  .github/workflows/build-platforms.yml
  build.sh
  package.json
Due: prettier --write

fix(platform-browser): declare @sharpee/stdlib as peer + dev dep
  packages/platform-browser/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(build): every dual-export package now builds dist-esm in its build script
  packages/channel-service/package.json
  packages/core/package.json
  packages/engine/package.json
  packages/event-processor/package.json
  packages/if-domain/package.json
  packages/if-services/package.json
  packages/lang-en-us/package.json
  packages/media/package.json
  packages/parser-en-us/package.json
  packages/plugin-npc/package.json
  packages/plugin-scheduler/package.json
  packages/plugin-state-machine/package.json
  packages/plugins/package.json
  packages/sharpee/package.json
  packages/stdlib/package.json
  packages/text-blocks/package.json
  packages/transcript-tester/package.json
  packages/world-model/package.json
Due: prettier --write

chore(sonar): single-line properties + add coverage exclusions
  sonar-project.properties
Due: none

refactor: address SonarCloud production-code findings
  build.sh
  packages/channel-service/src/render-to-string.ts
  packages/engine/src/prose-pipeline/decorations/parser.ts
  packages/engine/src/prose-pipeline/stages/sort.ts
  packages/engine/src/test-helpers/mock-prose-pipeline.ts
  templates/browser/decorations.css
Due: eslint --fix, prettier --write

refactor(tests): parameterize + extract helpers to remove real duplication
  packages/channel-service/tests/render-to-string.test.ts
  packages/engine/tests/prose-pipeline/decorations/parser.test.ts
  packages/engine/tests/prose-pipeline/decorations/resolver.test.ts
  packages/engine/tests/prose-pipeline/pipeline.test.ts
  packages/engine/tests/prose-pipeline/stages/filter.test.ts
Due: eslint --fix, prettier --write

docs(adr-175): Zifmia multi-user product ADR — ACCEPTED
  docs/architecture/adrs/adr-175-zifmia-multiuser-product.md
  docs/context/archive/session-20260509-1400-main.md
  docs/context/session-20260510-1530-zifmia-rename-and-adr-175.md
Due: prettier --write

docs(claude): split root CLAUDE.md into per-package files
  CLAUDE.md
  docs/context/archive/session-20260509-2352-main.md
  docs/context/session-20260510-2342-claude-md-package-split.md
  packages/lang-en-us/CLAUDE.md
  packages/parser-en-us/CLAUDE.md
  packages/sharpee/CLAUDE.md
  packages/stdlib/CLAUDE.md
  packages/world-model/CLAUDE.md
Due: prettier --write

docs(claude): fix stale branch ref + add stdlib pointer in root CLAUDE.md
  CLAUDE.md
  docs/context/.active-session
Due: prettier --write

docs(claude): fix stale action-file pattern + testing plan path
  CLAUDE.md
  packages/stdlib/CLAUDE.md
Due: prettier --write

docs(session): expand CLAUDE.md split summary to cover all three commits
  docs/context/session-20260510-2342-claude-md-package-split.md
Due: prettier --write

chore: remove stale tsconfig project references
  docs/context/archive/session-20260509-2300-adr-174-phase1-prose-pipeline.md
  docs/context/session-20260511-0000-tsconfig-stale-references.md
  tsconfig.json
Due: prettier --write

chore: remove 3 stale pnpm-workspace entries
  docs/context/session-20260511-0000-tsconfig-stale-references.md
  pnpm-workspace.yaml
Due: prettier --write

feat(zifmia): Phase 1 scaffolding, storage adapter, /health (ADR-175)
  docs/context/archive/session-20260510-0637-adr-174-phase2-consumer-migration.md
  docs/context/session-20260511-0040-main.md
  docs/work/zifmia/plan-20260511-adr-175.md
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tools/zifmia/.dockerignore
  tools/zifmia/.env.example
  tools/zifmia/.gitignore
  tools/zifmia/Dockerfile
  tools/zifmia/README.md
  tools/zifmia/docker-compose.yml
  tools/zifmia/package.json
  tools/zifmia/src/cli.ts
  tools/zifmia/src/index.ts
  tools/zifmia/src/server/health.ts
  tools/zifmia/src/server/index.ts
  tools/zifmia/src/storage/adapter.ts
  tools/zifmia/src/storage/index.ts
  tools/zifmia/src/storage/migrate-cli.ts
  tools/zifmia/src/storage/migrate.ts
  tools/zifmia/src/storage/postgres/postgres-adapter.ts
  tools/zifmia/src/storage/resolve.ts
  tools/zifmia/src/storage/sqlite/schema.ts
  tools/zifmia/src/storage/sqlite/sqlite-adapter.ts
  tools/zifmia/src/storage/types.ts
  tools/zifmia/tests/server/health.test.ts
  tools/zifmia/tests/storage/adapter-contract.ts
  tools/zifmia/tests/storage/sqlite-adapter.test.ts
  tools/zifmia/tsconfig.json
  tools/zifmia/vitest.config.ts
Due: eslint --fix, prettier --write

docs(zifmia): Phase 2 spike — no framework, match platform-browser (ADR-175)
  docs/context/session-20260511-0040-main.md
  docs/work/zifmia/plan-20260511-adr-175.md
  spikes/zifmia-renderer/findings.md
Due: prettier --write

docs(adrs): ADR-176 multi-user component vocabulary (PROPOSED)
  docs/architecture/adrs/adr-176-multi-user-component-vocabulary.md
  docs/context/archive/session-20260510-1330-adr-174-phase3-text-service-deletion.md
  docs/context/session-20260511-0040-main.md
Due: prettier --write

feat(ide): P1 step 1.6 complete (Recent Projects + tests) + P4 step 4.1 partial
  docs/context/session-20260511-0110-main-ide.md
  docs/work/sharpee-ide/plan-20260510-step-1.6.md
  docs/work/sharpee-ide/plan-20260511-p4-build-integration.md
  tools/ide/SharpeeIDE/AppDelegate.swift
  tools/ide/SharpeeIDE/MainWindow.swift
  tools/ide/SharpeeIDE/Menus/MenuBuilder.swift
  tools/ide/SharpeeIDE/Persistence/RecentProjectsStore.swift
  tools/ide/SharpeeIDE/Persistence/SessionState.swift
  tools/ide/SharpeeIDE/Workspace/WorkspaceRoot.swift
  tools/ide/SharpeeIDETests/DisambiguationTests.swift
  tools/ide/SharpeeIDETests/DocumentTests.swift
  tools/ide/SharpeeIDETests/RecentProjectsStoreTests.swift
  tools/ide/SharpeeIDETests/SessionStateTests.swift
  tools/ide/SharpeeIDETests/WorkspaceRootTests.swift
  tools/ide/project.yml
Due: prettier --write

feat(zifmia): Phase 3a — identity routes + session middleware (ADR-175)
  docs/context/session-20260511-0040-main.md
  docs/work/zifmia/plan-20260511-adr-175.md
  tools/zifmia/src/auth/passcode.ts
  tools/zifmia/src/auth/session-token.ts
  tools/zifmia/src/server/auth-middleware.ts
  tools/zifmia/src/server/identity.ts
  tools/zifmia/src/server/index.ts
  tools/zifmia/src/storage/adapter.ts
  tools/zifmia/src/storage/index.ts
  tools/zifmia/src/storage/postgres/postgres-adapter.ts
  tools/zifmia/src/storage/sqlite/schema.ts
  tools/zifmia/src/storage/sqlite/sqlite-adapter.ts
  tools/zifmia/src/storage/types.ts
  tools/zifmia/tests/auth/passcode.test.ts
  tools/zifmia/tests/server/auth-middleware.test.ts
  tools/zifmia/tests/server/identity.test.ts
  tools/zifmia/tests/storage/adapter-contract.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md})
