Repository ChicagoDave/sharpee: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

test: add direction vocabulary tests (ADR-143)
  packages/parser-en-us/tests/direction-vocabulary.test.ts
  packages/world-model/tests/unit/direction-vocabulary.test.ts
Due: eslint --fix, prettier --write

chore: bump package versions to 0.9.105 after npm publish
  docs/context/.session-state.json
  docs/context/archive/session-20260403-0934-fix-remove-createEntityWithTraits.md
  packages/core/package.json
  packages/engine/package.json
  packages/event-processor/package.json
  packages/extensions/basic-combat/package.json
  packages/extensions/testing/package.json
  packages/helpers/package.json
  packages/if-domain/package.json
  packages/if-services/package.json
  packages/lang-en-us/package.json
  packages/media/package.json
  packages/parser-en-us/package.json
  packages/platform-browser/package.json
  packages/plugin-npc/package.json
  packages/plugin-scheduler/package.json
  packages/plugin-state-machine/package.json
  packages/plugins/package.json
  packages/sharpee/package.json
  packages/stdlib/package.json
  packages/text-blocks/package.json
  packages/text-service/package.json
  packages/transcript-tester/package.json
  packages/world-model/package.json
Due: prettier --write

feat: implement ADR-141 Character Model across 3 packages
  build.sh
  docs/context/.session-state.json
  docs/context/session-20260404-2238-feature-adr-141-character-model.md
  docs/reference/character-model.md
  docs/work/adr-141/plan-20260404-character-model.md
  packages/character/package.json
  packages/character/src/apply.ts
  packages/character/src/character-builder.ts
  packages/character/src/cognitive-presets.ts
  packages/character/src/index.ts
  packages/character/src/vocabulary-extension.ts
  packages/character/tests/character-builder.test.ts
  packages/character/tests/integration.test.ts
  packages/character/tsconfig.json
  packages/character/vitest.config.ts
  packages/stdlib/src/npc/character-messages.ts
  packages/stdlib/src/npc/character-observer.ts
  packages/stdlib/src/npc/index.ts
  packages/stdlib/src/npc/lucidity-decay.ts
  packages/stdlib/src/npc/npc-service.ts
  packages/stdlib/tests/unit/npc/character-observer.test.ts
  packages/world-model/src/index.ts
  packages/world-model/src/traits/all-traits.ts
  packages/world-model/src/traits/character-model/character-vocabulary.ts
  packages/world-model/src/traits/character-model/characterModelTrait.ts
  packages/world-model/src/traits/character-model/index.ts
  packages/world-model/src/traits/implementations.ts
  packages/world-model/src/traits/index.ts
  packages/world-model/src/traits/trait-types.ts
  packages/world-model/tests/unit/traits/character-model.test.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: add @sharpee/character to root workspaces
  package.json
Due: prettier --write

chore: add @sharpee/character to umbrella package and re-export
  docs/work/blog/character.md
  packages/sharpee/package.json
  packages/sharpee/src/index.ts
  packages/sharpee/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: bump @sharpee/character version to 0.9.106
  packages/character/package.json
Due: prettier --write

chore: add @sharpee/character to ts-forge.config.json projects
  ts-forge.config.json
Due: prettier --write

chore: remove blog post draft
  docs/work/blog/character.md
Due: prettier --write

chore: bump package versions to 0.9.106, update genai-api docs
  docs/context/.session-state.json
  packages/bridge/package.json
  packages/core/package.json
  packages/engine/package.json
  packages/event-processor/package.json
  packages/extensions/basic-combat/package.json
  packages/extensions/testing/package.json
  packages/helpers/package.json
  packages/if-domain/package.json
  packages/if-services/package.json
  packages/lang-en-us/package.json
  packages/media/package.json
  packages/parser-en-us/package.json
  packages/platform-browser/package.json
  packages/plugin-npc/package.json
  packages/plugin-scheduler/package.json
  packages/plugin-state-machine/package.json
  packages/plugins/package.json
  packages/runtime/package.json
  packages/sharpee/docs/genai-api/index.md
  packages/sharpee/docs/genai-api/stdlib.md
  packages/sharpee/docs/genai-api/world-model.md
  packages/stdlib/package.json
  packages/text-blocks/package.json
  packages/text-service/package.json
  packages/transcript-tester/package.json
  packages/world-model/package.json
  packages/zifmia/package.json
  stories/dungeo/package.json
  stories/dungeo/src/version.ts
  stories/entropy/package.json
  tutorials/familyzoo/package.json
Due: eslint --fix, prettier --write

docs: resolve ADR-142 open questions and add ADRs 144-146 for NPC behavior chain
  docs/architecture/adrs/adr-142-conversation-system.md
  docs/architecture/adrs/adr-144-information-propagation.md
  docs/architecture/adrs/adr-145-npc-goal-pursuit.md
  docs/architecture/adrs/adr-146-npc-influence.md
  docs/context/.session-state.json
  docs/context/archive/session-20260401-1511-main.md
  docs/context/archive/session-20260403-1030-refactor-worldmodel.md
  docs/context/session-20260404-2357-main.md
Due: prettier --write

docs: complete test suite review and testing mitigation plan
  docs/context/session-20260406-0221-main.md
  docs/work/test-review/SUMMARY.md
  docs/work/test-review/core.md
  docs/work/test-review/engine.md
  docs/work/test-review/event-processor-forge-if-domain-character-extensions.md
  docs/work/test-review/lang-en-us.md
  docs/work/test-review/parser-en-us.md
  docs/work/test-review/plan-20260406-testing-mitigation.md
  docs/work/test-review/stdlib-golden-actions-a-l.md
  docs/work/test-review/stdlib-golden-actions-m-z.md
  docs/work/test-review/stdlib-non-golden.md
  docs/work/test-review/world-model-other-and-stories.md
  docs/work/test-review/world-model-traits.md
Due: prettier --write

docs: complete test inventory — 3,164 tests classified with runtime verification
  docs/work/test-review/INVENTORY.md
  docs/work/test-review/classify-batch1.sql
  docs/work/test-review/classify-batch2.sql
  docs/work/test-review/classify-batch3.sql
  docs/work/test-review/classify-batch4.sql
  docs/work/test-review/classify-batch5.sql
  docs/work/test-review/classify-batch6.sql
  docs/work/test-review/classify-batch7.sql
  docs/work/test-review/create-db.sql
  docs/work/test-review/populate-db.sh
  docs/work/test-review/runtime-failures.md
  docs/work/test-review/tests.db
Due: prettier --write

fix: Phase 2 — fix 2 source bugs, 2 test bugs, clean console.log from 9 files
  packages/engine/tests/historical-accuracy.test.ts
  packages/extensions/basic-combat/tests/combat-service.test.ts
  packages/if-domain/src/grammar/scope-builder.ts
  packages/lang-en-us/src/data/events.ts
  packages/lang-en-us/tests/coverage-improvements.test.ts
  packages/parser-en-us/tests/colored-buttons.test.ts
  packages/parser-en-us/tests/push-panel-pattern.test.ts
  packages/parser-en-us/tests/walk-through-pattern.test.ts
  packages/stdlib/tests/unit/scope/scope-resolver.test.ts
  packages/stdlib/tests/validation/entity-alias-resolution.test.ts
  packages/world-model/src/world/SpatialIndex.ts
  packages/world-model/tests/scope/darkness-light.test.ts
  packages/world-model/tests/unit/world/get-in-scope.test.ts
  packages/world-model/tests/unit/world/spatial-index.test.ts
  stories/cloak-of-darkness/tests/cloak-of-darkness.test.ts
Due: eslint --fix, prettier --write

docs: session summary for Phase 1+2 test suite review and mitigation
  docs/context/archive/session-20260403-1200-feature-entity-helpers.md
  docs/context/session-20260406-0221-main.md
  docs/context/session-20260406-0335-testing-mitigation.md
  packages/sharpee/docs/genai-api/index.md
  stories/dungeo/src/version.ts
Due: eslint --fix, prettier --write

test: Phase 3+4 — 23 mutation tests added, 40 unskipped, 12 dead deleted
  docs/context/archive/session-20260403-1609-main.md
  docs/context/session-20260406-0338-testing-mitigation.md
  docs/work/test-review/plan-20260406-testing-mitigation.md
  packages/engine/tests/integration/command-history.test.ts
  packages/parser-en-us/tests/colored-buttons.test.ts
  packages/stdlib/tests/unit/actions/attacking-golden.test.ts
  packages/stdlib/tests/unit/actions/climbing-golden.test.ts
  packages/stdlib/tests/unit/actions/dropping-golden.test.ts
  packages/stdlib/tests/unit/actions/eating-golden.test.ts
  packages/stdlib/tests/unit/actions/opening-golden.test.ts
  packages/stdlib/tests/unit/actions/pushing-golden.test.ts
  packages/stdlib/tests/unit/actions/searching-golden.test.ts
  packages/stdlib/tests/unit/actions/showing-golden.test.ts
  packages/stdlib/tests/unit/actions/talking-golden.test.ts
  packages/stdlib/tests/unit/actions/unlocking-golden.test.ts
Due: eslint --fix, prettier --write

test: Phases 5-7 — consolidate 3 test files, add 60 behavioral/coverage tests
  docs/context/archive/session-20260403-1607-main.md
  docs/context/session-20260406-1104-testing-mitigation.md
  docs/work/test-review/plan-20260406-testing-mitigation.md
  packages/core/tests/events/platform-events.test.ts
  packages/core/tests/events/typed-events.test.ts
  packages/core/tests/extensions/registry.test.ts
  packages/core/tests/query/query-manager.test.ts
  packages/core/tests/random/seeded-random.test.ts
  packages/event-processor/tests/unit/entity-handlers.test.ts
  packages/event-processor/tests/unit/processor-reactions.test.ts
  packages/lang-en-us/tests/coverage-improvements.test.ts
  packages/lang-en-us/tests/formatters.test.ts
  packages/lang-en-us/tests/integration.test.ts
  packages/lang-en-us/tests/language-provider.test.ts
  packages/parser-en-us/tests/grammar-scope-cross-location.test.ts
  packages/parser-en-us/tests/grammar-scope.test.ts
  packages/world-model/tests/scope/darkness-light.test.ts
  packages/world-model/tests/unit/traits/container.test.ts
  packages/world-model/tests/unit/traits/exit.test.ts
  packages/world-model/tests/unit/traits/openable.test.ts
  packages/world-model/tests/unit/traits/supporter.test.ts
  packages/world-model/tests/unit/traits/wearable.test.ts
Due: eslint --fix, prettier --write

test: Phase 8 — test grading infrastructure and Stryker mutation config
  .gitignore
  docs/context/archive/session-20260404-2238-feature-adr-141-character-model.md
  docs/context/session-20260406-1500-testing-mitigation.md
  package.json
  pnpm-lock.yaml
  scripts/grade-tests.sh
  stryker.config.json
Due: prettier --write

feat: implement NPC behavior chain Phases 1-5 (ADR-142, 144, 145)
  docs/context/archive/session-20260404-2357-main.md
  docs/context/dashboard.html
  docs/context/session-20260407-0145-feature-npc-behavior-chain.md
  docs/work/npc-behavior-chain/plan-20260406-npc-behavior-chain.md
  packages/character/src/conversation/acl.ts
  packages/character/src/conversation/builder.ts
  packages/character/src/conversation/constraint-evaluator.ts
  packages/character/src/conversation/dialogue-extension.ts
  packages/character/src/conversation/dialogue-types.ts
  packages/character/src/conversation/index.ts
  packages/character/src/conversation/lifecycle.ts
  packages/character/src/conversation/response-types.ts
  packages/character/src/conversation/topic-registry.ts
  packages/character/src/goals/goal-activation.ts
  packages/character/src/goals/goal-types.ts
  packages/character/src/goals/index.ts
  packages/character/src/goals/pathfinding.ts
  packages/character/src/goals/step-evaluator.ts
  packages/character/src/index.ts
  packages/character/src/propagation/fact-transfer.ts
  packages/character/src/propagation/index.ts
  packages/character/src/propagation/propagation-evaluator.ts
  packages/character/src/propagation/propagation-types.ts
  packages/character/src/propagation/visibility.ts
  packages/character/tests/conversation/acl.test.ts
  packages/character/tests/conversation/builder.test.ts
  packages/character/tests/conversation/constraint-evaluator.test.ts
  packages/character/tests/conversation/dialogue-extension.test.ts
  packages/character/tests/conversation/lifecycle.test.ts
  packages/character/tests/conversation/topic-registry.test.ts
  packages/character/tests/goals/goals.test.ts
  packages/character/tests/propagation/propagation.test.ts
  packages/character/tests/propagation/visibility.test.ts
Due: eslint --fix, prettier --write

docs: brainstorm and design The Alderman murder mystery story
  CLAUDE.md
  checkpoints/after-leaflet.json
  docs/brainstorm/overview.md
  docs/context/.session-state.json
  docs/context/archive/session-20260406-0338-testing-mitigation.md
  docs/context/session-20260407-2124-feature-npc-behavior-chain.md
  stories/thealderman/docs/design.md
Due: prettier --write

fix: add interceptor onBlocked support to opening and closing actions
  packages/stdlib/src/actions/standard/closing/closing.ts
  packages/stdlib/src/actions/standard/opening/opening.ts
Due: eslint --fix, prettier --write

docs: add direction vocabularies author guide
  docs/context/.session-state.json
  docs/guides/direction-vocabularies.md
Due: prettier --write

docs: add stub session summary from April 4th session
  docs/context/session-20260404-0301-main.md
Due: prettier --write

fix: treat blank command output as test failure
  packages/transcript-tester/src/runner.ts
Due: eslint --fix, prettier --write

docs: add ADR-147 equivalent objects and 11 new IF design patterns
  docs/architecture/adrs/adr-147-equivalent-objects-and-groups.md
  docs/context/.session-state.json
  docs/context/archive/session-20260406-1104-testing-mitigation.md
  docs/context/session-20260409-0132-feature-npc-behavior-chain.md
  website/src/data/patterns.json
Due: prettier --write

chore: add .session-state.json to .gitignore
  .gitignore
  docs/context/.session-state.json
Due: prettier --write

fix: replace Math.random with crypto.randomUUID for event IDs
  packages/character/src/tick-phases.ts
Due: eslint --fix, prettier --write

ci: update GitHub Actions workflows to match current build order
  .github/workflows/beta-release.yml
  .github/workflows/build-platforms.yml
Due: none

fix: add missing @sharpee/core dependency to character package
  packages/character/package.json
  pnpm-lock.yaml
Due: prettier --write

ci: add missing extension packages to build order
  .github/workflows/beta-release.yml
  .github/workflows/build-platforms.yml
Due: none

docs: update all READMEs and remove forge package
  README.md
  packages/forge/README.md
  packages/forge/TODO-IMPLEMENT.md
  packages/forge/examples/example-stories.ts
  packages/forge/package.json
  packages/forge/src/builders/door-builder.ts
  packages/forge/src/builders/index.ts
  packages/forge/src/builders/story-builder.ts
  packages/forge/src/common-types.ts
  packages/forge/src/context/index.ts
  packages/forge/src/events/index.ts
  packages/forge/src/forge-story.ts
  packages/forge/src/forge.ts
  packages/forge/src/index.ts
  packages/forge/src/templates/index.ts
  packages/forge/src/types.ts
  packages/forge/src/utils/index.ts
  packages/forge/tests/forge.test.ts
  packages/forge/tsconfig.json
  packages/lang-en-us/README.md
  packages/sharpee/README.md
  packages/stdlib/README.md
  pnpm-workspace.yaml
Due: eslint --fix, prettier --write

fix: resolve all SonarQube issues in character package
  packages/character/src/character-builder.ts
  packages/character/src/conversation/acl.ts
  packages/character/src/conversation/builder.ts
  packages/character/src/conversation/constraint-evaluator.ts
  packages/character/src/conversation/dialogue-extension.ts
  packages/character/src/conversation/lifecycle.ts
  packages/character/src/conversation/topic-registry.ts
  packages/character/src/goals/builder.ts
  packages/character/src/goals/goal-activation.ts
  packages/character/src/goals/pathfinding.ts
  packages/character/src/goals/step-evaluator.ts
  packages/character/src/influence/builder.ts
  packages/character/src/influence/influence-duration.ts
  packages/character/src/influence/influence-evaluator.ts
  packages/character/src/propagation/propagation-evaluator.ts
  packages/character/src/propagation/propagation-types.ts
  packages/character/src/tick-phases.ts
  packages/character/tests/conversation/builder.test.ts
  packages/character/tests/conversation/constraint-evaluator.test.ts
  packages/character/tests/conversation/dialogue-extension.test.ts
  packages/character/tests/goals/goal-builder.test.ts
  packages/character/tests/goals/goals.test.ts
  packages/character/tests/influence/influence.test.ts
  packages/character/tests/influence/round-trip.test.ts
  packages/character/tests/propagation/builder.test.ts
  packages/character/tests/propagation/propagation.test.ts
  packages/character/tests/tick-phases/integration-fragment.test.ts
  packages/character/tests/tick-phases/save-restore.test.ts
  packages/stdlib/src/npc/npc-service.ts
Due: eslint --fix, prettier --write

test: fix pre-existing test failures in world-model and parser-en-us
  packages/parser-en-us/tests/parser-integration.test.ts
  packages/world-model/tests/integration/container-hierarchies.test.ts
  packages/world-model/tests/unit/author-model.test.ts
  packages/world-model/tests/unit/behaviors/weapon.test.ts
Due: eslint --fix, prettier --write

fix: add missing vitest aliases for engine package
  packages/engine/vitest.config.ts
Due: eslint --fix, prettier --write

docs: update session summary with CI fixes and cleanup work
  docs/context/session-20260409-0132-feature-npc-behavior-chain.md
Due: prettier --write

fix: combat message IDs bypassed action-ID prefix in attacking action
  docs/context/archive/session-20260406-1500-testing-mitigation.md
  docs/context/session-20260409-0258-main.md
  packages/stdlib/package.json
  packages/stdlib/src/actions/standard/attacking/attacking.ts
Due: eslint --fix, prettier --write

feat: scaffold TheAlderman story as character-package reference implementation
  docs/context/session-20260409-0258-main.md
  stories/thealderman/docs/author-checklist.md
  stories/thealderman/docs/design.md
  stories/thealderman/package.json
  stories/thealderman/src/actions/accuse-action.ts
  stories/thealderman/src/actions/index.ts
  stories/thealderman/src/index.ts
  stories/thealderman/src/messages.ts
  stories/thealderman/src/npcs/index.ts
  stories/thealderman/src/objects/index.ts
  stories/thealderman/src/randomization.ts
  stories/thealderman/src/rooms/index.ts
  stories/thealderman/src/version.ts
  stories/thealderman/tsconfig.json
Due: eslint --fix, prettier --write

feat: add adr-review skill and update session summary
  .claude/skills/adr-review/SKILL.md
  docs/context/session-20260409-0258-main.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md})
