Repository ChicagoDave/sharpee: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

docs(adr): ADR-210 Chord story language — ACCEPTED (design + review + owner decisions)
  docs/architecture/adrs/adr-210-story-language.md
  docs/context/archive/session-20260704-1745-main.md
  docs/context/session-20260710-1000-main.md
  docs/work/fluent/dream-cloak.md
  docs/work/story-language/design.md
  docs/work/story-language/prereqs.md
  docs/work/story-language/sketch.md
Due: prettier --write

docs(site)+book: publish v2r2 book (run-11 gate green) and bump site to 2.2
  docs/context/session-20260710-1000-main.md
  docs/work/test-book/execution-log-20260710-run11.md
  site/family-zoo.html
  site/index.html
  site/news.html
  site/the-sharpee-book-v2.0.0.epub
  site/the-sharpee-book-v2.0.0.html
  site/the-sharpee-book-v2.0.0.pdf
Due: prettier --write

feat(story-loader): Phase A phase 4 — IR-driven world building, phrases, endings
  docs/context/session-20260710-1339-v2-210-chord-a.md
  docs/work/chord-phase-a/plan.md
  packages/helpers/package.json
  packages/if-domain/src/endings.ts
  packages/if-domain/src/index.ts
  packages/story-loader/package.json
  packages/story-loader/src/errors.ts
  packages/story-loader/src/index.ts
  packages/story-loader/src/loader.ts
  packages/story-loader/tests/loader.test.ts
  packages/story-loader/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(story-loader)+stdlib: Phase A phase 5 — Chord runtime (rules, ordinals, derived darkness, on-clause interceptor, seeded RNG)
  docs/context/session-20260710-1339-v2-210-chord-a.md
  docs/work/chord-phase-a/plan.md
  packages/stdlib/src/actions/standard/reading/reading.ts
  packages/story-loader/src/evaluator.ts
  packages/story-loader/src/index.ts
  packages/story-loader/src/loader.ts
  packages/story-loader/src/runtime.ts
  packages/story-loader/src/state-keys.ts
  packages/story-loader/tests/loader.test.ts
  packages/story-loader/tests/runtime.test.ts
Due: eslint --fix, prettier --write

fix(parser-en-us)+lang: wearing/taking_off review follow-ups — equip/unequip verbs, still_worn phrasing
  packages/lang-en-us/src/actions/dropping.ts
  packages/parser-en-us/src/grammar.ts
Due: eslint --fix, prettier --write

docs(chord): DDD review, givens 8+9 (no global flags; stickiness), Phase C ownership proposal + zoo sketch
  docs/architecture/chord-grammar-changes.md
  docs/context/session-20260711-0100-v2-210-chord-a.md
  docs/work/chord/ddd-review.md
  docs/work/chord/phase-c-ownership-proposal.md
  docs/work/chord/zoo-phase-c-sketch.story
  docs/work/story-language/design.md
Due: prettier --write

docs(chord): decision 5 — flag field type removed, trait-declared states (feedable case study)
  docs/context/session-20260711-0100-v2-210-chord-a.md
  docs/work/chord/phase-c-ownership-proposal.md
  docs/work/chord/zoo-phase-c-sketch.story
  docs/work/story-language/design.md
Due: prettier --write

docs(chord): decision 6 — must-form requirements, refuse-when-not gated (single closed form)
  docs/context/session-20260711-0100-v2-210-chord-a.md
  docs/work/chord/phase-c-ownership-proposal.md
  docs/work/chord/zoo-phase-c-sketch.story
Due: prettier --write

docs(chord): decisions 7-8 — if removed from the language; change gated to named states (no boolean cheating)
  docs/context/session-20260711-0100-v2-210-chord-a.md
  docs/work/chord/phase-c-ownership-proposal.md
  docs/work/chord/zoo-phase-c-sketch.story
  docs/work/story-language/design.md
Due: prettier --write

docs(chord): decision 8 clarified — boolean gate is pattern detection (three rings, pos/neg states caught)
  docs/context/session-20260711-0100-v2-210-chord-a.md
  docs/work/chord/phase-c-ownership-proposal.md
  docs/work/story-language/design.md
Due: prettier --write

docs(chord): decisions 9-10 — sequence state anchors; owner-scoped narration (scoping conditions dissolve)
  docs/context/session-20260711-0100-v2-210-chord-a.md
  docs/work/chord/phase-c-ownership-proposal.md
  docs/work/chord/zoo-phase-c-sketch.story
Due: prettier --write

docs(chord): Phase C implementation plan — 6 phases, adversarially reviewed (2 blockers amended)
  docs/context/.current-plan
  docs/context/session-20260711-0100-v2-210-chord-a.md
  docs/work/chord-phase-c/plan.md
Due: prettier --write

docs(chord): Phase C P1 — 13 ratchet drafts + spike result (after-on-dispatch is loader-internal, zero platform changes)
  docs/context/session-20260711-0100-v2-210-chord-a.md
  docs/work/chord-phase-c/plan.md
  docs/work/chord-phase-c/ratchet-drafts.md
Due: prettier --write

docs(chord): Phase C P1 complete — 14 ratchet entries APPROVED (CP2/CP5/CP6 resolved), Phase 2 unblocked
  docs/architecture/chord-grammar-changes.md
  docs/context/session-20260711-0100-v2-210-chord-a.md
  docs/work/chord-phase-c/plan.md
  docs/work/chord-phase-c/ratchet-drafts.md
Due: prettier --write

docs(chord): hatch legitimacy rule — Sharpee-API or pure-computation only, chord.* keys off-limits (design.md §5.6; P5 retires gateStatus into pure Chord)
  docs/context/archive/session-20260710-0900-v2-209-book.md
  docs/context/session-20260711-2235-v2-210-chord-a.md
  docs/work/chord-phase-c/plan.md
  docs/work/story-language/design.md
Due: prettier --write

docs(chord)+adr: ADR-212/213 ACCEPTED (interviews complete) + zoo-surfaces Phase 3 re-cut + Z6 remove statement ratcheted + chord-212-213-seams package planned
  docs/architecture/adrs/adr-212-slot-contributions-as-data.md
  docs/architecture/adrs/adr-213-removed-from-play-signal.md
  docs/architecture/chord-grammar-changes.md
  docs/context/archive/session-20260712-0000-v2-210-chord-a.md
  docs/context/session-20260714-0351-v2-210-chord-a.md
  docs/work/chord-212-213-seams/plan.md
  docs/work/chord-zoo-surfaces/plan.md
  docs/work/chord-zoo-surfaces/ratchet-drafts.md
Due: prettier --write

feat(phrase)+stdlib+engine+stories: ADR-211 platform core COMPLETE (chord-211-core, all 4 phases) — Spliced atom, site-determined join rule, gate seam, bare-fragment flag day
  checkpoints/after-leaflet.json
  docs/architecture/adrs/adr-211-description-variety-phrase-system.md
  docs/context/archive/session-20260712-0312-v2-210-chord-a.md
  docs/context/session-20260714-0430-v2-210-chord-a.md
  docs/work/chord-211-core/plan.md
  packages/engine/src/snippet-validation.ts
  packages/engine/tests/unit/snippet-validation.test.ts
  packages/if-domain/src/phrase.ts
  packages/if-domain/tests/phrase/phrase-contracts.test.ts
  packages/lang-en-us/src/assembler/english-assembler.ts
  packages/lang-en-us/tests/assembler/snippet-splice.test.ts
  packages/lang-en-us/tests/assembler/spliced.test.ts
  packages/sharpee/docs/genai-api/engine.md
  packages/sharpee/docs/genai-api/if-domain.md
  packages/sharpee/docs/genai-api/index.md
  packages/stdlib/src/actions/standard/looking/index.ts
  packages/stdlib/src/actions/standard/looking/snippet-gate-registry.ts
  packages/stdlib/src/actions/standard/looking/snippet-resolver.ts
  packages/stdlib/tests/unit/actions/snippet-gate-registry.test.ts
  packages/stdlib/tests/unit/actions/snippet-resolver.test.ts
  stories/concealment-test/src/index.ts
  stories/dungeo/src/interceptors/melee-interceptor.ts
  stories/dungeo/src/interceptors/rug-push-interceptor.ts
  stories/dungeo/src/regions/dam.ts
  stories/dungeo/src/regions/frigid-river.ts
  stories/dungeo/src/regions/house-interior.ts
  stories/dungeo/src/regions/underground.ts
  stories/dungeo/src/regions/well-room.ts
  stories/dungeo/src/regions/white-house.ts
  stories/dungeo/src/version.ts
  stories/friendly-zoo/src/zoo-items.ts
Due: eslint --fix, prettier --write

feat(engine)+world-model+zoo: chord-212-213-seams COMPLETE (ADR-212 slot-entry registry + ADR-213 removal observer seam + zoo migration)
  checkpoints/after-leaflet.json
  docs/context/.current-plan
  docs/context/archive/session-20260712-0703-v2-210-chord-a.md
  docs/context/session-20260714-0146-v2-210-chord-a.md
  docs/work/chord-212-213-seams/plan.md
  packages/engine/src/game-engine.ts
  packages/engine/src/prose-pipeline/index.ts
  packages/engine/src/prose-pipeline/pipeline.ts
  packages/engine/src/prose-pipeline/types.ts
  packages/engine/src/test-helpers/mock-prose-pipeline.ts
  packages/engine/tests/prose-pipeline/slot-entries.test.ts
  packages/sharpee/docs/genai-api/engine.md
  packages/sharpee/docs/genai-api/index.md
  packages/sharpee/docs/genai-api/stdlib.md
  packages/sharpee/docs/genai-api/world-model.md
  packages/world-model/src/world/AuthorModel.ts
  packages/world-model/src/world/WorldModel.ts
  packages/world-model/src/world/index.ts
  packages/world-model/tests/unit/world/entity-removal-observer.test.ts
  stories/dungeo/src/version.ts
  stories/friendly-zoo/src/index.ts
  stories/friendly-zoo/src/version.ts
Due: eslint --fix, prettier --write

docs(chord): standalone chord.ebnf grammar extraction + chord-grammar.md Phase 2/3 sync (chord v1 lock, pre-3.0.0)
  .devarch/descriptor.json
  docs/context/.devarch-events-2d2ba5.jsonl
  docs/context/archive/.devarch-events-8c2c77.jsonl
  docs/context/archive/session-20260712-1656-v2-210-chord-a.md
  docs/context/session-20260714-0436-v2-210-chord-a.md
  docs/reference/chord-grammar.md
  docs/reference/chord.ebnf
  docs/work/blog-v2.md
  docs/work/phrase-1-prompt-md
  docs/work/phrase-2-prompt.md
Due: prettier --write

chore(release): 3.0.0 on npm — chord + story-loader added to publish set, lockstep version stamp
  docs/context/.devarch-events-2d2ba5.jsonl
  docs/context/session-20260714-0436-v2-210-chord-a.md
  packages/bootstrap/package.json
  packages/channel-service/package.json
  packages/character/package.json
  packages/chord/package.json
  packages/core/package.json
  packages/devkit/package.json
  packages/engine/package.json
  packages/event-processor/package.json
  packages/extensions/basic-combat/package.json
  packages/extensions/testing/package.json
  packages/helpers/package.json
  packages/ide-protocol/package.json
  packages/if-domain/package.json
  packages/if-services/package.json
  packages/lang-en-us/package.json
  packages/media/package.json
  packages/parser-en-us/package.json
  packages/platform-browser/package.json
  packages/plugin-npc/package.json
  packages/plugin-scheduler/package.json
  packages/plugin-state-machine/package.json
  packages/plugins/package.json
  packages/queries/package.json
  packages/sharpee/package.json
  packages/stdlib/package.json
  packages/story-loader/package.json
  packages/story-runtime-baseline/package.json
  packages/text-blocks/package.json
  packages/transcript-tester/package.json
  packages/world-model/package.json
  stories/dungeo/package.json
  ts-forge.config.json
Due: prettier --write

docs(site): Chord story language coverage — chord.html page, 3.0 version bump, news item, zoo.story reference
  docs/context/.devarch-events-297ac8.jsonl
  docs/context/.devarch-events-2d2ba5.jsonl
  docs/context/archive/session-20260713-1314-v2-210-chord-a.md
  docs/context/session-20260714-1008-main.md
  site/chord.html
  site/components.js
  site/family-zoo.html
  site/getting-started.html
  site/index.html
  site/news.html
Due: prettier --write

docs(chord)+zoo: chord-language reference Phases 1-3 (author doc + compile-checked fixtures) + ADR-210 drift-mechanism amendment + zoo.story 72-col rewrap
  docs/architecture/adrs/adr-210-story-language.md
  docs/context/.current-plan
  docs/context/.devarch-events-297ac8.jsonl
  docs/context/archive/session-20260714-0351-v2-210-chord-a.md
  docs/context/session-20260714-1133-main.md
  docs/reference/chord-language.md
  docs/work/chord-language-reference/coverage-checklist.md
  docs/work/chord-language-reference/fixtures/behavior/clause-forms.story
  docs/work/chord-language-reference/fixtures/behavior/closed-condition.story
  docs/work/chord-language-reference/fixtures/behavior/conditions.story
  docs/work/chord-language-reference/fixtures/behavior/must-refuse.story
  docs/work/chord-language-reference/fixtures/behavior/on-after.story
  docs/work/chord-language-reference/fixtures/behavior/ordering.story
  docs/work/chord-language-reference/fixtures/behavior/quantifiers.story
  docs/work/chord-language-reference/fixtures/behavior/statements.story
  docs/work/chord-language-reference/fixtures/manifest.json
  docs/work/chord-language-reference/fixtures/migration/removed-flag.story
  docs/work/chord-language-reference/fixtures/smoke.story
  docs/work/chord-language-reference/fixtures/world/composition.story
  docs/work/chord-language-reference/fixtures/world/create-basics.story
  docs/work/chord-language-reference/fixtures/world/exits.story
  docs/work/chord-language-reference/fixtures/world/first-time.story
  docs/work/chord-language-reference/fixtures/world/phrase-override.story
  docs/work/chord-language-reference/fixtures/world/placement.story
  docs/work/chord-language-reference/fixtures/world/prose-markers.story
  docs/work/chord-language-reference/fixtures/world/states-scores.story
  docs/work/chord-language-reference/fixtures/world/story-header.story
  docs/work/chord-language-reference/plan.md
  docs/work/chord-language-reference/verify-examples.mjs
  stories/friendly-zoo/zoo.story
Due: prettier --write

docs(chord): chord-language reference Phases 4-5 (branching/iteration/progression + definitions/tooling/migration) + 22 compile-checked fixtures
  docs/context/archive/session-20260714-0430-v2-210-chord-a.md
  docs/context/session-20260714-0643-main.md
  docs/reference/chord-language.md
  docs/work/chord-language-reference/coverage-checklist.md
  docs/work/chord-language-reference/fixtures/define/action.story
  docs/work/chord-language-reference/fixtures/define/condition.story
  docs/work/chord-language-reference/fixtures/define/hatches.story
  docs/work/chord-language-reference/fixtures/define/phrase.story
  docs/work/chord-language-reference/fixtures/define/phrases.story
  docs/work/chord-language-reference/fixtures/define/trait.story
  docs/work/chord-language-reference/fixtures/define/verb.story
  docs/work/chord-language-reference/fixtures/flow/each.story
  docs/work/chord-language-reference/fixtures/flow/endings.story
  docs/work/chord-language-reference/fixtures/flow/ordinals.story
  docs/work/chord-language-reference/fixtures/flow/scoring.story
  docs/work/chord-language-reference/fixtures/flow/select-on.story
  docs/work/chord-language-reference/fixtures/flow/select-strategy.story
  docs/work/chord-language-reference/fixtures/flow/sequence.story
  docs/work/chord-language-reference/fixtures/manifest.json
  docs/work/chord-language-reference/fixtures/migration/removed-every.story
  docs/work/chord-language-reference/fixtures/migration/removed-flag-field.story
  docs/work/chord-language-reference/fixtures/migration/removed-if.story
  docs/work/chord-language-reference/fixtures/migration/removed-once.story
  docs/work/chord-language-reference/fixtures/migration/removed-score.story
  docs/work/chord-language-reference/fixtures/migration/removed-when.story
  docs/work/chord-language-reference/fixtures/migration/retired-ordered.story
  docs/work/chord-language-reference/plan.md
Due: prettier --write

docs(chord): chord-language reference Phases 6-7 (traceability harness + verification report; site render + linking) — plan complete
  docs/context/archive/session-20260714-0146-v2-210-chord-a.md
  docs/context/session-20260714-0714-main.md
  docs/work/chord-language-reference/coverage-checklist.md
  docs/work/chord-language-reference/plan.md
  docs/work/chord-language-reference/render-site.mjs
  docs/work/chord-language-reference/verification-report.md
  docs/work/chord-language-reference/verify-traceability.mjs
  site/chord-reference.html
  site/chord.html
  site/components.js
Due: prettier --write

docs(chord): fix render-site.mjs committed as binary (literal NUL → \x00 escape)
  docs/work/chord-language-reference/render-site.mjs
Due: none

docs(chord): Sharpee->Chord parity audit + ADR-214 (DRAFT)
  docs/architecture/adrs/adr-214-chord-platform-parity.md
  docs/context/.current-plan
  docs/context/archive/session-20260714-0436-v2-210-chord-a.md
  docs/context/session-20260714-1746-main.md
  docs/reference/stdlib-reference.md
  docs/work/stdlib-reference/chord-availability-audit.md
  docs/work/stdlib-reference/coverage-checklist.md
  docs/work/stdlib-reference/plan.md
Due: prettier --write

docs(chord): accept ADR-214 parity roadmap + six child ADRs (design only)
  docs/architecture/adrs/adr-214-chord-platform-parity.md
  docs/architecture/adrs/adr-215-chord-extensions-and-combat.md
  docs/architecture/adrs/adr-216-chord-emit-payload-and-media.md
  docs/architecture/adrs/adr-217-chord-timer-controls.md
  docs/architecture/adrs/adr-218-chord-foundations.md
  docs/architecture/adrs/adr-219-liquids-and-pouring.md
  docs/architecture/adrs/adr-220-doors-and-portals.md
  docs/architecture/adrs/adr-221-capability-dispatch-fallback-wiring.md
  docs/context/.current-plan
  docs/context/archive/session-20260714-1008-main.md
  docs/context/session-20260714-2047-chord-foundations.md
  docs/work/chord-foundations/plan.md
Due: prettier --write

docs(chord): parity roadmap + W3/W4 plans; close ADR-115
  docs/architecture/adrs/adr-115-map-export-cli.md
  docs/architecture/adrs/adr-154-sharpee-ide.md
  docs/architecture/adrs/adr-220-doors-and-portals.md
  docs/work/chord-doors/plan.md
  docs/work/chord-liquids/plan.md
  docs/work/chord-parity/roadmap.md
Due: prettier --write

docs(chord): parity planning complete — W5-W7 plans + ADR housekeeping
  docs/architecture/adrs/adr-119-state-machines.md
  docs/architecture/adrs/adr-215-chord-extensions-and-combat.md
  docs/architecture/adrs/adr-217-chord-timer-controls.md
  docs/context/session-20260714-2047-chord-foundations.md
  docs/work/chord-extensions/plan.md
  docs/work/chord-media/plan.md
  docs/work/chord-parity/roadmap.md
  docs/work/chord-timers/plan.md
Due: prettier --write

feat(chord): ADR-218 §1a — enterable/climbable adjectives + platform gaps
  docs/architecture/chord-grammar-changes.md
  docs/work/chord-foundations/fixtures/climbable.story
  docs/work/chord-foundations/fixtures/climbable.transcript
  docs/work/chord-foundations/fixtures/enterable.story
  docs/work/chord-foundations/fixtures/enterable.transcript
  docs/work/chord-foundations/plan.md
  docs/work/stdlib-reference/chord-availability-audit.md
  packages/chord/src/catalog.ts
  packages/parser-en-us/src/grammar.ts
  packages/sharpee/docs/genai-api/index.md
  packages/sharpee/docs/genai-api/world-model.md
  packages/story-loader/src/loader.ts
  packages/world-model/src/index.ts
  stories/friendly-zoo/zoo.story
Due: eslint --fix, prettier --write

docs(chord): elegance-parity ADR-222 (ACCEPTED) + four-layer NPC ADR-223 (DRAFT)
  docs/architecture/adrs/adr-222-elegance-parity-seam-catalog.md
  docs/architecture/adrs/adr-223-npc-four-layer-separation.md
  docs/context/session-20260715-1000-chord-foundations.md
  docs/work/chord-parity/animaltrait-design-notes.md
  docs/work/chord-parity/friendly-zoo-canon-divergence.md
  docs/work/chord-parity/person-automation-blast-radius.md
  docs/work/chord-parity/person-npc-character-notes.md
Due: prettier --write

docs(schism): ADR-223 daemon/health model + thief decomposition into generic primitives
  docs/architecture/adrs/adr-223-npc-four-layer-separation.md
  docs/context/session-20260715-1000-chord-foundations.md
  docs/work/schism/code-examples.md
  docs/work/schism/ratchet-candidates.md
  docs/work/schism/thief-mdl-validation.md
  docs/work/schism/thief-primitive-decomposition.md
Due: prettier --write

docs(schism): Dungeo->Chord completeness matrix — full puzzle audit
  docs/work/schism/dungeo-completeness-matrix.md
Due: prettier --write

docs(chord): fold Dungeo primitive backlog (P23-P33) into the ADR-222 seam catalog
  docs/architecture/adrs/adr-222-elegance-parity-seam-catalog.md
Due: prettier --write

docs(schism): recover prior-session context + session recap (audit reverted)
  docs/context/archive/session-20260714-0643-main.md
  docs/context/archive/session-20260714-1133-main.md
  docs/context/session-20260715-0915-chord-foundations.md
  docs/work/schism/dungeo-completeness-matrix.md
  docs/work/schism/session-recap-20260715.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md})
