Repository ChicagoDave/sharpee: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md}": [
    "prettier --write"
  ]
}

feat: renumber walkthroughs 1-15, add royal puzzle WT, integrate tests into build
  build.sh
  docs/context/session-20260216-1910-main.md
  docs/work/dungeo/dungeon-catalog.md
  packages/sharpee/package.json
  packages/sharpee/src/cli/build.ts
  packages/sharpee/src/cli/index.ts
  stories/dungeo/walkthroughs/wt-01-get-torch-early.transcript
  stories/dungeo/walkthroughs/wt-05-reservoir.transcript
  stories/dungeo/walkthroughs/wt-06-egyptian-room.transcript
  stories/dungeo/walkthroughs/wt-07-exorcism.transcript
  stories/dungeo/walkthroughs/wt-08-river-rainbow.transcript
  stories/dungeo/walkthroughs/wt-09-egg-tree.transcript
  stories/dungeo/walkthroughs/wt-10-tea-room.transcript
  stories/dungeo/walkthroughs/wt-11-coal-mine.transcript
  stories/dungeo/walkthroughs/wt-12-scattered-treasures.transcript
  stories/dungeo/walkthroughs/wt-13-thief-fight.transcript
  stories/dungeo/walkthroughs/wt-14-royal-puzzle.transcript
  stories/dungeo/walkthroughs/wt-15-volcano-balloon.transcript
Due: eslint --fix, prettier --write

fix: use contains_any syntax for troll fight assertion
  stories/dungeo/walkthroughs/wt-01-get-torch-early.transcript
Due: none

fix: gate knife drop after thief fight (thief may steal it during combat)
  stories/dungeo/walkthroughs/wt-13-thief-fight.transcript
Due: none

docs: add NotebookLM podcast script, testing guide, and website testing page
  docs/context/session-20260216-1515-main.md
  docs/design/nlm-script.md
  website/src/layouts/DocsLayout.astro
  website/src/pages/docs/author-guide/testing.mdx
Due: prettier --write

feat: add GDT ds ledger command, fix gold card and Don Woods stamp treasure values
  docs/context/session-20260216-1650-main.md
  docs/context/session-20260216-1652-main.md
  docs/context/session-20260216-1939-main.md
  docs/context/session-20260216-1942-main.md
  docs/context/session-20260216-2015-main.md
  packages/core/package.json
  packages/engine/package.json
  packages/event-processor/package.json
  packages/extensions/basic-combat/package.json
  packages/extensions/testing/package.json
  packages/if-domain/package.json
  packages/if-services/package.json
  packages/lang-en-us/package.json
  packages/parser-en-us/package.json
  packages/platform-browser/package.json
  packages/plugin-npc/package.json
  packages/plugin-scheduler/package.json
  packages/plugin-state-machine/package.json
  packages/plugins/package.json
  packages/stdlib/package.json
  packages/text-blocks/package.json
  packages/text-service/package.json
  packages/transcript-tester/package.json
  packages/world-model/package.json
  packages/zifmia/package.json
  stories/dungeo/package.json
  stories/dungeo/src/actions/gdt/commands/ds.ts
  stories/dungeo/src/actions/send/send-action.ts
  stories/dungeo/src/grammar/gdt-grammar.ts
  stories/dungeo/src/regions/royal-puzzle.ts
  stories/dungeo/src/version.ts
  stories/dungeo/walkthroughs/wt-15-volcano-balloon.transcript
Due: eslint --fix, prettier --write

fix: audit scoring against FORTRAN source, add Strange Passage room
  docs/context/session-20260216-2103-main.md
  docs/context/session-20260216-2145-main.md
  stories/dungeo/src/handlers/exorcism-handler.ts
  stories/dungeo/src/index.ts
  stories/dungeo/src/interceptors/melee-interceptor.ts
  stories/dungeo/src/npcs/cyclops/cyclops-entity.ts
  stories/dungeo/src/regions/maze.ts
  stories/dungeo/walkthroughs/wt-03-maze-cyclops-goal.transcript
  stories/dungeo/walkthroughs/wt-13-thief-fight.transcript
  stories/dungeo/walkthroughs/wt-14-royal-puzzle.transcript
Due: eslint --fix, prettier --write

feat: add AppImage to Zifmia Linux bundle targets
  packages/zifmia/src-tauri/tauri.conf.json
Due: prettier --write

fix: update mac-release script for Tauri v2 DMG output location
  docs/context/session-20260216-2344-main.md
  scripts/mac-release.sh
Due: prettier --write

fix: royal puzzle card detection — position-based at pos 36 per MDL source
  build.sh
  docs/architecture/adrs/adr-130-zifmia-packaging.md
  docs/context/session-20260216-2201-main.md
  docs/context/session-20260216-2245-main.md
  docs/context/session-20260216-2250-main.md
  docs/context/session-20260217-0030-main.md
  docs/context/session-20260217-0055-main.md
  docs/context/session-20260217-0103-main.md
  docs/work/dungeo/royal-plan.md
  packages/engine/src/game-engine.ts
  packages/platforms/browser-en-us/src/version.ts
  packages/zifmia/src-tauri/Cargo.toml
  packages/zifmia/src-tauri/tauri.conf.json
  packages/zifmia/src/context/GameContext.tsx
  packages/zifmia/src/runner/index.tsx
  packages/zifmia/src/types/game-state.ts
  stories/dungeo/src/actions/gdt/commands/pz.ts
  stories/dungeo/src/actions/pour/pour-action.ts
  stories/dungeo/src/actions/push-wall/push-wall-action.ts
  stories/dungeo/src/actions/puzzle-take-card-blocked/puzzle-take-card-blocked-action.ts
  stories/dungeo/src/actions/puzzle-take-card/puzzle-take-card-action.ts
  stories/dungeo/src/handlers/royal-puzzle/puzzle-handler.ts
  stories/dungeo/src/messages/puzzle-messages.ts
  stories/dungeo/src/regions/royal-puzzle.ts
  stories/dungeo/src/traits/royal-puzzle-trait.ts
  stories/dungeo/src/version.ts
  stories/dungeo/walkthroughs/wt-14-royal-puzzle.transcript
  website/public/games/dungeo/dungeo.js
Due: eslint --fix, prettier --write

docs: add session summary for royal puzzle work
  docs/context/session-20260217-0205-main.md
Due: prettier --write

fix: royal puzzle template rendering, take-card entity resolution, gold card scoring
  docs/context/session-20260217-0449-main.md
  docs/context/session-20260217-0643-main.md
  docs/context/session-20260217-1647-main.md
  stories/dungeo/src/actions/push-wall/push-wall-action.ts
  stories/dungeo/src/handlers/royal-puzzle/puzzle-handler.ts
Due: eslint --fix, prettier --write

feat: timed brochure delivery for Don Woods stamp (616th point)
  checkpoints/after-leaflet.json
  docs/context/session-20260217-1759-main.md
  docs/context/session-20260217-1918-main.md
  docs/context/stamp-fix.txt
  docs/work/dungeo/dungeon-catalog.md
  stories/dungeo/src/actions/send/send-action.ts
  stories/dungeo/src/actions/send/types.ts
  stories/dungeo/src/messages/action-messages.ts
  stories/dungeo/src/messages/scheduler-messages.ts
  stories/dungeo/src/orchestration/scheduler-setup.ts
  stories/dungeo/src/scheduler/brochure-fuse.ts
  stories/dungeo/src/scheduler/index.ts
  stories/dungeo/src/scheduler/scheduler-messages.ts
  stories/dungeo/src/version.ts
  stories/dungeo/tests/transcripts/mail-order-stamp.transcript
Due: eslint --fix, prettier --write

fix: remove overlapping entity aliases, add brochure to wt-04 walkthrough
  docs/context/session-20260217-1918-main.md
  stories/dungeo/src/regions/dam.ts
  stories/dungeo/src/regions/white-house.ts
  stories/dungeo/src/scheduler/brochure-fuse.ts
  stories/dungeo/src/version.ts
  stories/dungeo/walkthroughs/wt-04-dam-reservoir.transcript
  stories/dungeo/walkthroughs/wt-05-reservoir.transcript
Due: eslint --fix, prettier --write

feat: implement ADR-078 canvas puzzle, achieve 650/650 perfect score
  docs/architecture/adrs/adr-078-magic-paper-puzzle.md
  docs/context/session-20260217-2048-main.md
  stories/dungeo/src/actions/break/break-action.ts
  stories/dungeo/src/actions/pray/pray-action.ts
  stories/dungeo/src/actions/pray/types.ts
  stories/dungeo/src/grammar/ritual-grammar.ts
  stories/dungeo/src/interceptors/ghost-ritual-dropping-interceptor.ts
  stories/dungeo/src/messages/action-messages.ts
  stories/dungeo/src/objects/thiefs-canvas-objects.ts
  stories/dungeo/src/regions/underground.ts
  stories/dungeo/src/traits/basin-room-trait.ts
  stories/dungeo/src/version.ts
  stories/dungeo/tests/transcripts/frame-after-thief.transcript
  stories/dungeo/walkthroughs/wt-13-thief-fight.transcript
  stories/dungeo/walkthroughs/wt-16-canvas-puzzle.transcript
Due: eslint --fix, prettier --write

docs: endgame integration plan with 4 critical bugs and completion roadmap
  docs/context/session-20260217-1954-main.md
  docs/context/session-20260217-2100-main.md
  docs/context/session-20260217-2238-main.md
  docs/work/dungeo/endgame-plan.md
Due: prettier --write

docs: update ADR-100 with accessibility audit and implementation plan
  docs/architecture/adrs/adr-100-screen-reader-client.md
Due: prettier --write

fix: mobile responsive nav bar, session summaries, dungeo map image
  docs/context/session-20260218-0351-main.md
  docs/context/session-20260218-0843-main.md
  docs/work/dungeo/sharpee-dungeo.png
  website/src/layouts/BaseLayout.astro
Due: prettier --write

docs: update README to v0.9.91, mark Dungeon complete
  README.md
Due: prettier --write

docs: update README with all 20 npm packages, 48 actions, roadmap, and full ADR index
  README.md
  docs/architecture/adrs/README.md
Due: prettier --write

docs: rewrite CONTRIBUTING.md to match current architecture and workflows
  CONTRIBUTING.md
Due: prettier --write

docs: rewrite architecture README with current state and key ADR links
  docs/architecture/README.md
Due: prettier --write

docs: fix ADR count to 131 across all docs
  README.md
  docs/architecture/README.md
  docs/architecture/adrs/README.md
Due: prettier --write

docs: rewrite API reference README to match actual HTML documentation
  docs/api/README.md
Due: prettier --write

docs: session summary for documentation overhaul session
  docs/context/session-20260218-1602-main.md
Due: prettier --write

docs: add README for dungeo story (172 rooms, 15 regions, 17 walkthroughs)
  stories/dungeo/README.md
Due: prettier --write

chore: remove tracked node_modules symlink from stories/dungeo
  stories/dungeo/node_modules
Due: none

docs: add ADR-132 (PC switching) and ADR-133 (structured text output)
  docs/architecture/adrs/adr-100-screen-reader-client.md
  docs/architecture/adrs/adr-132-pc-switching.md
  docs/architecture/adrs/adr-133-structured-text-output.md
Due: prettier --write

chore: Zifmia build pipeline, runtime fixes, and session context
  docs/context/session-20260218-0931-main.md
  docs/context/session-20260218-1718-main.md
  docs/context/session-20260218-1829-main.md
  docs/context/session-20260218-1831-main.md
  docs/context/session-20260218-1832-main.md
  docs/context/session-20260218-1924-main.md
  docs/context/session-20260218-2003-main.md
  docs/context/session-20260218-2030-main.md
  docs/context/session-20260218-2142-main.md
  docs/context/session-20260218-2235-main.md
  packages/engine/src/game-engine.ts
  packages/plugins/src/plugin-registry.ts
  packages/sharpee/package.json
  packages/zifmia/build-release.ps1
  packages/zifmia/package.json
  packages/zifmia/scripts/bundle-runner.cjs
  packages/zifmia/src-tauri/Cargo.toml
  packages/zifmia/src-tauri/src/lib.rs
  packages/zifmia/src-tauri/tauri.conf.json
  packages/zifmia/src/hooks/useTranscript.ts
  packages/zifmia/src/runner/runner-entry.tsx
  packages/zifmia/src/styles/themes.css
  packages/zifmia/src/version.ts
  stories/dungeo/package.json
  stories/dungeo/room-list.txt
  stories/dungeo/src/version.ts
  ts-forge.config.json
Due: eslint --fix, prettier --write

feat: implement ADR-133 structured text output
  docs/context/session-20260218-2311-main.md
  packages/engine/src/game-engine.ts
  packages/engine/src/types.ts
  packages/platform-browser/package.json
  packages/platform-browser/src/BrowserClient.ts
  packages/platforms/browser-en-us/src/browser-platform.ts
  packages/platforms/cli-en-us/src/cli-platform.ts
  packages/sharpee/templates/browser/browser-entry.ts.template
  packages/transcript-tester/src/fast-cli.ts
  packages/transcript-tester/src/story-loader.ts
  packages/zifmia/package.json
  packages/zifmia/src/context/GameContext.tsx
  scripts/bundle-entry.js
  scripts/test-bundle-template.js
  stories/armoured/src/browser-entry.ts
  stories/cloak-of-darkness/run-platform.js
  stories/cloak-of-darkness/src/test-runner.ts
  stories/cloak-of-darkness/test-parser-events.js
Due: eslint --fix, prettier --write

feat: implement ADR-132 player character switching
  docs/architecture/adrs/adr-132-pc-switching.md
  docs/context/session-20260218-2355-main.md
  packages/core/src/events/event-registry.ts
  packages/core/src/events/game-events.ts
  packages/engine/src/game-engine.ts
  stories/dungeo/src/version.ts
Due: eslint --fix, prettier --write

fix: restart bug — player creation order and Zifmia UI reset
  build.sh
  docs/context/session-20260216-2338-main.md
  docs/context/session-20260216-2341-main.md
  docs/context/session-20260218-2331-main.md
  docs/context/session-20260219-0030-main.md
  docs/context/session-20260219-0033-main.md
  packages/engine/src/game-engine.ts
  packages/zifmia/build-release.sh
  packages/zifmia/package.json
  packages/zifmia/src-tauri/gen/schemas/macOS-schema.json
  packages/zifmia/src-tauri/icons/icon.ico
  packages/zifmia/src-tauri/tauri.conf.json
  packages/zifmia/src/context/GameContext.tsx
  packages/zifmia/src/version.ts
  stories/dungeo/src/version.ts
Due: eslint --fix, prettier --write

fix: Zifmia dark room text suppression and restart blank view
  docs/context/session-20260219-1152-main.md
  packages/zifmia/src/components/transcript/CommandInput.tsx
  packages/zifmia/src/context/GameContext.tsx
  packages/zifmia/src/version.ts
  stories/dungeo/src/version.ts
Due: eslint --fix, prettier --write

feat: Zifmia overlay system + fix troll death messages
  docs/context/session-20260219-1117-main.md
  docs/context/session-20260219-1350-main.md
  docs/context/session-20260219-1420-main.md
  docs/context/session-20260219-1721-main.md
  docs/work/zifmia/dungeo-chat.html
  docs/work/zifmia/reflections-ux-deep-dive.md
  docs/work/zifmia/reflections-ux.md
  packages/zifmia/src/components/GameShell.tsx
  packages/zifmia/src/components/index.ts
  packages/zifmia/src/components/menu/MenuBar.tsx
  packages/zifmia/src/components/overlays/ChatOverlay.tsx
  packages/zifmia/src/components/overlays/TranscriptOverlay.tsx
  packages/zifmia/src/components/overlays/index.ts
  packages/zifmia/src/context/GameContext.tsx
  packages/zifmia/src/runner/index.tsx
  packages/zifmia/src/types/game-state.ts
  packages/zifmia/src/version.ts
  stories/dungeo/src/interceptors/melee-interceptor.ts
  stories/dungeo/src/version.ts
Due: eslint --fix, prettier --write

feat: chat overlay Phase 3 — character integration
  docs/context/session-20260219-1803-main.md
  docs/work/zifmia/reflections-ux-deep-dive.md
  packages/zifmia/src/components/overlays/ChatOverlay.tsx
  packages/zifmia/src/hooks/index.ts
  packages/zifmia/src/hooks/useCurrentPc.ts
  packages/zifmia/src/types/game-state.ts
  packages/zifmia/src/version.ts
  stories/dungeo/src/version.ts
Due: eslint --fix, prettier --write

feat: chat overlay Phase 4 — polish and accessibility
  docs/context/session-20260219-1803-main.md
  packages/zifmia/src/components/overlays/ChatOverlay.tsx
  packages/zifmia/src/styles/themes.css
  packages/zifmia/src/version.ts
  stories/dungeo/src/version.ts
Due: eslint --fix, prettier --write
