Repository ChicagoDave/sharpee: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat(adr-180): route bundle-entry.js through bootstrap + bootstrap resolver tests
  packages/bootstrap/src/index.ts
  packages/bootstrap/src/resolve.test.ts
  packages/bootstrap/src/resolve.ts
  scripts/bundle-entry.js
Due: eslint --fix, prettier --write

docs(session): finalize — ADR-180 Phase 1 merged + session close
  docs/context/session-20260617-2108-fix-tsbuildinfo-clean-scripts.md
Due: prettier --write

feat(adr-180): Phase 3a — devkit build/bundle (CLI bundle, byte-parity gated)
  build.sh
  docs/context/session-20260618-0510-adr-180-phase3a-build-bundle.md
  docs/work/sharpee-devkit/plan-20260618-phase3-build-replacement.md
  packages/devkit/scripts/parity-cli-bundle.sh
  packages/devkit/src/cli.ts
  packages/devkit/src/commands/build.test.ts
  packages/devkit/src/commands/build.ts
  packages/devkit/src/commands/bundle.ts
  packages/devkit/src/index.ts
  packages/devkit/src/repo.ts
Due: eslint --fix, prettier --write

feat(adr-180): Phase 3b — devkit browser target (byte-parity gated)
  docs/context/session-20260618-0524-adr-180-phase3b-browser.md
  packages/devkit/scripts/parity-browser.sh
  packages/devkit/src/cli.ts
  packages/devkit/src/commands/browser.test.ts
  packages/devkit/src/commands/browser.ts
  packages/devkit/src/commands/build.ts
  packages/devkit/src/index.ts
Due: eslint --fix, prettier --write

feat(adr-180): Phase 3c — devkit zifmia target (byte-parity gated)
  docs/context/session-20260618-0531-adr-180-phase3c-zifmia.md
  packages/devkit/scripts/parity-zifmia.sh
  packages/devkit/src/cli.ts
  packages/devkit/src/commands/build.ts
  packages/devkit/src/commands/zifmia.test.ts
  packages/devkit/src/commands/zifmia.ts
  packages/devkit/src/index.ts
Due: eslint --fix, prettier --write

feat(adr-180): Phase 3d (part 1) — devkit clean/verify, umbrella wiring, AC-8 doc sweep
  CLAUDE.md
  docs/guides/build-system.md
  docs/guides/creating-a-language-implementation.md
  docs/guides/project-structure.md
  docs/guides/transcript-testing.md
  docs/testing/README.md
  docs/work/sharpee-devkit/plan-20260618-phase3d-cutover.md
  packages/devkit/src/cli.ts
  packages/devkit/src/commands/build.ts
  packages/devkit/src/commands/clean.ts
  packages/devkit/src/commands/verify.ts
  packages/devkit/src/index.ts
  packages/devkit/src/repo.ts
  packages/sharpee/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(adr-180): Phase 3d cutover — retire build.sh; devkit is the sole build front door
  .github/workflows/beta-release.yml
  .github/workflows/build-platforms.yml
  CONTRIBUTING.md
  README.md
  build-macos.sh
  build-ubuntu.sh
  build.sh
  demos/deploy.sh
  docs/context/session-20260618-0540-adr-180-phase3d-cutover.md
  docs/zifmia/install-guide.md
  pack-release.sh
  packages/channel-service/tests/ac-13-cli-real-path.test.ts
  packages/channel-service/tests/ac-14-browser-real-path.test.ts
  packages/devkit/src/commands/build.test.ts
  packages/devkit/src/commands/build.ts
  scripts/generate-genai-api.js
  scripts/mac-release.sh
  scripts/test-bundle-template.js
  tools/vscode-ext/package.json
  tools/vscode-ext/src/build-provider.ts
  tools/vscode-ext/src/new-story-wizard.ts
  tools/vscode-ext/src/test-runner.ts
  tools/zifmia/DEPLOYMENT.md
  tools/zifmia/Dockerfile
  tools/zifmia/README.md
  tools/zifmia/tests/e2e/global-setup.ts
Due: eslint --fix, prettier --write

feat(adr-180): Phase U1 — `./sharpee` repo entry + path-based build
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  build-macos.sh
  build-ubuntu.sh
  demos/deploy.sh
  docs/context/session-20260618-0600-adr-180-unify-cli-design.md
  docs/guides/build-system.md
  docs/guides/npm-publish.md
  docs/guides/project-structure.md
  docs/guides/transcript-testing.md
  docs/testing/README.md
  docs/work/sharpee-devkit/plan-20260618-unify-sharpee-cli.md
  packages/channel-service/tests/ac-13-cli-real-path.test.ts
  packages/channel-service/tests/ac-14-browser-real-path.test.ts
  packages/devkit/src/commands/build.test.ts
  packages/devkit/src/commands/build.ts
  packages/devkit/src/index.ts
  packages/devkit/src/repo.ts
  packages/sharpee/package.json
  pnpm-lock.yaml
  scripts/mac-release.sh
  sharpee
  tools/zifmia/README.md
Due: eslint --fix, prettier --write

feat(adr-180): Phase U2 — unify under `sharpee`; distinct global CLI
  docs/architecture/adrs/adr-180-build-test-devkit.md
  docs/context/session-20260618-0600-adr-180-unify-cli-design.md
  packages/devkit/package.json
  packages/devkit/src/cli.ts
  packages/devkit/src/commands/build.test.ts
  packages/devkit/src/index.ts
  packages/devkit/src/repo.ts
  packages/devkit/src/standalone/build-browser.ts
  packages/devkit/src/standalone/build.ts
  packages/devkit/src/standalone/ifid.ts
  packages/devkit/src/standalone/init-browser.ts
  packages/devkit/src/standalone/init.ts
  packages/sharpee/package.json
  packages/sharpee/src/cli/index.ts
  pnpm-lock.yaml
  web-save/src/content/docs/getting-started/installation.md
  web-save/src/content/docs/getting-started/quick-start.md
  web-save/src/content/docs/tutorials/cloak-of-darkness.md
  website/src/pages/docs/getting-started/installation.mdx
  website/src/pages/docs/getting-started/quick-start.mdx
  website/src/pages/docs/tutorials/cloak-of-darkness.mdx
Due: eslint --fix, prettier --write

feat(adr-180): Phase U3 — location registry + standalone-build harness
  docs/context/session-20260618-0600-adr-180-unify-cli-design.md
  packages/devkit/src/cli.ts
  packages/devkit/src/commands/register.ts
  packages/devkit/src/commands/standalone-build.test.ts
  packages/devkit/src/index.ts
  packages/devkit/src/registry.test.ts
  packages/devkit/src/registry.ts
  packages/devkit/src/standalone/build-browser.ts
  packages/devkit/src/standalone/build.ts
Due: eslint --fix, prettier --write

chore(release): 1.0.0
  package.json
  packages/bootstrap/package.json
  packages/channel-service/package.json
  packages/character/package.json
  packages/core/package.json
  packages/devkit/package.json
  packages/engine/package.json
  packages/event-processor/package.json
  packages/extensions/basic-combat/package.json
  packages/extensions/testing/package.json
  packages/helpers/package.json
  packages/if-domain/package.json
  packages/if-services/package.json
  packages/interpreter/package.json
  packages/lang-en-us/package.json
  packages/media/package.json
  packages/parser-en-us/package.json
  packages/platform-browser/package.json
  packages/plugin-npc/package.json
  packages/plugin-scheduler/package.json
  packages/plugin-state-machine/package.json
  packages/plugins/package.json
  packages/queries/package.json
  packages/sharpee/package.json
  packages/stdlib/package.json
  packages/story-runtime-baseline/package.json
  packages/text-blocks/package.json
  packages/transcript-tester/package.json
  packages/world-model/package.json
  tutorials/familyzoo/package.json
Due: prettier --write

chore: move pnpm hoist config
  .npmrc
  pnpm-workspace.yaml
Due: none

docs(session): 1.0.0 release session summary
  docs/context/session-20260618-1650-main.md
Due: prettier --write

fix(ide): repair WorkspaceRoot infinite loop and migrate workspace marker to devkit signature
  docs/context/archive/session-20260513-1741-main.md
  docs/context/archive/session-20260513-1759-main.md
  docs/context/archive/session-20260515-2247-main.md
  docs/context/archive/session-20260518-0259-main.md
  docs/context/archive/session-20260518-0319-main.md
  docs/context/archive/session-20260617-2108-fix-tsbuildinfo-clean-scripts.md
  docs/context/archive/session-20260618-0430-adr-180-phase2-test-npm.md
  docs/context/archive/session-20260618-0510-adr-180-phase3a-build-bundle.md
  docs/context/archive/session-20260618-0524-adr-180-phase3b-browser.md
  docs/context/session-20260618-1937-main.md
  docs/work/sharpee-ide/plan-20260511-p4-build-integration.md
  tools/ide/SharpeeIDE/AppDelegate.swift
  tools/ide/SharpeeIDE/Workspace/WorkspaceRoot.swift
  tools/ide/SharpeeIDETests/WorkspaceRootTests.swift
Due: prettier --write

feat(ide): P4 step 4.2 — BuildSettings model + per-project store
  docs/work/sharpee-ide/plan-20260511-p4-build-integration.md
  tools/ide/.gitignore
  tools/ide/SharpeeIDE/Build/BuildSettings.swift
  tools/ide/SharpeeIDE/Build/BuildSettingsStore.swift
  tools/ide/SharpeeIDETests/BuildSettingsStoreTests.swift
  tools/ide/SharpeeIDETests/BuildSettingsTests.swift
Due: prettier --write

feat(ide): P4 step 4.3 — Build Settings sheet + story/package detectors
  docs/work/sharpee-ide/plan-20260511-p4-build-integration.md
  tools/ide/SharpeeIDE/AppDelegate.swift
  tools/ide/SharpeeIDE/Build/BuildSettingsViewController.swift
  tools/ide/SharpeeIDE/Workspace/PackageDetector.swift
  tools/ide/SharpeeIDE/Workspace/StoryDetector.swift
  tools/ide/SharpeeIDETests/PackageDetectorTests.swift
  tools/ide/SharpeeIDETests/StoryDetectorTests.swift
Due: prettier --write

feat(ide): P4 step 4.4 — BuildRunner with streaming output + cancel
  docs/work/sharpee-ide/plan-20260511-p4-build-integration.md
  tools/ide/SharpeeIDE/Build/BuildRunner.swift
  tools/ide/SharpeeIDETests/BuildRunnerTests.swift
Due: prettier --write

feat(ide): P4 step 4.5 — bottom-docked Build panel + rail toggle
  docs/work/sharpee-ide/plan-20260511-p4-build-integration.md
  tools/ide/SharpeeIDE/AppDelegate.swift
  tools/ide/SharpeeIDE/Build/BuildPanelView.swift
  tools/ide/SharpeeIDE/MainWindow.swift
  tools/ide/SharpeeIDE/Persistence/SessionState.swift
  tools/ide/SharpeeIDETests/SessionStateTests.swift
Due: prettier --write

feat(ide): P4 step 4.6 — ⌘B runs ./sharpee build into the panel
  docs/work/sharpee-ide/plan-20260511-p4-build-integration.md
  tools/ide/SharpeeIDE/AppDelegate.swift
  tools/ide/SharpeeIDE/Build/BuildController.swift
  tools/ide/SharpeeIDE/Build/BuildRunner.swift
  tools/ide/SharpeeIDE/Build/ShellEnvironment.swift
  tools/ide/SharpeeIDE/MainWindow.swift
  tools/ide/SharpeeIDETests/ShellEnvironmentTests.swift
Due: prettier --write

feat(ide): P4 step 4.7 — status-bar build pill
  docs/work/sharpee-ide/plan-20260511-p4-build-integration.md
  tools/ide/SharpeeIDE/AppDelegate.swift
  tools/ide/SharpeeIDE/Build/BuildController.swift
  tools/ide/SharpeeIDE/Build/BuildStatus.swift
  tools/ide/SharpeeIDE/MainWindow.swift
  tools/ide/SharpeeIDETests/BuildStateFormatterTests.swift
Due: prettier --write

feat(ide): P4 step 4.8 — tsc error parsing + click-to-jump
  docs/work/sharpee-ide/plan-20260511-p4-build-integration.md
  tools/ide/SharpeeIDE/Build/BuildController.swift
  tools/ide/SharpeeIDE/Build/BuildPanelView.swift
  tools/ide/SharpeeIDE/Build/TSCDiagnostic.swift
  tools/ide/SharpeeIDE/Editor/EditorViewController.swift
  tools/ide/SharpeeIDE/MainWindow.swift
  tools/ide/SharpeeIDETests/TSCDiagnosticParserTests.swift
Due: prettier --write

feat(ide): P5 step 5.1 + browser-entry intelligence — Play panel
  docs/work/sharpee-ide/plan-20260618-p5-play-panel.md
  tools/ide/SharpeeIDE/AppDelegate.swift
  tools/ide/SharpeeIDE/Build/BrowserEntry.swift
  tools/ide/SharpeeIDE/Build/BuildSettingsViewController.swift
  tools/ide/SharpeeIDE/MainWindow.swift
  tools/ide/SharpeeIDE/Play/PlayURLSchemeHandler.swift
  tools/ide/SharpeeIDE/Play/PlayViewController.swift
  tools/ide/SharpeeIDE/Play/WebBundle.swift
  tools/ide/SharpeeIDETests/BrowserEntryTests.swift
  tools/ide/SharpeeIDETests/PlayURLSchemeHandlerTests.swift
  tools/ide/SharpeeIDETests/WebBundleTests.swift
  tools/ide/project.yml
Due: prettier --write

feat(ide): P5 step 5.2 — Play header, auto-reload, console capture
  docs/work/sharpee-ide/plan-20260618-p5-play-panel.md
  tools/ide/SharpeeIDE/AppDelegate.swift
  tools/ide/SharpeeIDE/Build/BuildController.swift
  tools/ide/SharpeeIDE/MainWindow.swift
  tools/ide/SharpeeIDE/Persistence/SessionState.swift
  tools/ide/SharpeeIDE/Play/PlayHeaderView.swift
  tools/ide/SharpeeIDE/Play/PlayViewController.swift
  tools/ide/SharpeeIDETests/SessionStateTests.swift
Due: prettier --write

feat(ide): P5 Game Errors — symbolicated, translated, tabbed, gutter
  docs/work/sharpee-ide/mock-bottom-panel.html
  docs/work/sharpee-ide/plan-20260618-p5-play-panel.md
  tools/ide/SharpeeIDE/Build/BottomPanelViewController.swift
  tools/ide/SharpeeIDE/Build/BuildPanelView.swift
  tools/ide/SharpeeIDE/Build/GameErrorsView.swift
  tools/ide/SharpeeIDE/Build/TSCDiagnostic.swift
  tools/ide/SharpeeIDE/Editor/EditorViewController.swift
  tools/ide/SharpeeIDE/Editor/LineNumberRulerView.swift
  tools/ide/SharpeeIDE/MainWindow.swift
  tools/ide/SharpeeIDE/Play/PlayErrorSymbolicator.swift
  tools/ide/SharpeeIDE/Play/PlayViewController.swift
  tools/ide/SharpeeIDE/Play/SharpeeErrorTranslator.swift
  tools/ide/SharpeeIDE/Play/SourceMap.swift
  tools/ide/SharpeeIDETests/PlayErrorSymbolicatorTests.swift
  tools/ide/SharpeeIDETests/SharpeeErrorTranslatorTests.swift
  tools/ide/SharpeeIDETests/SourceMapTests.swift
Due: prettier --write

feat(ide): Word Wrap toggle + ADR-181 (Sharpee Error Translation)
  docs/architecture/adrs/adr-181-sharpee-error-translation.md
  tools/ide/SharpeeIDE/AppDelegate.swift
  tools/ide/SharpeeIDE/Editor/EditorViewController.swift
  tools/ide/SharpeeIDE/MainWindow.swift
  tools/ide/SharpeeIDE/Menus/MenuBuilder.swift
Due: prettier --write

fix(ide): word wrap wraps whole document; set dark appearance
  tools/ide/SharpeeIDE/AppDelegate.swift
  tools/ide/SharpeeIDE/Editor/EditorViewController.swift
Due: none

feat(ide): P5 right-panel tabs + built-out Sharpee error translation
  docs/context/archive/session-20260618-0531-adr-180-phase3c-zifmia.md
  docs/context/session-20260619-0200-main.md
  tools/ide/SharpeeIDE/Build/BottomPanelViewController.swift
  tools/ide/SharpeeIDE/Build/GameErrorsView.swift
  tools/ide/SharpeeIDE/MainWindow.swift
  tools/ide/SharpeeIDE/Play/ErrorDiagnosisView.swift
  tools/ide/SharpeeIDE/Play/PlayViewController.swift
  tools/ide/SharpeeIDE/Play/RightPanelViewController.swift
  tools/ide/SharpeeIDE/Play/SharpeeErrorTranslator.swift
  tools/ide/SharpeeIDE/UI/TabStripView.swift
  tools/ide/SharpeeIDETests/SharpeeErrorTranslatorTests.swift
Due: prettier --write

fix(thealderman): capture createSceneryItem return (no getLastCreatedEntityId)
  stories/thealderman/src/browser-entry.ts
  stories/thealderman/src/objects/index.ts
Due: eslint --fix, prettier --write

chore(zifmia): add .gitignore for build and test artifacts
  packages/sharpee/docs/genai-api/index.md
  packages/sharpee/docs/genai-api/lang.md
  stories/thealderman/src/version.ts
  tools/zifmia/.gitignore
Due: eslint --fix, prettier --write

docs(research): TypeScript 7.0 RC adoption assessment (#131)
  docs/work/typescript-v7/research-20260619-ts7-rc.md
Due: prettier --write

docs(session): TS7.0 RC adoption research summary (#131)
  docs/context/session-20260619-0056-main.md
Due: prettier --write

feat(ide): P2 step 2.0 — tree-sitter syntax highlighting spike
  docs/work/sharpee-ide/plan-20260619-p2-ts-aware-editor.md
  tools/ide/SharpeeIDE/Editor/EditorViewController.swift
  tools/ide/SharpeeIDE/Editor/SyntaxHighlighter.swift
  tools/ide/SharpeeIDE/Theme.swift
  tools/ide/SharpeeIDETests/SyntaxHighlighterTests.swift
  tools/ide/project.yml
Due: prettier --write

docs(adr): ADR-182 tree-sitter IDE highlighting + review tightenings
  docs/architecture/adrs/adr-182-ide-syntax-highlighting-tree-sitter.md
  tools/ide/SharpeeIDE/Editor/SyntaxHighlighter.swift
  tools/ide/SharpeeIDETests/SyntaxHighlighterTests.swift
Due: prettier --write

feat(ide): P2 build-out — widened highlighting, bracket matching, auto-indent
  docs/architecture/adrs/adr-182-ide-syntax-highlighting-tree-sitter.md
  docs/work/sharpee-ide/plan-20260619-p2-ts-aware-editor.md
  tools/ide/SharpeeIDE/Editor/AutoIndenter.swift
  tools/ide/SharpeeIDE/Editor/BracketMatcher.swift
  tools/ide/SharpeeIDE/Editor/EditorViewController.swift
  tools/ide/SharpeeIDE/Editor/SyntaxHighlighter.swift
  tools/ide/SharpeeIDE/Theme.swift
  tools/ide/SharpeeIDETests/AutoIndenterTests.swift
  tools/ide/SharpeeIDETests/BracketMatcherTests.swift
  tools/ide/SharpeeIDETests/SyntaxHighlighterTests.swift
Due: prettier --write

refactor(thealderman): plain string room descriptions (drop join-array scaffolding)
  packages/sharpee/docs/genai-api/index.md
  stories/thealderman/src/rooms/index.ts
  stories/thealderman/src/version.ts
Due: eslint --fix, prettier --write

docs(adr): ADR-183 author layout macros (parameterized & block decorations)
  docs/architecture/adrs/adr-183-author-layout-macros.md
Due: prettier --write

docs(adr): ADR-183 ACCEPTED — uniform-span/class-driven-CSS render model
  docs/architecture/adrs/adr-183-author-layout-macros.md
Due: prettier --write

docs(session): finalize session summary + convert thealderman text to ADR-183 markup
  docs/context/archive/session-20260618-0540-adr-180-phase3d-cutover.md
  docs/context/session-20260619-0056-main.md
  stories/thealderman/src/objects/index.ts
Due: eslint --fix, prettier --write

feat(engine): ADR-183 prose-pipeline — void macros + parameterized decorations
  docs/context/session-20260619-0056-main.md
  packages/channel-service/src/render-to-string.ts
  packages/channel-service/tests/render-to-string.test.ts
  packages/engine/src/prose-pipeline/decorations/parser.ts
  packages/engine/src/prose-pipeline/decorations/platform-vocabulary.ts
  packages/engine/tests/prose-pipeline/decorations/parser.test.ts
  packages/engine/tests/prose-pipeline/decorations/platform-vocabulary.test.ts
  packages/text-blocks/src/types.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md})
