Repository ChicagoDave/sharpee: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

docs(session): finalize summary — docs/website pass + 3.5.0 release
  docs/context/session-20260724-0327-hatch-scoring.md
Due: prettier --write

docs(website): list Hunger in the Flow & Progression overview index
  website/src/app/chord/guide/flow/content.mdx
Due: none

fix(release): bring @sharpee/ext-hunger up to 3.5.0
  docs/context/archive/session-20260722-2200-main.md
  docs/context/session-20260724-2329-ext-link-fix.md
  packages/extensions/hunger/package.json
  packages/stdlib/src/actions/standard/version/engine-version.ts
  website/public/search-index.json
Due: eslint --fix, prettier --write

fix(website): patch next/postcss/sharp advisories without downgrading
  website/package-lock.json
  website/package.json
Due: prettier --write

feat(chord)!: ADR-264 — numeric counters (Chord 1.4.0)
  docs/architecture/adrs/adr-264-chord-numeric-counters.md
  docs/context/session-20260725-0215-adrs-264-265.md
  docs/reference/chord-grammar.md
  docs/reference/chord-language.md
  docs/reference/chord.ebnf
  docs/work/adr-264-counters/plan.md
  packages/chord/src/analyzer.ts
  packages/chord/src/ast.ts
  packages/chord/src/ir.ts
  packages/chord/src/lexer.ts
  packages/chord/src/parser.ts
  packages/chord/src/version.ts
  packages/chord/tests/__snapshots__/analyzer-each-package.test.ts.snap
  packages/chord/tests/__snapshots__/analyzer-phase-b.test.ts.snap
  packages/chord/tests/__snapshots__/analyzer.test.ts.snap
  packages/chord/tests/__snapshots__/parser-each-package.test.ts.snap
  packages/chord/tests/__snapshots__/parser-phase-b.test.ts.snap
  packages/chord/tests/__snapshots__/parser.test.ts.snap
  packages/chord/tests/__snapshots__/zoo-phase-c-parse.test.ts.snap
  packages/chord/tests/counter.test.ts
  packages/chord/tests/language-version.test.ts
  packages/story-loader/src/evaluator.ts
  packages/story-loader/src/loader.ts
  packages/story-loader/src/runtime.ts
  packages/story-loader/src/state-keys.ts
  packages/story-loader/tests/counter-loader.test.ts
  stories/counter-demo/counter-demo.story
  stories/counter-demo/tests/dread.transcript
Due: eslint --fix, prettier --write

docs(session): finalize summary — PR #184 (ADR-264/265) merged to main
  docs/context/session-20260724-0327-hatch-scoring.md
Due: prettier --write

fix(docs): make genai-api index deterministic across regenerations
  docs/context/session-20260725-0743-genai-api-determinism.md
  packages/sharpee/docs/genai-api/index.md
  scripts/generate-genai-api.js
Due: prettier --write

chore(release): bump platform to 3.6.0
  packages/bootstrap/package.json
  packages/channel-service/package.json
  packages/character/package.json
  packages/chord/package.json
  packages/core/package.json
  packages/devkit/package.json
  packages/engine/package.json
  packages/event-processor/package.json
  packages/extensions/basic-combat/package.json
  packages/extensions/scoring/package.json
  packages/extensions/testing/package.json
  packages/helpers/package.json
  packages/ide-protocol/package.json
  packages/if-domain/package.json
  packages/if-services/package.json
  packages/lang-en-us/package.json
  packages/media/package.json
  packages/parser-en-us/package.json
  packages/platform-browser/package.json
  packages/plugin-npc/package.json
  packages/plugin-scheduler/package.json
  packages/plugin-state-machine/package.json
  packages/plugins/package.json
  packages/queries/package.json
  packages/sharpee/package.json
  packages/stdlib/package.json
  packages/story-loader/package.json
  packages/story-runtime-baseline/package.json
  packages/text-blocks/package.json
  packages/transcript-tester/package.json
  packages/world-model/package.json
  stories/dungeo/package.json
Due: prettier --write

fix(tsf): add ext-hunger to ts-forge.config.json projects
  ts-forge.config.json
Due: prettier --write

chore(release): ext-hunger to 3.6.0 (now tsf-managed)
  packages/extensions/hunger/package.json
Due: prettier --write

docs(sharpee): regenerate genai-api index for 3.6.0
  packages/sharpee/docs/genai-api/index.md
Due: prettier --write

docs(publish): npm trusted-publishing migration plan (ADR-free proposal)
  docs/context/archive/session-20260722-0917-main.md
  docs/context/archive/session-20260724-0200-hatch-scoring.md
  docs/context/archive/session-20260724-1955-hatch-scoring.md
  docs/context/archive/session-20260724-2223-adrs-264-265.md
  docs/context/archive/session-20260724-2329-ext-link-fix.md
  docs/context/session-20260725-0807-npm-trusted-publishing.md
  docs/publish/npm-ci.md
Due: prettier --write

chore(stdlib): stamp ENGINE_VERSION to 3.6.0
  packages/stdlib/src/actions/standard/version/engine-version.ts
Due: eslint --fix, prettier --write

docs(publish): require the stamping build in the CI publish flow
  docs/publish/npm-ci.md
Due: prettier --write

docs(publish): resolve 10.4 — leave 3.6.0, 3.7.0 corrects the stamp
  docs/publish/npm-ci.md
Due: prettier --write

docs(sharpee): genai-api reference is repo-only, not published to npm
  CLAUDE.md
  docs/publish/npm-ci.md
  packages/sharpee/CLAUDE.md
  packages/sharpee/package.json
  scripts/generate-genai-api.js
Due: prettier --write

docs(session): expand summary — stale 3.6.0 stamp, CI publish fix, docs scope
  docs/context/session-20260725-0743-genai-api-determinism.md
Due: prettier --write

docs(adr): ADR-266 grammar definition parity — supersedes ADR-265
  docs/architecture/adrs/adr-265-standard-library-readable-chord-form.md
  docs/architecture/adrs/adr-266-grammar-definition-parity.md
  docs/context/session-20260725-0448-adr-266-grammar-parity.md
  docs/work/grammar-parity/sharpee-chord-grammar-syntax.md
Due: prettier --write

chore(deps): bump tsf to ^1.0.1 — Part A of the CI publish plan complete
  docs/publish/npm-ci.md
  package.json
  pnpm-lock.yaml
Due: prettier --write

ci(publish): add publish-npm.yml, remove dead beta-release publish job
  .github/workflows/beta-release.yml
  .github/workflows/publish-npm.yml
  docs/publish/npm-ci.md
Due: prettier --write

docs(session): summary for 62d511 — tsf 1.0.1 bump, CI publish Part B
  docs/context/session-20260725-62d511-main.md
Due: prettier --write

docs(readme): audit and fix all package READMEs; add ext-hunger README
  docs/context/archive/session-20260724-0327-hatch-scoring.md
  docs/context/archive/session-20260725-0215-adrs-264-265.md
  docs/context/archive/session-20260725-0318-adrs-264-265.md
  docs/context/session-20260725-62d511-main.md
  docs/publish/npm-ci.md
  docs/work/readme-audit/findings.md
  packages/bootstrap/README.md
  packages/channel-service/README.md
  packages/character/README.md
  packages/core/README.md
  packages/devkit/README.md
  packages/engine/README.md
  packages/event-processor/README.md
  packages/extensions/basic-combat/README.md
  packages/extensions/hunger/README.md
  packages/extensions/testing/README.md
  packages/ide-protocol/README.md
  packages/if-domain/README.md
  packages/lang-en-us/README.md
  packages/map-editor/README.md
  packages/parser-en-us/README.md
  packages/plugin-npc/README.md
  packages/plugin-scheduler/README.md
  packages/plugin-state-machine/README.md
  packages/plugins/README.md
  packages/queries/README.md
  packages/runtime/README.md
  packages/sharpee/README.md
  packages/stdlib/README.md
  packages/transcript-tester/README.md
  packages/world-model/README.md
Due: prettier --write

docs(session): correct 62d511 summary — Part C complete (32/32), README fixes committed
  docs/context/session-20260725-62d511-main.md
Due: prettier --write

chore(release): bump @sharpee/ext-hunger to 3.6.1 — CI publish canary (D1)
  packages/extensions/hunger/package.json
Due: prettier --write

docs(publish): check off D1 — ext-hunger canary bump landed
  docs/publish/npm-ci.md
Due: prettier --write

ci: build via repokit — replace drifted hand-maintained package lists
  .github/workflows/beta-release.yml
  .github/workflows/build-platforms.yml
  .github/workflows/publish-npm.yml
Due: none

ci: bump actions to Node 24 majors — checkout@v5, setup-node@v5, pnpm/action-setup@v4
  .github/workflows/beta-release.yml
  .github/workflows/build-platforms.yml
  .github/workflows/publish-npm.yml
  docs/publish/npm-ci.md
Due: prettier --write

ci: remove pages and zifmia-publish workflows
  .github/workflows/pages.yml
  .github/workflows/zifmia-publish.yml
Due: none

ci: remove dormant beta-release workflow
  .github/workflows/beta-release.yml
Due: none

ci: skip genai generation in CI builds (--no-genai)
  .github/workflows/build-platforms.yml
  .github/workflows/publish-npm.yml
Due: none

fix(ci-tests): dist-esm module stubs + story-loader in ADR-101 allow-list
  packages/channel-service/tests/ac-16-cleanup-grep-gate.test.ts
  tools/repokit/src/commands/build.ts
Due: eslint --fix, prettier --write

ci: build dungeo story in Build Platforms — AC-13 needs its compiled dist
  .github/workflows/build-platforms.yml
Due: none

feat(grammar): ADR-271 — Chord scope constraints reach the parser as .where() gates
  packages/chord/src/analyzer.ts
  packages/chord/src/catalog.ts
  packages/chord/src/index.ts
  packages/chord/src/ir.ts
  packages/chord/src/parser.ts
  packages/chord/tests/scope-requirements.test.ts
  packages/if-domain/src/grammar/grammar-builder.ts
  packages/if-domain/src/grammar/grammar-engine.ts
  packages/if-domain/tests/grammar/grammar-builder.test.ts
  packages/story-loader/src/loader.ts
  packages/story-loader/tests/bare-verb-dispatch.test.ts
  packages/story-loader/tests/docs-examples-load.test.ts
  packages/story-loader/tests/helpers/grammar-harness.ts
  packages/story-loader/tests/scope-constraint-emission.test.ts
  stories/friendly-zoo/tests/transcripts/scope-constraint-gating.transcript
  website/src/app/chord/guide/vocabulary/define-verb/content.mdx
Due: eslint --fix, prettier --write

fix(scope): ADR-273 — ReachabilityBehavior; GrammarScopeResolver on the real WorldModel API
  packages/parser-en-us/src/grammar-scope-resolver.ts
  packages/parser-en-us/tests/adr-231-d2b-specificity.test.ts
  packages/parser-en-us/tests/colored-buttons.test.ts
  packages/parser-en-us/tests/grammar-scope-resolver-bases.test.ts
  packages/parser-en-us/tests/grammar-scope.test.ts
  packages/parser-en-us/tests/story-grammar.test.ts
  packages/parser-en-us/tests/walk-through-pattern.test.ts
  packages/stdlib/src/scope/scope-resolver.ts
  packages/world-model/src/scope/scope-evaluator.ts
  packages/world-model/src/world/AuthorModel.ts
  packages/world-model/src/world/ReachabilityBehavior.ts
  packages/world-model/src/world/WorldModel.ts
  packages/world-model/src/world/index.ts
  packages/world-model/tests/unit/world/reachability-behavior.test.ts
Due: eslint --fix, prettier --write

docs(adr): ADR-271/273 records, ADR-274 (bundled-CLI cold hatch-transpile hang, DRAFT), plans + session
  docs/architecture/adrs/adr-271-chord-grammar-compiler-pass-through.md
  docs/architecture/adrs/adr-273-grammar-scope-resolver-world-api.md
  docs/architecture/adrs/adr-274-bundled-cli-cold-hatch-transpile.md
  docs/context/.current-plan
  docs/context/session-20260725-1633-main.md
  docs/work/grammar-parity/plan.md
  docs/work/scope-reachability/plan.md
Due: prettier --write

ci(publish): tsf validate --publish — gate only publishable packages
  .github/workflows/publish-npm.yml
Due: none

chore(deps): bump tsf to ^1.0.2 — validate fixes for the CI publish gate
  package.json
  pnpm-lock.yaml
Due: prettier --write

ci(publish): pin npm to 11 — npm 12 pack --json format breaks tsf parsing
  .github/workflows/publish-npm.yml
Due: none

fix(build): ADR-274 — bundled CLI cold hatch-transpile hang; esbuild external + named error
  docs/architecture/adrs/adr-274-bundled-cli-cold-hatch-transpile.md
  docs/context/.current-plan
  docs/context/archive/session-20260725-0807-npm-trusted-publishing.md
  docs/context/session-20260725-1900-main.md
  docs/work/hatch-transpile-bundle/plan.md
  packages/devkit/src/standalone/hatch-transpile.ts
  packages/devkit/tests/fixtures/no-esbuild-preload.cjs
  packages/devkit/tests/hatch-transpile-error.test.ts
  scripts/bundle-entry.js
  tools/repokit/src/commands/bundle.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md})
