Repository ChicagoDave/sharpee: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat(dungeo): Add basket elevator, coal machine, and coffin transport puzzles
  docs/work/dungeo/context/2026-01-05-basket-puzzle-grammar-issue.md
  docs/work/dungeo/context/2026-01-05-coal-machine-puzzle.md
  docs/work/dungeo/context/2026-01-05-coffin-transport-puzzle.md
  stories/dungeo/src/actions/basket/index.ts
  stories/dungeo/src/actions/basket/lower-basket-action.ts
  stories/dungeo/src/actions/basket/raise-basket-action.ts
  stories/dungeo/src/actions/basket/types.ts
  stories/dungeo/src/handlers/basket-handler.ts
  stories/dungeo/src/handlers/coal-machine-handler.ts
  stories/dungeo/tests/transcripts/coffin-transport.transcript
Due: eslint --fix, prettier --write

fix(dungeo): Fix wave-rainbow puzzle and falls death handler
  stories/dungeo/src/handlers/basket-handler.ts
  stories/dungeo/src/handlers/falls-death-handler.ts
  stories/dungeo/src/handlers/river-handler.ts
  stories/dungeo/src/regions/frigid-river/rooms/end-of-rainbow.ts
  stories/dungeo/src/regions/frigid-river/rooms/on-the-rainbow.ts
  stories/dungeo/tests/transcripts/coffin-transport.transcript
Due: eslint --fix, prettier --write

docs(dungeo): Update plan and add work summary for wave-rainbow fix
  docs/work/dungeo/context/2026-01-07-1600-wave-rainbow-falls-fix.md
  docs/work/dungeo/implementation-plan.md
Due: prettier --write

feat(dungeo): Add COMMANDING action for robot commands
  docs/work/dungeo/context/2026-01-07-robot-commanding.md
  stories/dungeo/src/actions/commanding/commanding-action.ts
  stories/dungeo/src/actions/commanding/commanding-messages.ts
  stories/dungeo/src/actions/commanding/index.ts
  stories/dungeo/src/actions/index.ts
  stories/dungeo/src/index.ts
Due: eslint --fix, prettier --write

test(dungeo): Add robot-commands transcript test with 30 tests
  CLAUDE.md
  docs/work/dungeo/context/2026-01-07-robot-commands-transcript.md
  docs/work/dungeo/implementation-plan.md
  pnpm-lock.yaml
  stories/dungeo/package.json
  stories/dungeo/src/actions/commanding/commanding-action.ts
  stories/dungeo/src/index.ts
  stories/dungeo/src/npcs/robot/robot-entity.ts
  stories/dungeo/tests/transcripts/robot-commands.transcript
Due: eslint --fix, prettier --write

fix(stdlib): Fix drinking action mutations + add world state tests
  packages/stdlib/src/actions/standard/drinking/drinking.ts
  packages/stdlib/tests/unit/actions/drinking-golden.test.ts
  packages/stdlib/tests/unit/actions/going-golden.test.ts
  packages/stdlib/tests/unit/actions/putting-golden.test.ts
  packages/stdlib/tests/unit/actions/taking-golden.test.ts
Due: eslint --fix, prettier --write

docs(stdlib): Update mitigation plan and add work summary
  docs/work/dungeo/context/2026-01-08-stdlib-testing-drinking-fix.md
  docs/work/stdlib-tests/mitigation-plan.md
Due: prettier --write

docs: Add progressive session summary infrastructure
  .claude/hooks/check-session-summary.sh
  .claude/settings.json
  CLAUDE.md
  docs/context/.session-template.md
  docs/context/session-20260108-0843-stdlib-testing.md
Due: prettier --write

docs: Add session hooks and dungeo regression test session
  .claude/hooks/session-finalize.sh
  .claude/hooks/session-start.sh
  .claude/hooks/session-update.sh
  .claude/settings.json
  README.md
  docs/context/.session-template.md
  docs/context/session-20260108-0843-stdlib-testing.md
  docs/context/session-20260108-1646-stdlib-testing.md
  docs/context/session-20260108-1647-stdlib-testing.md
  docs/context/session-20260108-1742-stdlib-testing.md
  docs/context/session-20260108-1940-dungeo.md
  docs/guides/creating-stories.md
  pnpm-lock.yaml
Due: prettier --write

feat(hooks): Show previous session summary on startup
  .claude/hooks/session-start.sh
Due: none

feat(transcript-tester): Implement ADR-092 smart transcript directives
  docs/architecture/adrs/adr-092-smart-transcript-directives.md
  docs/work/dungeo/walkthrough-plan.md
  packages/transcript-tester/src/condition-evaluator.ts
  packages/transcript-tester/src/navigator.ts
  packages/transcript-tester/src/parser.ts
  packages/transcript-tester/src/runner.ts
  packages/transcript-tester/src/types.ts
  stories/dungeo/tests/transcripts/smart-directives-basic.transcript
Due: eslint --fix, prettier --write

fix(transcript-tester): Improve entity resolution and isAlive check
  packages/transcript-tester/src/condition-evaluator.ts
Due: eslint --fix, prettier --write

feat(dungeo): Add Dome Room rope puzzle and magic words
  stories/dungeo/src/actions/say/say-action.ts
  stories/dungeo/src/actions/tie/tie-action.ts
  stories/dungeo/src/actions/tie/types.ts
  stories/dungeo/src/index.ts
  stories/dungeo/src/regions/temple/index.ts
  stories/dungeo/src/regions/temple/objects/index.ts
  stories/dungeo/src/regions/underground/index.ts
  stories/dungeo/src/regions/underground/rooms/rocky-crawl.ts
Due: eslint --fix, prettier --write

test(dungeo): Add transcripts for rope puzzle and walkthrough goals
  stories/dungeo/tests/transcripts/full-walkthrough.transcript
  stories/dungeo/tests/transcripts/get-torch-early.transcript
  stories/dungeo/tests/transcripts/maze-cyclops-goal.transcript
  stories/dungeo/tests/transcripts/rope-puzzle.transcript
  stories/dungeo/tests/transcripts/troll-combat.transcript
Due: none

docs: Add session summaries and room catalog
  docs/context/session-20260108-2017-dungeo.md
  docs/context/session-20260108-2052-dungeo.md
  docs/context/session-20260108-2124-dungeo.md
  docs/context/session-20260108-2219-dungeo.md
  docs/context/session-20260108-2314-dungeo.md
  docs/context/session-20260109-0545-dungeo.md
  docs/context/session-20260109-0549-dungeo.md
  docs/work/dungeo/room-catalog.md
Due: prettier --write

feat(dungeo): Add interactive play mode, GDT DE command, parser debug
  docs/context/session-20260109-1545-dungeo.md
  docs/context/session-20260109-2202-dungeo.md
  docs/context/session-20260109-2235-dungeo.md
  docs/context/session-20260109-2323-dungeo.md
  docs/context/session-20260110-0005-dungeo.md
  docs/context/session-20260110-1230-dungeo.md
  packages/parser-en-us/src/slot-consumers/entity-slot-consumer.ts
  packages/transcript-tester/src/cli.ts
  packages/world-model/src/entities/if-entity.ts
  scripts/play-dungeo.sh
  stories/dungeo/src/actions/gdt/commands/de.ts
  stories/dungeo/src/actions/gdt/commands/help.ts
  stories/dungeo/src/actions/gdt/commands/index.ts
  stories/dungeo/src/actions/gdt/gdt-parser.ts
  stories/dungeo/src/actions/gdt/types.ts
  stories/dungeo/src/actions/say/say-action.ts
  stories/dungeo/src/index.ts
  stories/dungeo/src/regions/dam.ts
  stories/dungeo/src/regions/frigid-river.ts
  stories/dungeo/tests/transcripts/debug-boat.transcript
  stories/dungeo/tests/transcripts/river-navigation.transcript
  stories/dungeo/tests/transcripts/wt-04-dam-reservoir.transcript
  stories/dungeo/tests/transcripts/wt-05-egyptian-room.transcript
Due: eslint --fix, prettier --write

docs: Add parser refactor plan for trait-based constraints
  docs/context/session-20260110-0731-dungeo.md
  docs/work/parser/refactor-plan.md
Due: prettier --write

docs: Add scope validation step for visible vs reachable
  docs/work/parser/refactor-plan.md
Due: prettier --write

docs: Add scope scenarios for parser validation
  docs/work/parser/scope-scenarios.md
Due: prettier --write

docs: Add 4-tier scope system (AWARE/VISIBLE/REACHABLE/CARRIED)
  docs/work/parser/refactor-plan.md
  docs/work/parser/scope-scenarios.md
Due: prettier --write

docs: Add professional assessment comparing to TADS/Inform/Hugo
  docs/work/parser/plan-assessment.md
Due: prettier --write

docs: Add user responses to assessment recommendations
  docs/work/parser/plan-assessment.md
Due: prettier --write

docs: Update plan with confirmed design decisions
  docs/work/parser/refactor-plan.md
Due: prettier --write

docs: Add session summary for parser refactor planning
  docs/context/session-20260110-1430-parser-refactor.md
Due: prettier --write

fix(engine): Implement new scope methods in ActionContext factory
  packages/engine/src/action-context-factory.ts
Due: eslint --fix, prettier --write

feat(dungeo): Complete Frigid River boat navigation (57 tests passing)
  docs/context/session-20260111-0943-dungeo.md
  docs/work/dungeo/context/2026-01-11-0056-frigid-river-complete.md
  packages/stdlib/src/actions/standard/going/going.ts
  packages/world-model/src/traits/vehicle/vehicleBehavior.ts
  stories/dungeo/src/actions/deflate/deflate-action.ts
  stories/dungeo/src/actions/index.ts
  stories/dungeo/src/actions/inflate/inflate-action.ts
  stories/dungeo/src/actions/launch/index.ts
  stories/dungeo/src/actions/launch/launch-action.ts
  stories/dungeo/src/actions/launch/types.ts
  stories/dungeo/src/actions/wave/wave-action.ts
  stories/dungeo/src/handlers/boat-puncture-handler.ts
  stories/dungeo/src/handlers/index.ts
  stories/dungeo/src/index.ts
  stories/dungeo/src/regions/dam.ts
  stories/dungeo/src/regions/frigid-river.ts
  stories/dungeo/tests/transcripts/boat-inflate-deflate.transcript
  stories/dungeo/tests/transcripts/boat-stick-puncture.transcript
  stories/dungeo/tests/transcripts/frigid-river-full.transcript
Due: eslint --fix, prettier --write

feat(stdlib): Add implicit take and container content differentiation
  packages/lang-en-us/src/actions/looking.ts
  packages/stdlib/src/actions/standard/examining/examining-data.ts
  packages/stdlib/src/actions/standard/examining/examining.ts
  packages/stdlib/src/actions/standard/giving/giving.ts
  packages/stdlib/src/actions/standard/inserting/inserting.ts
  packages/stdlib/src/actions/standard/looking/looking-data.ts
  packages/stdlib/src/actions/standard/looking/looking.ts
  packages/stdlib/src/actions/standard/putting/putting.ts
  packages/stdlib/src/actions/standard/showing/showing.ts
  packages/stdlib/src/actions/standard/throwing/throwing.ts
  stories/dungeo/tests/transcripts/implicit-take-put.transcript
  stories/dungeo/tests/transcripts/implicit-take-test.transcript
Due: eslint --fix, prettier --write

test(dungeo): Fix boat puncture test to match current behavior
  stories/dungeo/tests/transcripts/boat-stick-puncture.transcript
Due: none

docs: Add work summary for implicit take and container display session
  docs/work/dungeo/context/2026-01-11-implicit-take-container-display.md
Due: prettier --write

fix(dungeo): Remove non-existent sceptre, fix wave action for stick
  CLAUDE.md
  docs/work/dungeo/context/2026-01-11-sceptre-removal.md
  docs/work/dungeo/parser-regression.md
  stories/dungeo/src/actions/wave/types.ts
  stories/dungeo/src/actions/wave/wave-action.ts
  stories/dungeo/src/index.ts
  stories/dungeo/src/regions/dam.ts
  stories/dungeo/src/regions/volcano.ts
  stories/dungeo/tests/transcripts/river-navigation.transcript
  stories/dungeo/tests/transcripts/wave-rainbow.transcript
Due: eslint --fix, prettier --write

docs(dungeo): Add FORTRAN scoring audit and fix plan
  docs/context/session-20260111-1214-dungeo.md
  docs/work/dungeo/context/session-20260111-scoring-audit.md
  docs/work/dungeo/scoring-audit.md
  docs/work/dungeo/scoring-fix-plan.md
Due: prettier --write

fix(dungeo): Fix 12 transcript tests, improve pass rate to 88%
  docs/context/session-20260111-1231-dungeo.md
  docs/work/dungeo/context/2026-01-11-transcript-test-fixes.md
  docs/work/dungeo/parser-regression.md
  stories/dungeo/src/regions/endgame.ts
  stories/dungeo/src/regions/forest.ts
  stories/dungeo/src/regions/well-room.ts
  stories/dungeo/tests/transcripts/balloon-actions.transcript
  stories/dungeo/tests/transcripts/coffin-puzzle.transcript
  stories/dungeo/tests/transcripts/dam-puzzle.transcript
  stories/dungeo/tests/transcripts/exorcism-ritual.transcript
  stories/dungeo/tests/transcripts/flooding.transcript
  stories/dungeo/tests/transcripts/full-walkthrough.transcript
  stories/dungeo/tests/transcripts/implicit-take-test.transcript
  stories/dungeo/tests/transcripts/mirror-room-toggle.transcript
  stories/dungeo/tests/transcripts/round-room-hub.transcript
  stories/dungeo/tests/transcripts/thiefs-canvas.transcript
  stories/dungeo/tests/transcripts/tomb-crypt-navigation.transcript
Due: eslint --fix, prettier --write

fix(dungeo): Update treasure points to match FORTRAN source
  docs/work/dungeo/context/2026-01-11-treasure-points-audit.md
  stories/dungeo/src/actions/send/send-action.ts
  stories/dungeo/src/actions/wind/wind-action.ts
  stories/dungeo/src/regions/bank-of-zork.ts
  stories/dungeo/src/regions/coal-mine.ts
  stories/dungeo/src/regions/dam.ts
  stories/dungeo/src/regions/forest.ts
  stories/dungeo/src/regions/frigid-river.ts
  stories/dungeo/src/regions/temple.ts
  stories/dungeo/src/regions/underground.ts
  stories/dungeo/src/regions/volcano.ts
  stories/dungeo/src/regions/well-room.ts
  stories/dungeo/tests/transcripts/coffin-transport.transcript
  stories/dungeo/tests/transcripts/coffin-trident.transcript
  stories/dungeo/tests/transcripts/debug-boat.transcript
Due: eslint --fix, prettier --write

feat(dungeo): Add treasure scoring with take/case split and assessment
  docs/work/dungeo/context/session-20260111-treasure-scoring.md
  docs/work/scoring/assessment.md
  stories/dungeo/src/index.ts
  stories/dungeo/src/scoring/dungeo-scoring-service.ts
  stories/dungeo/tests/transcripts/trophy-case-scoring.transcript
Due: eslint --fix, prettier --write

feat(stdlib): Add ScoringEventProcessor for declarative scoring hooks
  docs/context/session-20260111-2236-dungeo.md
  docs/context/session-20260111-2343-dungeo.md
  packages/stdlib/src/services/index.ts
  packages/stdlib/src/services/scoring/index.ts
  packages/stdlib/src/services/scoring/scoring-event-processor.ts
  stories/dungeo/src/index.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md})
