Repository ChicagoDave/sharpee: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: Date-based versioning and banner version display
  packages/core/src/events/game-events.ts
  packages/engine/src/game-engine.ts
  packages/platforms/browser-en-us/package.json
  packages/platforms/browser-en-us/src/version.ts
  packages/sharpee/package.json
  packages/text-service/src/handlers/game.ts
  scripts/build-dungeo-ubuntu.sh
  scripts/build-dungeo.sh
  stories/dungeo/package.json
  stories/dungeo/src/messages/index.ts
Due: eslint --fix, prettier --write

refactor: Modular build system and meta-command fixes
  CLAUDE.md
  docs/context/.work-log.txt
  docs/context/session-20260121-1711-dungeo.md
  docs/context/session-20260121-1816-dungeo.md
  docs/context/session-20260121-1838-dungeo.md
  docs/guides/README.md
  docs/guides/build-system.md
  packages/engine/src/game-engine.ts
  packages/platforms/browser-en-us/package.json
  packages/platforms/browser-en-us/src/version.ts
  packages/sharpee/package.json
  packages/stdlib/src/actions/standard/version/version-events.ts
  packages/stdlib/src/actions/standard/version/version.ts
  pnpm-lock.yaml
  scripts/build-client.sh
  scripts/build-dungeo.sh
  scripts/build-platform.sh
  scripts/build-story.sh
  scripts/build-web.sh
  scripts/build.sh
  scripts/update-versions.sh
  stories/dungeo/package.json
  stories/dungeo/src/browser-entry.ts
  stories/dungeo/src/index.ts
  stories/dungeo/src/messages/index.ts
  stories/dungeo/src/version.ts
Due: eslint --fix, prettier --write

feat: Scaffold sharpee.net website with Astro
  docs/context/session-20260121-1940-dungeo.md
  website/.gitignore
  website/README.md
  website/astro.config.mjs
  website/package.json
  website/pnpm-lock.yaml
  website/public/favicon.svg
  website/src/components/DocsSidebar.astro
  website/src/components/Footer.astro
  website/src/components/GameCard.astro
  website/src/components/Navigation.astro
  website/src/content/config.ts
  website/src/content/demos/dungeo.md
  website/src/content/docs/getting-started/installation.md
  website/src/content/docs/getting-started/quick-start.md
  website/src/layouts/BaseLayout.astro
  website/src/layouts/DocsLayout.astro
  website/src/pages/demos/[slug].astro
  website/src/pages/demos/index.astro
  website/src/pages/docs/[...slug].astro
  website/src/pages/docs/author-guide/index.astro
  website/src/pages/docs/developer-guide/index.astro
  website/src/pages/docs/getting-started/index.astro
  website/src/pages/games/[slug].astro
  website/src/pages/games/index.astro
  website/src/pages/index.astro
  website/src/styles/global.css
  website/tsconfig.json
Due: eslint --fix, prettier --write

feat: Meta-command early divergence architecture
  docs/context/.work-log.txt
  docs/context/session-20260121-1711-dungeo.md
  docs/context/session-20260121-1854-dungeo.md
  docs/context/session-20260121-1924-dungeo.md
  docs/context/session-20260122-0043-dungeo.md
  docs/work/platform/meta-commands.md
  packages/engine/src/game-engine.ts
  packages/engine/src/types.ts
  packages/parser-en-us/src/grammar.ts
  packages/sharpee/package.json
  pnpm-lock.yaml
  stories/dungeo/package.json
  stories/dungeo/src/version.ts
Due: eslint --fix, prettier --write

feat: Add Dungeo browser demo to website
  docs/context/.work-log.txt
  docs/context/session-20260122-0043-dungeo.md
  website/public/demos/dungeo/dungeo.js
  website/public/demos/dungeo/index.html
  website/public/demos/dungeo/styles.css
Due: prettier --write

fix: Add dungeo to /games/ path for website
  website/package-lock.json
  website/public/games/dungeo/dungeo.js
  website/public/games/dungeo/index.html
  website/public/games/dungeo/styles.css
Due: prettier --write

feat: Embed Dungeo game in site layout via /play/dungeo/
  website/src/content/demos/dungeo.md
  website/src/pages/play/dungeo.astro
Due: prettier --write

fix: Correct title, authors, and version for Dungeon demo
  website/src/content/demos/dungeo.md
  website/src/pages/demos/[slug].astro
  website/src/pages/play/dungeo.astro
Due: prettier --write

feat: Add PDP-10 cover image for Dungeon demo
  website/public/images/demos/dungeo-cover.jpg
  website/src/content/demos/dungeo.md
Due: prettier --write

fix: Link directly to installation doc to avoid redirect page
  website/src/components/Navigation.astro
  website/src/pages/index.astro
Due: none

fix: Update footer copyright to David Cornelson
  website/src/components/Footer.astro
Due: none

fix: Replace copyright with MIT License link in footer
  website/src/components/Footer.astro
Due: none

feat: Add license page with MIT License and copyright notice
  website/src/components/Footer.astro
  website/src/pages/license.astro
Due: none

docs: Add author and developer guides to website
  website/src/content/docs/author-guide/creating-stories.md
  website/src/content/docs/developer-guide/build-system.md
  website/src/content/docs/developer-guide/project-structure.md
Due: prettier --write

feat: Add npm publish script for all @sharpee packages
  scripts/publish-npm.sh
Due: none

fix: Use ubuntu build script when pnpm not available
  scripts/publish-npm.sh
Due: none

chore: Update all package versions to 0.9.50-beta
  packages/core/package.json
  packages/engine/package.json
  packages/event-processor/package.json
  packages/if-domain/package.json
  packages/if-services/package.json
  packages/lang-en-us/package.json
  packages/parser-en-us/package.json
  packages/sharpee/package.json
  packages/stdlib/package.json
  packages/text-blocks/package.json
  packages/text-service/package.json
  packages/world-model/package.json
Due: prettier --write

docs: Add session summary for website deployment and npm publish
  docs/context/session-20260122-0707-dungeo.md
Due: prettier --write

chore: Remove redundant demos folder
  website/public/demos/dungeo/dungeo.js
  website/public/demos/dungeo/index.html
  website/public/demos/dungeo/styles.css
Due: none

chore: Reorganize issue tracking
  docs/work/issues/README.md
  docs/work/issues/issues-list-01.md
  docs/work/issues/issues-list-02.md
Due: prettier --write

docs: Catalog test failures and new issues (ISSUE-029 to ISSUE-034)
  docs/context/.work-log.txt
  docs/context/session-20260122-0043-dungeo.md
  docs/work/issues/issues-list-02.md
Due: prettier --write

docs: Add AuthorModel usage for story setup
  website/src/content/docs/author-guide/creating-stories.md
  website/src/content/docs/getting-started/quick-start.md
Due: prettier --write

docs: Add Rooms and Objects guides to website
  website/src/content/docs/author-guide/objects.md
  website/src/content/docs/author-guide/rooms.md
Due: prettier --write

docs: Add NPCs guide to website
  website/src/content/docs/author-guide/npcs.md
Due: prettier --write

docs: Add Cloak of Darkness step-by-step tutorial
  website/src/content/docs/tutorials/cloak-of-darkness.md
Due: prettier --write

feat: Add Tutorials section to website navigation
  website/src/components/DocsSidebar.astro
  website/src/components/Navigation.astro
Due: none

fix: Add tutorials to content schema enum
  website/src/content/config.ts
Due: eslint --fix, prettier --write

fix: Add missing tutorials index page and games .gitkeep
  website/src/content/games/.gitkeep
  website/src/pages/docs/tutorials/index.astro
Due: none

refactor: Migrate meta/platform actions to domain event pattern (ADR-097)
  docs/context/session-20260122-1927-dungeo.md
  packages/engine/src/game-engine.ts
  packages/stdlib/src/actions/standard/about/about-events.ts
  packages/stdlib/src/actions/standard/about/about.ts
  packages/stdlib/src/actions/standard/help/help-events.ts
  packages/stdlib/src/actions/standard/help/help.ts
  packages/stdlib/src/actions/standard/quitting/quitting.ts
  packages/stdlib/src/actions/standard/restarting/restarting.ts
  packages/stdlib/src/actions/standard/restoring/restoring.ts
  packages/stdlib/src/actions/standard/saving/saving.ts
  packages/stdlib/src/actions/standard/scoring/index.ts
  packages/stdlib/src/actions/standard/scoring/scoring-events.ts
  packages/stdlib/src/actions/standard/scoring/scoring.ts
  packages/stdlib/src/actions/standard/version/version-events.ts
  packages/stdlib/src/actions/standard/version/version.ts
  packages/stdlib/src/events/event-registry.ts
Due: eslint --fix, prettier --write

docs: Update Cloak of Darkness tutorial to use CLI commands
  docs/context/session-20260122-1949-dungeo.md
  website/src/content/docs/tutorials/cloak-of-darkness.md
Due: prettier --write

refactor: Migrate website to Astro Starlight
  website/astro.config.mjs
  website/package-lock.json
  website/package.json
  website/src/components/DocsSidebar.astro
  website/src/components/Footer.astro
  website/src/components/GameCard.astro
  website/src/components/Navigation.astro
  website/src/content.config.ts
  website/src/content/config.ts
  website/src/content/demos/dungeo.md
  website/src/content/docs/author-guide/creating-stories.md
  website/src/content/docs/author-guide/npcs.md
  website/src/content/docs/author-guide/objects.md
  website/src/content/docs/author-guide/rooms.md
  website/src/content/docs/developer-guide/build-system.md
  website/src/content/docs/developer-guide/project-structure.md
  website/src/content/docs/getting-started/installation.md
  website/src/content/docs/getting-started/quick-start.md
  website/src/content/docs/index.md
  website/src/content/docs/tutorials/cloak-of-darkness.md
  website/src/content/games/.gitkeep
  website/src/layouts/BaseLayout.astro
  website/src/layouts/DocsLayout.astro
  website/src/pages/demos/[slug].astro
  website/src/pages/demos/index.astro
  website/src/pages/docs/[...slug].astro
  website/src/pages/docs/author-guide/index.astro
  website/src/pages/docs/developer-guide/index.astro
  website/src/pages/docs/getting-started/index.astro
  website/src/pages/docs/tutorials/index.astro
  website/src/pages/games/[slug].astro
  website/src/pages/games/index.astro
  website/src/pages/index.astro
  website/src/pages/license.astro
  website/src/pages/play/dungeo.astro
  website/src/styles/global.css
Due: eslint --fix, prettier --write

docs: Add temporary npm outage notice
  website/src/content/docs/getting-started/installation.md
Due: prettier --write

docs: Add GitHub workaround for npm outage
  website/src/content/docs/getting-started/installation.md
Due: prettier --write

fix: Repair transcript tests and enhance GDT commands
  docs/context/session-20260122-2023-dungeo.md
  docs/context/session-20260122-2100-dungeo.md
  stories/dungeo/src/actions/gdt/commands/fo.ts
  stories/dungeo/src/actions/gdt/commands/index.ts
  stories/dungeo/src/actions/gdt/commands/ko.ts
  stories/dungeo/src/actions/gdt/gdt-parser.ts
  stories/dungeo/src/actions/gdt/types.ts
  stories/dungeo/src/grammar/gdt-grammar.ts
  stories/dungeo/src/grammar/speech-grammar.ts
  stories/dungeo/tests/transcripts/egg-canary.transcript
  stories/dungeo/tests/transcripts/exorcism-ritual.transcript
  stories/dungeo/tests/transcripts/frigid-river-full.transcript
  stories/dungeo/tests/transcripts/house-interior.transcript
  stories/dungeo/tests/transcripts/p0-simple.transcript
  stories/dungeo/tests/transcripts/p0-test.transcript
  stories/dungeo/tests/transcripts/p1-fixes-verification.transcript
  stories/dungeo/tests/transcripts/robot-commands.transcript
  stories/dungeo/tests/transcripts/round-room-hub.transcript
  stories/dungeo/tests/transcripts/rug-trapdoor.transcript
  stories/dungeo/tests/transcripts/troll-recovery.transcript
Due: eslint --fix, prettier --write

fix: Repair 7 transcript tests, delete 2 debug transcripts
  docs/context/session-20260123-0543-dungeo.md
  stories/dungeo/src/regions/dam.ts
  stories/dungeo/src/regions/volcano.ts
  stories/dungeo/tests/transcripts/dam-drain.transcript
  stories/dungeo/tests/transcripts/debug-taken-handler.transcript
  stories/dungeo/tests/transcripts/disambiguation.transcript
  stories/dungeo/tests/transcripts/implicit-inference.transcript
  stories/dungeo/tests/transcripts/smart-directives-basic.transcript
  stories/dungeo/tests/transcripts/throw-torch-glacier.transcript
  stories/dungeo/tests/transcripts/troll-axe.transcript
  stories/dungeo/tests/transcripts/wave-rainbow.transcript
Due: eslint --fix, prettier --write

fix: Repair transcript tests and walkthrough chain
  docs/context/session-20260123-0219-dungeo.md
  stories/dungeo/tests/transcripts/balloon-actions.transcript
  stories/dungeo/tests/transcripts/boat-inflate-deflate.transcript
  stories/dungeo/tests/transcripts/chimney-restriction.transcript
  stories/dungeo/tests/transcripts/coal-machine.transcript
  stories/dungeo/tests/transcripts/coffin-trident.transcript
  stories/dungeo/tests/transcripts/get-all.transcript
  stories/dungeo/tests/transcripts/troll-blocking.transcript
  stories/dungeo/walkthroughs/wt-01-get-torch-early.transcript
  stories/dungeo/walkthroughs/wt-04-dam-reservoir.transcript
  stories/dungeo/walkthroughs/wt-05-egyptian-room.transcript
Due: prettier --write

feat: Add wt-06 exorcism walkthrough and fix Entry to Hades direction bug
  docs/context/session-20260123-0249-dungeo.md
  docs/work/dungeo/walkthrough-plan.md
  stories/dungeo/src/handlers/exorcism-handler.ts
  stories/dungeo/src/regions/endgame.ts
  stories/dungeo/walkthroughs/wt-06-exorcism.transcript
Due: eslint --fix, prettier --write

feat: Draft wt-07 river-rainbow walkthrough
  docs/context/session-20260123-0249-dungeo.md
  docs/work/dungeo/walkthrough-plan.md
  stories/dungeo/walkthroughs/wt-07-river-rainbow.transcript
Due: prettier --write

docs: Remove incorrect PORTABLE trait and fix Starlight links
  docs/guides/creating-stories.md
  website/src/content/docs/author-guide/creating-stories.md
  website/src/content/docs/getting-started/installation.md
  website/src/content/docs/getting-started/quick-start.md
  website/src/content/docs/tutorials/cloak-of-darkness.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md})
