Repository ChicagoDave/sharpee: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md}": [
    "prettier --write"
  ]
}

feat(parser): ADR-080 Phase 3 - command chaining with period and comma splitting
  docs/architecture/adrs/adr-080-raw-text-grammar-slots.md
  docs/work/grammar-enhancements/context/2025-12-31-1400-phase-3-command-chaining.md
  packages/parser-en-us/src/english-parser.ts
  packages/parser-en-us/tests/adr-080-grammar-enhancements.test.ts
Due: eslint --fix, prettier --write

wip(parser): Phase 7 investigation - isAll flag not wiring through
  docs/work/grammar-enhancements/context/2025-12-31-1430-phase-7-investigation.md
  packages/parser-en-us/src/english-grammar-engine.ts
Due: eslint --fix, prettier --write

docs: Add work summary - isAll investigation resolved
  docs/work/grammar-enhancements/context/2025-12-31-1530-isall-investigation-resolved.md
Due: prettier --write

refactor(parser): Use SlotMatch interface instead of inline types
  docs/work/grammar-enhancements/context/2025-12-31-1545-inline-type-cleanup.md
  packages/if-domain/src/grammar/grammar-builder.ts
  packages/parser-en-us/src/english-grammar-engine.ts
Due: eslint --fix, prettier --write

feat(stdlib): Add multi-object support to taking action (ADR-080 Phase 6)
  docs/work/grammar-enhancements/context/2025-12-31-1630-multi-object-phase6-partial.md
  packages/stdlib/src/actions/standard/taking/taking-messages.ts
  packages/stdlib/src/actions/standard/taking/taking-types.ts
  packages/stdlib/src/actions/standard/taking/taking.ts
  packages/stdlib/src/helpers/index.ts
  packages/stdlib/src/helpers/multi-object-handler.ts
Due: eslint --fix, prettier --write

feat(stdlib): Add multi-object support to dropping, putting, inserting (ADR-080 Phase 6)
  docs/work/grammar-enhancements/context/2025-12-31-2000-multi-object-phase6-complete.md
  packages/stdlib/src/actions/standard/dropping/dropping-messages.ts
  packages/stdlib/src/actions/standard/dropping/dropping-types.ts
  packages/stdlib/src/actions/standard/dropping/dropping.ts
  packages/stdlib/src/actions/standard/inserting/inserting-messages.ts
  packages/stdlib/src/actions/standard/inserting/inserting.ts
  packages/stdlib/src/actions/standard/putting/putting-messages.ts
  packages/stdlib/src/actions/standard/putting/putting-types.ts
  packages/stdlib/src/actions/standard/putting/putting.ts
  packages/stdlib/tests/unit/actions/dropping-golden.test.ts
Due: eslint --fix, prettier --write

docs: Update work summary with ADR-080 overall status
  docs/work/grammar-enhancements/context/2025-12-31-2000-multi-object-phase6-complete.md
Due: prettier --write

feat: Complete ADR-080 grammar enhancements
  docs/architecture/adrs/adr-080-raw-text-grammar-slots.md
  docs/design/grammar-table.md
  docs/work/grammar-enhancements/context/2025-12-31-2130-adr-080-complete.md
  packages/stdlib/src/actions/standard/attacking/attacking-data.ts
  packages/stdlib/src/actions/standard/attacking/attacking.ts
  packages/stdlib/src/actions/standard/locking/locking.ts
  packages/stdlib/src/actions/standard/removing/removing-messages.ts
  packages/stdlib/src/actions/standard/removing/removing-types.ts
  packages/stdlib/src/actions/standard/removing/removing.ts
  packages/stdlib/src/actions/standard/unlocking/unlocking.ts
  packages/stdlib/src/validation/command-validator.ts
  packages/stdlib/src/validation/types.ts
  packages/world-model/src/commands/validated-command.ts
Due: eslint --fix, prettier --write

docs: Add beta release work plan for ADR-074 and ADR-081
  docs/work/beta-release/74-and-81-work-plan.md
Due: prettier --write

ci: Add beta release workflow
  .github/workflows/beta-release.yml
Due: none

docs: Add work summary for beta release setup
  docs/work/beta-release/context/2025-12-31-2200-beta-release-setup.md
Due: prettier --write

feat(core): Implement IFID support (ADR-074 Phase 1)
  packages/core/src/ifid/ifid.ts
  packages/core/src/ifid/index.ts
  packages/core/src/index.ts
  packages/core/src/metadata/index.ts
  packages/core/src/metadata/story-metadata.ts
  packages/core/tests/ifid/ifid.test.ts
  packages/sharpee/package.json
  packages/sharpee/src/cli/ifid.ts
  packages/sharpee/src/cli/index.ts
  stories/dungeo/package.json
Due: eslint --fix, prettier --write

chore: release v0.9.0-beta.1
  .turbo/cache/0da6db3481aecaf7-meta.json
  .turbo/cache/0da6db3481aecaf7.tar.zst
  .turbo/cache/1b97564d381f4ee6-meta.json
  .turbo/cache/1b97564d381f4ee6.tar.zst
  .turbo/cache/26ae997e1db01b08-meta.json
  .turbo/cache/26ae997e1db01b08.tar.zst
  .turbo/cache/3ee324216079ff7d-meta.json
  .turbo/cache/3ee324216079ff7d.tar.zst
  .turbo/cache/480528bb7fb69b70-meta.json
  .turbo/cache/480528bb7fb69b70.tar.zst
  .turbo/cache/61bfc80c7b2fd363-meta.json
  .turbo/cache/61bfc80c7b2fd363.tar.zst
  .turbo/cache/aa0c79e294695cd8-meta.json
  .turbo/cache/aa0c79e294695cd8.tar.zst
  .turbo/cache/c00c8b48731c8564-meta.json
  .turbo/cache/c00c8b48731c8564.tar.zst
  .turbo/cache/c09ef2bc22d8de60-meta.json
  .turbo/cache/c09ef2bc22d8de60.tar.zst
  .turbo/cache/c16fb2b9effae976-meta.json
  .turbo/cache/c16fb2b9effae976.tar.zst
  .turbo/cache/e9c7538864a71d43-meta.json
  .turbo/cache/e9c7538864a71d43.tar.zst
  .turbo/daemon/6ed99fb403b7c7bb-turbo.log.2025-12-27
  packages/core/package.json
  packages/engine/package.json
  packages/if-domain/package.json
  packages/lang-en-us/package.json
  packages/parser-en-us/package.json
  packages/sharpee/package.json
  packages/stdlib/package.json
  packages/text-service-template/src/index.ts
  packages/world-model/package.json
  pnpm-lock.yaml
  scripts/build-release.sh
Due: eslint --fix, prettier --write

feat: Add build-release.sh script and release notes
  docs/releases/0.9.0-beta.1.md
  docs/work/beta-release/context/2026-01-01-0130-beta-release-complete.md
  scripts/build-release.sh
Due: prettier --write

ci: Add npm publish job to beta-release workflow
  .github/workflows/beta-release.yml
  CONTRIBUTING.md
  package.json
Due: prettier --write

fix(ci): Use turbo for dependency-aware builds
  .github/workflows/beta-release.yml
Due: none

fix: Use workspace:* instead of file: for internal deps
  packages/event-processor/package.json
  packages/if-services/package.json
  packages/text-service-template/package.json
Due: prettier --write

Revert "fix: Use workspace:* instead of file: for internal deps"
  packages/event-processor/package.json
  packages/if-services/package.json
  packages/text-service-template/package.json
Due: prettier --write

fix(ci): Use explicit build order for file:../ deps
  .github/workflows/beta-release.yml
Due: none

fix(ci): Remove --ignore-scripts to fix file:../ linking
  .github/workflows/beta-release.yml
Due: none

fix: Remove prepublishOnly scripts that break CI install
  packages/client-core/package.json
  packages/core/package.json
  packages/engine/package.json
  packages/forge/package.json
  packages/if-domain/package.json
  packages/lang-en-us/package.json
  packages/parser-en-us/package.json
  packages/sharpee/package.json
  packages/stdlib/package.json
  packages/world-model/package.json
Due: prettier --write

fix: Fix trailing commas in package.json files
  packages/client-core/package.json
  packages/core/package.json
  packages/engine/package.json
  packages/forge/package.json
  packages/if-domain/package.json
  packages/lang-en-us/package.json
  packages/parser-en-us/package.json
  packages/sharpee/package.json
  packages/stdlib/package.json
  packages/world-model/package.json
Due: prettier --write

refactor: Convert to proper monorepo with workspace:* and TS project references
  .turbo/cookies/.turbo-cookie
  docs/work/beta-release/context/2026-01-01-0330-monorepo-refactor.md
  packages/client-core/tsconfig.json
  packages/engine/tsconfig.json
  packages/event-processor/package.json
  packages/event-processor/tsconfig.json
  packages/forge/package.json
  packages/forge/tsconfig.json
  packages/if-domain/tsconfig.json
  packages/if-services/package.json
  packages/if-services/tsconfig.json
  packages/lang-en-us/tsconfig.json
  packages/parser-en-us/tsconfig.json
  packages/sharpee/tsconfig.json
  packages/stdlib/tsconfig.json
  packages/text-service-browser/tsconfig.json
  packages/text-service-template/package.json
  packages/text-service-template/tsconfig.json
  packages/text-services/tsconfig.json
  packages/transcript-tester/tsconfig.json
  packages/world-model/tsconfig.json
  pnpm-lock.yaml
  tsconfig.base.json
Due: prettier --write

feat(core): Add typed event system (ADR-082 Phase 1)
  docs/architecture/adrs/adr-082-typed-event-system.md
  docs/work/beta-release/context/2026-01-01-0500-adr082-phase1.md
  packages/core/src/events/event-factory.ts
  packages/core/src/events/event-helpers.ts
  packages/core/src/events/event-registry.ts
  packages/core/src/events/index.ts
  packages/core/src/events/typed-event.ts
  packages/text-service-browser/src/index.ts
  packages/text-service-browser/src/narrative-text-service.ts
  packages/text-service-browser/src/standard-text-service.ts
  packages/text-service-template/src/index.ts
Due: eslint --fix, prettier --write

feat(stdlib): Add IF event types to EventDataRegistry (ADR-082 Phase 2)
  packages/stdlib/src/events/event-registry.ts
  packages/stdlib/src/events/index.ts
  packages/stdlib/src/index.ts
Due: eslint --fix, prettier --write

refactor: Migrate event.data access to typed helpers (ADR-082 Phase 3)
  packages/engine/src/event-adapter.ts
  packages/engine/src/game-engine.ts
  packages/event-processor/src/handlers/complex-manipulation.ts
  packages/event-processor/src/handlers/device/index.ts
  packages/event-processor/src/handlers/observation/sensory.ts
  packages/text-services/src/cli-events-text-service.ts
  packages/text-services/src/template-text-service.ts
Due: eslint --fix, prettier --write

docs: Update ADR-082 to Accepted, add work summary (Phase 4)
  docs/architecture/adrs/adr-082-typed-event-system.md
  docs/work/beta-release/context/2026-01-01-0600-adr082-complete.md
Due: prettier --write

chore: bump version to 0.9.0-beta.2
  package.json
  packages/core/package.json
  packages/engine/package.json
  packages/event-processor/package.json
  packages/if-domain/package.json
  packages/lang-en-us/package.json
  packages/parser-en-us/package.json
  packages/sharpee/package.json
  packages/stdlib/package.json
  packages/text-services/package.json
  packages/world-model/package.json
Due: prettier --write

docs: Add npm README for @sharpee/sharpee
  packages/sharpee/README.md
Due: prettier --write

chore: bump @sharpee/sharpee to 0.9.0-beta.3
  packages/sharpee/package.json
Due: prettier --write

docs: Update version badge to 0.9.0-beta.3
  README.md
Due: prettier --write

chore: bump @sharpee/sharpee to 0.9.0-beta.4
  packages/sharpee/package.json
Due: prettier --write

docs: Update version badges to 0.9.0-beta.4
  README.md
  packages/sharpee/README.md
Due: prettier --write

chore: prepare all packages for npm publish (0.9.0-beta.5)
  README.md
  packages/core/package.json
  packages/engine/package.json
  packages/event-processor/package.json
  packages/if-domain/package.json
  packages/if-services/package.json
  packages/lang-en-us/package.json
  packages/parser-en-us/package.json
  packages/sharpee/package.json
  packages/stdlib/package.json
  packages/text-services/package.json
  packages/world-model/package.json
Due: prettier --write

chore: add publish:beta npm script
  package.json
Due: prettier --write

fix: add if-services to publish order, enable OIDC provenance
  .github/workflows/beta-release.yml
Due: none

chore: add package READMEs, bump to 0.9.1-beta.1
  README.md
  packages/core/README.md
  packages/core/package.json
  packages/engine/package.json
  packages/event-processor/README.md
  packages/event-processor/package.json
  packages/if-domain/package.json
  packages/if-services/package.json
  packages/lang-en-us/package.json
  packages/parser-en-us/package.json
  packages/sharpee/package.json
  packages/stdlib/package.json
  packages/text-services/README.md
  packages/text-services/package.json
  packages/world-model/README.md
  packages/world-model/package.json
Due: prettier --write

fix: use workspace:* deps, update lockfile, bump to 0.9.1-beta.2
  README.md
  packages/core/package.json
  packages/engine/package.json
  packages/event-processor/package.json
  packages/if-domain/package.json
  packages/if-services/package.json
  packages/lang-en-us/package.json
  packages/parser-en-us/package.json
  packages/sharpee/package.json
  packages/stdlib/package.json
  packages/text-services/package.json
  packages/world-model/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: remove NODE_AUTH_TOKEN for OIDC auth, bump to 0.9.1-beta.3
  .github/workflows/beta-release.yml
  README.md
  packages/core/package.json
  packages/engine/package.json
  packages/event-processor/package.json
  packages/if-domain/package.json
  packages/if-services/package.json
  packages/lang-en-us/package.json
  packages/parser-en-us/package.json
  packages/sharpee/package.json
  packages/stdlib/package.json
  packages/text-services/package.json
  packages/world-model/package.json
Due: prettier --write

fix: remove registry-url for pure OIDC auth, bump to 0.9.1-beta.4
  .github/workflows/beta-release.yml
  README.md
  packages/core/package.json
  packages/engine/package.json
  packages/event-processor/package.json
  packages/if-domain/package.json
  packages/if-services/package.json
  packages/lang-en-us/package.json
  packages/parser-en-us/package.json
  packages/sharpee/package.json
  packages/stdlib/package.json
  packages/text-services/package.json
  packages/world-model/package.json
Due: prettier --write
