Repository ChicagoDave/sharpee: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

docs: record Phase 2A completion — session summary, plan update, genai-api refresh
  CLAUDE.md
  docs/context/archive/session-20260325-1243-main.md
  docs/context/plan.md
  docs/context/session-20260326-2201-main.md
  packages/sharpee/docs/genai-api/engine.md
  packages/sharpee/docs/genai-api/if-domain.md
  packages/sharpee/docs/genai-api/index.md
  packages/sharpee/docs/genai-api/lang.md
  packages/sharpee/docs/genai-api/stdlib.md
  packages/sharpee/docs/genai-api/world-model.md
  packages/sharpee/package.json
  stories/dungeo/package.json
  stories/dungeo/src/version.ts
Due: eslint --fix, prettier --write

refactor: eliminate all `as any` casts in game-engine.ts (ISSUE-063 Phase 2B)
  checkpoints/after-leaflet.json
  docs/context/archive/session-20260325-1521-main.md
  docs/context/plan.md
  docs/context/session-20260327-0022-issue-063-as-any-cleanup.md
  docs/work/issues/issues-list-04.md
  packages/engine/src/command-executor.ts
  packages/engine/src/game-engine.ts
  packages/engine/src/language-provider-interface.ts
  packages/sharpee/docs/genai-api/engine.md
  packages/sharpee/docs/genai-api/index.md
  stories/dungeo/src/version.ts
Due: eslint --fix, prettier --write

fix: replace dead NPC filter with proper isAlive check in objects-action (ISSUE-063 Phase 3)
  stories/dungeo/src/actions/room-info/objects-action.ts
Due: eslint --fix, prettier --write

refactor: replace trait-access `as any` casts with typed constructors (ISSUE-063 Phase 3, Group 1)
  docs/context/plan.md
  docs/work/dungeo/plans/issue-063-phase-3-as-any-cleanup.md
  stories/dungeo/src/actions/gdt/commands/de.ts
  stories/dungeo/src/handlers/grue-handler.ts
  stories/dungeo/src/interceptors/melee-interceptor.ts
  stories/dungeo/src/traits/egg-behaviors.ts
Due: eslint --fix, prettier --write

refactor: remove entity property `as any` casts, file ISSUE-068 (ISSUE-063 Phase 3, Group 2)
  docs/context/plan.md
  docs/work/dungeo/plans/issue-063-phase-3-as-any-cleanup.md
  docs/work/issues/issues-list-04.md
  stories/dungeo/src/actions/commanding/commanding-action.ts
  stories/dungeo/src/actions/gdt/commands/kl.ts
  stories/dungeo/src/regions/underground.ts
Due: eslint --fix, prettier --write

refactor: remove attributes displayName `as any` casts (ISSUE-063 Phase 3, Group 3)
  stories/dungeo/src/actions/deflate/deflate-action.ts
  stories/dungeo/src/actions/inflate/inflate-action.ts
  stories/dungeo/src/interceptors/inflatable-entering-interceptor.ts
Due: eslint --fix, prettier --write

refactor: remove displayName and sharedData `as any` casts (ISSUE-063 Phase 3, Groups 3-4)
  stories/dungeo/src/actions/gdt/gdt-command-action.ts
  stories/dungeo/src/actions/puzzle-move/puzzle-move-action.ts
  stories/dungeo/src/actions/puzzle-take-card/puzzle-take-card-action.ts
Due: eslint --fix, prettier --write

refactor: replace GDT DE entity property casts with trait lookups (ISSUE-063 Phase 3, Group 5)
  stories/dungeo/src/actions/gdt/commands/de.ts
Due: eslint --fix, prettier --write

refactor: eliminate remaining `as any` casts in story files (ISSUE-063 Phase 3, Groups 5-6)
  docs/context/plan.md
  docs/work/dungeo/plans/issue-063-phase-3-as-any-cleanup.md
  docs/work/issues/issues-list-04.md
  stories/dungeo/src/actions/answer/answer-action.ts
  stories/dungeo/src/actions/pour/pour-action.ts
  stories/dungeo/src/actions/press-button/press-button-action.ts
  stories/dungeo/src/actions/say/say-action.ts
  stories/dungeo/src/actions/set-dial/set-dial-action.ts
  stories/dungeo/src/npcs/dungeon-master/dungeon-master-behavior.ts
  stories/dungeo/src/npcs/robot/robot-behavior.ts
  stories/dungeo/src/scheduler/explosion-fuse.ts
  stories/dungeo/src/scheduler/sword-glow-daemon.ts
Due: eslint --fix, prettier --write

feat: add capability dispatch to giving/throwing actions, migrate troll handlers (ISSUE-068 Phase 2)
  docs/work/issues/issues-list-04.md
  docs/work/issues/plans/issue-068-plan.md
  packages/stdlib/src/actions/standard/giving/giving.ts
  packages/stdlib/src/actions/standard/throwing/throwing.ts
  stories/dungeo/src/index.ts
  stories/dungeo/src/npcs/troll/index.ts
  stories/dungeo/src/npcs/troll/troll-messages.ts
  stories/dungeo/src/npcs/troll/troll-receiving-behavior.ts
  stories/dungeo/src/regions/underground.ts
  stories/dungeo/src/traits/troll-trait.ts
Due: eslint --fix, prettier --write

test: add unit tests for TrollReceivingBehavior (ISSUE-068)
  stories/dungeo/src/npcs/troll/troll-receiving-behavior.test.ts
  stories/dungeo/vitest.config.ts
Due: eslint --fix, prettier --write

docs: add session summaries for ISSUE-063 Phase 3 and ISSUE-068 Phase 2
  docs/context/archive/session-20260326-1553-main.md
  docs/context/archive/session-20260326-1612-main.md
  docs/context/session-20260327-1157-issue-063-as-any-cleanup.md
  docs/context/session-20260327-1510-issue-068-event-handler-types.md
  packages/sharpee/docs/genai-api/index.md
  stories/dungeo/src/version.ts
Due: eslint --fix, prettier --write

refactor: remove entity on handler system across all ISSUE-068 phases (3-9)
  docs/context/archive/session-20260327-1157-issue-063-as-any-cleanup.md
  docs/context/session-20260327-1846-issue-068-event-handler-types.md
  packages/engine/src/game-engine.ts
  packages/engine/tests/integration/event-handlers.test.ts
  packages/engine/tests/unit/events/event-emitter.test.ts
  packages/event-processor/src/handler-types.ts
  packages/event-processor/src/processor.ts
  packages/event-processor/tests/unit/entity-handlers.test.ts
  packages/sharpee/docs/genai-api/engine.md
  packages/sharpee/docs/genai-api/event-processor.md
  packages/sharpee/docs/genai-api/index.md
  packages/sharpee/docs/genai-api/world-model.md
  packages/stdlib/src/events/helpers.ts
  packages/world-model/src/entities/if-entity.ts
  packages/world-model/src/events/types.ts
  stories/dungeo/src/actions/gdt/commands/kl.ts
  stories/dungeo/src/actions/gdt/commands/ko.ts
  stories/dungeo/src/handlers/index.ts
  stories/dungeo/src/handlers/openable-description-handler.ts
  stories/dungeo/src/index.ts
  stories/dungeo/src/interceptors/melee-interceptor.ts
  stories/dungeo/src/interceptors/rug-push-interceptor.ts
  stories/dungeo/src/regions/house-interior.ts
  stories/dungeo/src/regions/underground.ts
  stories/dungeo/src/regions/white-house.ts
  stories/dungeo/src/scheduler/troll-daemon.ts
  stories/dungeo/src/traits/index.ts
  stories/dungeo/src/traits/rug-trait.ts
  stories/dungeo/src/version.ts
  stories/event-handler-demo/README.md
  stories/event-handler-demo/bookshelf-puzzle.ts
  stories/event-handler-demo/three-statues-puzzle.ts
Due: eslint --fix, prettier --write

docs: mark ISSUE-068 DONE, ISSUE-063 DONE in issues list
  docs/work/issues/issues-list-04.md
Due: prettier --write

docs: add README for dungeon-walk viewer
  dungeon-walk/README.md
Due: prettier --write

feat: integrate dungeon walkthrough viewer into sharpee.net
  dungeon-walk/export-json.mjs
  website/public/data/walkthrough.json
  website/src/layouts/BaseLayout.astro
  website/src/pages/walkthrough/index.astro
Due: prettier --write

refactor: eliminate 36 as-any casts in edible/drinking/container traits (ISSUE-063 Phase 4)
  docs/context/plan.md
  docs/context/session-20260327-2056-issue-063-as-any-phase3.md
  packages/sharpee/docs/genai-api/index.md
  packages/sharpee/docs/genai-api/world-model.md
  packages/stdlib/src/actions/standard/drinking/drinking.ts
  packages/stdlib/src/actions/standard/listening/listening.ts
  packages/stdlib/src/actions/standard/smelling/smelling.ts
  packages/stdlib/tests/unit/actions/drinking-golden.test.ts
  packages/stdlib/tests/unit/actions/eating-golden.test.ts
  packages/stdlib/tests/unit/actions/listening-golden.test.ts
  packages/stdlib/tests/unit/actions/smelling-golden.test.ts
  packages/world-model/src/traits/container/containerTrait.ts
  packages/world-model/src/traits/edible/edibleBehavior.ts
  packages/world-model/src/traits/edible/edibleTrait.ts
  stories/dungeo/src/actions/gdt/commands/do.ts
Due: eslint --fix, prettier --write

refactor: eliminate 45 as-any casts via typed trait access (ISSUE-063 Phase 5)
  docs/context/session-20260327-2056-issue-063-as-any-phase3.md
  docs/work/dungeo/issues/issues-list-01.md
  packages/stdlib/src/actions/base/snapshot-utils.ts
  packages/stdlib/src/actions/standard/examining/examining-data.ts
  packages/stdlib/src/actions/standard/inventory/inventory.ts
  packages/stdlib/src/actions/standard/looking/looking-data.ts
  packages/stdlib/src/actions/standard/reading/reading.ts
  packages/stdlib/src/actions/standard/taking/taking-types.ts
  packages/stdlib/src/actions/standard/taking/taking.ts
  packages/stdlib/src/validation/command-validator.ts
  packages/stdlib/tests/unit/actions/inventory-golden.test.ts
Due: eslint --fix, prettier --write

revert: remove CI workflow check for as-any casts
  .github/workflows/build-platforms.yml
Due: none

docs: update issues list and session summary for ISSUE-063 completion
  docs/context/session-20260327-2224-issue-063-as-any-phase3.md
  docs/work/issues/issues-list-04.md
Due: prettier --write

refactor: eliminate duplicate container-walk traversals and clarify scope pipeline (ISSUE-064, ISSUE-065)
  docs/context/archive/session-20260327-0153-issue-063-as-any-cleanup.md
  docs/context/archive/session-20260327-1510-issue-068-event-handler-types.md
  docs/context/archive/session-20260327-1846-issue-068-event-handler-types.md
  docs/context/plan.md
  docs/context/session-20260327-2318-main.md
  docs/work/dungeo/scope-audit.md
  docs/work/issues/issues-list-04.md
  packages/parser-en-us/src/grammar-scope-resolver.ts
  packages/parser-en-us/src/slot-consumers/entity-slot-consumer.ts
  packages/sharpee/docs/genai-api/core.md
  packages/sharpee/docs/genai-api/index.md
  packages/sharpee/docs/genai-api/stdlib.md
  packages/sharpee/docs/genai-api/world-model.md
  packages/stdlib/src/scope/scope-resolver.ts
  packages/world-model/src/index.ts
  packages/world-model/src/scope/scope-evaluator.ts
  packages/world-model/src/services/ScopeService.ts
  packages/world-model/src/services/index.ts
  packages/world-model/src/world/VisibilityBehavior.ts
  packages/world-model/src/world/WorldModel.ts
  stories/dungeo/src/version.ts
Due: eslint --fix, prettier --write

refactor: delegate canSee() to world.canSee() and remove dead helpers (ISSUE-064)
  docs/context/archive/session-20260327-2056-issue-063-as-any-phase3.md
  docs/context/plan.md
  docs/context/session-20260327-2358-issue-064-visibility-dedup.md
  packages/stdlib/src/scope/scope-resolver.ts
  packages/stdlib/tests/unit/actions/taking-golden.test.ts
  packages/stdlib/tests/unit/scope/scope-resolver.test.ts
  packages/stdlib/tests/unit/scope/sensory-extensions.test.ts
Due: eslint --fix, prettier --write

refactor: compute entity descriptions from trait state instead of event-handler mutations (ISSUE-070)
  docs/context/session-20260328-0018-issue-064-visibility-dedup.md
  docs/work/plan-20260328-0006.md
  packages/sharpee/docs/genai-api/index.md
  packages/sharpee/docs/genai-api/stdlib.md
  packages/sharpee/docs/genai-api/world-model.md
  packages/stdlib/src/actions/standard/examining/examining-data.ts
  packages/world-model/src/entities/if-entity.ts
  packages/world-model/src/traits/light-source/lightSourceTrait.ts
  packages/world-model/src/traits/openable/openableTrait.ts
  packages/world-model/src/traits/switchable/switchableTrait.ts
  stories/dungeo/src/actions/deflate/deflate-action.ts
  stories/dungeo/src/actions/inflate/inflate-action.ts
  stories/dungeo/src/handlers/balloon-handler.ts
  stories/dungeo/src/handlers/index.ts
  stories/dungeo/src/handlers/openable-description-handler.ts
  stories/dungeo/src/handlers/trapdoor-handler.ts
  stories/dungeo/src/index.ts
  stories/dungeo/src/interceptors/receptacle-putting-interceptor.ts
  stories/dungeo/src/regions/dam.ts
  stories/dungeo/src/regions/house-interior.ts
  stories/dungeo/src/regions/volcano.ts
  stories/dungeo/src/regions/white-house.ts
  stories/dungeo/src/traits/inflatable-trait.ts
  stories/dungeo/src/version.ts
Due: eslint --fix, prettier --write

fix: replace all $teleport shortcuts with real navigation in walkthroughs (ISSUE-054)
  docs/context/session-20260328-0109-issue-054-teleport-removal.md
  docs/work/plan-20260328-0029.md
  packages/sharpee/docs/genai-api/index.md
  stories/dungeo/CLAUDE.md
  stories/dungeo/src/handlers/round-room-handler.ts
  stories/dungeo/src/regions/well-room.ts
  stories/dungeo/src/version.ts
  stories/dungeo/walkthroughs/wt-09-egg-tree.transcript
  stories/dungeo/walkthroughs/wt-10-tea-room.transcript
  stories/dungeo/walkthroughs/wt-13-thief-fight.transcript
  stories/dungeo/walkthroughs/wt-16-canvas-puzzle.transcript
Due: eslint --fix, prettier --write

docs: update CS foundations doc to reflect ISSUE-064, ISSUE-065, and ISSUE-070 refactors
  docs/architecture/sharpee-computer-science.md
  docs/context/archive/session-20260327-2134-issue-063-as-any-phase3.md
  docs/context/plan.md
  docs/context/session-20260328-0155-main.md
Due: prettier --write

fix: correct browser esbuild flags and add copy-to-website script
  build.sh
  copy-to-website.sh
  docs/context/.session-state.json
  docs/context/archive/session-20260327-2224-issue-063-as-any-phase3.md
  docs/context/session-20260328-0706-main.md
  packages/platforms/browser-en-us/package.json
  packages/platforms/browser-en-us/src/version.ts
  packages/sharpee/docs/genai-api/index.md
  stories/dungeo/src/version.ts
Due: eslint --fix, prettier --write

docs: add session summary for copy-to-website path fix
  docs/context/archive/session-20260328-0109-issue-054-teleport-removal.md
  docs/context/session-20260328-0740-main.md
Due: prettier --write

docs: issues cleanup, ISSUE-032 fix, helper patterns guide, ADR-136 plan
  docs/context/.session-state.json
  docs/context/archive/session-20260328-0155-main.md
  docs/context/archive/session-20260328-0617-main.md
  docs/context/plan.md
  docs/context/session-20260328-2150-main.md
  docs/guides/common-helper-patterns.md
  docs/work/dungeo/issues/issues-list-01.md
  docs/work/issues/issues-list-04.md
  docs/work/plan-20260328-2256.md
  stories/dungeo/src/browser-entry.ts
  stories/dungeo/tests/transcripts/help-commands.transcript
  stories/dungeo/tests/transcripts/implicit-inference.transcript
  stories/dungeo/tests/transcripts/mailbox.transcript
Due: eslint --fix, prettier --write

feat: implement ADR-136 Context-Driven Action Menus (all 7 phases)
  build.sh
  docs/architecture/prologue.md
  docs/context/.session-state.json
  docs/context/archive/session-20260328-0706-main.md
  docs/context/plan.md
  docs/context/project-profile.md
  docs/context/session-20260328-2342-adr-136-context-actions.md
  docs/work/plan-20260320-1939.md
  docs/work/plan-20260323-2258.md
  docs/work/plan-20260324-2344.md
  docs/work/plan-20260325-1225.md
  docs/work/plan-20260325-1434.md
  docs/work/plan-20260327-1924.md
  docs/work/plan-20260327-2325.md
  docs/work/plan-20260327-2352.md
  packages/bridge/src/bridge.ts
  packages/bridge/src/protocol.ts
  packages/engine/src/action-menu-computer.ts
  packages/engine/src/actions-yaml-compiler.ts
  packages/engine/src/game-engine.ts
  packages/engine/src/index.ts
  packages/engine/src/types.ts
  packages/engine/tests/action-menu-computer.test.ts
  packages/engine/tests/actions-yaml-compiler.test.ts
  packages/if-domain/src/context-actions.ts
  packages/if-domain/src/index.ts
  packages/platform-browser/package.json
  packages/platform-browser/src/BrowserClient.ts
  packages/platform-browser/src/managers/ActionSidebarManager.ts
  packages/platform-browser/src/managers/index.ts
  packages/platform-browser/src/types.ts
  packages/sharpee/docs/genai-api/engine.md
  packages/sharpee/docs/genai-api/if-domain.md
  packages/sharpee/docs/genai-api/index.md
  scripts/bundle-entry.js
  stories/dungeo/src/browser-entry.ts
  templates/browser/index.html
  templates/browser/infocom.css
Due: eslint --fix, prettier --write

docs: defer ADR-136 and add engine/output architecture document
  docs/architecture/adrs/adr-136-context-driven-action-menus.md
  docs/architecture/sharpee-engine-and-output-ghost.md
  docs/context/archive/session-20260328-0726-main.md
  docs/context/archive/session-20260328-0740-main.md
  docs/context/session-20260329-1033-adr-136-context-actions.md
Due: prettier --write

refactor: remove dead STATE_CHANGE_EVENTS routing, defer ADR-136, add engine architecture doc
  docs/architecture/sharpee-engine-and-output-ghost.md
  docs/work/dungeo/legacy-event-audit.md
  packages/engine/src/action-context-factory.ts
  packages/text-service/src/handlers/action.ts
  packages/text-service/src/handlers/generic.ts
  packages/text-service/src/text-service.ts
  packages/text-service/tests/event-sorting.test.ts
Due: eslint --fix, prettier --write

fix: emit visible error for unresolved messageIds instead of silent empty output
  packages/text-service/src/text-service.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md})
