Repository ChicagoDave/sharpee: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md}": [
    "prettier --write"
  ]
}

feat(dungeo): Fix maze connections and update transcript tests
  docs/work/dungeo/context/2025-12-29-maze-fixes.md
  docs/work/dungeo/implementation-plan.md
  docs/work/dungeo/map-connections.md
  stories/dungeo/src/regions/maze/index.ts
  stories/dungeo/src/regions/maze/rooms/dead-end.ts
  stories/dungeo/src/regions/maze/rooms/maze1.ts
  stories/dungeo/src/regions/maze/rooms/maze10.ts
  stories/dungeo/src/regions/maze/rooms/maze11.ts
  stories/dungeo/src/regions/maze/rooms/maze12.ts
  stories/dungeo/src/regions/maze/rooms/maze13.ts
  stories/dungeo/src/regions/maze/rooms/maze14.ts
  stories/dungeo/src/regions/maze/rooms/maze15.ts
  stories/dungeo/src/regions/maze/rooms/maze2.ts
  stories/dungeo/src/regions/maze/rooms/maze3.ts
  stories/dungeo/src/regions/maze/rooms/maze4.ts
  stories/dungeo/src/regions/maze/rooms/maze5.ts
  stories/dungeo/src/regions/maze/rooms/maze6.ts
  stories/dungeo/src/regions/maze/rooms/maze7.ts
  stories/dungeo/src/regions/maze/rooms/maze8.ts
  stories/dungeo/src/regions/maze/rooms/maze9.ts
  stories/dungeo/tests/transcripts/maze-loops.transcript
  stories/dungeo/tests/transcripts/maze-navigation.transcript
Due: eslint --fix, prettier --write

feat(dungeo): Implement Cyclops NPC, Say action, and Bat handler
  docs/work/dungeo/context/2025-12-29-cyclops-bat-npcs.md
  docs/work/dungeo/context/2025-12-29-cyclops-bat-testing.md
  stories/dungeo/src/actions/index.ts
  stories/dungeo/src/actions/say/index.ts
  stories/dungeo/src/actions/say/say-action.ts
  stories/dungeo/src/actions/say/types.ts
  stories/dungeo/src/handlers/bat-handler.ts
  stories/dungeo/src/handlers/index.ts
  stories/dungeo/src/index.ts
  stories/dungeo/src/npcs/cyclops/cyclops-behavior.ts
  stories/dungeo/src/npcs/cyclops/cyclops-entity.ts
  stories/dungeo/src/npcs/cyclops/cyclops-messages.ts
  stories/dungeo/src/npcs/cyclops/index.ts
  stories/dungeo/tests/transcripts/bat-with-garlic.transcript
  stories/dungeo/tests/transcripts/bat-without-garlic.transcript
  stories/dungeo/tests/transcripts/cyclops-magic-word.transcript
Due: eslint --fix, prettier --write

feat(dungeo): Implement Exorcism puzzle and fix transcript event capture
  docs/work/dungeo/context/2025-12-29-exorcism-spirits.md
  docs/work/dungeo/implementation-plan.md
  packages/transcript-tester/src/story-loader.ts
  stories/dungeo/src/actions/index.ts
  stories/dungeo/src/actions/ring/index.ts
  stories/dungeo/src/actions/ring/ring-action.ts
  stories/dungeo/src/actions/ring/types.ts
  stories/dungeo/src/handlers/bat-handler.ts
  stories/dungeo/src/handlers/exorcism-handler.ts
  stories/dungeo/src/handlers/index.ts
  stories/dungeo/src/index.ts
  stories/dungeo/src/regions/temple/rooms/entry-to-hades.ts
  stories/dungeo/tests/transcripts/exorcism-ritual.transcript
  stories/dungeo/tests/transcripts/rug-trapdoor.transcript
Due: eslint --fix, prettier --write

feat(dungeo): Restructure Cellar/Troll Room layout to match Mainframe Zork map
  docs/work/dungeo/context/2025-12-29-map-connections.md
  docs/work/dungeo/implementation-plan.md
  docs/work/dungeo/map-connections.md
  stories/dungeo/src/index.ts
  stories/dungeo/src/regions/bank-of-zork/index.ts
  stories/dungeo/src/regions/frigid-river/index.ts
  stories/dungeo/src/regions/maze/index.ts
  stories/dungeo/src/regions/underground/index.ts
  stories/dungeo/src/regions/underground/objects/index.ts
  stories/dungeo/tests/transcripts/maze-loops.transcript
  stories/dungeo/tests/transcripts/maze-navigation.transcript
  stories/dungeo/tests/transcripts/troll-blocking.transcript
  stories/dungeo/tests/transcripts/troll-combat.transcript
Due: eslint --fix, prettier --write

feat(dungeo): Add treasures and Round Room randomization handler
  docs/work/dungeo/context/2025-12-30-treasures-round-room.md
  docs/work/dungeo/implementation-plan.md
  stories/dungeo/src/handlers/index.ts
  stories/dungeo/src/handlers/round-room-handler.ts
  stories/dungeo/src/index.ts
  stories/dungeo/src/regions/maze/objects/index.ts
  stories/dungeo/src/regions/underground/objects/index.ts
  stories/dungeo/src/regions/underground/rooms/round-room.ts
Due: eslint --fix, prettier --write

feat(dungeo): Implement word puzzles and Robot NPC
  CLAUDE.md
  docs/work/dungeo/context/2025-12-30-word-puzzles-robot.md
  docs/work/dungeo/implementation-plan.md
  stories/dungeo/CLAUDE.md
  stories/dungeo/src/actions/say/say-action.ts
  stories/dungeo/src/actions/say/types.ts
  stories/dungeo/src/index.ts
  stories/dungeo/src/npcs/robot/index.ts
  stories/dungeo/src/npcs/robot/robot-behavior.ts
  stories/dungeo/src/npcs/robot/robot-entity.ts
  stories/dungeo/src/npcs/robot/robot-messages.ts
  stories/dungeo/src/regions/well-room/index.ts
  stories/dungeo/src/regions/well-room/objects/index.ts
  stories/dungeo/src/regions/well-room/rooms/dingy-closet.ts
  stories/dungeo/src/regions/well-room/rooms/low-room.ts
  stories/dungeo/src/regions/well-room/rooms/machine-room-well.ts
Due: eslint --fix, prettier --write

feat(dungeo): Restructure Coal Mine region and fix Dam puzzle
  docs/work/dungeo/context/2025-12-30-coal-mine-restructure.md
  docs/work/dungeo/implementation-plan.md
  docs/work/dungeo/map-connections.md
  stories/dungeo/src/regions/coal-mine/index.ts
  stories/dungeo/src/regions/coal-mine/rooms/bottom-of-shaft.ts
  stories/dungeo/src/regions/coal-mine/rooms/coal-mine-dead-end.ts
  stories/dungeo/src/regions/coal-mine/rooms/cold-passage.ts
  stories/dungeo/src/regions/coal-mine/rooms/mine-entrance.ts
  stories/dungeo/src/regions/coal-mine/rooms/mine-maze-1.ts
  stories/dungeo/src/regions/coal-mine/rooms/mine-maze-2.ts
  stories/dungeo/src/regions/coal-mine/rooms/mine-maze-3.ts
  stories/dungeo/src/regions/coal-mine/rooms/mine-maze-4.ts
  stories/dungeo/src/regions/coal-mine/rooms/mine-maze-5.ts
  stories/dungeo/src/regions/coal-mine/rooms/mine-maze-6.ts
  stories/dungeo/src/regions/coal-mine/rooms/mine-maze-7.ts
  stories/dungeo/src/regions/coal-mine/rooms/slide-1.ts
  stories/dungeo/src/regions/coal-mine/rooms/slide-2.ts
  stories/dungeo/src/regions/coal-mine/rooms/slide-3.ts
  stories/dungeo/src/regions/coal-mine/rooms/slide-ledge.ts
  stories/dungeo/src/regions/coal-mine/rooms/slide-room.ts
  stories/dungeo/src/regions/coal-mine/rooms/smelly-room.ts
  stories/dungeo/src/regions/coal-mine/rooms/sooty-room.ts
  stories/dungeo/src/regions/coal-mine/rooms/squeaky-room.ts
  stories/dungeo/src/regions/coal-mine/rooms/steep-crawlway.ts
  stories/dungeo/src/regions/coal-mine/rooms/wooden-tunnel.ts
  stories/dungeo/src/regions/underground/index.ts
  stories/dungeo/src/regions/underground/rooms/small-cave.ts
  stories/dungeo/src/regions/well-room/rooms/tiny-cave.ts
  stories/dungeo/src/scheduler/dam-fuse.ts
Due: eslint --fix, prettier --write

feat(dungeo): Implement Mirror Room toggle (blocked by ADR-075)
  docs/architecture/adrs/adr-075-event-handler-consolidation.md
  docs/work/dungeo/context/2025-12-30-mirror-room-toggle.md
  docs/work/dungeo/implementation-plan.md
  stories/dungeo/src/handlers/mirror-room-handler.ts
  stories/dungeo/src/index.ts
  stories/dungeo/src/regions/underground/objects/index.ts
  stories/dungeo/tests/transcripts/mirror-room-toggle.transcript
Due: eslint --fix, prettier --write

feat(world-model): Implement ADR-075 effects-based handler pattern
  docs/architecture/adrs/adr-075-event-handler-consolidation.md
  docs/work/dungeo/context/2025-12-30-adr-075-implementation.md
  docs/work/dungeo/implementation-plan.md
  packages/engine/src/game-engine.ts
  packages/event-processor/src/processor.ts
  packages/parser-en-us/src/core-grammar.ts
  packages/world-model/src/effects/effect-processor.ts
  packages/world-model/src/effects/index.ts
  packages/world-model/src/effects/types.ts
  packages/world-model/src/effects/world-query.ts
  packages/world-model/src/events/types.ts
  packages/world-model/src/index.ts
  stories/dungeo/src/handlers/mirror-room-handler.ts
  stories/dungeo/src/index.ts
  stories/dungeo/tests/transcripts/mirror-room-toggle.transcript
Due: eslint --fix, prettier --write

fix(event-processor): Move effects from world-model to fix circular dependency
  .gitignore
  docs/architecture/adrs/README.md
  docs/architecture/adrs/adr-077-release-build-system.md
  docs/work/dungeo/context/2025-12-30-adr-075-fix-and-testing.md
  docs/work/dungeo/implementation-plan.md
  docs/work/dungeo/play-output-2.md
  packages/event-processor/src/effects/effect-processor.ts
  packages/event-processor/src/effects/index.ts
  packages/event-processor/src/effects/types.ts
  packages/event-processor/src/effects/world-query.ts
  packages/event-processor/src/handler-types.ts
  packages/event-processor/src/index.ts
  packages/event-processor/src/processor.ts
  packages/transcript-tester/src/cli.ts
  packages/transcript-tester/src/reporter.ts
  packages/world-model/src/events/types.ts
  packages/world-model/src/index.ts
  pnpm-lock.yaml
  stories/dungeo/package.json
  stories/dungeo/src/handlers/mirror-room-handler.ts
Due: eslint --fix, prettier --write

feat(dungeo): Add Volcano-Glacier connection chain (7 rooms, 2 treasures)
  docs/work/dungeo/context/2025-12-30-volcano-glacier-chain.md
  docs/work/dungeo/implementation-plan.md
  docs/work/dungeo/map-connections.md
  stories/dungeo/src/index.ts
  stories/dungeo/src/regions/dam/index.ts
  stories/dungeo/src/regions/dam/objects/index.ts
  stories/dungeo/src/regions/dam/rooms/glacier-room.ts
  stories/dungeo/src/regions/dam/rooms/reservoir-north.ts
  stories/dungeo/src/regions/dam/rooms/stream-view.ts
  stories/dungeo/src/regions/temple/index.ts
  stories/dungeo/src/regions/temple/objects/index.ts
  stories/dungeo/src/regions/temple/rooms/dreary-room.ts
  stories/dungeo/src/regions/temple/rooms/tiny-room.ts
  stories/dungeo/src/regions/volcano/index.ts
  stories/dungeo/src/regions/volcano/objects/index.ts
  stories/dungeo/src/regions/volcano/rooms/lava-room.ts
  stories/dungeo/src/regions/volcano/rooms/small-chamber.ts
Due: eslint --fix, prettier --write

feat(dungeo): Add Library and Wide Ledge rooms with Flathead stamp
  docs/work/dungeo/implementation-plan.md
  stories/dungeo/src/regions/volcano/index.ts
  stories/dungeo/src/regions/volcano/objects/index.ts
  stories/dungeo/src/regions/volcano/rooms/library.ts
  stories/dungeo/src/regions/volcano/rooms/wide-ledge.ts
Due: eslint --fix, prettier --write

feat(dungeo): Add Ancient Chasm chain and rename Small Chamber to Ruby Room
  docs/work/dungeo/context/2025-12-30-ancient-chasm-chain.md
  docs/work/dungeo/implementation-plan.md
  docs/work/dungeo/map-connections.md
  stories/dungeo/src/index.ts
  stories/dungeo/src/regions/dam/index.ts
  stories/dungeo/src/regions/dam/rooms/ancient-chasm.ts
  stories/dungeo/src/regions/dam/rooms/temple-dead-end-1.ts
  stories/dungeo/src/regions/dam/rooms/temple-dead-end-2.ts
  stories/dungeo/src/regions/dam/rooms/temple-small-cave.ts
  stories/dungeo/src/regions/temple/index.ts
  stories/dungeo/src/regions/underground/index.ts
  stories/dungeo/src/regions/underground/rooms/deep-ravine.ts
  stories/dungeo/src/regions/underground/rooms/rocky-crawl.ts
  stories/dungeo/src/regions/volcano/index.ts
  stories/dungeo/src/regions/volcano/objects/index.ts
  stories/dungeo/src/regions/volcano/rooms/ruby-room.ts
Due: eslint --fix, prettier --write

fix(dungeo): Audit Coal Mine region and add red crystal sphere
  docs/work/dungeo/context/2025-12-30-coal-mine-audit.md
  docs/work/dungeo/implementation-plan.md
  docs/work/dungeo/map-connections.md
  stories/dungeo/src/index.ts
  stories/dungeo/src/regions/coal-mine/index.ts
  stories/dungeo/src/regions/coal-mine/objects/index.ts
  stories/dungeo/src/regions/coal-mine/rooms/bat-room.ts
  stories/dungeo/src/regions/coal-mine/rooms/coal-mine.ts
  stories/dungeo/src/regions/coal-mine/rooms/drafty-room.ts
  stories/dungeo/src/regions/coal-mine/rooms/small-room.ts
Due: eslint --fix, prettier --write

feat(dungeo): Add Royal Puzzle Phase 1 - 8x8 sliding block puzzle
  docs/work/dungeo/context/2025-12-30-royal-puzzle-phase1.md
  docs/work/dungeo/implementation-plan.md
  docs/work/dungeo/royal-puzzle-implementation-plan.md
  docs/work/dungeo/royal-puzzle.md
  stories/dungeo/src/actions/index.ts
  stories/dungeo/src/actions/push-wall/index.ts
  stories/dungeo/src/actions/push-wall/push-wall-action.ts
  stories/dungeo/src/actions/push-wall/types.ts
  stories/dungeo/src/handlers/index.ts
  stories/dungeo/src/handlers/royal-puzzle/index.ts
  stories/dungeo/src/handlers/royal-puzzle/puzzle-handler.ts
  stories/dungeo/src/index.ts
  stories/dungeo/src/regions/royal-puzzle/index.ts
  stories/dungeo/src/regions/royal-puzzle/objects/index.ts
  stories/dungeo/src/regions/royal-puzzle/puzzle-state.ts
  stories/dungeo/src/regions/royal-puzzle/rooms/puzzle-room.ts
  stories/dungeo/src/regions/royal-puzzle/rooms/room-in-puzzle.ts
  stories/dungeo/src/regions/royal-puzzle/rooms/square-room.ts
Due: eslint --fix, prettier --write

docs: Add Forge brainstorm and story spec template
  docs/architecture/forge-brainstorm.md
  docs/templates/story-spec-template.md
Due: prettier --write

feat(dungeo): Add Royal Puzzle Phase 2 - movement mechanics
  docs/work/dungeo/context/2025-12-30-royal-puzzle-phase1.md
  stories/dungeo/src/actions/index.ts
  stories/dungeo/src/actions/puzzle-move/index.ts
  stories/dungeo/src/actions/puzzle-move/puzzle-move-action.ts
  stories/dungeo/src/handlers/royal-puzzle/puzzle-handler.ts
  stories/dungeo/src/index.ts
  stories/dungeo/tests/transcripts/royal-puzzle-basic.transcript
Due: eslint --fix, prettier --write

chore: Add build scripts and fix EntityEventHandler import
  docs/work/dungeo/context/2025-12-30-bundle-investigation.md
  packages/stdlib/src/events/helpers.ts
  scripts/build-dungeo.sh
  scripts/bundle-sharpee.sh
Due: eslint --fix, prettier --write

feat: Add Sharpee bundle with 578x faster load times
  docs/work/dungeo/context/2025-12-30-bundle-investigation.md
  packages/core/tsconfig.json
  packages/if-domain/tsconfig.json
  scripts/bundle-sharpee.sh
  scripts/fast-transcript-test.sh
  scripts/use-bundle.js
Due: prettier --write

feat: Complete bundle with JS entry for 578x faster loads
  docs/work/dungeo/context/2025-12-30-bundle-investigation.md
  docs/work/dungeo/implementation-plan.md
  scripts/bundle-entry.js
  scripts/bundle-sharpee.sh
Due: prettier --write

feat(dungeo): Complete Royal Puzzle Phase 2 - full puzzle mechanics
  docs/work/dungeo/context/2025-12-31-royal-puzzle-phase2.md
  docs/work/dungeo/implementation-plan.md
  stories/dungeo/src/actions/index.ts
  stories/dungeo/src/actions/puzzle-take-card/index.ts
  stories/dungeo/src/actions/puzzle-take-card/puzzle-take-card-action.ts
  stories/dungeo/src/handlers/royal-puzzle/puzzle-handler.ts
  stories/dungeo/src/index.ts
  stories/dungeo/src/regions/coal-mine/index.ts
  stories/dungeo/tests/transcripts/royal-puzzle-basic.transcript
Due: eslint --fix, prettier --write

fix(dungeo): Update bat tests for Squeaky Room and fix GDT entity IDs
  stories/dungeo/tests/transcripts/bat-with-garlic.transcript
  stories/dungeo/tests/transcripts/bat-without-garlic.transcript
  stories/dungeo/tests/transcripts/gdt-unrestricted-access.transcript
Due: none

docs(dungeo): Add ADR-078 Thief's Canvas puzzle design
  docs/architecture/adrs/adr-078-magic-paper-puzzle.md
  docs/work/dungeo/context/2025-12-31-adr-078-thiefs-canvas.md
  docs/work/dungeo/implementation-plan.md
Due: prettier --write

feat(dungeo): Implement ADR-078 Thief's Canvas puzzle
  docs/work/dungeo/context/2025-12-31-adr-078-implementation.md
  docs/work/dungeo/implementation-plan.md
  package.json
  pnpm-lock.yaml
  stories/dungeo/src/actions/break/break-action.ts
  stories/dungeo/src/actions/break/index.ts
  stories/dungeo/src/actions/break/types.ts
  stories/dungeo/src/actions/burn/burn-action.ts
  stories/dungeo/src/actions/burn/index.ts
  stories/dungeo/src/actions/burn/types.ts
  stories/dungeo/src/actions/index.ts
  stories/dungeo/src/actions/pray/index.ts
  stories/dungeo/src/actions/pray/pray-action.ts
  stories/dungeo/src/actions/pray/types.ts
  stories/dungeo/src/handlers/ghost-ritual-handler.ts
  stories/dungeo/src/handlers/index.ts
  stories/dungeo/src/index.ts
  stories/dungeo/src/npcs/thief/thief-entity.ts
  stories/dungeo/src/npcs/thief/thief-messages.ts
  stories/dungeo/src/objects/thiefs-canvas-objects.ts
  stories/dungeo/src/regions/dam/index.ts
  stories/dungeo/src/regions/dam/objects/basin-objects.ts
  stories/dungeo/src/regions/dam/objects/index.ts
  stories/dungeo/src/regions/dam/rooms/basin-room.ts
  stories/dungeo/src/regions/maze/objects/index.ts
  stories/dungeo/src/scheduler/incense-fuse.ts
  stories/dungeo/src/scheduler/index.ts
  stories/dungeo/src/scheduler/scheduler-messages.ts
  stories/dungeo/tests/transcripts/thiefs-canvas.transcript
Due: eslint --fix, prettier --write

fix(dungeo): Complete Royal Puzzle - LOOK, TAKE CARD, and blocked message
  docs/work/dungeo/context/2025-12-31-royal-puzzle-fixes.md
  docs/work/dungeo/implementation-plan.md
  stories/dungeo/src/actions/index.ts
  stories/dungeo/src/actions/puzzle-look/index.ts
  stories/dungeo/src/actions/puzzle-look/puzzle-look-action.ts
  stories/dungeo/src/actions/puzzle-take-card-blocked/index.ts
  stories/dungeo/src/actions/puzzle-take-card-blocked/puzzle-take-card-blocked-action.ts
  stories/dungeo/src/handlers/royal-puzzle/puzzle-handler.ts
  stories/dungeo/src/regions/royal-puzzle/index.ts
  stories/dungeo/src/regions/royal-puzzle/objects/index.ts
  stories/dungeo/tests/transcripts/royal-puzzle-basic.transcript
Due: eslint --fix, prettier --write

feat(dungeo): Complete Royal Puzzle exit mechanics with GDT PZ command
  docs/work/dungeo/context/2025-12-31-royal-puzzle-exit.md
  stories/dungeo/src/actions/gdt/commands/index.ts
  stories/dungeo/src/actions/gdt/commands/pz.ts
  stories/dungeo/src/actions/gdt/gdt-parser.ts
  stories/dungeo/src/actions/gdt/types.ts
  stories/dungeo/src/index.ts
  stories/dungeo/src/regions/royal-puzzle/index.ts
  stories/dungeo/tests/transcripts/royal-puzzle-exit.transcript
Due: eslint --fix, prettier --write

docs(dungeo): Update plan to note exit mechanics working
  docs/work/dungeo/implementation-plan.md
Due: prettier --write

feat(dungeo): ADR-078 hidden max points and Master of Secrets rank
  docs/architecture/adrs/adr-078-magic-paper-puzzle.md
  docs/work/dungeo/context/2025-12-31-hidden-max-points.md
  docs/work/dungeo/implementation-plan.md
  stories/dungeo/src/handlers/index.ts
  stories/dungeo/src/handlers/reality-altered-handler.ts
  stories/dungeo/src/index.ts
  stories/dungeo/src/npcs/thief/thief-entity.ts
  stories/dungeo/src/scoring/dungeo-scoring-service.ts
Due: eslint --fix, prettier --write

docs(dungeo): Add endgame implementation plan and FORTRAN analysis
  .gitignore
  docs/work/dungeo/context/2025-12-31-0630-endgame-planning.md
  docs/work/dungeo/endgame-mechanics.md
  docs/work/dungeo/endgame-plan.md
  docs/work/dungeo/map-connections.md
Due: prettier --write

docs(dungeo): Add dtext.dat decoder and extract all 1191 messages
  docs/work/dungeo/context/2025-12-31-0745-dtext-decoder.md
  docs/work/dungeo/endgame-plan.md
Due: prettier --write

feat(dungeo): Add endgame region structure and INCANT action
  docs/architecture/adrs/adr-079-dungeon-text-alignment.md
  docs/work/dungeo/context/2025-12-31-0916-endgame-implementation.md
  stories/dungeo/src/actions/incant/incant-action.ts
  stories/dungeo/src/actions/incant/index.ts
  stories/dungeo/src/actions/incant/types.ts
  stories/dungeo/src/actions/index.ts
  stories/dungeo/src/index.ts
  stories/dungeo/src/regions/endgame/index.ts
  stories/dungeo/src/regions/endgame/objects/index.ts
  stories/dungeo/src/regions/endgame/rooms/dungeon-entrance.ts
  stories/dungeo/src/regions/endgame/rooms/east-west-corridor.ts
  stories/dungeo/src/regions/endgame/rooms/hallway.ts
  stories/dungeo/src/regions/endgame/rooms/inside-mirror.ts
  stories/dungeo/src/regions/endgame/rooms/narrow-corridor.ts
  stories/dungeo/src/regions/endgame/rooms/parapet.ts
  stories/dungeo/src/regions/endgame/rooms/prison-cell.ts
  stories/dungeo/src/regions/endgame/rooms/small-room.ts
  stories/dungeo/src/regions/endgame/rooms/stone-room.ts
  stories/dungeo/src/regions/endgame/rooms/top-of-stairs.ts
  stories/dungeo/src/regions/endgame/rooms/treasury.ts
  stories/dungeo/tests/transcripts/endgame-incant.transcript
Due: eslint --fix, prettier --write

feat(dungeo): Add ADR-080 for raw text grammar slots, create Tomb & Crypt rooms
  CLAUDE.md
  docs/architecture/adrs/adr-080-raw-text-grammar-slots.md
  docs/work/dungeo/context/2025-12-31-1045-adr080-tomb-crypt.md
  docs/work/dungeo/implementation-plan.md
  stories/dungeo/src/index.ts
  stories/dungeo/src/regions/temple/index.ts
  stories/dungeo/src/regions/temple/objects/index.ts
  stories/dungeo/src/regions/temple/rooms/crypt.ts
  stories/dungeo/src/regions/temple/rooms/tomb.ts
  stories/dungeo/tests/transcripts/endgame-incant.transcript.blocked
  stories/dungeo/tests/transcripts/tomb-crypt-navigation.transcript
Due: eslint --fix, prettier --write

chore: Add .turbo to gitignore, expand ADR-080 grammar enhancements
  .gitignore
  docs/architecture/adrs/adr-080-raw-text-grammar-slots.md
Due: prettier --write

docs: Add ADR-081 npm release strategy
  docs/architecture/adrs/adr-081-npm-release-strategy.md
Due: prettier --write

docs: Add work summary for ADR-080/081 planning session
  docs/work/dungeo/context/2025-12-31-1204-release-planning-adr-080-081.md
Due: prettier --write

feat(parser): Implement ADR-080 text slots and instrument slots
  docs/work/grammar-enhancements/implementation-plan.md
  packages/if-domain/src/grammar/grammar-builder.ts
  packages/if-domain/src/grammar/grammar-engine.ts
  packages/if-domain/src/grammar/story-grammar.ts
  packages/parser-en-us/src/english-grammar-engine.ts
  packages/parser-en-us/src/english-parser.ts
  packages/parser-en-us/src/english-pattern-compiler.ts
  packages/parser-en-us/src/story-grammar-impl.ts
  packages/parser-en-us/tests/adr-080-grammar-enhancements.test.ts
  packages/world-model/src/commands/parsed-command.ts
Due: eslint --fix, prettier --write

docs: Add work summary for ADR-080 text slots implementation
  docs/work/grammar-enhancements/context/2025-12-31-text-slots-and-instruments-implementation.md
Due: prettier --write

feat(parser): ADR-080 Phase 2 - multi-object parsing with consecutive slots fix
  docs/architecture/adrs/adr-080-raw-text-grammar-slots.md
  docs/work/grammar-enhancements/context/2025-12-31-1330-consecutive-slots-fix.md
  docs/work/grammar-enhancements/context/2025-12-31-adr-080-phase-2-multi-object-parsing.md
  packages/if-domain/src/grammar/grammar-builder.ts
  packages/parser-en-us/src/core-grammar.ts
  packages/parser-en-us/src/english-grammar-engine.ts
  packages/parser-en-us/src/english-parser.ts
  packages/parser-en-us/tests/adr-080-grammar-enhancements.test.ts
Due: eslint --fix, prettier --write
