Repository ChicagoDave/sharpee: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix(publish): stamp ENGINE_VERSION 4.6.0 — the CI guard diffs the stamped file
  packages/stdlib/src/actions/standard/version/engine-version.ts
Due: eslint --fix, prettier --write

feat(ide,platform): ADR-307 Phase 1 - tree-document wire format (schema, round-trip, discovery) + Model v2 implementation plan
  docs/context/.current-plan
  docs/context/archive/session-20260809-0243-feat-ide-go-live-phases-1-3.md
  docs/context/session-20260809-2345-feat-testing-tab-embed.md
  docs/work/testing/plan-20260809-adr-307-model-v2.md
  docs/work/testing/plan-20260809-testing-surface-revamp.md
  packages/branch-tester/src/index.ts
  packages/branch-tester/src/tree-document.ts
  packages/branch-tester/tests/tree-document.test.ts
  packages/devkit/src/commands/test-tree.test.ts
  packages/devkit/src/commands/test-tree.ts
  tools/ide/web/testing-surface/build.mjs
  tools/ide/web/testing-surface/tests/tree-document.test.ts
  tools/ide/web/testing-surface/tsconfig.json
  tools/ide/web/testing-surface/vitest.config.ts
Due: eslint --fix, prettier --write

feat(branch-tester,devkit): ADR-307 Phase 2 — greenfield tree-document walker (lines, derived labels, seam semantics) + --tree document discovery
  docs/context/archive/session-20260809-0410-feat-ide-go-live-phases-1-3.md
  docs/context/session-20260810-0011-feat-testing-tab-embed.md
  docs/work/testing/plan-20260809-adr-307-model-v2.md
  packages/branch-tester/src/index.ts
  packages/branch-tester/src/tree-document.ts
  packages/branch-tester/src/tree-walker.ts
  packages/branch-tester/tests/tree-document.test.ts
  packages/branch-tester/tests/tree-walker.test.ts
  packages/devkit/src/commands/test-tree-document.test.ts
  packages/devkit/src/commands/test-tree-document.ts
  packages/devkit/src/commands/test.ts
  packages/devkit/src/standalone/author-game.ts
Due: eslint --fix, prettier --write

feat(ide,platform): ADR-307 Phases 3+4 — testing-surface tree model (the tree IS the model) + IDE single-document write bridge
  docs/context/archive/session-20260809-1349-feat-ide-go-live-phases-1-3.md
  docs/context/session-20260810-0715-feat-testing-tab-embed.md
  docs/work/testing/plan-20260809-adr-307-model-v2.md
  packages/branch-tester/src/auto-assertion.ts
  packages/branch-tester/src/runner.ts
  packages/branch-tester/src/tree-document.ts
  packages/branch-tester/src/tree-walker.ts
  packages/branch-tester/tests/auto-assertion.test.ts
  packages/branch-tester/tests/tree-document.test.ts
  packages/devkit/src/commands/test-tree-document.test.ts
  packages/devkit/src/commands/test-tree-document.ts
  tools/ide/SharpeeIDE/MainWindow.swift
  tools/ide/SharpeeIDE/Resources/testing-surface/surface.css
  tools/ide/SharpeeIDE/Resources/testing-surface/surface.js
  tools/ide/SharpeeIDE/TestingSurface/TestingSessionStore.swift
  tools/ide/SharpeeIDE/TestingSurface/TestingSurfaceViewController.swift
  tools/ide/SharpeeIDETests/TestingSessionStoreTests.swift
  tools/ide/SharpeeIDETests/TestingSurfaceRealPathTests.swift
  tools/ide/web/testing-surface/build.mjs
  tools/ide/web/testing-surface/src/cards.ts
  tools/ide/web/testing-surface/src/compose.ts
  tools/ide/web/testing-surface/src/main.ts
  tools/ide/web/testing-surface/src/model.ts
  tools/ide/web/testing-surface/src/run.ts
  tools/ide/web/testing-surface/src/surface.css
  tools/ide/web/testing-surface/tests/compose.test.ts
  tools/ide/web/testing-surface/tests/model.test.ts
  tools/ide/web/testing-surface/tests/tree-session-real-path.test.ts
  tools/ide/web/testing-surface/tsconfig.json
  tools/ide/web/testing-surface/vitest.config.ts
Due: eslint --fix, prettier --write

chore(ide,platform): retire the IFID quick-fix path; explicit sort comparators
  packages/branch-tester/src/tree-document.ts
  packages/devkit/src/commands/test-tree-document.ts
  tools/ide/SharpeeIDE/Compose/ProblemsView.swift
  tools/ide/SharpeeIDE/Compose/SpanText.swift
  tools/ide/SharpeeIDE/MainWindow.swift
  tools/ide/SharpeeIDE/Resources/testing-surface/surface.js
  tools/ide/SharpeeIDE/Workspace/StoryHeaderIFID.swift
  tools/ide/SharpeeIDETests/ProblemsVisibilityTests.swift
  tools/ide/SharpeeIDETests/SpanTextUnderlineTests.swift
  tools/ide/SharpeeIDETests/StoryHeaderIFIDTests.swift
Due: eslint --fix, prettier --write

docs(context): finalize session ed3730 — 5.0.0 shipped, ADR-309 closed
  docs/context/session-20260810-1535-feat-testing-tab-embed.md
  docs/work/ifid/plan-20260810-adr-309-tool-owned-ifid.md
Due: prettier --write

docs(devkit): record that `sharpee ifid` stays, and what it is not
  docs/work/ifid/plan-20260810-adr-309-tool-owned-ifid.md
  packages/devkit/src/standalone/ifid.ts
Due: eslint --fix, prettier --write

fix(website): point the service at the live checkout, and fail loudly on a mismatch
  website/deploy.sh
  website/deploy/sharpee-website.service
Due: none

feat(ide): Chord app icon — parchment at large sizes, a note at small ones
  tools/ide/SharpeeIDE/Resources/Assets.xcassets/AppIcon.appiconset/icon_128x128.png
  tools/ide/SharpeeIDE/Resources/Assets.xcassets/AppIcon.appiconset/icon_128x128@2x.png
  tools/ide/SharpeeIDE/Resources/Assets.xcassets/AppIcon.appiconset/icon_16x16.png
  tools/ide/SharpeeIDE/Resources/Assets.xcassets/AppIcon.appiconset/icon_16x16@2x.png
  tools/ide/SharpeeIDE/Resources/Assets.xcassets/AppIcon.appiconset/icon_256x256.png
  tools/ide/SharpeeIDE/Resources/Assets.xcassets/AppIcon.appiconset/icon_256x256@2x.png
  tools/ide/SharpeeIDE/Resources/Assets.xcassets/AppIcon.appiconset/icon_32x32.png
  tools/ide/SharpeeIDE/Resources/Assets.xcassets/AppIcon.appiconset/icon_32x32@2x.png
  tools/ide/SharpeeIDE/Resources/Assets.xcassets/AppIcon.appiconset/icon_512x512.png
  tools/ide/SharpeeIDE/Resources/Assets.xcassets/AppIcon.appiconset/icon_512x512@2x.png
Due: none

feat(ide): app icon reads "Chord Writer", masked into the macOS tile shape
  tools/ide/SharpeeIDE/Resources/Assets.xcassets/AppIcon.appiconset/icon_128x128.png
  tools/ide/SharpeeIDE/Resources/Assets.xcassets/AppIcon.appiconset/icon_128x128@2x.png
  tools/ide/SharpeeIDE/Resources/Assets.xcassets/AppIcon.appiconset/icon_256x256.png
  tools/ide/SharpeeIDE/Resources/Assets.xcassets/AppIcon.appiconset/icon_256x256@2x.png
  tools/ide/SharpeeIDE/Resources/Assets.xcassets/AppIcon.appiconset/icon_512x512.png
  tools/ide/SharpeeIDE/Resources/Assets.xcassets/AppIcon.appiconset/icon_512x512@2x.png
Due: none

feat(ide): chord-diagram app icon, and rewire make-app-icon.sh to the new art
  tools/ide/SharpeeIDE/Resources/Assets.xcassets/AppIcon.appiconset/icon_128x128.png
  tools/ide/SharpeeIDE/Resources/Assets.xcassets/AppIcon.appiconset/icon_128x128@2x.png
  tools/ide/SharpeeIDE/Resources/Assets.xcassets/AppIcon.appiconset/icon_256x256.png
  tools/ide/SharpeeIDE/Resources/Assets.xcassets/AppIcon.appiconset/icon_256x256@2x.png
  tools/ide/SharpeeIDE/Resources/Assets.xcassets/AppIcon.appiconset/icon_32x32.png
  tools/ide/SharpeeIDE/Resources/Assets.xcassets/AppIcon.appiconset/icon_512x512.png
  tools/ide/SharpeeIDE/Resources/Assets.xcassets/AppIcon.appiconset/icon_512x512@2x.png
  tools/ide/art/chord-diagram.png
  tools/ide/art/make-app-icon.sh
  tools/ide/art/note/make-note-tiles.py
  tools/ide/art/note/note-16.png
  tools/ide/art/note/note-32.png
  tools/ide/art/note/note-64.png
Due: none

feat(website): download page — Chord Writer and the Fernhill sample
  branch-stories/fernhill/fernhill.config.json
  website/public/downloads/the-folly-at-fernhill.zip
  website/src/app/chord-writer/download/content.mdx
  website/src/app/chord-writer/download/page.tsx
  website/src/lib/nav.ts
Due: eslint --fix, prettier --write

fix(website): Chord Writer is Apple silicon only, macOS 26+
  website/src/app/chord-writer/content.mdx
  website/src/app/chord-writer/download/content.mdx
Due: none

feat(website,ide): self-hosted analytics; app runs on any Apple silicon Mac
  tools/ide/SharpeeIDE/Docs/DocsTabViewController.swift
  tools/ide/SharpeeIDE/Play/PlayViewController.swift
  tools/ide/SharpeeIDE/Resources/docs-tab/docs-index.json
  tools/ide/SharpeeIDE/Resources/docs-tab/pages/chord-writer.html
  tools/ide/SharpeeIDE/Resources/docs-tab/pages/chord-writer__download.html
  tools/ide/SharpeeIDE/TestingSurface/TestingSurfaceViewController.swift
  tools/ide/SharpeeIDE/UI/StoryTitleBarViewController.swift
  tools/ide/SharpeeIDETests/DocsTabRealPathTests.swift
  tools/ide/project.yml
  website/scripts/analytics.mjs
  website/src/app/api/p/route.ts
  website/src/app/chord-writer/content.mdx
  website/src/app/chord-writer/download/content.mdx
  website/src/app/layout.tsx
  website/src/components/analytics-beacon.tsx
Due: eslint --fix, prettier --write

feat(website): deploy provisions the analytics dir; the salt persists itself
  website/deploy.sh
  website/deploy/sharpee-website.service
  website/src/app/api/p/route.ts
Due: eslint --fix, prettier --write

docs(go-live): Phase 8 drops the bundled sample — the website serves it
  docs/work/ide-go-live/plan-20260806-go-live.md
Due: prettier --write

docs(context): finalize session ed3730 — 5.0.0 published, DMG awaiting Apple
  docs/context/session-20260810-1535-feat-testing-tab-embed.md
  tools/ide/SharpeeIDE/Resources/docs-tab/docs-index.json
  tools/ide/SharpeeIDE/Resources/docs-tab/pages/chord-writer.html
  tools/ide/SharpeeIDE/Resources/docs-tab/pages/chord-writer__download.html
Due: prettier --write

feat(website): Chord Writer screenshots via a shared registry component
  docs/context/archive/session-20260809-2345-feat-testing-tab-embed.md
  docs/context/session-20260810-2232-chord-writer-screenshots.md
  website/src/app/chord-writer/building-playing-and-testing/content.mdx
  website/src/app/chord-writer/content.mdx
  website/src/app/chord-writer/publishing/content.mdx
  website/src/components/screenshot.tsx
  website/src/images/chord-writer/documentation.png
  website/src/images/chord-writer/play-themes.png
  website/src/images/chord-writer/play.png
  website/src/images/chord-writer/publish.png
  website/src/images/chord-writer/testing.png
  website/src/mdx-components.tsx
Due: eslint --fix, prettier --write

fix(ide): docs-tab build no longer destroys a working bundle on failure
  .gitignore
  docs/context/session-20260810-2232-chord-writer-screenshots.md
  tools/ide/SharpeeIDE/Resources/docs-tab/docs-index.json
  tools/ide/SharpeeIDE/Resources/docs-tab/images/chord-writer/documentation.png
  tools/ide/SharpeeIDE/Resources/docs-tab/images/chord-writer/play-themes.png
  tools/ide/SharpeeIDE/Resources/docs-tab/images/chord-writer/play.png
  tools/ide/SharpeeIDE/Resources/docs-tab/images/chord-writer/publish.png
  tools/ide/SharpeeIDE/Resources/docs-tab/images/chord-writer/testing.png
  tools/ide/SharpeeIDE/Resources/docs-tab/pages/chord-writer.html
  tools/ide/SharpeeIDE/Resources/docs-tab/pages/chord-writer__building-playing-and-testing.html
  tools/ide/SharpeeIDE/Resources/docs-tab/pages/chord-writer__publishing.html
  tools/ide/build-docs-tab.sh
  tools/ide/package.sh
  tools/ide/web/docs-tab/build.mjs
  tools/ide/web/docs-tab/src/mdx.mjs
Due: prettier --write

docs(adr): map @sharpee/character onto Chord (ADR-310), VN client (ADR-311)
  docs/architecture/adrs/adr-310-character-model-in-chord.md
  docs/architecture/adrs/adr-311-visual-novel-client.md
  docs/context/session-20260810-2232-chord-writer-screenshots.md
Due: prettier --write

docs(adr-310): resolve open questions, accept ADR, start implementation plan
  branch-stories/visitors/visitors.story
  docs/architecture/adrs/adr-310-character-model-in-chord.md
  docs/context/.current-plan
  docs/context/archive/session-20260810-0011-feat-testing-tab-embed.md
  docs/context/session-20260811-1540-adr-310-character-in-chord.md
  docs/work/character-in-chord/plan.md
Due: prettier --write

feat(dialogue): wire ADR-102's extension seam (ADR-310 Phase 2, partial)
  packages/character/package.json
  packages/character/src/conversation/dialogue-extension.ts
  packages/character/src/conversation/dialogue-types.ts
  packages/character/src/conversation/index.ts
  packages/character/src/index.ts
  packages/character/tsconfig.json
  packages/if-domain/src/dialogue.ts
  packages/if-domain/src/index.ts
  packages/stdlib/src/actions/dialogue.ts
  packages/stdlib/src/actions/index.ts
  packages/stdlib/src/actions/standard/asking/asking.ts
  packages/stdlib/src/actions/standard/talking/talking.ts
  packages/stdlib/src/actions/standard/telling/telling.ts
  packages/world-model/src/world/WorldModel.ts
Due: eslint --fix, prettier --write

docs(context): update session summary for ADR-310 Phase 2
  docs/context/session-20260811-1540-adr-310-character-in-chord.md
Due: prettier --write

fix(ide): pin Chord Writer signing to the correct Apple team
  docs/context/session-20260811-1540-adr-310-character-in-chord.md
  packages/sharpee/docs/genai-api/character.md
  packages/sharpee/docs/genai-api/if-domain.md
  packages/sharpee/docs/genai-api/index.md
  packages/sharpee/docs/genai-api/stdlib.md
  packages/sharpee/docs/genai-api/world-model.md
  tools/ide/package.sh
  tools/ide/project.yml
Due: prettier --write

feat(ide): add --dmg-from adopt mode to package.sh
  docs/context/archive/session-20260810-0715-feat-testing-tab-embed.md
  docs/context/session-20260812-0152-feat-adr-310-character-in-chord.md
  tools/ide/package.sh
Due: prettier --write

feat(ide): ship Chord Writer toolchain-less, fix DMG + notarization, scope ADR-300/301
  docs/architecture/adrs/adr-279-chord-writer-packaging.md
  docs/architecture/adrs/adr-300-addressable-channels-and-canonical-transcript.md
  docs/architecture/adrs/adr-301-sharpee-transcript-editor.md
  docs/context/archive/session-20260810-0900-feat-testing-tab-embed.md
  docs/context/session-20260812-0703-feat-adr-310-character-in-chord.md
  docs/work/adr-279-chord-writer-packaging/notarization-bisection.md
  docs/work/adr-279-chord-writer-packaging/plan.md
  pnpm-lock.yaml
  tools/ide/SharpeeIDE/Resources/docs-tab/docs-index.json
  tools/ide/SharpeeIDE/Resources/docs-tab/pages/chord-writer.html
  tools/ide/SharpeeIDE/Resources/docs-tab/pages/chord-writer__download.html
  tools/ide/dmg/assemble-dmg.sh
  tools/ide/package.sh
  tools/ide/project.yml
  website/next.config.ts
  website/package.json
  website/public/search-index.json
  website/src/app/chord-writer/content.mdx
  website/src/app/chord-writer/download/content.mdx
Due: eslint --fix, prettier --write

fix(website): Chord Writer pages promised a toolchain the DMG doesn't carry
  docs/context/session-20260812-0903-main.md
  website/public/search-index.json
  website/src/app/chord-writer/content.mdx
  website/src/app/chord-writer/download/content.mdx
  website/src/components/prose.tsx
Due: eslint --fix, prettier --write

docs: accept ADR-312, add ADR-staleness warning, rewrite Chord testing docs
  docs/architecture/adrs/adr-312-recording-tests-from-the-command-line.md
  docs/context/archive/session-20260810-1535-feat-testing-tab-embed.md
  docs/context/session-20260812-0703-feat-adr-310-character-in-chord.md
  docs/core-concepts/README.md
  website/public/search-index.json
  website/src/app/chord/getting-started/compose-and-run/content.mdx
  website/src/app/chord/getting-started/install/content.mdx
Due: prettier --write

docs: retire ADR-312, replace with ADR-313 (tree second serialization) and ADR-314 (content coverage)
  docs/architecture/adrs/adr-312-a-bad-decision.md
  docs/architecture/adrs/adr-312-recording-tests-from-the-command-line.md
  docs/architecture/adrs/adr-313-tree-second-serialization.md
  docs/architecture/adrs/adr-314-content-coverage-reports.md
  docs/context/.current-plan
  docs/context/archive/session-20260810-2232-chord-writer-screenshots.md
  docs/context/session-20260812-1944-feat-adr-312-cli-test-recording.md
  docs/work/adr-312-cli-test-recording/plan.md
  docs/work/adr-313-second-serialization/mocks/01-fernhill-projected.tests.txt
  docs/work/adr-313-second-serialization/mocks/02-fernhill-authored.tests.txt
  docs/work/adr-313-second-serialization/mocks/03-fernhill-pruned.tests.txt
  docs/work/adr-313-second-serialization/mocks/04-adversarial.tests.txt
  docs/work/adr-313-second-serialization/mocks/05-candidate-b.tests.yaml
  docs/work/adr-313-second-serialization/mocks/README.md
  docs/work/character-in-chord/plan.md
Due: prettier --write

docs: add pattern-recurrence findings to session 787eea summary
  docs/context/session-20260812-1944-feat-adr-312-cli-test-recording.md
Due: prettier --write

fix(ide): sign vendored toolchain payloads; ship first signed DMG
  docs/architecture/adrs/adr-279-chord-writer-packaging.md
  docs/architecture/adrs/adr-313-tree-second-serialization.md
  docs/architecture/adrs/adr-314-content-coverage-reports.md
  docs/context/archive/session-20260811-1540-adr-310-character-in-chord.md
  docs/context/session-20260813-1306-feat-adr-312-cli-test-recording.md
  docs/work/adr-279-chord-writer-packaging/dts-incident-draft.md
  docs/work/adr-279-chord-writer-packaging/fixtures/.gitignore
  docs/work/adr-279-chord-writer-packaging/fixtures/RESULTS.md
  docs/work/adr-279-chord-writer-packaging/fixtures/make-archive-fixtures.sh
  docs/work/adr-279-chord-writer-packaging/fixtures/make-discriminator-fixtures.sh
  docs/work/adr-279-chord-writer-packaging/fixtures/make-fixtures.sh
  docs/work/adr-279-chord-writer-packaging/fixtures/make-signed-fixtures.sh
  docs/work/adr-279-chord-writer-packaging/forum-post-draft.md
  docs/work/adr-279-chord-writer-packaging/notarization-bisection.md
  tools/ide/SharpeeIDE/Resources/docs-tab/docs-index.json
  tools/ide/SharpeeIDE/Resources/docs-tab/pages/chord-writer.html
  tools/ide/SharpeeIDE/Resources/docs-tab/pages/chord-writer__download.html
  tools/ide/vendor-toolchain.sh
  website/src/app/chord-writer/content.mdx
  website/src/app/chord-writer/download/content.mdx
Due: prettier --write

chore(fixtures): ignore the remaining generated fixture output dirs
  docs/work/adr-279-chord-writer-packaging/fixtures/.gitignore
Due: none

feat(ide): ship the toolchain-bearing DMG; site drops the npm install step
  docs/context/session-20260813-1306-feat-adr-312-cli-test-recording.md
  tools/ide/SharpeeIDE/Resources/docs-tab/docs-index.json
  tools/ide/SharpeeIDE/Resources/docs-tab/pages/chord-writer.html
  tools/ide/SharpeeIDE/Resources/docs-tab/pages/chord-writer__download.html
  tools/ide/vendor-toolchain.sh
  website/src/app/chord-writer/content.mdx
  website/src/app/chord-writer/download/content.mdx
Due: prettier --write

docs(context): verify AC3/AC6 inline, falsify the x86_64 notarization trigger
  docs/context/session-20260813-1306-feat-adr-312-cli-test-recording.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md})
