Repository ChicagoDave/sharpee: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix(dungeo): Update TR-002 and fix text accuracy issues
  docs/context/session-20260114-1727-dungeo.md
  docs/testing/tr-002-comparison.md
  stories/dungeo/src/regions/house-interior.ts
  stories/dungeo/src/regions/white-house.ts
Due: eslint --fix, prettier --write

docs: Add ADRs 101-103 for graphical client and story extensions
  docs/architecture/adrs/README.md
  docs/architecture/adrs/adr-101-graphical-client-architecture.md
  docs/architecture/adrs/adr-102-dialogue-extension-architecture.md
  docs/architecture/adrs/adr-103-choice-based-story-architecture.md
Due: prettier --write

docs: Update work log
  docs/context/.work-log.txt
Due: none

docs: Update all documentation for BETA status (v0.9.2)
  CONTRIBUTING.md
  README.md
  docs/README.md
  docs/actions/README.md
  docs/api/README.md
  docs/architecture/README.md
  docs/context/.work-log.txt
  docs/development/README.md
  docs/extensions/README.md
  docs/features/README.md
  docs/getting-started/authors/README.md
  docs/getting-started/developers/extension-development-guide.md
  docs/platform/README.md
  docs/reference/core-concepts.md
  packages/stdlib/README.md
Due: prettier --write

docs: Update session summary with documentation changes
  docs/context/session-20260114-1727-dungeo.md
Due: prettier --write

docs: Add twisty maze map with Mermaid diagram
  docs/work/dungeo/twisty-maze.md
Due: prettier --write

docs: Add puzzle room (Chinese puzzle) solution guide
  docs/work/dungeo/puzzle-room-solution.md
Due: prettier --write

fix: Correct puzzle room solution with actual walkthrough
  docs/work/dungeo/puzzle-room-solution.md
Due: prettier --write

docs: Add TR-003 gap analysis from 1994 Dungeon playthrough
  docs/context/session-20260115-0026-dungeo.md
  docs/testing/tr-003.txt
  docs/work/dungeo/play-output-5.md
Due: prettier --write

fix: Restore bundle scripts accidentally deleted in cleanup
  scripts/bundle-entry.js
  scripts/use-bundle.js
Due: none

fix: Correct text-service path in dungeo entry (singular not plural)
  .dungeo-entry.js
Due: none

fix: Complete pronoun "it" resolution with clean architecture
  docs/architecture/adrs/adr-089-pronoun-identity-system.md
  docs/context/session-20260116-0025-dungeo.md
  docs/context/session-20260116-0115-dungeo.md
  packages/engine/src/command-executor.ts
  packages/engine/src/game-engine.ts
  packages/engine/src/types.ts
  packages/parser-en-us/src/english-parser.ts
  packages/parser-en-us/src/pronoun-context.ts
  packages/stdlib/src/validation/command-validator.ts
  packages/world-model/src/commands/parsed-command.ts
  test-pronoun.transcript
Due: eslint --fix, prettier --write

docs: Add ADR-104 for implicit inference and implicit actions
  docs/architecture/adrs/adr-104-implicit-inference.md
Due: prettier --write

feat: Implement implicit inference for pronoun commands (ADR-104 Phases 1-2)
  docs/context/session-20260116-0206-dungeo.md
  docs/work/infer/implementation-plan.md
  packages/engine/src/command-executor.ts
  packages/parser-en-us/src/english-parser.ts
  packages/stdlib/src/actions/enhanced-types.ts
  packages/stdlib/src/actions/standard/closing/closing.ts
  packages/stdlib/src/actions/standard/eating/eating.ts
  packages/stdlib/src/actions/standard/opening/opening.ts
  packages/stdlib/src/actions/standard/reading/reading.ts
  packages/stdlib/src/index.ts
  packages/stdlib/src/inference/implicit-inference.ts
  packages/stdlib/src/inference/index.ts
  packages/world-model/src/commands/parsed-command.ts
  stories/dungeo/tests/transcripts/implicit-inference.transcript
Due: eslint --fix, prettier --write

feat: Complete ADR-104 Phase 3 - Implicit Take for reading/eating actions
  .dungeo-entry.js
  docs/architecture/adrs/adr-104-implicit-inference.md
  docs/context/.work-log.txt
  docs/context/session-20260115-0026-dungeo.md
  docs/context/session-20260116-0115-dungeo.md
  docs/context/session-20260116-0243-infer.md
  docs/context/session-20260116-1200-infer.md
  docs/context/session-20260116-1242-infer.md
  docs/work/infer/implementation-plan.md
  packages/engine/src/action-context-factory.ts
  packages/event-processor/src/effects/effect-processor.ts
  packages/event-processor/src/effects/types.ts
  packages/event-processor/src/processor.ts
  packages/stdlib/src/actions/standard/eating/eating.ts
  packages/stdlib/src/actions/standard/reading/reading.ts
  packages/stdlib/src/actions/standard/taking/taking.ts
  packages/stdlib/src/inference/index.ts
  packages/text-service/src/text-service.ts
  packages/world-model/src/world/WorldModel.ts
  scripts/bundle-dungeo.sh
  stories/dungeo/tests/transcripts/implicit-inference.transcript
Due: eslint --fix, prettier --write

feat: Complete ADR-104 Phase 4 - Configuration for implicit actions
  docs/architecture/adrs/adr-104-implicit-inference.md
  docs/architecture/adrs/adr-105-javascript-browser-client.md
  docs/context/session-20260116-1255-infer.md
  docs/work/dungeo/play-output-6.md
  docs/work/engine/20260116-assessment.md
  docs/work/engine/remediation-plan.md
  docs/work/issues/issues-list.md
  packages/engine/src/action-context-factory.ts
  packages/engine/src/command-executor.ts
  packages/engine/src/game-engine.ts
  packages/engine/src/story.ts
  packages/engine/src/types.ts
Due: eslint --fix, prettier --write

refactor(engine): Phase 1 dead code removal
  docs/context/.work-log.txt
  docs/context/session-20260116-1542-engine.md
  packages/engine/src/action-context-factory.ts
  packages/engine/src/command-executor.ts
  packages/engine/src/game-engine.ts
  packages/engine/src/types.ts
Due: eslint --fix, prettier --write

refactor(engine): Phase 2 type safety + Phase 3 event-adapter cleanup
  docs/context/session-20260116-1545-engine.md
  packages/engine/src/action-context-factory.ts
  packages/engine/src/command-executor.ts
  packages/engine/src/event-adapter.ts
  packages/engine/src/game-engine.ts
  packages/engine/src/index.ts
  packages/engine/src/parser-interface.ts
  packages/engine/src/shared-data-keys.ts
  packages/engine/src/types.ts
  packages/text-service/src/handlers/room.ts
  packages/text-service/src/text-service.ts
Due: eslint --fix, prettier --write

refactor(engine): Phase 4 extract services from GameEngine
  docs/context/session-20260116-1626-engine.md
  packages/engine/src/game-engine.ts
  packages/engine/src/index.ts
  packages/engine/src/platform-operations.ts
  packages/engine/src/save-restore-service.ts
  packages/engine/src/turn-event-processor.ts
  packages/engine/src/vocabulary-manager.ts
Due: eslint --fix, prettier --write

docs: Add work summaries and session logs
  docs/context/.work-log.txt
  docs/context/session-20260116-1425-infer.md
  docs/context/session-20260116-1439-dungeo.md
  docs/work/engine/context/phase4-service-extraction-complete.md
Due: prettier --write

refactor(engine): Phase 5 fix race condition in constructor
  packages/engine/src/game-engine.ts
Due: eslint --fix, prettier --write

refactor(engine): Phase 6 cleanup MetaCommand handling
  packages/engine/src/game-engine.ts
  packages/stdlib/src/actions/meta-registry.ts
Due: eslint --fix, prettier --write

docs: Update session summary with Phase 5 and Phase 6
  docs/context/session-20260116-1626-engine.md
Due: prettier --write

docs: Add work summary for engine remediation Phases 4-6
  docs/context/.work-log.txt
  docs/work/engine/context/phases-4-5-6-complete.md
Due: prettier --write

fix: Platform issues discovered in first 5 turns of Dungeo
  docs/context/.work-log.txt
  docs/context/session-20260116-1758-engine.md
  docs/context/session-20260116-2022-engine.md
  packages/lang-en-us/src/actions/index.ts
  packages/lang-en-us/src/actions/reading.ts
  packages/lang-en-us/src/data/templates.ts
  packages/lang-en-us/src/language-provider.ts
  packages/stdlib/src/inference/implicit-inference.ts
  packages/text-service/src/stages/sort.ts
  packages/text-service/src/text-service.ts
  stories/dungeo/tests/transcripts/implicit-take-test.transcript
Due: eslint --fix, prettier --write

feat: Add browser client with Infocom DOS styling
  docs/context/.work-log.txt
  docs/context/session-20260116-2036-engine.md
  docs/work/issues/issues-list.md
  docs/work/thinweb/README.md
  packages/core/package.json
  packages/core/src/ifid/ifid.ts
  packages/core/src/query/query-manager.ts
  pnpm-lock.yaml
  scripts/bundle-browser.sh
  stories/dungeo/src/browser-entry.ts
  templates/browser/index.html
  templates/browser/infocom.css
Due: eslint --fix, prettier --write

docs: Mark engine remediation plan complete
  docs/context/.work-log.txt
  docs/context/session-20260116-2130-engine.md
  docs/work/engine/remediation-plan.md
Due: prettier --write

feat: Fix troll combat and add VERSION command
  docs/context/.work-log.txt
  docs/context/session-20260116-1439-dungeo.md
  docs/context/session-20260116-2215-dungeo.md
  docs/context/session-20260116-2301-dungeo.md
  docs/context/session-20260116-2334-dungeo.md
  docs/context/session-20260116-2359-dungeo.md
  docs/context/session-20260117-0036-dungeo.md
  docs/work/dungeo/context/2026-01-16-2300-window-blocking-investigation.md
  docs/work/dungeo/context/2026-01-16-2334-window-blocking-fix.md
  docs/work/dungeo/context/2026-01-16-2340-troll-combat-fix.md
  docs/work/dungeo/context/2026-01-17-troll-combat-messages.md
  docs/work/dungeo/context/2026-01-17-version-command.md
  docs/work/dungeo/context/browser-testing-2026-01-16.md
  docs/work/issues/issues-list.md
  packages/lang-en-us/src/actions/going.ts
  packages/lang-en-us/src/actions/index.ts
  packages/lang-en-us/src/actions/version.ts
  packages/lang-en-us/src/language-provider.ts
  packages/lang-en-us/src/npc/npc.ts
  packages/parser-en-us/src/grammar.ts
  packages/stdlib/src/actions/standard/going/going.ts
  packages/stdlib/src/actions/standard/index.ts
  packages/stdlib/src/actions/standard/version/index.ts
  packages/stdlib/src/actions/standard/version/version-events.ts
  packages/stdlib/src/actions/standard/version/version.ts
  packages/stdlib/src/npc/behaviors.ts
  packages/stdlib/src/npc/npc-service.ts
  scripts/bundle-sharpee.sh
  stories/dungeo/package.json
  stories/dungeo/src/index.ts
  stories/dungeo/src/regions/house-interior.ts
  stories/dungeo/src/regions/white-house.ts
  stories/dungeo/src/version.ts
  stories/dungeo/tests/transcripts/troll-blocking.transcript
  stories/dungeo/tests/transcripts/troll-combat.transcript
  stories/dungeo/tests/transcripts/version.transcript
  stories/dungeo/tsconfig.json
  templates/browser/infocom.css
Due: eslint --fix, prettier --write

feat: Add inventory dropping on NPC death and capability dispatch docs
  CLAUDE.md
  docs/context/session-20260117-0139-dungeo.md
  docs/design/sharpee-dispatch-wp.md
  docs/work/dungeo/troll-logic.md
  packages/stdlib/src/actions/standard/attacking/attacking.ts
  packages/stdlib/src/combat/combat-service.ts
  packages/stdlib/src/combat/index.ts
Due: eslint --fix, prettier --write

feat: Add universal capability dispatch to engine
  docs/context/.work-log.txt
  docs/context/session-20260117-0250-dungeo.md
  docs/context/session-20260117-0324-unidispatch.md
  packages/engine/src/capability-dispatch-helper.ts
  packages/engine/src/command-executor.ts
  packages/engine/src/index.ts
  packages/engine/tests/universal-capability-dispatch.test.ts
Due: eslint --fix, prettier --write

feat: Add generic capability dispatch with declarative configuration
  docs/work/dungeo/generic-dispatch.md
  packages/engine/src/capability-dispatch-helper.ts
  packages/engine/src/command-executor.ts
  packages/world-model/src/capabilities/capability-defaults.ts
  packages/world-model/src/capabilities/capability-registry.ts
  packages/world-model/src/capabilities/index.ts
  packages/world-model/src/world/VisibilityBehavior.ts
Due: eslint --fix, prettier --write

feat: Add troll axe visibility via generic capability dispatch
  docs/context/.work-log.txt
  docs/context/session-20260117-0357-dungeo.md
  docs/context/session-20260117-1223-dungeo.md
  docs/work/dungeo/troll-logic.md
  stories/dungeo/src/actions/gdt/commands/index.ts
  stories/dungeo/src/actions/gdt/commands/kl.ts
  stories/dungeo/src/actions/gdt/commands/ko.ts
  stories/dungeo/src/actions/gdt/commands/wu.ts
  stories/dungeo/src/actions/gdt/types.ts
  stories/dungeo/src/index.ts
  stories/dungeo/src/regions/underground.ts
  stories/dungeo/src/traits/index.ts
  stories/dungeo/src/traits/troll-axe-behaviors.ts
  stories/dungeo/src/traits/troll-axe-trait.ts
  stories/dungeo/test-blocking.js
  stories/dungeo/tests/transcripts/troll-axe.transcript
  stories/dungeo/tests/transcripts/troll-visibility.transcript
Due: eslint --fix, prettier --write

feat: Add troll wake up daemon and dynamic descriptions
  docs/context/.work-log.txt
  docs/context/session-20260117-1350-dungeo.md
  docs/context/session-20260117-1409-dungeo.md
  docs/work/dungeo/troll-logic.md
  stories/dungeo/src/index.ts
  stories/dungeo/src/regions/underground.ts
  stories/dungeo/src/scheduler/index.ts
  stories/dungeo/src/scheduler/scheduler-messages.ts
  stories/dungeo/src/scheduler/troll-daemon.ts
  stories/dungeo/tests/transcripts/troll-recovery.transcript
Due: eslint --fix, prettier --write

docs: Add implementation plan for remaining troll features
  docs/context/.work-log.txt
  docs/context/session-20260117-1424-dungeo.md
  docs/work/dungeo/troll-logic.md
Due: prettier --write

feat: Add troll NPC behaviors and capability dispatch
  docs/context/session-20260117-1427-dungeo.md
  docs/work/dungeo/troll-logic.md
  stories/dungeo/src/index.ts
  stories/dungeo/src/npcs/troll/index.ts
  stories/dungeo/src/npcs/troll/troll-behavior.ts
  stories/dungeo/src/npcs/troll/troll-messages.ts
  stories/dungeo/src/regions/underground.ts
  stories/dungeo/src/traits/index.ts
  stories/dungeo/src/traits/troll-capability-behaviors.ts
  stories/dungeo/src/traits/troll-trait.ts
  stories/dungeo/tests/transcripts/troll-interactions.transcript
Due: eslint --fix, prettier --write

fix: Language layer message resolution for capability-blocked messages
  docs/context/.work-log.txt
  docs/context/session-20260117-1611-dungeo.md
  docs/work/dungeo/troll-logic.md
  packages/text-service/src/handlers/action.ts
  stories/dungeo/package.json
  stories/dungeo/src/actions/gdt/gdt-parser.ts
  stories/dungeo/src/actions/index.ts
  stories/dungeo/src/actions/talk-to-troll/index.ts
  stories/dungeo/src/actions/talk-to-troll/talk-to-troll-action.ts
  stories/dungeo/src/index.ts
  stories/dungeo/src/version.ts
  stories/dungeo/tests/transcripts/troll-interactions.transcript
  stories/dungeo/tests/transcripts/troll-recovery.transcript
  stories/dungeo/tests/transcripts/troll-visibility.transcript
Due: eslint --fix, prettier --write

fix: Talk-to-troll entity lookup checks aliases
  docs/context/.work-log.txt
  docs/context/session-20260117-2305-dungeo.md
  docs/context/session-20260117-2334-dungeo.md
  docs/work/dungeo/troll-logic.md
  docs/work/issues/issues-list.md
  stories/dungeo/src/actions/talk-to-troll/talk-to-troll-action.ts
Due: eslint --fix, prettier --write

fix: Room contents display, text ordering, and multi-object commands
  docs/context/.work-log.txt
  docs/context/session-20260117-2336-dungeo.md
  docs/work/issues/issues-list.md
  packages/lang-en-us/src/actions/going.ts
  packages/stdlib/src/validation/command-validator.ts
  packages/text-service/src/stages/sort.ts
  stories/dungeo/tests/transcripts/get-all.transcript
  stories/dungeo/tests/transcripts/room-contents-on-entry.transcript
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md})
