Repository ChicagoDave/sharpee: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: Delta save serialization with lz-string compression
  build.sh
  docs/work/platform/save-assessment.md
  packages/platform-browser/src/BrowserClient.ts
  packages/platform-browser/src/managers/SaveManager.ts
  packages/platform-browser/src/types.ts
  packages/platforms/browser-en-us/src/version.ts
  stories/dungeo/src/version.ts
  website/public/games/dungeo/dungeo.js
Due: eslint --fix, prettier --write

feat: Accept ADR-118, add SWITCHING_ON/DROPPING interceptor support, migrate ghost ritual handler
  docs/architecture/adrs/adr-118-stdlib-action-interceptors.md
  docs/context/session-20260127-2010-main.md
  packages/stdlib/src/actions/standard/dropping/dropping-types.ts
  packages/stdlib/src/actions/standard/dropping/dropping.ts
  packages/stdlib/src/actions/standard/switching_on/switching_on.ts
  stories/dungeo/src/handlers/coal-machine-handler.ts
  stories/dungeo/src/index.ts
  stories/dungeo/src/interceptors/ghost-ritual-dropping-interceptor.ts
  stories/dungeo/src/objects/thiefs-canvas-objects.ts
  stories/dungeo/src/orchestration/command-transformers.ts
  stories/dungeo/src/orchestration/scheduler-setup.ts
  stories/dungeo/src/traits/frame-piece-trait.ts
  stories/dungeo/src/traits/index.ts
Due: eslint --fix, prettier --write

refactor: Move dam mutations into turn-bolt action, delete dam-handler and dam-fuse
  docs/context/session-20260127-2055-main.md
  stories/dungeo/src/actions/press-button/press-button-action.ts
  stories/dungeo/src/actions/turn-bolt/turn-bolt-action.ts
  stories/dungeo/src/handlers/dam-handler.ts
  stories/dungeo/src/handlers/index.ts
  stories/dungeo/src/index.ts
  stories/dungeo/src/scheduler/dam-fuse.ts
  stories/dungeo/src/version.ts
Due: eslint --fix, prettier --write

refactor: Complete handler audit, delete dead code, propose ADR-119 state machines
  docs/architecture/adrs/adr-119-state-machines.md
  docs/context/session-20260127-2058-main.md
  docs/work/dungeo/handler-assessment.md
  stories/dungeo/src/handlers/ghost-ritual-handler.ts
  stories/dungeo/src/handlers/index.ts
  stories/dungeo/src/handlers/river-handler.ts
  stories/dungeo/src/index.ts
  stories/dungeo/src/interceptors/ghost-ritual-dropping-interceptor.ts
  stories/dungeo/src/messages/puzzle-messages.ts
  stories/dungeo/src/traits/index.ts
Due: eslint --fix, prettier --write

feat: ADR-120 engine plugin architecture, resolve ADR-119 package location
  docs/architecture/adrs/adr-119-state-machines.md
  docs/architecture/adrs/adr-120-engine-plugin-architecture.md
  docs/context/session-20260127-2221-main.md
  docs/context/session-20260127-2254-main.md
  docs/work/platform/state-machine.md
Due: prettier --write

refactor: Extract NPC service to @sharpee/plugin-npc (ADR-120 Phase 3)
  build.sh
  docs/context/session-20260128-main-phase3.md
  packages/engine/src/game-engine.ts
  packages/plugin-npc/package.json
  packages/plugin-npc/src/index.ts
  packages/plugin-npc/src/npc-plugin.ts
  packages/plugin-npc/tsconfig.json
  pnpm-lock.yaml
  stories/dungeo/package.json
  stories/dungeo/src/orchestration/index.ts
  stories/dungeo/tsconfig.json
Due: eslint --fix, prettier --write

feat: Migrate death penalty handler to state machine (ADR-119/120)
  docs/context/session-20260128-2330-main.md
  stories/dungeo/src/orchestration/event-handlers.ts
  stories/dungeo/src/orchestration/index.ts
  stories/dungeo/src/state-machines/death-penalty-machine.ts
Due: eslint --fix, prettier --write

feat: Migrate rainbow handler to state machine (ADR-119/120)
  docs/context/.work-log.txt
  docs/context/session-20260129-0206-main.md
  stories/dungeo/src/actions/wave/wave-action.ts
  stories/dungeo/src/orchestration/index.ts
  stories/dungeo/src/state-machines/rainbow-machine.ts
  stories/dungeo/src/version.ts
Due: eslint --fix, prettier --write

feat: Migrate reality-altered and victory handlers to state machines (ADR-119/120)
  docs/context/session-20260129-0300-main.md
  stories/dungeo/src/index.ts
  stories/dungeo/src/orchestration/index.ts
  stories/dungeo/src/orchestration/scheduler-setup.ts
  stories/dungeo/src/state-machines/reality-altered-machine.ts
  stories/dungeo/src/state-machines/victory-machine.ts
Due: eslint --fix, prettier --write

docs: ADR-123 typed daemon hierarchy, endgame handler assessment
  docs/architecture/adrs/adr-123-typed-daemon-hierarchy.md
  docs/context/session-20260129-0300-main.md
  docs/work/platform/end-game-assessment.md
Due: prettier --write

feat: ADR-123 typed daemon hierarchy base classes with serialization
  docs/architecture/adrs/adr-123-typed-daemon-hierarchy.md
  packages/plugin-scheduler/src/daemons/ambience-daemon.ts
  packages/plugin-scheduler/src/daemons/countdown-daemon.ts
  packages/plugin-scheduler/src/daemons/daemon-runner.ts
  packages/plugin-scheduler/src/daemons/index.ts
  packages/plugin-scheduler/src/daemons/location-daemon.ts
  packages/plugin-scheduler/src/daemons/watchdog-daemon.ts
  packages/plugin-scheduler/src/index.ts
  packages/plugin-scheduler/src/scheduler-service.ts
  packages/plugin-scheduler/src/types.ts
Due: eslint --fix, prettier --write

docs: session summary for ADR-123 typed daemon hierarchy implementation
  docs/context/session-20260129-0323-main.md
Due: prettier --write

revert: Remove ADR-123 daemon class hierarchy, keep serialization
  checkpoints/after-leaflet.json
  docs/architecture/adrs/adr-123-typed-daemon-hierarchy.md
  docs/context/.work-log.txt
  docs/context/session-20260129-0433-main.md
  docs/context/session-20260129-0446-main.md
  docs/work/platform/undo-daemon-work.md
  packages/plugin-scheduler/src/daemons/ambience-daemon.ts
  packages/plugin-scheduler/src/daemons/countdown-daemon.ts
  packages/plugin-scheduler/src/daemons/daemon-runner.ts
  packages/plugin-scheduler/src/daemons/index.ts
  packages/plugin-scheduler/src/daemons/location-daemon.ts
  packages/plugin-scheduler/src/daemons/watchdog-daemon.ts
  packages/plugin-scheduler/src/index.ts
  stories/dungeo/src/scheduler/sword-glow-daemon.ts
  stories/dungeo/src/version.ts
Due: eslint --fix, prettier --write

feat: Zifmia Phase 1 — .sharpee story bundle format
  build.sh
  docs/context/.work-log.txt
  docs/work/zifmia/implementation-plan.md
Due: prettier --write

docs: session summary and Zifmia Phase 2 plan
  docs/context/.work-log.txt
  docs/context/session-20260129-0554-main.md
  docs/work/zifmia/phase-2.md
Due: prettier --write

feat: Zifmia Phase 2 — story loader, runner, and importmap resolution
  build.sh
  docs/context/.work-log.txt
  docs/context/session-20260129-1030-main.md
  packages/zifmia/package.json
  packages/zifmia/src/index.ts
  packages/zifmia/src/loader/bundle-loader.ts
  packages/zifmia/src/loader/index.ts
  packages/zifmia/src/runner/index.tsx
  packages/zifmia/src/runner/runner-entry.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: Zifmia Phase 3 — runner application shell with save/restore and transcript export
  docs/context/session-20260129-1400-main.md
  docs/work/zifmia/phase-3-plan.md
  docs/work/zifmia/phase-3.md
  packages/core/package.json
  packages/engine/package.json
  packages/if-domain/package.json
  packages/lang-en-us/package.json
  packages/parser-en-us/package.json
  packages/plugin-npc/package.json
  packages/plugin-scheduler/package.json
  packages/plugin-state-machine/package.json
  packages/plugins/package.json
  packages/sharpee/package.json
  packages/stdlib/package.json
  packages/world-model/package.json
  packages/zifmia/src/components/GameShell.tsx
  packages/zifmia/src/components/menu/MenuBar.tsx
  packages/zifmia/src/context/GameContext.tsx
  packages/zifmia/src/context/index.ts
  packages/zifmia/src/index.ts
  packages/zifmia/src/runner/RestoreDialog.tsx
  packages/zifmia/src/runner/SaveDialog.tsx
  packages/zifmia/src/runner/StoryLibrary.tsx
  packages/zifmia/src/runner/index.tsx
  packages/zifmia/src/runner/runner-entry.tsx
  packages/zifmia/src/runner/save-integration.ts
  packages/zifmia/src/runner/transcript-export.ts
  packages/zifmia/src/storage/browser-storage-provider.ts
  packages/zifmia/src/storage/index.ts
  packages/zifmia/src/storage/storage-provider.ts
  packages/zifmia/src/types/game-state.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: dual CJS/ESM build system for browser and Tauri targets
  .gitignore
  build.sh
  docs/context/.work-log.txt
  docs/context/session-20260130-0233-main.md
  packages/core/package.json
  packages/core/tsconfig.esm.json
  packages/engine/package.json
  packages/engine/tsconfig.esm.json
  packages/event-processor/package.json
  packages/event-processor/tsconfig.esm.json
  packages/if-domain/package.json
  packages/if-domain/tsconfig.esm.json
  packages/if-services/package.json
  packages/if-services/tsconfig.esm.json
  packages/lang-en-us/package.json
  packages/lang-en-us/tsconfig.esm.json
  packages/parser-en-us/package.json
  packages/parser-en-us/tsconfig.esm.json
  packages/plugin-npc/tsconfig.esm.json
  packages/plugin-scheduler/tsconfig.esm.json
  packages/plugin-state-machine/tsconfig.esm.json
  packages/plugins/tsconfig.esm.json
  packages/sharpee/package.json
  packages/sharpee/tsconfig.esm.json
  packages/stdlib/package.json
  packages/stdlib/tsconfig.esm.json
  packages/text-blocks/package.json
  packages/text-blocks/tsconfig.esm.json
  packages/text-service/package.json
  packages/text-service/tsconfig.esm.json
  packages/transcript-tester/package.json
  packages/transcript-tester/tsconfig.esm.json
  packages/world-model/package.json
  packages/world-model/tsconfig.esm.json
  stories/dungeo/src/version.ts
  stories/dungeo/tsconfig.esm.json
  tsconfig.base-esm.json
Due: eslint --fix, prettier --write

feat: Zifmia Phase 6 — Tauri v2 desktop client with native file picker and IPC
  .gitignore
  docs/context/session-20260130-0438-main.md
  packages/zifmia/src-tauri/Cargo.toml
  packages/zifmia/src-tauri/build.rs
  packages/zifmia/src-tauri/capabilities/default.json
  packages/zifmia/src-tauri/gen/schemas/acl-manifests.json
  packages/zifmia/src-tauri/gen/schemas/capabilities.json
  packages/zifmia/src-tauri/gen/schemas/desktop-schema.json
  packages/zifmia/src-tauri/gen/schemas/windows-schema.json
  packages/zifmia/src-tauri/icons/128x128.png
  packages/zifmia/src-tauri/icons/128x128@2x.png
  packages/zifmia/src-tauri/icons/32x32.png
  packages/zifmia/src-tauri/icons/icon.ico
  packages/zifmia/src-tauri/src/lib.rs
  packages/zifmia/src-tauri/src/main.rs
  packages/zifmia/src-tauri/tauri.conf.json
  packages/zifmia/src/runner/StoryLibrary.tsx
  packages/zifmia/src/runner/runner-entry.tsx
  packages/zifmia/src/storage/index.ts
  packages/zifmia/src/storage/tauri-storage-provider.ts
Due: eslint --fix, prettier --write

docs: rewrite website documentation to match actual Sharpee APIs
  website/astro.config.mjs
  website/scripts/extract-patterns.mjs
  website/src/content/docs/author-guide/creating-stories.md
  website/src/content/docs/author-guide/npcs.md
  website/src/content/docs/author-guide/objects.md
  website/src/content/docs/author-guide/rooms.md
  website/src/content/docs/developer-guide/build-system.md
  website/src/content/docs/developer-guide/project-structure.md
  website/src/content/docs/getting-started/installation.md
  website/src/content/docs/getting-started/quick-start.md
  website/src/content/docs/tutorials/cloak-of-darkness.md
  website/src/data/patterns.json
  website/src/pages/design-patterns/index.astro
Due: prettier --write

docs: fix getting-started pages to use actual entity/trait APIs
  website/src/content/docs/getting-started/installation.md
  website/src/content/docs/getting-started/quick-start.md
Due: prettier --write

fix: load D3 dynamically to avoid Astro script processing issue
  website/src/pages/design-patterns/index.astro
Due: none

feat: tabbed design patterns page with catalog and graph views
  website/src/pages/design-patterns/index.astro
Due: none

fix: set graph node label fill directly on SVG elements
  website/src/pages/design-patterns/index.astro
Due: none

docs: add API Reference section with traits, actions, and grammar pages
  website/astro.config.mjs
  website/src/content/docs/api-reference/actions.md
  website/src/content/docs/api-reference/grammar.md
  website/src/content/docs/api-reference/traits.md
Due: prettier --write

fix: use .hasTrait() in grammar example instead of fictional .where()
  website/src/content/docs/api-reference/grammar.md
Due: prettier --write

docs: add behavior methods to traits reference page
  website/src/content/docs/api-reference/traits.md
Due: prettier --write

feat: reorganize website with content-first landing, card-based patterns
  website/astro.config.mjs
  website/src/content/docs/index.md
  website/src/pages/design-patterns/index.astro
Due: prettier --write

feat: category-based pattern IDs, drill-down UI, fix landing redirect
  website/src/content/docs/index.md
  website/src/data/patterns.json
  website/src/pages/design-patterns/index.astro
Due: prettier --write

fix: add is:global to design patterns styles for JS-generated DOM
  website/src/pages/design-patterns/index.astro
Due: none

feat: Zifmia illustration rendering and build system cleanup
  CLAUDE.md
  build.sh
  docs/context/.work-log.txt
  docs/context/session-20260131-0437-main.md
  packages/client-react/src/components/GameShell.tsx
  packages/client-react/src/components/index.ts
  packages/client-react/src/hooks/index.ts
  packages/client-react/src/index.ts
  packages/zifmia/package.json
  packages/zifmia/src/components/transcript/Transcript.tsx
  packages/zifmia/src/context/GameContext.tsx
  packages/zifmia/src/context/index.ts
  packages/zifmia/src/runner/index.tsx
  packages/zifmia/src/styles/themes.css
  packages/zifmia/src/types/game-state.ts
  packages/zifmia/src/version.ts
  stories/dungeo/src/react-entry.tsx
  stories/dungeo/src/version.ts
Due: eslint --fix, prettier --write

feat: story CSS scoping and illustration player preferences (ADR-124 phases 5-6)
  docs/context/.work-log.txt
  packages/zifmia/src/components/GameShell.tsx
  packages/zifmia/src/components/menu/MenuBar.tsx
  packages/zifmia/src/components/transcript/Transcript.tsx
  packages/zifmia/src/hooks/index.ts
  packages/zifmia/src/hooks/usePreferences.ts
  packages/zifmia/src/runner/index.tsx
  packages/zifmia/src/styles/themes.css
  packages/zifmia/src/utils/scope-css.ts
Due: eslint --fix, prettier --write

docs: add session summary for ADR-124 phases 5-6
  docs/context/session-20260131-0458-main.md
Due: prettier --write

feat: Zifmia runner UI polish - save/restore, fonts, autosave, icons
  build.sh
  docs/context/.work-log.txt
  packages/zifmia/src-tauri/icons/128x128.png
  packages/zifmia/src-tauri/icons/128x128@2x.png
  packages/zifmia/src-tauri/icons/32x32.png
  packages/zifmia/src-tauri/icons/icon.ico
  packages/zifmia/src-tauri/icons/icon.png
  packages/zifmia/src-tauri/src/lib.rs
  packages/zifmia/src-tauri/tauri.conf.json
  packages/zifmia/src/components/GameShell.tsx
  packages/zifmia/src/components/menu/MenuBar.tsx
  packages/zifmia/src/components/transcript/Transcript.tsx
  packages/zifmia/src/context/GameContext.tsx
  packages/zifmia/src/hooks/index.ts
  packages/zifmia/src/hooks/usePreferences.ts
  packages/zifmia/src/runner/RestoreDialog.tsx
  packages/zifmia/src/runner/SaveDialog.tsx
  packages/zifmia/src/runner/StoryLibrary.tsx
  packages/zifmia/src/runner/index.tsx
  packages/zifmia/src/runner/runner-entry.tsx
  packages/zifmia/src/styles/themes.css
  packages/zifmia/src/types/game-state.ts
  packages/zifmia/src/version.ts
  stories/dungeo/package.json
  stories/dungeo/src/version.ts
Due: eslint --fix, prettier --write

docs: add session summary for Zifmia UI polish work
  docs/context/session-20260131-1742-main.md
Due: prettier --write

feat: rebrand Tauri app to Zifmia with new icon and CSP fix
  docs/context/.work-log.txt
  docs/context/session-20260131-0458-main.md
  docs/context/session-20260131-2026-main.md
  packages/zifmia/src-tauri/Cargo.toml
  packages/zifmia/src-tauri/icons/128x128.png
  packages/zifmia/src-tauri/icons/128x128@2x.png
  packages/zifmia/src-tauri/icons/32x32.png
  packages/zifmia/src-tauri/icons/icon.ico
  packages/zifmia/src-tauri/icons/icon.png
  packages/zifmia/src-tauri/src/main.rs
  packages/zifmia/src-tauri/tauri.conf.json
  packages/zifmia/src/version.ts
  stories/dungeo/src/version.ts
Due: eslint --fix, prettier --write

feat: add connectRooms and createDoor convenience methods to WorldModel
  docs/context/session-20260131-0415-main.md
  docs/context/session-20260131-2144-main.md
  docs/work/platform/helpers.md
  packages/world-model/src/world/WorldModel.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md})
