Repository ChicagoDave/sharpee: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

revert: remove ADR-143 direction vocabulary system
  docs/architecture/adrs/adr-143-naval-compass-directions.md
  docs/guides/direction-vocabularies.md
  packages/engine/src/game-engine.ts
  packages/if-domain/src/grammar/grammar-builder.ts
  packages/if-domain/src/grammar/grammar-engine.ts
  packages/parser-en-us/src/direction-mappings.ts
  packages/parser-en-us/src/english-parser.ts
  packages/parser-en-us/src/grammar.ts
  packages/parser-en-us/src/parser-types.ts
  packages/parser-en-us/tests/direction-vocabulary.test.ts
  packages/sharpee/docs/genai-api/if-domain.md
  packages/sharpee/docs/genai-api/index.md
  packages/sharpee/docs/genai-api/parser.md
  packages/sharpee/docs/genai-api/world-model.md
  packages/stdlib/src/actions/base/snapshot-utils.ts
  packages/stdlib/src/actions/standard/going/going-data.ts
  packages/stdlib/src/actions/standard/going/going.ts
  packages/world-model/src/constants/directions.ts
  packages/world-model/src/world/AuthorModel.ts
  packages/world-model/src/world/WorldModel.ts
  packages/world-model/tests/unit/direction-vocabulary.test.ts
Due: eslint --fix, prettier --write

docs: session summary, naval directions story hack, ADR-143 revert plan
  checkpoints/after-leaflet.json
  docs/context/.devarch-gate
  docs/context/archive/session-20260407-0145-feature-npc-behavior-chain.md
  docs/context/session-20260409-1648-main.md
  docs/work/plan-20260409-1707.md
  docs/work/story-dir-temp.md
  stories/dungeo/src/version.ts
Due: eslint --fix, prettier --write

feat: ADR-148 concealment action design (14/14) + partial implementation
  docs/architecture/adrs/adr-148-concealment-action.md
  docs/context/session-20260409-1648-main.md
  packages/engine/src/command-executor.ts
  packages/engine/src/game-engine.ts
  packages/world-model/src/traits/concealment/concealedStateTrait.ts
  packages/world-model/src/traits/concealment/concealedVisibilityBehavior.ts
  packages/world-model/src/traits/concealment/concealmentTrait.ts
  packages/world-model/src/traits/concealment/index.ts
  packages/world-model/src/traits/implementations.ts
  packages/world-model/src/traits/index.ts
  packages/world-model/src/traits/trait-types.ts
Due: eslint --fix, prettier --write

feat: complete ADR-148 concealment implementation with full test suite
  docs/context/session-20260409-1648-main.md
  packages/character/src/index.ts
  packages/character/src/propagation/index.ts
  packages/character/src/propagation/visibility.ts
  packages/lang-en-us/src/actions/hiding.ts
  packages/lang-en-us/src/actions/index.ts
  packages/parser-en-us/src/english-parser.ts
  packages/parser-en-us/src/grammar.ts
  packages/sharpee/docs/genai-api/engine.md
  packages/sharpee/docs/genai-api/index.md
  packages/sharpee/docs/genai-api/lang.md
  packages/sharpee/docs/genai-api/stdlib.md
  packages/sharpee/docs/genai-api/world-model.md
  packages/stdlib/src/actions/constants.ts
  packages/stdlib/src/actions/standard/hiding/concealment-break.ts
  packages/stdlib/src/actions/standard/hiding/hiding-events.ts
  packages/stdlib/src/actions/standard/hiding/hiding.ts
  packages/stdlib/src/actions/standard/hiding/index.ts
  packages/stdlib/src/actions/standard/hiding/revealing.ts
  packages/stdlib/src/actions/standard/index.ts
  packages/stdlib/tests/unit/actions/hiding-golden.test.ts
  packages/world-model/src/index.ts
  stories/concealment-test/package.json
  stories/concealment-test/src/index.ts
  stories/concealment-test/tests/transcripts/concealment.transcript
  stories/concealment-test/tsconfig.json
  stories/dungeo/src/version.ts
Due: eslint --fix, prettier --write

ci: expand CI coverage with typecheck and 11-package test step
  .devarch
  .github/workflows/beta-release.yml
  .github/workflows/build-platforms.yml
  CLAUDE.md
  docs/context/.devarch-gate
  docs/context/archive/session-20260407-2121-feature-npc-behavior-chain.md
  docs/context/project-profile.md
  docs/context/session-20260411-1516-main.md
  packages/sharpee/docs/genai-api/index.md
  stories/dungeo/src/version.ts
Due: eslint --fix, prettier --write

chore: remove unused lerna dependency
  lerna.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

docs: update CONTRIBUTING.md and README for current project state
  CONTRIBUTING.md
  README.md
  docs/context/session-20260411-1516-main.md
Due: prettier --write

docs: migrate local issue tracking to GitHub Issues #77-#89
  docs/context/session-20260411-1516-main.md
  docs/work/issues/issues-list-04.md
Due: prettier --write

fix: remove dead jest test script from if-services package
  packages/if-services/package.json
Due: prettier --write

fix: remove dead test scripts from text-service and transcript-tester
  packages/text-service/package.json
  packages/transcript-tester/package.json
Due: prettier --write

test: add comprehensive test coverage for @sharpee/text-service (closes #91)
  docs/context/archive/session-20260409-0132-feature-npc-behavior-chain.md
  docs/context/session-20260411-1738-issue-91-text-service-tests.md
  docs/work/text-service-tests/plan-20260411-text-service-tests.md
  packages/text-service/package.json
  packages/text-service/tests/cli-renderer.test.ts
  packages/text-service/tests/decoration-parser.test.ts
  packages/text-service/tests/handlers/about.test.ts
  packages/text-service/tests/handlers/game.test.ts
  packages/text-service/tests/handlers/generic.test.ts
  packages/text-service/tests/handlers/help.test.ts
  packages/text-service/tests/handlers/revealed.test.ts
  packages/text-service/tests/handlers/room.test.ts
  packages/text-service/tests/handlers/test-helpers.ts
  packages/text-service/tests/stages/assemble.test.ts
  packages/text-service/tests/stages/filter.test.ts
  packages/text-service/tests/stages/sort.test.ts
  packages/text-service/tests/text-service.test.ts
Due: eslint --fix, prettier --write

fix: resolve CI failures and SonarCloud warnings in text-service tests
  packages/text-service/tests/decoration-parser.test.ts
  packages/text-service/tests/handlers/test-helpers.ts
  packages/text-service/tests/stages/sort.test.ts
  packages/text-service/tests/text-service.test.ts
  packages/text-service/vitest.config.ts
Due: eslint --fix, prettier --write

fix: address remaining SonarCloud warnings in text-service tests
  packages/text-service/tests/handlers/test-helpers.ts
  packages/text-service/tests/text-service.test.ts
  packages/text-service/vitest.config.ts
Due: eslint --fix, prettier --write

fix: replace Math.random() with deterministic counter in test event IDs
  packages/text-service/tests/stages/sort.test.ts
  packages/text-service/tests/text-service.test.ts
Due: eslint --fix, prettier --write

fix: narrow param types explicitly to satisfy SonarCloud stringification check
  packages/text-service/tests/handlers/test-helpers.ts
  packages/text-service/tests/text-service.test.ts
Due: eslint --fix, prettier --write

refactor: consolidate test helpers to reduce duplication
  packages/text-service/tests/handlers/about.test.ts
  packages/text-service/tests/handlers/game.test.ts
  packages/text-service/tests/handlers/generic.test.ts
  packages/text-service/tests/handlers/help.test.ts
  packages/text-service/tests/handlers/revealed.test.ts
  packages/text-service/tests/handlers/room.test.ts
  packages/text-service/tests/test-helpers.ts
  packages/text-service/tests/text-service.test.ts
Due: eslint --fix, prettier --write

refactor: reduce test duplication to satisfy SonarCloud threshold
  packages/text-service/tests/cli-renderer.test.ts
  packages/text-service/tests/decoration-parser.test.ts
  packages/text-service/tests/stages/sort.test.ts
  packages/text-service/tests/test-helpers.ts
Due: eslint --fix, prettier --write

chore: exclude tests from SonarCloud duplication analysis
  sonar-project.properties
Due: none

docs: fix stale website content against current codebase
  docs/context/archive/session-20260409-0258-main.md
  docs/context/session-20260411-1949-main.md
  website/src/data/news.json
  website/src/pages/docs/api-reference/grammar.mdx
  website/src/pages/docs/author-guide/objects.mdx
  website/src/pages/docs/getting-started/installation.mdx
Due: prettier --write

docs: remove stale ADR-143 news item and update project structure doc
  docs/context/archive/session-20260411-1738-issue-91-text-service-tests.md
  docs/context/session-20260412-0205-main.md
  website/src/data/news.json
  website/src/pages/docs/developer-guide/project-structure.mdx
Due: prettier --write

chore: move entropy.zip to ifstories repo
  stories/entropy.zip
Due: none

feat: new static website and brainstorm docs
  docs/brainstorm/website-mockup-refined.html
  docs/brainstorm/website-mockup.html
  docs/brainstorm/website-redesign.md
  packages/sharpee/docs/genai-api/README.md
  site/cloak-of-darkness.html
  site/community.html
  site/family-zoo.html
  site/getting-started.html
  site/index.html
  site/news.html
  site/style.css
  site/theme.js
Due: prettier --write

ci: add GitHub Pages deployment workflow and CNAME
  .github/workflows/pages.yml
  site/CNAME
Due: none

ci: fix Pages workflow enablement and trigger paths
  .github/workflows/pages.yml
Due: none

ci: add manual trigger for Pages workflow
  .github/workflows/pages.yml
Due: none

feat: add Sharpee title to sidebar
  site/cloak-of-darkness.html
  site/community.html
  site/family-zoo.html
  site/getting-started.html
  site/index.html
  site/news.html
  site/style.css
Due: none

feat: add Cloak of Darkness and Family Zoo tutorial content
  site/cloak-of-darkness.html
  site/family-zoo.html
  site/style.css
Due: none

fix: prevent content from pushing sidebar off-screen
  site/style.css
Due: none

refactor: extract sidebar and footer into shared components.js
  site/cloak-of-darkness.html
  site/community.html
  site/components.js
  site/family-zoo.html
  site/getting-started.html
  site/index.html
  site/news.html
Due: none

feat: Family Zoo tutorial with 17-page step-through layout
  site/components.js
  site/family-zoo.html
  site/style.css
  site/zoo-01.html
  site/zoo-02.html
  site/zoo-03.html
  site/zoo-04.html
  site/zoo-05.html
  site/zoo-06.html
  site/zoo-07.html
  site/zoo-08.html
  site/zoo-09.html
  site/zoo-10.html
  site/zoo-11.html
  site/zoo-12.html
  site/zoo-13.html
  site/zoo-14.html
  site/zoo-15.html
  site/zoo-16.html
Due: none

feat: add step 17 (multi-file organization) and fix missing Code sections
  site/components.js
  site/family-zoo.html
  site/zoo-11.html
  site/zoo-12.html
  site/zoo-13.html
  site/zoo-14.html
  site/zoo-15.html
  site/zoo-16.html
  site/zoo-17.html
Due: none

docs: add session summary for website redesign session
  docs/context/archive/session-20260409-1648-main.md
  docs/context/session-20260411-2120-main.md
Due: prettier --write

docs: VS Code extension proposal with tiered feature options
  docs/work/vscodeext/proposal.md
Due: prettier --write

feat: add Sharpee VS Code extension (Tier 1) with all 4 phases
  docs/context/archive/session-20260411-1516-main.md
  docs/context/session-20260412-2131-main.md
  docs/work/vscodeext/plan-20260412-tier1.md
  tools/vscode-ext/.gitignore
  tools/vscode-ext/.vscodeignore
  tools/vscode-ext/language-configuration.json
  tools/vscode-ext/package-lock.json
  tools/vscode-ext/package.json
  tools/vscode-ext/snippets/sharpee-story.json
  tools/vscode-ext/src/codelens-provider.ts
  tools/vscode-ext/src/decorations.ts
  tools/vscode-ext/src/extension.ts
  tools/vscode-ext/src/new-story-wizard.ts
  tools/vscode-ext/src/test-runner.ts
  tools/vscode-ext/syntaxes/sharpee-transcript.tmLanguage.json
  tools/vscode-ext/tsconfig.json
Due: eslint --fix, prettier --write

test: add regression tests for @sharpee/media audio package
  docs/work/media-browser-tests/plan-20260412-browser-regression.md
  packages/media/package.json
  packages/media/tests/audio-registry.test.ts
  packages/media/tests/events.test.ts
  packages/media/vitest.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: wire @sharpee/media into @sharpee/sharpee exports
  packages/sharpee/package.json
  packages/sharpee/src/index.ts
  packages/sharpee/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: forward audio events from engine to browser client
  packages/platforms/browser-en-us/src/browser-client.ts
  packages/platforms/browser-en-us/src/browser-platform.ts
Due: eslint --fix, prettier --write

test: add integration tests for audio event forwarding pipeline
  packages/media/tests/audio-forwarding-pipeline.test.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md})
