Repository ChicagoDave/sharpee: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: Ubuntu Zifmia build - RGBA icons, deb target, gitignore cleanup
  .gitignore
  build-ubuntu.sh
  build.sh
  docs/context/session-20260201-0455-main.md
  packages/zifmia/src-tauri/gen/schemas/linux-schema.json
  packages/zifmia/src-tauri/icons/128x128.png
  packages/zifmia/src-tauri/icons/32x32.png
  packages/zifmia/src-tauri/tauri.conf.json
  packages/zifmia/src/version.ts
  stories/dungeo/src/version.ts
Due: eslint --fix, prettier --write

chore: version bumps (Sharpee 0.9.62, Zifmia 0.9.0) and session docs
  checkpoints/after-leaflet.json
  docs/context/.work-log.txt
  docs/context/session-20260130-1738-main.md
  docs/context/session-20260130-1807-main.md
  docs/context/session-20260130-1852-main.md
  docs/design/fonts/Enchanted Land DS D.otf
  docs/design/fonts/Enchanted Land DS glyph map.png
  docs/design/fonts/Enchanted Land DS.png
  docs/design/sharpee-logo.png
  docs/design/sharpee-thin-web.png
  docs/design/zifmia-landing-page.png
  docs/design/zifmia-launcher.png
  packages/core/package.json
  packages/engine/package.json
  packages/event-processor/package.json
  packages/extensions/testing/package.json
  packages/if-domain/package.json
  packages/if-services/package.json
  packages/lang-en-us/package.json
  packages/parser-en-us/package.json
  packages/platform-browser/package.json
  packages/plugin-npc/package.json
  packages/plugin-scheduler/package.json
  packages/plugin-state-machine/package.json
  packages/plugins/package.json
  packages/sharpee/package.json
  packages/stdlib/package.json
  packages/text-blocks/package.json
  packages/text-service/package.json
  packages/transcript-tester/package.json
  packages/world-model/package.json
  packages/zifmia/package.json
  packages/zifmia/src-tauri/Cargo.toml
  packages/zifmia/src-tauri/tauri.conf.json
  packages/zifmia/src/version.ts
  scripts/npm-latest.sh
  stories/dungeo/src/version.ts
Due: eslint --fix, prettier --write

feat: Sharpee website favicon and Zifmia build targets
  docs/context/.work-log.txt
  docs/design/sharpee-favicon-128.png
  docs/design/sharpee-favicon-32.png
  packages/zifmia/src-tauri/tauri.conf.json
  website/public/favicon.ico
  website/public/favicon.png
  website/public/favicon.svg
Due: prettier --write

fix: broken next steps links in website docs
  website/src/pages/docs/api-reference/actions.mdx
  website/src/pages/docs/getting-started/installation.mdx
  website/src/pages/docs/getting-started/quick-start.mdx
  website/src/pages/docs/tutorials/cloak-of-darkness.mdx
Due: none

feat: add `sharpee build` CLI command for story authors
  docs/context/.work-log.txt
  packages/sharpee/package.json
  packages/sharpee/src/cli/build.ts
  packages/sharpee/src/cli/index.ts
  pnpm-lock.yaml
  website/src/pages/docs/getting-started/installation.mdx
  website/src/pages/docs/getting-started/quick-start.mdx
Due: eslint --fix, prettier --write

docs: session summary and simplify browser testing instructions
  docs/context/.work-log.txt
  docs/context/session-20260201-0530-main.md
  website/src/pages/docs/getting-started/quick-start.mdx
Due: prettier --write

fix: add copyright and license to website footer
  website/src/layouts/BaseLayout.astro
Due: none

docs: update session summary
  docs/context/.work-log.txt
  docs/context/session-20260201-0530-main.md
Due: prettier --write

feat: add GitHub repo link to website nav
  website/src/layouts/BaseLayout.astro
Due: none

docs: rewrite README for npm-first workflow
  README.md
Due: prettier --write

fix: cache-bust favicon to replace old Astro icon
  website/src/layouts/BaseLayout.astro
Due: none

fix: bundle resolution using stale dist-npm/ instead of dist/
  build.sh
  docs/context/session-20260201-1830-main.md
  docs/work/issues/issues-list-02.md
  packages/stdlib/src/actions/standard/taking/taking.ts
  stories/dungeo/src/index.ts
  stories/dungeo/src/traits/index.ts
  stories/dungeo/src/traits/troll-axe-behaviors.ts
  stories/dungeo/src/traits/troll-axe-trait.ts
  stories/dungeo/src/version.ts
Due: eslint --fix, prettier --write

fix: build system fixes and dist/ reorganization
  CLAUDE.md
  README.md
  build.sh
  docs/architecture/adrs/adr-105-javascript-browser-client.md
  docs/architecture/review/architecture-review.md
  docs/context/.work-log.txt
  docs/context/session-20260202-0207-main.md
  docs/guides/build-system.md
  docs/guides/project-structure.md
  docs/testing/tr-002-comparison.md
  docs/work/build/multi-target-build-tool.md
  docs/work/dungeo/handler-to-behavior-migration.md
  docs/work/issues/issues-list-02.md
  docs/work/platform/about-help.md
  docs/work/platform/undo-daemon-work.md
  docs/work/zifmia/phase-2.md
  packages/map-editor/electron/main.ts
  packages/platforms/browser-en-us/src/version.ts
  packages/transcript-tester/src/fast-cli.ts
  scripts/bundle-entry.js
  scripts/fast-transcript-test.sh
  scripts/play-dungeo.sh
  scripts/use-bundle.js
  stories/armoured/README.md
  stories/dungeo/src/version.ts
  stories/dungeo/test-blocking.js
  stories/dungeo/tests/transcripts/help-about.transcript
  website/public/games/dungeo/dungeo.js
  website/src/pages/docs/developer-guide/build-system.mdx
  website/src/pages/docs/developer-guide/project-structure.mdx
  website/src/pages/docs/tutorials/cloak-of-darkness.mdx
Due: eslint --fix, prettier --write

fix: version bump to 0.9.70-beta, package.json export fixes, workspace cleanup
  docs/context/.work-log.txt
  docs/context/session-20260202-0341-main.md
  packages/core/package.json
  packages/engine/package.json
  packages/event-processor/package.json
  packages/extensions/testing/package.json
  packages/if-domain/package.json
  packages/if-services/package.json
  packages/lang-en-us/package.json
  packages/parser-en-us/package.json
  packages/platform-browser/package.json
  packages/plugin-npc/package.json
  packages/plugin-scheduler/package.json
  packages/plugin-state-machine/package.json
  packages/plugins/package.json
  packages/sharpee/package.json
  packages/stdlib/package.json
  packages/text-blocks/package.json
  packages/text-service/package.json
  packages/transcript-tester/package.json
  packages/world-model/package.json
  packages/world-model/src/world/AuthorModel.ts
  packages/zifmia/package.json
  pnpm-workspace.yaml
  scripts/publish-npm.sh
  stories/dungeo/package.json
  ts-forge.config.json
Due: eslint --fix, prettier --write

feat: add macOS build support with release scripts and build fixes
  build-macos.sh
  build.sh
  docs/context/.work-log.txt
  packages/platform-browser/package.json
  packages/ts-forge.config.json
  packages/zifmia/src-tauri/icons/128x128.png
  packages/zifmia/src-tauri/icons/128x128@2x.png
  packages/zifmia/src-tauri/icons/32x32.png
  packages/zifmia/src-tauri/icons/icon.png
  scripts/mac-release.sh
  stories/dungeo/src/version.ts
  ts-forge.config.json
Due: eslint --fix, prettier --write

chore: update work log
  docs/context/.work-log.txt
Due: none

fix: update story index.ts template to match current Story interface
  docs/context/.work-log.txt
  packages/sharpee/templates/story/index.ts.template
  ts-forge.config.json
Due: prettier --write

fix: browser-entry template import extension, gitignore work log
  .gitignore
  docs/context/.work-log.txt
  docs/context/session-20260202-2050-main.md
  packages/sharpee/templates/browser/browser-entry.ts.template
  packages/sharpee/ts-forge.json
Due: prettier --write

chore: bump version to 0.9.84, fix CLI template paths
  packages/core/package.json
  packages/engine/package.json
  packages/event-processor/package.json
  packages/extensions/conversation/package.json
  packages/extensions/testing/package.json
  packages/if-domain/package.json
  packages/if-services/package.json
  packages/lang-en-us/package.json
  packages/map-editor/package.json
  packages/parser-en-us/package.json
  packages/platform-browser/package.json
  packages/platforms/browser-en-us/package.json
  packages/platforms/cli-en-us/package.json
  packages/platforms/test/package.json
  packages/plugin-npc/package.json
  packages/plugin-scheduler/package.json
  packages/plugin-state-machine/package.json
  packages/plugins/package.json
  packages/sharpee/package.json
  packages/sharpee/src/cli/build-browser.ts
  packages/sharpee/src/cli/init-browser.ts
  packages/sharpee/src/cli/init.ts
  packages/sharpee/ts-forge.json
  packages/stdlib/package.json
  packages/text-blocks/package.json
  packages/text-service/package.json
  packages/transcript-tester/package.json
  packages/world-model/package.json
  packages/zifmia/package.json
  stories/armoured/package.json
  stories/cloak-of-darkness/package.json
  stories/dungeo/package.json
  stories/reflections/package.json
  stories/secretletter2025/package.json
  ts-forge.config.json
Due: eslint --fix, prettier --write

fix: build.sh fresh clone support and --skip reliability
  build.sh
Due: none

fix: add esbuild aliases for Zifmia runner ESM builds
  build.sh
  docs/context/session-20260203-0922-main.md
Due: prettier --write

docs: add architecture diagrams and mermaid config
  docs/architecture/diagram-only.mmd
  docs/architecture/diagram-simplified.mmd
  docs/architecture/puppeteer-config.json
  docs/context/session-20260203-2256-main.md
  packages/platforms/browser-en-us/src/version.ts
  packages/zifmia/src/version.ts
  stories/dungeo/src/version.ts
Due: eslint --fix, prettier --write

docs: update README to 0.9.85 with helpers and npx capabilities
  README.md
Due: prettier --write

docs: update guides to current architecture patterns
  docs/context/session-20260204-0118-main.md
  docs/guides/build-system.md
  docs/guides/creating-stories.md
  docs/guides/event-handlers.md
  docs/guides/project-structure.md
Due: prettier --write

chore: update issues list, bump Zifmia to 0.9.86, fix Tauri build
  docs/context/session-20260204-0307-main.md
  docs/work/issues/issues-list-02.md
  packages/zifmia/package.json
  packages/zifmia/src-tauri/Cargo.toml
  packages/zifmia/src-tauri/tauri.conf.json
Due: prettier --write

chore: close issues-list-02, create issues-list-03 with 4 open issues
  docs/work/issues/issues-list-02.md
  docs/work/issues/issues-list-03.md
Due: prettier --write

docs: clarify ISSUE-048 - Zifmia out of sync with platform
  docs/work/issues/issues-list-03.md
Due: prettier --write

feat: add statue dig puzzle to wt-07, close ISSUE-031 (UNDO working)
  docs/context/session-20260206-1435-main.md
  docs/work/issues/issues-list-03.md
  stories/dungeo/walkthroughs/wt-07-river-rainbow.transcript
Due: prettier --write

feat: add wt-08 egg walkthrough, tea room plan, fix wt-07 bugs
  docs/context/session-20260206-1530-main.md
  docs/work/dungeo/tea-room-plan.md
  stories/dungeo/walkthroughs/wt-07-river-rainbow.transcript
  stories/dungeo/walkthroughs/wt-08-egg-tree.transcript
Due: prettier --write

feat: implement tea room phase 1 structure + phase 2 cake handler
  docs/context/session-20260206-1554-main.md
  stories/dungeo/src/handlers/cake-handler.ts
  stories/dungeo/src/handlers/index.ts
  stories/dungeo/src/messages/object-messages.ts
  stories/dungeo/src/orchestration/scheduler-setup.ts
  stories/dungeo/src/regions/dam.ts
  stories/dungeo/src/regions/maze.ts
  stories/dungeo/src/regions/well-room.ts
  stories/dungeo/tests/transcripts/cake-mechanics.transcript
Due: eslint --fix, prettier --write

fix: add eating/drinking grammar patterns, filter concealed items from scope
  docs/context/session-20260206-1900-main.md
  docs/work/dungeo/eat-me-cake-assessment.md
  packages/parser-en-us/src/grammar.ts
  packages/sharpee/package.json
  packages/stdlib/src/scope/scope-resolver.ts
  packages/zifmia/src/version.ts
  stories/dungeo/package.json
  stories/dungeo/src/version.ts
Due: eslint --fix, prettier --write

feat: implement cage/sphere puzzle (phase 3) + phase 2 bug fixes
  docs/context/session-20260206-1900-main.md
  docs/context/session-20260206-2107-main.md
  docs/context/session-20260207-0800-main.md
  packages/stdlib/src/actions/standard/going/going.ts
  packages/stdlib/src/validation/command-validator.ts
  packages/world-model/src/world/VisibilityBehavior.ts
  stories/dungeo/src/actions/commanding/commanding-action.ts
  stories/dungeo/src/handlers/cake-handler.ts
  stories/dungeo/src/index.ts
  stories/dungeo/src/interceptors/sphere-taking-interceptor.ts
  stories/dungeo/src/messages/npc-messages.ts
  stories/dungeo/src/messages/puzzle-messages.ts
  stories/dungeo/src/npcs/robot/robot-messages.ts
  stories/dungeo/src/orchestration/index.ts
  stories/dungeo/src/orchestration/scheduler-setup.ts
  stories/dungeo/src/regions/well-room.ts
  stories/dungeo/src/scheduler/cage-poison-daemon.ts
  stories/dungeo/src/scheduler/index.ts
  stories/dungeo/src/traits/index.ts
  stories/dungeo/src/traits/sphere-trait.ts
  stories/dungeo/src/version.ts
  stories/dungeo/tests/transcripts/eat-cake-quick.transcript
Due: eslint --fix, prettier --write

test: add cage-puzzle transcript, mark phase 3 complete
  docs/work/dungeo/tea-room-plan.md
  stories/dungeo/src/version.ts
  stories/dungeo/tests/transcripts/cage-puzzle.transcript
Due: eslint --fix, prettier --write

docs: add session summary for phase 3 build/test validation
  docs/context/session-20260206-2129-main.md
Due: prettier --write

feat: implement Low Room carousel (phase 4) - exit randomization + button fix
  docs/context/session-20260207-0100-main.md
  docs/work/dungeo/tea-room-plan.md
  stories/dungeo/src/handlers/carousel-handler.ts
  stories/dungeo/src/handlers/index.ts
  stories/dungeo/src/messages/puzzle-messages.ts
  stories/dungeo/src/npcs/robot/robot-entity.ts
  stories/dungeo/src/orchestration/scheduler-setup.ts
  stories/dungeo/src/regions/well-room.ts
  stories/dungeo/tests/transcripts/carousel.transcript
Due: eslint --fix, prettier --write

docs: fix session summary timestamp to 1035 CST
  docs/context/session-20260207-1035-main.md
Due: prettier --write

docs: fix session timestamp to 2235 (10:35 PM CST, Feb 6)
  docs/context/session-20260206-2235-main.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md})
