Repository ChicagoDave/sharpee: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

docs: add design philosophy section to engine architecture document
  docs/architecture/sharpee-engine-and-output-ghost.md
Due: prettier --write

docs: add airlock scene design demonstrating Sharpee patterns
  docs/design/airlock-scene.md
Due: prettier --write

docs: add docking catastrophe scenario to airlock scene design
  docs/design/airlock-scene.md
Due: prettier --write

docs: rewrite docking scenario as witnessed catastrophe
  docs/design/airlock-scene.md
Due: prettier --write

chore: add entropy story archive
  stories/entropy.zip
Due: none

docs: update Entropy design — Cho 'Tak Ru as player's ship, hostile AI
  stories/entropy/design/design.md
Due: prettier --write

docs: diffusion module found at Chrysilya's home, not a facility
  stories/entropy/design/design.md
Due: prettier --write

fix: resolve blank output from capability dispatch actions (lowering/raising)
  docs/context/session-20260331-1408-main.md
  docs/context/session-20260331-1535-fix-capability-dispatch-message-keys.md
  docs/work/bug-capability-dispatch-message-keys.md
  packages/lang-en-us/src/actions/lowering.ts
  packages/lang-en-us/src/actions/raising.ts
  packages/stdlib/src/actions/capability-dispatch.ts
  packages/stdlib/src/actions/standard/lowering/lowering.ts
  packages/stdlib/src/actions/standard/raising/raising.ts
  stories/dungeo/src/traits/basket-elevator-behaviors.ts
Due: eslint --fix, prettier --write

docs: revise Entropy arc — temporal projection replaces neutral planet infiltration
  docs/context/.session-state.json
  docs/context/session-20260401-0007-main.md
  stories/entropy/design/design.md
Due: prettier --write

feat: add GamePrompt system, GDT input mode routing, and text service fallback
  checkpoints/after-leaflet.json
  docs/architecture/adrs/adr-137-input-modes.md
  docs/context/archive/session-20260328-0706-main.md
  docs/context/archive/session-20260329-1033-adr-136-context-actions.md
  docs/context/session-20260401-0010-main.md
  docs/work/plan-prompt-system.md
  packages/engine/src/game-engine.ts
  packages/engine/src/types.ts
  packages/if-domain/src/index.ts
  packages/if-domain/src/prompt.ts
  packages/lang-en-us/src/language-provider.ts
  packages/platforms/browser-en-us/src/browser-client.ts
  packages/platforms/browser-en-us/src/browser-platform.ts
  packages/platforms/cli-en-us/src/cli-input.ts
  packages/platforms/cli-en-us/src/cli-platform.ts
  packages/sharpee/docs/genai-api/engine.md
  packages/sharpee/docs/genai-api/if-domain.md
  packages/sharpee/docs/genai-api/index.md
  packages/sharpee/docs/genai-api/world-model.md
  packages/stdlib/src/actions/standard/attacking/attacking.ts
  packages/text-service/src/text-service.ts
  packages/world-model/src/world/WorldModel.ts
  packages/zifmia/src/components/transcript/CommandInput.tsx
  packages/zifmia/src/context/GameContext.tsx
  packages/zifmia/src/types/game-state.ts
  stories/dungeo/src/actions/gdt/commands/exit.ts
  stories/dungeo/src/actions/gdt/gdt-action.ts
  stories/dungeo/src/actions/gdt/gdt-command-action.ts
  stories/dungeo/src/actions/gdt/gdt-input-handler.ts
  stories/dungeo/src/actions/gdt/index.ts
  stories/dungeo/src/actions/gdt/types.ts
  stories/dungeo/src/index.ts
  stories/dungeo/src/messages/object-messages.ts
  stories/dungeo/src/version.ts
  stories/dungeo/tests/transcripts/bucket-well.transcript
  stories/dungeo/tests/transcripts/cake-mechanics.transcript
  stories/dungeo/tests/transcripts/gdt-basic.transcript
  stories/dungeo/tests/transcripts/gdt-phase2.transcript
Due: eslint --fix, prettier --write

docs: accept ADR-137 and document platform consumption pattern for GamePrompt
  docs/architecture/adrs/adr-137-input-modes.md
Due: prettier --write

feat: add "using" as synonym for "with" in instrument grammar patterns
  docs/context/archive/session-20260331-2123-main.md
  docs/context/session-20260401-1412-main.md
  packages/parser-en-us/src/grammar.ts
Due: eslint --fix, prettier --write

docs: add ADR-138 (audio system) and ADR-139 (speech accessibility)
  docs/architecture/adrs/adr-138-audio-system.md
  docs/architecture/adrs/adr-139-speech-accessibility.md
  docs/context/session-20260401-1412-main.md
Due: prettier --write

feat: add @sharpee/media types-only package (ADR-138 Phase 0)
  build.sh
  docs/context/archive/session-20260401-0007-main.md
  docs/context/session-20260401-1511-main.md
  docs/work/media/plan-20260401-media-package.md
  packages/bridge/package.json
  packages/media/package.json
  packages/media/src/audio/audio-registry.ts
  packages/media/src/audio/capabilities.ts
  packages/media/src/audio/events.ts
  packages/media/src/audio/index.ts
  packages/media/src/audio/registry-merge.ts
  packages/media/src/audio/types.ts
  packages/media/src/index.ts
  packages/media/tsconfig.json
  packages/runtime/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

docs: add audio enablement guide for @sharpee/media
  docs/context/session-20260401-1511-main.md
  docs/guides/audio-enablement.md
Due: prettier --write

fix: remove dead createEntityWithTraits method (closes #69)
  docs/api/world.html
  docs/context/session-20260403-0934-fix-remove-createEntityWithTraits.md
  docs/guides/audio-enablement-ghost.html
  docs/reference/core-concepts.md
  docs/work/ember-allergic.png
  docs/work/ember-dead-code.png
  docs/work/issues-bsky-ember-20260403.md
  packages/bridge/package.json
  packages/core/package.json
  packages/engine/package.json
  packages/engine/tests/stories/minimal-test-story.ts
  packages/event-processor/package.json
  packages/extensions/basic-combat/package.json
  packages/extensions/testing/package.json
  packages/if-domain/package.json
  packages/if-services/package.json
  packages/lang-en-us/package.json
  packages/parser-en-us/package.json
  packages/platform-browser/package.json
  packages/plugin-npc/package.json
  packages/plugin-scheduler/package.json
  packages/plugin-state-machine/package.json
  packages/plugins/package.json
  packages/runtime/package.json
  packages/sharpee/docs/genai-api/index.md
  packages/sharpee/docs/genai-api/lang.md
  packages/sharpee/docs/genai-api/world-model.md
  packages/sharpee/package.json
  packages/stdlib/package.json
  packages/text-blocks/package.json
  packages/text-service/package.json
  packages/transcript-tester/package.json
  packages/world-model/package.json
  packages/world-model/src/world/WorldModel.ts
  packages/zifmia/package.json
  stories/dungeo/src/version.ts
  stories/entropy/package.json
  ts-forge.config.json
  tutorials/familyzoo/package.json
Due: eslint --fix, prettier --write

refactor: extract ScoreLedger, WorldEventSystem, WorldSerializer from WorldModel (#70)
  docs/context/session-20260403-1030-refactor-worldmodel.md
  docs/work/worldmodel-refactor/plan-20260403-extract-subsystems.md
  packages/world-model/src/world/ScoreLedger.ts
  packages/world-model/src/world/WorldEventSystem.ts
  packages/world-model/src/world/WorldModel.ts
  packages/world-model/src/world/WorldSerializer.ts
Due: eslint --fix, prettier --write

chore: sync genai-api docs and version after merge
  packages/sharpee/docs/genai-api/index.md
  packages/sharpee/docs/genai-api/world-model.md
  stories/dungeo/src/version.ts
Due: eslint --fix, prettier --write

docs: add media merge to session summary
  docs/context/session-20260403-1030-refactor-worldmodel.md
Due: prettier --write

docs: add @sharpee/media to docs, bump versions to 0.9.102, add news items
  README.md
  docs/guides/README.md
  docs/guides/project-structure.md
  packages/bridge/package.json
  packages/core/package.json
  packages/engine/package.json
  packages/event-processor/package.json
  packages/extensions/basic-combat/package.json
  packages/extensions/testing/package.json
  packages/if-domain/package.json
  packages/if-services/package.json
  packages/lang-en-us/package.json
  packages/media/package.json
  packages/parser-en-us/package.json
  packages/platform-browser/package.json
  packages/plugin-npc/package.json
  packages/plugin-scheduler/package.json
  packages/plugin-state-machine/package.json
  packages/plugins/package.json
  packages/runtime/package.json
  packages/sharpee/docs/genai-api/index.md
  packages/sharpee/package.json
  packages/stdlib/package.json
  packages/text-blocks/package.json
  packages/text-service/package.json
  packages/transcript-tester/package.json
  packages/world-model/package.json
  packages/zifmia/package.json
  stories/dungeo/package.json
  stories/dungeo/src/version.ts
  stories/entropy/package.json
  tutorials/familyzoo/package.json
  website/src/data/news.json
Due: eslint --fix, prettier --write

fix: resolve browser client build failure by aliasing platform-browser
  build.sh
  docs/context/.session-state.json
  docs/context/archive/session-20260401-0010-main.md
  docs/context/archive/session-20260401-0713-main.md
  docs/context/archive/session-20260401-0742-main.md
  docs/context/session-20260403-1609-main.md
  packages/platforms/browser-en-us/package.json
  packages/platforms/browser-en-us/src/version.ts
  packages/sharpee/docs/genai-api/index.md
  packages/sharpee/docs/genai-api/lang.md
  stories/dungeo/src/version.ts
  website/public/web/dungeo/dungeo.js
Due: eslint --fix, prettier --write

docs: add Family Zoo tutorial to website with sidebar and index links
  docs/context/archive/session-20260401-1412-main.md
  docs/context/session-20260403-1609-main.md
  website/src/data/news.json
  website/src/layouts/DocsLayout.astro
  website/src/pages/docs/index.astro
  website/src/pages/docs/tutorials/family-zoo.mdx
Due: prettier --write

feat: add .addTrait() to all entity builders, update docs
  packages/helpers/src/builders/actor.ts
  packages/helpers/src/builders/container.ts
  packages/helpers/src/builders/door.ts
  packages/helpers/src/builders/object.ts
  packages/helpers/src/builders/room.ts
  tutorials/familyzoo/src/v17/characters.ts
  tutorials/familyzoo/src/v17/zoo-items.ts
  tutorials/familyzoo/src/v17/zoo-map.ts
  website/src/pages/docs/getting-started/installation.mdx
  website/src/pages/docs/getting-started/quick-start.mdx
  website/src/pages/docs/tutorials/family-zoo.mdx
Due: eslint --fix, prettier --write

docs: expand installation page to list all 22 published npm packages
  docs/context/session-20260403-1609-main.md
  website/src/pages/docs/getting-started/installation.mdx
Due: prettier --write

chore: bump package versions to 0.9.104 after npm publish
  packages/core/package.json
  packages/engine/package.json
  packages/event-processor/package.json
  packages/extensions/basic-combat/package.json
  packages/extensions/testing/package.json
  packages/helpers/package.json
  packages/if-domain/package.json
  packages/if-services/package.json
  packages/lang-en-us/package.json
  packages/media/package.json
  packages/parser-en-us/package.json
  packages/platform-browser/package.json
  packages/plugin-npc/package.json
  packages/plugin-scheduler/package.json
  packages/plugin-state-machine/package.json
  packages/plugins/package.json
  packages/sharpee/package.json
  packages/stdlib/package.json
  packages/text-blocks/package.json
  packages/text-service/package.json
  packages/transcript-tester/package.json
  packages/world-model/package.json
Due: prettier --write

docs: update README with helpers API, correct package count, fix dungeo points
  README.md
Due: prettier --write

docs: add character model (ADR-141), conversation system (ADR-142), and IF conversation survey
  docs/architecture/adrs/adr-141-character-model.md
  docs/architecture/adrs/adr-142-conversation-system.md
  docs/context/.session-state.json
  docs/context/session-20260403-1607-main.md
  docs/work/forge/conversation-systems-survey.md
Due: prettier --write

docs: add location-relative direction vocabularies (ADR-143)
  docs/architecture/adrs/adr-143-naval-compass-directions.md
Due: prettier --write

feat: implement location-relative direction vocabularies (ADR-143)
  docs/context/.session-state.json
  docs/work/plan-20260404-adr143-directions.md
  packages/engine/src/game-engine.ts
  packages/if-domain/src/grammar/grammar-builder.ts
  packages/if-domain/src/grammar/grammar-engine.ts
  packages/parser-en-us/src/direction-mappings.ts
  packages/parser-en-us/src/english-parser.ts
  packages/parser-en-us/src/grammar.ts
  packages/sharpee/docs/genai-api/if-domain.md
  packages/sharpee/docs/genai-api/index.md
  packages/sharpee/docs/genai-api/lang.md
  packages/sharpee/docs/genai-api/parser.md
  packages/sharpee/docs/genai-api/world-model.md
  packages/world-model/src/constants/directions.ts
  packages/world-model/src/world/AuthorModel.ts
  packages/world-model/src/world/WorldModel.ts
  stories/dungeo/src/version.ts
Due: eslint --fix, prettier --write

fix: add vocabulary display names to room snapshots and going messages
  packages/sharpee/docs/genai-api/index.md
  packages/stdlib/src/actions/base/snapshot-utils.ts
  packages/stdlib/src/actions/standard/going/going-data.ts
  stories/dungeo/src/version.ts
Due: eslint --fix, prettier --write

docs: add direction vocabularies guide, update rooms page, add news blurb
  website/src/data/news.json
  website/src/layouts/DocsLayout.astro
  website/src/pages/docs/author-guide/directions.mdx
  website/src/pages/docs/author-guide/rooms.mdx
Due: prettier --write

docs: update session summary
  docs/context/.session-state.json
  docs/context/session-20260403-1607-main.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md})
