Repository ChicagoDave/sharpee: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore(deps): bump tsf to ^1.0.3 — npm 12 pack parsing + error surfacing
  .github/workflows/publish-npm.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write

docs(publish): check off B2a and D2 — dry run clean end to end
  docs/publish/npm-ci.md
Due: prettier --write

fix(publish): add repository field to 9 packages — provenance requires it
  packages/event-processor/package.json
  packages/extensions/basic-combat/package.json
  packages/extensions/conversation/package.json
  packages/extensions/hunger/package.json
  packages/extensions/scoring/package.json
  packages/extensions/testing/package.json
  packages/if-services/package.json
  packages/platform-browser/package.json
  packages/transcript-tester/package.json
Due: prettier --write

docs(adr): ADR-267 — Chord grammar pattern constructs (ACCEPTED, all spellings ruled)
  docs/architecture/adrs/adr-267-chord-grammar-pattern-constructs.md
  docs/context/session-20260725-1900-main.md
Due: prettier --write

docs(publish): D3/D4 done — first trusted-publishing release live
  docs/publish/npm-ci.md
Due: prettier --write

docs(session): finalize 62d511 — CI publish shipped A through D4; park README follow-ups
  docs/context/session-20260725-62d511-main.md
  docs/work/readme-audit/plan.md
Due: prettier --write

docs(genai-api): regenerate for ADR-273 reachability API (canReach/getReachable)
  packages/sharpee/docs/genai-api/if-domain.md
  packages/sharpee/docs/genai-api/index.md
  packages/sharpee/docs/genai-api/stdlib.md
  packages/sharpee/docs/genai-api/world-model.md
Due: prettier --write

feat(chord): ADR-267 group 2 — or-alternation, [optional] words, greedy slot line; Chord 2.1.0
  docs/architecture/chord-grammar-changes.md
  docs/context/session-20260725-1935-main.md
  docs/reference/chord.ebnf
  docs/work/chord-grammar-constructs/plan.md
  packages/chord/src/analyzer.ts
  packages/chord/src/ast.ts
  packages/chord/src/ir.ts
  packages/chord/src/parser.ts
  packages/chord/src/version.ts
  packages/chord/tests/__snapshots__/analyzer-each-package.test.ts.snap
  packages/chord/tests/__snapshots__/analyzer-phase-b.test.ts.snap
  packages/chord/tests/__snapshots__/analyzer.test.ts.snap
  packages/chord/tests/__snapshots__/parser-each-package.test.ts.snap
  packages/chord/tests/__snapshots__/parser-phase-b.test.ts.snap
  packages/chord/tests/__snapshots__/zoo-phase-c-parse.test.ts.snap
  packages/chord/tests/language-version.test.ts
  packages/chord/tests/pattern-constructs.test.ts
  packages/story-loader/src/loader.ts
  packages/story-loader/tests/pattern-constructs-emission.test.ts
Due: eslint --fix, prettier --write

feat(chord): ADR-267 group 3 — typed slots (instrument/topic); if-domain TOPIC silent-drop fix; Chord 2.2.0
  docs/architecture/chord-grammar-changes.md
  docs/context/session-20260725-1935-main.md
  docs/reference/chord.ebnf
  docs/work/chord-grammar-constructs/plan.md
  packages/chord/src/analyzer.ts
  packages/chord/src/ast.ts
  packages/chord/src/ir.ts
  packages/chord/src/parser.ts
  packages/chord/src/version.ts
  packages/chord/tests/__snapshots__/analyzer-each-package.test.ts.snap
  packages/chord/tests/__snapshots__/analyzer-phase-b.test.ts.snap
  packages/chord/tests/__snapshots__/analyzer.test.ts.snap
  packages/chord/tests/__snapshots__/parser-each-package.test.ts.snap
  packages/chord/tests/__snapshots__/parser-phase-b.test.ts.snap
  packages/chord/tests/__snapshots__/zoo-phase-c-parse.test.ts.snap
  packages/chord/tests/language-version.test.ts
  packages/chord/tests/pattern-constructs.test.ts
  packages/if-domain/src/grammar/grammar-engine.ts
  packages/story-loader/src/loader.ts
  packages/story-loader/tests/pattern-constructs-emission.test.ts
Due: eslint --fix, prettier --write

feat(chord): ADR-267 group 4 (compile+emission) — means defaults, directions block; gap-report generator; Chord 2.3.0
  docs/architecture/chord-grammar-changes.md
  docs/context/session-20260725-1935-main.md
  docs/reference/chord.ebnf
  docs/work/chord-grammar-constructs/gap-report.md
  packages/chord/src/analyzer.ts
  packages/chord/src/ast.ts
  packages/chord/src/ir.ts
  packages/chord/src/parser.ts
  packages/chord/src/version.ts
  packages/chord/tests/__snapshots__/analyzer-each-package.test.ts.snap
  packages/chord/tests/__snapshots__/analyzer-phase-b.test.ts.snap
  packages/chord/tests/__snapshots__/analyzer.test.ts.snap
  packages/chord/tests/__snapshots__/parser-each-package.test.ts.snap
  packages/chord/tests/__snapshots__/parser-phase-b.test.ts.snap
  packages/chord/tests/__snapshots__/zoo-phase-c-parse.test.ts.snap
  packages/chord/tests/language-version.test.ts
  packages/chord/tests/pattern-constructs.test.ts
  packages/story-loader/src/loader.ts
  packages/story-loader/tests/pattern-constructs-emission.test.ts
  scripts/chord-gap-report.cjs
Due: eslint --fix, prettier --write

docs(adr): ADR-275 DRAFT — Chord dispatch entity-less commands + semantic binding; '?' ruled platform-side exception (D7 satisfied)
  docs/architecture/adrs/adr-275-chord-dispatch-semantic-commands.md
  docs/work/chord-grammar-constructs/gap-report.md
  docs/work/chord-grammar-constructs/plan.md
  scripts/chord-gap-report.cjs
Due: prettier --write

docs(adr): ADR-275 ACCEPTED — entity-less dispatch + semantic word binding, all rulings folded
  docs/architecture/adrs/adr-275-chord-dispatch-semantic-commands.md
Due: prettier --write

feat(chord): ADR-275 IMPLEMENTED — entity-less dispatch + semantic word binding; ADR-267 acceptance 8 GREEN, ADR-267 fully implemented
  docs/architecture/adrs/adr-267-chord-grammar-pattern-constructs.md
  docs/architecture/adrs/adr-275-chord-dispatch-semantic-commands.md
  docs/context/session-20260725-1935-main.md
  docs/work/chord-grammar-constructs/plan.md
  packages/chord/src/analyzer.ts
  packages/story-loader/src/runtime.ts
  packages/story-loader/tests/entityless-dispatch.test.ts
  stories/nautical/nautical.story
  stories/nautical/tests/transcripts/ship-directions.transcript
Due: eslint --fix, prettier --write

docs(context): session 52a8f4 — record Sharpee 4.0.0 / Chord 2.0.0 published, website deployed
  docs/context/session-20260726-main-52a8f4.md
Due: prettier --write

feat(chord): ADR-276 Phase 1 — composition-legality compile gates (census 9, 11-15 + discovered 17/18)
  docs/architecture/adrs/adr-258-ide-chord-authoring-environment.md
  docs/architecture/adrs/adr-276-chord-source-authoritative-errors.md
  docs/context/.current-plan
  docs/context/session-20260727-0430-main.md
  docs/work/adr-276-source-authoritative-errors/plan.md
  packages/chord/src/analyzer.ts
  packages/chord/tests/composition-legality.test.ts
  packages/chord/tests/phrasebooks.test.ts
  packages/story-loader/src/loader.ts
  packages/story-loader/tests/adr-276-backstops.test.ts
  packages/story-loader/tests/cuttable.test.ts
  packages/story-loader/tests/loader.test.ts
Due: eslint --fix, prettier --write

docs(session): hatched-story CLI hang diagnosed — stale repokit dist predates the e3ff8fb9 esbuild-external fix; engine rebuilt, bundle re-externalized, cloak+zoo cold-green
  docs/context/session-20260727-0430-main.md
Due: prettier --write

fix(repokit): two guards against the stale-engine bundle regression
  repokit
  tools/repokit/src/commands/bundle.ts
Due: eslint --fix, prettier --write

refactor(story-loader): ADR-276 Phase 2 — declarative setting-schema table (Q-3)
  docs/context/session-20260727-0430-main.md
  packages/story-loader/src/extension-registry.ts
  packages/story-loader/src/index.ts
  packages/story-loader/src/setting-schema.ts
  packages/story-loader/tests/setting-schema.test.ts
Due: eslint --fix, prettier --write

feat(chord,repokit): ADR-276 Phase 3 — locale-keyed stdlib manifest + alteration-target compile gates (census 1-2)
  docs/context/session-20260727-0430-main.md
  packages/chord/src/analyzer.ts
  packages/chord/src/index.ts
  packages/chord/src/stdlib-manifest.ts
  packages/chord/tests/alteration-targets.test.ts
  packages/chord/tests/grammar-alterations.test.ts
  packages/devkit/src/standalone/manifest-browser-parity.test.ts
  packages/story-loader/src/loader.ts
  packages/story-loader/tests/adr-276-backstops.test.ts
  packages/story-loader/tests/grammar-alterations.test.ts
  tools/repokit/src/cli.ts
  tools/repokit/src/commands/build.ts
  tools/repokit/src/commands/manifest.ts
  tools/repokit/src/commands/verify.ts
Due: eslint --fix, prettier --write

feat(chord,repokit): ADR-276 Phase 4 — grammar-shapes manifest slice + unmatched-removal-pattern gate (census 3)
  docs/context/session-20260727-0430-main.md
  packages/chord/src/analyzer.ts
  packages/chord/src/stdlib-manifest.ts
  packages/chord/tests/alteration-targets.test.ts
  packages/devkit/src/standalone/manifest-browser-parity.test.ts
  packages/story-loader/src/loader.ts
  packages/story-loader/tests/grammar-alterations.test.ts
  tools/repokit/src/commands/grammar.ts
  tools/repokit/src/commands/manifest.ts
Due: eslint --fix, prettier --write

feat(chord,repokit): ADR-276 Phase 5 — setting-schema manifest slice + value-domain gates (census 4-6)
  docs/context/session-20260727-0430-main.md
  packages/chord/src/analyzer.ts
  packages/chord/src/stdlib-manifest.ts
  packages/chord/tests/setting-domains.test.ts
  packages/devkit/src/standalone/manifest-browser-parity.test.ts
  packages/story-loader/src/loader.ts
  packages/story-loader/tests/adr-276-backstops.test.ts
  tools/repokit/src/commands/manifest.ts
Due: eslint --fix, prettier --write

feat(chord,story-loader): ADR-276 Phase 6 — hiding-position gate (census 10); census 16 found parser-gated
  docs/context/session-20260727-0430-main.md
  packages/chord/src/analyzer.ts
  packages/chord/src/stdlib-manifest.ts
  packages/chord/tests/setting-domains.test.ts
  packages/devkit/src/standalone/manifest-browser-parity.test.ts
  packages/story-loader/src/index.ts
  packages/story-loader/src/loader.ts
  packages/story-loader/src/setting-schema.ts
  packages/story-loader/tests/adr-276-backstops.test.ts
  packages/story-loader/tests/manifest-conformance.test.ts
  packages/story-loader/tests/quickwin-adjectives.test.ts
  tools/repokit/src/commands/manifest.ts
Due: eslint --fix, prettier --write

feat(devkit): ADR-276 Phase 7 — hatch lint joins the one diagnostics stream (D4)
  docs/context/session-20260727-0800-adr-276-p1.md
  docs/work/adr-276-source-authoritative-errors/plan.md
  packages/devkit/src/commands/compose.ts
  packages/devkit/src/hatch-lint.test.ts
Due: eslint --fix, prettier --write

feat(chord,devkit,story-loader): ADR-276 Phase 8 — census re-audit; ADR IMPLEMENTED
  checkpoints/after-leaflet.json
  docs/architecture/adrs/adr-276-chord-source-authoritative-errors.md
  docs/context/session-20260727-0800-adr-276-p1.md
  docs/work/adr-276-source-authoritative-errors/plan.md
  packages/chord/tests/adr-276-acceptance.test.ts
  packages/devkit/src/standalone/manifest-browser-parity.test.ts
  packages/devkit/tests/adr-276-acceptance.test.ts
  packages/devkit/tests/fixtures/adr-276-composite.story
  packages/story-loader/src/loader.ts
Due: eslint --fix, prettier --write

docs(adr-258): Phase 1 — D5 sequencing gate open; ADR-276 Acceptance item 9 closed
  docs/architecture/adrs/adr-258-ide-chord-authoring-environment.md
  docs/context/.current-plan
  docs/work/adr-258-ide-platform/plan.md
Due: prettier --write

feat(ide-protocol,devkit): ADR-258 Phase 2 — compose --json (D5: gates + IR, no load-proof)
  docs/work/adr-258-ide-platform/plan.md
  packages/devkit/package.json
  packages/devkit/src/commands/compose.ts
  packages/devkit/tests/compose-json.test.ts
  packages/ide-protocol/src/compose-diagnostics.ts
  packages/ide-protocol/src/index.ts
  packages/ide-protocol/tests/compose-diagnostics.test.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(chord): ADR-258 Phase 3 — D7 golden lexer fixture (TS-side conformance pin)
  docs/context/session-20260727-0800-adr-276-p1.md
  docs/work/adr-258-ide-platform/plan.md
  packages/chord/package.json
  packages/chord/tests/fixtures/lexer-golden/alterations-counters.story
  packages/chord/tests/fixtures/lexer-golden/grammar-surface.story
  packages/chord/tests/fixtures/lexer-golden/lexer-golden.json
  packages/chord/tests/fixtures/lexer-golden/story-core.story
  packages/chord/tests/lexer-golden.test.ts
Due: eslint --fix, prettier --write

docs(adr-266): umbrella CLOSED — grammar-parity programme complete, all six children terminal
  docs/architecture/adrs/adr-266-grammar-definition-parity.md
  docs/architecture/adrs/adr-271-chord-grammar-compiler-pass-through.md
  docs/architecture/adrs/adr-273-grammar-scope-resolver-world-api.md
  docs/context/session-20260727-0800-adr-276-p1.md
Due: prettier --write

feat(website): nav rail shows released versions — Chord (2.1.0), Sharpee (4.1.0)
  website/src/components/site-shell.tsx
  website/src/lib/nav.ts
Due: eslint --fix, prettier --write

docs(context): record 4.1.0/2.1.0 release shipped — npm verified, website deployed
  docs/context/session-20260727-0800-adr-276-p1.md
Due: prettier --write

fix(playground): Play uses the edited source — disable autosave in the playground
  packages/devkit/templates/browser/playground-entry.ts.template
  packages/platform-browser/src/BrowserClient.ts
Due: eslint --fix, prettier --write

release: Sharpee 4.1.1 — lockstep patch (tsf version); platform-browser autosave gate + playground autoSave:false ship in a stamped release
  checkpoints/after-leaflet.json
  packages/bootstrap/package.json
  packages/channel-service/package.json
  packages/character/package.json
  packages/chord/package.json
  packages/core/package.json
  packages/devkit/package.json
  packages/engine/package.json
  packages/event-processor/package.json
  packages/extensions/basic-combat/package.json
  packages/extensions/hunger/package.json
  packages/extensions/scoring/package.json
  packages/extensions/testing/package.json
  packages/helpers/package.json
  packages/ide-protocol/package.json
  packages/if-domain/package.json
  packages/if-services/package.json
  packages/lang-en-us/package.json
  packages/media/package.json
  packages/parser-en-us/package.json
  packages/platform-browser/package.json
  packages/plugin-npc/package.json
  packages/plugin-scheduler/package.json
  packages/plugin-state-machine/package.json
  packages/plugins/package.json
  packages/queries/package.json
  packages/sharpee/docs/genai-api/index.md
  packages/sharpee/package.json
  packages/stdlib/package.json
  packages/stdlib/src/actions/standard/version/engine-version.ts
  packages/story-loader/package.json
  packages/story-runtime-baseline/package.json
  packages/text-blocks/package.json
  packages/transcript-tester/package.json
  packages/world-model/package.json
  stories/dungeo/package.json
  stories/dungeo/src/version.ts
Due: eslint --fix, prettier --write

fix(website): nav Sharpee version 4.1.1 — missed in the patch-release bump
  website/src/lib/nav.ts
Due: eslint --fix, prettier --write

docs(context): record 4.1.1 patch release shipped — playground autosave fix live, nav corrected
  docs/context/session-20260727-0800-adr-276-p1.md
Due: prettier --write

feat(ide): Problems panel fed by compose --json — D3 swap row b (ADR-258 D5)
  docs/context/.current-plan
  docs/context/session-20260727-1030-main.md
  docs/work/adr-258-ide-swift/plan.md
  tools/ide/SharpeeIDE/Build/BottomPanelViewController.swift
  tools/ide/SharpeeIDE/Build/BuildController.swift
  tools/ide/SharpeeIDE/Build/BuildPanelView.swift
  tools/ide/SharpeeIDE/Build/TSCDiagnostic.swift
  tools/ide/SharpeeIDE/Compose/ComposeDiagnostics.swift
  tools/ide/SharpeeIDE/Compose/ComposeRunner.swift
  tools/ide/SharpeeIDE/Compose/ComposeScheduler.swift
  tools/ide/SharpeeIDE/Compose/ProblemsView.swift
  tools/ide/SharpeeIDE/Compose/SpanText.swift
  tools/ide/SharpeeIDE/Editor/EditorViewController.swift
  tools/ide/SharpeeIDE/Editor/SourceLocation.swift
  tools/ide/SharpeeIDE/MainWindow.swift
  tools/ide/SharpeeIDETests/ComposeDiagnosticsTests.swift
  tools/ide/SharpeeIDETests/ComposeRunnerTests.swift
  tools/ide/SharpeeIDETests/ComposeSchedulerTests.swift
  tools/ide/SharpeeIDETests/SpanTextTests.swift
  tools/ide/SharpeeIDETests/TSCDiagnosticParserTests.swift
  tools/ide/SharpeeIDETests/TestToolchain.swift
Due: prettier --write

fix(devkit): CLI exits via process.exitCode — piped compose --json no longer truncates at 64KB
  packages/devkit/src/cli.ts
  packages/devkit/tests/compose-json.test.ts
Due: eslint --fix, prettier --write

feat(ide): IR-sourced project tree with last-ok retention — D3 swap row c (ADR-258 D6)
  tools/ide/SharpeeIDE/AppDelegate.swift
  tools/ide/SharpeeIDE/Build/BuildController.swift
  tools/ide/SharpeeIDE/Compose/ComposeDiagnostics.swift
  tools/ide/SharpeeIDE/Compose/ComposeRunner.swift
  tools/ide/SharpeeIDE/Compose/IRTreeState.swift
  tools/ide/SharpeeIDE/MainWindow.swift
  tools/ide/SharpeeIDE/Project/EntitySourceIndex.swift
  tools/ide/SharpeeIDE/Project/ProjectPaneViewController.swift
  tools/ide/SharpeeIDE/Project/ProjectStructure.swift
  tools/ide/SharpeeIDE/Project/ProjectStructureViewController.swift
  tools/ide/SharpeeIDETests/ComposeDiagnosticsTests.swift
  tools/ide/SharpeeIDETests/ComposeRunnerTests.swift
  tools/ide/SharpeeIDETests/EntitySourceIndexTests.swift
  tools/ide/SharpeeIDETests/IRTreeStateTests.swift
  tools/ide/SharpeeIDETests/ProjectStructureTests.swift
Due: none

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md})
