Repository ChicagoDave/sharpee: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat(zifmia): Phase 3b — room routes (ADR-175)
  docs/context/session-20260511-0040-main.md
  docs/work/zifmia/plan-20260511-adr-175.md
  tools/zifmia/src/server/index.ts
  tools/zifmia/src/server/rooms.ts
  tools/zifmia/tests/server/rooms.test.ts
Due: eslint --fix, prettier --write

feat(zifmia): Phase 3c — stateless turn execution + AC-14 perf gate
  docs/context/archive/session-20260510-1530-zifmia-rename-and-adr-175.md
  docs/context/session-20260511-1702-main.md
  docs/work/zifmia/perf-baseline.md
  docs/work/zifmia/plan-20260511-adr-175.md
  pnpm-lock.yaml
  tools/zifmia/.gitignore
  tools/zifmia/package.json
  tools/zifmia/perf/baseline-look.ts
  tools/zifmia/src/engine/bundle-loader.ts
  tools/zifmia/src/engine/index.ts
  tools/zifmia/src/engine/turn-executor.ts
  tools/zifmia/src/engine/types.ts
  tools/zifmia/src/server/command.ts
  tools/zifmia/src/server/index.ts
  tools/zifmia/tests/engine/turn-executor.test.ts
  tools/zifmia/tests/fixtures/build-bundle.ts
  tools/zifmia/tests/fixtures/crashing-story/story.ts
  tools/zifmia/tests/fixtures/tiny-story/story.ts
  tools/zifmia/tests/server/command.test.ts
  tools/zifmia/tsconfig.perf.json
  tools/zifmia/vitest.config.ts
  ts-forge.config.json
Due: eslint --fix, prettier --write

feat(zifmia): Phase 3d — WebSocket server (ADR-175)
  docs/context/archive/session-20260510-2342-claude-md-package-split.md
  docs/context/session-20260511-1900-main.md
  docs/work/zifmia/plan-20260511-adr-175.md
  pnpm-lock.yaml
  tools/zifmia/package.json
  tools/zifmia/src/server/command.ts
  tools/zifmia/src/server/index.ts
  tools/zifmia/src/server/ws/connection.ts
  tools/zifmia/src/server/ws/index.ts
  tools/zifmia/src/server/ws/lock-registry.ts
  tools/zifmia/src/server/ws/subscription-registry.ts
  tools/zifmia/src/server/ws/types.ts
  tools/zifmia/tests/server/command-fanout.test.ts
  tools/zifmia/tests/server/ws.test.ts
Due: eslint --fix, prettier --write

feat(zifmia): Phase 3e + Phase 4 — worker pool, save lifecycle (ADR-175)
  docs/context/archive/session-20260511-0000-tsconfig-stale-references.md
  docs/context/session-20260511-1906-main.md
  docs/work/zifmia/perf-baseline.md
  docs/work/zifmia/plan-20260511-adr-175.md
  tools/zifmia/package.json
  tools/zifmia/perf/baseline-concurrent.ts
  tools/zifmia/perf/baseline-look.ts
  tools/zifmia/src/engine/index.ts
  tools/zifmia/src/engine/save-envelope.ts
  tools/zifmia/src/engine/turn-executor.ts
  tools/zifmia/src/server/command.ts
  tools/zifmia/src/server/compaction.ts
  tools/zifmia/src/server/index.ts
  tools/zifmia/src/server/restore.ts
  tools/zifmia/src/server/rooms.ts
  tools/zifmia/src/server/saves.ts
  tools/zifmia/src/server/worker-pool.ts
  tools/zifmia/src/server/ws/types.ts
  tools/zifmia/src/storage/adapter.ts
  tools/zifmia/src/storage/postgres/postgres-adapter.ts
  tools/zifmia/src/storage/sqlite/sqlite-adapter.ts
  tools/zifmia/tests/engine/save-envelope.test.ts
  tools/zifmia/tests/engine/transcript-truncation.test.ts
  tools/zifmia/tests/engine/turn-executor.test.ts
  tools/zifmia/tests/integration/crash-recovery.test.ts
  tools/zifmia/tests/server/command-concurrency.test.ts
  tools/zifmia/tests/server/compaction.test.ts
  tools/zifmia/tests/server/restore.test.ts
  tools/zifmia/tests/server/saves.test.ts
  tools/zifmia/tests/server/worker-pool.test.ts
  tools/zifmia/tests/storage/adapter-contract.ts
Due: eslint --fix, prettier --write

docs(zifmia): resolve OQ-1/3/5/6 for Phase 5
  docs/architecture/adrs/adr-175-zifmia-multiuser-product.md
  docs/context/session-20260511-1906-main.md
  docs/work/zifmia/plan-20260511-adr-175.md
Due: prettier --write

feat(zifmia): Phase 5 — admin HTTP surface (ADR-175)
  build.sh
  docs/context/archive/session-20260511-0110-main-ide.md
  docs/context/session-20260511-2357-main.md
  docs/work/zifmia/plan-20260511-adr-175.md
  packages/sharpee/src/cli/build.ts
  scripts/generate-meta.js
  tools/zifmia/src/admin-cli.ts
  tools/zifmia/src/cli.ts
  tools/zifmia/src/server/admin-audit.ts
  tools/zifmia/src/server/admin-identities.ts
  tools/zifmia/src/server/admin-middleware.ts
  tools/zifmia/src/server/admin-rooms.ts
  tools/zifmia/src/server/admin-stories.ts
  tools/zifmia/src/server/command.ts
  tools/zifmia/src/server/index.ts
  tools/zifmia/src/server/rooms.ts
  tools/zifmia/src/storage/adapter.ts
  tools/zifmia/src/storage/postgres/postgres-adapter.ts
  tools/zifmia/src/storage/sqlite/schema.ts
  tools/zifmia/src/storage/sqlite/sqlite-adapter.ts
  tools/zifmia/src/storage/types.ts
  tools/zifmia/tests/admin-cli.test.ts
  tools/zifmia/tests/fixtures/build-bundle.ts
  tools/zifmia/tests/server/admin-audit.test.ts
  tools/zifmia/tests/server/admin-identities.test.ts
  tools/zifmia/tests/server/admin-middleware.test.ts
  tools/zifmia/tests/server/admin-rooms.test.ts
  tools/zifmia/tests/server/admin-stories.test.ts
  tools/zifmia/tests/server/command.test.ts
  tools/zifmia/tests/server/rooms.test.ts
  tools/zifmia/tests/storage/adapter-contract.ts
  tools/zifmia/tests/storage/sqlite-migration.test.ts
Due: eslint --fix, prettier --write

docs(adr-176): multi-user component vocabulary addendum to ADR-170
  docs/architecture/adrs/adr-176-multiuser-component-vocabulary.md
Due: prettier --write

docs(session): record ADR-176 work in session addendum
  docs/context/session-20260511-2357-main.md
Due: prettier --write

feat(zifmia): Phase 6a — web scaffold + identity flow (ADR-175)
  docs/architecture/adrs/adr-176-multi-user-component-vocabulary.md
  docs/architecture/adrs/adr-176-multiuser-component-vocabulary.md
  docs/context/archive/session-20260511-0040-main.md
  docs/context/session-20260512-0119-main.md
  docs/work/zifmia/plan-20260512-phase-6.md
  pnpm-lock.yaml
  templates/browser/base.css
  tools/zifmia/package.json
  tools/zifmia/src/server/admin-stories.ts
  tools/zifmia/src/server/identity.ts
  tools/zifmia/src/server/index.ts
  tools/zifmia/src/server/web.ts
  tools/zifmia/tests/server/identity.test.ts
  tools/zifmia/tests/server/web.test.ts
  tools/zifmia/tests/web/identity-manager.test.ts
  tools/zifmia/tests/web/session-store.test.ts
  tools/zifmia/web/index.html
  tools/zifmia/web/src/api/http.ts
  tools/zifmia/web/src/api/identity.ts
  tools/zifmia/web/src/api/types.ts
  tools/zifmia/web/src/main.ts
  tools/zifmia/web/src/managers/identity-manager.ts
  tools/zifmia/web/src/session-store.ts
  tools/zifmia/web/tsconfig.json
  tools/zifmia/web/vite.config.ts
Due: eslint --fix, prettier --write

build(zifmia): -c zifmia builds the multi-user web app
  CLAUDE.md
  build.sh
  docs/context/session-20260512-0228-main.md
  docs/work/zifmia/plan-20260512-phase-6.md
  packages/sharpee/docs/genai-api/index.md
  scripts/mac-release.sh
Due: prettier --write

fix(themes): System 6 line-height 1.5 → 1.0 (closes #111)
  templates/browser/infocom.css
Due: none

feat(engine): wrap room name with [room:...] decoration in prose output
  docs/work/pre-line-removal/plan.md
  packages/engine/src/prose-pipeline/handlers/room.ts
  packages/engine/tests/prose-pipeline/handlers/room.test.ts
  packages/engine/tests/prose-pipeline/pipeline.test.ts
  packages/sharpee/docs/genai-api/index.md
  stories/dungeo/src/version.ts
Due: eslint --fix, prettier --write

feat(prose): remove `white-space: pre-line` from the prose pane
  packages/engine/src/prose-pipeline/assemble.ts
  packages/engine/src/prose-pipeline/handlers/about.ts
  packages/engine/src/prose-pipeline/handlers/audibility.ts
  packages/engine/src/prose-pipeline/handlers/client-query.ts
  packages/engine/src/prose-pipeline/handlers/command-failed.ts
  packages/engine/src/prose-pipeline/handlers/domain-message.ts
  packages/engine/src/prose-pipeline/handlers/game.ts
  packages/engine/src/prose-pipeline/handlers/generic.ts
  packages/engine/src/prose-pipeline/handlers/help.ts
  packages/engine/src/prose-pipeline/handlers/revealed.ts
  packages/engine/src/prose-pipeline/handlers/room.ts
  packages/engine/src/prose-pipeline/index.ts
  packages/engine/tests/prose-pipeline/handlers/about.test.ts
  packages/engine/tests/prose-pipeline/handlers/help.test.ts
  packages/if-domain/src/channels/index.ts
  packages/if-domain/src/channels/types.ts
  packages/platform-browser/src/channels/main.ts
  packages/platform-browser/src/display/TextDisplay.ts
  packages/platform-browser/tests/channels/main.test.ts
  packages/sharpee/docs/genai-api/if-domain.md
  packages/sharpee/docs/genai-api/index.md
  packages/sharpee/docs/genai-api/stdlib.md
  packages/sharpee/docs/genai-api/text.md
  packages/stdlib/src/channels/standard.ts
  packages/stdlib/tests/channels/standard.test.ts
  packages/text-blocks/src/types.ts
  scripts/bundle-entry.js
  stories/dungeo/src/version.ts
  templates/browser/base.css
Due: eslint --fix, prettier --write

feat(prose): structured banner with semantic CSS classes (closes #112)
  docs/context/archive/session-20260512-0119-main.md
  docs/context/session-20260512-1404-main.md
  packages/core/src/events/game-events.ts
  packages/engine/src/game-engine.ts
  packages/engine/src/prose-pipeline/assemble.ts
  packages/engine/src/prose-pipeline/handlers/about.ts
  packages/engine/src/prose-pipeline/handlers/banner.ts
  packages/engine/src/prose-pipeline/handlers/game.ts
  packages/engine/src/prose-pipeline/handlers/room.ts
  packages/engine/src/story.ts
  packages/engine/tests/prose-pipeline/handlers/about.test.ts
  packages/engine/tests/prose-pipeline/handlers/game.test.ts
  packages/engine/tests/prose-pipeline/pipeline.test.ts
  packages/if-domain/src/channels/types.ts
  packages/platform-browser/src/channels/main.ts
  packages/sharpee/docs/genai-api/core.md
  packages/sharpee/docs/genai-api/engine.md
  packages/sharpee/docs/genai-api/if-domain.md
  packages/sharpee/docs/genai-api/index.md
  packages/sharpee/docs/genai-api/text.md
  packages/sharpee/docs/genai-api/world-model.md
  packages/stdlib/src/actions/standard/about/about-events.ts
  packages/stdlib/src/actions/standard/about/about.ts
  packages/stdlib/src/channels/standard.ts
  packages/text-blocks/src/types.ts
  packages/world-model/src/traits/story-info/storyInfoTrait.ts
  stories/dungeo/src/index.ts
  stories/dungeo/src/messages/index.ts
  stories/dungeo/src/version.ts
  templates/browser/base.css
Due: eslint --fix, prettier --write

docs(adr-177): ACCEPTED — 6 findings resolved + prior-art section + HTML design page
  docs/architecture/adrs/adr-177-multiuser-corrected.html
  docs/architecture/adrs/adr-177-multiuser-corrected.md
  docs/context/archive/session-20260511-1906-main.md
  docs/context/session-20260512-2056-main.md
Due: prettier --write

feat(zifmia): Phase 7 exit gate — visual verification + ESM build fix + production boot
  build.sh
  docs/context/archive/session-20260512-0228-main.md
  docs/context/session-20260513-0100-main.md
  packages/platform-browser/package.json
  pnpm-lock.yaml
  tools/zifmia/package.json
  tools/zifmia/src/main.ts
  tools/zifmia/src/rooms/state-routes.ts
  tools/zifmia/src/turns/routes.ts
  tools/zifmia/src/ws/types.ts
  tools/zifmia/web/src/components/channel-renderer-host.ts
  tools/zifmia/web/src/components/room-status-bar.ts
  tools/zifmia/web/src/http-client.ts
  tools/zifmia/web/src/store/room-state.ts
  tools/zifmia/web/src/styles/main.css
  tools/zifmia/web/src/views/lobby.ts
  tools/zifmia/web/src/views/room.ts
Due: eslint --fix, prettier --write

feat(zifmia): Phase 8 — Playwright E2E covering AC-03 through AC-13
  docs/context/archive/session-20260512-0409-main.md
  docs/context/session-20260513-0754-main.md
  pnpm-lock.yaml
  tools/zifmia/package.json
  tools/zifmia/src/main.ts
  tools/zifmia/tests/e2e/ac-03-room-creation.spec.ts
  tools/zifmia/tests/e2e/ac-04-tier-gate.spec.ts
  tools/zifmia/tests/e2e/ac-05-succession.spec.ts
  tools/zifmia/tests/e2e/ac-06-transport-split.spec.ts
  tools/zifmia/tests/e2e/ac-07-stories-scan.spec.ts
  tools/zifmia/tests/e2e/ac-08-recording-notice.spec.ts
  tools/zifmia/tests/e2e/ac-09-erase-4007.spec.ts
  tools/zifmia/tests/e2e/ac-10-lock.spec.ts
  tools/zifmia/tests/e2e/ac-11-reconnect.spec.ts
  tools/zifmia/tests/e2e/ac-12-mute.spec.ts
  tools/zifmia/tests/e2e/ac-13-dm-scope.spec.ts
  tools/zifmia/tests/e2e/global-setup.ts
  tools/zifmia/tests/e2e/global-teardown.ts
  tools/zifmia/tests/e2e/helpers/api.ts
  tools/zifmia/tests/e2e/helpers/server.ts
  tools/zifmia/tests/e2e/helpers/ws.ts
  tools/zifmia/tests/e2e/playwright.config.ts
  tools/zifmia/tests/e2e/tsconfig.json
Due: eslint --fix, prettier --write

feat(zifmia): Docker image + deployment guide + ADR-178 story-runtime baseline
  .dockerignore
  docs/architecture/adrs/adr-178-story-runtime-baseline.md
  docs/context/archive/session-20260512-1404-main.md
  docs/context/session-20260513-1530-main.md
  pnpm-lock.yaml
  tools/zifmia/.env.example
  tools/zifmia/DEPLOYMENT.md
  tools/zifmia/Dockerfile
  tools/zifmia/docker-compose.yml
  tools/zifmia/package.json
Due: prettier --write

feat(adr-178): Story Runtime Baseline manifest + boot-time health filter
  .npmrc
  build.sh
  docs/architecture/adrs/adr-178-story-runtime-baseline.md
  docs/context/archive/session-20260512-2056-main.md
  docs/context/session-20260513-1711-main.md
  docs/work/adr-178/plan-20260513-baseline-manifest.md
  package.json
  packages/sharpee/src/index.ts
  packages/sharpee/tsconfig.json
  packages/story-runtime-baseline/__tests__/exports.test.ts
  packages/story-runtime-baseline/package.json
  packages/story-runtime-baseline/src/index.ts
  packages/story-runtime-baseline/tsconfig.esm.json
  packages/story-runtime-baseline/tsconfig.json
  packages/story-runtime-baseline/vitest.config.ts
  pnpm-lock.yaml
  scripts/__tests__/baseline-validation.test.ts
  scripts/validate-bundle-baseline.js
  tools/zifmia/Dockerfile
  tools/zifmia/docker-compose.yml
  tools/zifmia/package.json
  tools/zifmia/src/engine/story-health.ts
  tools/zifmia/src/server.ts
  tools/zifmia/src/stories/routes.ts
  tools/zifmia/tests/e2e/ac-baseline.spec.ts
  tools/zifmia/tests/e2e/helpers/server.ts
  tools/zifmia/tests/rooms-routes.test.ts
  tools/zifmia/tests/story-health.test.ts
  ts-forge.config.json
Due: eslint --fix, prettier --write

chore(zifmia): post-ADR-178 cleanup — test fixes, deployment doc, ADR-179
  docs/architecture/adrs/adr-179-zifmia-published-image.md
  docs/context/archive/session-20260512-2109-main.md
  docs/context/session-20260513-1741-main.md
  tools/zifmia/DEPLOYMENT.md
  tools/zifmia/tests/state-route.test.ts
  tools/zifmia/tests/web/components.test.ts
Due: eslint --fix, prettier --write

feat(adr-179): publish Zifmia to GHCR + idempotent host deploy scripts
  .github/workflows/scripts/compute-zifmia-tags.mjs
  .github/workflows/zifmia-publish.yml
  docs/context/session-20260513-1759-main.md
  tools/zifmia/DEPLOYMENT.md
  tools/zifmia/Dockerfile
  tools/zifmia/deploy-zifmia.sh
  tools/zifmia/docker-compose.build.yml
  tools/zifmia/docker-compose.yml
  tools/zifmia/package.json
  tools/zifmia/setup-zifmia-apache.sh
Due: prettier --write

chore: checkpoint WIP — unblock tsf via @davidcornelson/tsf, repo hygiene
  .dockerignore
  .gitignore
  build.sh
  docs/context/archive/session-20260513-0100-main.md
  docs/context/archive/session-20260513-0754-main.md
  docs/context/archive/session-20260513-1530-main.md
  docs/context/session-20260515-2247-main.md
  docs/context/session-20260518-0259-main.md
  package.json
  packages/character/ts-forge.json
  packages/extensions/basic-combat/ts-forge.json
  packages/extensions/testing/ts-forge.json
  packages/helpers/ts-forge.json
  packages/interpreter/ts-forge.json
  packages/platform-browser/tsconfig.esm.json
  packages/queries/ts-forge.json
  packages/text-service/ts-forge.json
  pnpm-lock.yaml
  stories/dungeo/ts-forge.json
  tools/zifmia/Dockerfile
  ts-forge.config.json
  tsconfig.base-esm.json
  tutorials/familyzoo/ts-forge.json
Due: prettier --write

Added lost context file
  docs/context/tsf-20260517-2.txt
Due: none

chore(tsf): align ts-forge.config.json with post-ADR-174 source tree
  docs/context/archive/session-20260513-1711-main.md
  docs/context/session-20260518-0259-main.md
  docs/context/session-20260518-0319-main.md
  packages/text-service/ts-forge.json
  ts-forge.config.json
Due: prettier --write

fix(build): clean scripts remove stale .tsbuildinfo to prevent silent tsc no-op
  packages/bridge/package.json
  packages/channel-service/package.json
  packages/character/package.json
  packages/core/package.json
  packages/engine/package.json
  packages/event-processor/package.json
  packages/extensions/basic-combat/package.json
  packages/extensions/conversation/package.json
  packages/extensions/testing/package.json
  packages/helpers/package.json
  packages/if-domain/package.json
  packages/if-services/package.json
  packages/interpreter/package.json
  packages/lang-en-us/package.json
  packages/media/package.json
  packages/parser-en-us/package.json
  packages/platform-browser/package.json
  packages/plugin-npc/package.json
  packages/plugin-scheduler/package.json
  packages/plugin-state-machine/package.json
  packages/plugins/package.json
  packages/queries/package.json
  packages/runtime/package.json
  packages/sharpee/package.json
  packages/stdlib/package.json
  packages/story-runtime-baseline/package.json
  packages/text-blocks/package.json
  packages/transcript-tester/package.json
  packages/world-model/package.json
Due: prettier --write

fix(build): clean scripts remove dist-esm where the build emits it
  packages/bridge/package.json
  packages/character/package.json
  packages/extensions/basic-combat/package.json
  packages/extensions/testing/package.json
  packages/helpers/package.json
  packages/interpreter/package.json
  packages/platform-browser/package.json
  packages/queries/package.json
  packages/runtime/package.json
Due: prettier --write

chore(build): align dead publish:beta script with the tsf publish flow
  package.json
Due: prettier --write

docs(session): finalize 2026-06-17 build-hygiene session summary
  docs/context/session-20260617-2108-fix-tsbuildinfo-clean-scripts.md
Due: prettier --write

chore(build): remove dead scripts/npm-latest.sh
  scripts/npm-latest.sh
Due: none

test(npm): local-build npm consumer test for familyzoo
  docs/context/session-20260617-2108-fix-tsbuildinfo-clean-scripts.md
  npm-test-familyzoo/.gitignore
  npm-test-familyzoo/README.md
  npm-test-familyzoo/gen-consumer.mjs
  npm-test-familyzoo/run.sh
  npm-test-familyzoo/tsconfig.json
Due: prettier --write

docs(adr-180): build/test devkit + @sharpee/bootstrap (PROPOSED)
  docs/architecture/adrs/adr-180-build-test-devkit.md
  docs/context/session-20260617-2108-fix-tsbuildinfo-clean-scripts.md
  docs/work/sharpee-devkit/spec-20260617-build-test-devkit.md
  docs/work/transcript-entry-support/plan-20260617-entry-header-support.md
Due: prettier --write

docs(adr-180): devkit is published + shipped via @sharpee/sharpee (correct Decision 1)
  docs/architecture/adrs/adr-180-build-test-devkit.md
  docs/context/session-20260617-2108-fix-tsbuildinfo-clean-scripts.md
  docs/work/sharpee-devkit/spec-20260617-build-test-devkit.md
Due: prettier --write

docs(adr-180): make the browser target an explicit player-facing contract
  docs/architecture/adrs/adr-180-build-test-devkit.md
  docs/work/sharpee-devkit/spec-20260617-build-test-devkit.md
Due: prettier --write

feat(adr-180): add @sharpee/bootstrap — single entry-aware story loader
  docs/architecture/adrs/adr-180-build-test-devkit.md
  packages/bootstrap/package.json
  packages/bootstrap/src/index.ts
  packages/bootstrap/tsconfig.json
Due: eslint --fix, prettier --write

feat(adr-180): route cli.ts through @sharpee/bootstrap + honor entry: header
  build.sh
  packages/bootstrap/package.json
  packages/bootstrap/src/index.ts
  packages/bootstrap/tsconfig.esm.json
  packages/transcript-tester/package.json
  packages/transcript-tester/src/cli.ts
  packages/transcript-tester/src/story-loader.ts
  packages/transcript-tester/src/types.ts
  packages/transcript-tester/tsconfig.json
  ts-forge.config.json
Due: eslint --fix, prettier --write

chore(adr-180): Phase 1 WIP checkpoint — lockfile + session addendum
  docs/context/session-20260617-2108-fix-tsbuildinfo-clean-scripts.md
  pnpm-lock.yaml
Due: prettier --write

feat(adr-180): route bundle-entry.js through bootstrap, delete dead fast-cli.ts, add resolver tests
  packages/transcript-tester/src/fast-cli.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md})
