Repository ChicagoDave/sharpee: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

docs(adr-293): Phase D/3 — retire the run-twice policy [Phase D complete]
  CLAUDE.md
  docs/context/session-20260802-1720-main.md
  docs/work/adr-293-phase-d/plan.md
Due: prettier --write

docs(adr-293): finalize session 1d3b6f summary — Phase D complete
  docs/context/session-20260802-1720-main.md
Due: prettier --write

test(ok-any): Phase 3 — fix red cli-restore fixture; file devkit debt (#218)
  docs/context/.current-plan
  docs/work/ok-any-default/plan.md
  scripts/__tests__/cli-restore.test.ts
Due: eslint --fix, prettier --write

fix(ok-any): Phase 4 — [SKIP]/[TODO] execute their command (ADR-294 D2 semantics)
  docs/context/session-20260802-1720-main.md
  docs/work/ok-any-default/plan.md
  packages/transcript-tester/src/runner.ts
  packages/transcript-tester/tests/aggregate.test.ts
  packages/transcript-tester/tests/skip-executes.test.ts
  stories/dungeo/src/version.ts
Due: eslint --fix, prettier --write

docs(ok-any): Phase 2 — ADR bookkeeping and vscode-ext grammar docs
  docs/architecture/adrs/adr-277-ide-integrated-testing.md
  docs/architecture/adrs/adr-282-play-to-test-tagging.md
  docs/architecture/adrs/adr-293-choice-points-per-point-streams.md
  docs/context/session-20260802-1720-main.md
  docs/work/ok-any-default/plan.md
  tools/vscode-ext/src/extension.ts
Due: eslint --fix, prettier --write

feat(ok-any): Phase 1 — Chord Writer recorder emits [SKIP], not removed [OK: any]
  docs/context/session-20260802-1720-main.md
  docs/work/ok-any-default/plan.md
  tools/ide/SharpeeIDE/Test/RecordingSession.swift
  tools/ide/SharpeeIDE/Test/TestPanelView.swift
  tools/ide/SharpeeIDETests/ReblessRealPathTests.swift
  tools/ide/SharpeeIDETests/ReblessTests.swift
  tools/ide/SharpeeIDETests/RecordingChainSaveTests.swift
  tools/ide/SharpeeIDETests/RecordingChainTests.swift
  tools/ide/SharpeeIDETests/RecordingSaveAsTestTests.swift
  tools/ide/SharpeeIDETests/RecordingSerializationTests.swift
  tools/ide/SharpeeIDETests/RecordingSessionTests.swift
Due: prettier --write

fix(story-loader-hosts): thread the master seed to the chord evaluator (ADR-293 D1)
  packages/bootstrap/src/index.ts
  packages/devkit/src/commands/test.test.ts
  packages/devkit/src/commands/test.ts
  packages/devkit/src/standalone/author-game.ts
  packages/sharpee/docs/genai-api/index.md
  packages/sharpee/docs/genai-api/tooling.md
  scripts/__tests__/cli-chord-seed.test.ts
  scripts/bundle-entry.js
  stories/dungeo/src/version.ts
Due: eslint --fix, prettier --write

test(fernhill): migrate all 12 transcripts off removed ADR-294 directives (#209)
  docs/context/session-20260802-1720-main.md
  stories/fernhill/tests/transcripts/cellar-dark.transcript
  stories/fernhill/tests/transcripts/compass.transcript
  stories/fernhill/tests/transcripts/dawn-lose.transcript
  stories/fernhill/tests/transcripts/fuse-lose.transcript
  stories/fernhill/tests/transcripts/fuse.transcript
  stories/fernhill/tests/transcripts/media-degrade.transcript
  stories/fernhill/tests/transcripts/npcs.transcript
  stories/fernhill/tests/transcripts/phrasebooks.transcript
  stories/fernhill/tests/transcripts/recorded.transcript
  stories/fernhill/tests/transcripts/timeline.transcript
  stories/fernhill/walkthroughs/wt-01-the-long-night.transcript
  stories/fernhill/walkthroughs/wt-02-fernhill-my-test.transcript
Due: prettier --write

test(fernhill): delete wt-02-fernhill-my-test — unchainable recorder scratch (#209)
  stories/fernhill/walkthroughs/wt-02-fernhill-my-test.transcript
Due: none

fix(transcript-tester): package CLI threads seed: headers to the engine (ADR-293 D1)
  packages/transcript-tester/src/cli.ts
  packages/transcript-tester/src/story-loader.ts
  stories/dungeo/src/version.ts
Due: eslint --fix, prettier --write

fix(devkit): repair the basic-story fixture and its test:npm gate (#218)
  docs/context/session-20260802-1720-main.md
  packages/devkit/fixtures/basic-story/package.json
  packages/devkit/fixtures/basic-story/src/index.ts
  packages/devkit/fixtures/basic-story/src/world-setup.ts
  packages/devkit/fixtures/basic-story/tests/transcripts/04-containers.transcript
  packages/devkit/fixtures/basic-story/tests/transcripts/05-light-dark.transcript
  packages/devkit/fixtures/basic-story/tests/transcripts/14-timed-events.transcript
  packages/devkit/fixtures/basic-story/tests/transcripts/16-edible.transcript
  packages/devkit/fixtures/basic-story/tests/transcripts/17-clothing.transcript
  packages/devkit/fixtures/basic-story/tests/transcripts/18-pushable.transcript
  packages/devkit/fixtures/basic-story/tests/transcripts/20-button.transcript
  packages/devkit/fixtures/basic-story/tests/transcripts/21-climbable.transcript
  packages/devkit/fixtures/basic-story/tests/transcripts/22-enterable.transcript
  packages/devkit/fixtures/basic-story/tests/transcripts/23-vehicle.transcript
  packages/devkit/fixtures/basic-story/tests/transcripts/24-door.transcript
  packages/devkit/fixtures/basic-story/tests/transcripts/25-touching.transcript
  packages/devkit/fixtures/basic-story/tests/transcripts/28-searching.transcript
  packages/devkit/fixtures/basic-story/tests/transcripts/30-giving.transcript
  packages/devkit/fixtures/basic-story/tests/transcripts/31-showing.transcript
  packages/devkit/fixtures/basic-story/tests/transcripts/32-throwing.transcript
  packages/devkit/fixtures/basic-story/tests/transcripts/33-attached.transcript
  packages/devkit/fixtures/basic-story/tests/transcripts/34-moveable-scenery.transcript
  packages/devkit/fixtures/basic-story/tests/transcripts/35-combat.transcript
  packages/devkit/fixtures/basic-story/tests/transcripts/36-breakable.transcript
  packages/devkit/fixtures/basic-story/tests/transcripts/42-perspective.transcript
  tools/repokit/src/commands/test-npm.test.ts
Due: eslint --fix, prettier --write

test(cloak): bless the bar-darkness golden gate (#210)
  packages/sharpee/docs/genai-api/index.md
  packages/sharpee/docs/genai-api/tooling.md
  stories/cloak-of-darkness/tests/transcripts/bar-darkness.golden
  stories/cloak-of-darkness/tests/transcripts/bar-darkness.transcript
Due: prettier --write

docs: session file — issue sweep (#203/#204 closed, #210 blessed, #211 evidence)
  docs/context/session-20260802-1720-main.md
Due: prettier --write

test(friendly-zoo): fix chain expectations for ADR-293 restore semantics (#211)
  docs/context/session-20260802-1720-main.md
  stories/friendly-zoo/walkthroughs/wt-02-aviary-gift-shop.transcript
  stories/friendly-zoo/walkthroughs/wt-03-petting-zoo.transcript
Due: prettier --write

docs(session): finalize 1d3b6f summary — six goals, two branches, one Xcode gate open
  docs/context/session-20260802-1720-main.md
Due: prettier --write

test(ok-any): close the parked Phase 1 Xcode gate — correct Swift expectations to empirical macOS CLI numbers
  tools/ide/SharpeeIDETests/RecordingSaveAsTestTests.swift
  tools/ide/SharpeeIDETests/TestRunnerTests.swift
Due: none

feat(adr-294): D15 channel-scoped golden recordings — AC-8 closes the core
  docs/context/archive/session-20260801-1122-adr-293-phase-a-arc.md
  docs/context/archive/session-20260801-2027-main.md
  docs/context/archive/session-20260801-2230-main.md
  docs/context/session-20260802-0157-main.md
  docs/work/adr-294-rebuild/plan.md
  packages/bootstrap/src/assemble-channels.test.ts
  packages/bootstrap/src/index.ts
  packages/sharpee/docs/genai-api/index.md
  packages/sharpee/docs/genai-api/tooling.md
  packages/transcript-tester/src/cli.ts
  packages/transcript-tester/src/golden.ts
  packages/transcript-tester/src/runner.ts
  packages/transcript-tester/src/story-loader.ts
  packages/transcript-tester/src/types.ts
  packages/transcript-tester/tests/golden-channels.test.ts
  packages/transcript-tester/tests/golden-runner.test.ts
  scripts/bundle-entry.js
  stories/dungeo/src/version.ts
Due: eslint --fix, prettier --write

docs(adr-298): resolve open questions via interview, review, accept
  docs/architecture/adrs/adr-298-story-block-metadata.md
  docs/context/archive/session-20260801-2346-main.md
  docs/context/session-20260802-2340-main.md
Due: prettier --write

docs(adr-298): 8-phase implementation plan + resolve core/publish/adr-074 decisions
  docs/architecture/adrs/adr-074-ifid-requirements.md
  docs/architecture/adrs/adr-284-chord-writer-publishing.md
  docs/architecture/adrs/adr-298-story-block-metadata.md
  docs/context/.current-plan
  docs/context/session-20260802-2340-main.md
  docs/work/adr-298-story-block/plan-20260802-adr-298.md
Due: prettier --write

test(adr-298): pre-cutover info-channel baseline golden for dungeo
  docs/work/adr-298-story-block/plan-20260802-adr-298.md
  stories/dungeo/tests/transcripts/info-channel-baseline.golden
  stories/dungeo/tests/transcripts/info-channel-baseline.transcript
Due: prettier --write

feat(adr-298): fielded story block — Chord 3.0.0 grammar, typed IR meta, header gates
  docs/architecture/adrs/adr-278-relations.md
  docs/reference/chord.ebnf
  packages/chord/src/analyzer.ts
  packages/chord/src/ast.ts
  packages/chord/src/ir.ts
  packages/chord/src/parser.ts
  packages/chord/src/version.ts
  packages/chord/tests/language-version.test.ts
  packages/chord/tests/story-block-fields.test.ts
Due: eslint --fix, prettier --write

feat(adr-298): D4-A1 amendment — Chord 3.1.0 client-config keys, devkit Phase 6, Phase 8 gates green
  docs/architecture/adrs/adr-298-story-block-metadata.md
  docs/context/session-20260803-0117-main.md
  docs/reference/chord.ebnf
  packages/chord/src/analyzer.ts
  packages/chord/src/ast.ts
  packages/chord/src/ir.ts
  packages/chord/src/parser.ts
  packages/chord/src/version.ts
  packages/chord/tests/__snapshots__/analyzer-each-package.test.ts.snap
  packages/chord/tests/__snapshots__/analyzer-phase-b.test.ts.snap
  packages/chord/tests/__snapshots__/analyzer.test.ts.snap
  packages/chord/tests/__snapshots__/parser-each-package.test.ts.snap
  packages/chord/tests/__snapshots__/parser-phase-b.test.ts.snap
  packages/chord/tests/__snapshots__/parser.test.ts.snap
  packages/chord/tests/__snapshots__/zoo-phase-c-parse.test.ts.snap
  packages/chord/tests/analyzer.test.ts
  packages/chord/tests/language-version.test.ts
  packages/chord/tests/story-block-fields.test.ts
  packages/devkit/src/commands/compose.test.ts
  packages/devkit/src/commands/test.test.ts
  packages/devkit/src/hatch-lint.test.ts
  packages/devkit/src/index.ts
  packages/devkit/src/standalone/browser-core-build.test.ts
  packages/devkit/src/standalone/browser-core.test.ts
  packages/devkit/src/standalone/browser-core.ts
  packages/devkit/src/standalone/chord-build.test.ts
  packages/devkit/src/standalone/init.ts
  packages/devkit/src/standalone/manifest-browser-parity.test.ts
  packages/devkit/templates/story-chord/story.story.template
  packages/devkit/tests/compose-json.test.ts
  packages/devkit/tests/import-fs-resolver.test.ts
  packages/devkit/tests/test-json.test.ts
  packages/sharpee/docs/genai-api/core.md
  packages/sharpee/docs/genai-api/engine.md
  packages/sharpee/docs/genai-api/index.md
  packages/sharpee/docs/genai-api/presentation.md
  packages/sharpee/docs/genai-api/stdlib.md
  packages/sharpee/docs/genai-api/tooling.md
  stories/dungeo/src/version.ts
  stories/dungeo/tests/transcripts/info-channel-baseline.golden
Due: eslint --fix, prettier --write

chore(chord): freeze language at 3.0.0; drop vestigial root npm test script
  docs/architecture/adrs/adr-257-chord-language-version.md
  docs/architecture/adrs/adr-278-relations.md
  docs/architecture/adrs/adr-298-story-block-metadata.md
  docs/context/archive/session-20260802-1504-main.md
  docs/context/session-20260803-0330-main.md
  package.json
  packages/chord/src/version.ts
  packages/chord/tests/__snapshots__/analyzer-each-package.test.ts.snap
  packages/chord/tests/__snapshots__/analyzer-phase-b.test.ts.snap
  packages/chord/tests/__snapshots__/analyzer.test.ts.snap
  packages/chord/tests/__snapshots__/zoo-phase-c-parse.test.ts.snap
  packages/chord/tests/language-version.test.ts
Due: eslint --fix, prettier --write

test(adr-293): route story-loader combat/NPC tests through EngineRandomService (D6 seam)
  docs/context/archive/session-20260802-1720-main.md
  docs/context/session-20260803-1404-main.md
  packages/story-loader/tests/npc-behaviors.test.ts
  packages/story-loader/tests/use-combat.test.ts
Due: eslint --fix, prettier --write

feat(ide): compose decoder v2, Play surface reset, ADR-299 accepted
  docs/architecture/adrs/adr-282-play-to-test-tagging.md
  docs/architecture/adrs/adr-299-play-skein-bless.md
  docs/context/.current-plan
  docs/context/archive/session-20260802-0157-main.md
  docs/context/session-20260803-1506-main.md
  docs/work/ide-adr298-compose-decoder/plan-20260803-ide-adr298-compose-decoder.md
  packages/ide-protocol/src/compose-diagnostics.ts
  packages/ide-protocol/tests/compose-diagnostics.test.ts
  tools/ide/SharpeeIDE/Compose/ChordVersionCheck.swift
  tools/ide/SharpeeIDE/Compose/ComposeDiagnostics.swift
  tools/ide/SharpeeIDE/Compose/StoryIndex.swift
  tools/ide/SharpeeIDE/MainWindow.swift
  tools/ide/SharpeeIDE/Play/PlayViewController.swift
  tools/ide/SharpeeIDE/Workspace/StoryScaffold.swift
  tools/ide/SharpeeIDETests/ComposeDiagnosticsTests.swift
  tools/ide/SharpeeIDETests/ComposeRunnerTests.swift
  tools/ide/SharpeeIDETests/ComposeSchedulerTests.swift
  tools/ide/SharpeeIDETests/IRTreeStateTests.swift
  tools/ide/SharpeeIDETests/PlaySurfaceScriptTests.swift
  tools/ide/SharpeeIDETests/ReblessRealPathTests.swift
  tools/ide/SharpeeIDETests/RecordingChainSaveTests.swift
  tools/ide/SharpeeIDETests/RecordingSaveAsTestTests.swift
  tools/ide/SharpeeIDETests/SplitDividerTests.swift
  tools/ide/SharpeeIDETests/StoryIndexTests.swift
  tools/ide/SharpeeIDETests/StoryScaffoldTests.swift
  tools/ide/SharpeeIDETests/TestRunnerTests.swift
  tools/ide/SharpeeIDETests/TestToolchain.swift
  tools/ide/SharpeeIDETests/WindowTitleTests.swift
Due: eslint --fix, prettier --write

docs(adr-299): 9-phase play-skein-bless implementation plan; reconcile ADR-298 decoder plan statuses
  docs/context/.current-plan
  docs/context/archive/session-20260802-2340-main.md
  docs/context/session-20260803-1740-main.md
  docs/work/ide-adr298-compose-decoder/plan-20260803-ide-adr298-compose-decoder.md
  docs/work/ide-adr299-play-skein-bless/plan-20260803-ide-adr299-play-skein-bless.md
Due: prettier --write

feat(adr-299): Phases 1-4 - skein model+store, play grows the skein, pinned play seed, --capture-output replay surface
  docs/context/archive/session-20260803-0117-main.md
  docs/context/session-20260803-1820-main.md
  docs/work/ide-adr299-play-skein-bless/design-20260803-replay-capture-mechanism.md
  docs/work/ide-adr299-play-skein-bless/plan-20260803-ide-adr299-play-skein-bless.md
  packages/devkit/src/commands/test.ts
  packages/devkit/src/standalone/chord-build.test.ts
  packages/devkit/templates/browser/browser-entry.ts.template
  packages/devkit/templates/browser/chord-browser-entry.ts.template
  packages/devkit/tests/test-json.test.ts
  packages/ide-protocol/src/test-results.ts
  packages/transcript-tester/src/aggregate.ts
  packages/transcript-tester/tests/aggregate.test.ts
  tools/ide/SharpeeIDE/Play/PlayHeaderView.swift
  tools/ide/SharpeeIDE/Play/PlayViewController.swift
  tools/ide/SharpeeIDE/Project/ProjectArtifacts.swift
  tools/ide/SharpeeIDE/Skein/Skein.swift
  tools/ide/SharpeeIDE/Skein/SkeinSession.swift
  tools/ide/SharpeeIDE/Skein/SkeinStore.swift
  tools/ide/SharpeeIDETests/ProjectArtifactsTests.swift
  tools/ide/SharpeeIDETests/SkeinPlayGrowthTests.swift
  tools/ide/SharpeeIDETests/SkeinSessionTests.swift
  tools/ide/SharpeeIDETests/SkeinStoreTests.swift
  tools/ide/project.yml
Due: eslint --fix, prettier --write

feat(adr-299): Phases 5-6 - replay driver, Skein view, seed/forcing fixes
  docs/context/archive/session-20260803-0330-main.md
  docs/context/session-20260803-2110-main.md
  docs/work/ide-adr299-play-skein-bless/plan-20260803-ide-adr299-play-skein-bless.md
  packages/devkit/src/standalone/browser-build.test.ts
  packages/devkit/src/standalone/chord-build.test.ts
  packages/devkit/templates/browser/browser-entry.ts.template
  packages/devkit/templates/browser/chord-browser-entry.ts.template
  stories/fernhill/play-testing/fernhill.skein
  tools/ide/SharpeeIDE/Play/PlayViewController.swift
  tools/ide/SharpeeIDE/Play/RightPanelViewController.swift
  tools/ide/SharpeeIDE/Skein/Forcing.swift
  tools/ide/SharpeeIDE/Skein/ReplayDriver.swift
  tools/ide/SharpeeIDE/Skein/Skein.swift
  tools/ide/SharpeeIDE/Skein/SkeinSession.swift
  tools/ide/SharpeeIDE/Skein/SkeinView.swift
  tools/ide/SharpeeIDE/Test/RecordingSession.swift
  tools/ide/SharpeeIDETests/ReplayDriverTests.swift
  tools/ide/SharpeeIDETests/ReplayRealPathTests.swift
  tools/ide/SharpeeIDETests/SkeinReplayRealPathTests.swift
  tools/ide/SharpeeIDETests/SkeinViewTests.swift
  tools/ide/SharpeeIDETests/TestRunnerTests.swift
Due: eslint --fix, prettier --write

feat(adr-299): Phases 7-9 - Transcript view, scoped blessing verification, D9 refinements, exporter, ADR-282 sweep
  docs/context/session-20260804-0000-main.md
  docs/work/ide-adr299-play-skein-bless/plan-20260803-ide-adr299-play-skein-bless.md
  tools/ide/SharpeeIDE/AppDelegate.swift
  tools/ide/SharpeeIDE/MainWindow.swift
  tools/ide/SharpeeIDE/Menus/MenuBuilder.swift
  tools/ide/SharpeeIDE/Play/PlayHeaderView.swift
  tools/ide/SharpeeIDE/Play/PlayViewController.swift
  tools/ide/SharpeeIDE/Play/RightPanelViewController.swift
  tools/ide/SharpeeIDE/Skein/Invariance.swift
  tools/ide/SharpeeIDE/Skein/Skein.swift
  tools/ide/SharpeeIDE/Skein/SkeinExporter.swift
  tools/ide/SharpeeIDE/Skein/SkeinSession.swift
  tools/ide/SharpeeIDE/Skein/SkeinView.swift
  tools/ide/SharpeeIDE/Skein/TranscriptView.swift
  tools/ide/SharpeeIDE/Test/RecordingSession.swift
  tools/ide/SharpeeIDE/Test/WalkthroughChain.swift
  tools/ide/SharpeeIDETests/InvarianceTests.swift
  tools/ide/SharpeeIDETests/PlayBlessAffordanceTests.swift
  tools/ide/SharpeeIDETests/PlaySelectionCaptureTests.swift
  tools/ide/SharpeeIDETests/ReblessRealPathTests.swift
  tools/ide/SharpeeIDETests/ReblessTests.swift
  tools/ide/SharpeeIDETests/RecordingChainSaveTests.swift
  tools/ide/SharpeeIDETests/RecordingChainTests.swift
  tools/ide/SharpeeIDETests/RecordingSaveAsTestTests.swift
  tools/ide/SharpeeIDETests/RecordingSerializationTests.swift
  tools/ide/SharpeeIDETests/RecordingSessionBlessTests.swift
  tools/ide/SharpeeIDETests/RecordingSessionTests.swift
  tools/ide/SharpeeIDETests/SkeinBlessTests.swift
  tools/ide/SharpeeIDETests/SkeinExportRealPathTests.swift
  tools/ide/SharpeeIDETests/SkeinExporterTests.swift
  tools/ide/SharpeeIDETests/SkeinInvarianceRealPathTests.swift
  tools/ide/SharpeeIDETests/SkeinRefinementTests.swift
  tools/ide/SharpeeIDETests/SkeinSessionTests.swift
  tools/ide/SharpeeIDETests/TranscriptViewTests.swift
  tools/ide/SharpeeIDETests/WalkthroughChainTests.swift
Due: prettier --write

feat(ide): Testing tab UX repair - branch canvas, merged skein/transcript, card transcript
  docs/architecture/adrs/adr-300-transcript-editor.md
  docs/context/archive/session-20260803-1404-main.md
  docs/context/archive/session-20260803-1506-main.md
  docs/context/session-20260804-0114-main.md
  docs/work/ide-transcript-editor/index.html
  docs/work/ide-transcript-editor/mock-1-cards.html
  docs/work/ide-transcript-editor/mock-2-selection.html
  docs/work/ide-transcript-editor/mock-3-three-pane.html
  docs/work/ide-transcript-editor/mock-4-text-first.html
  docs/work/ide-transcript-editor/mock-5-hybrid.html
  docs/work/ide-transcript-editor/mock-shared.css
  docs/work/ide-transcript-editor/research-20260804-transcript-authoring.md
  stories/fernhill/play-testing/fernhill.skein
  tools/ide/SharpeeIDE/MainWindow.swift
  tools/ide/SharpeeIDE/Play/RightPanelViewController.swift
  tools/ide/SharpeeIDE/Skein/SkeinBranchCanvas.swift
  tools/ide/SharpeeIDE/Skein/SkeinBranchLayout.swift
  tools/ide/SharpeeIDE/Skein/SkeinPaneView.swift
  tools/ide/SharpeeIDE/Skein/SkeinView.swift
  tools/ide/SharpeeIDE/Skein/TranscriptView.swift
  tools/ide/SharpeeIDETests/SkeinPaneTests.swift
  tools/ide/SharpeeIDETests/SkeinRefinementTests.swift
  tools/ide/SharpeeIDETests/SkeinViewTests.swift
  tools/ide/SharpeeIDETests/TranscriptViewTests.swift
Due: prettier --write

docs(adr-300): accept transcript-editor ADR, supersede adr-299/290 in part
  docs/architecture/adrs/adr-290-test-creation-as-an-atomic-mode.md
  docs/architecture/adrs/adr-299-play-skein-bless.md
  docs/architecture/adrs/adr-300-transcript-editor.md
  docs/context/archive/session-20260803-1740-main.md
  docs/context/session-20260804-1420-main.md
Due: prettier --write

docs(adr-300,adr-302): consolidate transcript ADRs, rewrite core-concepts
  CLAUDE.md
  docs/README.md
  docs/api/README.md
  docs/architecture/README.md
  docs/architecture/adrs/adr-282-play-to-test-tagging.md
  docs/architecture/adrs/adr-290-test-creation-as-an-atomic-mode.md
  docs/architecture/adrs/adr-294-golden-transcripts-tester-rebuild.md
  docs/architecture/adrs/adr-298-story-block-metadata.md
  docs/architecture/adrs/adr-299-play-skein-bless.md
  docs/architecture/adrs/adr-300-addressable-channels-and-canonical-transcript.md
  docs/architecture/adrs/adr-300-transcript-editor.md
  docs/architecture/adrs/adr-301-sharpee-transcript-editor.md
  docs/architecture/adrs/adr-301-the-opening-as-addressable-channels.md
  docs/architecture/adrs/adr-302-transcript-branches.md
  docs/context/.current-plan
  docs/context/archive/session-20260803-2110-main.md
  docs/context/session-20260805-0219-main.md
  docs/core-concepts/README.md
  docs/guides/project-structure.md
  docs/reference/README.md
  docs/work/branch-tester/plan-20260805-branch-tester.md
  docs/work/transcript-tool/plan.md
  docs/work/website-content/plan.md
  packages/transcript-tester/tests/corpus.ts
  packages/transcript-tester/tests/header-folding.test.ts
  packages/transcript-tester/tests/serializer-roundtrip.test.ts
  packages/transcript-tester/vitest.config.ts
  packages/world-model/CLAUDE.md
Due: eslint --fix, prettier --write

feat(adr-300): remove [EVENTS: N] from the transcript grammar (D5, #222)
  packages/sharpee/docs/genai-api/index.md
  packages/sharpee/docs/genai-api/tooling.md
  packages/transcript-tester/src/parser.ts
  packages/transcript-tester/src/reporter.ts
  packages/transcript-tester/src/runner.ts
  packages/transcript-tester/src/serializer.ts
  packages/transcript-tester/src/types.ts
  packages/transcript-tester/tests/removed-forms.test.ts
  stories/dungeo/src/version.ts
Due: eslint --fix, prettier --write

feat(adr-300): `record` channels in Chord — D10, AC-6
  docs/architecture/adrs/adr-300-addressable-channels-and-canonical-transcript.md
  docs/reference/chord.ebnf
  docs/work/branch-tester/plan-20260805-branch-tester.md
  packages/chord/src/analyzer.ts
  packages/chord/src/ast.ts
  packages/chord/src/ir.ts
  packages/chord/src/parser.ts
  packages/chord/src/version.ts
  packages/chord/tests/channel-record.test.ts
  packages/chord/tests/language-version.test.ts
  packages/story-loader/src/loader.ts
  packages/story-loader/tests/channel-record.test.ts
  stories/dungeo/src/version.ts
Due: eslint --fix, prettier --write

feat(adr-302): `continues:` grammar and whole-tree assembly (D1, D2, D4, D11)
  packages/branch-tester/src/index.ts
  packages/branch-tester/src/parser.ts
  packages/branch-tester/src/serializer.ts
  packages/branch-tester/src/tree.ts
  packages/branch-tester/src/types.ts
  packages/branch-tester/tests/continues-and-tree.test.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md})
