Repository ChicagoDave/sharpee: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md}": [
    "prettier --write"
  ]
}

docs(adr-205): REJECT catalog-wide subject-verb agreement (evidence-based)
  docs/architecture/adrs/adr-205-catalog-wide-subject-verb-agreement.md
  docs/context/session-20260630-2217-main.md
Due: prettier --write

fix(adr-206): game.message param-nesting sweep + ADR-203 npcName story-override regression
  docs/architecture/adrs/adr-206-game-message-param-contract.md
  docs/context/session-20260630-2339-main.md
  stories/dungeo/src/actions/break/break-action.ts
  stories/dungeo/src/actions/burn/burn-action.ts
  stories/dungeo/src/actions/commanding/commanding-action.ts
  stories/dungeo/src/actions/melt/melt-action.ts
  stories/dungeo/src/actions/push-panel/push-panel-action.ts
  stories/dungeo/src/handlers/inside-mirror-handler.ts
  stories/dungeo/src/messages/npc-messages.ts
  stories/friendly-zoo/src/characters.ts
Due: eslint --fix, prettier --write

fix(dungeo): melee blank-output + MDL-canonical Low Room carousel; add Phrase Algebra primer
  .devarch/descriptor.json
  checkpoints/after-leaflet.json
  docs/context/archive/session-20260627-1450-v2_phase34.md
  docs/context/archive/session-20260628-0229-main.md
  docs/context/archive/session-20260629-1430-v2_adr196_optional_choice.md
  docs/context/archive/session-20260630-1610-v2_adr201_dialogue.md
  docs/context/archive/session-20260630-1834-v2_adr201_impl.md
  docs/context/session-20260701-0046-main.md
  docs/reference/phrase-algebra-primer.md
  packages/sharpee/docs/genai-api/authoring.md
  packages/sharpee/docs/genai-api/core.md
  packages/sharpee/docs/genai-api/if-domain.md
  packages/sharpee/docs/genai-api/index.md
  packages/sharpee/docs/genai-api/lang.md
  packages/sharpee/docs/genai-api/world-model.md
  stories/dungeo/CLAUDE.md
  stories/dungeo/src/combat/melee-messages.ts
  stories/dungeo/src/messages/npc-messages.ts
  stories/dungeo/src/npcs/robot/robot-entity.ts
  stories/dungeo/src/version.ts
  stories/dungeo/walkthroughs/wt-10-tea-room.transcript
  stories/friendly-zoo/src/version.ts
Due: eslint --fix, prettier --write

feat(helpers): add RoomBuilder.initialDescription() for first-visit room text
  packages/helpers/package.json
  packages/helpers/src/builders/room.ts
  stories/friendly-zoo/src/zoo-map.ts
Due: eslint --fix, prettier --write

refactor(world-model): make ADR-090 capability registry per-instance (ADR-207 Phase 1)
  docs/architecture/adrs/adr-207-capability-registry-engine-owned.md
  docs/context/.current-plan
  docs/context/archive/session-20260630-2141-v2_adr204.md
  docs/context/session-20260702-0052-v2_familyzoo_split.md
  docs/work/adr-207-capability-registry/plan.md
  packages/stdlib/tests/unit/actions/hiding-golden.test.ts
  packages/world-model/src/capabilities/capability-binding.ts
  packages/world-model/src/capabilities/capability-registry.ts
  packages/world-model/src/capabilities/index.ts
  packages/world-model/src/traits/concealment/concealedVisibilityBehavior.ts
  packages/world-model/src/world/AuthorModel.ts
  packages/world-model/src/world/VisibilityBehavior.ts
  packages/world-model/src/world/WorldModel.ts
  packages/world-model/tests/unit/capabilities/capability-dispatch.test.ts
Due: eslint --fix, prettier --write

refactor(world-model): ADR-208 interceptor registry per-world + ADR-207 Phase 5 overlay proof
  checkpoints/after-leaflet.json
  docs/architecture/adrs/adr-207-capability-registry-engine-owned.md
  docs/architecture/adrs/adr-208-interceptor-registry-engine-owned.md
  docs/context/.current-plan
  docs/context/archive/session-20260630-2339-main.md
  docs/context/session-20260702-1956-v2_familyzoo_split.md
  docs/work/adr-207-capability-registry/plan.md
  docs/work/adr-208-interceptor-registry/plan.md
  packages/devkit/fixtures/basic-story/src/actions.ts
  packages/devkit/fixtures/basic-story/src/world-setup.ts
  packages/engine/src/game-engine.ts
  packages/engine/tests/interceptor-dual-instance.test.ts
  packages/engine/tests/introspect-interceptors.test.ts
  packages/extensions/basic-combat/README.md
  packages/extensions/basic-combat/src/index.ts
  packages/sharpee/docs/genai-api/combat.md
  packages/sharpee/docs/genai-api/index.md
  packages/sharpee/docs/genai-api/lang.md
  packages/sharpee/docs/genai-api/world-model.md
  packages/stdlib/CLAUDE.md
  packages/stdlib/src/actions/standard/attacking/attacking.ts
  packages/stdlib/src/actions/standard/closing/closing.ts
  packages/stdlib/src/actions/standard/dropping/dropping.ts
  packages/stdlib/src/actions/standard/entering/entering.ts
  packages/stdlib/src/actions/standard/going/going.ts
  packages/stdlib/src/actions/standard/opening/opening.ts
  packages/stdlib/src/actions/standard/pushing/pushing.ts
  packages/stdlib/src/actions/standard/putting/putting.ts
  packages/stdlib/src/actions/standard/switching_on/switching_on.ts
  packages/stdlib/src/actions/standard/taking/taking.ts
  packages/stdlib/src/actions/standard/throwing/throwing.ts
  packages/world-model/src/capabilities/index.ts
  packages/world-model/src/capabilities/interceptor-binding.ts
  packages/world-model/src/capabilities/interceptor-registry.ts
  packages/world-model/src/world/AuthorModel.ts
  packages/world-model/src/world/WorldModel.ts
  packages/world-model/tests/unit/capabilities/interceptor-bindings.test.ts
  stories/dungeo/src/index.ts
  stories/dungeo/src/version.ts
  stories/dungeo/tests/transcripts/interceptor-save-restore.transcript
Due: eslint --fix, prettier --write

chore(release): bump lockstep versions to 2.1.0 + book v2.0.0 change list
  docs/context/session-20260702-1956-v2_familyzoo_split.md
  docs/work/adr-207-capability-registry/plan.md
  docs/work/book/change-list-v2.0.0-20260702.md
  packages/bootstrap/package.json
  packages/channel-service/package.json
  packages/character/package.json
  packages/core/package.json
  packages/devkit/package.json
  packages/engine/package.json
  packages/event-processor/package.json
  packages/extensions/basic-combat/package.json
  packages/extensions/testing/package.json
  packages/helpers/package.json
  packages/ide-protocol/package.json
  packages/if-domain/package.json
  packages/if-services/package.json
  packages/lang-en-us/package.json
  packages/media/package.json
  packages/parser-en-us/package.json
  packages/platform-browser/package.json
  packages/plugin-npc/package.json
  packages/plugin-scheduler/package.json
  packages/plugin-state-machine/package.json
  packages/plugins/package.json
  packages/queries/package.json
  packages/sharpee/package.json
  packages/stdlib/package.json
  packages/story-runtime-baseline/package.json
  packages/text-blocks/package.json
  packages/transcript-tester/package.json
  packages/world-model/package.json
  stories/dungeo/package.json
Due: prettier --write

docs(book): add book-v2-edition session plan (8 phases, naive-execution gate)
  docs/context/.current-plan
  docs/context/session-20260702-1956-v2_familyzoo_split.md
  docs/work/book-v2-edition/plan.md
Due: prettier --write

docs(book): v2.0.0 Phases 1-2 - phrase-algebra ch19 rewrite + Appendix D regen
  docs/book/v2.0.0/backmatter/appendix-a-architecture-map.md
  docs/book/v2.0.0/backmatter/appendix-d-message-reference.md
  docs/book/v2.0.0/book.yaml
  docs/book/v2.0.0/code-snippets/CATALOG.md
  docs/book/v2.0.0/code-snippets/ch07-openable-locked-doors-and-keys/07-wiring-it-all-together.ts
  docs/book/v2.0.0/code-snippets/ch12-readable-objects-and-switchable-devices/05-switchabletrait-a-device-with-on-off-state.ts
  docs/book/v2.0.0/code-snippets/ch13-event-handlers/01-two-kinds-of-handler.ts
  docs/book/v2.0.0/code-snippets/ch14-custom-actions/08-supplying-the-text-extendlanguage.ts
  docs/book/v2.0.0/code-snippets/ch18-the-language-layer/02-registering-your-text.ts
  docs/book/v2.0.0/code-snippets/ch19-the-phrase-algebra/01-pass-a-noun-phrase-not-a-name.ts
  docs/book/v2.0.0/code-snippets/ch19-the-phrase-algebra/02-lists.ts
  docs/book/v2.0.0/code-snippets/ch19-the-phrase-algebra/03-branching-stays-in-code.ts
  docs/book/v2.0.0/code-snippets/ch19-the-phrase-algebra/04-branching-stays-in-code.ts
  docs/book/v2.0.0/code-snippets/ch19-the-phrase-algebra/05-where-the-parameters-go-nest-them-under-params.ts
  docs/book/v2.0.0/code-snippets/ch24-channels/01-defining-your-own-channel.ts
  docs/book/v2.0.0/parts/part-1/03-the-play-loop.md
  docs/book/v2.0.0/parts/part-4/14-custom-actions.md
  docs/book/v2.0.0/parts/part-5/18-the-language-layer.md
  docs/book/v2.0.0/parts/part-5/19-the-formatter-chain.md
  docs/book/v2.0.0/parts/part-5/19-the-phrase-algebra.md
  docs/book/v2.0.0/parts/part-7/26-decoration-and-theming.md
  docs/context/archive/session-20260701-0046-main.md
  docs/context/session-20260703-book-v2-phase1-v2_familyzoo_split.md
  docs/work/book-v2-edition/plan.md
  scripts/generate-appendix-d.cjs
  tutorials/familyzoo/v2.0.0/src/ch20-npcs.ts
Due: eslint --fix, prettier --write

docs(book): v2.0.0 Phases 3-6 — ch15 ADR-207 edit, voice pass, sweeps, chapter fixes, polish
  docs/book/v2.0.0/backmatter/appendix-a-architecture-map.md
  docs/book/v2.0.0/code-snippets/CATALOG.md
  docs/book/v2.0.0/code-snippets/ch03-the-play-loop/01-events-become-text.ts
  docs/book/v2.0.0/code-snippets/ch09-the-map-and-regions/03-crossing-the-boundary.ts
  docs/book/v2.0.0/code-snippets/ch15-capability-dispatch/01-capability-dispatch-one-verb-many-rules.ts
  docs/book/v2.0.0/code-snippets/ch15-capability-dispatch/04-3-registration-that-links-trait-to-behavior.ts
  docs/book/v2.0.0/code-snippets/ch15-capability-dispatch/05-the-dispatch-action.ts
  docs/book/v2.0.0/code-snippets/ch19-the-phrase-algebra/05-where-the-parameters-go-nest-them-under-params.ts
  docs/book/v2.0.0/code-snippets/ch20-non-player-characters/04-writing-a-custom-behavior.ts
  docs/book/v2.0.0/code-snippets/ch23-scoring-and-endgame/08-the-victory-daemon.ts
  docs/book/v2.0.0/code-snippets/ch25-the-web-client/01-what-the-client-is-responsible-for.ts
  docs/book/v2.0.0/code-snippets/ch27-media-and-audio/04-room-atmospheres-in-practice.ts
  docs/book/v2.0.0/frontmatter/02-how-to-read.md
  docs/book/v2.0.0/parts/part-1/01-installing-sharpee.md
  docs/book/v2.0.0/parts/part-1/03-the-play-loop.md
  docs/book/v2.0.0/parts/part-2/05-scenery-and-portable-objects.md
  docs/book/v2.0.0/parts/part-2/06-containers-and-supporters.md
  docs/book/v2.0.0/parts/part-2/09-the-map-and-regions.md
  docs/book/v2.0.0/parts/part-4/14-custom-actions.md
  docs/book/v2.0.0/parts/part-4/15-capability-dispatch.md
  docs/book/v2.0.0/parts/part-5/18-the-language-layer.md
  docs/book/v2.0.0/parts/part-5/19-the-phrase-algebra.md
  docs/book/v2.0.0/parts/part-6/20-non-player-characters.md
  docs/book/v2.0.0/parts/part-6/23-scoring-and-endgame.md
  docs/book/v2.0.0/parts/part-7/24-channels.md
  docs/book/v2.0.0/parts/part-7/25-the-web-client.md
  docs/book/v2.0.0/parts/part-7/26-decoration-and-theming.md
  docs/book/v2.0.0/parts/part-7/27-media-and-audio.md
  docs/book/v2.0.0/parts/part-8/28-the-multi-file-story.md
  docs/book/v2.0.0/parts/part-8/29-transcript-testing-and-walkthroughs.md
  docs/book/v2.0.0/parts/part-8/30-saving-and-restoring.md
  docs/context/archive/session-20260701-0128-main.md
  docs/context/session-20260703-1150-v2_familyzoo_split.md
  docs/work/book-v2-edition/plan.md
  tutorials/familyzoo/v2.0.0/src/ch23-scoring.ts
Due: eslint --fix, prettier --write

docs(book): Phase 7 dry-run gate green — plan complete, Phase 8 closed as staleness-only
  docs/context/session-20260703-1150-v2_familyzoo_split.md
  docs/work/book-v2-edition/plan.md
Due: prettier --write

fix(platform): book-QA fixes P1–P5 — scenery listing, articles, NPC direction, STATE resolution, command chaining
  packages/engine/src/game-engine.ts
  packages/engine/tests/command-chaining.test.ts
  packages/stdlib/src/actions/standard/going/going.ts
  packages/stdlib/src/actions/standard/looking/looking-data.ts
  packages/stdlib/src/npc/npc-service.ts
  packages/stdlib/src/utils/noun-phrase.ts
  packages/stdlib/tests/unit/actions/going-golden.test.ts
  packages/stdlib/tests/unit/actions/looking-golden.test.ts
  packages/stdlib/tests/unit/npc/npc-service.test.ts
  packages/stdlib/tests/unit/utils/noun-phrase.test.ts
  packages/transcript-tester/README.md
  packages/transcript-tester/src/runner.ts
Due: eslint --fix, prettier --write

docs(book): v2.0.0 acceptance-run fixes + transcript testing threaded through every chapter
  docs/book/v2.0.0/frontmatter/02-how-to-read.md
  docs/book/v2.0.0/parts/part-1/01-installing-sharpee.md
  docs/book/v2.0.0/parts/part-1/02-your-first-room.md
  docs/book/v2.0.0/parts/part-2/04-rooms-and-navigation.md
  docs/book/v2.0.0/parts/part-2/05-scenery-and-portable-objects.md
  docs/book/v2.0.0/parts/part-2/06-containers-and-supporters.md
  docs/book/v2.0.0/parts/part-2/07-openable-locked-doors-and-keys.md
  docs/book/v2.0.0/parts/part-2/08-light-and-dark.md
  docs/book/v2.0.0/parts/part-2/09-the-map-and-regions.md
  docs/book/v2.0.0/parts/part-3/12-readable-objects-and-switchable-devices.md
  docs/book/v2.0.0/parts/part-4/13-event-handlers.md
  docs/book/v2.0.0/parts/part-4/14-custom-actions.md
  docs/book/v2.0.0/parts/part-4/15-capability-dispatch.md
  docs/book/v2.0.0/parts/part-4/16-custom-traits-and-behaviors.md
  docs/book/v2.0.0/parts/part-5/17-extending-the-grammar.md
  docs/book/v2.0.0/parts/part-6/20-non-player-characters.md
  docs/book/v2.0.0/parts/part-6/21-scenes.md
  docs/book/v2.0.0/parts/part-6/22-timed-events-and-daemons.md
  docs/book/v2.0.0/parts/part-6/23-scoring-and-endgame.md
  docs/book/v2.0.0/parts/part-7/24-channels.md
  docs/book/v2.0.0/parts/part-7/26-decoration-and-theming.md
  docs/book/v2.0.0/parts/part-7/27-media-and-audio.md
  docs/book/v2.0.0/parts/part-8/29-transcript-testing-and-walkthroughs.md
  docs/book/v2.0.0/parts/part-8/31-building-and-publishing.md
  docs/book/v2.0.0/styles/print.css
Due: prettier --write

fix(stories): align familyzoo tutorial and friendly-zoo with book-QA outcomes
  stories/friendly-zoo/src/characters.ts
  stories/friendly-zoo/tests/transcripts/state-assertions.transcript
  tutorials/familyzoo/v2.0.0/src/ch20-npcs.ts
  tutorials/familyzoo/v2.0.0/src/ch22-timed-events.ts
  tutorials/familyzoo/v2.0.0/src/ch23-scoring.ts
  tutorials/familyzoo/v2.0.0/src/ch24-27-presentation/characters.ts
  tutorials/familyzoo/v2.0.0/src/ch24-27-presentation/presentation.ts
  tutorials/familyzoo/v2.0.0/src/ch28-multi-file/characters.ts
  tutorials/familyzoo/v2.0.0/src/version.ts
  tutorials/familyzoo/v2.0.0/tests/transcripts/v16-scoring.transcript
Due: eslint --fix, prettier --write

docs(qa): v2.0.0 acceptance-run execution log and platform-issue tracking
  docs/work/book-qa-platform-issues/issues-from-execution-log-20260703.md
  execution-log.md
Due: prettier --write

fix(book,devkit): P6/P7 close-out — devkit test fixes, version-aware book scripts, unmasked build failures
  docs/context/archive/session-20260702-0052-v2_familyzoo_split.md
  docs/context/archive/session-20260703-book-v2-phase1-v2_familyzoo_split.md
  docs/context/session-20260704-0300-book-code-measure-p6.md
  docs/context/session-20260704-0310-book-code-measure-followups.md
  docs/work/book-qa-platform-issues/issues-from-execution-log-20260703.md
  packages/devkit/src/standalone/build-browser.ts
  packages/devkit/src/standalone/build.ts
  packages/devkit/src/standalone/init-browser.ts
  packages/devkit/src/standalone/init.test.ts
  packages/devkit/src/standalone/init.ts
  scripts/book-web-nav.cjs
  scripts/build-book.sh
  scripts/build-snippet-page.cjs
  site/book-snippets.html
  site/the-sharpee-book-v2.0.0.epub
  site/the-sharpee-book-v2.0.0.html
  site/the-sharpee-book-v2.0.0.pdf
  tutorials/familyzoo/v2.0.0/package-lock.json
Due: eslint --fix, prettier --write

chore(book): gitignore the versioned parked web build (docs/book/<version>/web/)
  .gitignore
  docs/book/v1.5.0/.gitignore
  docs/book/v2.0.0/.gitignore
Due: none

docs(qa): archive pre-fix-edition naive-executor log (negative control)
  docs/work/test-book/execution-log.md
Due: prettier --write

docs(book): voice-rule sweep — remove 30 em-dashes reintroduced by PRs #177/#178
  docs/book/v2.0.0/frontmatter/02-how-to-read.md
  docs/book/v2.0.0/parts/part-1/02-your-first-room.md
  docs/book/v2.0.0/parts/part-2/04-rooms-and-navigation.md
  docs/book/v2.0.0/parts/part-2/05-scenery-and-portable-objects.md
  docs/book/v2.0.0/parts/part-2/06-containers-and-supporters.md
  docs/book/v2.0.0/parts/part-2/09-the-map-and-regions.md
  docs/book/v2.0.0/parts/part-3/12-readable-objects-and-switchable-devices.md
  docs/book/v2.0.0/parts/part-4/13-event-handlers.md
  docs/book/v2.0.0/parts/part-4/15-capability-dispatch.md
  docs/book/v2.0.0/parts/part-4/16-custom-traits-and-behaviors.md
  docs/book/v2.0.0/parts/part-6/20-non-player-characters.md
  docs/book/v2.0.0/parts/part-6/21-scenes.md
  docs/book/v2.0.0/parts/part-6/22-timed-events-and-daemons.md
  docs/book/v2.0.0/parts/part-6/23-scoring-and-endgame.md
  docs/book/v2.0.0/parts/part-7/26-decoration-and-theming.md
  docs/book/v2.0.0/parts/part-7/27-media-and-audio.md
  docs/book/v2.0.0/parts/part-8/29-transcript-testing-and-walkthroughs.md
  site/the-sharpee-book-v2.0.0.epub
  site/the-sharpee-book-v2.0.0.html
  site/the-sharpee-book-v2.0.0.pdf
Due: prettier --write

docs(book): add CLAUDE.md with book voice/style and accuracy rules
  docs/book/CLAUDE.md
Due: prettier --write

docs(adr): ADR-209 draft — room-description snippets, all open questions resolved
  docs/architecture/adrs/adr-209-room-description-snippets.md
Due: prettier --write

docs(adr): ADR-209 accepted — review fixes folded in (13/13)
  docs/architecture/adrs/adr-209-room-description-snippets.md
Due: prettier --write

docs(book): naive-regression cleanup rounds A+B — zero-blocked runs 3-4, logs archived
  docs/book/v2.0.0/code-snippets/CATALOG.md
  docs/book/v2.0.0/code-snippets/ch01-installing-sharpee/06-playing-it.sh
  docs/book/v2.0.0/code-snippets/ch23-scoring-and-endgame/07-awarding-points-as-the-player-plays.ts
  docs/book/v2.0.0/frontmatter/02-how-to-read.md
  docs/book/v2.0.0/parts/part-1/01-installing-sharpee.md
  docs/book/v2.0.0/parts/part-1/02-your-first-room.md
  docs/book/v2.0.0/parts/part-2/05-scenery-and-portable-objects.md
  docs/book/v2.0.0/parts/part-4/14-custom-actions.md
  docs/book/v2.0.0/parts/part-6/23-scoring-and-endgame.md
  docs/book/v2.0.0/parts/part-7/25-the-web-client.md
  docs/book/v2.0.0/parts/part-8/28-the-multi-file-story.md
  docs/book/v2.0.0/parts/part-8/29-transcript-testing-and-walkthroughs.md
  docs/context/archive/session-20260702-1956-v2_familyzoo_split.md
  docs/context/session-20260704-1745-main.md
  docs/work/test-book/execution-log-20260704-run3.md
  docs/work/test-book/execution-log-20260704-run4.md
  docs/work/test-book/execution-log-20260704.md
  site/book-snippets.html
  site/the-sharpee-book-v2.0.0.epub
  site/the-sharpee-book-v2.0.0.html
  site/the-sharpee-book-v2.0.0.pdf
Due: eslint --fix, prettier --write

docs(book): naive-regression Round C — front-matter rules named, run-5 issues fixed
  docs/book/v2.0.0/code-snippets/CATALOG.md
  docs/book/v2.0.0/code-snippets/ch20-non-player-characters/05-registering-the-plugin-and-behaviors.ts
  docs/book/v2.0.0/code-snippets/ch20-non-player-characters/06-registering-the-plugin-and-behaviors.ts
  docs/book/v2.0.0/code-snippets/ch20-non-player-characters/07-registering-the-plugin-and-behaviors.ts
  docs/book/v2.0.0/code-snippets/ch23-scoring-and-endgame/07-awarding-points-as-the-player-plays.ts
  docs/book/v2.0.0/code-snippets/ch23-scoring-and-endgame/08-awarding-points-as-the-player-plays.ts
  docs/book/v2.0.0/code-snippets/ch23-scoring-and-endgame/08-the-victory-daemon.ts
  docs/book/v2.0.0/code-snippets/ch23-scoring-and-endgame/09-awarding-points-as-the-player-plays.ts
  docs/book/v2.0.0/code-snippets/ch23-scoring-and-endgame/10-the-victory-daemon.ts
  docs/book/v2.0.0/code-snippets/ch23-scoring-and-endgame/11-the-victory-daemon.ts
  docs/book/v2.0.0/code-snippets/ch23-scoring-and-endgame/12-the-victory-daemon.ts
  docs/book/v2.0.0/frontmatter/02-how-to-read.md
  docs/book/v2.0.0/parts/part-1/01-installing-sharpee.md
  docs/book/v2.0.0/parts/part-1/02-your-first-room.md
  docs/book/v2.0.0/parts/part-2/05-scenery-and-portable-objects.md
  docs/book/v2.0.0/parts/part-2/06-containers-and-supporters.md
  docs/book/v2.0.0/parts/part-2/07-openable-locked-doors-and-keys.md
  docs/book/v2.0.0/parts/part-2/08-light-and-dark.md
  docs/book/v2.0.0/parts/part-3/12-readable-objects-and-switchable-devices.md
  docs/book/v2.0.0/parts/part-4/13-event-handlers.md
  docs/book/v2.0.0/parts/part-6/20-non-player-characters.md
  docs/book/v2.0.0/parts/part-6/21-scenes.md
  docs/book/v2.0.0/parts/part-6/23-scoring-and-endgame.md
  docs/book/v2.0.0/parts/part-7/25-the-web-client.md
  docs/book/v2.0.0/parts/part-8/29-transcript-testing-and-walkthroughs.md
  docs/context/archive/session-20260703-1150-v2_familyzoo_split.md
  docs/context/session-20260704-2004-main.md
  docs/work/test-book/execution-log-20260704-run5.md
  site/book-snippets.html
  site/the-sharpee-book-v2.0.0.epub
  site/the-sharpee-book-v2.0.0.html
  site/the-sharpee-book-v2.0.0.pdf
Due: eslint --fix, prettier --write

chore(release): bump lockstep versions to 2.1.1 — book-QA fixes P1–P7 published
  packages/bootstrap/package.json
  packages/channel-service/package.json
  packages/character/package.json
  packages/core/package.json
  packages/devkit/package.json
  packages/engine/package.json
  packages/event-processor/package.json
  packages/extensions/basic-combat/package.json
  packages/extensions/testing/package.json
  packages/helpers/package.json
  packages/ide-protocol/package.json
  packages/if-domain/package.json
  packages/if-services/package.json
  packages/lang-en-us/package.json
  packages/media/package.json
  packages/parser-en-us/package.json
  packages/platform-browser/package.json
  packages/plugin-npc/package.json
  packages/plugin-scheduler/package.json
  packages/plugin-state-machine/package.json
  packages/plugins/package.json
  packages/queries/package.json
  packages/sharpee/package.json
  packages/stdlib/package.json
  packages/story-runtime-baseline/package.json
  packages/text-blocks/package.json
  packages/transcript-tester/package.json
  packages/world-model/package.json
  stories/dungeo/package.json
Due: prettier --write

docs(book): naive-regression Round D — illustrative rule, verified ch29 walkthroughs, run-6 log
  docs/book/v2.0.0/code-snippets/CATALOG.md
  docs/book/v2.0.0/frontmatter/02-how-to-read.md
  docs/book/v2.0.0/parts/part-2/09-the-map-and-regions.md
  docs/book/v2.0.0/parts/part-4/14-custom-actions.md
  docs/book/v2.0.0/parts/part-4/16-custom-traits-and-behaviors.md
  docs/book/v2.0.0/parts/part-6/21-scenes.md
  docs/book/v2.0.0/parts/part-6/22-timed-events-and-daemons.md
  docs/book/v2.0.0/parts/part-7/25-the-web-client.md
  docs/book/v2.0.0/parts/part-8/29-transcript-testing-and-walkthroughs.md
  docs/context/session-20260704-2004-main.md
  docs/work/test-book/accepted-limitations.md
  docs/work/test-book/execution-log-20260704-run6.md
  site/the-sharpee-book-v2.0.0.epub
  site/the-sharpee-book-v2.0.0.html
  site/the-sharpee-book-v2.0.0.pdf
Due: prettier --write

docs(book): naive-regression gate GREEN — run-7 clean log + Round E polish
  docs/book/v2.0.0/code-snippets/CATALOG.md
  docs/book/v2.0.0/code-snippets/ch25-the-web-client/04-overriding-a-renderer.ts
  docs/book/v2.0.0/parts/part-2/07-openable-locked-doors-and-keys.md
  docs/book/v2.0.0/parts/part-7/25-the-web-client.md
  docs/book/v2.0.0/parts/part-8/29-transcript-testing-and-walkthroughs.md
  docs/context/session-20260704-2004-main.md
  docs/work/test-book/execution-log-20260705-run7.md
  site/book-snippets.html
  site/the-sharpee-book-v2.0.0.epub
  site/the-sharpee-book-v2.0.0.html
  site/the-sharpee-book-v2.0.0.pdf
Due: eslint --fix, prettier --write

docs(book): naive-regression Rounds F+G — runs 8-9 clean, zero-issue target met
  docs/book/v2.0.0/code-snippets/CATALOG.md
  docs/book/v2.0.0/parts/part-2/04-rooms-and-navigation.md
  docs/book/v2.0.0/parts/part-2/09-the-map-and-regions.md
  docs/book/v2.0.0/parts/part-4/15-capability-dispatch.md
  docs/book/v2.0.0/parts/part-7/26-decoration-and-theming.md
  docs/context/session-20260704-2004-main.md
  docs/work/test-book/execution-log-20260705-run8.md
  docs/work/test-book/execution-log-20260705-run9.md
  site/the-sharpee-book-v2.0.0.epub
  site/the-sharpee-book-v2.0.0.html
  site/the-sharpee-book-v2.0.0.pdf
Due: prettier --write

docs(site): refresh for 2.1 — book v2.0.0 linked, news updated, legacy zoo tutorial bannered
  docs/context/session-20260704-2004-main.md
  site/cloak-of-darkness.html
  site/components.js
  site/family-zoo.html
  site/getting-started.html
  site/index.html
  site/news.html
Due: prettier --write

fix(stdlib): switching_on auto-look excludes scenery from contents list — matches looking/going (ADR-209 prose ownership)
  checkpoints/after-leaflet.json
  docs/context/archive/session-20260704-0310-book-code-measure-followups.md
  docs/context/session-20260708-0130-main.md
  packages/sharpee/docs/genai-api/index.md
  packages/stdlib/src/actions/standard/switching_on/switching_on.ts
  stories/dungeo/src/version.ts
Due: eslint --fix, prettier --write

docs(book): v2-209-book plan — ADR-209 addendum, reader-pass findings, ADR status amendments
  docs/architecture/adrs/adr-107-dual-mode-authored-content.md
  docs/architecture/adrs/adr-209-room-description-snippets.md
  docs/context/.current-plan
  docs/work/book/change-list-v2.0.0-20260702.md
  docs/work/book/change-list-v2.0.0-addendum-adr209-20260708.md
  docs/work/v2-209-book/plan.md
Due: prettier --write

fix(tutorials): familyzoo multi-file snapshots — dedupe rabbits, snippet map moves to characters.ts (202/202 on published 2.2.0)
  docs/context/session-20260710-0900-v2-209-book.md
  docs/work/v2-209-book/plan.md
  tutorials/familyzoo/v2.0.0/src/ch24-27-presentation/characters.ts
  tutorials/familyzoo/v2.0.0/src/ch24-27-presentation/zoo-items.ts
  tutorials/familyzoo/v2.0.0/src/ch28-multi-file/characters.ts
  tutorials/familyzoo/v2.0.0/src/ch28-multi-file/zoo-items.ts
Due: eslint --fix, prettier --write

chore(release): @sharpee 2.2.0 — lockstep bump, first publish with ADR-209 snippets
  docs/context/session-20260710-0900-v2-209-book.md
  packages/bootstrap/package.json
  packages/channel-service/package.json
  packages/character/package.json
  packages/core/package.json
  packages/devkit/package.json
  packages/engine/package.json
  packages/event-processor/package.json
  packages/extensions/basic-combat/package.json
  packages/extensions/testing/package.json
  packages/helpers/package.json
  packages/ide-protocol/package.json
  packages/if-domain/package.json
  packages/if-services/package.json
  packages/lang-en-us/package.json
  packages/media/package.json
  packages/parser-en-us/package.json
  packages/platform-browser/package.json
  packages/plugin-npc/package.json
  packages/plugin-scheduler/package.json
  packages/plugin-state-machine/package.json
  packages/plugins/package.json
  packages/queries/package.json
  packages/sharpee/package.json
  packages/stdlib/package.json
  packages/story-runtime-baseline/package.json
  packages/text-blocks/package.json
  packages/transcript-tester/package.json
  packages/world-model/package.json
  stories/dungeo/package.json
Due: prettier --write

docs(book): v2r2 title page + run-10 fixes (ch5/ch15/ch19/ch22/ch23/ch26/ch29) — gate round on published 2.2.0
  docs/book/v2.0.0/book.yaml
  docs/book/v2.0.0/code-snippets/CATALOG.md
  docs/book/v2.0.0/code-snippets/ch23-scoring-and-endgame/01-the-score-ledger.ts
  docs/book/v2.0.0/code-snippets/ch23-scoring-and-endgame/02-defining-the-scoring-table.ts
  docs/book/v2.0.0/code-snippets/ch23-scoring-and-endgame/02-the-score-ledger.ts
  docs/book/v2.0.0/code-snippets/ch23-scoring-and-endgame/03-defining-the-scoring-table.ts
  docs/book/v2.0.0/code-snippets/ch23-scoring-and-endgame/04-awarding-points-as-the-player-plays.ts
  docs/book/v2.0.0/code-snippets/ch23-scoring-and-endgame/04-defining-the-scoring-table.ts
  docs/book/v2.0.0/code-snippets/ch23-scoring-and-endgame/05-awarding-points-as-the-player-plays.ts
  docs/book/v2.0.0/code-snippets/ch23-scoring-and-endgame/06-awarding-points-as-the-player-plays.ts
  docs/book/v2.0.0/code-snippets/ch23-scoring-and-endgame/07-awarding-points-as-the-player-plays.ts
  docs/book/v2.0.0/code-snippets/ch23-scoring-and-endgame/08-awarding-points-as-the-player-plays.ts
  docs/book/v2.0.0/code-snippets/ch23-scoring-and-endgame/09-awarding-points-as-the-player-plays.ts
  docs/book/v2.0.0/code-snippets/ch23-scoring-and-endgame/10-awarding-points-as-the-player-plays.ts
  docs/book/v2.0.0/code-snippets/ch23-scoring-and-endgame/10-the-victory-daemon.ts
  docs/book/v2.0.0/code-snippets/ch23-scoring-and-endgame/11-the-victory-daemon.ts
  docs/book/v2.0.0/code-snippets/ch23-scoring-and-endgame/12-the-victory-daemon.ts
  docs/book/v2.0.0/code-snippets/ch23-scoring-and-endgame/13-the-victory-daemon.ts
  docs/book/v2.0.0/code-snippets/ch26-decoration-and-theming/04-your-own-theme-three-lines-of-css-and-one-list-ent.css
  docs/book/v2.0.0/frontmatter/00-title-page.md
  docs/book/v2.0.0/parts/part-2/05-scenery-and-portable-objects.md
  docs/book/v2.0.0/parts/part-4/15-capability-dispatch.md
  docs/book/v2.0.0/parts/part-5/19-the-phrase-algebra.md
  docs/book/v2.0.0/parts/part-6/22-timed-events-and-daemons.md
  docs/book/v2.0.0/parts/part-6/23-scoring-and-endgame.md
  docs/book/v2.0.0/parts/part-7/26-decoration-and-theming.md
  docs/book/v2.0.0/parts/part-8/29-transcript-testing-and-walkthroughs.md
  docs/book/v2.0.0/styles/book.css
  docs/book/v2.0.0/styles/epub.css
  docs/context/session-20260710-0900-v2-209-book.md
  docs/work/book/naive-prompt.txt
  docs/work/test-book/execution-log-20260710-run10.md
Due: eslint --fix, prettier --write
