Repository ChicagoDave/sharpee: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat(ide): ChordLexer.swift port + golden conformance pin — D3 swap row a (ADR-258 D7)
  tools/ide/SharpeeIDE/Editor/ChordLexer.swift
  tools/ide/SharpeeIDE/Editor/SyntaxHighlighter.swift
  tools/ide/SharpeeIDE/Theme.swift
  tools/ide/SharpeeIDETests/ChordLexerGoldenTests.swift
  tools/ide/SharpeeIDETests/SyntaxHighlighterTests.swift
  tools/ide/project.yml
Due: none

feat(ide): .story build/play paths — D3 swap row d (ADR-258 D2/D4)
  tools/ide/SharpeeIDE/AppDelegate.swift
  tools/ide/SharpeeIDE/Build/BrowserEntry.swift
  tools/ide/SharpeeIDE/Build/BuildController.swift
  tools/ide/SharpeeIDE/Build/BuildRunner.swift
  tools/ide/SharpeeIDE/Build/BuildSettingsViewController.swift
  tools/ide/SharpeeIDE/MainWindow.swift
  tools/ide/SharpeeIDE/Menus/MenuBuilder.swift
  tools/ide/SharpeeIDE/Play/PlayViewController.swift
  tools/ide/SharpeeIDE/Play/WebBundle.swift
  tools/ide/SharpeeIDE/Project/IntrospectionRunner.swift
  tools/ide/SharpeeIDE/Workspace/StoryScaffold.swift
  tools/ide/SharpeeIDETests/BrowserEntryTests.swift
  tools/ide/SharpeeIDETests/BuildRunnerTests.swift
  tools/ide/SharpeeIDETests/ComposeRunnerTests.swift
  tools/ide/SharpeeIDETests/StoryScaffoldTests.swift
  tools/ide/SharpeeIDETests/WebBundleTests.swift
  tools/ide/project.yml
Due: none

feat(ide): D8 persisted-state migration + D9 Chord version check + README (ADR-258 Phase 5)
  tools/ide/README.md
  tools/ide/SharpeeIDE/AppDelegate.swift
  tools/ide/SharpeeIDE/Compose/ChordVersionCheck.swift
  tools/ide/SharpeeIDE/MainWindow.swift
  tools/ide/SharpeeIDE/Persistence/RecentProjectsStore.swift
  tools/ide/SharpeeIDE/Workspace/StoryTarget.swift
  tools/ide/SharpeeIDETests/ChordVersionCheckTests.swift
  tools/ide/SharpeeIDETests/ComposeRunnerTests.swift
  tools/ide/SharpeeIDETests/RecentProjectsStoreTests.swift
  tools/ide/SharpeeIDETests/StoryTargetTests.swift
Due: prettier --write

docs(adr-258): Status → IMPLEMENTED — Swift/Mac arc complete; session summary + plan closed out
  docs/architecture/adrs/adr-258-ide-chord-authoring-environment.md
  docs/context/session-20260727-1030-main.md
  docs/work/adr-258-ide-swift/plan.md
Due: prettier --write

fix(ide): resolve sharpee workspace-shim-first, then PATH
  docs/architecture/adrs/adr-258-ide-chord-authoring-environment.md
  tools/ide/SharpeeIDE/AppDelegate.swift
  tools/ide/SharpeeIDE/Build/BuildRunner.swift
  tools/ide/SharpeeIDE/Compose/ChordVersionCheck.swift
  tools/ide/SharpeeIDE/Compose/ComposeRunner.swift
  tools/ide/SharpeeIDE/MainWindow.swift
  tools/ide/SharpeeIDETests/BuildRunnerTests.swift
  tools/ide/SharpeeIDETests/ComposeRunnerTests.swift
Due: prettier --write

release: Sharpee 4.1.2 — lockstep patch (tsf version); devkit piped compose --json flush fix ships stamped
  checkpoints/after-leaflet.json
  packages/bootstrap/package.json
  packages/channel-service/package.json
  packages/character/package.json
  packages/chord/package.json
  packages/core/package.json
  packages/devkit/package.json
  packages/engine/package.json
  packages/event-processor/package.json
  packages/extensions/basic-combat/package.json
  packages/extensions/hunger/package.json
  packages/extensions/scoring/package.json
  packages/extensions/testing/package.json
  packages/helpers/package.json
  packages/ide-protocol/package.json
  packages/if-domain/package.json
  packages/if-services/package.json
  packages/lang-en-us/package.json
  packages/media/package.json
  packages/parser-en-us/package.json
  packages/platform-browser/package.json
  packages/plugin-npc/package.json
  packages/plugin-scheduler/package.json
  packages/plugin-state-machine/package.json
  packages/plugins/package.json
  packages/queries/package.json
  packages/sharpee/docs/genai-api/index.md
  packages/sharpee/package.json
  packages/stdlib/package.json
  packages/stdlib/src/actions/standard/version/engine-version.ts
  packages/story-loader/package.json
  packages/story-runtime-baseline/package.json
  packages/text-blocks/package.json
  packages/transcript-tester/package.json
  packages/world-model/package.json
  stories/dungeo/package.json
  stories/dungeo/src/version.ts
  website/src/lib/nav.ts
Due: eslint --fix, prettier --write

docs(context): record 4.1.2 release + PR #186 merged — Swift IDE arc on main; npm publish/deploy pending (David)
  docs/context/session-20260727-1030-main.md
Due: prettier --write

docs(context): record 4.1.2 shipped — npm verified (exitCode fix in published cli.js), website live at 4.1.2/2.1.0
  docs/context/session-20260727-1030-main.md
Due: prettier --write

fix(ide): Play scheme handler serves HTTP 404 for missing files — fixes 'Load failed' on boot
  tools/ide/SharpeeIDE/Play/PlayURLSchemeHandler.swift
  tools/ide/SharpeeIDETests/PlayURLSchemeHandlerTests.swift
Due: none

feat(ide): source change clears the entire play surface (David's ruling)
  tools/ide/SharpeeIDE/Editor/EditorViewController.swift
  tools/ide/SharpeeIDE/MainWindow.swift
  tools/ide/SharpeeIDE/Play/PlayViewController.swift
  tools/ide/SharpeeIDETests/PlaySurfaceInvalidationTests.swift
Due: none

fix(ide): Build saves all dirty documents first — the build reads disk, compose reads the buffer
  tools/ide/SharpeeIDE/AppDelegate.swift
  tools/ide/SharpeeIDE/Editor/EditorViewController.swift
  tools/ide/SharpeeIDE/MainWindow.swift
  tools/ide/SharpeeIDETests/EditorSaveAllTests.swift
Due: none

feat(ide): Build/Play tabs in the right panel — build output moves out of the bottom dock (David's ruling)
  tools/ide/SharpeeIDE/Build/BottomPanelViewController.swift
  tools/ide/SharpeeIDE/Build/BuildController.swift
  tools/ide/SharpeeIDE/MainWindow.swift
  tools/ide/SharpeeIDE/Play/RightPanelViewController.swift
Due: none

feat(ide): no auto-load of the Play pane — ⌘B is the only way content reaches Play (David's ruling)
  tools/ide/SharpeeIDE/MainWindow.swift
  tools/ide/SharpeeIDE/Play/PlayViewController.swift
Due: none

chore(packages): remove the dead 'esm' exports condition — story and platform builds are warning-free
  packages/bootstrap/package.json
  packages/bridge/package.json
  packages/channel-service/package.json
  packages/chord/package.json
  packages/core/package.json
  packages/devkit/src/standalone/browser-core-build.test.ts
  packages/engine/package.json
  packages/event-processor/package.json
  packages/extensions/basic-combat/package.json
  packages/extensions/hunger/package.json
  packages/extensions/scoring/package.json
  packages/extensions/testing/package.json
  packages/ide-protocol/package.json
  packages/if-domain/package.json
  packages/if-services/package.json
  packages/interpreter/package.json
  packages/lang-en-us/package.json
  packages/media/package.json
  packages/parser-en-us/package.json
  packages/platform-browser/package.json
  packages/plugin-npc/package.json
  packages/plugin-scheduler/package.json
  packages/plugin-state-machine/package.json
  packages/plugins/package.json
  packages/runtime/package.json
  packages/sharpee/package.json
  packages/stdlib/package.json
  packages/story-loader/package.json
  packages/story-runtime-baseline/package.json
  packages/text-blocks/package.json
  packages/transcript-tester/package.json
  packages/world-model/package.json
  stories/dungeo/package.json
Due: eslint --fix, prettier --write

feat(ide): Index tab + story build report — the granularity split (David's ruling)
  tools/ide/SharpeeIDE/Build/BuildController.swift
  tools/ide/SharpeeIDE/Compose/ComposeDiagnostics.swift
  tools/ide/SharpeeIDE/Compose/StoryIndex.swift
  tools/ide/SharpeeIDE/MainWindow.swift
  tools/ide/SharpeeIDE/Play/IndexView.swift
  tools/ide/SharpeeIDE/Play/RightPanelViewController.swift
  tools/ide/SharpeeIDETests/ComposeDiagnosticsTests.swift
  tools/ide/SharpeeIDETests/ComposeRunnerTests.swift
  tools/ide/SharpeeIDETests/IRTreeStateTests.swift
  tools/ide/SharpeeIDETests/ProjectStructureTests.swift
  tools/ide/SharpeeIDETests/StoryIndexTests.swift
Due: none

feat(ide): drop Structure (Index is THE story view), style the Index, authored-phrases-only, wrap by default
  tools/ide/SharpeeIDE/Compose/StoryIndex.swift
  tools/ide/SharpeeIDE/Editor/EditorViewController.swift
  tools/ide/SharpeeIDE/MainWindow.swift
  tools/ide/SharpeeIDE/Play/IndexView.swift
  tools/ide/SharpeeIDE/Project/ProjectPaneViewController.swift
  tools/ide/SharpeeIDE/Project/ProjectStructure.swift
  tools/ide/SharpeeIDE/Project/ProjectStructureViewController.swift
  tools/ide/SharpeeIDETests/ComposeRunnerTests.swift
  tools/ide/SharpeeIDETests/ProjectStructureTests.swift
  tools/ide/SharpeeIDETests/StoryIndexTests.swift
Due: none

feat(ide): light mode — dynamic theme (Latte/Mocha), follow the system appearance
  tools/ide/SharpeeIDE/AppDelegate.swift
  tools/ide/SharpeeIDE/Build/BottomPanelViewController.swift
  tools/ide/SharpeeIDE/Build/BuildPanelView.swift
  tools/ide/SharpeeIDE/Build/BuildSettingsViewController.swift
  tools/ide/SharpeeIDE/Build/GameErrorsView.swift
  tools/ide/SharpeeIDE/Compose/ProblemsView.swift
  tools/ide/SharpeeIDE/Editor/EditorViewController.swift
  tools/ide/SharpeeIDE/Editor/TabBarView.swift
  tools/ide/SharpeeIDE/MainWindow.swift
  tools/ide/SharpeeIDE/Play/ErrorDiagnosisView.swift
  tools/ide/SharpeeIDE/Play/IndexView.swift
  tools/ide/SharpeeIDE/Play/PlayViewController.swift
  tools/ide/SharpeeIDE/Play/RightPanelViewController.swift
  tools/ide/SharpeeIDE/Project/ProjectPaneViewController.swift
  tools/ide/SharpeeIDE/Project/ProjectTreeViewController.swift
  tools/ide/SharpeeIDE/Theme.swift
  tools/ide/SharpeeIDE/UI/TabStripView.swift
  tools/ide/SharpeeIDE/UI/ThemedPane.swift
Due: none

docs(context): record the afternoon IDE polish arc — Play fixes, rulings, Index, warnings, light mode
  docs/context/session-20260727-1030-main.md
Due: prettier --write

feat(ide): reader font preference (Courier/Arial/Georgia × S/M/L/XL) + wrap width re-sync
  tools/ide/SharpeeIDE/AppDelegate.swift
  tools/ide/SharpeeIDE/Build/BuildPanelView.swift
  tools/ide/SharpeeIDE/Editor/EditorViewController.swift
  tools/ide/SharpeeIDE/Menus/MenuBuilder.swift
  tools/ide/SharpeeIDE/Play/ErrorDiagnosisView.swift
  tools/ide/SharpeeIDE/Play/IndexView.swift
  tools/ide/SharpeeIDE/UI/FontPreference.swift
Due: none

fix(ide): wrap engages for real (container-driven), file tree loses horizontal scroll
  tools/ide/SharpeeIDE/Editor/EditorViewController.swift
  tools/ide/SharpeeIDE/Project/ProjectTreeViewController.swift
Due: none

feat(ide): Index jumps highlight the first line with a neutral gutter dot — red is reserved for errors (David's ruling)
  tools/ide/SharpeeIDE/Editor/EditorViewController.swift
  tools/ide/SharpeeIDE/Editor/LineNumberRulerView.swift
  tools/ide/SharpeeIDE/MainWindow.swift
Due: none

fix(ide): pane dividers are draggable — holding priority 750 silently out-prioritized user drags
  tools/ide/SharpeeIDE/MainWindow.swift
  tools/ide/SharpeeIDE/Play/IndexView.swift
  tools/ide/SharpeeIDE/Play/PlayViewController.swift
  tools/ide/SharpeeIDETests/SplitDividerTests.swift
Due: none

fix(ide): right-pane divider is movable — equal holding priorities made it constraint-solver-immovable; story files always wrap; tab strip/content agree
  tools/ide/SharpeeIDE/Editor/EditorViewController.swift
  tools/ide/SharpeeIDE/MainWindow.swift
  tools/ide/SharpeeIDE/Play/PlayHeaderView.swift
  tools/ide/SharpeeIDE/Play/RightPanelViewController.swift
  tools/ide/SharpeeIDETests/SplitDividerTests.swift
Due: none

feat(ide): Index sections are tabs (David's ruling); wrap respects the text inset
  tools/ide/SharpeeIDE/Editor/EditorViewController.swift
  tools/ide/SharpeeIDE/Play/IndexView.swift
  tools/ide/SharpeeIDE/UI/TabStripView.swift
Due: none

fix(ide): wrap subtracts the line-number gutter; Index tab titles carry counts (stats row gone)
  tools/ide/SharpeeIDE/Editor/EditorViewController.swift
  tools/ide/SharpeeIDE/Play/IndexView.swift
Due: none

feat(ide): font preference covers the directory pane and Diagnosis (live) — Play stays the story's own page
  tools/ide/SharpeeIDE/Play/ErrorDiagnosisView.swift
  tools/ide/SharpeeIDE/Project/ProjectTreeViewController.swift
Due: none

fix(ide): one point size per scale across every pane — story pane no longer starts larger
  tools/ide/SharpeeIDE/UI/FontPreference.swift
Due: none

fix(ide): directory pane truly follows the font — AppKit's rowSizeStyle was re-standardizing folder-row fonts
  tools/ide/SharpeeIDE/Project/ProjectTreeViewController.swift
  tools/ide/SharpeeIDE/UI/FontPreference.swift
  tools/ide/SharpeeIDETests/ProjectTreeFontTests.swift
Due: none

feat(ide): tabs follow the font — story-pane document tabs and every tab strip
  tools/ide/SharpeeIDE/Editor/TabBarView.swift
  tools/ide/SharpeeIDE/UI/TabStripView.swift
Due: none

docs(context): record the late-afternoon IDE polish — fonts everywhere, wrap saga, divider solver bug, tabbed Index
  docs/context/session-20260727-1030-main.md
Due: prettier --write

feat(fernhill): version 0.3.0, reworded blurb — edited live in the Sharpee IDE
  stories/fernhill/fernhill.story
Due: none

fix(ide): editor|play panes open at equal widths — manual divider persistence
  docs/context/archive/session-20260725-2356-main.md
  docs/context/archive/session-20260726-0213-main.md
  docs/context/archive/session-20260726-b88ed7-main.md
  docs/context/archive/session-20260726-main-0ea0e5.md
  docs/context/session-20260727-1615-main.md
  tools/ide/SharpeeIDE/MainWindow.swift
  tools/ide/SharpeeIDETests/BuildSettingsStoreTests.swift
  tools/ide/SharpeeIDETests/BuildSettingsTests.swift
  tools/ide/SharpeeIDETests/IntrospectionRunnerTests.swift
  tools/ide/SharpeeIDETests/PackageDetectorTests.swift
  tools/ide/SharpeeIDETests/ProjectManifestTests.swift
  tools/ide/SharpeeIDETests/SplitDividerTests.swift
  tools/ide/SharpeeIDETests/StoryDetectorTests.swift
Due: prettier --write

docs(adr): ADR-278 relations — exploratory umbrella (Sharpee 5.0.0/Chord 3.0.0 candidate)
  docs/architecture/adrs/adr-278-relations.md
  docs/context/archive/session-20260726-main-52a8f4.md
  docs/context/archive/session-20260727-0430-main.md
  docs/context/session-20260727-1900-main.md
Due: prettier --write

docs(adr): ADR-279 Chord Writer packaging — accepted (bundled toolchain, monorepo, sharpee.net + Releases, Sparkle 2)
  .devarch/descriptor.json
  docs/architecture/adrs/adr-279-chord-writer-packaging.md
  docs/context/archive/session-20260727-0800-adr-276-p1.md
  docs/context/session-20260727-2100-main.md
Due: prettier --write

docs(adr): ADR-280..286 drafted — Chord Writer 1.0 feature family
  docs/architecture/adrs/adr-280-chord-writer-project-model.md
  docs/architecture/adrs/adr-281-chord-writer-embedded-help.md
  docs/architecture/adrs/adr-282-play-to-test-tagging.md
  docs/architecture/adrs/adr-283-transcript-wrong-assertion.md
  docs/architecture/adrs/adr-284-chord-writer-publishing.md
  docs/architecture/adrs/adr-285-chord-writer-asset-management.md
  docs/architecture/adrs/adr-286-web-template-visual-editing.md
  docs/context/session-20260727-2100-main.md
Due: prettier --write

docs(adr): Chord Writer 1.0 family accepted — ADR-280..287 (template DSL, play-to-test bless, fenced transcripts, canon help); 283 rejected
  docs/architecture/adrs/adr-252-story-first-class-browser-build.md
  docs/architecture/adrs/adr-253-channel-return-and-dom-render.md
  docs/architecture/adrs/adr-277-ide-integrated-testing.md
  docs/architecture/adrs/adr-279-chord-writer-packaging.md
  docs/architecture/adrs/adr-280-chord-writer-project-model.md
  docs/architecture/adrs/adr-281-chord-writer-embedded-help.md
  docs/architecture/adrs/adr-282-play-to-test-tagging.md
  docs/architecture/adrs/adr-283-transcript-wrong-assertion.md
  docs/architecture/adrs/adr-284-chord-writer-publishing.md
  docs/architecture/adrs/adr-285-chord-writer-asset-management.md
  docs/architecture/adrs/adr-286-web-template-visual-editing.md
  docs/architecture/adrs/adr-287-transcript-fenced-payloads.md
  docs/context/session-20260727-2100-main.md
  docs/design/template-dsl/design.md
Due: prettier --write

feat(ide,repokit): ADR-279 Phase 1 Chord Writer rebrand; fix fresh-clone build bootstrap
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  docs/architecture/adrs/adr-258-ide-chord-authoring-environment.md
  docs/context/.current-plan
  docs/context/archive/session-20260727-1030-main.md
  docs/context/session-20260728-0026-main.md
  docs/work/adr-279-chord-writer-packaging/plan.md
  packages/sharpee/docs/genai-api/lang.md
  stories/dungeo/src/version.ts
  tools/ide/SharpeeIDE/AppDelegate.swift
  tools/ide/SharpeeIDE/AppIdentity.swift
  tools/ide/SharpeeIDE/Compose/ChordVersionCheck.swift
  tools/ide/SharpeeIDE/MainWindow.swift
  tools/ide/SharpeeIDE/Menus/MenuBuilder.swift
  tools/ide/SharpeeIDE/Persistence/DefaultsMigration.swift
  tools/ide/SharpeeIDETests/AppIdentityTests.swift
  tools/ide/SharpeeIDETests/ChordVersionCheckTests.swift
  tools/ide/SharpeeIDETests/DefaultsMigrationTests.swift
  tools/ide/project.yml
  tools/repokit/src/commands/browser.ts
  tools/repokit/src/commands/clean.test.ts
  tools/repokit/src/commands/clean.ts
  tools/repokit/src/commands/ifid.ts
  tools/repokit/src/commands/playground.ts
  tools/repokit/src/repo.test.ts
  tools/repokit/src/repo.ts
Due: eslint --fix, prettier --write

feat(transcript-tester): ADR-287 fenced literal payloads, all 3 phases complete
  docs/context/.current-plan
  docs/context/session-20260728-0643-main.md
  docs/reference/transcript-testing.md
  docs/work/adr-287-transcript-fenced-payloads/adr-282-serializer-handoff.md
  docs/work/adr-287-transcript-fenced-payloads/plan.md
  packages/devkit/tests/test-json.test.ts
  packages/sharpee/docs/genai-api/index.md
  packages/sharpee/docs/genai-api/tooling.md
  packages/transcript-tester/src/parser.ts
  packages/transcript-tester/src/reporter.ts
  packages/transcript-tester/src/runner.ts
  packages/transcript-tester/src/types.ts
  packages/transcript-tester/tests/__snapshots__/parse-baseline.test.ts.snap
  packages/transcript-tester/tests/fenced-payloads.test.ts
  packages/transcript-tester/tests/fenced-reporter.test.ts
  packages/transcript-tester/tests/fenced-runner.test.ts
  packages/transcript-tester/tests/parse-baseline.test.ts
  stories/dungeo/src/version.ts
  stories/dungeo/tests/transcripts/adr-287-fenced-literals.transcript
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md})
