Repository ChicagoDave/sharpee: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md}": [
    "prettier --write"
  ]
}

fix(platform-browser): give first non-banner paragraph its top margin
  docs/context/session-20260817-2358-feat-adr-320-implementation.md
  packages/platform-browser/styles/base.css
  packages/platform-browser/tests/channels/prompt-status-info.test.ts
Due: eslint --fix, prettier --write

docs: amend ADR-320 acceptance audit, dispose two stale plans
  docs/context/session-20260817-2358-feat-adr-320-implementation.md
  docs/work/adr-282-play-to-test/plan.md
  docs/work/archive/adr-280-chord-writer-project-model/plan.md
  docs/work/archive/adr-320-conversation/acceptance-audit.md
  docs/work/archive/live-derived-state/plan.md
Due: prettier --write

fix: regenerate pnpm-lock.yaml for @sharpee/if-domain workspace links
  pnpm-lock.yaml
Due: none

fix(ci): build ESM target so vitest can resolve dist-esm/ packages
  .github/workflows/build-platforms.yml
Due: none

fix(ci): derive vitest workspace aliases instead of building dist-esm
  .github/workflows/build-platforms.yml
  docs/context/archive/session-20260817-1500-feat-adr-320-implementation.md
  packages/bootstrap/vitest.config.ts
  packages/branch-tester/vitest.config.ts
  packages/channel-service/vitest.config.ts
  packages/character/vitest.config.ts
  packages/chord/vitest.config.ts
  packages/core/vitest.config.ts
  packages/engine/vitest.config.ts
  packages/event-processor/vitest.config.ts
  packages/extensions/hunger/vitest.config.ts
  packages/extensions/scoring/vitest.config.ts
  packages/extensions/testing/vitest.config.ts
  packages/helpers/vitest.config.ts
  packages/ide-protocol/vitest.config.ts
  packages/lang-en-us/vitest.config.ts
  packages/media/vitest.config.ts
  packages/parser-en-us/vitest.config.ts
  packages/platform-browser/vitest.config.ts
  packages/plugins/vitest.config.ts
  packages/queries/vitest.config.ts
  packages/stdlib/vitest.config.ts
  packages/story-loader/vitest.config.ts
  packages/story-runtime-baseline/vitest.config.ts
  packages/transcript-tester/vitest.config.ts
  packages/world-model/vitest.config.ts
  tools/ide/project.yml
  vitest.shared.ts
Due: eslint --fix, prettier --write

fix(repokit): make ESM build pass whole-tree and default-on
  .github/workflows/build-platforms.yml
  tools/repokit/src/commands/build.test.ts
  tools/repokit/src/commands/build.ts
Due: eslint --fix, prettier --write

docs: session summary for Sharpee 5.1.0 / Chord 3.3.0 release
  docs/context/session-20260818-0336-fix-ci-esm-target.md
  stories/dungeo/src/version.ts
Due: eslint --fix, prettier --write

fix(ide,bootstrap): repair Chord Writer release pipeline; fix GH #280 unclaimable opening card
  docs/context/.current-plan
  docs/work/archive/chord-writer-per-arch-release/plan.md
  docs/work/cc/primer.md
  docs/work/opening-card-unclaimable-fix/plan.md
  packages/bootstrap/src/assemble-channels.test.ts
  packages/bootstrap/src/index.ts
  packages/branch-tester/tests/auto-assertion.test.ts
  tools/ide/SharpeeIDE/Resources/testing-surface/surface.js
  tools/ide/direct-dist.md
  tools/ide/package.sh
  tools/ide/release-all.sh
  tools/ide/sparkle/make-update.sh
  tools/ide/web/testing-surface/src/main.ts
  tools/ide/web/testing-surface/src/model.ts
  tools/ide/web/testing-surface/tests/model.test.ts
Due: eslint --fix, prettier --write

chore(release): patch bump Sharpee 5.1.1, Chord Writer 1.3.1
  packages/bootstrap/package.json
  packages/branch-tester/package.json
  packages/channel-service/package.json
  packages/character/package.json
  packages/chord/package.json
  packages/core/package.json
  packages/devkit/package.json
  packages/engine/package.json
  packages/event-processor/package.json
  packages/extensions/basic-combat/package.json
  packages/extensions/hunger/package.json
  packages/extensions/scoring/package.json
  packages/extensions/testing/package.json
  packages/helpers/package.json
  packages/ide-protocol/package.json
  packages/if-domain/package.json
  packages/if-services/package.json
  packages/lang-en-us/package.json
  packages/media/package.json
  packages/parser-en-us/package.json
  packages/platform-browser/package.json
  packages/plugin-npc/package.json
  packages/plugin-scheduler/package.json
  packages/plugin-state-machine/package.json
  packages/plugins/package.json
  packages/queries/package.json
  packages/sharpee/package.json
  packages/stdlib/package.json
  packages/stdlib/src/actions/standard/version/engine-version.ts
  packages/story-loader/package.json
  packages/story-runtime-baseline/package.json
  packages/text-blocks/package.json
  packages/transcript-tester/package.json
  packages/world-model/package.json
  stories/dungeo/package.json
  stories/dungeo/src/version.ts
  tools/ide/project.yml
Due: eslint --fix, prettier --write

fix(ide,website): arch-scope Sparkle download prefix; derive docs-rail version badges
  branch-stories/ides-of-march/ides-of-march.tests.json
  docs/context/session-20260818-0336-fix-ci-esm-target.md
  docs/work/opening-card-unclaimable-fix/plan.md
  packages/sharpee/docs/genai-api/index.md
  tools/ide/release-all.sh
  tools/ide/sparkle/make-update.sh
  website/package.json
  website/scripts/sync-versions.mjs
  website/src/lib/nav.ts
  website/src/lib/versions.json
Due: eslint --fix, prettier --write

docs: correct session summary header (duration, superseded status block)
  docs/context/session-20260818-0336-fix-ci-esm-target.md
Due: prettier --write

fix(website): derive Chord Writer/Sharpee/Chord versions, stop hand-typing them
  website/scripts/sync-versions.mjs
  website/src/app/chord-writer/content.mdx
  website/src/app/chord-writer/download/content.mdx
  website/src/components/download-card.tsx
  website/src/components/status-bar-example.tsx
  website/src/lib/versions.json
  website/src/mdx-components.tsx
Due: eslint --fix, prettier --write

docs: close session summary — Sharpee 5.1.1 published, Chord Writer 1.3.1 live
  docs/context/session-20260818-0336-fix-ci-esm-target.md
Due: prettier --write

docs: close and archive opening-card-unclaimable-fix plan
  docs/context/.current-plan
  docs/context/archive/session-20260817-1525-feat-adr-320-implementation.md
  docs/context/session-20260819-0126-main.md
  docs/work/archive/opening-card-unclaimable-fix/plan.md
Due: prettier --write

feat: add ADR-321 world index and Phase 1 loader-semantics package
  docs/architecture/adrs/adr-093-i18n-entity-vocabulary.md
  docs/architecture/adrs/adr-131-automated-world-explorer.md
  docs/architecture/adrs/adr-321-world-index.md
  docs/context/.current-plan
  docs/context/archive/session-20260817-1837-feat-adr-320-implementation.md
  docs/context/session-20260819-0129-feat-adr-321-world-index.md
  docs/work/explorer/world-index-mock.html
  docs/work/explorer/world-index.js
  docs/work/world-index/plan.md
  packages/world-index/package.json
  packages/world-index/src/index.ts
  packages/world-index/src/loader-semantics.ts
  packages/world-index/src/story.ts
  packages/world-index/tests/loader-semantics.test.ts
  packages/world-index/tsconfig.esm.json
  packages/world-index/tsconfig.json
  packages/world-index/vitest.config.ts
  pnpm-lock.yaml
  ts-forge.config.json
Due: eslint --fix, prettier --write

feat: world-index Phases 2-4 — map/reach derivation, incomplete detection, subprocess contract
  docs/context/archive/session-20260817-2115-feat-adr-320-implementation.md
  docs/context/session-20260819-0329-feat-adr-321-world-index.md
  docs/work/world-index/plan.md
  packages/world-index/package.json
  packages/world-index/src/cli.ts
  packages/world-index/src/conditions.ts
  packages/world-index/src/containment.ts
  packages/world-index/src/document.ts
  packages/world-index/src/incomplete.ts
  packages/world-index/src/index.ts
  packages/world-index/src/loader-semantics.ts
  packages/world-index/src/map.ts
  packages/world-index/src/reach.ts
  packages/world-index/src/statements.ts
  packages/world-index/src/story.ts
  packages/world-index/src/vocabulary.ts
  packages/world-index/tests/cli.test.ts
  packages/world-index/tests/corpus.ts
  packages/world-index/tests/incomplete.test.ts
  packages/world-index/tests/loader-semantics.test.ts
  packages/world-index/tests/map.test.ts
  packages/world-index/tests/reach.test.ts
  packages/world-index/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

test(world-index): synthetic corpus + scale timing, keep full analysis (AC-8)
  docs/context/archive/session-20260817-2358-feat-adr-320-implementation.md
  docs/context/session-20260819-0414-feat-adr-321-world-index.md
  docs/work/world-index/plan.md
  packages/world-index/package.json
  packages/world-index/tests/corpus-shape.test.ts
  packages/world-index/tests/corpus-shape.ts
  packages/world-index/tests/scale-timing.test.ts
  packages/world-index/tests/scale-timing.ts
  packages/world-index/tests/synthetic-corpus.test.ts
  packages/world-index/tests/synthetic-corpus.ts
Due: eslint --fix, prettier --write

feat(world-index): IDE World tab, devkit subcommand, prose+progression (Phase 8)
  docs/architecture/adrs/adr-321-world-index.md
  docs/context/archive/session-20260818-0336-fix-ci-esm-target.md
  docs/context/session-20260819-1745-feat-adr-321-world-index.md
  docs/work/world-index/plan.md
  packages/devkit/package.json
  packages/devkit/src/cli.ts
  packages/devkit/src/commands/world-index.test.ts
  packages/devkit/src/commands/world-index.ts
  packages/world-index/src/analyze.ts
  packages/world-index/src/cli.ts
  packages/world-index/src/document.ts
  packages/world-index/src/incomplete.ts
  packages/world-index/src/index.ts
  packages/world-index/src/prose.ts
  packages/world-index/src/reach.ts
  packages/world-index/tests/cli.test.ts
  packages/world-index/tests/incomplete.test.ts
  packages/world-index/tests/reach.test.ts
  pnpm-lock.yaml
  tools/ide/SharpeeIDE/Build/BuildController.swift
  tools/ide/SharpeeIDE/MainWindow.swift
  tools/ide/SharpeeIDE/Play/RightPanelViewController.swift
  tools/ide/SharpeeIDE/Resources/docs-tab/docs-index.json
  tools/ide/SharpeeIDE/Resources/docs-tab/pages/chord-writer.html
  tools/ide/SharpeeIDE/Theme.swift
  tools/ide/SharpeeIDE/World/WorldFindingTable.swift
  tools/ide/SharpeeIDE/World/WorldIncompleteView.swift
  tools/ide/SharpeeIDE/World/WorldIndexDocument.swift
  tools/ide/SharpeeIDE/World/WorldIndexRunner.swift
  tools/ide/SharpeeIDE/World/WorldMapView.swift
  tools/ide/SharpeeIDE/World/WorldReachView.swift
  tools/ide/SharpeeIDE/World/WorldView.swift
  tools/ide/SharpeeIDETests/WorldIndexTests.swift
  tools/ide/web/docs-tab/build.mjs
  tools/ide/web/docs-tab/src/mdx.mjs
Due: eslint --fix, prettier --write

docs(world-index): add a phase-entry checklist — read the IR before drafting the prose
  docs/work/world-index/plan.md
Due: prettier --write

feat(world-index): mention roles + POS re-heading, fix IDE deadlock
  docs/architecture/adrs/adr-321-world-index.md
  docs/context/archive/session-20260819-0126-main.md
  docs/context/session-20260819-2123-feat-adr-321-world-index.md
  docs/context/test-error.txt
  docs/work/diagrams/text-logic.md
  docs/work/world-index/plan.md
  packages/world-index/src/document.ts
  packages/world-index/src/incomplete.ts
  packages/world-index/src/index.ts
  packages/world-index/src/loader-semantics.ts
  packages/world-index/src/roles.ts
  packages/world-index/src/vocabulary.ts
  packages/world-index/tests/loader-semantics.test.ts
  packages/world-index/tests/roles.test.ts
  packages/world-index/tests/vocabulary.test.ts
  tools/ide/SharpeeIDE/Build/DataBuffer.swift
  tools/ide/SharpeeIDE/Compose/ComposeRunner.swift
  tools/ide/SharpeeIDE/Project/IntrospectionRunner.swift
  tools/ide/SharpeeIDE/World/WorldIncompleteView.swift
  tools/ide/SharpeeIDE/World/WorldIndexDocument.swift
  tools/ide/SharpeeIDE/World/WorldIndexRunner.swift
  tools/ide/SharpeeIDE/World/WorldProseChunker.swift
  tools/ide/SharpeeIDE/World/WorldView.swift
  tools/ide/SharpeeIDETests/WorldIndexTests.swift
Due: eslint --fix, prettier --write

refactor(world): drop the explanation panel the cards replaced
  tools/ide/SharpeeIDE/World/WorldFindingExplanation.swift
  tools/ide/SharpeeIDE/World/WorldIncompleteView.swift
  tools/ide/SharpeeIDE/World/WorldView.swift
  tools/ide/non-physical-nouns.tsv
Due: none

feat(world-index): ADR-321 D13 unnamed-tool finding, close Phase 8
  docs/architecture/adrs/adr-321-world-index.md
  docs/context/archive/session-20260819-0329-feat-adr-321-world-index.md
  docs/context/session-20260820-0233-feat-adr-321-world-index.md
  docs/work/world-index/plan.md
  packages/devkit/src/commands/world-index.test.ts
  packages/world-index/src/document.ts
  packages/world-index/src/incomplete.ts
  packages/world-index/src/index.ts
  packages/world-index/src/unnamed.ts
  packages/world-index/tests/unnamed.test.ts
  tools/ide/SharpeeIDE/World/WorldIndexDocument.swift
  tools/ide/SharpeeIDE/World/WorldReachView.swift
  tools/ide/SharpeeIDE/World/WorldView.swift
  tools/ide/SharpeeIDETests/WorldIndexTests.swift
Due: eslint --fix, prettier --write

docs: add ADR-322 umbrella, supersede ADR-303, close world-index plan
  branch-stories/fernhill/fernhill.story
  branch-stories/fernhill/fernhill.tests.json
  branch-stories/fernhill/fernhill.world-ignore.json
  docs/architecture/adrs/adr-294-golden-transcripts-tester-rebuild.md
  docs/architecture/adrs/adr-303-convergent-paths-and-unwinnable-states.md
  docs/architecture/adrs/adr-322-state-space-analysis-umbrella.md
  docs/context/.current-plan
  docs/context/archive/session-20260819-0414-feat-adr-321-world-index.md
  docs/context/session-20260820-0312-feat-adr-321-world-index.md
  docs/proposals/state-space-analysis.md
  docs/work/archive/world-index/plan.md
Due: prettier --write

docs(adr-322): accept the state-space umbrella, add Amendment 1 (D11-D13)
  docs/architecture/adrs/adr-131-automated-world-explorer.md
  docs/architecture/adrs/adr-322-state-space-analysis-umbrella.md
  docs/context/archive/session-20260819-1745-feat-adr-321-world-index.md
  docs/context/session-20260820-2207-feat-adr-321-world-index.md
  docs/proposals/state-space-analysis.md
Due: prettier --write

docs(adr-323): accept deferred narration as a prose-pipeline primitive
  docs/architecture/adrs/adr-323-deferred-narration.md
  docs/context/archive/session-20260819-2123-feat-adr-321-world-index.md
  docs/context/session-20260821-0218-feat-adr-321-world-index.md
Due: prettier --write

feat(secret-letter-port): measure the world, settle scoping, scaffold the story
  .devarch/descriptor.json
  branch-stories/secret-letter/README.md
  branch-stories/secret-letter/secret-letter.config.json
  branch-stories/secret-letter/secret-letter.recipe.json
  branch-stories/secret-letter/secret-letter.story
  branch-stories/secret-letter/secret-letter.tests.json
  branch-stories/secret-letter/secret-letter.world-ignore.json
  docs/context/archive/session-20260820-0233-feat-adr-321-world-index.md
  docs/context/session-20260821-0443-feat-adr-321-world-index.md
  docs/proposals/secret-letter-port.md
  docs/references/README.md
  docs/references/textfyre/secretletter/INVENTORY.md
  docs/references/textfyre/secretletter/README.md
  docs/references/textfyre/secretletter/testing/README.md
  docs/references/textfyre/secretletter/testing/SecLet-EE07.txt
  docs/references/textfyre/secretletter/testing/SecLet-EE08.txt
  docs/references/textfyre/secretletter/testing/The Secret Letter - Jacqueline - 080101.txt
  docs/references/textfyre/secretletter/testing/The Secret Letter r14.txt
  docs/references/textfyre/secretletter/testing/sandlerbug.txt
  docs/work/secret-letter-port/plan.md
Due: prettier --write

docs(secret-letter-port): capture retarget vision, add scale watch list, replan to 11 phases
  docs/context/archive/session-20260820-0312-feat-adr-321-world-index.md
  docs/context/session-20260821-1109-feat-adr-321-world-index.md
  docs/work/secret-letter-port/plan.md
  docs/work/secret-letter-port/vision.md
  docs/work/secret-letter-port/watch-list.md
Due: prettier --write

docs(secret-letter-port): fix plan-review findings, retire dead branch-tree API call, correct transcript-testing doc
  docs/architecture/adrs/adr-322-state-space-analysis-umbrella.md
  docs/context/archive/session-20260820-2207-feat-adr-321-world-index.md
  docs/context/session-20260821-1512-feat-adr-321-world-index.md
  docs/core-concepts/transcript-testing.md
  docs/proposals/secret-letter-port.md
  docs/work/secret-letter-port/plan.md
  scripts/bundle-entry.js
Due: prettier --write

docs(secret-letter-port): settle the Vedd as an idiom layer, withdraw the prose clearance, gate the Shadow corpus
  CLAUDE.md
  branch-stories/tree-npm-fixture/package.json
  branch-stories/tree-npm-fixture/src/index.ts
  branch-stories/tree-npm-fixture/tests/transcripts/gallery.transcript
  branch-stories/tree-npm-fixture/tests/transcripts/lamp.transcript
  branch-stories/tree-npm-fixture/tests/transcripts/spine.transcript
  branch-stories/tree-npm-fixture/tsconfig.json
  docs/context/archive/session-20260821-0218-feat-adr-321-world-index.md
  docs/context/session-20260821-1552-feat-adr-321-world-index.md
  docs/proposals/secret-letter-port.md
  docs/references/textfyre/shadow/README.md
  docs/references/textfyre/shadow/source/story.ni
  docs/work/secret-letter-port/plan.md
  docs/work/secret-letter-port/vision.md
Due: eslint --fix, prettier --write

docs(secret-letter-port): reframe Phase 4 as a guided conversation, land Chapter 1 decisions
  docs/context/archive/session-20260821-1030-feat-adr-321-world-index.md
  docs/context/session-20260822-0100-feat-adr-321-world-index.md
  docs/proposals/secret-letter-port.md
  docs/work/secret-letter-port/change-document.md
  docs/work/secret-letter-port/plan.md
  docs/work/secret-letter-port/vision.md
Due: prettier --write

feat(secret-letter): build Chapter 1's market, answer the P-8 spike
  branch-stories/secret-letter/secret-letter.story
  docs/context/archive/session-20260821-0443-feat-adr-321-world-index.md
  docs/context/session-20260822-0200-feat-adr-321-world-index.md
  docs/proposals/secret-letter-port.md
  docs/work/secret-letter-port/change-document.md
  docs/work/secret-letter-port/plan.md
  docs/work/secret-letter-port/vision.md
Due: prettier --write

feat(secret-letter): Teisha's calm-walk conversation, Chapter 1 test-covered
  branch-stories/secret-letter/secret-letter.story
  branch-stories/secret-letter/secret-letter.tests.json
  docs/context/session-20260822-0200-feat-adr-321-world-index.md
Due: prettier --write

feat(secret-letter): furnish the fruit stall
  branch-stories/secret-letter/secret-letter.story
  branch-stories/secret-letter/secret-letter.tests.json
  docs/context/session-20260822-0200-feat-adr-321-world-index.md
Due: prettier --write

docs(secret-letter): list every deviation from Gentry's words in the story header
  branch-stories/secret-letter/secret-letter.story
Due: none

docs(context): finalize session 83c2f3 — Chapter 1 built and test-covered
  docs/context/session-20260822-0200-feat-adr-321-world-index.md
Due: prettier --write

refactor(secret-letter): peering layer becomes an import; add ADR-324 on IDE error surfaces
  branch-stories/secret-letter/peering.chord
  branch-stories/secret-letter/secret-letter.story
  docs/architecture/adrs/adr-324-ide-error-surfaces.md
  docs/context/archive/session-20260821-1109-feat-adr-321-world-index.md
  docs/context/session-20260822-0644-feat-adr-321-world-index.md
Due: prettier --write
