Repository ChicagoDave/sharpee: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md}": [
    "prettier --write"
  ]
}

fix: Force sequential builds with --concurrency=1
  .github/workflows/build-platforms.yml
Due: none

fix: Add .npmrc for consistent pnpm behavior in CI
  .npmrc
Due: none

fix: Remove hoisted mode, use standard pnpm linking
  .npmrc
Due: none

fix: Revert to explicit pnpm build commands in correct order
  .github/workflows/build-platforms.yml
Due: none

debug: Add symlink check and disable Turbo telemetry/cache
  .github/workflows/build-platforms.yml
Due: none

fix: Exclude stories and templates from build:all script
  package.json
Due: prettier --write

fix: Update CI workflow to match Turbo best practices
  .github/workflows/build-platforms.yml
  docs/ci-build/ci-help.txt
  turbo.json
Due: prettier --write

fix: Re-add --ignore-scripts to pnpm install
  .github/workflows/build-platforms.yml
Due: none

fix: Change concurrency to string type in turbo.json
  turbo.json
Due: prettier --write

fix: Use pnpm 10.13.1 in CI to match local environment
  .github/workflows/build-platforms.yml
  .npmrc
  .turbo/cache/3ee324216079ff7d-meta.json
  .turbo/cache/3ee324216079ff7d.tar.zst
  .turbo/cache/61bfc80c7b2fd363-meta.json
  .turbo/cache/61bfc80c7b2fd363.tar.zst
Due: prettier --write

chore: Add .turbo to gitignore
  .gitignore
  .turbo/cache/3ee324216079ff7d-meta.json
  .turbo/cache/3ee324216079ff7d.tar.zst
  .turbo/cache/61bfc80c7b2fd363-meta.json
  .turbo/cache/61bfc80c7b2fd363.tar.zst
Due: prettier --write

fix: Use explicit build order instead of Turbo for CI
  .github/workflows/build-platforms.yml
  .turbo/cache/3ee324216079ff7d-meta.json
  .turbo/cache/3ee324216079ff7d.tar.zst
  .turbo/cache/61bfc80c7b2fd363-meta.json
  .turbo/cache/61bfc80c7b2fd363.tar.zst
  package.json
Due: prettier --write

fix build order
  .github/workflows/build-platforms.yml
Due: none

fix: Update platform-test package for I-prefix interfaces
  packages/platforms/test/src/index.ts
Due: eslint --fix, prettier --write

fix: Make test steps non-failing in CI
  .github/workflows/build-platforms.yml
Due: none

docs: Add session summary for successful CI/CD fix and refactoring completion
  docs/context/end-session-20250817-0110.md
Due: prettier --write

test: Clean up debug console.log statements from test files
  .architecture-metrics.json
  docs/blog/extensions-interfaces-semantics.md
  docs/context/end-session-20250815-0250.md
  docs/context/end-session-20250816-0341.md
  docs/context/end-session-20250816-0413.md
  docs/context/end-session-20250817-1915.md
  docs/context/end-session-20250817-2000.md
  docs/context/end-session-20250817-2052.md
  docs/context/end-session-20250818-0200.md
  docs/context/end-session-20250818-2034.md
  docs/work/interface-refactor-checklist.md
  packages/core/.vitest-results.json
  packages/engine/.vitest-results.json
  packages/engine/tests/debug-xyzzy.test.ts
  packages/engine/tests/parser-extension.test.ts
  packages/engine/tests/verb-structure.test.ts
  packages/event-processor/.vitest-results.json
  packages/lang-en-us/.vitest-results.json
  packages/parser-en-us/.vitest-results.json
  packages/parser-en-us/src/english-grammar-engine.ts
  packages/parser-en-us/src/semantic-grammar-rules.ts
  packages/parser-en-us/src/semantic-parser-engine.ts
  packages/parser-en-us/tests/parser-integration.test.ts
  packages/parser-en-us/tests/semantic-parsing.test.ts
  packages/stdlib/.vitest-results.json
  packages/text-services/.vitest-results.json
  packages/world-model/.vitest-results.json
Due: eslint --fix, prettier --write

docs: Add design for dynamic states and varying descriptions
  docs/architecture/design/dynamic-state-and-descriptions.md
  docs/architecture/design/simple-state-approach.md
  docs/architecture/design/state-trait-extension.md
  docs/context/end-session-20250819-1927.md
Due: prettier --write

chore: Clean up Jest remnants and fix code issues
  build-test-all.sh
  docs/actions/package.json
  docs/architecture/adrs/adr-055-npm-publishing.md
  docs/architecture/adrs/adr-056-story-testing-framework.md
  docs/assessment/language-independence-violations.md
  docs/context/end-session-20250819-0043.md
  docs/context/end-session-20250819-1845.md
  docs/work/jest-mitigation.md
  docs/work/jest-removal-checklist.md
  packages/client-core/package.json
  packages/clients/electron/package.json
  packages/clients/react/package.json
  packages/core/jest.config.js.old
  packages/core/src/extensions/package.json
  packages/core/tests/jest-matchers.ts.old
  packages/engine/jest.config.js.old
  packages/engine/src/command-executor.ts
  packages/event-processor/jest.config.js.old
  packages/extensions/conversation/package.json
  packages/forge/package.json
  packages/lang-en-us/jest.config.js.old
  packages/parser-en-us/jest.config.js.old
  packages/stdlib/jest.config.ci.js
  packages/stdlib/jest.config.js.old
  packages/stdlib/src/actions/standard/reading/reading.ts
  packages/stdlib/src/validation/command-validator.ts
  packages/stdlib/tests/unit/scope/witness-system.test.ts
  packages/text-service-template/tests/platform-events.test.ts
  packages/world-model/src/commands/validated-command.ts
Due: eslint --fix, prettier --write

docs: Add alpha warnings and fix broken links across documentation
  README.md
  docs/README.md
  docs/actions/README.md
  docs/api/README.md
  docs/architecture/README.md
  docs/development/README.md
  docs/extensions/README.md
  docs/features/README.md
  docs/getting-started/authors/README.md
  docs/getting-started/developers/extension-development-guide.md
  docs/platform/README.md
Due: prettier --write

chore: Archive context files
  docs/context/archived/blood-magic-complete-20250819.md
  docs/context/archived/blood-magic-progress-20250819.md
  docs/context/archived/command-interface-decision.md
  docs/context/archived/command-interface-requirements.md
  docs/context/archived/documentation-progress-20250819.md
  docs/context/archived/dropping-semantic-refactor-spec.md
  docs/context/archived/end-session-2025-08-11-1250.md
  docs/context/archived/end-session-2025-08-16-0341.md
  docs/context/archived/end-session-2025-08-16-0413.md
  docs/context/archived/end-session-2025-08-17-1915.md
  docs/context/archived/end-session-2025-08-17-2000.md
  docs/context/archived/end-session-2025-08-17-2052.md
  docs/context/archived/end-session-20250815-0250.md
  docs/context/archived/end-session-20250816-0341.md
  docs/context/archived/end-session-20250816-0413.md
  docs/context/archived/end-session-20250817-0110.md
  docs/context/archived/end-session-20250817-1915.md
  docs/context/archived/end-session-20250817-2000.md
  docs/context/archived/end-session-20250817-2052.md
  docs/context/archived/end-session-20250818-0200.md
  docs/context/archived/end-session-20250818-2019.md
  docs/context/archived/end-session-20250818-2034.md
  docs/context/archived/end-session-20250818-2308.md
  docs/context/archived/end-session-20250818-2340.md
  docs/context/archived/flattening-approach-cons.md
  docs/context/archived/hardest-action-analysis.md
  docs/context/archived/interface-architecture-analysis.md
  docs/context/archived/parsed-command-usage-analysis.md
  docs/context/archived/phase-3-remaining-work.md
  docs/context/archived/phase2-progress-2025-08-16.md
  docs/context/archived/semantic-constants-approach.md
  docs/context/archived/semantic-grammar-implementation.md
  docs/context/archived/semantic-grammar-rules.md
  docs/context/archived/semantic-guinea-pig-analysis.md
  docs/context/archived/semantic-inserting-comparison.md
  docs/context/archived/three-phase-pipeline.md
Due: prettier --write

docs: Update architecture diagram to show stdlib and extensions side by side
  README.md
Due: prettier --write

docs: Updated to remove extension subdirectory
  README.md
Due: prettier --write

docs: Create comprehensive ADR index with all 56 ADRs categorized
  docs/architecture/adrs/README.md
Due: prettier --write

docs: Add Forge fluent API sample for Cloak of Darkness
  docs/design/cloak-forge-sample.md
Due: prettier --write

fix: Update Forge API sample to properly use Text Service for messages
  docs/design/cloak-forge-sample.md
Due: prettier --write

fix: Simplify Forge API to properly reflect Text Service architecture
  docs/design/cloak-forge-sample.md
Due: prettier --write

feat: Add text service architecture design and atomic events assessment
  docs/assessment/atomic-events-analysis.md
  docs/assessment/atomic-events-with-providers.md
  docs/assessment/core-data-assessment.md
  docs/design/text-service-logic.md
  docs/work/atomic-events-checklist.md
  docs/work/atomic-events-refactor-plan.md
  packages/text-services/src/index.ts
  packages/text-services/src/standard-text-service.ts
Due: eslint --fix, prettier --write

docs: Update atomic events plan to use unknown type and remove legacy properties
  docs/assessment/any-vs-unknown-analysis.md
  docs/assessment/core-data-assessment.md
  docs/work/atomic-events-checklist.md
  docs/work/atomic-events-refactor-plan.md
Due: prettier --write

feat: Complete Phase 1 of atomic events refactor
  docs/context/end-session-20250820-2223.md
  packages/core/src/events/builders/ActionEventBuilder.ts
  packages/core/src/events/builders/EntitySnapshotBuilder.ts
  packages/core/src/events/builders/EventBuilder.ts
  packages/core/src/events/builders/RoomDescriptionEventBuilder.ts
  packages/core/src/events/builders/index.ts
  packages/core/src/events/event-system.ts
  packages/core/src/events/index.ts
  packages/core/src/events/types.ts
  packages/core/src/query/query-manager.ts
  packages/core/src/rules/helpers.ts
  packages/core/tests/events/event-system.test.ts
  packages/core/tests/integration/event-rule-integration.test.ts
  packages/core/tests/rules/simple-rule-system.test.ts
  packages/engine/src/game-engine.ts
  packages/stdlib/src/actions/standard/closing/closing-event-data.ts
  packages/stdlib/src/actions/standard/looking/looking.ts
  packages/stdlib/src/scope/witness-system.ts
  packages/stdlib/tests/test-utils/index.ts
  packages/stdlib/tests/unit/actions/taking-golden.test.ts
  packages/text-service-template/src/index.ts
  packages/text-services/src/cli-events-text-service.ts
  packages/text-services/src/template-text-service.ts
Due: eslint --fix, prettier --write

docs: Add ADRs for action architecture and rules system
  docs/architecture/adrs/adr-057-before-after-rules.md
  docs/architecture/adrs/adr-058-action-report-function.md
  docs/architecture/adrs/adr-059-action-customization-boundaries.md
  docs/context/end-session-20250822-0104.md
  docs/work/atomic-events-checklist.md
  docs/work/atomic-events-refactor-plan.md
Due: prettier --write

feat: Complete Phase 3.5 - Refactor CommandExecutor to thin orchestrator
  docs/context/session-20250823-phase35.md
  docs/work/atomic-events-checklist.md
  migrate-actions-error-handling.sh
  packages/engine/src/command-executor-migration.ts
  packages/engine/src/command-executor-refactored.ts
  packages/stdlib/src/actions/enhanced-types.ts
  packages/stdlib/src/actions/standard/closing/closing.ts
  packages/stdlib/src/actions/standard/dropping/dropping.ts
  packages/stdlib/src/actions/standard/examining/examining.ts
  packages/stdlib/src/actions/standard/going/going.ts
  packages/stdlib/src/actions/standard/inserting/inserting.ts
  packages/stdlib/src/actions/standard/looking/looking.ts
  packages/stdlib/src/actions/standard/opening/opening.ts
  packages/stdlib/src/actions/standard/putting/putting.ts
  packages/stdlib/src/actions/standard/removing/removing.ts
  packages/stdlib/src/actions/standard/taking/taking.ts
  update-all-actions-error-handling.sh
Due: eslint --fix, prettier --write

feat: Complete Phase 3.2 - Add entity snapshots to validation errors
  docs/architecture/adr-061-snapshot-code-smell.md
  docs/context/end-session-20250823-1852.md
  docs/context/session-20250823-phase32.md
  docs/work/action-data-refactor-checklist.md
  docs/work/atomic-events-checklist.md
  packages/stdlib/src/actions/standard/closing/closing.ts
  packages/stdlib/src/actions/standard/dropping/dropping.ts
  packages/stdlib/src/actions/standard/examining/examining.ts
  packages/stdlib/src/actions/standard/going/going.ts
  packages/stdlib/src/actions/standard/inserting/inserting.ts
  packages/stdlib/src/actions/standard/looking/looking.ts
  packages/stdlib/src/actions/standard/opening/opening.ts
  packages/stdlib/src/actions/standard/putting/putting.ts
  packages/stdlib/src/actions/standard/removing/removing.ts
  packages/stdlib/src/actions/standard/taking/taking.ts
Due: eslint --fix, prettier --write

feat: Complete Phase 2 of action data refactor - migrate 10 actions to data builders
  docs/architecture/adrs/adr-062-direction-language-coupling.md
  docs/context/action-data-refactor-phase2-complete.md
  docs/context/end-session-20250823-2103.md
  docs/work/action-data-refactor-checklist.md
  packages/stdlib/src/actions/data-builder-types.ts
  packages/stdlib/src/actions/standard/closing/closing-data.ts
  packages/stdlib/src/actions/standard/closing/closing.ts
  packages/stdlib/src/actions/standard/dropping/dropping-data.ts
  packages/stdlib/src/actions/standard/dropping/dropping.ts
  packages/stdlib/src/actions/standard/examining/examining-data.ts
  packages/stdlib/src/actions/standard/examining/examining.ts
  packages/stdlib/src/actions/standard/going/going-data.ts
  packages/stdlib/src/actions/standard/going/going.ts
  packages/stdlib/src/actions/standard/inserting/inserting-data.ts
  packages/stdlib/src/actions/standard/inserting/inserting.ts
  packages/stdlib/src/actions/standard/looking/looking-data.ts
  packages/stdlib/src/actions/standard/looking/looking.ts
  packages/stdlib/src/actions/standard/opening/opening-data.ts
  packages/stdlib/src/actions/standard/opening/opening.ts
  packages/stdlib/src/actions/standard/putting/putting-data.ts
  packages/stdlib/src/actions/standard/putting/putting.ts
  packages/stdlib/src/actions/standard/removing/removing-data.ts
  packages/stdlib/src/actions/standard/removing/removing.ts
  packages/stdlib/src/actions/standard/taking/taking-data.ts
  packages/stdlib/src/actions/standard/taking/taking.ts
Due: eslint --fix, prettier --write

feat: Complete Phases 4-5 of atomic events refactor
  docs/work/atomic-events-checklist.md
  packages/event-processor/src/handlers/complex-manipulation.ts
  packages/event-processor/src/handlers/device/index.ts
  packages/event-processor/src/handlers/movement.ts
  packages/event-processor/src/handlers/observation/sensory.ts
  packages/text-services/src/cli-events-text-service.ts
  packages/text-services/src/standard-text-service.ts
  packages/text-services/tests/standard-text-service.test.ts
  stories/cloak-of-darkness/src/index.ts
Due: eslint --fix, prettier --write
