Repository ChicagoDave/sharpee: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

docs: session addendum — go-live assessment + ADR-233 gate drafted
  docs/context/session-20260717-0443-chord-foundations.md
Due: prettier --write

docs(adr-233): interview rulings (Q1/Q3, Q4 by fiat) + go-live plan + parity audit re-run (Phase 2)
  docs/architecture/adrs/adr-233-chord-go-live-gate.md
  docs/context/.current-plan
  docs/context/session-20260717-2102-chord-foundations.md
  docs/work/chord-go-live/plan.md
  docs/work/stdlib-reference/chord-availability-audit.md
Due: prettier --write

docs(adr-233): ACCEPTED — Q-2 ruled in-gate (extension surface); review staleness fixed; session close-out
  docs/architecture/adrs/adr-233-chord-go-live-gate.md
  docs/context/archive/session-20260716-1330-chord-foundations.md
  docs/context/session-20260717-2102-chord-foundations.md
  docs/work/chord-go-live/plan.md
Due: prettier --write

feat(chord): G1 mechanical shortlist closed — ratchet G1-G4, D1/D3 fixes, bare cut/dig grammar, turning lifecycle (ADR-233 Phase 3)
  checkpoints/after-leaflet.json
  docs/architecture/chord-grammar-changes.md
  docs/context/archive/session-20260716-1500-chord-foundations.md
  docs/context/session-20260717-2124-chord-foundations.md
  docs/work/chord-go-live/plan.md
  docs/work/stdlib-reference/chord-availability-audit.md
  packages/chord/src/catalog.ts
  packages/parser-en-us/src/grammar.ts
  packages/sharpee/docs/genai-api/index.md
  packages/sharpee/docs/genai-api/stdlib.md
  packages/stdlib/src/actions/lifecycle/registry.ts
  packages/stdlib/src/actions/standard/turning/index.ts
  packages/stdlib/src/actions/standard/turning/turning-messages.ts
  packages/stdlib/src/actions/standard/turning/turning.ts
  packages/stdlib/tests/unit/actions/lifecycle-registry.test.ts
  packages/stdlib/tests/unit/actions/turning.test.ts
  packages/story-loader/src/loader.ts
  packages/story-loader/tests/quickwin-adjectives.test.ts
Due: eslint --fix, prettier --write

docs(adr): ADR-234 door loading + ADR-235 extension-surface disposition ACCEPTED
  docs/architecture/adrs/adr-233-chord-go-live-gate.md
  docs/architecture/adrs/adr-234-chord-door-loading.md
  docs/architecture/adrs/adr-235-extension-surface-golive-disposition.md
  docs/context/session-20260717-2124-chord-foundations.md
  docs/work/chord-go-live/plan.md
Due: prettier --write

docs(adr): ADR-236 chord regions ACCEPTED — region kind noun, containing membership, region/story daemons, crossing reactions
  docs/architecture/adrs/adr-233-chord-go-live-gate.md
  docs/architecture/adrs/adr-236-chord-regions.md
  docs/context/archive/session-20260716-2113-chord-foundations.md
  docs/context/session-20260717-2301-chord-foundations.md
  docs/work/chord-go-live/plan.md
Due: prettier --write

feat(chord): ADR-236 regions shipped — region kind noun, containing membership+nesting, region/story daemons, crossing reactions (R1-R4)
  docs/architecture/adrs/adr-149-regions-and-scenes.md
  docs/architecture/chord-grammar-changes.md
  docs/context/session-20260717-2341-chord-foundations.md
  docs/reference/chord-grammar.md
  docs/reference/chord.ebnf
  docs/work/chord-go-live/plan.md
  docs/work/chord-regions/plan.md
  packages/chord/src/analyzer.ts
  packages/chord/src/ast.ts
  packages/chord/src/catalog.ts
  packages/chord/src/ir.ts
  packages/chord/src/parser.ts
  packages/chord/tests/__snapshots__/analyzer-each-package.test.ts.snap
  packages/chord/tests/__snapshots__/analyzer-phase-b.test.ts.snap
  packages/chord/tests/__snapshots__/analyzer.test.ts.snap
  packages/chord/tests/__snapshots__/parser-each-package.test.ts.snap
  packages/chord/tests/__snapshots__/parser-phase-b.test.ts.snap
  packages/chord/tests/__snapshots__/parser.test.ts.snap
  packages/chord/tests/__snapshots__/zoo-phase-c-parse.test.ts.snap
  packages/chord/tests/analyzer-phase-b.test.ts
  packages/chord/tests/analyzer.test.ts
  packages/chord/tests/fixtures/region-forest.story
  packages/chord/tests/fixtures/region-nesting.story
  packages/chord/tests/region-membership.test.ts
  packages/chord/tests/story-daemon.test.ts
  packages/story-loader/src/event-contract.ts
  packages/story-loader/src/index.ts
  packages/story-loader/src/loader.ts
  packages/story-loader/src/runtime.ts
  packages/story-loader/tests/event-selector.test.ts
  packages/story-loader/tests/region-crossing.test.ts
  packages/story-loader/tests/region-daemon.test.ts
  packages/story-loader/tests/region-forest.test.ts
  packages/story-loader/tests/region-membership.test.ts
  packages/story-loader/tests/story-daemon.test.ts
Due: eslint --fix, prettier --write

docs(plan): ADR-215/216 combined implementation plan — 7 phases on ADR-235 S1→S3 backbone
  docs/context/.current-plan
  docs/work/chord-extension-surface/plan.md
Due: prettier --write

feat(chord): ADR-215/216 Phases 5-7 — media sugar + declared assets, custom channels, client-has capability predicate; extension surface COMPLETE
  docs/architecture/chord-grammar-changes.md
  docs/context/.current-plan
  docs/context/archive/session-20260716-2251-chord-foundations.md
  docs/context/session-20260717-2341-chord-foundations.md
  docs/reference/chord-grammar.md
  docs/reference/chord.ebnf
  docs/work/chord-extension-surface/plan.md
  docs/work/chord-go-live/plan.md
  docs/work/stdlib-reference/chord-availability-audit.md
  packages/chord/src/analyzer.ts
  packages/chord/src/ast.ts
  packages/chord/src/catalog.ts
  packages/chord/src/index.ts
  packages/chord/src/ir.ts
  packages/chord/src/parser.ts
  packages/chord/tests/__snapshots__/analyzer-each-package.test.ts.snap
  packages/chord/tests/__snapshots__/analyzer-phase-b.test.ts.snap
  packages/chord/tests/__snapshots__/analyzer.test.ts.snap
  packages/chord/tests/__snapshots__/zoo-phase-c-parse.test.ts.snap
  packages/chord/tests/channel-capability.test.ts
  packages/chord/tests/fixtures/compass.story
  packages/chord/tests/fixtures/gatehouse.story
  packages/chord/tests/fixtures/media-sugar.story
  packages/chord/tests/media-sugar.test.ts
  packages/engine/src/game-engine.ts
  packages/sharpee/docs/genai-api/engine.md
  packages/sharpee/docs/genai-api/index.md
  packages/story-loader/src/evaluator.ts
  packages/story-loader/src/loader.ts
  packages/story-loader/tests/channel-capability.test.ts
  packages/story-loader/tests/gatehouse.test.ts
  packages/story-loader/tests/manifest-conformance.test.ts
  packages/story-loader/tests/media-sugar.test.ts
Due: eslint --fix, prettier --write

feat(chord): player block composes like any entity (Gap-2 ruling) + four-gap dispositions
  docs/architecture/chord-grammar-changes.md
  docs/context/session-20260717-2341-chord-foundations.md
  packages/chord/src/analyzer.ts
  packages/chord/tests/fixtures/npc-behaviors.story
  packages/chord/tests/use-extensions.test.ts
  packages/story-loader/src/loader.ts
  packages/story-loader/tests/npc-behaviors.test.ts
Due: eslint --fix, prettier --write

feat(doors): ADR-234 Phases 1-3 — ADR-237 helpers unravel + `through` exit sugar + two-sided door presence (ADR-238)
  docs/architecture/adrs/adr-237-loader-helpers-boundary.md
  docs/architecture/adrs/adr-238-two-sided-door-presence.md
  docs/architecture/chord-grammar-changes.md
  docs/context/.current-plan
  docs/context/session-20260718-0230-chord-foundations.md
  docs/work/chord-door-loading/plan.md
  packages/chord/src/analyzer.ts
  packages/chord/src/ast.ts
  packages/chord/src/ir.ts
  packages/chord/src/parser.ts
  packages/chord/tests/__snapshots__/analyzer.test.ts.snap
  packages/chord/tests/__snapshots__/parser.test.ts.snap
  packages/chord/tests/__snapshots__/zoo-phase-c-parse.test.ts.snap
  packages/chord/tests/doors.test.ts
  packages/chord/tests/fixtures/door-basic.story
  packages/chord/tests/fixtures/door-redundant.story
  packages/helpers/src/builders/door.ts
  packages/helpers/tests/door-builder-parity.test.ts
  packages/sharpee/docs/genai-api/index.md
  packages/sharpee/docs/genai-api/world-model.md
  packages/story-loader/package.json
  packages/story-loader/src/loader.ts
  packages/story-loader/tests/door-actions.test.ts
  packages/story-loader/tests/door-loading.test.ts
  packages/world-model/src/world/AuthorModel.ts
  packages/world-model/src/world/VisibilityBehavior.ts
  packages/world-model/src/world/WorldModel.ts
  packages/world-model/tests/unit/world/connect-rooms-door.test.ts
Due: eslint --fix, prettier --write

feat(doors): ADR-234 Phases 4-5 — ratchet R3 keyless `with` config + closure; door workstream COMPLETE
  docs/architecture/chord-grammar-changes.md
  docs/context/.current-plan
  docs/context/archive/session-20260717-0443-chord-foundations.md
  docs/context/session-20260718-0230-chord-foundations.md
  docs/reference/chord-grammar.md
  docs/reference/chord.ebnf
  docs/work/chord-door-loading/plan.md
  docs/work/chord-go-live/plan.md
  docs/work/stdlib-reference/chord-availability-audit.md
  packages/chord/src/parser.ts
  packages/chord/tests/__snapshots__/zoo-phase-c-parse.test.ts.snap
  packages/chord/tests/doors.test.ts
  packages/chord/tests/fixtures/door-vignette.story
  packages/chord/tests/fixtures/zoo-phase-c.story
  packages/chord/tests/starts-state.test.ts
  packages/sharpee/docs/genai-api/index.md
  packages/story-loader/src/loader.ts
  packages/story-loader/tests/cuttable.test.ts
  packages/story-loader/tests/door-actions.test.ts
  packages/story-loader/tests/door-elegance.test.ts
  packages/story-loader/tests/lockable-key.test.ts
  packages/story-loader/tests/quickwin-adjectives.test.ts
  packages/story-loader/tests/starts-state.test.ts
  stories/friendly-zoo/zoo.story
Due: eslint --fix, prettier --write

docs(doors): ADR-233 G1 door line confirmed satisfied; ADR-220 plan archived (both David rulings)
  docs/architecture/adrs/adr-233-chord-go-live-gate.md
  docs/context/session-20260718-0230-chord-foundations.md
  docs/work/archive/chord-doors/plan.md
  docs/work/chord-door-loading/plan.md
  docs/work/chord-go-live/plan.md
Due: prettier --write

docs(topics): ADR-239 accepted+amended — `define topics` table block; implementation plan; tutorial pattern catalog
  docs/architecture/adrs/adr-239-chord-topic-conversation.md
  docs/context/.current-plan
  docs/context/session-20260718-0230-chord-foundations.md
  docs/work/chord-go-live/plan.md
  docs/work/chord-topics/plan.md
  docs/work/chord-tutorial-story/pattern-catalog.md
Due: prettier --write

feat(topics): ADR-239 Phase 1 — `define topics` table block, compile gates, ratchet row (comma alias ruling)
  docs/architecture/adrs/adr-239-chord-topic-conversation.md
  docs/architecture/chord-grammar-changes.md
  docs/context/archive/session-20260717-2102-chord-foundations.md
  docs/context/session-20260718-0501-chord-foundations.md
  docs/work/chord-topics/plan.md
  packages/chord/src/analyzer.ts
  packages/chord/src/ast.ts
  packages/chord/src/ir.ts
  packages/chord/src/parser.ts
  packages/chord/tests/__snapshots__/analyzer-each-package.test.ts.snap
  packages/chord/tests/__snapshots__/analyzer-phase-b.test.ts.snap
  packages/chord/tests/__snapshots__/analyzer.test.ts.snap
  packages/chord/tests/__snapshots__/zoo-phase-c-parse.test.ts.snap
  packages/chord/tests/topics.test.ts
  packages/ide-protocol/src/story-ir.ts
Due: eslint --fix, prettier --write

feat(topics): ADR-239 Phases 2-3 — seedData seam + topic-table runtime dispatch; audit clean 54/0/0; ADR-233 G1 ask/tell line confirmed SATISFIED
  docs/architecture/adrs/adr-233-chord-go-live-gate.md
  docs/context/.current-plan
  docs/context/session-20260718-0501-chord-foundations.md
  docs/reference/chord-grammar.md
  docs/reference/chord.ebnf
  docs/work/chord-go-live/plan.md
  docs/work/chord-topics/plan.md
  docs/work/stdlib-reference/chord-availability-audit.md
  packages/chord/src/analyzer.ts
  packages/chord/src/index.ts
  packages/chord/tests/fixtures/topic-basic.story
  packages/chord/tests/fixtures/topic-vignette.story
  packages/stdlib/src/actions/standard/asking/asking.ts
  packages/stdlib/src/actions/standard/telling/telling.ts
  packages/story-loader/src/runtime.ts
  packages/story-loader/tests/topic-dispatch.test.ts
  packages/story-loader/tests/topic-elegance.test.ts
Due: eslint --fix, prettier --write

feat(devkit): ADR-233 G2 SHIPPED — Chord-first author pipeline (init/build/test/play), in-browser compile per ruling, IDE IR artifact, clean-machine proof PASS
  docs/architecture/adrs/adr-233-chord-go-live-gate.md
  docs/context/session-20260718-0501-chord-foundations.md
  docs/work/chord-author-pipeline/plan.md
  docs/work/chord-author-pipeline/proof/g2-proof-run.log
  docs/work/chord-go-live/plan.md
  packages/devkit/src/cli.ts
  packages/devkit/src/commands/compose.ts
  packages/devkit/src/commands/play.ts
  packages/devkit/src/commands/test.test.ts
  packages/devkit/src/commands/test.ts
  packages/devkit/src/standalone/author-game.ts
  packages/devkit/src/standalone/browser-build.test.ts
  packages/devkit/src/standalone/build-browser.ts
  packages/devkit/src/standalone/build.ts
  packages/devkit/src/standalone/chord-build.test.ts
  packages/devkit/src/standalone/init-browser.ts
  packages/devkit/src/standalone/init.test.ts
  packages/devkit/src/standalone/init.ts
  packages/devkit/templates/browser/chord-browser-entry.ts.template
  packages/devkit/templates/story-chord/package.json.template
  packages/devkit/templates/story-chord/story.story.template
  scripts/g2-clean-machine-proof.mjs
  website/src/pages/docs/author-guide/creating-stories.mdx
  website/src/pages/docs/author-guide/testing.mdx
Due: eslint --fix, prettier --write

feat(tutorial+platform): Fernhill G3 phases 1-5 (254/254) + ADR-240 live derived state SHIPPED (evaluator registry; recompute deleted) + AuthorModel load placement
  docs/architecture/adrs/adr-240-live-derived-state.md
  docs/context/.current-plan
  docs/context/session-20260718-0501-chord-foundations.md
  docs/work/chord-tutorial-story/pattern-catalog.md
  docs/work/chord-tutorial-story/plan.md
  docs/work/chord-tutorial-story/story-design.md
  docs/work/live-derived-state/plan.md
  packages/sharpee/docs/genai-api/stdlib.md
  packages/sharpee/docs/genai-api/world-model.md
  packages/stdlib/src/actions/standard/going/going.ts
  packages/stdlib/src/actions/standard/going/index.ts
  packages/stdlib/tests/unit/actions/going-evaluator.test.ts
  packages/story-loader/src/evaluator.ts
  packages/story-loader/src/loader.ts
  packages/story-loader/src/runtime.ts
  packages/story-loader/tests/closed-container-contents.test.ts
  packages/story-loader/tests/hatch-context.test.ts
  packages/story-loader/tests/live-derived.test.ts
  packages/story-loader/tests/loader.test.ts
  packages/story-loader/tests/runtime.test.ts
  packages/world-model/src/world/AuthorModel.ts
  packages/world-model/src/world/VisibilityBehavior.ts
  packages/world-model/src/world/WorldModel.ts
  packages/world-model/src/world/index.ts
  packages/world-model/tests/unit/world/evaluator-registry.test.ts
  stories/fernhill/fernhill.story
  stories/fernhill/tests/transcripts/cellar-dark.transcript
  stories/fernhill/tests/transcripts/compass.transcript
  stories/fernhill/tests/transcripts/concealment.transcript
  stories/fernhill/tests/transcripts/containers.transcript
  stories/fernhill/tests/transcripts/doors.transcript
  stories/fernhill/tests/transcripts/frost-seal.transcript
  stories/fernhill/tests/transcripts/fuse-lose.transcript
  stories/fernhill/tests/transcripts/fuse.transcript
  stories/fernhill/tests/transcripts/machine.transcript
  stories/fernhill/tests/transcripts/npcs.transcript
  stories/fernhill/tests/transcripts/timeline.transcript
  stories/fernhill/tests/transcripts/tool-gates.transcript
Due: eslint --fix, prettier --write

feat(fernhill+loader): phases 6-7 — E-group mechanics, scoring, three endings, walkthrough (456+76 green) + D3 on/after pair fix (mergeArms; trait append bug)
  docs/context/session-20260718-0501-chord-foundations.md
  docs/work/chord-tutorial-story/plan.md
  packages/story-loader/src/runtime.ts
  packages/story-loader/tests/on-after-pair.test.ts
  packages/story-loader/tests/while-gate-d8.test.ts
  stories/fernhill/chatgpt-review.md
  stories/fernhill/fernhill.story
  stories/fernhill/tests/transcripts/compass.transcript
  stories/fernhill/tests/transcripts/dawn-lose.transcript
  stories/fernhill/tests/transcripts/e-group.transcript
  stories/fernhill/tests/transcripts/smoke.transcript
  stories/fernhill/walkthroughs/wt-01-the-long-night.transcript
Due: eslint --fix, prettier --write

feat(chord+platform): ADR-241 dynamic channels SHIPPED + Fernhill Phase 8 browser media
  docs/architecture/adrs/adr-240-live-derived-state.md
  docs/architecture/adrs/adr-241-chord-dynamic-channels.md
  docs/architecture/chord-grammar-changes.md
  docs/context/archive/session-20260717-2124-chord-foundations.md
  docs/context/session-20260718-1927-chord-foundations.md
  docs/reference/chord-grammar.md
  docs/reference/chord.ebnf
  docs/work/chord-dynamic-channels/plan.md
  docs/work/chord-tutorial-story/plan.md
  packages/channel-service/src/renderer/renderer.ts
  packages/channel-service/src/renderer/types.ts
  packages/channel-service/tests/ac-16-cleanup-grep-gate.test.ts
  packages/chord/src/analyzer.ts
  packages/chord/src/ast.ts
  packages/chord/src/ir.ts
  packages/chord/src/parser.ts
  packages/chord/tests/channel-capability.test.ts
  packages/chord/tests/dynamic-channels.test.ts
  packages/chord/tests/media-sugar.test.ts
  packages/ide-protocol/src/story-ir.ts
  packages/platform-browser/package.json
  packages/platform-browser/src/channels/index.ts
  packages/platform-browser/src/channels/panel.ts
  packages/platform-browser/tests/channels/dynamic-channels.test.ts
  packages/sharpee/docs/genai-api/presentation.md
  packages/story-loader/src/loader.ts
  packages/story-loader/tests/family-channels.test.ts
  scripts/g3-fernhill-browser-proof.mjs
  stories/fernhill/assets/audio/boiler-thump.wav
  stories/fernhill/assets/audio/dawn-theme.wav
  stories/fernhill/assets/audio/night-wind.wav
  stories/fernhill/assets/images/folly-photograph.png
  stories/fernhill/fernhill.story
  stories/fernhill/src/browser-entry.ts
  stories/fernhill/tests/transcripts/media-degrade.transcript
Due: eslint --fix, prettier --write

chore(proof): commit the Phase 8 browser-proof log; gitignore carve-out for proof logs
  .gitignore
  docs/work/chord-tutorial-story/proof/g3-phase8-browser-proof.log
Due: none

docs(tutorial+gate): Fernhill tutorial docs SHIPPED (8 chapters) — G3 CONFIRMED SATISFIED
  docs/architecture/adrs/adr-232-chord-first-web-presence.md
  docs/architecture/adrs/adr-233-chord-go-live-gate.md
  docs/context/.current-plan
  docs/context/session-20260718-1927-chord-foundations.md
  docs/tutorials/fernhill/browser.md
  docs/tutorials/fernhill/endings.md
  docs/tutorials/fernhill/index.md
  docs/tutorials/fernhill/people.md
  docs/tutorials/fernhill/state.md
  docs/tutorials/fernhill/things.md
  docs/tutorials/fernhill/time.md
  docs/tutorials/fernhill/world.md
  docs/work/chord-go-live/plan.md
  docs/work/chord-tutorial-story/plan.md
Due: prettier --write

docs(plan): platform-issue-sweep plan from 15-issue triage (13 FIX / 2 PARK, all David-ruled 2026-07-20)
  docs/context/.current-plan
  docs/context/archive/session-20260718-1927-chord-foundations.md
  docs/context/session-20260720-0448-chord-foundations.md
  docs/work/platform-issue-sweep/plan.md
Due: prettier --write

feat(platform): platform-issue-sweep COMPLETE — Phases 6-10 (vocab sync, SM success gating, Chord compile gates, parks, verification) (session 18953c)
  checkpoints/after-leaflet.json
  docs/architecture/adrs/adr-246-chord-perception-predicates.md
  docs/context/session-20260720-0544-chord-foundations.md
  docs/reference/chord-language.md
  docs/reference/stdlib-reference.md
  docs/work/platform-issue-sweep/plan.md
  docs/work/stdlib-reference/chord-availability-audit.md
  docs/work/stdlib-reference/fixtures/manifest.json
  packages/chord/src/analyzer.ts
  packages/chord/src/parser.ts
  packages/chord/tests/compile-gate-sweep.test.ts
  packages/engine/src/game-engine.ts
  packages/lang-en-us/CLAUDE.md
  packages/lang-en-us/src/data/verbs.ts
  packages/parser-en-us/tests/grammar-vocabulary-sync.test.ts
  packages/plugin-state-machine/src/state-machine-plugin.ts
  packages/plugin-state-machine/src/state-machine-runtime.ts
  packages/plugin-state-machine/src/types.ts
  packages/plugins/src/turn-plugin-context.ts
  packages/sharpee/docs/genai-api/index.md
  packages/sharpee/docs/genai-api/lang.md
  packages/sharpee/docs/genai-api/plugins.md
  packages/sharpee/docs/genai-api/stdlib.md
  packages/sharpee/docs/genai-api/world-model.md
  packages/stdlib/src/actions/standard/dropping/dropping.ts
  packages/stdlib/src/actions/standard/version/engine-version.ts
  packages/stdlib/src/validation/command-validator.ts
  packages/stdlib/tests/unit/validation/preferred-scope-disambiguation.test.ts
  packages/story-loader/src/loader.ts
  packages/story-loader/src/runtime.ts
  packages/story-loader/tests/bare-verb-dispatch.test.ts
  packages/story-loader/tests/gatehouse.test.ts
  packages/story-loader/tests/state-machine-depth.test.ts
  stories/dungeo/src/version.ts
Due: eslint --fix, prettier --write

feat(chord+devkit+docs): ADR-251 IMPLEMENTED — generalized `import` folds phrasebook import into one bare form
  docs/architecture/adrs/adr-250-chord-phrasebook-design.md
  docs/architecture/adrs/adr-251-chord-generalized-import.md
  docs/architecture/chord-grammar-changes.md
  docs/context/.current-plan
  docs/context/archive/session-20260720-2125-chord-foundations.md
  docs/context/session-20260721-1547-chord-foundations.md
  docs/reference/chord-language.md
  docs/work/adr-251-generalized-import/plan.md
  packages/chord/src/analyzer.ts
  packages/chord/src/ast.ts
  packages/chord/src/index.ts
  packages/chord/src/parser.ts
  packages/chord/tests/import.test.ts
  packages/chord/tests/phrasebooks.test.ts
  packages/devkit/src/commands/compose.ts
  packages/devkit/src/standalone/author-game.ts
  packages/devkit/src/standalone/build-browser.ts
  packages/devkit/src/standalone/build.ts
  packages/devkit/src/standalone/chord-import-browser.test.ts
  packages/devkit/templates/browser/chord-browser-entry.ts.template
  packages/devkit/tests/fixtures/import-basic/harbor.story
  packages/devkit/tests/fixtures/import-basic/regions/harbor.chord
  packages/devkit/tests/import-fs-resolver.test.ts
  packages/sharpee/docs/genai-api/index.md
  stories/dungeo/src/version.ts
Due: eslint --fix, prettier --write

chore(website): nav restructure — retire redundant Language group, promote guide chapters
  docs/work/website-nav-restructure/proposal.md
  website/next.config.ts
  website/src/app/chord/getting-started/compose-and-run/content.mdx
  website/src/app/chord/guide/project/multi-file-stories/content.mdx
  website/src/app/chord/guide/project/multi-file-stories/page.tsx
  website/src/app/chord/guide/vocabulary/comments/content.mdx
  website/src/app/chord/guide/vocabulary/comments/page.tsx
  website/src/app/chord/guide/vocabulary/content.mdx
  website/src/app/chord/guide/vocabulary/define-phrasebook/content.mdx
  website/src/app/chord/guide/vocabulary/define-phrasebook/page.tsx
  website/src/app/chord/language/doors-and-regions/content.mdx
  website/src/app/chord/language/people/content.mdx
  website/src/app/chord/language/people/page.tsx
  website/src/app/chord/language/topics/content.mdx
  website/src/lib/nav.ts
Due: eslint --fix, prettier --write

feat(website): deploy docs site as Node relay behind Apache (systemd + vhost + deploy script)
  .devarch/descriptor.json
  docs/context/archive/session-20260721-1030-chord-foundations.md
  docs/context/session-20260721-2249-website-nodejs-relay.md
  website/deploy.sh
  website/deploy/README.md
  website/deploy/sharpee-website.service
  website/deploy/sharpee.net-le-ssl.conf
  website/deploy/sharpee.net.conf
  website/package-lock.json
Due: prettier --write

docs(adrs): ADR-252/253/254 ACCEPTED — .story browser build, channel return+DOM render, single-token labels
  docs/architecture/adrs/adr-188-themes-as-plugins.md
  docs/architecture/adrs/adr-216-chord-emit-payload-and-media.md
  docs/architecture/adrs/adr-241-chord-dynamic-channels.md
  docs/architecture/adrs/adr-252-story-first-class-browser-build.md
  docs/architecture/adrs/adr-253-channel-return-and-dom-render.md
  docs/architecture/adrs/adr-254-chord-single-token-labels.md
  docs/context/session-20260722-0128-chord-foundations.md
Due: prettier --write

chore(session): SSH-keepalive session summary (74219a)
  docs/context/session-20260721-2149-chord-foundations.md
Due: prettier --write

docs(adrs): ADR-255 message-override ACL ACCEPTED; ADR-254 supersedes ADR-231 D1b
  docs/architecture/adrs/adr-231-player-surface-contract-rulings.md
  docs/architecture/adrs/adr-254-chord-single-token-labels.md
  docs/architecture/adrs/adr-255-alias-catalog.md
  docs/architecture/adrs/adr-255-message-override-acl.md
  docs/context/.current-plan
  docs/context/archive/session-20260720-2210-chord-foundations.md
  docs/context/archive/session-20260721-1200-chord-foundations.md
  docs/context/archive/session-20260721-2149-chord-foundations.md
  docs/context/session-20260722-0917-main.md
  docs/work/chord-browser-build/plan.md
  packages/chord/tests/dotted-keys-all-sites.test.ts
  packages/chord/tests/state-machine.test.ts
Due: eslint --fix, prettier --write

feat(chord): ADR-254 Phase 1 single-token labels; ADR-256 event-type translation ACCEPTED
  docs/architecture/adrs/adr-254-chord-single-token-labels.md
  docs/architecture/adrs/adr-256-event-type-acl.md
  docs/context/session-20260722-0917-main.md
  docs/work/chord-browser-build/plan.md
  packages/chord/src/parser.ts
  packages/chord/tests/__snapshots__/parser-phase-b.test.ts.snap
  packages/chord/tests/__snapshots__/zoo-phase-c-parse.test.ts.snap
  packages/chord/tests/analyzer-phase-b.test.ts
  packages/chord/tests/dotted-key-rejection.test.ts
  packages/chord/tests/fixtures/zoo-phase-c.story
  packages/chord/tests/fixtures/zoo-timeline.story
  packages/chord/tests/parser-phase-b.test.ts
  packages/chord/tests/phrasebooks.test.ts
  stories/fernhill/fernhill.story
  stories/fernhill/tests/transcripts/media-degrade.transcript
  stories/friendly-zoo/zoo.story
Due: eslint --fix, prettier --write

feat(chord): ADR-256 event-id translation — Chord fully dotless
  docs/context/session-20260722-2200-main.md
  docs/work/chord-browser-build/plan.md
  packages/chord/src/analyzer.ts
  packages/chord/src/parser.ts
  packages/chord/tests/channel-capability.test.ts
  packages/chord/tests/dotted-key-rejection.test.ts
  packages/chord/tests/dynamic-channels.test.ts
  packages/chord/tests/emit-payload.test.ts
  packages/chord/tests/fixtures/compass.story
  packages/chord/tests/fixtures/emit-payload.story
  packages/chord/tests/fixtures/gatehouse.story
  packages/chord/tests/media-sugar.test.ts
  packages/story-loader/src/event-id-map.ts
  packages/story-loader/src/loader.ts
  packages/story-loader/src/runtime.ts
  packages/story-loader/tests/emit-payload.test.ts
  packages/story-loader/tests/event-id-map-machine.test.ts
  packages/story-loader/tests/event-id-map.test.ts
  packages/story-loader/tests/scheduler.test.ts
Due: eslint --fix, prettier --write

feat(chord): ADR-255 `override message` — standard-action message ACL
  docs/architecture/adrs/adr-255-alias-catalog.md
  docs/architecture/adrs/adr-255-message-override-acl.md
  docs/context/session-20260722-2200-main.md
  docs/work/chord-browser-build/plan.md
  packages/chord/src/analyzer.ts
  packages/chord/src/ast.ts
  packages/chord/src/catalog.ts
  packages/chord/src/index.ts
  packages/chord/src/ir.ts
  packages/chord/src/message-alias-catalog.ts
  packages/chord/src/parser.ts
  packages/chord/tests/__snapshots__/analyzer-each-package.test.ts.snap
  packages/chord/tests/__snapshots__/analyzer-phase-b.test.ts.snap
  packages/chord/tests/__snapshots__/analyzer.test.ts.snap
  packages/chord/tests/__snapshots__/zoo-phase-c-parse.test.ts.snap
  packages/chord/tests/message-override.test.ts
  packages/story-loader/src/message-alias-map.ts
  packages/story-loader/src/runtime.ts
  packages/story-loader/tests/message-alias-map.test.ts
  packages/story-loader/tests/message-override.test.ts
Due: eslint --fix, prettier --write

docs(chord): ADR-252 Phase 3 browser-build implementation design
  docs/context/archive/session-20260721-1547-chord-foundations.md
  docs/context/session-20260722-2200-main.md
  docs/work/chord-browser-build/phase3-design.md
  docs/work/chord-browser-build/plan.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md})
