Repository ChicagoDave/sharpee: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md}": [
    "prettier --write"
  ]
}

feat(server): Phase 12 — Docker packaging + AC8 smoke gate
  .dockerignore
  .gitignore
  docs/context/archive/session-20260421-0810-main.md
  docs/context/archive/session-20260421-1826-main.md
  docs/context/session-20260421-2233-main.md
  docs/context/session-20260421-2252-main.md
  tools/server/Dockerfile
  tools/server/docker-compose.yml
  tools/server/scripts/smoke-test.sh
Due: prettier --write

docs(server): Phase 13 — operator documentation for ADR-153 AC9
  docs/context/archive/session-20260421-1852-main.md
  docs/context/session-20260421-2316-main.md
  docs/server/backup-restore.md
  docs/server/config-reference.md
  docs/server/install-guide.md
  docs/server/upgrade-guide.md
Due: prettier --write

fix(server): track save-service.ts — .gitignore saves/ rule was shadowing it
  .gitignore
  tools/server/src/saves/save-service.ts
Due: eslint --fix, prettier --write

docs(server): install-guide.md fixes from AC9 Ubuntu verification walk
  docs/server/install-guide.md
Due: prettier --write

docs(server): add deployment.md — public deployment with Caddy + Turnstile
  docs/server/deployment.md
Due: prettier --write

fix(server): bind docker to loopback for apache2 reverse proxy
  docs/context/archive/session-20260421-2316-main.md
  docs/context/session-20260422-0508-main.md
  tools/server/docker-compose.yml
Due: prettier --write

docs(multiuser-client): brainstorm, plan 01-05, and 19 UI mockups for ADR-153 frontend
  docs/brainstorm/multiuser-client/overview.md
  docs/brainstorm/multiuser-client/techstack.md
  docs/context/archive/session-20260421-2052-main.md
  docs/context/session-20260422-1500-main.md
  docs/work/multiuser-client/mocks/01-landing.html
  docs/work/multiuser-client/mocks/19-report-room-modal.html
  docs/work/multiuser-client/mocks/_common.css
  docs/work/multiuser-client/mocks/index.html
  docs/work/multiuser-client/plan-20260422-multiuser-client-01-foundation.md
  docs/work/multiuser-client/plan-20260422-multiuser-client-05-polish.md
Due: prettier --write

docs(multiuser-client): catch remaining plans 02-04 and 17 mockups
  docs/work/multiuser-client/mocks/02-room.html
  docs/work/multiuser-client/mocks/03-create-room-modal.html
  docs/work/multiuser-client/mocks/04-passcode-modal.html
  docs/work/multiuser-client/mocks/05-recording-notice.html
  docs/work/multiuser-client/mocks/06-landing-empty.html
  docs/work/multiuser-client/mocks/07-room-local-typing.html
  docs/work/multiuser-client/mocks/08-roster-menu.html
  docs/work/multiuser-client/mocks/09-room-dm-active.html
  docs/work/multiuser-client/mocks/10-restore-block.html
  docs/work/multiuser-client/mocks/11-settings-drawer.html
  docs/work/multiuser-client/mocks/12-delete-confirm.html
  docs/work/multiuser-client/mocks/13-save-panel.html
  docs/work/multiuser-client/mocks/14-succession-banner.html
  docs/work/multiuser-client/mocks/15-room-closed.html
  docs/work/multiuser-client/mocks/16-crash-modal.html
  docs/work/multiuser-client/mocks/17-small-viewport.html
  docs/work/multiuser-client/mocks/18-theme-picker-open.html
  docs/work/multiuser-client/plan-20260422-multiuser-client-02-moderation-chat-lifecycle.md
  docs/work/multiuser-client/plan-20260422-multiuser-client-03-save-restore.md
  docs/work/multiuser-client/plan-20260422-multiuser-client-04-dms.md
Due: prettier --write

feat(multiuser-client): Plan 04 Phases 3-5 + boundary-check architectural gate
  .claude/hooks/boundary-check.sh
  .claude/settings.json
  CLAUDE.md
  docs/context/archive/session-20260421-2252-main.md
  docs/context/session-20260423-0120-main.md
  docs/work/multiuser-client/plan-20260422-multiuser-client-04-dms.md
  tools/server/client/src/components/DmPanel.test.tsx
  tools/server/client/src/components/DmPanel.tsx
  tools/server/client/src/hooks/useWebSocket.test.ts
  tools/server/client/src/hooks/useWebSocket.ts
  tools/server/client/src/pages/Room.test.tsx
  tools/server/client/src/pages/Room.tsx
  tools/server/client/src/state/roomReducer.test.ts
  tools/server/client/src/state/roomReducer.ts
  tools/server/client/src/state/selectors.test.ts
  tools/server/client/src/state/selectors.ts
  tools/server/client/src/state/types.ts
  tools/server/client/src/storage/dm-notice-ack.ts
  tools/server/src/repositories/session-events.ts
  tools/server/src/wire/browser-server.ts
  tools/server/src/ws/handlers/hello.ts
  tools/server/src/ws/room-snapshot.ts
  tools/server/tests/ws/hello.test.ts
Due: eslint --fix, prettier --write

refactor(server): extract wire primitives into src/wire/primitives.ts
  docs/context/archive/session-20260422-0508-main.md
  docs/context/session-20260423-2008-main.md
  tools/server/Dockerfile
  tools/server/src/repositories/types.ts
  tools/server/src/wire/browser-server.ts
  tools/server/src/wire/primitives.ts
  tools/server/src/wire/server-sandbox.ts
Due: eslint --fix, prettier --write

fix(client): hoist RoomView hooks above early returns + ADR-153 acceptance gate
  docs/context/session-20260423-2008-main.md
  docs/work/stub-antipattern.md
  tools/server/client/src/pages/Room.tsx
  tools/server/tests/sandbox/deno-engine-integration.test.ts
Due: eslint --fix, prettier --write

docs(multiuser-server): ADR-153 Phase 4 remediation plan — install-time bundler + deno-entry rewrite
  .claude/settings.json
  .devarch
  CLAUDE.md
  docs/context/archive/session-20260422-1500-main.md
  docs/context/session-20260423-1636-main.md
  docs/work/multiuser/plan-20260424-multiuser-server-phase4-remediation.md
Due: prettier --write

feat(multiuser-server): ADR-153 Phase 4 remediation — install-time bundler + deno-entry + 5/5 gate GREEN
  docs/context/archive/session-20260422-1637-main.md
  docs/context/session-20260424-0124-main.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tools/server/Dockerfile
  tools/server/deno.json
  tools/server/package.json
  tools/server/src/rooms/room-manager.ts
  tools/server/src/sandbox/deno-entry.ts
  tools/server/src/sandbox/sandbox-process.ts
  tools/server/src/sandbox/story-bundler.ts
  tools/server/src/sandbox/story-cache.ts
  tools/server/src/saves/save-service.ts
  tools/server/src/stories/story-health.ts
  tools/server/tests/sandbox/deno-engine-integration.test.ts
  tools/server/tests/sandbox/story-bundler.test.ts
  tools/server/tests/sandbox/story-cache.test.ts
  tools/server/tsconfig.json
Due: eslint --fix, prettier --write

feat(multiuser-server): ADR-153 Phase 4 sub-phase 4-R-3 — strip the stub apparatus
  docs/context/archive/session-20260422-2303-main.md
  docs/context/session-20260424-0258-main.md
  tools/server/tests/fixtures/sandbox-process-child.mjs
  tools/server/tests/helpers/fake-sandbox.ts
  tools/server/tests/helpers/test-server.ts
  tools/server/tests/rooms/recycle-sweeper.test.ts
  tools/server/tests/rooms/room-manager-crash.test.ts
  tools/server/tests/sandbox/deno-engine-integration.test.ts
  tools/server/tests/sandbox/sandbox-process.test.ts
  tools/server/tests/sandbox/turn-execution.test.ts
  tools/server/tests/stories/story-health.test.ts
  tools/server/tests/ws/delete-room.test.ts
  tools/server/tests/ws/save-restore.test.ts
Due: eslint --fix, prettier --write

docs(multiuser): synthesis session — root assessment, ADR-153a, ADR-155, ADR-156
  docs/architecture/adrs/adr-153a-multiuser-server-amendments.md
  docs/architecture/adrs/adr-155-install-time-story-compilation.md
  docs/architecture/adrs/adr-156-multiuser-browser-client.md
  docs/context/archive/session-20260423-0120-main.md
  docs/context/session-20260424-1235-main.md
  docs/work/multiuser/devarch-wire-type-sharing-prompt.md
  docs/work/multiuser/root-assessment.md
Due: prettier --write

fix(interceptors): explicit override-vs-emit contract for postReport (ISSUE-074, GH #102)
  CLAUDE.md
  checkpoints/after-leaflet.json
  docs/architecture/adrs/adr-157-action-interceptor-report-result.md
  docs/context/archive/session-20260423-1636-main.md
  docs/context/session-20260424-1839-main.md
  docs/work/interceptor-contract/plan-20260424-postreport-override.md
  packages/sharpee/docs/genai-api/index.md
  packages/sharpee/docs/genai-api/world-model.md
  packages/stdlib/src/actions/standard/attacking/attacking.ts
  packages/stdlib/src/actions/standard/dropping/dropping.ts
  packages/stdlib/src/actions/standard/entering/entering.ts
  packages/stdlib/src/actions/standard/going/going.ts
  packages/stdlib/src/actions/standard/pushing/pushing.ts
  packages/stdlib/src/actions/standard/putting/putting.ts
  packages/stdlib/src/actions/standard/switching_on/switching_on.ts
  packages/stdlib/src/actions/standard/throwing/throwing.ts
  packages/stdlib/tests/unit/capabilities/interceptor-context-binding.test.ts
  packages/world-model/src/capabilities/action-interceptor.ts
  packages/world-model/src/capabilities/index.ts
  packages/world-model/tests/unit/capabilities/interceptor-report-result.test.ts
  stories/dungeo/src/interceptors/ghost-ritual-dropping-interceptor.ts
  stories/dungeo/src/interceptors/glacier-throwing-interceptor.ts
  stories/dungeo/src/interceptors/inflatable-entering-interceptor.ts
  stories/dungeo/src/interceptors/melee-interceptor.ts
  stories/dungeo/src/interceptors/receptacle-putting-interceptor.ts
  stories/dungeo/src/interceptors/rug-push-interceptor.ts
  stories/dungeo/src/version.ts
  stories/dungeo/tests/transcripts/rug-trapdoor.transcript
Due: eslint --fix, prettier --write

chore: bump all packages to 0.9.112
  docs/context/session-20260424-1839-main.md
  packages/bridge/package.json
  packages/character/package.json
  packages/core/package.json
  packages/engine/package.json
  packages/event-processor/package.json
  packages/extensions/basic-combat/package.json
  packages/extensions/conversation/package.json
  packages/extensions/testing/package.json
  packages/helpers/package.json
  packages/if-domain/package.json
  packages/if-services/package.json
  packages/lang-en-us/package.json
  packages/map-editor/package.json
  packages/media/package.json
  packages/parser-en-us/package.json
  packages/platform-browser/package.json
  packages/platforms/browser-en-us/package.json
  packages/platforms/cli-en-us/package.json
  packages/platforms/test/package.json
  packages/plugin-npc/package.json
  packages/plugin-scheduler/package.json
  packages/plugin-state-machine/package.json
  packages/plugins/package.json
  packages/queries/package.json
  packages/runtime/package.json
  packages/sharpee/package.json
  packages/stdlib/package.json
  packages/text-blocks/package.json
  packages/text-service/package.json
  packages/transcript-tester/package.json
  packages/world-model/package.json
  packages/zifmia/package.json
  stories/dungeo/package.json
Due: prettier --write

feat(lang-articles): ADR-158 entity-info migration — Phases 1+2 + 4 actions
  docs/architecture/adrs/adr-158-entity-info-in-message-params.md
  docs/context/session-20260424-2042-main.md
  docs/context/session-20260424-2158-lang-articles-migration.md
  docs/work/lang-articles/plan-20260424-the-cap-migration.md
  docs/work/lantern-brainstorm/README.md
  docs/work/lantern-brainstorm/conversation-systems-survey.md
  docs/work/lantern-brainstorm/madness.md
  docs/work/lantern-brainstorm/mockup.html
  packages/lang-en-us/src/actions/closing.ts
  packages/lang-en-us/src/actions/opening.ts
  packages/lang-en-us/src/actions/pulling.ts
  packages/lang-en-us/src/actions/pushing.ts
  packages/lang-en-us/src/actions/taking.ts
  packages/sharpee/docs/genai-api/index.md
  packages/sharpee/docs/genai-api/stdlib.md
  packages/stdlib/src/actions/standard/closing/closing.ts
  packages/stdlib/src/actions/standard/opening/opening.ts
  packages/stdlib/src/actions/standard/pulling/pulling.ts
  packages/stdlib/src/actions/standard/pushing/pushing.ts
  packages/stdlib/src/actions/standard/taking/taking.ts
  packages/stdlib/src/index.ts
  packages/stdlib/src/utils/entity-info.ts
  packages/stdlib/src/utils/index.ts
  packages/stdlib/tests/integration/entity-info-formatter.test.ts
  packages/stdlib/tests/unit/actions/closing-golden.test.ts
  packages/stdlib/tests/unit/actions/opening-golden.test.ts
  packages/stdlib/tests/unit/actions/pulling-golden.test.ts
  packages/stdlib/tests/unit/actions/pushing-golden.test.ts
  packages/stdlib/tests/unit/actions/taking-golden.test.ts
  packages/stdlib/tests/unit/utils/entity-info.test.ts
  stories/dungeo/src/version.ts
  stories/dungeo/tests/transcripts/article-rendering.transcript
Due: eslint --fix, prettier --write

feat(lang-articles): ADR-158 migration — 6 more actions (lock, switching, examining, putting)
  docs/context/session-20260424-2158-lang-articles-migration.md
  packages/lang-en-us/src/actions/examining.ts
  packages/lang-en-us/src/actions/locking.ts
  packages/lang-en-us/src/actions/putting.ts
  packages/lang-en-us/src/actions/switching-off.ts
  packages/lang-en-us/src/actions/switching-on.ts
  packages/lang-en-us/src/actions/unlocking.ts
  packages/stdlib/src/actions/standard/examining/examining-data.ts
  packages/stdlib/src/actions/standard/examining/examining.ts
  packages/stdlib/src/actions/standard/lock-shared.ts
  packages/stdlib/src/actions/standard/locking/locking.ts
  packages/stdlib/src/actions/standard/putting/putting.ts
  packages/stdlib/src/actions/standard/switching_off/switching_off.ts
  packages/stdlib/src/actions/standard/switching_on/switching_on.ts
  packages/stdlib/src/actions/standard/unlocking/unlocking.ts
  packages/stdlib/tests/unit/actions/examining-golden.test.ts
  packages/stdlib/tests/unit/actions/locking-golden.test.ts
  packages/stdlib/tests/unit/actions/putting-golden.test.ts
  packages/stdlib/tests/unit/actions/switching_off-golden.test.ts
  packages/stdlib/tests/unit/actions/switching_on-golden.test.ts
  packages/stdlib/tests/unit/actions/unlocking-golden.test.ts
Due: eslint --fix, prettier --write

feat(lang-articles): ADR-158 migration — 12 more actions (Phase 3 batch 3)
  docs/context/session-20260424-2158-lang-articles-migration.md
  packages/lang-en-us/src/actions/attacking.ts
  packages/lang-en-us/src/actions/dropping.ts
  packages/lang-en-us/src/actions/entering.ts
  packages/lang-en-us/src/actions/exiting.ts
  packages/lang-en-us/src/actions/giving.ts
  packages/lang-en-us/src/actions/inserting.ts
  packages/lang-en-us/src/actions/listening.ts
  packages/lang-en-us/src/actions/removing.ts
  packages/lang-en-us/src/actions/showing.ts
  packages/lang-en-us/src/actions/smelling.ts
  packages/lang-en-us/src/actions/throwing.ts
  packages/lang-en-us/src/actions/touching.ts
  packages/sharpee/docs/genai-api/index.md
  packages/stdlib/src/actions/standard/attacking/attacking.ts
  packages/stdlib/src/actions/standard/dropping/dropping-data.ts
  packages/stdlib/src/actions/standard/dropping/dropping.ts
  packages/stdlib/src/actions/standard/entering/entering.ts
  packages/stdlib/src/actions/standard/exiting/exiting.ts
  packages/stdlib/src/actions/standard/giving/giving.ts
  packages/stdlib/src/actions/standard/inserting/inserting.ts
  packages/stdlib/src/actions/standard/listening/listening.ts
  packages/stdlib/src/actions/standard/removing/removing.ts
  packages/stdlib/src/actions/standard/showing/showing.ts
  packages/stdlib/src/actions/standard/smelling/smelling.ts
  packages/stdlib/src/actions/standard/throwing/throwing.ts
  packages/stdlib/src/actions/standard/touching/touching.ts
  packages/stdlib/tests/unit/actions/dropping-golden.test.ts
  packages/stdlib/tests/unit/actions/exiting-golden.test.ts
  packages/stdlib/tests/unit/actions/inserting-golden.test.ts
  packages/stdlib/tests/unit/actions/listening-golden.test.ts
  packages/stdlib/tests/unit/actions/removing-golden.test.ts
  packages/stdlib/tests/unit/actions/showing-golden.test.ts
  packages/stdlib/tests/unit/actions/smelling-golden.test.ts
  packages/stdlib/tests/unit/actions/touching-golden.test.ts
  stories/dungeo/src/version.ts
Due: eslint --fix, prettier --write

feat(lang-articles): ADR-158 migration — talking action
  packages/lang-en-us/src/actions/talking.ts
  packages/stdlib/src/actions/standard/talking/talking.ts
  packages/stdlib/tests/unit/actions/talking-golden.test.ts
Due: eslint --fix, prettier --write

feat(lang-articles): ADR-158 migration — climbing action
  packages/lang-en-us/src/actions/climbing.ts
  packages/stdlib/src/actions/standard/climbing/climbing.ts
  packages/stdlib/tests/unit/actions/climbing-golden.test.ts
Due: eslint --fix, prettier --write

feat(lang-articles): ADR-158 migration — searching action
  packages/lang-en-us/src/actions/searching.ts
  packages/stdlib/src/actions/standard/searching-helpers.ts
  packages/stdlib/src/actions/standard/searching/searching.ts
  packages/stdlib/tests/unit/actions/searching-golden.test.ts
Due: eslint --fix, prettier --write

feat(lang-articles): ADR-158 migration — wearing action
  packages/lang-en-us/src/actions/wearing.ts
  packages/stdlib/src/actions/standard/wearable-shared.ts
  packages/stdlib/src/actions/standard/wearing/wearing.ts
  packages/stdlib/tests/unit/actions/wearing-golden.test.ts
Due: eslint --fix, prettier --write

feat(lang-articles): ADR-158 migration — reading action
  packages/lang-en-us/src/actions/reading.ts
  packages/stdlib/src/actions/standard/reading/reading.ts
  packages/stdlib/tests/unit/actions/reading-golden.test.ts
Due: eslint --fix, prettier --write

feat(lang-articles): ADR-158 migration — eating action
  packages/lang-en-us/src/actions/eating.ts
  packages/stdlib/src/actions/standard/eating/eating.ts
  packages/stdlib/tests/unit/actions/eating-golden.test.ts
Due: eslint --fix, prettier --write

feat(lang-articles): ADR-158 migration — drinking action
  packages/lang-en-us/src/actions/drinking.ts
  packages/stdlib/src/actions/standard/drinking/drinking.ts
  packages/stdlib/tests/unit/actions/drinking-golden.test.ts
Due: eslint --fix, prettier --write

feat(lang-articles): ADR-158 migration — taking_off action
  packages/lang-en-us/src/actions/taking-off.ts
  packages/stdlib/src/actions/standard/taking_off/taking-off.ts
Due: eslint --fix, prettier --write

feat(lang-articles): ADR-158 migration — going action
  packages/stdlib/src/actions/standard/going/going.ts
Due: eslint --fix, prettier --write

feat(lang-articles): ADR-158 migration — going lang/test (follow-on)
  packages/lang-en-us/src/actions/going.ts
  packages/stdlib/tests/unit/actions/going-golden.test.ts
Due: eslint --fix, prettier --write

docs(adr-158): mark accepted, document Phase 3 outcome + pattern catalog
  CLAUDE.md
  docs/architecture/adrs/adr-158-entity-info-in-message-params.md
Due: prettier --write

chore(lang): remove dead englishTemplates export (ADR-158 Phase 4)
  packages/lang-en-us/README.md
  packages/lang-en-us/src/data/templates.ts
Due: eslint --fix, prettier --write

chore(tooling): pnpm audit:templates — advisory ADR-158 scanner
  package.json
  scripts/audit-templates.js
Due: prettier --write

test(walkthroughs): WT-17 — adjust two pre-ADR-158 assertions
  stories/dungeo/walkthroughs/wt-17-endgame.transcript
Due: none

plan(lang-articles): follow-ups for the 8 discoveries from Phase 3
  docs/work/lang-articles/plan-20260425-lang-articles-followups.md
Due: prettier --write

docs(context): session summary — Phase 3 finish + Phase 4 + follow-up plan
  docs/context/session-20260424-2329-lang-articles-migration.md
Due: prettier --write

docs(adr-158): annotate switching_on room-description as documented exception (Phase A1)
  packages/stdlib/src/actions/standard/switching_on/switching_on.ts
Due: eslint --fix, prettier --write
