Repository ChicagoDave/sharpee: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md}": [
    "prettier --write"
  ]
}

feat(adr-302): header inheritance (D8, AC-3); measure the seed-on-restore question
  docs/architecture/adrs/adr-302-transcript-branches.md
  docs/work/branch-tester/plan-20260805-branch-tester.md
  packages/branch-tester/src/index.ts
  packages/branch-tester/src/parser.ts
  packages/branch-tester/src/tree.ts
  packages/branch-tester/src/types.ts
  packages/branch-tester/tests/inheritance.test.ts
Due: eslint --fix, prettier --write

docs(context): session summary through Phase 5
  docs/context/session-20260805-0245-main.md
  stories/dungeo/src/version.ts
Due: eslint --fix, prettier --write

feat(adr-302,adr-293): branching is its own operation — save → restore → reseed
  docs/architecture/adrs/adr-293-choice-points-per-point-streams.md
  docs/architecture/adrs/adr-302-transcript-branches.md
  docs/work/branch-tester/plan-20260805-branch-tester.md
  packages/branch-tester/src/runner.ts
  packages/engine/src/engine-random-service.ts
  packages/engine/tests/engine-random-service-reseed.test.ts
  packages/sharpee/docs/genai-api/engine.md
  packages/sharpee/docs/genai-api/index.md
  stories/dungeo/src/version.ts
Due: eslint --fix, prettier --write

feat(adr-302): tree runner — every path, shared prefixes once (D10, AC-1, AC-5)
  docs/work/branch-tester/plan-20260805-branch-tester.md
  packages/branch-tester/src/index.ts
  packages/branch-tester/src/tree-runner.ts
  packages/branch-tester/tests/tree-runner.test.ts
Due: eslint --fix, prettier --write

feat(adr-302): tree run reporting — unreached is not failed (D13, AC-7)
  docs/work/branch-tester/plan-20260805-branch-tester.md
  packages/branch-tester/src/index.ts
  packages/branch-tester/src/tree-report.ts
  packages/branch-tester/tests/tree-report.test.ts
Due: eslint --fix, prettier --write

feat(adr-302): rename as a harness operation — validate then write (D14, AC-8)
  docs/work/branch-tester/plan-20260805-branch-tester.md
  packages/branch-tester/src/index.ts
  packages/branch-tester/src/rename.ts
  packages/branch-tester/tests/rename.test.ts
Due: eslint --fix, prettier --write

feat(adr-300): channel assertion vocabulary + capture inference (D13, D14)
  .devarch/descriptor.json
  docs/work/branch-tester/plan-20260805-branch-tester.md
  packages/bootstrap/src/index.ts
  packages/branch-tester/src/channel-assert.ts
  packages/branch-tester/src/index.ts
  packages/branch-tester/src/parser.ts
  packages/branch-tester/src/runner.ts
  packages/branch-tester/src/serializer.ts
  packages/branch-tester/src/types.ts
  packages/branch-tester/tests/channel-assert.test.ts
  stories/dungeo/src/version.ts
Due: eslint --fix, prettier --write

docs(adr-302): Phase 11 regression-gate baseline — AC-9 two of three, third blocked (#224)
  docs/work/branch-tester/plan-20260805-branch-tester.md
Due: prettier --write

refactor(adr-302): separate the harnesses by directory — branch-stories/ (D16)
  CLAUDE.md
  branch-stories/fernhill/assets/audio/boiler-thump.wav
  branch-stories/fernhill/assets/audio/dawn-theme.wav
  branch-stories/fernhill/assets/audio/night-wind.wav
  branch-stories/fernhill/assets/images/folly-photograph.png
  branch-stories/fernhill/browser/index.html
  branch-stories/fernhill/chatgpt-review.md
  branch-stories/fernhill/fernhill.story
  branch-stories/fernhill/play-testing/fernhill.skein
  branch-stories/fernhill/tests/transcripts/cellar-dark.transcript
  branch-stories/fernhill/tests/transcripts/compass.transcript
  branch-stories/fernhill/tests/transcripts/concealment.transcript
  branch-stories/fernhill/tests/transcripts/containers.transcript
  branch-stories/fernhill/tests/transcripts/dawn-lose.transcript
  branch-stories/fernhill/tests/transcripts/doors.transcript
  branch-stories/fernhill/tests/transcripts/e-group.transcript
  branch-stories/fernhill/tests/transcripts/frost-seal.transcript
  branch-stories/fernhill/tests/transcripts/fuse-lose.transcript
  branch-stories/fernhill/tests/transcripts/fuse.transcript
  branch-stories/fernhill/tests/transcripts/machine.transcript
  branch-stories/fernhill/tests/transcripts/media-degrade.transcript
  branch-stories/fernhill/tests/transcripts/npcs.transcript
  branch-stories/fernhill/tests/transcripts/phrasebooks.transcript
  branch-stories/fernhill/tests/transcripts/recorded.transcript
  branch-stories/fernhill/tests/transcripts/restart.transcript
  branch-stories/fernhill/tests/transcripts/smoke.transcript
  branch-stories/fernhill/tests/transcripts/timeline.transcript
  branch-stories/fernhill/tests/transcripts/tool-gates.transcript
  branch-stories/fernhill/walkthroughs/wt-01-the-long-night.transcript
  packages/branch-tester/vitest.config.ts
  packages/transcript-tester/vitest.config.ts
  scripts/bundle-entry.js
  stories/dungeo/src/version.ts
  tools/ide/SharpeeIDETests/BuildRunnerTests.swift
  tools/ide/SharpeeIDETests/ComposeRunnerTests.swift
  tools/ide/SharpeeIDETests/ReplayRealPathTests.swift
Due: eslint --fix, prettier --write

docs(adr-302): record Phase 10 state — separation done, Fernhill rewrite blocked on CLI tree entry
  docs/work/branch-tester/plan-20260805-branch-tester.md
Due: prettier --write

feat(adr-302): CLI tree entry point; retire --chain (D10, D11)
  docs/work/branch-tester/plan-20260805-branch-tester.md
  packages/branch-tester/src/cli.ts
  packages/branch-tester/src/tree-runner.ts
Due: eslint --fix, prettier --write

feat(adr-302): bundle integration + Fernhill's tree; find a restore-residue bug (#226)
  branch-stories/fernhill/tests/transcripts/arrival.transcript
  branch-stories/fernhill/tests/transcripts/cellar-dark.transcript
  branch-stories/fernhill/tests/transcripts/concealment.transcript
  branch-stories/fernhill/tests/transcripts/doors.transcript
  branch-stories/fernhill/tests/transcripts/frost-seal.transcript
  branch-stories/fernhill/tests/transcripts/fuse-lose.transcript
  branch-stories/fernhill/tests/transcripts/fuse.transcript
  branch-stories/fernhill/tests/transcripts/key.transcript
  branch-stories/fernhill/tests/transcripts/machine.transcript
  branch-stories/fernhill/tests/transcripts/media-degrade.transcript
  branch-stories/fernhill/tests/transcripts/npcs.transcript
  branch-stories/fernhill/tests/transcripts/smoke.transcript
  branch-stories/fernhill/tests/transcripts/tool-gates.transcript
  docs/work/branch-tester/plan-20260805-branch-tester.md
  packages/branch-tester/tests/header-folding.test.ts
  scripts/bundle-entry.js
  stories/dungeo/src/version.ts
Due: eslint --fix, prettier --write

fix(scheduler): a restore is a reset, not a merge (#226, partial)
  packages/plugin-scheduler/src/scheduler-service.ts
  packages/sharpee/docs/genai-api/index.md
  packages/sharpee/docs/genai-api/plugins.md
  stories/dungeo/src/version.ts
  wait
Due: eslint --fix, prettier --write

chore: rebuild artifacts after scheduler restore fix
  stories/dungeo/src/version.ts
Due: eslint --fix, prettier --write

chore: rebuild after reverted NPC state attempts (#226)
  stories/dungeo/src/version.ts
Due: eslint --fix, prettier --write

fix: restore leaves no residue between sibling branches (#226)
  branch-stories/fernhill/tests/transcripts/fuse-lose.transcript
  branch-stories/fernhill/tests/transcripts/fuse.transcript
  branch-stories/fernhill/tests/transcripts/npcs.transcript
  packages/branch-tester/src/tree-runner.ts
  packages/plugin-npc/src/npc-plugin.ts
  packages/sharpee/docs/genai-api/index.md
  packages/sharpee/docs/genai-api/plugins.md
  packages/sharpee/docs/genai-api/stdlib.md
  packages/stdlib/src/npc/npc-service.ts
  stories/dungeo/src/version.ts
Due: eslint --fix, prettier --write

docs: session-end summary and plan status corrections (ADR-300/302)
  docs/context/archive/session-20260804-0000-main.md
  docs/context/session-20260805-0245-main.md
  docs/work/branch-tester/plan-20260805-branch-tester.md
Due: prettier --write

test(fernhill): fold the walkthrough into the tree spine (ADR-302 D16)
  branch-stories/fernhill/tests/transcripts/the-long-night.transcript
  docs/context/archive/session-20260804-0114-main.md
  docs/context/session-20260805-1644-feat-adr-300-302-channels-branch-tester.md
Due: prettier --write

fix(engine): registerSaveRestoreHooks merges instead of replacing (#229)
  docs/architecture/adrs/adr-302-transcript-branches.md
  docs/context/session-20260805-1707-feat-adr-300-302-channels-branch-tester.md
  packages/bootstrap/src/assemble-restart.test.ts
  packages/bootstrap/src/index.ts
  packages/branch-tester/src/runner.ts
  packages/engine/src/game-engine.ts
  packages/engine/tests/platform-operations.test.ts
  packages/engine/tests/save-restore-hooks-merge.test.ts
  packages/sharpee/docs/genai-api/engine.md
  packages/sharpee/docs/genai-api/index.md
  packages/sharpee/docs/genai-api/tooling.md
  packages/transcript-tester/src/runner.ts
Due: eslint --fix, prettier --write

docs(adr-303): convergent paths and unwinnable states, interviewed to resolution
  docs/architecture/adrs/adr-131-automated-world-explorer.md
  docs/architecture/adrs/adr-302-transcript-branches.md
  docs/architecture/adrs/adr-303-convergent-paths-and-unwinnable-states.md
  docs/context/session-20260805-1707-feat-adr-300-302-channels-branch-tester.md
Due: prettier --write

docs(context): finalize session f2a7e6 — open items refreshed after both merges
  docs/context/session-20260805-1707-feat-adr-300-302-channels-branch-tester.md
Due: prettier --write

docs(adr-131): fold in the ADR-303 D6 widening, ahead of its trigger
  docs/architecture/adrs/adr-131-automated-world-explorer.md
  docs/architecture/adrs/adr-303-convergent-paths-and-unwinnable-states.md
Due: prettier --write

refactor(cli): retire the transcript-test and branch-test bins; sharpee test --tree
  docs/architecture/adrs/adr-185-ide-standalone-authoring-tool.md
  docs/context/session-20260805-1946-feat-adr-300-302-channels-branch-tester.md
  packages/branch-tester/package.json
  packages/branch-tester/src/cli.ts
  packages/branch-tester/src/game-factory.ts
  packages/branch-tester/src/index.ts
  packages/branch-tester/tests/game-factory.test.ts
  packages/devkit/package.json
  packages/devkit/src/cli.ts
  packages/devkit/src/commands/test-tree.ts
  packages/devkit/src/commands/test.test.ts
  packages/devkit/src/commands/test.ts
  packages/transcript-tester/package.json
  packages/transcript-tester/src/cli.ts
  packages/transcript-tester/src/index.ts
  pnpm-lock.yaml
  scripts/bundle-entry.js
  stories/cloak-of-darkness/src/index.ts
  tools/repokit/src/commands/test-npm.ts
  tools/repokit/src/consumer-gen.test.ts
  tools/repokit/src/consumer-gen.ts
Due: eslint --fix, prettier --write

test(npm): prove the tree harness survives an npm install; promote consumer-gen to devkit
  branch-stories/tree-npm-fixture/package.json
  branch-stories/tree-npm-fixture/src/index.ts
  branch-stories/tree-npm-fixture/tests/transcripts/gallery.transcript
  branch-stories/tree-npm-fixture/tests/transcripts/lamp.transcript
  branch-stories/tree-npm-fixture/tests/transcripts/spine.transcript
  branch-stories/tree-npm-fixture/tsconfig.json
  docs/context/session-20260805-1946-feat-adr-300-302-channels-branch-tester.md
  packages/devkit/src/consumer-gen.test.ts
  packages/devkit/src/consumer-gen.ts
  tools/repokit/src/commands/test-npm.ts
Due: eslint --fix, prettier --write

docs(context): finalize session 51b5f4 — PR #233 merged
  docs/context/session-20260805-1946-feat-adr-300-302-channels-branch-tester.md
Due: prettier --write

fix(cloak): revive the demo runners against the post-ADR-174 prose pipeline
  pnpm-lock.yaml
  stories/cloak-of-darkness/package.json
  stories/cloak-of-darkness/src/debug-runner.ts
  stories/cloak-of-darkness/src/test-runner.ts
Due: eslint --fix, prettier --write

docs(context): finalize session 51b5f4 — repo-wide sweep and PR #234
  docs/context/session-20260805-1946-feat-adr-300-302-channels-branch-tester.md
Due: prettier --write

feat(ide-protocol,transcript-tester): stream run events live instead of after-the-fact
  docs/architecture/adrs/adr-277-ide-integrated-testing.md
  docs/architecture/adrs/adr-301-sharpee-transcript-editor.md
  docs/architecture/adrs/adr-303-convergent-paths-and-unwinnable-states.md
  docs/context/.current-plan
  docs/context/archive/session-20260804-1420-main.md
  docs/context/archive/session-20260804-1924-main.md
  docs/context/archive/session-20260805-0219-main.md
  docs/context/session-20260806-0000-feat-adr-300-302-channels-branch-tester.md
  docs/work/ide-testing-wire/branch-view-modes.html
  docs/work/ide-testing-wire/miller-columns-deep-chain.html
  docs/work/ide-testing-wire/plan-20260805-ide-testing-wire.md
  docs/work/ide-testing-wire/plan-20260806-run-event-spine.md
  docs/work/ide-testing-wire/testing-tab-mock.html
  docs/work/ide-testing-wire/testing-tab-prototype.html
  packages/branch-tester/src/runner.ts
  packages/branch-tester/src/tree-runner.ts
  packages/branch-tester/src/types.ts
  packages/devkit/src/commands/test-tree.ts
  packages/devkit/src/commands/test.test.ts
  packages/devkit/src/commands/test.ts
  packages/devkit/src/standalone/author-game.ts
  packages/devkit/tests/test-json.test.ts
  packages/ide-protocol/src/index.ts
  packages/ide-protocol/src/run-events.ts
  packages/ide-protocol/src/test-results.ts
  packages/ide-protocol/tests/run-events.test.ts
  packages/transcript-tester/src/index.ts
  packages/transcript-tester/src/reporter.ts
  packages/transcript-tester/src/run-event-stream.ts
  packages/transcript-tester/src/runner.ts
  packages/transcript-tester/src/types.ts
  packages/transcript-tester/tests/run-observer.test.ts
Due: eslint --fix, prettier --write

feat(ide): the Testing tab — ADR-301 D1's web surface over the run-event stream
  docs/architecture/adrs/adr-301-sharpee-transcript-editor.md
  docs/context/session-20260806-0213-feat-adr-301-testing-tab.md
  docs/work/ide-testing-wire/plan-20260806-run-event-spine.md
  tools/ide/SharpeeIDE/MainWindow.swift
  tools/ide/SharpeeIDE/Play/RightPanelViewController.swift
  tools/ide/SharpeeIDE/Resources/testing-tab/index.html
  tools/ide/SharpeeIDE/Resources/testing-tab/tab.css
  tools/ide/SharpeeIDE/Resources/testing-tab/tab.js
  tools/ide/SharpeeIDE/Test/TestController.swift
  tools/ide/SharpeeIDE/Test/TestPanelModel.swift
  tools/ide/SharpeeIDE/Test/TestPanelView.swift
  tools/ide/SharpeeIDE/Test/TestResultRecord.swift
  tools/ide/SharpeeIDE/Test/TestRunner.swift
  tools/ide/SharpeeIDE/Test/TestingTabSchemeHandler.swift
  tools/ide/SharpeeIDE/Test/TestingTabViewController.swift
  tools/ide/SharpeeIDE/Test/TestingTabWebRoot.swift
  tools/ide/SharpeeIDETests/ReplayDriverTests.swift
  tools/ide/SharpeeIDETests/SplitDividerTests.swift
  tools/ide/SharpeeIDETests/TestPanelModelTests.swift
  tools/ide/SharpeeIDETests/TestResultRecordTests.swift
  tools/ide/SharpeeIDETests/TestRunnerTests.swift
  tools/ide/SharpeeIDETests/TestingTabRealPathTests.swift
  tools/ide/build-testing-tab.sh
  tools/ide/project.yml
  tools/ide/web/testing-tab/build.mjs
  tools/ide/web/testing-tab/src/dom.ts
  tools/ide/web/testing-tab/src/host.ts
  tools/ide/web/testing-tab/src/index.html
  tools/ide/web/testing-tab/src/main.ts
  tools/ide/web/testing-tab/src/model.ts
  tools/ide/web/testing-tab/src/tab.css
  tools/ide/web/testing-tab/src/views.ts
  tools/ide/web/testing-tab/tests/model.test.ts
  tools/ide/web/testing-tab/tsconfig.json
  tools/ide/web/testing-tab/vitest.config.ts
Due: eslint --fix, prettier --write

refactor(ide): cut the hooks the skein retirement left behind
  docs/architecture/adrs/adr-299-play-skein-bless.md
  docs/architecture/adrs/adr-300-addressable-channels-and-canonical-transcript.md
  docs/context/session-20260806-0213-feat-adr-301-testing-tab.md
  tools/ide/SharpeeIDE/AppDelegate.swift
  tools/ide/SharpeeIDE/MainWindow.swift
  tools/ide/SharpeeIDE/Play/PlayViewController.swift
  tools/ide/SharpeeIDE/Test/RecordingSession.swift
  tools/ide/SharpeeIDETests/PlaySessionLogTests.swift
Due: prettier --write

docs(context): finalize session 322542 — correct the suite counts and commit list
  docs/context/session-20260806-0213-feat-adr-301-testing-tab.md
Due: prettier --write

fix(ide): one run model — Run Tests, and it runs the tree
  tools/ide/SharpeeIDE/AppDelegate.swift
  tools/ide/SharpeeIDE/Menus/MenuBuilder.swift
  tools/ide/SharpeeIDE/Resources/testing-tab/index.html
  tools/ide/SharpeeIDE/Resources/testing-tab/tab.js
  tools/ide/SharpeeIDE/Test/TestController.swift
  tools/ide/SharpeeIDE/Test/TestPanelView.swift
  tools/ide/SharpeeIDE/Test/TestRunner.swift
  tools/ide/SharpeeIDE/Test/TestingTabViewController.swift
  tools/ide/SharpeeIDETests/TestingTabRealPathTests.swift
  tools/ide/web/testing-tab/src/host.ts
  tools/ide/web/testing-tab/src/index.html
  tools/ide/web/testing-tab/src/main.ts
  tools/ide/web/testing-tab/src/views.ts
Due: eslint --fix, prettier --write

fix(ide): a warning-only compose is now visible, and stops painting its block
  tools/ide/SharpeeIDE/Build/BottomPanelViewController.swift
  tools/ide/SharpeeIDE/Compose/ProblemsView.swift
  tools/ide/SharpeeIDE/Compose/SpanText.swift
  tools/ide/SharpeeIDE/Editor/EditorViewController.swift
  tools/ide/SharpeeIDETests/ProblemsVisibilityTests.swift
  tools/ide/SharpeeIDETests/SpanTextUnderlineTests.swift
Due: none

fix(chord,ide): narrow the missing-ifid span; reveal warnings; retire the Test tab
  docs/architecture/adrs/adr-282-play-to-test-tagging.md
  docs/architecture/adrs/adr-301-sharpee-transcript-editor.md
  packages/chord/src/analyzer.ts
  packages/chord/tests/analyzer.test.ts
  tools/ide/SharpeeIDE/MainWindow.swift
  tools/ide/SharpeeIDE/Play/RightPanelViewController.swift
  tools/ide/SharpeeIDE/Test/Rebless.swift
  tools/ide/SharpeeIDE/Test/RecordingSession.swift
  tools/ide/SharpeeIDE/Test/TestController.swift
  tools/ide/SharpeeIDE/Test/TestPanelModel.swift
  tools/ide/SharpeeIDE/Test/TestPanelView.swift
  tools/ide/SharpeeIDE/Test/TestResultRecord.swift
  tools/ide/SharpeeIDE/Test/TestRunner.swift
  tools/ide/SharpeeIDE/Test/TranscriptDiscovery.swift
  tools/ide/SharpeeIDETests/ReblessRealPathTests.swift
  tools/ide/SharpeeIDETests/ReblessTests.swift
  tools/ide/SharpeeIDETests/RecordingSerializationTests.swift
  tools/ide/SharpeeIDETests/TestPanelModelTests.swift
  tools/ide/SharpeeIDETests/TestResultRecordTests.swift
  tools/ide/SharpeeIDETests/TestRunnerTests.swift
  tools/ide/SharpeeIDETests/TestingTabRealPathTests.swift
Due: eslint --fix, prettier --write

docs(context): finalize session 322542 — fold in the bug-fix round
  docs/context/session-20260806-0213-feat-adr-301-testing-tab.md
Due: prettier --write

chore(release): fix the npm-build regression and bump the platform to 4.5.0
  packages/bootstrap/package.json
  packages/branch-tester/package.json
  packages/channel-service/package.json
  packages/character/package.json
  packages/chord/package.json
  packages/core/package.json
  packages/devkit/package.json
  packages/engine/package.json
  packages/event-processor/package.json
  packages/extensions/basic-combat/package.json
  packages/extensions/hunger/package.json
  packages/extensions/scoring/package.json
  packages/extensions/testing/package.json
  packages/helpers/package.json
  packages/ide-protocol/package.json
  packages/if-domain/package.json
  packages/if-services/package.json
  packages/lang-en-us/package.json
  packages/media/package.json
  packages/parser-en-us/package.json
  packages/platform-browser/package.json
  packages/plugin-npc/package.json
  packages/plugin-scheduler/package.json
  packages/plugin-state-machine/package.json
  packages/plugins/package.json
  packages/queries/package.json
  packages/sharpee/docs/genai-api/index.md
  packages/sharpee/docs/genai-api/tooling.md
  packages/sharpee/package.json
  packages/stdlib/package.json
  packages/stdlib/src/actions/standard/version/engine-version.ts
  packages/story-loader/package.json
  packages/story-runtime-baseline/package.json
  packages/text-blocks/package.json
  packages/transcript-tester/package.json
  packages/transcript-tester/src/run-event-stream.ts
  packages/world-model/package.json
Due: eslint --fix, prettier --write
