Repository ChicagoDave/sharpee: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md}": [
    "prettier --write"
  ]
}

fix(ide): assemble-dmg sweeps volumes stranded by earlier runs
  tools/ide/dmg/assemble-dmg.sh
Due: none

docs(adr-279): lift the INTERIM — the toolchain-bearing DMG shipped
  docs/architecture/adrs/adr-279-chord-writer-packaging.md
  docs/work/adr-279-chord-writer-packaging/dts-incident-draft.md
  docs/work/adr-279-chord-writer-packaging/forum-post-draft.md
Due: prettier --write

plan(intel): Chord Writer x86_64 as separate per-arch installers
  docs/context/.current-plan
  docs/work/adr-312-cli-test-recording/plan.md
  docs/work/chord-writer-intel/plan.md
Due: prettier --write

plan(intel): x64 node minos gate cleared — 11.0
  docs/work/chord-writer-intel/plan.md
Due: prettier --write

plan(intel): carry the Intel plan onto its own branch
  docs/context/.current-plan
  docs/work/chord-writer-intel/plan.md
Due: prettier --write

feat(ide): per-arch build and packaging
  tools/ide/package.sh
  tools/ide/project.yml
Due: none

fix(ide): pin the Chord Writer team on this branch too
  tools/ide/project.yml
Due: none

feat(website): two-arch download tiles
  website/src/app/chord-writer/download/content.mdx
  website/src/components/download-card.tsx
  website/src/images/chord-writer/app-icon.png
  website/src/mdx-components.tsx
Due: eslint --fix, prettier --write

docs(website): the download tile icon is the shipped app icon, not a placeholder
  website/src/components/download-card.tsx
Due: eslint --fix, prettier --write

docs(website): retitle to 'Sharpee and Chord - An IF Modeling Language'
  docs/context/session-20260813-1306-feat-adr-312-cli-test-recording.md
  website/src/app/layout.tsx
Due: eslint --fix, prettier --write

test(zifmia): skip the bundle-dependent real-path tests when the bundle is absent
  tools/zifmia/tests/engine-integration.test.ts
  tools/zifmia/tests/story-health.test.ts
Due: eslint --fix, prettier --write

docs(adr-279): land the notarization record on main
  docs/architecture/adrs/adr-279-chord-writer-packaging.md
  docs/work/adr-279-chord-writer-packaging/dts-incident-draft.md
  docs/work/adr-279-chord-writer-packaging/fixtures/.gitignore
  docs/work/adr-279-chord-writer-packaging/fixtures/RESULTS.md
  docs/work/adr-279-chord-writer-packaging/fixtures/make-archive-fixtures.sh
  docs/work/adr-279-chord-writer-packaging/fixtures/make-discriminator-fixtures.sh
  docs/work/adr-279-chord-writer-packaging/fixtures/make-fixtures.sh
  docs/work/adr-279-chord-writer-packaging/fixtures/make-signed-fixtures.sh
  docs/work/adr-279-chord-writer-packaging/forum-post-draft.md
  docs/work/adr-279-chord-writer-packaging/notarization-bisection.md
  docs/work/adr-279-chord-writer-packaging/plan.md
  stories/dungeo/src/version.ts
Due: eslint --fix, prettier --write

test(zifmia): the .sharpee path is deprecated — do not regenerate the artifact
  tools/zifmia/tests/engine-integration.test.ts
  tools/zifmia/tests/story-health.test.ts
Due: eslint --fix, prettier --write

chore: strip zifmia from the docs and build scripts
  CONTRIBUTING.md
  README.md
  build-macos.sh
  build-ubuntu.sh
Due: prettier --write

chore(packages): strip the retired zifmia name from comments
  packages/channel-service/src/channel-service.ts
  packages/channel-service/src/index.ts
  packages/channel-service/src/render-to-string.ts
  packages/channel-service/src/utils/prose.ts
  packages/core/src/random/choice-point.ts
  packages/devkit/src/standalone/build.ts
  packages/if-domain/src/channels/types.ts
  packages/interpreter/src/index.ts
  packages/interpreter/src/storage/browser-storage-provider.ts
  packages/platform-browser/src/channels/prose.ts
  packages/story-runtime-baseline/src/index.ts
Due: eslint --fix, prettier --write

docs: annotate the zifmia ADRs and archive the operator guides
  docs/README.md
  docs/_archive/zifmia/backup-restore.md
  docs/_archive/zifmia/config-reference.md
  docs/_archive/zifmia/deployment.md
  docs/_archive/zifmia/install-guide.md
  docs/_archive/zifmia/upgrade-guide.md
  docs/architecture/adrs/README.md
  docs/architecture/adrs/adr-125-zifmia-panels.md
  docs/architecture/adrs/adr-128-walkthrough-panel.md
  docs/architecture/adrs/adr-130-zifmia-packaging.md
  docs/architecture/adrs/adr-152-multiuser-player.md
  docs/architecture/adrs/adr-153-multiuser-sharpee-server.md
  docs/architecture/adrs/adr-153a-multiuser-server-amendments.md
  docs/architecture/adrs/adr-156-multiuser-browser-client.md
  docs/architecture/adrs/adr-162-world-model-replication.md
  docs/architecture/adrs/adr-164-stateless-multiuser-server.md
  docs/architecture/adrs/adr-175-zifmia-multiuser-product.md
  docs/architecture/adrs/adr-177-multiuser-corrected.md
  docs/architecture/adrs/adr-179-zifmia-published-image.md
  docs/core-concepts/README.md
  docs/work/web-chord-writer/brainstorm-20260813-web-chord-writer.md
  packages/devkit/README.md
Due: prettier --write

docs: record session phase 4 — website retitle and zifmia retirement
  docs/context/archive/session-20260810-0011-feat-testing-tab-embed.md
  docs/context/archive/session-20260812-0903-main.md
  docs/context/session-20260813-1306-feat-adr-312-cli-test-recording.md
Due: prettier --write

fix(repokit): bootstrap the engine instead of telling the operator to
  repokit
  website/deploy.sh
Due: none

fix(website): deploy installs the pnpm workspace before building the playground
  website/deploy.sh
Due: none

docs(genai-api): regenerate after the zifmia comment strip
  packages/sharpee/docs/genai-api/core.md
  packages/sharpee/docs/genai-api/if-domain.md
  packages/sharpee/docs/genai-api/presentation.md
Due: prettier --write

plan(intel): mark DONE — all three phases shipped
  docs/work/chord-writer-intel/plan.md
Due: prettier --write

docs(proposal): amend docs-consolidation for the zifmia retirement
  docs/proposals/docs-consolidation.md
Due: prettier --write

docs(proposal): accept P-9 through P-14 — docs-consolidation is fully accepted
  docs/proposals/docs-consolidation.md
Due: prettier --write

docs(core-concepts): fix the file every session is told to read (P-13)
  docs/core-concepts/README.md
  docs/proposals/docs-consolidation.md
Due: prettier --write

fix(build,website): repair a sudo-run deploy; migrate playground examples to Chord 3
  docs/context/session-20260814-0018-build-failure-incident.md
  repokit
  scripts/fix-global-tsc.sh
  scripts/fix-root-owned-artifacts.sh
  scripts/playground-examples-check.mjs
  website/deploy.sh
  website/src/app/playground/examples.ts
Due: eslint --fix, prettier --write

docs: extend session summary with deploy hardening phase
  docs/context/session-20260813-1306-feat-adr-312-cli-test-recording.md
Due: prettier --write

plan(docs-consolidation): plan twelve of fourteen accepted items
  docs/context/.current-plan
  docs/proposals/docs-consolidation.md
  docs/work/docs-consolidation/plan.md
Due: prettier --write

fix(website): sync chord.ebnf from packages/chord at build time
  docs/context/session-20260814-1946-main.md
  website/package.json
  website/scripts/sync-chord-ebnf.mjs
Due: prettier --write

docs(docs-consolidation): Phases 4-5 — runtime-state retention rule, docs/README rewrite (P-7,P-8,P-10,P-11)
  CLAUDE.md
  docs/README.md
  docs/context/README.md
  docs/context/archive/session-20260810-1535-feat-testing-tab-embed.md
  docs/context/session-20260814-2142-main.md
  docs/proposals/docs-consolidation.md
  docs/work/docs-consolidation/plan.md
  scripts/prune-devarch-runtime.sh
Due: prettier --write

fix(test): give scripts/__tests__ a runner and relocate the ADR-178 baseline test
  CLAUDE.md
  docs/architecture/adrs/adr-178-story-runtime-baseline.md
  docs/context/archive/session-20260810-2232-chord-writer-screenshots.md
  docs/context/session-20260814-0225-main.md
  package.json
  packages/story-runtime-baseline/__tests__/baseline-validation.test.ts
  scripts/__tests__/cli-chord-seed.test.ts
  scripts/vitest.config.ts
Due: eslint --fix, prettier --write

fix(test): close test:ci coverage gap, prune stale ADR-178 citations
  docs/architecture/adrs/adr-178-story-runtime-baseline.md
  docs/context/session-20260814-0225-main.md
  packages/bootstrap/package.json
  packages/branch-tester/package.json
  packages/character/package.json
  packages/devkit/package.json
  packages/plugins/package.json
  packages/queries/package.json
  packages/story-runtime-baseline/package.json
  packages/transcript-tester/package.json
Due: prettier --write

fix(website): homepage cards lead to the What is Sharpee/Chord pages
  docs/context/session-20260814-0405-main.md
  website/src/app/page.tsx
Due: eslint --fix, prettier --write

docs(context): record the DevArch issues write-up in the session summary
  docs/context/session-20260814-0405-main.md
Due: prettier --write
