Repository ChicagoDave/sharpee: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: complete Tea Room phase 5 - fix cake serialization, preserve chain handlers
  docs/context/session-20260206-2319-main.md
  docs/context/session-20260207-0454-main.md
  docs/work/dungeo/tea-room-plan.md
  docs/work/issues/issues-list-03.md
  packages/extensions/testing/src/context/debug-context.ts
  packages/world-model/src/world/WorldModel.ts
  stories/dungeo/src/handlers/cake-handler.ts
  stories/dungeo/src/regions/well-room.ts
  stories/dungeo/src/version.ts
  stories/dungeo/tests/transcripts/cage-puzzle.transcript
  stories/dungeo/tests/transcripts/robot-commands.transcript
  stories/dungeo/walkthroughs/wt-09-tea-room.transcript
Due: eslint --fix, prettier --write

fix: correct inverted carousel state logic in wt-09 tea room walkthrough
  checkpoints/after-leaflet.json
  docs/context/session-20260207-0830-main.md
  docs/context/session-20260207-0900-main.md
  docs/work/dungeo/thief-fight-plan.md
  stories/dungeo/src/combat/index.ts
  stories/dungeo/src/combat/melee-tables.ts
  stories/dungeo/src/combat/melee.ts
  stories/dungeo/src/handlers/carousel-handler.ts
  stories/dungeo/src/npcs/robot/robot-entity.ts
  stories/dungeo/src/regions/well-room.ts
  stories/dungeo/src/version.ts
  stories/dungeo/walkthroughs/wt-09-tea-room.transcript
Due: eslint --fix, prettier --write

feat: implement canonical melee combat (phases 3-4) - interceptor, disengagement, healing
  docs/context/session-20260207-1000-main.md
  docs/context/session-20260207-1100-main.md
  docs/context/session-20260208-0059-main.md
  packages/stdlib/src/actions/standard/attacking/attacking.ts
  stories/dungeo/src/actions/diagnose/diagnose-action.ts
  stories/dungeo/src/combat/index.ts
  stories/dungeo/src/combat/melee-messages.ts
  stories/dungeo/src/combat/melee-state.ts
  stories/dungeo/src/handlers/combat-disengagement-handler.ts
  stories/dungeo/src/index.ts
  stories/dungeo/src/interceptors/melee-interceptor.ts
  stories/dungeo/src/messages/npc-messages.ts
  stories/dungeo/src/orchestration/event-handlers.ts
  stories/dungeo/src/orchestration/scheduler-setup.ts
  stories/dungeo/src/scheduler/cure-daemon.ts
  stories/dungeo/src/scheduler/index.ts
  stories/dungeo/src/version.ts
  stories/dungeo/tests/transcripts/combat-disengagement.transcript
  stories/dungeo/walkthroughs/wt-01-get-torch-early.transcript
Due: eslint --fix, prettier --write

feat: thief behavior phase 5 - canonical WINNING? fight/flee AI
  docs/work/issues/issues-list-03.md
  stories/dungeo/src/npcs/thief/thief-behavior.ts
  stories/dungeo/src/npcs/thief/thief-helpers.ts
  stories/dungeo/src/version.ts
Due: eslint --fix, prettier --write

docs: add session summary for Phase 5 thief behavior (2:39 PM CST)
  docs/context/session-20260208-1439-main.md
Due: prettier --write

fix: DIAGNOSE command CLI rendering + canonical verification (phase 6)
  docs/context/session-20260208-1542-main.md
  stories/dungeo/src/actions/diagnose/diagnose-action.ts
  stories/dungeo/src/actions/diagnose/types.ts
  stories/dungeo/src/browser-entry.ts
  stories/dungeo/src/messages/action-messages.ts
  stories/dungeo/tests/transcripts/combat-disengagement.transcript
  stories/dungeo/tests/transcripts/help-commands.transcript
Due: eslint --fix, prettier --write

docs: Phase 7 troll integration plan + capability registry bug discovery
  docs/context/session-20260208-1608-main.md
  docs/work/dungeo/thief-phase-7-plan.md
Due: prettier --write

feat: fix scoring system + Phase 7 troll integration (ISSUE-053)
  docs/context/session-20260208-1608-main.md
  docs/context/session-20260208-1737-main.md
  docs/context/session-20260209-0033-main.md
  docs/context/session-20260209-0120-main.md
  docs/context/session-20260209-0155-main.md
  docs/work/issues/issues-list-03.md
  docs/work/platform/text-service-assessment.md
  docs/work/platform/treasure-plan.md
  packages/stdlib/src/services/scoring/scoring-event-processor.ts
  packages/world-model/src/index.ts
  packages/world-model/src/traits/all-traits.ts
  packages/world-model/src/traits/implementations.ts
  packages/world-model/src/traits/index.ts
  packages/world-model/src/traits/trait-types.ts
  packages/world-model/src/traits/treasure/index.ts
  packages/world-model/src/traits/treasure/treasureTrait.ts
  stories/dungeo/CLAUDE.md
  stories/dungeo/src/actions/gdt/commands/ko.ts
  stories/dungeo/src/index.ts
  stories/dungeo/src/interceptors/melee-interceptor.ts
  stories/dungeo/src/objects/thiefs-canvas-objects.ts
  stories/dungeo/src/orchestration/event-handlers.ts
  stories/dungeo/src/regions/underground.ts
  stories/dungeo/src/scheduler/troll-daemon.ts
  stories/dungeo/src/traits/index.ts
  stories/dungeo/src/traits/troll-capability-behaviors.ts
  stories/dungeo/src/traits/troll-trait.ts
  stories/dungeo/src/version.ts
  stories/dungeo/tests/transcripts/troll-interactions.transcript
  stories/dungeo/tests/transcripts/troll-recovery.transcript
  stories/dungeo/tests/transcripts/trophy-case-scoring.transcript
Due: eslint --fix, prettier --write

feat: implement ADR-126 destination interceptors + gas room (coal mine)
  checkpoints/after-leaflet.json
  docs/architecture/adrs/adr-126-destination-interceptors-and-room-conditions.md
  docs/architecture/adrs/adr-127-location-scoped-interceptors.md
  docs/context/room-consitions.txt
  docs/context/session-20260209-0505-main.md
  docs/context/session-20260209-0600-main.md
  docs/context/session-20260209-0730-main.md
  docs/context/session-20260209-1210-main.md
  docs/work/dungeo/coal-mine-plan.md
  docs/work/dungeo/score-accounting.md
  docs/work/platform/room-exit-entrance-conditions.md
  packages/stdlib/src/actions/constants.ts
  packages/stdlib/src/actions/standard/going/going.ts
  stories/dungeo/src/actions/gas-explosion/gas-explosion-action.ts
  stories/dungeo/src/actions/gas-explosion/index.ts
  stories/dungeo/src/actions/gas-explosion/types.ts
  stories/dungeo/src/actions/index.ts
  stories/dungeo/src/handlers/exorcism-handler.ts
  stories/dungeo/src/handlers/gas-room-handler.ts
  stories/dungeo/src/index.ts
  stories/dungeo/src/interceptors/gas-room-entry-interceptor.ts
  stories/dungeo/src/messages/object-messages.ts
  stories/dungeo/src/orchestration/command-transformers.ts
  stories/dungeo/src/regions/coal-mine.ts
  stories/dungeo/src/regions/temple.ts
  stories/dungeo/src/regions/underground.ts
  stories/dungeo/src/traits/gas-room-trait.ts
  stories/dungeo/src/traits/index.ts
  stories/dungeo/src/version.ts
  stories/dungeo/tests/transcripts/gas-room-explosion.transcript
  stories/dungeo/tests/transcripts/gas-room-safe-lantern.transcript
Due: eslint --fix, prettier --write

docs: combat system refactor plan - extract CombatService to extension
  docs/context/session-20260210-1200-main.md
  docs/work/combat/refactor-plan.md
Due: prettier --write

feat: combat refactor steps 1-3 — extract CombatService to extension
  docs/context/session-20260210-1400-combat-refactor.md
  docs/work/combat/refactor-plan.md
  packages/extensions/basic-combat/package.json
  packages/extensions/basic-combat/src/basic-combat-interceptor.ts
  packages/extensions/basic-combat/src/basic-npc-resolver.ts
  packages/extensions/basic-combat/src/combat-messages.ts
  packages/extensions/basic-combat/src/combat-service.ts
  packages/extensions/basic-combat/src/index.ts
  packages/extensions/basic-combat/tests/combat-service.test.ts
  packages/extensions/basic-combat/tsconfig.json
  packages/lang-en-us/src/actions/attacking.ts
  packages/stdlib/src/actions/standard/attacking/attacking-types.ts
  packages/stdlib/src/actions/standard/attacking/attacking.ts
  packages/stdlib/src/npc/index.ts
  packages/stdlib/src/npc/npc-service.ts
Due: eslint --fix, prettier --write

fix: combat bugs — kill after deserialization, UNTIL text, death side effects
  docs/context/session-20260210-1657-combat-verification.md
  docs/context/session-20260210-2300-combat-refactor.md
  docs/context/session-20260210-2351-combat-refactor.md
  docs/context/session-20260211-0130-combat-refactor.md
  docs/context/session-20260211-1100-combat-refactor.md
  docs/context/session-20260211-1400-combat-refactor.md
  packages/stdlib/src/actions/standard/attacking/attacking.ts
  packages/transcript-tester/src/parser.ts
  packages/transcript-tester/src/runner.ts
  packages/transcript-tester/src/types.ts
  stories/dungeo/src/actions/gdt/commands/kl.ts
  stories/dungeo/src/combat/melee-npc-attack.ts
  stories/dungeo/src/interceptors/melee-interceptor.ts
  stories/dungeo/src/npcs/cyclops/cyclops-entity.ts
  stories/dungeo/src/npcs/thief/thief-entity.ts
  stories/dungeo/src/regions/underground.ts
  stories/dungeo/src/version.ts
  stories/dungeo/tests/transcripts/debug-combat.transcript
  stories/dungeo/tests/transcripts/troll-combat.transcript
  stories/dungeo/walkthroughs/wt-01-get-torch-early.transcript
  stories/dungeo/walkthroughs/wt-12-thief-fight.transcript
Due: eslint --fix, prettier --write

feat: canonical egg/canary puzzle, thief death handler, CLI --restore flag
  docs/architecture/adrs/adr-128-walkthrough-panel.md
  docs/context/session-20260211-2037-combat-refactor.md
  packages/transcript-tester/src/fast-cli.ts
  scripts/bundle-entry.js
  stories/dungeo/src/interceptors/melee-interceptor.ts
  stories/dungeo/src/npcs/thief/thief-behavior.ts
  stories/dungeo/src/npcs/thief/thief-entity.ts
  stories/dungeo/walkthroughs/wt-12-thief-fight.transcript
Due: eslint --fix, prettier --write

fix: canonical thief treasure deposit — concealment, trophy value filter
  CLAUDE.md
  docs/context/session-20260211-2200-combat-refactor.md
  docs/context/session-20260212-0527-combat-refactor.md
  stories/dungeo/src/interceptors/melee-interceptor.ts
  stories/dungeo/src/npcs/thief/index.ts
  stories/dungeo/src/npcs/thief/thief-behavior.ts
  stories/dungeo/src/npcs/thief/thief-helpers.ts
  stories/dungeo/src/regions/maze.ts
Due: eslint --fix, prettier --write

docs: ADR-129 — transactional score ledger replacing ScoringService
  docs/architecture/adrs/adr-129-treasure-scoring-to-story-layer.md
  docs/context/session-20260212-1530-combat-refactor.md
Due: prettier --write

chore: add .tsf-cache/ to .gitignore
  .gitignore
Due: none

chore: remove debug transcripts
  stories/dungeo/tests/transcripts/debug-inventory.transcript
  stories/dungeo/tests/transcripts/debug-thief-fight.transcript
  stories/dungeo/tests/transcripts/debug-trapdoor.transcript
Due: none

fix: eliminate dist-npm to fix NPC plugin dual module resolution
  .gitignore
  build-macos.sh
  build-ubuntu.sh
  docs/context/session-20260212-2351-main.md
  docs/context/session-20260213-0045-main.md
  packages/core/package.json
  packages/engine/package.json
  packages/event-processor/package.json
  packages/extensions/basic-combat/package.json
  packages/extensions/testing/package.json
  packages/if-domain/package.json
  packages/if-services/package.json
  packages/lang-en-us/package.json
  packages/parser-en-us/package.json
  packages/plugin-npc/package.json
  packages/plugin-scheduler/package.json
  packages/plugin-state-machine/package.json
  packages/plugins/package.json
  packages/sharpee/package.json
  packages/stdlib/package.json
  packages/stdlib/src/npc/npc-service.ts
  packages/text-blocks/package.json
  packages/text-service/package.json
  packages/transcript-tester/package.json
  packages/world-model/package.json
  stories/dungeo/src/version.ts
  ts-forge.config.json
  website/src/pages/docs/developer-guide/build-system.mdx
Due: eslint --fix, prettier --write

fix: IF-gate treasure pickups in wt-11/wt-12 for thief stealing
  docs/context/session-20260213-0045-main.md
  docs/context/session-20260213-0241-main.md
  stories/dungeo/src/version.ts
  stories/dungeo/walkthroughs/wt-11-scattered-treasures.transcript
  stories/dungeo/walkthroughs/wt-12-thief-fight.transcript
Due: eslint --fix, prettier --write

docs: update dungeon catalog with accurate implementation status
  docs/context/session-20260213-0241-main.md
  docs/work/dungeo/dungeon-catalog.md
Due: prettier --write

fix: use globalThis for capability registry to share across require() boundaries (ISSUE-052)
  docs/context/session-20260213-0914-main.md
  docs/work/issues/issues-list-03.md
  packages/world-model/src/capabilities/capability-registry.ts
  stories/dungeo/src/version.ts
Due: eslint --fix, prettier --write

fix: use lantern in wt-12 thief fight to avoid dark room after torch stolen
  stories/dungeo/src/version.ts
  stories/dungeo/walkthroughs/wt-12-thief-fight.transcript
Due: eslint --fix, prettier --write

docs: update session summary with wt-12 lantern fix
  docs/context/session-20260213-0914-main.md
Due: prettier --write

docs: add volcano plan and session summaries
  docs/context/session-20260213-1048-main.md
  docs/context/session-20260213-1155-main.md
  docs/context/thief-wt12.txt
  docs/work/dungeo/volcano-plan.md
Due: prettier --write

fix: add real assertions to all walkthrough commands, eliminate $teleport/$take
  packages/transcript-tester/src/parser.ts
  stories/dungeo/src/messages/action-messages.ts
  stories/dungeo/src/messages/index.ts
  stories/dungeo/tests/transcripts/frigid-river-restore.transcript
  stories/dungeo/walkthroughs/wt-01-get-torch-early.transcript
  stories/dungeo/walkthroughs/wt-06-exorcism.transcript
  stories/dungeo/walkthroughs/wt-07-river-rainbow.transcript
  stories/dungeo/walkthroughs/wt-08-egg-tree.transcript
  stories/dungeo/walkthroughs/wt-09-tea-room.transcript
  stories/dungeo/walkthroughs/wt-10-coal-mine.transcript
  stories/dungeo/walkthroughs/wt-11-scattered-treasures.transcript
Due: eslint --fix, prettier --write

fix: canContain() missing VEHICLE and ENTERABLE traits
  docs/context/session-20260216-0112-main.md
  packages/stdlib/tests/unit/scope/scope-resolver.test.ts
  packages/world-model/src/traits/container/container-utils.ts
Due: eslint --fix, prettier --write

fix: entity.name getter priority, restore debug tooling, add --exec mode
  build.sh
  docs/context/session-20260216-0112-main.md
  docs/context/session-20260216-0221-main.md
  docs/context/session-20260216-0230-main.md
  docs/context/session-20260216-0345-main.md
  docs/context/session-20260216-0351-main.md
  docs/context/session-20260216-0410-main.md
  docs/context/session-20260216-0430-main.md
  docs/context/session-20260216-0500-main.md
  packages/stdlib/tests/unit/scope/scope-resolver.test.ts
  packages/transcript-tester/src/fast-cli.ts
  packages/world-model/src/entities/if-entity.ts
  scripts/bundle-entry.js
  scripts/debug-scope-13a.js
  scripts/debug-scope.js
  stories/dungeo/src/regions/house-interior.ts
  stories/dungeo/src/regions/volcano.ts
  stories/dungeo/src/version.ts
  stories/dungeo/walkthroughs/wt-13a-volcano-balloon-setup.transcript
Due: eslint --fix, prettier --write

docs: add session summary for 0503 session
  docs/context/session-20260216-0503-main.md
Due: prettier --write

docs: WT-13 failure root cause analysis - 3 distinct issues identified
  docs/context/session-20260216-0530-main.md
Due: prettier --write

feat: fast test bundle, fuse skip fix, plugin state save/restore, balloon/volcano fixes
  build.sh
  docs/context/session-20260216-0503-main.md
  docs/context/session-20260216-0615-main.md
  docs/context/session-20260216-1228-main.md
  docs/context/session-20260216-1330-main.md
  docs/context/session-20260216-1507-main.md
  docs/context/session-20260216-1512-main.md
  packages/plugin-scheduler/src/scheduler-service.ts
  packages/plugin-scheduler/src/types.ts
  packages/transcript-tester/src/runner.ts
  scripts/bundle-entry.js
  scripts/test-bundle-template.js
  stories/dungeo/src/handlers/balloon-handler.ts
  stories/dungeo/src/regions/volcano.ts
  stories/dungeo/src/version.ts
  stories/dungeo/walkthroughs/wt-07-river-rainbow.transcript
  stories/dungeo/walkthroughs/wt-13-volcano-balloon.transcript
  stories/dungeo/walkthroughs/wt-13a-volcano-balloon-setup.transcript
Due: eslint --fix, prettier --write

fix: NPC message template substitution, MessageEffect event loss, mirror assertions
  docs/work/issues/issues-list-03.md
  packages/event-processor/src/effects/effect-processor.ts
  packages/stdlib/src/npc/npc-service.ts
  stories/dungeo/src/version.ts
  stories/dungeo/walkthroughs/wt-10-coal-mine.transcript
  stories/dungeo/walkthroughs/wt-11-scattered-treasures.transcript
Due: eslint --fix, prettier --write

docs: close issues-list-03, open issues-list-04 with 6 remaining issues
  docs/work/issues/issues-list-04.md
Due: prettier --write

docs: mark ISSUE-052 as already fixed in issues-list-04
  docs/work/issues/issues-list-04.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md})
