Repository ChicagoDave/sharpee: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

docs(session): summary for 2026-04-28 (e2e Phase 2-4 + stateless multi-user pivot)
  docs/context/archive/session-20260427-0154-main.md
  docs/context/session-20260428-1843-main.md
  docs/context/session-20260428-1848-main.md
  docs/context/session-20260428-1930-main.md
  docs/context/session-20260428-1939-main.md
Due: prettier --write

docs(arch): channel-I/O unification — ADR-163, ADR-164, audit + sequence diagrams
  docs/architecture/adrs/adr-101-graphical-client-architecture.md
  docs/architecture/adrs/adr-163-stateless-multiuser-channel-io.md
  docs/architecture/adrs/adr-164-channel-io-everywhere.md
  docs/context/archive/session-20260426-2041-main.md
  docs/context/session-20260428-2141-main.md
  docs/work/channel-io-unification/audit-20260429-adr-101.md
  docs/work/channel-io-unification/sequence-diagrams-20260429.md
  stories/thealderman/docs/detective-sheet.jsx
Due: prettier --write

docs(channel-io): text-service vs channel-service walkthroughs + Alderman visual assets
  docs/context/archive/session-20260427-1912-main.md
  docs/context/session-20260429-1332-main.md
  docs/work/channel-io-unification/diagrams/alderman-detective-sheet.html
  docs/work/channel-io-unification/diagrams/alderman-detective-sheet.png
  docs/work/channel-io-unification/diagrams/alderman-help-card.html
  docs/work/channel-io-unification/diagrams/alderman-help-card.png
  docs/work/channel-io-unification/diagrams/dungeo-channel-service-bootstrap.mmd
  docs/work/channel-io-unification/diagrams/dungeo-channel-service-bootstrap.png
  docs/work/channel-io-unification/diagrams/dungeo-channel-service-north-turn.mmd
  docs/work/channel-io-unification/diagrams/dungeo-channel-service-north-turn.png
  docs/work/channel-io-unification/diagrams/dungeo-text-service-bootstrap.mmd
  docs/work/channel-io-unification/diagrams/dungeo-text-service-bootstrap.png
  docs/work/channel-io-unification/diagrams/dungeo-text-service-north-turn.mmd
  docs/work/channel-io-unification/diagrams/dungeo-text-service-north-turn.png
  docs/work/channel-io-unification/dungeo-channel-service-walkthrough.md
  docs/work/channel-io-unification/dungeo-text-service-walkthrough.md
  docs/work/channel-io-unification/post-text-to-channel.md
Due: prettier --write

docs(channel-io): split ADR-163/164, add ADR-165, validate via spike
  docs/architecture/adrs/adr-163-channel-service-platform.md
  docs/architecture/adrs/adr-163-stateless-multiuser-channel-io.md
  docs/architecture/adrs/adr-164-channel-io-everywhere.md
  docs/architecture/adrs/adr-164-stateless-multiuser-server.md
  docs/architecture/adrs/adr-165-renderer-architecture.md
  docs/context/archive/session-20260428-0455-fix-save-restore-roundtrip.md
  docs/context/session-20260429-1728-main.md
  docs/work/channel-io-unification/diagrams/adr-163-164-architecture.html
  docs/work/channel-io-unification/diagrams/renderer-architecture.html
  docs/work/channel-io-unification/dungeo-channel-service-walkthrough.md
  docs/work/channel-io-unification/dungeo-text-service-walkthrough.md
  docs/work/channel-io-unification/post-text-to-channel.md
  docs/work/channel-io-unification/triple-review-20260501.md
  docs/work/devarch/multi-adr-review-skill-proposal.md
  spikes/channel-io/README.md
  spikes/channel-io/findings.md
  spikes/channel-io/index.html
Due: prettier --write

feat(channel-service): scaffold ADR-163 platform package, Phase 1 (71 tests passing)
  build.sh
  docs/context/archive/session-20260428-0057-main.md
  docs/context/session-20260501-0139-main.md
  docs/work/channel-io-unification/plan-20260501-adr-163-platform.md
  package.json
  packages/channel-service/package.json
  packages/channel-service/src/index.ts
  packages/channel-service/src/platform-rules.ts
  packages/channel-service/src/produce-cmgt.ts
  packages/channel-service/src/produce-turn.ts
  packages/channel-service/src/registry.ts
  packages/channel-service/src/standard-channels.ts
  packages/channel-service/src/types.ts
  packages/channel-service/src/wire/decoder.ts
  packages/channel-service/src/wire/index.ts
  packages/channel-service/src/wire/types.ts
  packages/channel-service/tests/ac-01-package-and-channels.test.ts
  packages/channel-service/tests/ac-02-wire-protocol.test.ts
  packages/channel-service/tests/ac-04-and-11-bootstrap.test.ts
  packages/channel-service/tests/ac-05-cmgt-filtering.test.ts
  packages/channel-service/tests/ac-09-emit-policy.test.ts
  packages/channel-service/tests/ac-10-conflict-resolution.test.ts
  packages/channel-service/tsconfig.esm.json
  packages/channel-service/tsconfig.json
  packages/channel-service/vitest.config.ts
  packages/sharpee/package.json
  packages/sharpee/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(channel-service): ADR-163 Phase 2 — media channels + repaint identity (109 tests passing)
  docs/context/archive/session-20260428-1939-main.md
  docs/context/session-20260501-0239-main.md
  docs/work/channel-io-unification/plan-20260501-adr-163-platform.md
  packages/channel-service/package.json
  packages/channel-service/src/index.ts
  packages/channel-service/src/media-channels.ts
  packages/channel-service/src/media-rules.ts
  packages/channel-service/src/platform-rules.ts
  packages/channel-service/src/produce-turn.ts
  packages/channel-service/src/types.ts
  packages/channel-service/tests/ac-03-round-trip.test.ts
  packages/channel-service/tests/ac-06-media-mappings.test.ts
  packages/channel-service/tests/ac-07-hotspot-command.test.ts
  packages/channel-service/tests/ac-08-clear-truncation.test.ts
  packages/channel-service/tests/ac-12-repaint-identity.test.ts
  packages/channel-service/tests/test-helpers/capabilities.ts
  packages/channel-service/tests/test-helpers/hotspot.ts
  packages/channel-service/tests/test-helpers/renderer.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  stories/channel-service-test/package.json
  stories/channel-service-test/src/index.ts
  stories/channel-service-test/src/scenarios.ts
  stories/channel-service-test/tsconfig.json
Due: eslint --fix, prettier --write

feat(channel-service): ADR-163 Phase 3 — CLI surface migration (AC-13 real-path test passing)
  build.sh
  docs/context/archive/session-20260428-2141-main.md
  docs/context/session-20260501-0309-main.md
  docs/work/channel-io-unification/plan-20260501-adr-163-phase-3-cli-migration.md
  docs/work/channel-io-unification/plan-20260501-adr-163-platform.md
  packages/channel-service/tests/ac-13-cli-real-path.test.ts
  packages/text-service/src/index.ts
  scripts/bundle-entry.js
Due: eslint --fix, prettier --write

docs(channel-io): ADR-163 architecture rewrite — closure-per-channel + package-shape refinement
  docs/architecture/adrs/adr-163-channel-service-platform.md
  docs/architecture/adrs/adr-165-renderer-architecture.md
  docs/context/archive/session-20260429-1332-main.md
  docs/context/session-20260502-1914-main.md
  docs/work/channel-io-unification/audit-20260502-platform-browser.md
  docs/work/channel-io-unification/diagrams/adr-163-164-architecture.html
  docs/work/channel-io-unification/plan-20260501-adr-163-platform.md
  docs/work/channel-io-unification/plan-20260502-adr-163-phase-4-platform-browser.md
  docs/work/channel-io-unification/plan-20260502-adr-163-rewrite-master.md
Due: prettier --write

feat(channel-io): ADR-163 R6+R7 — CLI bundle migration + story-renderer parity (AC-13/15 GREEN)
  docs/context/session-20260503-0417-main.md
  docs/work/channel-io-unification/plan-20260502-adr-163-rewrite-master.md
  packages/channel-service/package.json
  packages/channel-service/tests/ac-13-cli-real-path.test.ts
  packages/channel-service/tests/ac-15-story-renderer-parity.test.ts
  packages/platforms/browser-en-us/src/version.ts
  packages/sharpee/docs/genai-api/index.md
  pnpm-lock.yaml
  scripts/bundle-entry.js
  stories/channel-service-test/package.json
  stories/channel-service-test/src/channels.ts
  stories/channel-service-test/src/index.ts
  stories/channel-service-test/src/playable-story.ts
  stories/channel-service-test/src/renderer.ts
  stories/channel-service-test/src/scenarios.ts
  stories/channel-service-test/tsconfig.json
  stories/channel-service-test/walkthroughs/wt-stat.transcript
  stories/dungeo/src/version.ts
  website/public/web/dungeo/game.js
Due: eslint --fix, prettier --write

feat(channel-io): ADR-163 R8 — cleanup phase closes all acceptance criteria GREEN
  docs/context/session-20260503-0417-main.md
  docs/work/channel-io-unification/plan-20260502-adr-163-rewrite-master.md
  docs/work/channel-io-unification/text-service-disposition-20260503.md
  package.json
  packages/channel-service/tests/ac-16-cleanup-grep-gate.test.ts
  packages/platforms/browser-en-us/package.json
  packages/platforms/browser-en-us/src/browser-client.ts
  packages/platforms/browser-en-us/src/browser-input.ts
  packages/platforms/browser-en-us/src/browser-output.ts
  packages/platforms/browser-en-us/src/browser-platform.ts
  packages/platforms/browser-en-us/src/index.ts
  packages/platforms/browser-en-us/src/version.ts
  packages/platforms/browser-en-us/tsconfig.json
  packages/platforms/cli-en-us/package.json
  packages/platforms/cli-en-us/src/cli-input.ts
  packages/platforms/cli-en-us/src/cli-output.ts
  packages/platforms/cli-en-us/src/cli-platform.ts
  packages/platforms/cli-en-us/src/cli-query.ts
  packages/platforms/cli-en-us/src/index.ts
  packages/platforms/cli-en-us/tsconfig.json
  packages/platforms/cli-en-us/vite.config.ts
  packages/text-service/src/index.ts
  stories/cloak-of-darkness/run.ts
Due: eslint --fix, prettier --write

feat(channel-io): post-R8 follow-ups — finalize channel-I/O day's work
  docs/context/session-20260503-0417-main.md
  packages/channel-service/package.json
  packages/channel-service/tests/ac-15-story-renderer-parity.test.ts
  packages/engine/src/game-engine.ts
  packages/engine/tests/integration/channel-bootstrap.test.ts
  packages/platforms/test/package.json
  packages/platforms/test/src/index.ts
  packages/platforms/test/tsconfig.json
  packages/sharpee/templates/browser/browser-entry.ts.template
  packages/stdlib/src/channels/standard.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  stories/armoured/package.json
  stories/armoured/src/browser-entry.ts
  stories/channel-service-test/package.json
  stories/channel-service-test/vitest.config.ts
Due: eslint --fix, prettier --write

feat(channel-io): stage AC-15 test file missed by commit-files walk
  stories/channel-service-test/tests/ac-15.test.ts
Due: eslint --fix, prettier --write

fix(channel-io): live-test bug fixes + info-channel expansion post-R8
  docs/context/session-20260503-0417-main.md
  packages/engine/src/game-engine.ts
  packages/engine/tests/integration/channel-bootstrap.test.ts
  packages/platform-browser/src/BrowserClient.ts
  packages/platform-browser/src/channels/info.ts
  packages/platform-browser/src/channels/main.ts
  packages/platform-browser/src/types.ts
  packages/sharpee/docs/genai-api/engine.md
  packages/sharpee/docs/genai-api/index.md
  packages/sharpee/docs/genai-api/stdlib.md
  packages/stdlib/src/channels/standard.ts
  stories/dungeo/src/index.ts
  stories/dungeo/src/version.ts
  website/public/web/dungeo/game.js
Due: eslint --fix, prettier --write

refactor(platform-browser): event-listener cleanup Tier A + Tier B
  docs/context/session-20260503-0417-main.md
  packages/platform-browser/src/BrowserClient.ts
  packages/sharpee/docs/genai-api/index.md
  stories/dungeo/src/version.ts
  website/public/web/dungeo/game.js
Due: eslint --fix, prettier --write

refactor(platform-browser): Phase 1 — delete beep
  docs/context/session-20260504-0845-main.md
  docs/work/channel-io-event-retirement/plan-20260504-event-listener-retirement.md
  packages/platform-browser/src/BrowserClient.ts
  packages/platform-browser/src/audio/AudioManager.ts
  packages/platform-browser/src/types.ts
Due: eslint --fix, prettier --write

feat(channel-io): Phase 2 — lifecycle channel for save/restore signals
  packages/platform-browser/src/BrowserClient.ts
  packages/platform-browser/src/channels/index.ts
  packages/platform-browser/src/channels/lifecycle.ts
  packages/platform-browser/tests/channels/lifecycle.test.ts
  packages/stdlib/src/channels/index.ts
  packages/stdlib/src/channels/standard.ts
  packages/stdlib/tests/channels/standard.test.ts
Due: eslint --fix, prettier --write

feat(channel-io): Phase 3 — audio Tier C, story emits media.* events
  packages/channel-service/tests/ac-16-cleanup-grep-gate.test.ts
  packages/platform-browser/src/BrowserClient.ts
  stories/dungeo/src/audio/audio-setup.ts
  stories/dungeo/src/browser-entry.ts
  stories/dungeo/src/index.ts
Due: eslint --fix, prettier --write

feat(channel-io): Phase 4 — retire engine.on('event') listener + AC-17
  packages/channel-service/tests/ac-17-two-listeners-only.test.ts
  packages/platform-browser/src/BrowserClient.ts
  packages/platform-browser/src/types.ts
  stories/dungeo/src/browser-entry.ts
  stories/dungeo/src/channels.ts
  stories/dungeo/src/index.ts
Due: eslint --fix, prettier --write

docs(channel-io): session summary — channel-io-event-retirement complete
  docs/context/session-20260504-0845-main.md
Due: prettier --write

build: regenerate dungeo bundle + genai-api after channel-io retirement
  packages/sharpee/docs/genai-api/index.md
  packages/sharpee/docs/genai-api/stdlib.md
  stories/dungeo/src/version.ts
  website/public/web/dungeo/game.js
Due: eslint --fix, prettier --write

docs(adrs): ADR-166/167/168 — channel-io-event-retirement decisions
  docs/architecture/adrs/adr-166-lifecycle-channel-stdlib-placement.md
  docs/architecture/adrs/adr-167-audio-event-translation-boundary.md
  docs/architecture/adrs/adr-168-story-channels-replace-handlestoryevent.md
  docs/context/session-20260504-0845-main.md
Due: prettier --write

docs(adrs): ADR-169 Web Audio API for AudioManager + verify channel-io retirement
  docs/architecture/adrs/adr-169-web-audio-api-fades.md
  docs/context/archive/session-20260501-0139-main.md
  docs/context/archive/session-20260501-0239-main.md
  docs/context/session-20260505-0802-main.md
  packages/sharpee/docs/genai-api/index.md
  stories/dungeo/src/version.ts
Due: eslint --fix, prettier --write

docs: plan component-based theme system for browser client
  docs/context/archive/session-20260501-0309-main.md
  docs/context/session-20260506-0313-main.md
  docs/work/system-css-theme/plan-20260507-system-css-integration.md
  docs/work/theme-architecture/plan-20260507-component-themes.md
Due: prettier --write

feat(audio): ADR-169 Web Audio API for AudioManager — fade-in/out and cross-fade
  docs/context/session-20260506-0313-main.md
  docs/work/theme-architecture/plan-20260507-component-themes.md
  docs/work/theme-architecture/plan-20260507-dynamic-theme-loading.md
  packages/platform-browser/src/BrowserClient.ts
  packages/platform-browser/src/audio/AudioManager.ts
  packages/sharpee/docs/genai-api/index.md
  stories/dungeo/src/version.ts
  website/public/web/dungeo/game.js
Due: eslint --fix, prettier --write

feat(platform-browser): ADR-170 Phase 0+1 — component-based theming contract + DOM/manager refactor
  build.sh
  docs/architecture/adrs/adr-170-component-based-theming.md
  docs/context/archive/session-20260502-1914-main.md
  docs/context/session-20260507-2031-main.md
  docs/work/theme-architecture/plan-20260507-component-themes.md
  packages/platform-browser/src/BrowserClient.ts
  packages/platform-browser/src/managers/DialogManager.ts
  packages/platform-browser/src/managers/InputManager.ts
  packages/platform-browser/src/managers/MenuManager.ts
  packages/platform-browser/src/managers/ThemeManager.ts
  packages/platform-browser/src/types.ts
  packages/sharpee/docs/genai-api/index.md
  stories/dungeo/src/browser-entry.ts
  stories/dungeo/src/version.ts
  templates/browser/base.css
  templates/browser/index.html
  website/public/web/dungeo/base.css
  website/public/web/dungeo/game.js
  website/public/web/dungeo/index.html
Due: eslint --fix, prettier --write

feat(themes): ADR-170 Phase 2 — port four legacy themes to .sharpee-* component kits
  docs/context/session-20260507-2233-main.md
  packages/sharpee/docs/genai-api/index.md
  stories/dungeo/src/version.ts
  templates/browser/infocom.css
  website/public/web/dungeo/game.js
  website/public/web/dungeo/styles.css
Due: eslint --fix, prettier --write

feat(themes): ADR-170 Phase 3 — System 6 fifth theme kit + cross-theme variable scoping fix
  build.sh
  docs/context/archive/session-20260503-0417-main.md
  docs/context/archive/session-20260504-0845-main.md
  docs/context/session-20260507-2233-main.md
  docs/context/session-20260507-2311-main.md
  packages/sharpee/docs/genai-api/index.md
  stories/dungeo/src/browser-entry.ts
  stories/dungeo/src/version.ts
  templates/browser/index.html
  templates/browser/infocom.css
  templates/browser/themes/system-6/fonts/ChicagoFLF.woff2
  templates/browser/themes/system-6/fonts/FindersKeepers.woff2
  website/public/web/dungeo/game.js
  website/public/web/dungeo/index.html
  website/public/web/dungeo/styles.css
  website/public/web/dungeo/themes/system-6/fonts/ChicagoFLF.woff2
  website/public/web/dungeo/themes/system-6/fonts/FindersKeepers.woff2
  website/public/web/dungeo/themes/themes/system-6/fonts/ChicagoFLF.woff2
  website/public/web/dungeo/themes/themes/system-6/fonts/FindersKeepers.woff2
Due: eslint --fix, prettier --write

fix(build): rm -rf themes/ before dist copy to prevent compounding nested paths
  build.sh
  docs/context/session-20260507-2311-main.md
  website/public/web/dungeo/themes/themes/system-6/fonts/ChicagoFLF.woff2
  website/public/web/dungeo/themes/themes/system-6/fonts/FindersKeepers.woff2
Due: prettier --write

chore(cleanup): browser-entry cleanup sweep + ADR-171 Phase 0
  docs/architecture/adrs/adr-171-dynamic-theme-loading.md
  docs/context/archive/session-20260505-0802-main.md
  docs/context/session-20260508-1014-main.md
  docs/work/theme-architecture/plan-20260507-dynamic-theme-loading.md
  packages/sharpee/templates/browser/browser-entry.ts.template
  packages/sharpee/templates/browser/index.html
  packages/sharpee/templates/browser/styles.css
  stories/dungeo/src/browser-entry.ts
Due: eslint --fix, prettier --write

feat(architecture): ADR-172 + ADR-173 — spatial sound propagation + wall adjacency primitive
  docs/architecture/adrs/adr-172-spatial-sound-propagation.md
  docs/architecture/adrs/adr-173-wall-adjacency-primitive.md
  docs/context/archive/session-20260506-0313-main.md
  docs/context/session-20260508-1229-main.md
  packages/sharpee/docs/genai-api/index.md
  stories/dungeo/src/version.ts
  website/public/web/dungeo/game.js
  website/public/web/dungeo/styles.css
Due: eslint --fix, prettier --write

feat(world-model): ADR-173 Phases 1+2 — wall entity primitive + reciprocal room references
  docs/context/session-20260508-1229-main.md
  packages/world-model/src/entities/entity-types.ts
  packages/world-model/src/entities/index.ts
  packages/world-model/src/entities/wall-entity.ts
  packages/world-model/src/traits/room/roomTrait.ts
  packages/world-model/src/world/AuthorModel.ts
  packages/world-model/src/world/WorldModel.ts
  packages/world-model/src/world/index.ts
  packages/world-model/src/world/wall-creation.ts
  packages/world-model/src/world/wall-validation.ts
  packages/world-model/tests/unit/world/wall.test.ts
Due: eslint --fix, prettier --write

feat(world-model): ADR-173 Phases 3-5 — wall parser, examining, obstructor protocol
  docs/context/archive/session-20260507-2031-main.md
  docs/context/session-20260508-1902-main.md
  packages/lang-en-us/src/actions/examining.ts
  packages/stdlib/src/actions/standard/examining/examining-data.ts
  packages/stdlib/src/actions/standard/examining/examining-messages.ts
  packages/stdlib/src/actions/standard/examining/examining.ts
  packages/stdlib/src/validation/command-validator.ts
  packages/stdlib/tests/unit/actions/examining-walls.test.ts
  packages/stdlib/tests/unit/validation/wall-resolution.test.ts
  packages/world-model/src/traits/index.ts
  packages/world-model/src/traits/obstructor-protocol.ts
  packages/world-model/src/world/wall-creation.ts
  packages/world-model/tests/unit/traits/obstructor-protocol.test.ts
  packages/world-model/tests/unit/world/wall.test.ts
Due: eslint --fix, prettier --write

docs(adrs): ADR-173 ACCEPTED — L0 substrate implementation history
  docs/architecture/adrs/adr-173-wall-adjacency-primitive.md
Due: prettier --write

feat(ide): P0 — native macOS AppKit shell with 4-pane split window
  docs/context/archive/session-20260507-2233-main.md
  docs/context/session-20260509-0159-main.md
  docs/work/sharpee-ide/plan-20260509-phases.md
  tools/ide/.gitignore
  tools/ide/README.md
  tools/ide/SharpeeIDE/AppDelegate.swift
  tools/ide/SharpeeIDE/MainWindow.swift
  tools/ide/SharpeeIDE/Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
  tools/ide/SharpeeIDE/Resources/Assets.xcassets/Contents.json
  tools/ide/SharpeeIDE/Theme.swift
  tools/ide/SharpeeIDE/main.swift
  tools/ide/project.yml
Due: prettier --write

chore(ide): gitignore generated Info.plist
  tools/ide/.gitignore
Due: none

feat(sound): ADR-172 Phases 1-5 — propagation, traits, audibility channel
  docs/architecture/adrs/adr-172-spatial-sound-propagation.md
  docs/context/session-20260508-1902-main.md
  packages/engine/src/game-engine.ts
  packages/engine/src/index.ts
  packages/engine/src/sound/index.ts
  packages/engine/src/sound/propagation.ts
  packages/engine/tests/sound/listener-wiring.test.ts
  packages/engine/tests/sound/propagation.test.ts
  packages/if-domain/src/index.ts
  packages/if-domain/src/sound/index.ts
  packages/if-domain/src/sound/types.ts
  packages/if-domain/tests/sound/types.test.ts
  packages/lang-en-us/src/index.ts
  packages/lang-en-us/src/language-provider.ts
  packages/lang-en-us/src/sound-messages.ts
  packages/lang-en-us/tests/sound-messages.test.ts
  packages/stdlib/src/channels/index.ts
  packages/stdlib/src/channels/registry.ts
  packages/stdlib/src/channels/sound-events.ts
  packages/stdlib/tests/channels/audibility.test.ts
  packages/stdlib/tests/channels/registry.test.ts
  packages/world-model/src/index.ts
  packages/world-model/src/traits/acoustic/acousticDampenerTrait.ts
  packages/world-model/src/traits/acoustic/acousticTrait.ts
  packages/world-model/src/traits/acoustic/index.ts
  packages/world-model/src/traits/implementations.ts
  packages/world-model/src/traits/index.ts
  packages/world-model/src/traits/listener/index.ts
  packages/world-model/src/traits/listener/listenerTrait.ts
  packages/world-model/src/traits/trait-types.ts
  packages/world-model/tests/unit/traits/acoustic.test.ts
  packages/world-model/tests/unit/traits/listener.test.ts
Due: eslint --fix, prettier --write

feat(ide): P1 steps 1.1–1.3 — folder picker, project tree, raw editor
  docs/context/session-20260509-0159-main.md
  tools/ide/SharpeeIDE/AppDelegate.swift
  tools/ide/SharpeeIDE/Editor/Document.swift
  tools/ide/SharpeeIDE/Editor/EditorViewController.swift
  tools/ide/SharpeeIDE/MainWindow.swift
  tools/ide/SharpeeIDE/Menus/MenuBuilder.swift
  tools/ide/SharpeeIDE/Project/Project.swift
  tools/ide/SharpeeIDE/Project/ProjectTreeViewController.swift
  tools/ide/SharpeeIDE/Theme.swift
Due: prettier --write

feat(ide): P1 step 1.4 — tab bar + multi-doc editor with smart disambiguation
  docs/context/archive/session-20260507-2311-main.md
  docs/context/session-20260509-1400-main.md
  tools/ide/SharpeeIDE/Editor/EditorViewController.swift
  tools/ide/SharpeeIDE/Editor/TabBarView.swift
Due: prettier --write

feat(sound): ADR-172 Phase 6 — action integration + ACCEPTED
  docs/architecture/adrs/adr-172-spatial-sound-propagation.md
  docs/context/archive/session-20260508-1014-main.md
  docs/context/session-20260509-1635-main-adr172.md
  docs/work/adr-172-sound/plan-20260509-phase6.md
  packages/engine/src/action-context-factory.ts
  packages/engine/src/command-executor.ts
  packages/engine/src/game-engine.ts
  packages/engine/src/sound/dispatcher.ts
  packages/engine/src/sound/index.ts
  packages/engine/tests/sound/dispatcher.test.ts
  packages/engine/tests/sound/emit-sound.test.ts
  packages/engine/tests/sound/engine-wiring.test.ts
  packages/engine/tests/sound/integration.test.ts
  packages/stdlib/src/actions/enhanced-context.ts
  packages/stdlib/src/actions/enhanced-types.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md})
