Repository ChicagoDave/sharpee: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md}": [
    "prettier --write"
  ]
}

docs: mark ADR-192 platform cutover MERGED to main; next = dungeo story reconciliation
  docs/context/plan.md
Due: prettier --write

fix(dungeo+engine): story article-absorption + game.message param fallback
  checkpoints/after-leaflet.json
  packages/engine/src/prose-pipeline/handlers/generic.ts
  packages/sharpee/docs/genai-api/index.md
  stories/dungeo/src/combat/melee-messages.ts
  stories/dungeo/src/messages/action-messages.ts
  stories/dungeo/src/messages/npc-messages.ts
  stories/dungeo/src/messages/object-messages.ts
  stories/dungeo/src/messages/scheduler-messages.ts
  stories/dungeo/src/version.ts
Due: eslint --fix, prettier --write

fix(dungeo): verbatim for pass-through scalars (GDT, names, direction)
  checkpoints/after-leaflet.json
  packages/sharpee/docs/genai-api/index.md
  stories/dungeo/src/messages/action-messages.ts
  stories/dungeo/src/messages/npc-messages.ts
  stories/dungeo/src/messages/object-messages.ts
  stories/dungeo/src/messages/puzzle-messages.ts
  stories/dungeo/src/messages/scheduler-messages.ts
  stories/dungeo/src/version.ts
Due: eslint --fix, prettier --write

docs: defer dungeo cutover cleanup to a future ADR; capture scope
  docs/context/plan.md
  docs/work/dynamic-text/dungeo-cutover-cleanup-scope.md
Due: prettier --write

experiment(i7): Inform 7 v10 text-output → Sharpee phrase algebra (20 samples)
  docs/work/experiments/i7-v10-text-comparison.md
  packages/lang-en-us/tests/i7-comparison.test.ts
Due: eslint --fix, prettier --write

experiment(i7): refine against researched I7 v10 syntax + sources
  docs/work/experiments/i7-v10-text-comparison.md
Due: prettier --write

experiment(i7): live-rendered side-by-side HTML (I7 v10 vs Sharpee)
  docs/work/experiments/gen-sidebyside.cjs
  docs/work/experiments/i7-sidebyside.html
Due: none

feat(adr-198): Numeral atom — number as digits / words / ordinal
  docs/architecture/adrs/adr-198-phrase-algebra-numeral-atom.md
  packages/if-domain/src/phrase.ts
  packages/lang-en-us/src/assembler/english-assembler.ts
  packages/lang-en-us/src/number-words.ts
  packages/lang-en-us/src/parser/parse-phrase-template.ts
  packages/lang-en-us/tests/assembler/english-assembler.test.ts
  packages/lang-en-us/tests/assembler/numeral.test.ts
  packages/lang-en-us/tests/parser/parse-phrase-template.test.ts
Due: eslint --fix, prettier --write

feat(adr-197): Pronoun atom + live last-mentioned reference seam
  docs/architecture/adrs/adr-197-phrase-algebra-pronoun-atom.md
  packages/engine/src/prose-pipeline/render-context.ts
  packages/engine/tests/prose-pipeline/render-context.test.ts
  packages/if-domain/src/phrase.ts
  packages/lang-en-us/src/assembler/english-assembler.ts
  packages/lang-en-us/src/parser/parse-phrase-template.ts
  packages/lang-en-us/tests/assembler/english-assembler.test.ts
  packages/lang-en-us/tests/assembler/pronoun.test.ts
  packages/lang-en-us/tests/parser/parse-phrase-template.test.ts
Due: eslint --fix, prettier --write

feat(adr-193): state-derived adjectives — trait contributor hook
  docs/architecture/adrs/adr-193-phrase-algebra-state-derived-adjectives.md
  packages/stdlib/src/utils/noun-phrase.ts
  packages/stdlib/tests/unit/utils/noun-phrase.test.ts
  packages/world-model/src/index.ts
  packages/world-model/src/state-adjectives.ts
  packages/world-model/tests/unit/state-adjectives.test.ts
Due: eslint --fix, prettier --write

feat(adr-194): Contents atom + entity→NounPhrase bridge
  docs/architecture/adrs/adr-194-phrase-algebra-contents-atom.md
  packages/engine/src/prose-pipeline/render-context.ts
  packages/if-domain/src/phrase.ts
  packages/lang-en-us/src/assembler/english-assembler.ts
  packages/lang-en-us/src/parser/parse-phrase-template.ts
  packages/lang-en-us/tests/assembler/contents.test.ts
  packages/lang-en-us/tests/assembler/english-assembler.test.ts
  packages/lang-en-us/tests/parser/parse-phrase-template.test.ts
Due: eslint --fix, prettier --write

docs(session): finalize 491b9c — ADR-192 cutover + 5 follow-on atoms shipped
  docs/context/archive/session-20260626-1716-v2_phase2.md
  docs/context/session-20260627-1450-v2_phase34.md
Due: prettier --write

feat(adr-195): Friendly Zoo testing target + plural-name fix + ADR-195 Slot (accepted)
  docs/architecture/adrs/adr-192-phrase-algebra-phrase-model-assembler-core.md
  docs/architecture/adrs/adr-195-phrase-algebra-slot-atom.md
  docs/context/archive/session-20260626-1746-v2_phase3.md
  docs/context/session-20260628-0229-main.md
  docs/work/dynamic-text/adr-195-slot-plan.md
  docs/work/dynamic-text/adr-195-slot-zoo-targets.md
  packages/lang-en-us/src/assembler/english-assembler.ts
  packages/lang-en-us/tests/assembler/english-assembler.test.ts
  packages/lang-en-us/tests/assembler/pronoun.test.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  stories/friendly-zoo/package.json
  stories/friendly-zoo/src/characters.ts
  stories/friendly-zoo/src/events.ts
  stories/friendly-zoo/src/index.ts
  stories/friendly-zoo/src/language.ts
  stories/friendly-zoo/src/scoring.ts
  stories/friendly-zoo/src/version.ts
  stories/friendly-zoo/src/zoo-items.ts
  stories/friendly-zoo/src/zoo-map.ts
  stories/friendly-zoo/tsconfig.dev.json
  stories/friendly-zoo/tsconfig.esm.json
  stories/friendly-zoo/tsconfig.json
  stories/friendly-zoo/vitest.config.ts
  stories/friendly-zoo/walkthroughs/wt-01-smoke.transcript
Due: eslint --fix, prettier --write

refactor(engine): rename ITextService → IProsePipeline (ADR-195 prereq)
  packages/engine/src/game-engine.ts
  packages/engine/src/prose-pipeline/index.ts
  packages/engine/src/prose-pipeline/pipeline.ts
  packages/engine/src/prose-pipeline/types.ts
  packages/engine/src/test-helpers/mock-prose-pipeline.ts
  packages/engine/tests/prose-pipeline/pipeline.test.ts
Due: eslint --fix, prettier --write

feat(adr-195): Phase 1 — Slot contract + slotContributions read seam
  packages/if-domain/src/phrase.ts
  packages/if-domain/tests/phrase/phrase-contracts.test.ts
Due: eslint --fix, prettier --write

feat(adr-195): Phase 2 — engine slot contribution channel (realize-time)
  packages/engine/src/game-engine.ts
  packages/engine/src/prose-pipeline/index.ts
  packages/engine/src/prose-pipeline/pipeline.ts
  packages/engine/src/prose-pipeline/render-context.ts
  packages/engine/src/prose-pipeline/types.ts
  packages/engine/src/test-helpers/mock-prose-pipeline.ts
  packages/engine/tests/prose-pipeline/pipeline.test.ts
  packages/engine/tests/prose-pipeline/render-context.test.ts
Due: eslint --fix, prettier --write

docs(experiments): vendor I7 v10 ↔ Sharpee side-by-side comparison
  docs/work/inform7-comparison/gen-sidebyside.cjs
  docs/work/inform7-comparison/i7-sidebyside.html
  docs/work/inform7-comparison/i7-v10-text-comparison.md
Due: prettier --write

feat(adr-195): Phase 3 — parser + Assembler Slot realization (lang-en-us)
  packages/lang-en-us/src/assembler/english-assembler.ts
  packages/lang-en-us/src/assembler/errors.ts
  packages/lang-en-us/src/parser/parse-phrase-template.ts
  packages/lang-en-us/tests/assembler/english-assembler.test.ts
  packages/lang-en-us/tests/parser/parse-phrase-template.test.ts
Due: eslint --fix, prettier --write

docs(session): ADR-195 Phases 1–3 — Slot atom + contribution channel
  docs/context/archive/session-20260626-1830-main.md
  docs/context/session-20260628-0733-v2_adr195_slot.md
Due: prettier --write

feat(adr-195): Phase 4 — Slot consumers (room occupants + object detail)
  docs/context/archive/session-20260626-2030-main.md
  docs/context/session-20260629-0530-v2_adr195_slot.md
  packages/engine/src/prose-pipeline/handlers/room.ts
  packages/engine/src/prose-pipeline/phrase-render.ts
  packages/helpers/src/builders/object.ts
  packages/lang-en-us/src/actions/examining.ts
  packages/lang-en-us/src/language-provider.ts
  packages/sharpee/docs/genai-api/engine.md
  packages/sharpee/docs/genai-api/if-domain.md
  packages/sharpee/docs/genai-api/index.md
  packages/sharpee/docs/genai-api/lang.md
  packages/sharpee/docs/genai-api/stdlib.md
  packages/sharpee/docs/genai-api/world-model.md
  packages/stdlib/src/actions/standard/examining/examining.ts
  packages/world-model/src/index.ts
  packages/world-model/src/state-clauses.ts
  packages/world-model/src/traits/light-source/lightSourceTrait.ts
  packages/world-model/src/traits/switchable/switchableTrait.ts
  stories/friendly-zoo/src/index.ts
  stories/friendly-zoo/src/language.ts
  stories/friendly-zoo/src/zoo-items.ts
  stories/friendly-zoo/src/zoo-map.ts
  stories/friendly-zoo/walkthroughs/wt-02-slot-occupants.transcript
  stories/friendly-zoo/walkthroughs/wt-03-slot-detail.transcript
Due: eslint --fix, prettier --write

feat(adr-196): Phase 1 — Optional/Choice if-domain contract
  docs/architecture/adrs/adr-196-phrase-algebra-optional-choice-text-state.md
  docs/work/dynamic-text/adr-196-optional-choice-plan.md
  packages/if-domain/src/phrase.ts
  packages/if-domain/tests/phrase/phrase-contracts.test.ts
Due: eslint --fix, prettier --write

feat(adr-196): Phase 2 — persistent text-state store
  packages/engine/src/game-engine.ts
  packages/engine/src/prose-pipeline/pipeline.ts
  packages/engine/src/prose-pipeline/render-context.ts
  packages/engine/tests/prose-pipeline/text-state.test.ts
  packages/world-model/src/world/capabilities.ts
Due: eslint --fix, prettier --write

feat(adr-196): Phase 3 — Assembler Optional/Choice realization
  packages/lang-en-us/src/assembler/english-assembler.ts
  packages/lang-en-us/src/assembler/errors.ts
  packages/lang-en-us/tests/assembler/english-assembler.test.ts
  packages/lang-en-us/tests/assembler/optional-choice.test.ts
  packages/lang-en-us/tests/parser/parse-phrase-template.test.ts
Due: eslint --fix, prettier --write

docs(session): ADR-196 Phases 1-3 complete; Phase 4 designed
  docs/context/session-20260629-1430-v2_adr196_optional_choice.md
  docs/work/dynamic-text/adr-196-optional-choice-plan.md
Due: prettier --write

feat(adr-196): Phase 4 — first-visit bugfix + Friendly Zoo consumer
  docs/context/archive/session-20260627-0537-main.md
  docs/context/session-20260629-1430-v2_adr196_optional_choice.md
  packages/stdlib/src/actions/standard/looking/looking-data.ts
  packages/stdlib/src/actions/standard/looking/looking.ts
  packages/stdlib/tests/unit/actions/looking-golden.test.ts
  stories/friendly-zoo/src/zoo-map.ts
  stories/friendly-zoo/tests/transcripts/entrance-initial-description.transcript
Due: eslint --fix, prettier --write

feat(adr-196): Phase 5 — Friendly Zoo Optional/Choice consumers + platform idempotency fix
  docs/context/session-20260629-1430-v2_adr196_optional_choice.md
  packages/world-model/src/world/WorldEventSystem.ts
  packages/world-model/tests/unit/world/event-chaining.test.ts
  stories/friendly-zoo/src/dynamic-text.ts
  stories/friendly-zoo/src/index.ts
  stories/friendly-zoo/src/language.ts
  stories/friendly-zoo/src/zoo-map.ts
  stories/friendly-zoo/walkthroughs/wt-04-optional.transcript
  stories/friendly-zoo/walkthroughs/wt-05-choice-cycle.transcript
Due: eslint --fix, prettier --write

fix(lang-en-us): escape NUL separators in assembler hashSeed (ASCII source)
  docs/context/session-20260629-1430-v2_adr196_optional_choice.md
  packages/lang-en-us/src/assembler/english-assembler.ts
Due: eslint --fix, prettier --write

docs(dynamic-text): phrase-algebra prompt storyboard + author-guide outline
  docs/context/.devarch-gate-4291bc
  docs/context/.devarch-gate-5d0918
  docs/context/.devarch-gate-a24b78
  docs/context/.session-state-4291bc.json
  docs/context/session-20260629-1430-v2_adr196_optional_choice.md
  docs/work/dynamic-text/author-guide-outline.md
  docs/work/dynamic-text/prompts/00-catalog-migration.md
  docs/work/dynamic-text/prompts/01-article-a-an.md
  docs/work/dynamic-text/prompts/02-grammatical-list.md
  docs/work/dynamic-text/prompts/03-pronoun-agreement.md
  docs/work/dynamic-text/prompts/04-number-formatting.md
  docs/work/dynamic-text/prompts/05-persistent-variation.md
  docs/work/dynamic-text/prompts/06-why-it-works.md
  docs/work/dynamic-text/prompts/README.md
Due: prettier --write

docs(adr-201,adr-202): accept Dialogue & Structural Realization Mandate
  docs/architecture/adrs/adr-201-dialogue-speech-emission.md
  docs/architecture/adrs/adr-202-structural-realization-mandate.md
  docs/context/session-20260630-1610-v2_adr201_dialogue.md
  docs/work/dynamic-text/dynamic-text-scenarios.md
Due: prettier --write

feat(adr-201): Phase 1 — speech-verb agreement in dialogue catalogs (§6)
  docs/work/plan-20260630-1900.md
  packages/lang-en-us/src/actions/asking.ts
  packages/lang-en-us/src/actions/talking.ts
  packages/lang-en-us/src/actions/telling.ts
  packages/lang-en-us/tests/dialogue-attribution.test.ts
  packages/stdlib/tests/integration/dialogue-attribution-realpath.test.ts
Due: eslint --fix, prettier --write

feat(adr-202): Phase 2 — Structural Realization Mandate gate (AC-1/AC-6)
  docs/context/plan.md
  packages/lang-en-us/tests/assembler/structural-mandate.test.ts
Due: eslint --fix, prettier --write

docs(plan): Phase 4 note — suppress auto-terminal when content ends in terminal/ellipsis
  docs/context/plan.md
Due: prettier --write

docs(session): ADR-201 impl session summary + plan status (Phases 1-2 done)
  docs/context/archive/session-20260628-0733-v2_adr195_slot.md
  docs/context/archive/session-20260629-0530-v2_adr195_slot.md
  docs/context/plan.md
  docs/context/session-20260630-1834-v2_adr201_impl.md
Due: prettier --write

feat(adr-201): Phase 3 — Sentence/Quote/Pronoun.capitalize contracts (if-domain)
  docs/context/plan.md
  packages/if-domain/src/phrase.ts
Due: eslint --fix, prettier --write

feat(adr-201): Phase 4 — Sentence/Quote/Pronoun realization + reconciliation pass
  docs/context/plan.md
  packages/lang-en-us/src/assembler/english-assembler.ts
  packages/lang-en-us/tests/assembler/sentence-quote.test.ts
Due: eslint --fix, prettier --write

feat(adr-201): Phase 5 — {quote:} / {capitalize pronoun:} parser surface (§5)
  docs/context/plan.md
  packages/lang-en-us/src/parser/parse-phrase-template.ts
  packages/lang-en-us/tests/parser/quote-pronoun-parse.test.ts
Due: eslint --fix, prettier --write

docs(session): finalize ADR-201/202 session summary — all 5 phases complete
  docs/context/session-20260630-1834-v2_adr201_impl.md
Due: prettier --write

feat(adr-203): NPC attribution speaker agreement
  docs/architecture/adrs/adr-203-npc-attribution-speaker-agreement.md
  docs/work/plan-20260630-adr201-adr202-complete.md
  docs/work/plan-20260630-adr203-npc-attribution.md
  packages/character/src/tick-phases.ts
  packages/core/src/query/types.ts
  packages/devkit/fixtures/basic-story/src/npcs.ts
  packages/extensions/basic-combat/src/basic-npc-resolver.ts
  packages/lang-en-us/src/npc/conversation.ts
  packages/lang-en-us/src/npc/npc.ts
  packages/stdlib/src/npc/behaviors.ts
  packages/stdlib/src/npc/npc-service.ts
  packages/stdlib/tests/integration/npc-attribution-realpath.test.ts
  packages/stdlib/tests/unit/npc/npc-service.test.ts
  packages/world-model/src/traits/npc/npcTrait.ts
Due: eslint --fix, prettier --write

docs(session): ADR-203 NPC attribution speaker agreement — complete
  docs/context/plan.md
  docs/context/session-20260630-2125-v2_adr203.md
Due: prettier --write

feat(adr-204): fix verb pluralization for -se/-ze stems + -ie closed set
  docs/architecture/adrs/adr-199-phrase-algebra-verb-atom-subject-agreement.md
  docs/architecture/adrs/adr-204-verb-pluralization-se-stem-heuristic.md
  docs/context/session-20260630-2141-v2_adr204.md
  packages/lang-en-us/src/assembler/english-assembler.ts
  packages/lang-en-us/src/npc/conversation.ts
  packages/lang-en-us/src/npc/npc.ts
  packages/lang-en-us/tests/assembler/verb-agreement.test.ts
Due: eslint --fix, prettier --write
