Repository ChicagoDave/sharpee: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Core is unit tested.
  lerna.json
Due: prettier --write

Refactored types into if-domain package and tested event-processor.
  BUILD-SYSTEM-FINAL.md
  BUILD_FIXES.md
  build-all.sh
  build.sh
  clean-build.sh
  convert-to-commonjs.sh
  fix-es-imports.sh
  full-test.sh
  if-domain-checklist.md
  packages/engine/package.json
  packages/engine/src/event-sequencer.ts
  packages/engine/src/types.ts
  packages/event-processor/jest.config.js
  packages/event-processor/package.json
  packages/event-processor/src/handlers/index.d.ts.map
  packages/event-processor/src/handlers/movement.d.ts.map
  packages/event-processor/src/handlers/movement.ts
  packages/event-processor/src/handlers/state-change.d.ts.map
  packages/event-processor/src/handlers/state-change.ts
  packages/event-processor/src/index.d.ts.map
  packages/event-processor/src/processor.d.ts.map
  packages/event-processor/src/processor.ts
  packages/event-processor/src/types.d.ts.map
  packages/event-processor/src/types.ts
  packages/event-processor/tsconfig.json
  packages/world-model/package.json
  packages/world-model/src/constants/if-events.ts
  packages/world-model/src/examples/event-handler-registration.ts
  packages/world-model/src/world/WorldModel.ts
  pnpm-lock.yaml
  work-summary-eprf-20250704-0215.md
Due: eslint --fix, prettier --write

ADR records and changes for capabilities. Updated readme docs to represent latest state of platform.
  README.md
  decisions/adr-020-clothing-pockets-design.md
  decisions/adr-021-parser-edge-cases.md
  decisions/adr-022-extension-architecture.md
  decisions/adr-024-score-data-storage.md
  decisions/capability-implementation-phase1.md
  decisions/documentation-update-2025-07-12.md
  decisions/stdlib-capability-refactor-plan.md
  decisions/stdlib-test-updates.md
  docs/extensions/README.md
  docs/platform/README.md
  docs/stories/README.md
  packages/stdlib/src/actions/context.ts
  packages/stdlib/src/actions/types.ts
  packages/stdlib/src/index.ts
  packages/world-model/src/world/WorldModel.ts
  packages/world-model/src/world/index.ts
Due: eslint --fix, prettier --write

feat: Add READ action with parser support and fix tests
  build-test-all.sh
  docs/assessment/circular-dependency-analysis.md
  docs/assessment/deep-architecture-analysis.md
  docs/assessment/sharpee-if-platform-assessment-2025-08.md
  docs/assessment/sharpee-if-platform-corrected-assessment-2025-08.md
  docs/assessment/sharpee-platform-assessment-2025-08.md
  docs/context/end-session-2025-08-14-0025.md
  docs/context/end-session-2025-08-14-0242.md
  docs/context/end-session-2025-08-14-0425.md
  docs/work/circular-deps-antipatterns-refactoring-plan.md
  docs/work/if-platform-refactoring-plan.md
  packages/core/.vitest-results.json
  packages/engine/.vitest-results.json
  packages/engine/src/command-executor.ts
  packages/event-processor/.vitest-results.json
  packages/event-processor/tests/unit/processor-reactions.test.ts
  packages/event-processor/tests/unit/processor.test.ts
  packages/lang-en-us/.vitest-results.json
  packages/lang-en-us/src/data/templates.ts
  packages/lang-en-us/src/data/verbs.ts
  packages/parser-en-us/.vitest-results.json
  packages/parser-en-us/src/core-grammar.ts
  packages/stdlib/.vitest-results.json
  packages/stdlib/src/actions/constants.ts
  packages/stdlib/src/actions/standard/index.ts
  packages/stdlib/src/actions/standard/reading/index.ts
  packages/stdlib/src/actions/standard/reading/reading-events.ts
  packages/stdlib/src/actions/standard/reading/reading.ts
  packages/stdlib/src/validation/command-validator.ts
  packages/stdlib/tests/unit/actions/reading-golden.test.ts
  packages/text-services/.vitest-results.json
  packages/world-model/.vitest-results.json
  packages/world-model/src/world/WorldModel.ts
  packages/world-model/src/world/index.ts
  packages/world-model/tests/integration/trait-combinations.test.ts
  packages/world-model/tests/unit/world/world-model.test.ts
  pnpm-lock.yaml
  stories/cloak-of-darkness/package.json
  stories/cloak-of-darkness/run.ts
  stories/cloak-of-darkness/src/index.ts
Due: eslint --fix, prettier --write

archived older work items and updated the interface refactor plan with a checklist and adr-053. The refactoring work will follow.
  docs/architecture/adrs/adr-053-interface-naming-convention.md
  docs/architecture/naming-conventions.md
  docs/work/archived/adr-051-removal-and-052-implementation-plan.md
  docs/work/archived/circular-deps-antipatterns-refactoring-plan.md
  docs/work/archived/event-handler-implementation-checklist.md
  docs/work/archived/if-platform-refactoring-plan.md
  docs/work/archived/stdlib-173-errors-checklist.md
  docs/work/archived/stdlib-173-errors-plan.md
  docs/work/archived/stdlib-actions-gold-checklist.md
  docs/work/archived/stdlib-actions-gold-plan.md
  docs/work/archived/stdlib-remaining-errors-checklist.md
  docs/work/archived/stdlib-remaining-errors-plan.md
  docs/work/archived/stdlib-test-failures-assessment.md
  docs/work/archived/stdlib-test-repair-plan.md
  docs/work/archived/test-failures-assessment-20250813.md
  docs/work/archived/test-remediation-assessment.md
  docs/work/archived/test-repair-progress.md
  docs/work/archived/validation-execute-pattern.md
  docs/work/interface-refactor-checklist.md
  docs/work/refactor-interfaces-to-if-domain.md
Due: prettier --write

feat: Implement semantic grammar infrastructure (ADR-054)
  docs/architecture/adrs/adr-054-semantic-grammar.md
  docs/context/semantic-grammar-implementation.md
  docs/context/semantic-grammar-rules.md
  docs/context/semantic-inserting-comparison.md
  packages/if-domain/src/contracts.ts
  packages/if-domain/src/grammar/grammar-builder.ts
  packages/if-domain/src/grammar/grammar-engine.ts
  packages/if-domain/src/grammar/index.ts
  packages/if-domain/src/grammar/semantic-grammar.ts
  packages/if-domain/src/grammar/semantic-rules/inserting.ts
  packages/parser-en-us/src/semantic-core-grammar.ts
  packages/parser-en-us/src/semantic-grammar-rules.ts
  packages/parser-en-us/src/semantic-parser-engine.ts
  packages/parser-en-us/tests/semantic-parsing.test.ts
  packages/stdlib/src/actions/context-adapter.ts
  packages/stdlib/src/actions/standard/inserting/inserting-semantic.ts
Due: eslint --fix, prettier --write

docs: Add semantic grammar analysis and session documentation
  docs/context/command-interface-decision.md
  docs/context/command-interface-requirements.md
  docs/context/dropping-semantic-refactor-spec.md
  docs/context/end-session-2025-08-17-1915.md
  docs/context/end-session-2025-08-17-2000.md
  docs/context/flattening-approach-cons.md
  docs/context/hardest-action-analysis.md
  docs/context/interface-architecture-analysis.md
  docs/context/parsed-command-usage-analysis.md
  docs/context/semantic-constants-approach.md
  docs/context/semantic-guinea-pig-analysis.md
  docs/context/three-phase-pipeline.md
  packages/if-domain/src/grammar/scope-builder.ts
  packages/if-domain/src/parser-contracts/parser-types.ts
  packages/if-domain/src/sequencing.ts
Due: eslint --fix, prettier --write

fix: Update GitHub Actions to use upload-artifact@v4 and download-artifact@v4
  .github/workflows/build-platforms.yml
Due: none

fix: Ensure packages build in correct dependency order in CI
  .github/workflows/build-platforms.yml
Due: none

fix: Use --ignore-scripts flag during pnpm install in CI
  .github/workflows/build-platforms.yml
Due: none

fix: Add missing text-service packages to build order
  .github/workflows/build-platforms.yml
Due: none

fix: Force sequential package builds in CI
  .github/workflows/build-platforms.yml
Due: none

fix: Use npm directly for sequential builds in CI
  .github/workflows/build-platforms.yml
  docs/work/pr-sharpee.png
Due: none

fix: Re-run pnpm install after core build to fix symlinks
  .github/workflows/build-platforms.yml
Due: none

fix: Use pnpm recursive build with concurrency limit
  .github/workflows/build-platforms.yml
Due: none

fix: Build core package first and reinstall dependencies
  .github/workflows/build-platforms.yml
Due: none

fix: Build packages individually in dependency order
  .github/workflows/build-platforms.yml
Due: none

feat: Add Turborepo for monorepo build orchestration
  .github/workflows/build-platforms.yml
  package.json
  pnpm-lock.yaml
  turbo.json
Due: prettier --write

fix: Exclude story packages from CI build
  .github/workflows/build-platforms.yml
Due: none

fix: Also exclude text-service-template from CI build
  .github/workflows/build-platforms.yml
Due: none

fix: Exclude all story packages from CI build
  .github/workflows/build-platforms.yml
Due: none

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md})
