Repository ChicagoDave/sharpee: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix(parser-en-us,stdlib,engine,lang-en-us,chord,story-loader,dungeo): publish-readiness Phase 10 — text and binding polish (#333 #328 #323 #206 #108 #97)
  docs/context/session-20260903-0432-feat-adr-321-world-index.md
  docs/proposals/publish-readiness-defects.md
  docs/work/publish-readiness/plan.md
  packages/chord/src/message-alias-catalog.ts
  packages/engine/src/game-engine.ts
  packages/lang-en-us/src/actions/looking.ts
  packages/parser-en-us/src/english-parser.ts
  packages/sharpee/docs/genai-api/engine.md
  packages/sharpee/docs/genai-api/index.md
  packages/sharpee/docs/genai-api/lang.md
  packages/stdlib/src/actions/capability-dispatch.ts
  packages/stdlib/src/actions/standard/attacking/attacking.ts
  packages/stdlib/src/actions/standard/dropping/dropping.ts
  packages/stdlib/src/actions/standard/going/going.ts
  packages/stdlib/src/actions/standard/inserting/inserting.ts
  packages/stdlib/src/actions/standard/inventory/inventory.ts
  packages/stdlib/src/actions/standard/looking/looking.ts
  packages/stdlib/src/actions/standard/putting/putting.ts
  packages/stdlib/src/actions/standard/quitting/quitting.ts
  packages/stdlib/src/actions/standard/removing/removing.ts
  packages/stdlib/src/utils/noun-phrase.ts
  packages/stdlib/src/validation/command-validator.ts
  packages/stdlib/tests/unit/actions/attacking-golden.test.ts
  packages/stdlib/tests/unit/actions/attacking.test.ts
  packages/stdlib/tests/unit/actions/dropping-golden.test.ts
  packages/stdlib/tests/unit/actions/going-golden.test.ts
  packages/stdlib/tests/unit/actions/looking-golden.test.ts
  packages/stdlib/tests/unit/actions/quitting.test.ts
  packages/stdlib/tests/unit/validation/exact-out-of-scope.test.ts
  packages/story-loader/src/message-alias-map.ts
  packages/story-loader/src/runtime.ts
  packages/story-loader/tests/publish-readiness-phase10.test.ts
  packages/story-loader/tests/required-messages-sync.test.ts
  stories/dungeo/src/version.ts
  stories/dungeo/walkthroughs/wt-13-thief-fight.golden
Due: eslint --fix, prettier --write

fix(story-loader,stdlib,engine,lang-en-us,chord,fernhill,dungeo): publish-readiness Phase 12 — the seven Fernhill defects (#245)
  branch-stories/fernhill/fernhill.story
  branch-stories/fernhill/fernhill.tests.json
  docs/context/session-20260903-0432-feat-adr-321-world-index.md
  docs/proposals/publish-readiness-defects.md
  docs/work/publish-readiness/plan.md
  packages/chord/src/message-alias-catalog.ts
  packages/engine/src/action-context-factory.ts
  packages/engine/src/prose-pipeline/handlers/revealed.ts
  packages/lang-en-us/src/actions/looking.ts
  packages/sharpee/docs/genai-api/index.md
  packages/sharpee/docs/genai-api/lang.md
  packages/sharpee/docs/genai-api/stdlib.md
  packages/stdlib/src/actions/lifecycle/index.ts
  packages/stdlib/src/actions/lifecycle/lifecycle-engine.ts
  packages/stdlib/src/actions/standard/going/going.ts
  packages/stdlib/src/actions/standard/looking/looking-messages.ts
  packages/stdlib/src/actions/standard/looking/looking.ts
  packages/stdlib/src/chains/opened-revealed.ts
  packages/stdlib/src/validation/command-validator.ts
  packages/stdlib/tests/unit/actions/going-golden.test.ts
  packages/stdlib/tests/unit/validation/exact-out-of-scope.test.ts
  packages/story-loader/src/message-alias-map.ts
  packages/story-loader/src/runtime.ts
  packages/story-loader/tests/publish-readiness-phase12.test.ts
  stories/dungeo/src/version.ts
  stories/dungeo/walkthroughs/wt-04-dam-reservoir.golden
  stories/dungeo/walkthroughs/wt-08-river-rainbow.golden
  stories/dungeo/walkthroughs/wt-12-scattered-treasures.golden
  website/src/app/chord/stdlib/reference/content.mdx
Due: eslint --fix, prettier --write

feat(devkit,ide,scripts,friendly-zoo,world-index): publish-readiness Phases 13–15 — menu-less Play pane and publish menu option, release-gate fixes, pipe-safe play (#196 #195 #320 #319 #240)
  docs/architecture/adrs/adr-290-test-creation-as-an-atomic-mode.md
  docs/context/session-20260903-0432-feat-adr-321-world-index.md
  docs/proposals/publish-readiness-defects.md
  docs/work/publish-readiness/plan.md
  packages/devkit/src/commands/play.test.ts
  packages/devkit/src/commands/play.ts
  packages/devkit/src/standalone/browser-core-build.test.ts
  packages/devkit/src/standalone/browser-core.test.ts
  packages/devkit/src/standalone/browser-core.ts
  packages/devkit/src/standalone/build-browser.ts
  packages/devkit/src/standalone/publish.ts
  packages/world-index/tests/cli.test.ts
  packages/world-index/tests/incomplete.test.ts
  scripts/__tests__/cli-chord-seed.test.ts
  stories/friendly-zoo/tests/transcripts/state-assertions.transcript
  tools/ide/SharpeeIDE/AppDelegate.swift
  tools/ide/SharpeeIDE/Build/BuildRunner.swift
  tools/ide/SharpeeIDE/Publish/PublishController.swift
  tools/ide/SharpeeIDE/Publish/PublishView.swift
  tools/ide/SharpeeIDE/Resources/docs-tab/docs-index.json
  tools/ide/SharpeeIDE/Resources/docs-tab/pages/chord__guide__behavior__the-statements.html
  tools/ide/SharpeeIDE/Resources/docs-tab/pages/chord__guide__characters-and-conversation__goals.html
  tools/ide/SharpeeIDE/Resources/docs-tab/pages/chord__guide__characters-and-conversation__greetings.html
  tools/ide/SharpeeIDE/Resources/docs-tab/pages/chord__guide__world__exits-and-blocked-exits.html
  tools/ide/SharpeeIDE/Resources/docs-tab/pages/chord__guide__world__placing-and-wearing.html
  tools/ide/SharpeeIDE/Resources/docs-tab/pages/chord__reference__grammar.html
  tools/ide/SharpeeIDE/Resources/docs-tab/pages/chord__stdlib__reference.html
  tools/ide/SharpeeIDE/Resources/story-templates/story.story.template
  tools/ide/SharpeeIDETests/BuildRunnerTests.swift
  tools/ide/SharpeeIDETests/PublishTabTests.swift
Due: eslint --fix, prettier --write

docs(website,work): publish-readiness Phase 16 — the tree-document testing reference, a sound/music/images guide, getting-started off --chain (#246 #94)
  docs/context/session-20260903-0432-feat-adr-321-world-index.md
  docs/proposals/publish-readiness-defects.md
  docs/work/publish-readiness/context/work-summary-20260903-phases-1-16.md
  docs/work/publish-readiness/plan.md
  website/public/chord.ebnf
  website/public/search-index.json
  website/src/app/chord-writer/building-playing-and-testing/content.mdx
  website/src/app/chord/getting-started/compose-and-run/content.mdx
  website/src/app/chord/guide/tooling/sharpee-test/content.mdx
  website/src/app/chord/guide/tooling/sharpee-test/page.tsx
  website/src/app/chord/guide/world/sound-music-and-images/content.mdx
  website/src/app/chord/guide/world/sound-music-and-images/page.tsx
  website/src/lib/nav.ts
  website/src/lib/versions.json
Due: eslint --fix, prettier --write

docs(core-concepts): ADR-307 vocabulary sweep — the walkthrough chain note names the bundle, not a `sharpee build --test` that no longer exists
  docs/core-concepts/transcript-testing.md
Due: prettier --write

refactor(cloak-of-darkness,stdlib): publish-readiness Phase 15 — cloak.story is the one implementation; self words follow the player role (#231)
  docs/context/session-20260903-0432-feat-adr-321-world-index.md
  docs/proposals/publish-readiness-defects.md
  docs/work/publish-readiness/plan.md
  packages/sharpee/docs/genai-api/index.md
  packages/sharpee/docs/genai-api/tooling.md
  packages/stdlib/src/validation/command-validator.ts
  packages/stdlib/tests/unit/validation/self-words.test.ts
  stories/cloak-of-darkness/README.md
  stories/cloak-of-darkness/package.json
  stories/cloak-of-darkness/run-cli.js
  stories/cloak-of-darkness/run-platform.js
  stories/cloak-of-darkness/run.js
  stories/cloak-of-darkness/run.ts
  stories/cloak-of-darkness/src/browser-entry.ts
  stories/cloak-of-darkness/src/debug-runner.ts
  stories/cloak-of-darkness/src/index.ts
  stories/cloak-of-darkness/src/test-runner.ts
  stories/cloak-of-darkness/src/version.ts
  stories/cloak-of-darkness/test-parser-events.js
  stories/cloak-of-darkness/tests/cloak-of-darkness.test.ts
  stories/cloak-of-darkness/tests/transcripts/bar-darkness.golden
  stories/cloak-of-darkness/tsconfig.dev.json
  stories/cloak-of-darkness/tsconfig.standalone.json
  stories/dungeo/src/version.ts
Due: eslint --fix, prettier --write

docs(work,proposals): publish-readiness Phase 15 complete — #239 closed as superseded by ADR-307 (David's ruling)
  docs/context/session-20260903-0432-feat-adr-321-world-index.md
  docs/proposals/publish-readiness-defects.md
  docs/work/publish-readiness/plan.md
Due: prettier --write

docs(context): session effb6f closed — publish-readiness Phases 1–16 landed, status Complete
  docs/context/session-20260903-0432-feat-adr-321-world-index.md
Due: prettier --write

docs(context): session 0135ed closed — 5.3.0/3.6.0 bump, website syntax sweep, Sonar fix merged via #357; npm dry run green; publish waits on the world-index / ext-chapters first-publish decision
  docs/context/session-20260903-1819-feat-adr-321-world-index.md
Due: prettier --write

docs(context): session 0135ed — Sharpee 5.3.0 / Chord 3.6.0 published to npm (34 packages; run 33869141138 stalled transiently at channel-service, re-dispatch 33870106653 finished)
  docs/context/session-20260903-1819-feat-adr-321-world-index.md
Due: prettier --write

feat(ide,chord,website,docs): Chord Writer 1.4.0 — align with Sharpee 5.3.0 / Chord 3.6.0
  docs/context/archive/session-20260903-0700-feat-adr-321-world-index.md
  docs/context/session-20260904-0815-feat-adr-321-world-index.md
  docs/work/publish-readiness/plan.md
  packages/chord/tests/fixtures/lexer-golden/lexer-golden.json
  packages/chord/tests/fixtures/lexer-golden/presence-and-chapters-surface.story
  packages/chord/tests/lexer-golden.test.ts
  tools/ide/SharpeeIDE/Compose/ChordVersionCheck.swift
  tools/ide/SharpeeIDE/Compose/ComposeDiagnostics.swift
  tools/ide/SharpeeIDE/Compose/StoryIndex.swift
  tools/ide/SharpeeIDE/Editor/SyntaxHighlighter.swift
  tools/ide/SharpeeIDE/Resources/docs-tab/pages/chord-writer.html
  tools/ide/SharpeeIDETests/ComposeDiagnosticsTests.swift
  tools/ide/SharpeeIDETests/ComposeRunnerTests.swift
  tools/ide/SharpeeIDETests/EditorWrapWidthTests.swift
  tools/ide/SharpeeIDETests/IRTreeStateTests.swift
  tools/ide/SharpeeIDETests/SplitDividerTests.swift
  tools/ide/SharpeeIDETests/StoryIndexTests.swift
  tools/ide/SharpeeIDETests/SyntaxHighlighterTests.swift
  tools/ide/project.yml
  website/src/lib/versions.json
Due: eslint --fix, prettier --write

docs(context): session 15cfa3 — release run stalled: notarytool SIGBUS orphans, locked login keychain; handoff steps for David
  docs/context/session-20260904-0815-feat-adr-321-world-index.md
Due: prettier --write

docs(blog,context): 5.3 / Chord 3.6 / Chord Writer 1.4 release rundown draft in David's voice; session 15cfa3 record updated
  docs/context/session-20260904-0815-feat-adr-321-world-index.md
  docs/work/blog/2026-09-04-sharpee-5-3-and-chord-writer-1-4.md
Due: prettier --write

docs(context): session 15cfa3 — note GH #358 (playground on a stale 3.0.0 compiler; repokit runManifestStep deadlock on stale dist) and its bearing on the 1.4.0 site deploy
  docs/context/session-20260904-0815-feat-adr-321-world-index.md
Due: prettier --write

fix(repokit,website): GH #358 — the manifest step's dist gate means usable, not present; deploy.sh asserts the playground version pin
  docs/context/session-20260904-0815-feat-adr-321-world-index.md
  tools/repokit/src/commands/manifest.test.ts
  tools/repokit/src/commands/manifest.ts
  website/deploy.sh
Due: eslint --fix, prettier --write

docs(plans): back to the Secret Letter port — .current-plan returns to secret-letter-port; publish-readiness stamped still-live (Phase 18 upload + Phase 17 proof outstanding)
  docs/context/.current-plan
  docs/work/publish-readiness/plan.md
Due: prettier --write

feat(secret-letter): Chapter 1 — the view from the top (chasing mercenaries + the axe, story.ni:4068-4124); #333/#313 un-held and pinned
  branch-stories/secret-letter/aerial-runway.chord
  branch-stories/secret-letter/mercenaries.chord
  branch-stories/secret-letter/secret-letter.tests.json
  docs/context/session-20260904-0815-feat-adr-321-world-index.md
  docs/work/secret-letter-port/plan.md
Due: prettier --write

feat(secret-letter): Chapter 2 opens — Commerce Street and Lord's Market rooms (Books 3-4, first-visit layer)
  branch-stories/secret-letter/commerce-street.chord
  branch-stories/secret-letter/disguise.chord
  branch-stories/secret-letter/lords-market.chord
  branch-stories/secret-letter/secret-letter.story
  branch-stories/secret-letter/secret-letter.tests.json
  docs/context/session-20260904-0815-feat-adr-321-world-index.md
  docs/work/secret-letter-port/plan.md
Due: prettier --write

feat(secret-letter): Chapter 2's keepers — Germaise, Holstenoffer, Olgan Minor, the clothier, Dame Sandler and Pieter, the Chorus Brothers (stubbed)
  branch-stories/secret-letter/commerce-street.chord
  branch-stories/secret-letter/lords-market.chord
  branch-stories/secret-letter/secret-letter.tests.json
  docs/context/session-20260904-0815-feat-adr-321-world-index.md
  docs/work/secret-letter-port/plan.md
Due: prettier --write

feat(secret-letter): Chapter III's chapter row on the Back Alley; the paranoia texture slot on the three street rooms (guarded on the player's presence)
  branch-stories/secret-letter/commerce-street.chord
  branch-stories/secret-letter/lords-market.chord
  branch-stories/secret-letter/secret-letter.story
  docs/context/session-20260904-0815-feat-adr-321-world-index.md
  docs/work/secret-letter-port/plan.md
Due: prettier --write

feat(secret-letter): Chapter 3 — Bobby in the Back Alley and the night at Maiden House (Books 6 and 5), ending at the privy window
  branch-stories/secret-letter/lords-market.chord
  branch-stories/secret-letter/maiden-house.chord
  branch-stories/secret-letter/secret-letter.story
  branch-stories/secret-letter/secret-letter.tests.json
  docs/context/session-20260904-0815-feat-adr-321-world-index.md
  docs/work/secret-letter-port/plan.md
Due: prettier --write

chore(devarch,blog): DevArch 8.2.0 descriptor; blog draft "Who draws the line break? Not the author."
  .devarch/descriptor.json
  docs/work/blog/2026-09-04-who-draws-the-line-break.md
Due: prettier --write

docs(plans,context): Chord Writer 1.4.0 live — Phase 18 checklist complete, P-44 items 1-4 verified against sharpee.net; item 5 waits on Phase 17
  docs/work/publish-readiness/plan.md
Due: prettier --write

docs(context): session 15cfa3 — Chord Writer 1.4.0 verified live; status COMPLETE
  docs/context/session-20260904-0815-feat-adr-321-world-index.md
Due: prettier --write

docs(blog): "Who draws the line break?" — final revision + two diagrams; run-on tag proposal is #363
  docs/context/archive/session-20260903-0145-feat-adr-321-world-index.md
  docs/context/session-20260904-2111-feat-secret-letter-port.md
  docs/work/blog/2026-09-04-ice-cream-blocks.svg
  docs/work/blog/2026-09-04-ice-cream-play.svg
  docs/work/blog/2026-09-04-who-draws-the-line-break.md
Due: prettier --write

feat(secret-letter): Chapters 4 and 5 — the night journey to Lord's Keep, the jail and the sewers (Books 5B, 6 and 7), ending at daylight on Commerce Street
  branch-stories/secret-letter/backdrops.chord
  branch-stories/secret-letter/commerce-street.chord
  branch-stories/secret-letter/grubbers-market.chord
  branch-stories/secret-letter/jail.chord
  branch-stories/secret-letter/lords-market.chord
  branch-stories/secret-letter/maiden-house.chord
  branch-stories/secret-letter/night-journey.chord
  branch-stories/secret-letter/secret-letter.story
  branch-stories/secret-letter/secret-letter.tests.json
  docs/context/archive/session-20260903-0351-feat-adr-321-world-index.md
  docs/context/session-20260904-1940-feat-secret-letter-port.md
  docs/work/secret-letter-port/plan.md
Due: prettier --write

feat(secret-letter): Chapters 6, 7 and 8 — the rooftops and Black Gate Estate, the gallows and the raid on Maiden House, and Red Gate Estate (Books 8-11), ending in Sandler & Sons
  branch-stories/secret-letter/backdrops.chord
  branch-stories/secret-letter/black-gate.chord
  branch-stories/secret-letter/commerce-street.chord
  branch-stories/secret-letter/gallows.chord
  branch-stories/secret-letter/jail.chord
  branch-stories/secret-letter/lords-market.chord
  branch-stories/secret-letter/maiden-house.chord
  branch-stories/secret-letter/red-gate.chord
  branch-stories/secret-letter/secret-letter.story
  branch-stories/secret-letter/secret-letter.tests.json
  docs/context/.open-items.jsonl
  docs/context/archive/session-20260903-0432-feat-adr-321-world-index.md
  docs/context/session-20260904-2310-feat-secret-letter-port.md
  docs/work/secret-letter-port/plan.md
Due: prettier --write

feat(secret-letter): Chapters 9, 10 and 11 — Dame Sandler's Preparations, the Night Journey to the Ball, and the Ball itself (Book 12), ending in a placeholder Vella
  branch-stories/secret-letter/backdrops.chord
  branch-stories/secret-letter/ball.chord
  branch-stories/secret-letter/commerce-street.chord
  branch-stories/secret-letter/gallows.chord
  branch-stories/secret-letter/journey.chord
  branch-stories/secret-letter/lords-market.chord
  branch-stories/secret-letter/maiden-house.chord
  branch-stories/secret-letter/night-journey.chord
  branch-stories/secret-letter/preparations.chord
  branch-stories/secret-letter/secret-letter.story
  branch-stories/secret-letter/secret-letter.tests.json
  docs/context/archive/session-20260903-1819-feat-adr-321-world-index.md
  docs/context/session-20260905-1007-feat-secret-letter-port.md
  docs/work/secret-letter-port/plan.md
Due: prettier --write

docs(secret-letter): re-plan pass adds release Phases 12-17; ADR-333 prose provenance + play-to-write ACCEPTED
  docs/architecture/adrs/adr-333-prose-provenance-and-play-to-write.md
  docs/context/archive/session-20260904-0815-feat-adr-321-world-index.md
  docs/context/session-20260905-1532-feat-secret-letter-port.md
  docs/work/secret-letter-port/plan.md
Due: prettier --write

docs(adr-333): ADR-333 prose provenance + play-to-write — plan (4 phases), pointer, 18b stamp on publish-readiness
  docs/architecture/adrs/adr-333-prose-provenance-and-play-to-write.md
  docs/context/.current-plan
  docs/context/archive/session-20260903-0145-feat-adr-321-world-index.md
  docs/context/session-20260905-1532-feat-secret-letter-port.md
  docs/work/adr-333-prose-provenance/plan.md
  docs/work/publish-readiness/plan.md
Due: prettier --write

feat(adr-333): Phase 1 — every phrase-rendered block carries source.messageId; browser paragraphs expose data-message-id
  docs/context/session-20260905-1532-feat-secret-letter-port.md
  docs/work/adr-333-prose-provenance/plan.md
  packages/engine/src/prose-pipeline/phrase-render.ts
  packages/engine/tests/prose-pipeline/phrase-render.test.ts
  packages/if-domain/src/channels/types.ts
  packages/platform-browser/src/channels/prose.ts
  packages/platform-browser/tests/channels/prose.test.ts
  packages/sharpee/docs/genai-api/if-domain.md
  packages/sharpee/docs/genai-api/index.md
  packages/sharpee/docs/genai-api/text.md
  packages/stdlib/src/channels/standard.ts
  packages/stdlib/tests/channels/standard.test.ts
  packages/story-loader/tests/adr-333-provenance-stamp.test.ts
  packages/text-blocks/src/index.ts
  packages/text-blocks/src/types.ts
  stories/dungeo/src/version.ts
Due: eslint --fix, prettier --write

content(secret-letter): every play-testing stub carries a default line that plays — 126 stubs across 18 files; test tree repinned (1468 cards passing)
  branch-stories/secret-letter/aerial-runway.chord
  branch-stories/secret-letter/ball.chord
  branch-stories/secret-letter/black-gate.chord
  branch-stories/secret-letter/commerce-street.chord
  branch-stories/secret-letter/disguise.chord
  branch-stories/secret-letter/gallows.chord
  branch-stories/secret-letter/grubbers-market.chord
  branch-stories/secret-letter/jail.chord
  branch-stories/secret-letter/journey.chord
  branch-stories/secret-letter/lords-market.chord
  branch-stories/secret-letter/maiden-house.chord
  branch-stories/secret-letter/mercenaries.chord
  branch-stories/secret-letter/night-journey.chord
  branch-stories/secret-letter/npc-teisha.chord
  branch-stories/secret-letter/preparations.chord
  branch-stories/secret-letter/red-gate.chord
  branch-stories/secret-letter/secret-letter.story
  branch-stories/secret-letter/secret-letter.tests.json
  branch-stories/secret-letter/wares.chord
Due: prettier --write

test(secret-letter): two opener claims follow David's play-test edit to st-opener (tree 1468 cards passing after the merge)
  branch-stories/secret-letter/secret-letter.tests.json
Due: prettier --write

docs(context): session bc2998 summary — editing rounds confirmed, merged to feat/secret-letter-port (957970b58, ec0c62b91)
  docs/context/session-20260905-2230-feat-adr-333-prose-provenance.md
Due: prettier --write

content(secret-letter): the ten stallkeepers are `a person, scenery` — the 2009 default restored, so the room no longer lists them (David's ruling, 2026-09-06; their examinations are his to write)
  branch-stories/secret-letter/grubbers-market.chord
Due: none

docs(context): finalize session eb31fb — the `unlisted` adjective work verified, committed and pushed (tree 1468 cards, Dungeo chain 952)
  docs/context/session-20260906-0520-feat-secret-letter-port.md
Due: prettier --write

feat(secret-letter,stdlib,docs): Secret Letter port platform defects — plan Phases 8-9 land, plan DONE and archived
  branch-stories/secret-letter/black-gate.chord
  branch-stories/secret-letter/disguise.chord
  branch-stories/secret-letter/gallows.chord
  branch-stories/secret-letter/red-gate.chord
  branch-stories/secret-letter/secret-letter.story
  branch-stories/secret-letter/secret-letter.tests.json
  docs/context/.current-plan
  docs/context/.open-items.jsonl
  docs/context/archive/session-20260906-0520-feat-secret-letter-port.md
  docs/context/archive/session-20260906-2025-feat-secret-letter-port.md
  docs/context/session-20260907-0125-feat-secret-letter-port-phase-8.md
  docs/proposals/secret-letter-port-platform-defects.md
  docs/work/archive/secret-letter-port-platform-defects/context/work-summary-20260906-phase2-authored-move-narration.md
  docs/work/archive/secret-letter-port-platform-defects/context/work-summary-20260906-phase3-4-region-select-and-names.md
  docs/work/archive/secret-letter-port-platform-defects/plan.md
  packages/stdlib/tests/unit/validation/unplaced-entity-scope.test.ts
  website/src/app/chord/guide/vocabulary/define-action/content.mdx
Due: eslint --fix, prettier --write

feat(secret-letter): stallkeeper patience counts approaches, as the source does (#356)
  branch-stories/secret-letter/grubbers-market.chord
  branch-stories/secret-letter/mercenaries.chord
  branch-stories/secret-letter/secret-letter.story
  branch-stories/secret-letter/secret-letter.tests.json
  docs/context/.current-plan
  docs/context/.open-items.jsonl
  docs/context/archive/session-20260906-2229-feat-secret-letter-port.md
  docs/context/session-20260908-0025-feat-secret-letter-port.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md})
