Repository ChicagoDave/sharpee: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md}": [
    "prettier --write"
  ]
}

feat: Rewrite wt-04 without GDT, add save/restore to ADR-110
  docs/architecture/adrs/adr-109-playtester-annotation-system.md
  docs/architecture/adrs/adr-110-debug-tools-extension.md
  docs/context/session-20260122-0043-dungeo.md
  docs/context/session-20260122-1602-dungeo.md
  docs/context/session-20260122-1612-dungeo.md
  docs/context/session-20260122-1615-dungeo.md
  docs/context/session-20260122-1755-dungeo.md
  docs/context/session-20260122-1757-dungeo.md
  docs/context/session-20260122-1831-dungeo.md
  docs/context/session-20260122-1848-dungeo.md
  docs/context/session-20260122-1930-dungeo.md
  docs/context/session-20260122-2024-dungeo.md
  docs/context/session-20260122-2113-dungeo.md
  docs/context/session-20260122-2130-dungeo.md
  docs/context/session-20260122-2158-dungeo.md
  docs/context/session-20260122-2328-dungeo.md
  docs/context/session-20260123-0052-dungeo.md
  docs/context/session-20260123-0121-dungeo.md
  docs/context/session-20260123-0222-dungeo.md
  docs/context/session-20260123-0256-dungeo.md
  docs/context/session-20260123-1320-dungeo.md
  docs/context/session-20260123-1434-dungeo.md
  stories/dungeo/walkthroughs/wt-04-dam-reservoir.transcript
Due: prettier --write

feat: Add fast-cli for transcript testing, fix unit test transcripts
  packages/lang-en-us/src/actions/taking.ts
  packages/stdlib/src/actions/standard/taking/taking.ts
  packages/transcript-tester/src/fast-cli.ts
  stories/dungeo/tests/transcripts/again.transcript
  stories/dungeo/tests/transcripts/bat-with-garlic.transcript
  stories/dungeo/tests/transcripts/bat-without-garlic.transcript
  stories/dungeo/tests/transcripts/bucket-well.transcript
  stories/dungeo/tests/transcripts/cyclops-magic-word.transcript
  stories/dungeo/tests/transcripts/endgame-incant.transcript
  stories/dungeo/tests/transcripts/inventory-message.transcript
  stories/dungeo/tests/transcripts/maze-navigation.transcript
  stories/dungeo/tests/transcripts/room-scoring.transcript
  stories/dungeo/tests/transcripts/thiefs-canvas.transcript
  stories/dungeo/tests/transcripts/troll-visibility.transcript
  stories/dungeo/tests/transcripts/version.transcript
  stories/dungeo/tests/transcripts/weight-capacity.transcript
  stories/dungeo/walkthroughs/wt-01-get-torch-early.transcript
Due: eslint --fix, prettier --write

chore: Version bumps, CLI additions, and infrastructure updates
  CLAUDE.md
  docs/context/.work-log.txt
  packages/core/package.json
  packages/engine/package.json
  packages/event-processor/package.json
  packages/if-domain/package.json
  packages/if-services/package.json
  packages/lang-en-us/package.json
  packages/parser-en-us/package.json
  packages/platforms/browser-en-us/src/version.ts
  packages/sharpee/package.json
  packages/sharpee/src/cli/build-browser.ts
  packages/sharpee/src/cli/index.ts
  packages/sharpee/src/cli/init-browser.ts
  packages/sharpee/src/cli/init.ts
  packages/sharpee/templates/browser/browser-entry.ts.template
  packages/sharpee/templates/browser/index.html
  packages/sharpee/templates/browser/styles.css
  packages/sharpee/templates/story/index.ts.template
  packages/sharpee/templates/story/package.json.template
  packages/sharpee/templates/story/tsconfig.json.template
  packages/stdlib/package.json
  packages/text-blocks/package.json
  packages/text-service/package.json
  packages/world-model/package.json
  scripts/publish-npm.sh
  scripts/run-transcripts.sh
  stories/dungeo/package.json
  stories/dungeo/src/version.ts
  stories/dungeo/tests/transcripts/endgame-entry.transcript
Due: eslint --fix, prettier --write

chore: Work log update and test results
  docs/context/.work-log.txt
  docs/work/issues/test-results.md
  packages/platforms/browser-en-us/package.json
Due: prettier --write

chore: Update work log
  docs/context/.work-log.txt
Due: none

feat: Add $save/$restore directives and extension architecture ADRs
  docs/architecture/adrs/adr-111-extension-ecosystem.md
  docs/architecture/adrs/adr-112-client-security-model.md
  docs/context/session-20260123-1456-ext-testing.md
  docs/work/harness/implementation-plan.md
  packages/transcript-tester/src/fast-cli.ts
  packages/transcript-tester/src/parser.ts
  packages/transcript-tester/src/runner.ts
  packages/transcript-tester/src/types.ts
  scripts/bundle-entry.js
  stories/dungeo/.gitignore
  stories/dungeo/tests/transcripts/save-restore-basic.transcript
Due: eslint --fix, prettier --write

build: Auto-copy browser builds to website public directory
  scripts/build-client.sh
  website/public/games/dungeo/dungeo.js
Due: none

feat: Wire ext-testing $commands to transcript-tester (Phase 4 complete)
  docs/context/session-20260123-1641-ext-testing.md
  docs/context/session-20260123-1757-ext-testing.md
  docs/work/harness/implementation-plan.md
  packages/extensions/testing/package.json
  packages/extensions/testing/src/context/debug-context.ts
  packages/extensions/testing/src/extension.ts
  packages/sharpee/package.json
  packages/sharpee/src/index.ts
  packages/transcript-tester/src/fast-cli.ts
  packages/transcript-tester/src/parser.ts
  packages/transcript-tester/src/runner.ts
  packages/transcript-tester/src/types.ts
  pnpm-lock.yaml
  scripts/bundle-entry.js
  stories/dungeo/tests/transcripts/ext-testing-commands.transcript
  stories/dungeo/tests/transcripts/gdt-commands.transcript
Due: eslint --fix, prettier --write

feat: Add playtester annotation system (ADR-109, Phase 6 complete)
  docs/context/session-20260123-1800-ext-testing.md
  docs/context/session-20260123-1901-ext-testing.md
  docs/work/harness/implementation-plan.md
  packages/extensions/testing/src/annotations/context.ts
  packages/extensions/testing/src/annotations/index.ts
  packages/extensions/testing/src/annotations/store.ts
  packages/extensions/testing/src/extension.ts
  packages/extensions/testing/src/index.ts
  packages/extensions/testing/src/types.ts
  packages/transcript-tester/src/parser.ts
  packages/transcript-tester/src/runner.ts
  packages/transcript-tester/src/types.ts
  stories/dungeo/tests/transcripts/annotations.transcript
Due: eslint --fix, prettier --write

docs: Update ADRs for ext-testing integration
  docs/architecture/adrs/adr-073-transcript-story-testing.md
  docs/architecture/adrs/adr-092-smart-transcript-directives.md
  docs/architecture/adrs/adr-109-playtester-annotation-system.md
Due: prettier --write

chore: Update work log and fix React client files
  docs/context/.work-log.txt
  packages/client-react/src/context/GameContext.tsx
  stories/dungeo/src/react-entry.tsx
Due: eslint --fix, prettier --write

fix(event-processor): Implement game.message override semantics (ISSUE-039)
  docs/context/.work-log.txt
  docs/context/react-issues.txt
  docs/context/session-20260123-2152-dungeo.md
  docs/work/issues/issues-list-02.md
  packages/client-react/package.json
  packages/client-react/src/components/GameShell.tsx
  packages/client-react/src/context/GameContext.tsx
  packages/client-react/src/hooks/useMap.ts
  packages/client-react/src/version.ts
  packages/client-react/tsconfig.json
  packages/event-processor/src/processor.ts
  packages/text-service/src/stages/sort.ts
  scripts/build.sh
  scripts/update-versions.sh
  stories/dungeo/package.json
  stories/dungeo/src/react-entry.tsx
  stories/dungeo/tests/transcripts/rug-trapdoor.transcript
  stories/dungeo/tests/transcripts/troll-blocking.transcript
Due: eslint --fix, prettier --write

docs: Add React client theme design and font showcase
  docs/context/.work-log.txt
  docs/context/session-20260123-2152-dungeo.md
  docs/design/react-design.html
  docs/work/issues/issues-list-02.md
Due: prettier --write

feat: Unified build system and React theme support
  CLAUDE.md
  build.sh
  docs/context/session-20260123-1944-dungeo.md
  docs/context/session-20260123-1945-dungeo.md
  docs/context/session-20260123-2127-dungeo.md
  docs/context/session-20260123-2253-dungeo.md
  docs/context/session-20260123-2336-dungeo.md
  docs/work/issues/issues-list-02.md
  packages/client-react/package.json
  packages/client-react/src/components/GameShell.tsx
  packages/client-react/src/components/index.ts
  packages/client-react/src/components/panels/CommentaryPanel.tsx
  packages/client-react/src/components/panels/MapPanel.tsx
  packages/client-react/src/components/panels/NotesPanel.tsx
  packages/client-react/src/components/panels/ProgressPanel.tsx
  packages/client-react/src/components/panels/TabPanel.tsx
  packages/client-react/src/components/panels/index.ts
  packages/client-react/src/index.ts
  packages/client-react/src/version.ts
  packages/client-react/themes/classic-light.css
  packages/client-react/themes/modern-dark.css
  packages/client-react/themes/paper.css
  packages/client-react/themes/retro-terminal.css
  packages/platforms/browser-en-us/package.json
  packages/platforms/browser-en-us/src/version.ts
  packages/sharpee/package.json
  scripts/build-client.sh
  scripts/build-dungeo-ubuntu.sh
  scripts/build-platform-ubuntu.sh
  scripts/build-platform.sh
  scripts/build-story.sh
  scripts/build-web-ubuntu.sh
  scripts/build.sh
  scripts/play-dungeo.sh
  scripts/update-versions.sh
  stories/dungeo/package.json
  stories/dungeo/src/react-entry.tsx
  stories/dungeo/src/version.ts
Due: eslint --fix, prettier --write

feat(client-react): Fix map panel layout and room accumulation
  docs/context/.work-log.txt
  docs/context/session-20260123-2341-dungeo.md
  docs/context/session-20260124-0041-dungeo.md
  docs/design/react-actual-map.png
  docs/design/react-map.html
  docs/design/themed-map.png
  packages/client-react/src/components/panels/MapPanel.tsx
  packages/client-react/src/context/GameContext.tsx
  packages/client-react/src/hooks/useMap.ts
  packages/client-react/src/types/game-state.ts
  packages/client-react/themes/classic-light.css
  packages/client-react/themes/modern-dark.css
  packages/client-react/themes/paper.css
  packages/client-react/themes/retro-terminal.css
Due: eslint --fix, prettier --write

feat(client-react): Improve map collision detection and events panel
  docs/architecture/adrs/adr-113-map-position-hints.md
  docs/context/session-20260124-0044-dungeo.md
  docs/context/session-20260124-0146-dungeo.md
  packages/client-react/package.json
  packages/client-react/src/components/panels/CommentaryPanel.tsx
  packages/client-react/src/components/panels/MapPanel.tsx
  packages/client-react/src/hooks/useCommentary.ts
  packages/client-react/src/hooks/useMap.ts
  packages/client-react/src/version.ts
  packages/sharpee/package.json
  stories/dungeo/package.json
  stories/dungeo/src/version.ts
  website/public/games/dungeo-react/dungeo.js
  website/public/games/dungeo-react/index.html
  website/public/games/dungeo/dungeo.js
Due: eslint --fix, prettier --write

feat(client-react): Improve commentary panel and tab layout
  build-test-all.sh
  docs/context/.work-log.txt
  docs/context/session-20260124-0150-dungeo.md
  docs/context/session-20260124-0440-dungeo.md
  docs/work/issues/issues-list-02.md
  packages/client-react/package.json
  packages/client-react/src/components/GameShell.tsx
  packages/client-react/src/components/panels/CommentaryPanel.tsx
  packages/client-react/src/components/panels/TabPanel.tsx
  packages/client-react/src/context/GameContext.tsx
  packages/client-react/src/hooks/index.ts
  packages/client-react/src/hooks/useCommentary.ts
  packages/client-react/src/index.ts
  packages/client-react/src/version.ts
  packages/core/package.json
  packages/engine/package.json
  packages/event-processor/package.json
  packages/if-domain/package.json
  packages/if-services/package.json
  packages/lang-en-us/package.json
  packages/parser-en-us/package.json
  packages/sharpee/package.json
  packages/stdlib/package.json
  packages/text-blocks/package.json
  packages/text-service/package.json
  packages/world-model/package.json
  scripts/publish-npm.sh
  stories/dungeo/package.json
  stories/dungeo/src/handlers/glacier-handler.ts
  stories/dungeo/src/index.ts
  stories/dungeo/src/regions/underground.ts
  stories/dungeo/src/version.ts
  website/public/games/dungeo-react/dungeo.js
Due: eslint --fix, prettier --write

feat: Implement ADR-113 Map Position Hints (Phase 1)
  docs/architecture/adrs/adr-113-map-position-hints.md
  docs/work/maphints/implementation-plan.md
  packages/client-react/src/context/GameContext.tsx
  packages/client-react/src/hooks/useMap.ts
  packages/client-react/src/types/game-state.ts
  packages/stdlib/src/actions/standard/going/going-data.ts
  packages/stdlib/src/actions/standard/going/going-events.ts
  packages/world-model/src/traits/room/roomTrait.ts
Due: eslint --fix, prettier --write

feat: Browser client menu handlers and ADR-114 platform-browser package
  docs/architecture/adrs/adr-105-javascript-browser-client.md
  docs/architecture/adrs/adr-114-browser-platform-package.md
  docs/context/.work-log.txt
  docs/context/session-20260124-1046-maphints.md
  docs/context/session-20260124-1048-maphints.md
  docs/context/session-20260124-1642-maphints.md
  docs/context/session-20260124-1647-maphints.md
  docs/context/session-20260124-1904-maphints.md
  docs/context/session-20260124-1908-maphints.md
  docs/context/session-20260124-1950-maphints.md
  stories/dungeo/src/browser-entry.ts
  templates/browser/index.html
  templates/browser/infocom.css
  website/public/games/dungeo/dungeo.js
  website/public/games/dungeo/index.html
  website/public/games/dungeo/styles.css
Due: eslint --fix, prettier --write

feat: Implement ADR-114 @sharpee/platform-browser package
  build.sh
  docs/context/session-20260124-2157-main.md
  packages/platform-browser/package.json
  packages/platform-browser/src/BrowserClient.ts
  packages/platform-browser/src/audio/AudioManager.ts
  packages/platform-browser/src/display/StatusLine.ts
  packages/platform-browser/src/display/TextDisplay.ts
  packages/platform-browser/src/display/index.ts
  packages/platform-browser/src/index.ts
  packages/platform-browser/src/managers/DialogManager.ts
  packages/platform-browser/src/managers/InputManager.ts
  packages/platform-browser/src/managers/MenuManager.ts
  packages/platform-browser/src/managers/SaveManager.ts
  packages/platform-browser/src/managers/ThemeManager.ts
  packages/platform-browser/src/managers/index.ts
  packages/platform-browser/src/types.ts
  packages/platform-browser/tsconfig.json
  packages/platforms/browser-en-us/package.json
  packages/platforms/browser-en-us/src/version.ts
  packages/sharpee/package.json
  pnpm-lock.yaml
  stories/dungeo/package.json
  stories/dungeo/src/browser-entry.ts
  stories/dungeo/src/version.ts
Due: eslint --fix, prettier --write

feat: Add buildDate to Story config, simplify version format
  build.sh
  docs/context/session-20260125-0515-main.md
  packages/core/src/events/game-events.ts
  packages/engine/src/game-engine.ts
  packages/engine/src/story.ts
  packages/sharpee/package.json
  packages/text-service/src/handlers/game.ts
  stories/dungeo/package.json
  stories/dungeo/src/index.ts
  stories/dungeo/src/messages/index.ts
  stories/dungeo/src/version.ts
Due: eslint --fix, prettier --write

Session 2026-01-24: ADRs 115-116, DSLM planning
  docs/architecture/adrs/adr-113-map-position-hints.md
  docs/architecture/adrs/adr-115-map-export-cli.md
  docs/architecture/adrs/adr-116-prompt-to-playable.md
  docs/context/session-20260124-2039-main.md
Due: prettier --write

fix: Use iframe wrapper for game page, version sync
  build-ubuntu.sh
  docs/context/session-20260123-2234-ext-testing.md
  docs/context/session-20260125-0552-main.md
  docs/context/session-20260125-1932-main.md
  docs/context/session-20260125-1937-main.md
  docs/context/session-20260126-0151-main.md
  docs/context/session-20260126-0249-main.md
  docs/context/session-20260126-0305-main.md
  docs/context/session-20260126-0307-main.md
  packages/platforms/browser-en-us/package.json
  packages/platforms/browser-en-us/src/version.ts
  packages/sharpee/src/index.ts
  pnpm-lock.yaml
  scripts/bundle-entry.js
  stories/dungeo/package.json
  stories/dungeo/src/version.ts
  website/public/games/dungeo/dungeo.js
  website/src/content/docs/index.md
  website/src/pages/play/dungeo.astro
Due: eslint --fix, prettier --write

feat: Migrate walkthroughs to checkpoint-based testing with $save/$restore
  docs/context/.work-log.txt
  docs/context/session-20260125-2252-main.md
  docs/context/session-20260125-2253-main.md
  packages/extensions/testing/src/extension.ts
  packages/sharpee/src/index.ts
  scripts/bundle-entry.js
  stories/dungeo/walkthroughs/wt-01-get-torch-early.transcript
  stories/dungeo/walkthroughs/wt-02-bank-puzzle.transcript
  stories/dungeo/walkthroughs/wt-03-maze-cyclops-goal.transcript
  stories/dungeo/walkthroughs/wt-04-dam-reservoir.transcript
  stories/dungeo/walkthroughs/wt-05-egyptian-room.transcript
  stories/dungeo/walkthroughs/wt-06-exorcism.transcript
  stories/dungeo/walkthroughs/wt-07-river-rainbow.transcript
Due: eslint --fix, prettier --write

fix: Use ButtonTrait for dam buttons to persist through checkpoints
  docs/context/.work-log.txt
  docs/context/session-20260125-2257-main.md
  docs/context/session-20260125-2326-main.md
  stories/dungeo/src/actions/press-button/press-button-action.ts
  stories/dungeo/src/regions/dam.ts
Due: eslint --fix, prettier --write

feat: Migrate all treasures to TreasureTrait for checkpoint persistence
  docs/context/session-20260126-0615-main.md
  docs/work/platform/as-any.md
  stories/dungeo/src/actions/gdt/commands/de.ts
  stories/dungeo/src/actions/send/send-action.ts
  stories/dungeo/src/actions/turn-switch/turn-switch-action.ts
  stories/dungeo/src/actions/wind/wind-action.ts
  stories/dungeo/src/handlers/coal-machine-handler.ts
  stories/dungeo/src/npcs/thief/thief-behavior.ts
  stories/dungeo/src/npcs/thief/thief-entity.ts
  stories/dungeo/src/npcs/thief/thief-helpers.ts
  stories/dungeo/src/objects/thiefs-canvas-objects.ts
  stories/dungeo/src/regions/bank-of-zork.ts
  stories/dungeo/src/regions/coal-mine.ts
  stories/dungeo/src/regions/dam.ts
  stories/dungeo/src/regions/forest.ts
  stories/dungeo/src/regions/frigid-river.ts
  stories/dungeo/src/regions/maze.ts
  stories/dungeo/src/regions/round-room.ts
  stories/dungeo/src/regions/temple.ts
  stories/dungeo/src/regions/underground.ts
  stories/dungeo/src/regions/volcano.ts
  stories/dungeo/src/regions/well-room.ts
  stories/dungeo/src/scheduler/bank-alarm-daemon.ts
  stories/dungeo/src/traits/index.ts
  stories/dungeo/src/traits/treasure-trait.ts
  stories/dungeo/walkthroughs/wt-06-exorcism.transcript
  stories/dungeo/walkthroughs/wt-07-river-rainbow.transcript
Due: eslint --fix, prettier --write

feat: Add InflatableTrait, ADR-117 for eliminating handlers
  docs/architecture/adrs/adr-117-event-handlers-vs-capability-behaviors.md
  docs/context/.work-log.txt
  docs/context/session-20260126-1529-main.md
  docs/work/dungeo/handler-to-behavior-migration.md
  docs/work/platform/handler-options.md
  stories/dungeo/src/actions/deflate/deflate-action.ts
  stories/dungeo/src/actions/inflate/inflate-action.ts
  stories/dungeo/src/handlers/balloon-handler.ts
  stories/dungeo/src/handlers/boat-puncture-handler.ts
  stories/dungeo/src/regions/dam.ts
  stories/dungeo/src/regions/volcano.ts
  stories/dungeo/src/traits/index.ts
  stories/dungeo/src/traits/inflatable-trait.ts
  stories/dungeo/src/version.ts
Due: eslint --fix, prettier --write

feat: Add BurnableTrait and RiverNavigationTrait for type-safe state
  docs/context/session-20260126-1534-main.md
  docs/context/session-20260126-1633-main.md
  stories/dungeo/src/actions/burn/burn-action.ts
  stories/dungeo/src/actions/launch/launch-action.ts
  stories/dungeo/src/actions/light/light-action.ts
  stories/dungeo/src/handlers/balloon-handler.ts
  stories/dungeo/src/handlers/river-handler.ts
  stories/dungeo/src/objects/thiefs-canvas-objects.ts
  stories/dungeo/src/regions/frigid-river.ts
  stories/dungeo/src/regions/temple.ts
  stories/dungeo/src/scheduler/balloon-daemon.ts
  stories/dungeo/src/scheduler/candle-fuse.ts
  stories/dungeo/src/scheduler/incense-fuse.ts
  stories/dungeo/src/traits/burnable-trait.ts
  stories/dungeo/src/traits/index.ts
  stories/dungeo/src/traits/river-navigation-trait.ts
Due: eslint --fix, prettier --write

feat: Add BalloonStateTrait and TinyRoomDoorTrait for checkpoint persistence
  docs/context/session-20260126-1638-main.md
  docs/context/session-20260126-1813-main.md
  stories/dungeo/src/actions/pull-mat/pull-mat-action.ts
  stories/dungeo/src/actions/push-key/push-key-action.ts
  stories/dungeo/src/actions/put-under/put-under-action.ts
  stories/dungeo/src/actions/tie/tie-action.ts
  stories/dungeo/src/actions/untie/untie-action.ts
  stories/dungeo/src/handlers/balloon-handler.ts
  stories/dungeo/src/handlers/tiny-room-handler.ts
  stories/dungeo/src/regions/underground.ts
  stories/dungeo/src/regions/volcano.ts
  stories/dungeo/src/regions/white-house.ts
  stories/dungeo/src/scheduler/balloon-daemon.ts
  stories/dungeo/src/traits/balloon-state-trait.ts
  stories/dungeo/src/traits/index.ts
  stories/dungeo/src/traits/tiny-room-door-trait.ts
  stories/dungeo/src/traits/tiny-room-key-trait.ts
  stories/dungeo/src/traits/under-door-trait.ts
  stories/dungeo/src/version.ts
Due: eslint --fix, prettier --write

feat: Add 8 new traits for checkpoint persistence, remove dead code
  docs/context/session-20260126-1824-main.md
  stories/dungeo/src/actions/answer/answer-action.ts
  stories/dungeo/src/actions/burn/burn-action.ts
  stories/dungeo/src/actions/dig/dig-action.ts
  stories/dungeo/src/actions/fill/fill-action.ts
  stories/dungeo/src/actions/pour/pour-action.ts
  stories/dungeo/src/actions/say/say-action.ts
  stories/dungeo/src/actions/tie/tie-action.ts
  stories/dungeo/src/actions/turn-switch/turn-switch-action.ts
  stories/dungeo/src/handlers/dam-handler.ts
  stories/dungeo/src/handlers/exorcism-handler.ts
  stories/dungeo/src/handlers/ghost-ritual-handler.ts
  stories/dungeo/src/handlers/glacier-handler.ts
  stories/dungeo/src/handlers/round-room-handler.ts
  stories/dungeo/src/npcs/robot/robot-entity.ts
  stories/dungeo/src/regions/coal-mine.ts
  stories/dungeo/src/regions/endgame.ts
  stories/dungeo/src/regions/frigid-river.ts
  stories/dungeo/src/regions/round-room.ts
  stories/dungeo/src/regions/royal-puzzle.ts
  stories/dungeo/src/regions/temple.ts
  stories/dungeo/src/regions/underground.ts
  stories/dungeo/src/regions/volcano.ts
  stories/dungeo/src/regions/well-room.ts
  stories/dungeo/src/scheduler/incense-fuse.ts
  stories/dungeo/src/traits/basin-room-trait.ts
  stories/dungeo/src/traits/bucket-trait.ts
  stories/dungeo/src/traits/hades-entry-trait.ts
  stories/dungeo/src/traits/index.ts
  stories/dungeo/src/traits/machine-state-trait.ts
  stories/dungeo/src/traits/riddle-room-trait.ts
  stories/dungeo/src/traits/rope-state-trait.ts
  stories/dungeo/src/traits/round-room-trait.ts
  stories/dungeo/src/traits/royal-puzzle-trait.ts
  stories/dungeo/src/version.ts
Due: eslint --fix, prettier --write

docs: Add ADR-118 stdlib action interceptors, ADR-117 migration plan
  docs/architecture/adrs/adr-118-stdlib-action-interceptors.md
  docs/context/.work-log.txt
  docs/context/session-20260126-1954-main.md
  docs/work/dungeo/adr-117-migration-plan.md
Due: prettier --write

feat: Add ADR-118 action interceptors, migrate boat puncture handler
  docs/context/session-20260126-2100-main.md
  packages/stdlib/src/actions/standard/entering/entering.ts
  packages/world-model/src/capabilities/action-interceptor.ts
  packages/world-model/src/capabilities/index.ts
  packages/world-model/src/capabilities/interceptor-helpers.ts
  packages/world-model/src/capabilities/interceptor-registry.ts
  packages/world-model/src/traits/trait.ts
  stories/dungeo/src/index.ts
  stories/dungeo/src/interceptors/inflatable-entering-interceptor.ts
  stories/dungeo/src/traits/index.ts
  stories/dungeo/src/traits/inflatable-trait.ts
Due: eslint --fix, prettier --write

feat: Add interceptor support to THROWING/GOING actions, migrate glacier handler
  docs/context/session-20260126-2229-main.md
  packages/stdlib/src/actions/standard/going/going.ts
  packages/stdlib/src/actions/standard/throwing/throwing.ts
  stories/dungeo/src/handlers/boat-puncture-handler.ts
  stories/dungeo/src/handlers/glacier-handler.ts
  stories/dungeo/src/handlers/index.ts
  stories/dungeo/src/index.ts
  stories/dungeo/src/interceptors/glacier-throwing-interceptor.ts
  stories/dungeo/src/interceptors/inflatable-entering-interceptor.ts
  stories/dungeo/src/messages/object-messages.ts
  stories/dungeo/src/traits/glacier-trait.ts
  stories/dungeo/src/traits/index.ts
  stories/dungeo/src/version.ts
Due: eslint --fix, prettier --write

feat: Add interceptor support to PUTTING action, migrate balloon handler
  docs/context/session-20260126-2302-main.md
  packages/stdlib/src/actions/standard/putting/putting-types.ts
  packages/stdlib/src/actions/standard/putting/putting.ts
  stories/dungeo/src/index.ts
  stories/dungeo/src/interceptors/receptacle-putting-interceptor.ts
  stories/dungeo/src/orchestration/event-handlers.ts
  stories/dungeo/src/regions/volcano.ts
  stories/dungeo/src/scheduler/index.ts
  stories/dungeo/src/traits/balloon-receptacle-trait.ts
  stories/dungeo/src/traits/index.ts
Due: eslint --fix, prettier --write

feat: Add PUSHING interceptor support, complete handler migration analysis
  docs/context/.work-log.txt
  docs/context/session-20260126-2304-main.md
  docs/work/dungeo/handler-to-behavior-migration.md
  packages/stdlib/src/actions/standard/pushing/pushing-types.ts
  packages/stdlib/src/actions/standard/pushing/pushing.ts
  stories/dungeo/src/version.ts
Due: eslint --fix, prettier --write

chore: Remove dead registerBalloonPutHandler code and cleanup comments
  stories/dungeo/src/handlers/balloon-handler.ts
  stories/dungeo/src/index.ts
  stories/dungeo/src/orchestration/event-handlers.ts
  stories/dungeo/src/scheduler/index.ts
  stories/dungeo/src/version.ts
Due: eslint --fix, prettier --write

docs: Add handler mutation audit, 5 handlers still need migration
  docs/context/.work-log.txt
  docs/context/session-20260125-2331-main.md
  docs/context/session-20260126-0006-main.md
  docs/context/session-20260126-0009-main.md
  docs/context/session-20260126-1432-main.md
  docs/context/session-20260126-1821-main.md
  docs/context/session-20260126-1920-main.md
  docs/context/session-20260126-1959-main.md
  docs/context/session-20260126-2106-main.md
  docs/context/session-20260126-2232-main.md
  docs/context/session-20260126-2359-main.md
  docs/context/session-20260127-0016-main.md
  docs/context/session-20260127-0032-main.md
  docs/work/dungeo/handler-assessment.md
Due: prettier --write
