Repository ChicagoDave/sharpee: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md}": [
    "prettier --write"
  ]
}

docs(book): write chapter 16 (Custom Traits & Behaviors)
  docs/book/parts/part-4/16-custom-traits-and-behaviors.md
Due: prettier --write

docs(book): write chapter 17 (Extending the Grammar)
  docs/book/parts/part-5/17-extending-the-grammar.md
Due: prettier --write

docs(book): write chapter 18 (The Language Layer — Messages & Message IDs)
  docs/book/parts/part-5/18-the-language-layer.md
Due: prettier --write

docs(book): write chapter 19 (The Formatter Chain)
  docs/book/parts/part-5/19-the-formatter-chain.md
Due: prettier --write

docs(book): write chapter 21 (Scenes) — completes the Volume I–VI spine
  docs/book/parts/part-6/21-scenes.md
Due: prettier --write

docs: purge stale "text service" — rendering is the prose pipeline + channel-IO
  docs/architecture/adrs/adr-029-text-service-architecture.md
  docs/architecture/adrs/adr-096-text-service.md
  docs/architecture/adrs/adr-174-decoration-and-prose-pipeline.md
  docs/book/parts/part-1/03-the-play-loop.md
  docs/book/parts/part-5/18-the-language-layer.md
  docs/reference/core-concepts.md
Due: prettier --write

docs(spec): sweep remaining stale "text service" references
  docs/development/setup/consolidated-guide.md
  docs/guides/event-handlers.md
  docs/guides/project-structure.md
  docs/platform/README.md
  docs/spec/01-data-model.md
  docs/spec/02-world-model.md
  docs/spec/05-engine.md
  docs/spec/06-stdlib.md
  docs/spec/07-language-layer.md
  docs/spec/08-text-service.md
  docs/spec/glossary.md
  docs/spec/index.md
Due: prettier --write

docs(book): start Volume VII (Presentation) — scaffold part-7 + chapter 24 (Channels)
  docs/book/book.yaml
  docs/book/parts/part-7/24-channels.md
  docs/book/parts/part-7/25-the-web-client.md
  docs/book/parts/part-7/26-decoration-and-theming.md
  docs/book/parts/part-7/27-media-and-audio.md
  docs/context/session-20260620-2340-main.md
Due: prettier --write

docs(book): complete Volume VII (Presentation) — chapters 25–27
  docs/book/parts/part-7/25-the-web-client.md
  docs/book/parts/part-7/26-decoration-and-theming.md
  docs/book/parts/part-7/27-media-and-audio.md
  docs/context/archive/session-20260620-1843-main.md
  docs/context/session-20260621-1332-main.md
  docs/work/book/plan-20260620-sharpee-author-book.md
Due: prettier --write

docs(book): complete Volume VIII (Shipping) — chapters 28–32
  docs/book/book.yaml
  docs/book/parts/part-8/28-the-multi-file-story.md
  docs/book/parts/part-8/29-transcript-testing-and-walkthroughs.md
  docs/book/parts/part-8/30-saving-and-restoring.md
  docs/book/parts/part-8/31-building-and-publishing.md
  docs/book/parts/part-8/32-multi-user-with-zifmia.md
  docs/context/session-20260621-1332-main.md
  docs/work/book/plan-20260620-sharpee-author-book.md
Due: prettier --write

feat(familyzoo): add v18 'Sights & Sounds' presentation tutorial
  docs/work/book/plan-20260621-familyzoo-v18.md
  pnpm-lock.yaml
  tutorials/familyzoo/browser/familyzoo.css
  tutorials/familyzoo/package.json
  tutorials/familyzoo/src/browser-entry.ts
  tutorials/familyzoo/src/index.ts
  tutorials/familyzoo/src/v18/characters.ts
  tutorials/familyzoo/src/v18/events.ts
  tutorials/familyzoo/src/v18/index.ts
  tutorials/familyzoo/src/v18/language.ts
  tutorials/familyzoo/src/v18/presentation.ts
  tutorials/familyzoo/src/v18/scoring.ts
  tutorials/familyzoo/src/v18/zoo-items.ts
  tutorials/familyzoo/src/v18/zoo-map.ts
Due: eslint --fix, prettier --write

docs(book): retrofit Volume VII against familyzoo v18; correct ch27 to media.*
  docs/book/parts/part-7/24-channels.md
  docs/book/parts/part-7/26-decoration-and-theming.md
  docs/book/parts/part-7/27-media-and-audio.md
  docs/context/session-20260621-1332-main.md
  docs/work/book/plan-20260620-sharpee-author-book.md
  docs/work/book/plan-20260621-familyzoo-v18.md
Due: prettier --write

docs(book): add appendices A–D (architecture map + generated action/trait/message catalogs)
  docs/book/backmatter/appendix-a-architecture-map.md
  docs/book/backmatter/appendix-b-action-catalog.md
  docs/book/backmatter/appendix-c-trait-catalog.md
  docs/book/backmatter/appendix-d-message-reference.md
  docs/book/book.yaml
  docs/context/session-20260621-1332-main.md
  docs/work/book/plan-20260620-sharpee-author-book.md
Due: prettier --write

docs(book): archive completed familyzoo v18 plan
  docs/work/book/archive/plan-20260621-familyzoo-v18.md
Due: prettier --write

docs(book): add 'web' build target (chunked multi-page site → docs/book/web)
  .gitignore
  docs/work/book/plan-20260620-sharpee-author-book.md
  scripts/build-book.sh
Due: prettier --write

fix(book): copy book.css into web/ so chunked pages (cover, index) are styled
  scripts/build-book.sh
Due: none

feat(book): add left sidebar + bottom prev/next nav to web build
  scripts/book-web-nav.cjs
  scripts/build-book.sh
Due: none

fix(book): make web sidebar volume headings toggle, not navigate
  scripts/book-web-nav.cjs
Due: none

fix(book): strip per-chunk title page so chapters open on their own content
  scripts/book-web-nav.cjs
Due: none

fix(book): restore volume divider (title + epigraph) via 'Overview' sidebar item
  scripts/book-web-nav.cjs
Due: none

docs(book): add Appendix E — Grammar Reference (118 core rules)
  docs/book/backmatter/appendix-e-grammar-reference.md
  docs/book/book.yaml
  docs/work/book/plan-20260620-sharpee-author-book.md
Due: prettier --write

docs(book): add reader self-selection table to How to Read This Book
  docs/book/frontmatter/01-how-to-read.md
Due: prettier --write

docs(book): file devkit CLI breakage found in book QA pass
  docs/book/testing/2026-06-22-devkit-cli-broken-requires.md
  docs/context/session-20260622-0133-main.md
Due: prettier --write

build(publish): preserve workspace import specifiers for npm; bump all packages to 1.0.8
  packages/bootstrap/package.json
  packages/channel-service/package.json
  packages/character/package.json
  packages/core/package.json
  packages/devkit/package.json
  packages/engine/package.json
  packages/event-processor/package.json
  packages/extensions/basic-combat/package.json
  packages/extensions/testing/package.json
  packages/helpers/package.json
  packages/ide-protocol/package.json
  packages/if-domain/package.json
  packages/if-services/package.json
  packages/lang-en-us/package.json
  packages/media/package.json
  packages/parser-en-us/package.json
  packages/platform-browser/package.json
  packages/plugin-npc/package.json
  packages/plugin-scheduler/package.json
  packages/plugin-state-machine/package.json
  packages/plugins/package.json
  packages/queries/package.json
  packages/sharpee/package.json
  packages/stdlib/package.json
  packages/story-runtime-baseline/package.json
  packages/text-blocks/package.json
  packages/transcript-tester/package.json
  packages/world-model/package.json
  stories/dungeo/package.json
  ts-forge.config.json
  tutorials/familyzoo/package.json
Due: prettier --write

docs(book): add Introduction, reorder front matter, session summary
  docs/book/book.yaml
  docs/book/frontmatter/01-introduction.md
  docs/book/frontmatter/02-how-to-read.md
  docs/book/gpt-review/review-1.md
  docs/context/archive/session-20260620-1530-main.md
  docs/context/archive/session-20260620-2033-main.md
  docs/context/session-20260621-1933-main.md
  docs/work/book/context/work-summary-20260621-book-volumes-vii-viii-web-build.md
Due: prettier --write

docs(book): file Ch4 missing scenery bug — examine signs fails for readers
  docs/book/testing/2026-06-22-ch4-missing-scenery-examine-signs.md
Due: prettier --write

build(familyzoo): decouple the tutorial into a standalone npm project
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tutorials/familyzoo/package.json
  tutorials/familyzoo/src/browser-entry.ts
  tutorials/familyzoo/src/index.ts
  tutorials/familyzoo/tsconfig.json
Due: eslint --fix, prettier --write

fix(devkit): resolve stories by real pkg name; route decoupled tutorials to the standalone build
  packages/devkit/src/cli.ts
  packages/devkit/src/commands/build.test.ts
  packages/devkit/src/commands/build.ts
  packages/devkit/src/repo.ts
Due: eslint --fix, prettier --write

chore(devkit): bump to 1.0.9 for republish
  packages/devkit/package.json
Due: prettier --write

build(tsf): remove decoupled familyzoo from the npm publish build
  ts-forge.config.json
  tutorials/familyzoo/ts-forge.json
Due: prettier --write

docs(context): session summary — book audit, tutorial decoupling, devkit 1.0.9
  docs/context/session-20260622-0200-main.md
Due: prettier --write

fix(book): annotate the story export as ': Story' so the browser build compiles
  docs/book/parts/part-1/02-your-first-room.md
  tutorials/familyzoo/src/ch02-first-room.ts
  tutorials/familyzoo/src/ch04-navigation.ts
  tutorials/familyzoo/src/ch05-scenery-items.ts
  tutorials/familyzoo/src/ch06-containers.ts
  tutorials/familyzoo/src/ch07-doors-keys.ts
  tutorials/familyzoo/src/ch08-light-dark.ts
  tutorials/familyzoo/src/ch12-readables.ts
  tutorials/familyzoo/src/ch13-event-handlers.ts
  tutorials/familyzoo/src/ch14-custom-actions.ts
  tutorials/familyzoo/src/ch15-capability-dispatch.ts
  tutorials/familyzoo/src/ch20-npcs.ts
  tutorials/familyzoo/src/ch22-timed-events.ts
  tutorials/familyzoo/src/ch23-scoring.ts
  tutorials/familyzoo/src/ch24-27-presentation/index.ts
  tutorials/familyzoo/src/ch28-multi-file/index.ts
Due: eslint --fix, prettier --write

docs(book): add QA pass ch1-20 issues report
  docs/book/testing/2026-06-22-book-qa-pass-ch1-20-issues.md
  docs/context/archive/session-20260620-2215-main.md
Due: prettier --write

fix(devkit): harden generated browser-entry against stories that omit the Story hooks; bump 1.0.10
  packages/devkit/package.json
  packages/devkit/templates/browser/browser-entry.ts.template
Due: prettier --write

docs(context): session addendum — ch2 ':Story' fix + browser-entry hardening (1.0.10)
  docs/context/session-20260622-0200-main.md
Due: prettier --write

fix(book): repair four QA-found Try-it/import issues (Ch.12/14/16/20)
  docs/book/parts/part-3/12-readable-objects-and-switchable-devices.md
  docs/book/parts/part-4/14-custom-actions.md
  docs/book/parts/part-4/16-custom-traits-and-behaviors.md
  docs/book/parts/part-6/20-non-player-characters.md
Due: prettier --write

docs(book): add testing execution log and work summary
  docs/book/testing/EXECUTION-LOG.md
  docs/book/testing/WORK-SUMMARY-2026-06-22.md
Due: prettier --write
