Repository ChicagoDave/sharpee: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md}": [
    "prettier --write"
  ]
}

chore(stdlib): remove dead inserting-semantic.ts (Phase A2)
  packages/stdlib/src/actions/standard/inserting/inserting-semantic.ts
Due: eslint --fix, prettier --write

docs(adr-158): annotate throwing fragile_breaks as documented exception (Phase A3)
  packages/lang-en-us/src/actions/throwing.ts
Due: eslint --fix, prettier --write

docs(adr-158): annotate inventory item_list as documented exception (Phase B1)
  packages/lang-en-us/src/actions/inventory.ts
Due: eslint --fix, prettier --write

feat(lang-articles): ADR-158 migration — waiting action (Phase B2)
  packages/lang-en-us/src/actions/waiting.ts
Due: eslint --fix, prettier --write

feat(lang-articles): ADR-158 migration — telling templates (Phase B3)
  packages/lang-en-us/src/actions/telling.ts
Due: eslint --fix, prettier --write

feat(lang-articles): ADR-158 migration — asking templates (Phase B4)
  packages/lang-en-us/src/actions/asking.ts
Due: eslint --fix, prettier --write

chore(lang): remove dead using.ts (Phase B5)
  packages/lang-en-us/src/actions/index.ts
  packages/lang-en-us/src/actions/using.ts
Due: eslint --fix, prettier --write

feat(lang-articles): ADR-158 migration — turning templates (Phase B6)
  packages/lang-en-us/src/actions/turning.ts
Due: eslint --fix, prettier --write

feat(lang-articles): ADR-158 migration — lowering + capability dispatch (Phase B7)
  packages/lang-en-us/src/actions/lowering.ts
  packages/stdlib/src/actions/capability-dispatch.ts
Due: eslint --fix, prettier --write

feat(lang-articles): ADR-158 migration — raising templates (Phase B8)
  packages/lang-en-us/src/actions/raising.ts
Due: eslint --fix, prettier --write

feat(lang-articles): ADR-158 migration — looking action (Phase B9)
  packages/lang-en-us/src/actions/looking.ts
  packages/stdlib/src/actions/standard/looking/looking-data.ts
  packages/stdlib/src/actions/standard/looking/looking.ts
Due: eslint --fix, prettier --write

docs(adr-158): outcome update — Phase A+B follow-up rollout (Phase D3)
  docs/architecture/adrs/adr-158-entity-info-in-message-params.md
Due: prettier --write

feat(lang-articles): ADR-158 migration — CombatService + combat.* templates (Phase C)
  packages/extensions/basic-combat/src/combat-service.ts
  packages/lang-en-us/src/actions/attacking.ts
  packages/stdlib/src/actions/standard/attacking/attacking.ts
Due: eslint --fix, prettier --write

docs(lang-articles): close out ADR-158 + add lang-articles/README
  docs/architecture/adrs/adr-158-entity-info-in-message-params.md
  docs/work/lang-articles/README.md
Due: prettier --write

docs(context): close out session summary — follow-up rollout complete
  docs/context/archive/session-20260424-0124-main.md
  docs/context/archive/session-20260424-0258-main.md
  docs/context/session-20260424-2042-main.md
  docs/context/session-20260424-2329-lang-articles-migration.md
Due: prettier --write

docs(adr-159): persistent user identity for multi-user rooms
  docs/architecture/adrs/adr-159-persistent-user-identity.md
Due: prettier --write

docs(adr-160): engine-state continuity + session summary
  docs/architecture/adrs/adr-160-engine-state-continuity.md
  docs/context/archive/session-20260424-1235-main.md
  docs/context/session-20260425-multiuser-discovery.md
Due: prettier --write

docs(adr-161): supersede ADR-159 with (Id, Handle, passcode) identity model
  docs/architecture/adrs/adr-161-identity-id-handle-passcode.md
  docs/context/session-20260425-1708-main.md
  docs/work/multiuser/plan-2026-04-26-id-handle-passcode.md
  docs/work/multiuser/requirements-identity-2026-04-26.md
Due: prettier --write

feat(adr-161): Phase A — server schema/repo/WS/route rename to (id, handle, passcode)
  docs/context/archive/session-20260424-1839-main.md
  docs/context/session-20260425-1708-main.md
  tools/server/migrations/0001_initial_schema.sql
  tools/server/src/http/app.ts
  tools/server/src/http/middleware/rate-limit.ts
  tools/server/src/http/routes/create-identity.ts
  tools/server/src/http/routes/create-room.ts
  tools/server/src/http/routes/join-room.ts
  tools/server/src/http/routes/reclaim-identity.ts
  tools/server/src/identity/eff-large-wordlist.txt
  tools/server/src/identity/id-generator.ts
  tools/server/src/identity/passcode-generator.ts
  tools/server/src/repositories/identities.ts
  tools/server/src/repositories/participants.ts
  tools/server/src/repositories/types.ts
  tools/server/src/wire/browser-server.ts
  tools/server/src/ws/handlers/hello.ts
  tools/server/src/ws/room-snapshot.ts
  tools/server/tests/auth/hash-service.test.ts
  tools/server/tests/helpers/test-app.ts
  tools/server/tests/helpers/test-server.ts
  tools/server/tests/http/create-identity.test.ts
  tools/server/tests/http/identity-rate-limit.test.ts
  tools/server/tests/http/list-rooms.test.ts
  tools/server/tests/http/rate-limit.test.ts
  tools/server/tests/http/reclaim-identity.test.ts
  tools/server/tests/identity/id-generator.test.ts
  tools/server/tests/identity/passcode-generator.test.ts
  tools/server/tests/repositories/identities.test.ts
  tools/server/tests/repositories/participants.test.ts
  tools/server/tests/repositories/rooms.test.ts
  tools/server/tests/rooms/succession.test.ts
  tools/server/tests/ws/afk-release.test.ts
  tools/server/tests/ws/hello-identity.test.ts
  tools/server/tests/ws/hello.test.ts
  tools/server/tests/ws/ph-grace-wiring.test.ts
  tools/server/tests/ws/presence.test.ts
  tools/server/tests/ws/save-restore.test.ts
  tools/server/tests/ws/succession-e2e.test.ts
Due: eslint --fix, prettier --write

feat(adr-161): Phase B — auth-uniform HTTP room routes (handle, passcode)
  docs/context/archive/session-20260424-2158-lang-articles-migration.md
  docs/context/session-20260426-1459-main.md
  tools/server/client/src/types/api.ts
  tools/server/src/http/routes/create-room.ts
  tools/server/src/http/routes/join-room.ts
  tools/server/tests/helpers/test-app.ts
  tools/server/tests/helpers/test-server.ts
  tools/server/tests/http/create-room.test.ts
  tools/server/tests/http/join-room.test.ts
  tools/server/tests/http/list-rooms.test.ts
  tools/server/tests/http/rename-room.test.ts
  tools/server/tests/http/resolve-code.test.ts
  tools/server/tests/sandbox/turn-execution.test.ts
  tools/server/tests/ws/afk-release.test.ts
  tools/server/tests/ws/hello-identity.test.ts
  tools/server/tests/ws/hello.test.ts
  tools/server/tests/ws/ph-grace-wiring.test.ts
  tools/server/tests/ws/presence.test.ts
  tools/server/tests/ws/save-restore.test.ts
  tools/server/tests/ws/succession-e2e.test.ts
Due: eslint --fix, prettier --write

feat(adr-161): Phase C — identity upload + erase routes (4007 erase-disconnect)
  docs/context/archive/session-20260424-2329-lang-articles-migration.md
  docs/context/session-20260426-1739-main.md
  docs/work/multiuser/plan-2026-04-26-id-handle-passcode.md
  tools/server/migrations/0001_initial_schema.sql
  tools/server/src/http/app.ts
  tools/server/src/http/routes/erase-identity.ts
  tools/server/src/http/routes/upload-identity.ts
  tools/server/src/ws/connection-manager.ts
  tools/server/src/ws/handlers/hello.ts
  tools/server/tests/helpers/test-app.ts
  tools/server/tests/helpers/test-server.ts
  tools/server/tests/http/erase-identity.test.ts
  tools/server/tests/http/identity-rate-limit.test.ts
  tools/server/tests/http/upload-identity.test.ts
  tools/server/tests/ws/connection-manager.test.ts
  tools/server/tests/ws/erase-disconnect.test.ts
Due: eslint --fix, prettier --write

feat(adr-161): Phase D — client identity onboarding (banner, modals, hello frame)
  docs/context/archive/session-20260425-multiuser-discovery.md
  docs/context/session-20260426-1834-phase-d.md
  tools/server/client/src/App.test.tsx
  tools/server/client/src/App.tsx
  tools/server/client/src/api/http.ts
  tools/server/client/src/components/ActiveRoomsList.tsx
  tools/server/client/src/components/CreateRoomModal.test.tsx
  tools/server/client/src/components/CreateRoomModal.tsx
  tools/server/client/src/components/PasscodeModal.test.tsx
  tools/server/client/src/components/PasscodeModal.tsx
  tools/server/client/src/hooks/useWebSocket.test.ts
  tools/server/client/src/hooks/useWebSocket.ts
  tools/server/client/src/identity/IdentitySetupPanel.test.tsx
  tools/server/client/src/identity/IdentitySetupPanel.tsx
  tools/server/client/src/identity/csv.test.ts
  tools/server/client/src/identity/csv.ts
  tools/server/client/src/identity/identity-store.test.ts
  tools/server/client/src/identity/identity-store.ts
  tools/server/client/src/pages/Landing.test.tsx
  tools/server/client/src/pages/Landing.tsx
  tools/server/client/src/pages/Room.tsx
  tools/server/client/src/types/api.ts
Due: eslint --fix, prettier --write

docs(adr-161): mark all phases A–F DONE in plan doc
  docs/work/multiuser/plan-2026-04-26-id-handle-passcode.md
Due: prettier --write

fix(multiuser): repair docker startup, save wiring, dungeo bundle resolve
  docs/architecture/adrs/adr-162-world-model-replication.md
  docs/context/archive/session-20260426-1739-main.md
  docs/context/session-20260427-0154-main.md
  packages/media/package.json
  packages/media/tsconfig.esm.json
  packages/sharpee/docs/genai-api/index.md
  packages/sharpee/docs/genai-api/lang.md
  pnpm-lock.yaml
  stories/dungeo/src/version.ts
  tools/server/Dockerfile
  tools/server/package.json
  tools/server/src/index.ts
Due: eslint --fix, prettier --write

docs(adr-162): accept world-model replication; address review gaps; add impl plan
  docs/architecture/adrs/adr-162-world-model-replication.md
  docs/work/multiuser/plan-2026-04-27-adr-162-world-replication.md
Due: prettier --write

feat(adr-162): Phases A–D — world-model replication wire types, sandbox snapshots, server mirror, client hydration
  docs/context/archive/session-20260425-1708-main.md
  docs/context/session-20260426-2041-main.md
  docs/work/multiuser/plan-2026-04-27-adr-162-world-replication.md
  tools/server/client/package.json
  tools/server/client/src/hooks/useWebSocket.test.ts
  tools/server/client/src/hooks/useWorld.test.tsx
  tools/server/client/src/hooks/useWorld.tsx
  tools/server/client/src/pages/Room.test.tsx
  tools/server/client/src/pages/Room.tsx
  tools/server/client/src/state/roomReducer.test.ts
  tools/server/client/src/state/roomReducer.ts
  tools/server/client/src/state/types.ts
  tools/server/client/src/types/wire.ts
  tools/server/src/rooms/room-manager.ts
  tools/server/src/sandbox/deno-entry.ts
  tools/server/src/saves/save-service.ts
  tools/server/src/wire/browser-server.ts
  tools/server/src/wire/server-sandbox.ts
  tools/server/src/wire/world-mirror.ts
  tools/server/src/ws/handlers/hello.ts
  tools/server/src/ws/handlers/restore.ts
  tools/server/src/ws/room-snapshot.ts
  tools/server/tests/helpers/test-server.ts
  tools/server/tests/rooms/room-manager-mirror.test.ts
  tools/server/tests/sandbox/deno-engine-integration.test.ts
  tools/server/tests/ws/restore.test.ts
  tools/server/tests/ws/welcome-world.test.ts
Due: eslint --fix, prettier --write

feat(adr-162): Phases E + F — StatusLine renderer, type-rejection, recovery, bandwidth baseline
  docs/context/archive/session-20260426-1459-main.md
  docs/context/session-20260427-1912-main.md
  docs/work/multiuser/adr-162-bandwidth-baseline.md
  docs/work/multiuser/plan-2026-04-27-adr-162-world-replication.md
  tools/server/client/src/components/StatusLine.test.tsx
  tools/server/client/src/components/StatusLine.tsx
  tools/server/client/src/pages/Room.test.tsx
  tools/server/client/src/pages/Room.tsx
  tools/server/client/src/state/roomReducer.test.ts
  tools/server/src/wire/world-mirror.types.test-d.ts
  tools/server/tests/rooms/room-manager-mirror.test.ts
  tools/server/tests/sandbox/bandwidth-baseline.test.ts
Due: eslint --fix, prettier --write

docs: capture live multiuser screenshot showing ADR-162 StatusLine in dungeo
  tools/server/mu-shot.png
Due: none

build(multiuser): repair Docker deploy after ADR-162 Phase D
  .dockerignore
  packages/world-model/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tools/server/Dockerfile
  tools/server/client/package-lock.json
Due: prettier --write

feat(adr-162): StatusLine reads ScoreLedger + classic layout + sandbox turn counter
  packages/sharpee/docs/genai-api/index.md
  stories/dungeo/src/version.ts
  tools/server/client/src/components/StatusLine.test.tsx
  tools/server/client/src/components/StatusLine.tsx
  tools/server/client/src/pages/Room.test.tsx
  tools/server/src/sandbox/deno-entry.ts
  tools/server/src/wire/world-mirror.ts
  tools/server/src/wire/world-mirror.types.test-d.ts
Due: eslint --fix, prettier --write

docs(save-restore): briefing for platform-wide save/restore bug + session summary
  docs/context/session-20260428-0057-main.md
  docs/work/save-restore/2026-04-28-platform-save-restore-bug.md
Due: prettier --write

fix(save-restore): platform-wide save/restore — full world state preserved
  docs/context/archive/session-20260426-1834-phase-d.md
  docs/context/archive/session-20260426-1917-main.md
  docs/context/session-20260428-0455-fix-save-restore-roundtrip.md
  packages/core/src/types/save-data.ts
  packages/engine/package.json
  packages/engine/src/game-engine.ts
  packages/engine/src/save-restore-service.ts
  packages/engine/tests/game-engine.test.ts
  packages/engine/tests/platform-operations.test.ts
  packages/engine/tests/save-restore-roundtrip.test.ts
  packages/platform-browser/src/BrowserClient.ts
  packages/platform-browser/src/index.ts
  packages/platform-browser/src/managers/SaveManager.ts
  packages/platform-browser/src/types.ts
  packages/platforms/browser-en-us/src/version.ts
  packages/sharpee/docs/genai-api/core.md
  packages/sharpee/docs/genai-api/engine.md
  packages/sharpee/docs/genai-api/index.md
  packages/sharpee/docs/genai-api/lang.md
  pnpm-lock.yaml
  stories/dungeo/src/version.ts
  stories/thealderman/docs/conversation.md
  website/public/web/dungeo/game.js
Due: eslint --fix, prettier --write

chore: bump versions to 0.9.113 (dungeo 1.0.0); paper-theme input bg
  docs/context/session-20260428-0455-fix-save-restore-roundtrip.md
  packages/bridge/package.json
  packages/character/package.json
  packages/core/package.json
  packages/engine/package.json
  packages/event-processor/package.json
  packages/helpers/package.json
  packages/if-domain/package.json
  packages/if-services/package.json
  packages/lang-en-us/package.json
  packages/map-editor/package.json
  packages/media/package.json
  packages/parser-en-us/package.json
  packages/platform-browser/package.json
  packages/platforms/browser-en-us/package.json
  packages/platforms/browser-en-us/src/version.ts
  packages/platforms/cli-en-us/package.json
  packages/platforms/test/package.json
  packages/plugin-npc/package.json
  packages/plugin-scheduler/package.json
  packages/plugin-state-machine/package.json
  packages/plugins/package.json
  packages/queries/package.json
  packages/runtime/package.json
  packages/sharpee/docs/genai-api/index.md
  packages/sharpee/package.json
  packages/stdlib/package.json
  packages/text-blocks/package.json
  packages/text-service/package.json
  packages/transcript-tester/package.json
  packages/world-model/package.json
  packages/zifmia/package.json
  stories/dungeo/package.json
  stories/dungeo/src/version.ts
  templates/browser/infocom.css
  tools/server/package.json
  website/public/web/dungeo/game.js
  website/public/web/dungeo/styles.css
Due: eslint --fix, prettier --write

fix(ws): heartbeat keepalive prevents NAT/proxy idle disconnect
  docs/context/session-20260428-0057-main.md
  packages/sharpee/docs/genai-api/index.md
  packages/sharpee/docs/genai-api/lang.md
  stories/dungeo/src/version.ts
  tools/server/src/ws/server.ts
Due: eslint --fix, prettier --write

feat(e2e): add Playwright harness for multiuser web client
  CLAUDE.md
  docs/context/session-20260428-1843-main.md
  docs/context/session-20260428-1848-main.md
  docs/work/plan-20260428-1943.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tools/server/e2e/.gitignore
  tools/server/e2e/README.md
  tools/server/e2e/package.json
  tools/server/e2e/playwright.config.ts
  tools/server/e2e/tests/health.spec.ts
Due: eslint --fix, prettier --write

feat(e2e): Phase 2-4 Playwright tests + sandbox restore fix
  packages/sharpee/docs/genai-api/index.md
  packages/sharpee/docs/genai-api/lang.md
  tools/server/docker-compose.yml
  tools/server/e2e/README.md
  tools/server/e2e/helpers/identity.ts
  tools/server/e2e/helpers/room.ts
  tools/server/e2e/helpers/statusline.ts
  tools/server/e2e/tests/room-lifecycle.spec.ts
  tools/server/e2e/tests/save-restore.spec.ts
  tools/server/e2e/tests/ws-reconnect.spec.ts
  tools/server/src/http/app.ts
  tools/server/src/sandbox/deno-entry.ts
Due: eslint --fix, prettier --write

docs: replace ADR-153/153a/156/162; capture stateless multi-user direction
  docs/architecture/adrs/adr-153-multiuser-sharpee-server.md
  docs/architecture/adrs/adr-153a-multiuser-server-amendments.md
  docs/architecture/adrs/adr-156-multiuser-browser-client.md
  docs/architecture/adrs/adr-162-world-model-replication.md
  docs/brainstorm/stateless-multiuser/overview.md
  docs/context/session-20260428-1930-main.md
  docs/context/session-20260428-1939-main.md
Due: prettier --write
