Repository ChicagoDave/sharpee: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md}": [
    "prettier --write"
  ]
}

feat(platform-browser): ADR-183 web render — data-value + layout-macro CSS
  packages/platform-browser/src/channels/text-content.ts
  packages/platform-browser/tests/channels/text-content.test.ts
  templates/browser/decorations.css
Due: eslint --fix, prettier --write

docs(adr): ADR-183 §0 — defer global whitespace-collapse; record rollout + Markdown decision
  docs/architecture/adrs/adr-183-author-layout-macros.md
Due: prettier --write

docs(session): finalize — ADR-183 web renderer, §0 deferral, PR #133
  docs/context/session-20260619-0056-main.md
Due: prettier --write

docs(adr): ADR-184 — IDE project introspection via runtime world model
  docs/architecture/adrs/adr-184-ide-project-introspection.md
  docs/work/sharpee-ide/research-20260619-p3-introspection-architecture.md
Due: prettier --write

feat(ide-protocol): start @sharpee/ide-protocol wire-type package (ADR-184)
  package.json
  packages/ide-protocol/package.json
  packages/ide-protocol/src/guards.ts
  packages/ide-protocol/src/index.ts
  packages/ide-protocol/src/types.ts
  packages/ide-protocol/tests/guards.test.ts
  packages/ide-protocol/tsconfig.esm.json
  packages/ide-protocol/tsconfig.json
  packages/ide-protocol/vitest.config.ts
  pnpm-lock.yaml
  ts-forge.config.json
Due: eslint --fix, prettier --write

feat(bootstrap): ADR-184 P3 — runtime introspection emitter (buildManifest + --introspect flag)
  docs/architecture/adrs/adr-184-ide-project-introspection.md
  docs/context/archive/session-20260618-0600-adr-180-unify-cli-design.md
  docs/context/session-20260619-1946-ide-p3-introspection.md
  packages/bootstrap/package.json
  packages/bootstrap/src/index.ts
  packages/bootstrap/src/introspect.test.ts
  packages/bootstrap/src/introspect.ts
  packages/bootstrap/tsconfig.json
  packages/devkit/src/repo.ts
  pnpm-lock.yaml
  scripts/bundle-entry.js
Due: eslint --fix, prettier --write

feat(ide): ADR-184 P3 — Swift project-tree consumer (manifest mirror, introspection runner, structure view)
  docs/context/archive/session-20260618-1650-main.md
  docs/context/session-20260619-2230-ide-p3-project-tree.md
  tools/ide/SharpeeIDE/Build/BuildController.swift
  tools/ide/SharpeeIDE/MainWindow.swift
  tools/ide/SharpeeIDE/Project/IntrospectionRunner.swift
  tools/ide/SharpeeIDE/Project/ProjectManifest.swift
  tools/ide/SharpeeIDE/Project/ProjectPaneViewController.swift
  tools/ide/SharpeeIDE/Project/ProjectStructure.swift
  tools/ide/SharpeeIDE/Project/ProjectStructureViewController.swift
  tools/ide/SharpeeIDETests/IntrospectionRunnerTests.swift
  tools/ide/SharpeeIDETests/ProjectManifestTests.swift
  tools/ide/SharpeeIDETests/ProjectStructureTests.swift
Due: prettier --write

feat(ide): ADR-184 tree-sitter source-position index + click-to-open
  docs/context/session-20260619-2230-ide-p3-project-tree.md
  packages/sharpee/docs/genai-api/index.md
  packages/sharpee/docs/genai-api/text.md
  stories/thealderman/src/version.ts
  tools/ide/SharpeeIDE/MainWindow.swift
  tools/ide/SharpeeIDE/Project/EntitySourceIndex.swift
  tools/ide/SharpeeIDETests/EntitySourceIndexTests.swift
Due: eslint --fix, prettier --write

docs(adr): ADR-185 IDE-as-standalone-authoring-tool; reconcile ADR-184 .scope wording
  docs/architecture/adrs/adr-184-ide-project-introspection.md
  docs/architecture/adrs/adr-185-ide-standalone-authoring-tool.md
Due: prettier --write

feat(devkit): add 'sharpee introspect' command (ADR-185)
  docs/architecture/adrs/adr-185-ide-standalone-authoring-tool.md
  packages/bootstrap/package.json
  packages/devkit/package.json
  packages/devkit/src/cli.ts
  packages/devkit/src/commands/introspect.test.ts
  packages/devkit/src/commands/introspect.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(devkit): 1.0-correct story scaffold (ADR-185)
  docs/architecture/adrs/adr-185-ide-standalone-authoring-tool.md
  packages/devkit/package.json
  packages/devkit/src/standalone/init-browser.ts
  packages/devkit/src/standalone/init.test.ts
  packages/devkit/src/standalone/init.ts
  packages/devkit/templates/story/index.ts.template
  packages/devkit/templates/story/package.json.template
  packages/devkit/templates/story/tsconfig.json.template
  packages/sharpee/package.json
Due: eslint --fix, prettier --write

fix(devkit): ship story template via ts-forge.json assets (ADR-185)
  docs/architecture/adrs/adr-185-ide-standalone-authoring-tool.md
  packages/devkit/package.json
  packages/devkit/ts-forge.json
  packages/sharpee/ts-forge.json
Due: prettier --write

fix(devkit): idiomatic story scaffold + robust version injection (ADR-185)
  packages/devkit/package.json
  packages/devkit/src/standalone/init.test.ts
  packages/devkit/src/standalone/init.ts
  packages/devkit/templates/story/index.ts.template
  packages/devkit/templates/story/package.json.template
Due: eslint --fix, prettier --write

fix(bootstrap): remove orphaned placeholder player in assembleGame (ADR-185)
  packages/bootstrap/package.json
  packages/bootstrap/src/index.ts
Due: eslint --fix, prettier --write

feat(ide): author-mode introspect-on-open (ADR-185 realignment, increment 1)
  docs/work/sharpee-ide/plan-20260620-ide-author-mode-realignment.md
  tools/ide/SharpeeIDE/AppDelegate.swift
  tools/ide/SharpeeIDE/MainWindow.swift
  tools/ide/SharpeeIDE/Project/IntrospectionRunner.swift
Due: prettier --write

docs(guides): author-first build-system guide — add init/introspect, drop zifmia
  docs/guides/build-system.md
Due: prettier --write

feat(ide): build via the project's installed sharpee (ADR-185 realignment, increment 2)
  tools/ide/SharpeeIDE/AppDelegate.swift
  tools/ide/SharpeeIDE/Build/BuildController.swift
  tools/ide/SharpeeIDE/Build/BuildRunner.swift
Due: none

feat(ide): Play loads the project's dist/web (ADR-185 realignment, increment 4)
  tools/ide/SharpeeIDE/AppDelegate.swift
  tools/ide/SharpeeIDE/Build/BuildController.swift
  tools/ide/SharpeeIDE/MainWindow.swift
  tools/ide/SharpeeIDE/Play/PlayViewController.swift
  tools/ide/SharpeeIDE/Play/WebBundle.swift
  tools/ide/SharpeeIDETests/WebBundleTests.swift
Due: none

feat(ide): New Story menu — scaffold a project from the bundled template (ADR-185)
  tools/ide/SharpeeIDE/AppDelegate.swift
  tools/ide/SharpeeIDE/Menus/MenuBuilder.swift
  tools/ide/SharpeeIDE/Workspace/StoryScaffold.swift
  tools/ide/SharpeeIDETests/StoryScaffoldTests.swift
  tools/ide/project.yml
Due: none

feat(ide): auto npm install on open when deps missing (ADR-185, increment 6)
  tools/ide/SharpeeIDE/AppDelegate.swift
  tools/ide/SharpeeIDE/Build/BuildController.swift
  tools/ide/SharpeeIDE/Build/BuildRunner.swift
Due: none

feat(devkit): self-contained browser scaffold + build-browser fixes (ADR-185 6b)
  docs/context/20260620-context.txt
  docs/context/archive/session-20260618-1937-main.md
  docs/context/archive/session-20260619-0200-main.md
  docs/context/session-20260619-0056-main.md
  docs/context/session-20260620-0030-main.md
  docs/context/session-20260620-0056-main.md
  docs/screencast/script.md
  packages/devkit/package.json
  packages/devkit/src/standalone/browser-build.test.ts
  packages/devkit/src/standalone/build-browser.ts
  packages/devkit/src/standalone/init-browser.ts
  packages/devkit/src/standalone/init.ts
  packages/devkit/templates/browser/base.css
  packages/devkit/templates/browser/browser-entry.ts.template
  packages/devkit/templates/browser/decorations.css
  packages/devkit/templates/browser/index.html
  packages/devkit/templates/browser/styles.css
  packages/devkit/templates/browser/themes/system-6/fonts/ChicagoFLF.woff2
  packages/devkit/templates/browser/themes/system-6/fonts/FindersKeepers.woff2
Due: eslint --fix, prettier --write

feat(ide,devkit): auto-init-browser on New Story + version.ts stamping + publish fixes (ADR-185)
  docs/context/archive/session-20260619-1946-ide-p3-introspection.md
  docs/context/session-20260620-0230-main.md
  packages/devkit/package.json
  packages/devkit/src/standalone/browser-build.test.ts
  packages/devkit/src/standalone/build-browser.ts
  packages/devkit/src/standalone/build.ts
  packages/devkit/src/standalone/init-browser.ts
  packages/devkit/src/standalone/init.test.ts
  packages/devkit/src/standalone/version-stamp.ts
  packages/platform-browser/package.json
  tools/ide/SharpeeIDE/AppDelegate.swift
  tools/ide/SharpeeIDE/Build/BuildController.swift
  tools/ide/SharpeeIDE/Build/BuildRunner.swift
  tools/ide/SharpeeIDETests/BuildRunnerTests.swift
  ts-forge.config.json
Due: eslint --fix, prettier --write

docs: note removal of stories/my-adventure test artifact
  docs/context/session-20260620-0230-main.md
Due: prettier --write

feat(site): announce Sharpee 1.0 stable release on website
  docs/context/archive/session-20260619-0056-main.md
  docs/context/session-20260620-1843-main.md
  site/components.js
  site/index.html
  site/news.html
  site/style.css
Due: prettier --write

fix(site): use sharpee CLI (@sharpee/devkit) instead of npx @sharpee/sharpee
  site/cloak-of-darkness.html
  site/community.html
  site/getting-started.html
  site/index.html
  site/news.html
  site/zoo-17.html
Due: none

docs(context): update session summary with CLI correction + remote fix
  docs/context/session-20260620-1843-main.md
Due: prettier --write

docs(book): Phase 1 pipeline + Phase 2 scaffold for The Sharpee Book
  docs/book/assets/sharpee-sword.png
  docs/book/book.yaml
  docs/context/archive/session-20260620-0030-main.md
  docs/context/session-20260620-2033-main.md
  docs/work/book/plan-20260620-sharpee-author-book.md
  scripts/build-book.sh
Due: prettier --write

docs(book): add remaining book source files missed in previous commit
  docs/book/.gitignore
  docs/book/frontmatter/00-preface.md
  docs/book/frontmatter/01-how-to-read.md
  docs/book/parts/part-1/01-installing-sharpee.md
  docs/book/parts/part-1/02-your-first-room.md
  docs/book/parts/part-1/03-the-play-loop.md
  docs/book/parts/part-2/04-rooms-and-navigation.md
  docs/book/parts/part-2/05-scenery-and-portable-objects.md
  docs/book/parts/part-2/06-containers-and-supporters.md
  docs/book/parts/part-2/07-openable-locked-doors-and-keys.md
  docs/book/parts/part-2/08-light-and-dark.md
  docs/book/parts/part-2/09-the-map-and-regions.md
  docs/book/parts/part-3/10-standard-actions-and-the-four-phase-model.md
  docs/book/parts/part-3/11-scope-and-visibility.md
  docs/book/parts/part-3/12-readable-objects-and-switchable-devices.md
  docs/book/parts/part-4/13-event-handlers.md
  docs/book/parts/part-4/14-custom-actions.md
  docs/book/parts/part-4/15-capability-dispatch.md
  docs/book/parts/part-4/16-custom-traits-and-behaviors.md
  docs/book/parts/part-5/17-extending-the-grammar.md
  docs/book/parts/part-5/18-the-language-layer.md
  docs/book/parts/part-5/19-the-formatter-chain.md
  docs/book/parts/part-6/20-non-player-characters.md
  docs/book/parts/part-6/21-scenes.md
  docs/book/parts/part-6/22-timed-events-and-daemons.md
  docs/book/parts/part-6/23-scoring-and-endgame.md
  docs/book/styles/book.css
  docs/book/styles/epub.css
  docs/book/styles/print.css
Due: prettier --write

docs(book): Phase 2 — canonical chapters, frontmatter, artwork, and rename
  docs/book/.gitignore
  docs/book/art/art-list.md
  docs/book/art/book-of-the-dead.jpg
  docs/book/art/desk-bookcase.jpg
  docs/book/art/ewer.jpg
  docs/book/art/globe.jpg
  docs/book/art/lamp.jpg
  docs/book/art/parrot.jpg
  docs/book/art/phoenix.jpg
  docs/book/art/playing-cards.jpg
  docs/book/art/shiva.jpg
  docs/book/backmatter/illustration-credits.md
  docs/book/book.yaml
  docs/book/frontmatter.yaml
  docs/book/frontmatter/00-title-page.md
  docs/book/frontmatter/00b-copyright.md
  docs/book/parts/part-2/05-scenery-and-portable-objects.md
  docs/book/parts/part-2/06-containers-and-supporters.md
  docs/book/parts/part-2/07-openable-locked-doors-and-keys.md
  docs/book/parts/part-2/08-light-and-dark.md
  docs/book/parts/part-3/12-readable-objects-and-switchable-devices.md
  docs/book/parts/part-4/16-custom-traits-and-behaviors.md
  docs/book/parts/part-5/17-extending-the-grammar.md
  docs/book/parts/part-6/20-non-player-characters.md
  docs/book/parts/part-6/22-timed-events-and-daemons.md
  docs/book/parts/part-6/23-scoring-and-endgame.md
  docs/book/styles/book.css
  docs/book/styles/epub.css
  docs/book/styles/print.css
  docs/context/archive/session-20260620-0056-main.md
  docs/context/session-20260620-2215-main.md
  docs/work/book/plan-20260620-sharpee-author-book.md
  scripts/build-book.sh
Due: prettier --write

docs(book): Phase 2 batch 3 — migrate final 6 spine chapters; respectful preface comparison
  docs/book/frontmatter/00-preface.md
  docs/book/parts/part-1/01-installing-sharpee.md
  docs/book/parts/part-1/02-your-first-room.md
  docs/book/parts/part-3/12-readable-objects-and-switchable-devices.md
  docs/book/parts/part-4/13-event-handlers.md
  docs/book/parts/part-4/14-custom-actions.md
  docs/book/parts/part-4/15-capability-dispatch.md
  docs/book/parts/part-6/20-non-player-characters.md
  docs/book/parts/part-6/22-timed-events-and-daemons.md
  docs/book/parts/part-6/23-scoring-and-endgame.md
  docs/context/archive/session-20260620-0230-main.md
  docs/context/session-20260620-2340-main.md
  docs/work/book/plan-20260620-sharpee-author-book.md
Due: prettier --write

docs(book): rename Parts→Volumes, add public-domain poem epigraphs, drop sword
  docs/book/parts/part-1/01-installing-sharpee.md
  docs/book/parts/part-2/04-rooms-and-navigation.md
  docs/book/parts/part-3/10-standard-actions-and-the-four-phase-model.md
  docs/book/parts/part-3/12-readable-objects-and-switchable-devices.md
  docs/book/parts/part-4/13-event-handlers.md
  docs/book/parts/part-4/14-custom-actions.md
  docs/book/parts/part-5/17-extending-the-grammar.md
  docs/book/parts/part-6/20-non-player-characters.md
  docs/book/styles/book.css
  docs/book/styles/epub.css
  docs/book/styles/print.css
  docs/context/session-20260620-2340-main.md
Due: prettier --write

docs(book): start Preface on its own page; align plan to Volume terminology
  docs/book/styles/print.css
  docs/work/book/plan-20260620-sharpee-author-book.md
Due: prettier --write

docs(book): write chapter 1 (Installing Sharpee & the CLI); fix stale authors README
  docs/book/parts/part-1/01-installing-sharpee.md
  docs/getting-started/authors/README.md
Due: prettier --write

docs(book): add a "Working in a terminal" section to chapter 1
  docs/book/parts/part-1/01-installing-sharpee.md
Due: prettier --write

docs(book): expand chapter 1 with the Node/TypeScript foundation
  docs/book/parts/part-1/01-installing-sharpee.md
  docs/context/session-20260620-2340-main.md
Due: prettier --write

docs(book): write chapter 3 (The Play Loop & How a Turn Works)
  docs/book/parts/part-1/03-the-play-loop.md
Due: prettier --write

docs(book): write chapter 9 (The Map & Regions)
  docs/book/parts/part-2/09-the-map-and-regions.md
Due: prettier --write

docs(book): write chapter 10 (Standard Actions & the Four-Phase Model)
  docs/book/parts/part-3/10-standard-actions-and-the-four-phase-model.md
Due: prettier --write

docs(book): write chapter 11 (Scope & Visibility)
  docs/book/parts/part-3/11-scope-and-visibility.md
Due: prettier --write
