Repository ChicagoDave/sharpee: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md}": [
    "prettier --write"
  ]
}

feat(lang-en-us): ADR-190 Phases 1-2 — count fix (#166) + natural-language list renderer
  docs/architecture/adrs/adr-190-natural-language-list-rendering.md
  docs/work/adr-190-list-rendering/plan-20260624-adr-190-list-rendering.md
  packages/lang-en-us/src/formatters/list.ts
  packages/lang-en-us/src/formatters/registry.ts
  packages/lang-en-us/src/formatters/types.ts
  packages/lang-en-us/src/index.ts
  packages/lang-en-us/src/language-provider.ts
  packages/lang-en-us/src/number-words.ts
  packages/lang-en-us/src/pluralize.ts
  packages/lang-en-us/tests/count-formatter.test.ts
  packages/lang-en-us/tests/formatters.test.ts
  packages/lang-en-us/tests/list-formatter.test.ts
  packages/stdlib/src/utils/entity-info.ts
  packages/stdlib/tests/unit/utils/entity-info.test.ts
  packages/world-model/src/traits/identity/identityTrait.ts
  packages/world-model/tests/unit/traits/identity-plural.test.ts
Due: eslint --fix, prettier --write

feat(stdlib): ADR-190 Phases 3-4 — list-producer migration to entityInfoFrom + AC-9 showcase
  packages/lang-en-us/tests/ac9-showcase.test.ts
  packages/stdlib/src/actions/standard/going/going.ts
  packages/stdlib/src/actions/standard/looking/looking-data.ts
  packages/stdlib/src/actions/standard/switching_on/switching_on.ts
Due: eslint --fix, prettier --write

docs(context): session summary — ADR-189 Phase 1 + ADR-190 Phases 1-4
  docs/context/archive/session-20260623-1927-fix-platform-issues-book-qa.md
  docs/context/session-20260624-1849-feature-adr-189-entity-default-traits.md
Due: prettier --write

chore(release): ADR-189/190 — Phase 5 (#167) + bump world-model/lang-en-us/stdlib to 1.2.0
  docs/book/parts/part-5/19-the-formatter-chain.md
  docs/context/session-20260624-1849-feature-adr-189-entity-default-traits.md
  packages/lang-en-us/package.json
  packages/lang-en-us/src/formatters/index.ts
  packages/lang-en-us/src/formatters/registry.ts
  packages/lang-en-us/src/formatters/types.ts
  packages/lang-en-us/src/language-provider.ts
  packages/stdlib/package.json
  packages/world-model/package.json
Due: eslint --fix, prettier --write

refactor(book,familyzoo): ADR-189 alignment — drop redundant SceneryTrait adds for SCENERY-typed entities
  docs/book/parts/part-1/02-your-first-room.md
  docs/book/parts/part-2/04-rooms-and-navigation.md
  docs/book/parts/part-2/05-scenery-and-portable-objects.md
  docs/book/parts/part-2/07-openable-locked-doors-and-keys.md
  docs/book/parts/part-2/08-light-and-dark.md
  docs/book/parts/part-3/12-readable-objects-and-switchable-devices.md
  tutorials/familyzoo/package.json
  tutorials/familyzoo/pnpm-lock.yaml
  tutorials/familyzoo/src/ch02-first-room.ts
  tutorials/familyzoo/src/ch04-navigation.ts
  tutorials/familyzoo/src/ch05-scenery-items.ts
  tutorials/familyzoo/src/ch06-containers.ts
  tutorials/familyzoo/src/ch07-doors-keys.ts
  tutorials/familyzoo/src/ch08-light-dark.ts
  tutorials/familyzoo/src/ch12-readables.ts
  tutorials/familyzoo/src/ch13-event-handlers.ts
  tutorials/familyzoo/src/ch14-custom-actions.ts
  tutorials/familyzoo/src/ch15-capability-dispatch.ts
  tutorials/familyzoo/src/ch20-npcs.ts
  tutorials/familyzoo/src/ch22-timed-events.ts
  tutorials/familyzoo/src/ch23-scoring.ts
Due: eslint --fix, prettier --write

docs(book): finalize ch05 — rework 'travels with them' paragraph + sync emdash-ch05 review doc
  docs/book/gpt-review/emdash-ch05.md
  docs/book/parts/part-2/05-scenery-and-portable-objects.md
Due: prettier --write

docs(context): update session summary — merges, version correction, scenery alignment
  docs/context/session-20260624-1849-feature-adr-189-entity-default-traits.md
Due: prettier --write

docs(site): add book code-snippet page with per-chapter delta + checkpoint views
  docs/book/code-snippets/index.html
  docs/context/archive/session-20260623-2024-fix-platform-issues-book-qa.md
  docs/context/session-20260625-0105-main.md
  scripts/build-book.sh
  scripts/build-snippet-page.cjs
  site/book-snippets.html
  site/components.js
Due: prettier --write

docs(book): complete em-dash de-overuse editorial pass across ch06–ch31
  docs/book/gpt-review/emdash-ch07.md
  docs/book/gpt-review/emdash-ch10.md
  docs/book/gpt-review/emdash-ch12.md
  docs/book/gpt-review/emdash-ch16.md
  docs/book/gpt-review/emdash-ch25.md
  docs/book/gpt-review/emdash-ch26.md
  docs/book/parts/part-2/06-containers-and-supporters.md
  docs/book/parts/part-2/07-openable-locked-doors-and-keys.md
  docs/book/parts/part-2/08-light-and-dark.md
  docs/book/parts/part-3/10-standard-actions-and-the-four-phase-model.md
  docs/book/parts/part-3/12-readable-objects-and-switchable-devices.md
  docs/book/parts/part-4/13-event-handlers.md
  docs/book/parts/part-4/15-capability-dispatch.md
  docs/book/parts/part-4/16-custom-traits-and-behaviors.md
  docs/book/parts/part-5/19-the-formatter-chain.md
  docs/book/parts/part-7/24-channels.md
  docs/book/parts/part-7/25-the-web-client.md
  docs/book/parts/part-7/26-decoration-and-theming.md
  docs/book/parts/part-7/27-media-and-audio.md
  docs/book/parts/part-8/28-the-multi-file-story.md
  docs/book/parts/part-8/29-transcript-testing-and-walkthroughs.md
  docs/book/parts/part-8/30-saving-and-restoring.md
  docs/book/parts/part-8/31-building-and-publishing.md
  docs/context/session-20260625-0105-main.md
Due: prettier --write

docs(book): regenerate code-snippet pages after em-dash editorial pass
  docs/book/code-snippets/index.html
  site/book-snippets.html
Due: none

feat(site): integrate book web presence — snippet page, rendered book downloads, nav refresh
  docs/book/code-snippets/index.html
  docs/book/frontmatter/00-preface.md
  docs/book/frontmatter/02-how-to-read.md
  docs/book/parts/part-1/01-installing-sharpee.md
  docs/context/session-20260625-0105-main.md
  scripts/build-book.sh
  scripts/build-snippet-page.cjs
  site/book-snippets.html
  site/components.js
  site/style.css
  site/the-sharpee-book.epub
  site/the-sharpee-book.html
  site/the-sharpee-book.pdf
Due: prettier --write

feat(site): move book download links into site-wide nav
  scripts/build-snippet-page.cjs
  site/book-snippets.html
  site/components.js
  site/style.css
Due: none

feat(site): restructure book nav group with section title and reordered links
  site/components.js
  site/style.css
Due: none

fix(book): repair broken bare-direction row in Appendix E grammar table
  docs/book/backmatter/appendix-e-grammar-reference.md
  site/the-sharpee-book.epub
  site/the-sharpee-book.html
  site/the-sharpee-book.pdf
Due: prettier --write

docs(adr): add ADR-191 — Play It Now in-browser playground (PROPOSED)
  docs/architecture/adrs/adr-191-play-it-now-browser-playground.md
Due: prettier --write

docs(work): add dynamic-text scenario inventory and proposed-solutions doc
  docs/context/session-20260625-0105-main.md
  docs/work/dynamic-text/dynamic-text-proposed-solutions.md
  docs/work/dynamic-text/dynamic-text-scenarios.md
Due: prettier --write

chore(book): remove spent gpt-review scaffolding
  docs/book/gpt-review/chapter-subtitles.md
  docs/book/gpt-review/edits-1.md
  docs/book/gpt-review/emdash-ch01.md
  docs/book/gpt-review/emdash-ch02.md
  docs/book/gpt-review/emdash-ch03.md
  docs/book/gpt-review/emdash-ch04.md
  docs/book/gpt-review/emdash-ch05.md
  docs/book/gpt-review/emdash-ch06.md
  docs/book/gpt-review/emdash-ch07.md
  docs/book/gpt-review/emdash-ch08.md
  docs/book/gpt-review/emdash-ch10.md
  docs/book/gpt-review/emdash-ch12.md
  docs/book/gpt-review/emdash-ch13.md
  docs/book/gpt-review/emdash-ch15.md
  docs/book/gpt-review/emdash-ch16.md
  docs/book/gpt-review/emdash-ch19.md
  docs/book/gpt-review/emdash-ch24.md
  docs/book/gpt-review/emdash-ch25.md
  docs/book/gpt-review/emdash-ch26.md
  docs/book/gpt-review/emdash-ch27.md
  docs/book/gpt-review/emdash-ch28.md
  docs/book/gpt-review/emdash-ch29.md
  docs/book/gpt-review/emdash-ch30.md
  docs/book/gpt-review/emdash-ch31.md
  docs/book/gpt-review/review-1.md
  docs/book/gpt-review/review-2.md
  docs/book/gpt-review/review-3.md
Due: prettier --write

docs(adr): add ADR-192 phrase-algebra core + dynamic-text design doc
  docs/architecture/adrs/adr-192-phrase-algebra-phrase-model-assembler-core.md
  docs/context/archive/session-20260623-2043-fix-platform-issues-book-qa.md
  docs/context/session-20260626-0849-main.md
  docs/work/dynamic-text/phrase-algebra-design.md
Due: prettier --write

docs(plan): add ADR-192 phrase-algebra implementation plan + session 3baa88 summary
  docs/context/archive/session-20260624-0230-main.md
  docs/context/session-20260626-1551-main.md
  docs/work/plan-20260326-stale-issue064-065-playwright.md
  docs/work/plan-20260626-adr192-phrase-algebra.md
  docs/work/plan-20260626-stale-playwright-e2e.md
Due: prettier --write

docs(plan): correct ADR-192 branch model — main is the v2 line
  docs/context/archive/session-20260626-0849-main.md
  docs/context/plan.md
  docs/context/session-20260626-2030-main.md
Due: prettier --write

feat(if-domain): ADR-192 Phase 1 — language-neutral Phrase contracts
  docs/architecture/adrs/adr-192-phrase-algebra-phrase-model-assembler-core.md
  docs/context/session-20260626-1705-v2_phase1.md
  packages/if-domain/src/index.ts
  packages/if-domain/src/phrase.ts
  packages/if-domain/tests/phrase/phrase-contracts.test.ts
Due: eslint --fix, prettier --write

docs(plan): mark ADR-192 Phase 1 COMPLETE
  docs/context/plan.md
Due: prettier --write

feat(lang-en-us): ADR-192 Phase 2 — English Assembler + foundational realization
  docs/context/plan.md
  docs/context/session-20260626-1716-v2_phase2.md
  packages/lang-en-us/src/assembler/english-assembler.ts
  packages/lang-en-us/src/assembler/errors.ts
  packages/lang-en-us/src/assembler/index.ts
  packages/lang-en-us/src/index.ts
  packages/lang-en-us/tests/assembler/english-assembler.test.ts
Due: eslint --fix, prettier --write

fix(lang-en-us): remove stray NUL byte from Assembler list grouping key
  packages/lang-en-us/src/assembler/english-assembler.ts
Due: eslint --fix, prettier --write

feat(phrase): ADR-192 Phase 3a — parsePhraseTemplate, nounPhraseFor, capitalize carrier
  docs/context/plan.md
  docs/context/session-20260626-1746-v2_phase3.md
  packages/if-domain/src/phrase.ts
  packages/lang-en-us/src/assembler/english-assembler.ts
  packages/lang-en-us/src/index.ts
  packages/lang-en-us/src/parser/index.ts
  packages/lang-en-us/src/parser/parse-phrase-template.ts
  packages/lang-en-us/tests/assembler/english-assembler.test.ts
  packages/lang-en-us/tests/parser/parse-phrase-template.test.ts
  packages/stdlib/src/utils/index.ts
  packages/stdlib/src/utils/noun-phrase.ts
  packages/stdlib/tests/unit/utils/noun-phrase.test.ts
Due: eslint --fix, prettier --write

docs(adr-192): scope Phase 3b+4 and finalize session — paused on verb-agreement decision
  docs/context/session-20260626-1830-main.md
  docs/work/dynamic-text/phase-3b-4-scope.md
Due: prettier --write

docs(adr-199): accept Verb atom & subject agreement — unblock ADR-192 Phase 3b+4
  docs/architecture/adrs/adr-192-phrase-algebra-phrase-model-assembler-core.md
  docs/architecture/adrs/adr-199-phrase-algebra-verb-atom-subject-agreement.md
  docs/context/archive/session-20260624-1849-feature-adr-189-entity-default-traits.md
  docs/context/archive/session-20260624-2141-main.md
  docs/context/archive/session-20260625-0105-main.md
  docs/context/archive/session-20260626-1551-main.md
  docs/context/archive/session-20260626-1705-v2_phase1.md
  docs/context/session-20260627-0537-main.md
  docs/work/dynamic-text/phase-3b-4-scope.md
Due: prettier --write

feat(adr-192): Phase 3b W1+W2 — phrase render path + RenderContext runtime
  docs/context/plan.md
  docs/context/session-20260627-1450-v2_phase34.md
  packages/engine/src/game-engine.ts
  packages/engine/src/prose-pipeline/handlers/types.ts
  packages/engine/src/prose-pipeline/index.ts
  packages/engine/src/prose-pipeline/pipeline.ts
  packages/engine/src/prose-pipeline/render-context.ts
  packages/engine/tests/prose-pipeline/render-context.test.ts
  packages/if-domain/src/language-provider.ts
  packages/lang-en-us/src/language-provider.ts
  packages/lang-en-us/tests/render-message.test.ts
Due: eslint --fix, prettier --write

feat(adr-199): Phase 3b W3 — Verb atom & subject agreement
  docs/context/plan.md
  packages/if-domain/src/phrase.ts
  packages/lang-en-us/src/assembler/english-assembler.ts
  packages/lang-en-us/src/parser/parse-phrase-template.ts
  packages/lang-en-us/tests/assembler/verb-agreement.test.ts
  packages/lang-en-us/tests/parser/verb-parse.test.ts
Due: eslint --fix, prettier --write

feat(adr-199): case-B player-person via RenderContext.narrative
  packages/engine/src/prose-pipeline/pipeline.ts
  packages/engine/src/prose-pipeline/render-context.ts
  packages/engine/tests/prose-pipeline/render-context.test.ts
  packages/if-domain/src/language-provider.ts
  packages/if-domain/src/phrase.ts
  packages/lang-en-us/src/assembler/english-assembler.ts
  packages/lang-en-us/src/language-provider.ts
  packages/lang-en-us/tests/assembler/english-assembler.test.ts
  packages/lang-en-us/tests/assembler/verb-agreement.test.ts
  packages/lang-en-us/tests/parser/parse-phrase-template.test.ts
  packages/lang-en-us/tests/render-message.test.ts
Due: eslint --fix, prettier --write

feat(adr-200): Phase 3b — Verbatim atom for non-entity scalar text
  docs/architecture/adrs/adr-200-phrase-algebra-verbatim-atom.md
  docs/work/dynamic-text/w4-bare-placeholder-analysis.md
  packages/if-domain/src/phrase.ts
  packages/lang-en-us/src/assembler/english-assembler.ts
  packages/lang-en-us/src/parser/parse-phrase-template.ts
  packages/lang-en-us/tests/assembler/english-assembler.test.ts
  packages/lang-en-us/tests/parser/parse-phrase-template.test.ts
  packages/lang-en-us/tests/render-message.test.ts
Due: eslint --fix, prettier --write

docs(adr-192): record W4 migration rules + session progress (W1–W3, case-B, Verbatim)
  docs/context/plan.md
  docs/context/session-20260627-1450-v2_phase34.md
  docs/work/dynamic-text/w4-bare-placeholder-analysis.md
Due: prettier --write

wip(adr-192): pipeline switch + W6 + newline blocks + params-aware perspective
  checkpoints/after-leaflet.json
  packages/engine/src/prose-pipeline/handlers/audibility.ts
  packages/engine/src/prose-pipeline/handlers/domain-message.ts
  packages/engine/src/prose-pipeline/handlers/generic.ts
  packages/engine/src/prose-pipeline/phrase-render.ts
  packages/extensions/basic-combat/src/combat-service.ts
  packages/lang-en-us/src/actions/going.ts
  packages/lang-en-us/src/actions/looking.ts
  packages/lang-en-us/src/assembler/english-assembler.ts
  packages/lang-en-us/src/language-provider.ts
  packages/lang-en-us/src/perspective/placeholder-resolver.ts
  packages/lang-en-us/tests/assembler/english-assembler.test.ts
  packages/sharpee/docs/genai-api/engine.md
  packages/sharpee/docs/genai-api/if-domain.md
  packages/sharpee/docs/genai-api/if-services.md
  packages/sharpee/docs/genai-api/index.md
  packages/sharpee/docs/genai-api/lang.md
  packages/sharpee/docs/genai-api/plugins.md
  packages/sharpee/docs/genai-api/stdlib.md
  packages/sharpee/docs/genai-api/tooling.md
  packages/sharpee/docs/genai-api/world-model.md
  packages/stdlib/src/actions/standard/going/going.ts
  packages/stdlib/src/actions/standard/looking/looking-data.ts
  packages/stdlib/src/actions/standard/looking/looking.ts
  stories/dungeo/src/version.ts
Due: eslint --fix, prettier --write

docs: session summary — cutover activated, dungeo units at 92%, W10 todo
  docs/context/session-20260627-1450-v2_phase34.md
Due: prettier --write

fix(adr-192): graceful render-error degradation; refine W10 diagnosis
  checkpoints/after-leaflet.json
  packages/engine/src/prose-pipeline/phrase-render.ts
  packages/sharpee/docs/genai-api/index.md
  stories/dungeo/src/version.ts
Due: eslint --fix, prettier --write

docs: session summary — units 92.5%, remaining work is story-side
  docs/context/session-20260627-1450-v2_phase34.md
Due: prettier --write

test(adr-192): reconcile platform unit suites to green (EntityInfo→NounPhrase)
  packages/lang-en-us/tests/ac9-showcase.test.ts
  packages/stdlib/tests/unit/actions/closing-golden.test.ts
  packages/stdlib/tests/unit/actions/examining-golden.test.ts
  packages/stdlib/tests/unit/actions/opening-golden.test.ts
  packages/stdlib/tests/unit/actions/searching-golden.test.ts
Due: eslint --fix, prettier --write

refactor(adr-192): W7+W8+W9 — delete the legacy formatter chain
  checkpoints/after-leaflet.json
  docs/architecture/adrs/adr-158-entity-info-in-message-params.md
  packages/lang-en-us/src/formatters/article.ts
  packages/lang-en-us/src/formatters/index.ts
  packages/lang-en-us/src/formatters/list.ts
  packages/lang-en-us/src/formatters/registry.ts
  packages/lang-en-us/src/formatters/text.ts
  packages/lang-en-us/src/formatters/types.ts
  packages/lang-en-us/src/formatters/verb.ts
  packages/lang-en-us/src/index.ts
  packages/lang-en-us/src/language-provider.ts
  packages/lang-en-us/tests/count-formatter.test.ts
  packages/lang-en-us/tests/formatters.test.ts
  packages/lang-en-us/tests/list-formatter.test.ts
  packages/lang-en-us/tests/sound-messages.test.ts
  packages/sharpee/docs/genai-api/index.md
  packages/sharpee/docs/genai-api/lang.md
  packages/sharpee/docs/genai-api/stdlib.md
  packages/stdlib/src/utils/entity-info.ts
  packages/stdlib/src/utils/index.ts
  packages/stdlib/tests/integration/entity-info-formatter.test.ts
  packages/stdlib/tests/unit/utils/entity-info.test.ts
  stories/dungeo/src/version.ts
Due: eslint --fix, prettier --write
